[2016-07-06 13:26] jbrooksuk commented on #1936
I'd love for you to! Could you base it on the 2.3 branch please? That'll see it gets into the v2.4.0 release.

[2016-07-06 16:54] SijmenHuizenga opened #1938 "Table 'cachet.metrics' doesn't exist"
Hello Cachet People! I just started using Cachet, and i am loving it! There is just a little problem...

### Setup
I am running the following configuration:
-  Cachet version 2.3.1 (823fe6e9e22cc58acff1e6c4075cc2f48044b4d6)
-  PHP version 5.6.22
-  MySQL (database name = `cachet`)
- in my '.env' file there is a database prefix specified (`DB_PREFIX=example_`)

### Issue
I am trying to add a Metric

[2016-07-06 16:59] GrahamCampbell commented on #1938
Try without using a table prefix. It shouldn't be needed?

[2016-07-06 17:02] SijmenHuizenga commented on #1938
The plan was to run multiple cachet installations on 1 database using prefixes. But i can create multiple databases if necessary... I was just hoping to use prefixes.

[2016-07-06 17:21] jbrooksuk commented on #1938
Hey! This usage is actually unsupported by Cachet, a bug if you will. I'll fix this up in a point release.

[2016-07-06 17:22] SijmenHuizenga commented on #1938
Oke. Thanks for your fast responses!

[2016-07-06 18:03] #1938 closed

[2016-07-07 02:13] cyberjames commented on #1930
Any update guys?

[2016-07-07 07:47] jbrooksuk commented on #1727
Ping @joecohens on this, I can't see the cause?

[2016-07-07 07:48] jbrooksuk commented on #1937
Thanks for your report :)

This is something that our `v3.0.0` release will be taking care of, we already have an issue for this https://github.com/CachetHQ/Cachet/issues/1176

[2016-07-07 07:48] #1937 closed

[2016-07-07 17:14] adammbalogh commented on #1936
#1943

[2016-07-08 16:30] jbrooksuk commented on #1900
@deanstalker did you get anywhere with this?

[2016-07-08 16:30] jbrooksuk commented on #1916
@joecohens I've noticed that the installation can break the `.env` file by writing one value across all keys. I've not had chance to re-produce this though.

[2016-07-08 16:33] jbrooksuk commented on #1927
@joecohens shouldn't we be emailing on **any** change to a Component? I can't see anything that prevents a change just to the status from emailing subscribers?

[2016-07-08 16:33] jbrooksuk commented on #1927
Wait! Are you changing the Components status from the dashboard index:

![image](https://cloud.githubusercontent.com/assets/246103/16694429/204c71ae-4532-11e6-89a0-3c4b7d66a168.png)

If so, this is the issue.

[2016-07-08 16:34] jbrooksuk commented on #1927
(Which is a bug).

[2016-07-08 16:43] jbrooksuk commented on #1927
This bug will be fixed in the v2.3.3 release, which should land over the weekend (if not beforehand).

[2016-07-08 17:39] #1927 closed

[2016-07-08 17:56] joecohens commented on #1916
I think I know what's the problem, let me try to reproduce it

[2016-07-08 18:43] #1727 closed

[2016-07-08 20:01] Smashmint commented on #1685
I think the new api parameter is not working as aspected, the subscriber isn't being subscribed to the supplied component.

Taken from the docs API demo:
`{
    "email": "support@alt-three.com",
    "verify": true,
    "components": [
        3,
        4
    ]
}`

Response:

`{
    "data": {
        "email": "support@alt-three.com",
        "verify_code": "Jk0edycFWLUmu7Xlhbgk0l5JBOsA81Tg3jGnxSNF

[2016-07-08 22:11] UdoKifferbrehl commented on #1324
+1

By the way, is https://www.orionian.com/ still offering Cachet hosting @jbrooksuk?

[2016-07-09 18:46] xedro00 commented on #1916
do let me know if u get the solution :+1:

[2016-07-10 01:56] jzielke opened #1950 "Decimal Metrics"
Would it be possible to get decimal metric values instead of just integer values in the API?

The GUI asks for decimal places during creation of the metric, but the API only accepts an integer value.

[2016-07-10 05:09] pmit07 commented on #1324
Yeah, I noticed that my status page went down a few weeks ago and orionian.com is down. Haven't been able to figure out why.

[2016-07-10 09:37] #1950 closed

[2016-07-10 09:38] jbrooksuk commented on #1950
Docs updated too.

[2016-07-10 09:45] jbrooksuk commented on #1324
@UdoKifferbrehl @pmit07 we hadn't heard anything about them shutting down. We're completely unaffiliated from them, but I'll try emailing them.

[2016-07-10 13:19] jzielke commented on #1950
Thanks!

[2016-07-10 15:36] jzielke opened #1951 "Markdown Issues"
Before submitting your issue, please make sure that you've checked all of the checkboxes below.

- [X] You're running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [X] Ensure that you're running at least PHP 5.5.9, you can check this by running `php -v`
- [X] You've ran `rm -rf bootstrap/cache/*` from the root of your Cachet installation.

To help us

[2016-07-10 16:11] jbrooksuk commented on #1951
Ping @GrahamCampbell

[2016-07-10 16:21] GrahamCampbell commented on #1951
Strikethrough is not included in the commonmark spec.

[2016-07-10 16:21] #1951 closed

[2016-07-10 16:22] jbrooksuk commented on #1951
What about the double line break?

[2016-07-10 16:22] GrahamCampbell commented on #1951
http://spec.commonmark.org/0.25/

[2016-07-10 16:23] GrahamCampbell commented on #1951
I don't see any bug? Just looks like the screenshot render was for different input.

[2016-07-10 17:08] jzielke commented on #1951
Schedule Maintenance displays the markdown differently than the Incident displays with the same markdown.

Since commonmark does not support the strikethrough that is fine, but it should display a blank line for a line that has two spaces like the incident display does.

Paste this is as a scheduled task and also as an incident. There is a difference in the new lines for a blank line which has 2 s

[2016-07-11 02:11] GrahamCampbell commented on #1951
Cachet doesn't control the behaviour here.

[2016-07-11 09:12] #1929 closed

[2016-07-11 18:03] #1916 closed

[2016-07-12 11:40] jbrooksuk commented on #1930
What queue driver are you using @cyberjames?

[2016-07-12 15:53] jbrooksuk commented on #1840
We've actually sort of done this already. https://docs.cachethq.io/docs/advanced-api-usage

[2016-07-12 15:53] #1840 closed

[2016-07-12 15:53] jbrooksuk commented on #1629
Closing this as we already have the branch in progress :)

[2016-07-12 15:53] #1629 closed

[2016-07-12 17:01] jbrooksuk commented on #1822
Closed by https://github.com/CachetHQ/Cachet/pull/1962, this will be in the v3.0.0 release.

[2016-07-12 17:01] #1822 closed

[2016-07-12 17:05] jbrooksuk commented on #236
We're pushing this forward and making it part of the core, before the v3.0.0 release. Likely v2.5.0.

[2016-07-12 17:07] jbrooksuk commented on #1547
@joecohens I completely forgot about this! We should've made this part of the Subscriber refactor. Doh!

[2016-07-12 17:08] jbrooksuk commented on #1451
I'm moving this to the v2.5.0 release, although it may get pushed back again. I'll be refactoring large portions to add the ability to setup multiple pages, so it makes sense to build this in.

[2016-07-12 17:09] jbrooksuk commented on #974
@AntoineAugusti I'm really sorry that I didn't reply! I think that yes, it'd be really useful!

[2016-07-12 17:11] jbrooksuk commented on #1897
This could be part of https://github.com/CachetHQ/Cachet/issues/236, so I'll move this into the v2.5.0 milestone.

[2016-07-12 17:13] jbrooksuk commented on #1135
Heh, I never noticed that this is a duplicate of https://github.com/CachetHQ/Cachet/issues/974

[2016-07-12 17:13] #1135 closed

[2016-07-12 17:14] jbrooksuk commented on #1857
Duplicate of #1657.

[2016-07-12 17:14] #1857 closed

[2016-07-12 17:54] jbrooksuk opened #1966 "Time Sensitive Actions"
Time sensitive actions.

[2016-07-12 19:17] GrahamCampbell commented on #1930
Are you using a table prefix in the database?

[2016-07-12 19:23] GrahamCampbell commented on #1925
I'll try to look at this today.

[2016-07-13 13:22] jbrooksuk commented on #1936
Closed by https://github.com/CachetHQ/Cachet/pull/1968

[2016-07-13 13:22] #1936 closed

[2016-07-13 13:29] deanstalker commented on #1900
I was sanctioned to work on a PR in company time a few weeks ago, however paid work means it was on the back burner for a few days. I managed to get the MySQL and Sqlite repository classes updated, and have just been waiting to get the Postgres one updated ...

Meanwhile I have seen #1971, and its along similar lines

[2016-07-13 13:33] jbrooksuk commented on #1900
Awesome!

Well, if you can, I'd love to see the work you've done and look at merging both together.

[2016-07-13 17:00] olkitu opened #1973 "Cachet RSS and Atom not working Ubuntu 16.04"
I have Ubuntu 16.04, PHP7.0 and Cachet installed to Apache2 webserver. All working well but RSS and Atom not working.

When try open Atom or RSS it shows that error:

`This page contains the following errors:

error on line 39 at column 58: Entity 'auml' not defined
Below is a rendering of the page up to the first error.
`

[2016-07-13 17:35] GrahamCampbell commented on #1973
What version of cachet please? I'm pretty sure this is fixed in the latest release.

[2016-07-13 17:43] olkitu commented on #1973
I have latest Cache, 2.3.4-dev.

[2016-07-14 00:19] GrahamCampbell commented on #1973
Did you run `composer install --no-dev -o` after upgrading?

[2016-07-14 03:59] olkitu commented on #1973
Yes, i run that command.

[2016-07-14 05:49] GrahamCampbell commented on #1973
Ping @jbrooksuk.

[2016-07-14 08:39] jbrooksuk commented on #1973
@olkitu are you able to share the URL to your status page? If it's private, would you mind emailing us at support@alt-three.com please?

[2016-07-14 09:26] olkitu commented on #1973
@jbrooksuk sended URL to email.

[2016-07-14 13:12] dtpest opened #1974 "Error 500 (Components and Dashboard)"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [ Docker Container -> latest ] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [ 5.6.20-0+deb8u1 ] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [ yes ] I have ran `rm -rf bootstrap/cache/*`.

### Expected behaviour

d

[2016-07-14 13:17] jbrooksuk commented on #1974
Could you post this issue in the [Docker](https://github.com/CachetHQ/Docker) issues please?

[2016-07-14 13:17] #1974 closed

[2016-07-14 13:21] dtpest commented on #1974
done

[2016-07-14 18:27] CandyManN opened #1975 "Uninstallable Cachet"
Problem during install of v.2.3.3 on Ubuntu 15.04.

http://pastebin.com/tiQuqXzu

Tried to reinstall all, but nothing change. Following this guide: https://docs.cachethq.io/docs/installing-cachet

[2016-07-14 18:29] #1975 closed

[2016-07-15 06:48] #1935 closed

[2016-07-15 09:05] jbrooksuk commented on #1973
Thanks @olkitu! It looks like the feed package we use doesn't put `title` tag content into `CDATA` blocks.

[2016-07-15 18:56] GrahamCampbell commented on #1925
@jbrooksuk This was the commit that broke shit: https://github.com/CachetHQ/Cachet/commit/de232ab2b51caa22bf3f81c16a50993d8a9ae2ba.

[2016-07-15 18:56] GrahamCampbell commented on #1925
Errr, wait, or was it...

[2016-07-15 19:01] GrahamCampbell commented on #1925
Err, WTF... James... Go to the demo and UNTICK "Display graphs on status page?". Then refresh 3 times and watch it go back and forward.

[2016-07-15 19:43] Amnacog opened #1979 "Metrics interval points not working/misunderstanding"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [x] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [x] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [x] I have ran `rm -rf bootstrap/cache/*`.

### Expected behaviour

My metric is a sum type
Setting up the threshold

[2016-07-15 19:51] GrahamCampbell commented on #1979
Yeh, that's the expected behavior. I agree it's not a very good one. Hourly view is essentially broken atm.

[2016-07-15 19:56] Amnacog commented on #1979
Okay so I'll just be patient then :)
thank you guys anyway.

[2016-07-15 21:43] peelman commented on #1930
So i had this problem while deploying today.

Turns out, at some point during the setup, my `.env` got polluted; any values that were previously set as `null` got set to the email i gave as my "from" address.  The setup process itself did this; the only things I had populated in that file were my database credentials.

Once I restored null to the database port, database prefix, redis config keys,

[2016-07-15 21:55] peelman commented on #1909
@jbrooksuk is this something you are actively developing?  Planning on making some changes / pull requests early next week, a pass at this could be among them.

[2016-07-16 03:27] peelman commented on #1909
I had some free time this evening, so I worked this up...

![screen shot 2016-07-15 at 23 25 41](https://cloud.githubusercontent.com/assets/52936/16892528/7e8fe28a-4ae3-11e6-848c-e4cfa7c5c190.PNG)

If there's interest and/or feedback, I will roll it into a pull request on Monday.

[2016-07-16 08:37] jbrooksuk commented on #1909
@peelman this looks nice! If you can remove the blue outer panel, then that'd be perfect! We'd love to see a PR for this change.

Could you do it on the `master` branch please.

[2016-07-16 08:37] jbrooksuk commented on #1930
@peelman I believe that @joecohens has since fixed this issue, I'll make a minor release now.

[2016-07-16 08:44] #1930 closed

[2016-07-16 11:56] TLingC opened #1980 "HTTP 500 after configurating e-mail"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [ ] I am running the [2.3.3](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [x] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [x] I have ran `rm -rf bootstrap/cache/*`.

### Expected behaviour

-

### Actual behaviour

It return with HTTP ERROR 500
Wi

[2016-07-16 12:43] jbrooksuk commented on #1980
Have you added subscribers already?

[2016-07-16 12:43] jbrooksuk commented on #1979
@GrahamCampbell maybe we should implement the changes required in https://github.com/CachetHQ/Cachet/pull/1971?

[2016-07-16 12:49] #1980 closed

[2016-07-16 13:20] base-zero opened #1981 "Ability to select all components for a incident"
It would be nice to be able to create an incident which affects all the components on the status page, currently you can only select one and then you have to pull each component's status to the same level.

[2016-07-16 13:23] base-zero commented on #1981
Sorry duplicate https://github.com/CachetHQ/Cachet/issues/1844

[2016-07-16 13:23] #1981 closed

[2016-07-16 15:18] peelman commented on #1909
Wilco. I'll make sure to apply this against the current master on Monday and ship it over. I'll go back to a panel-default along the way. I'm rather partial to the blue outer box, so I'll probably be reapplying that change for our instance though. ;)

[2016-07-16 15:40] #1979 closed

[2016-07-16 15:40] GrahamCampbell commented on #1979
Closing since this is a dupe of https://github.com/CachetHQ/Cachet/issues/1922.

[2016-07-17 15:38] #1973 closed

[2016-07-18 14:10] tejasshah93 commented on #1907
Suggestion by @GrahamCampbell works! Happened with me too.. `bootstrap/cachet` was not writable. Thanks! 👍

[2016-07-18 14:35] thebbqiscancelled opened #1984 "Functionality of Cachet"
Hi there,

I have a few questions about the functionality of Cachet..

1. Is there a way to approve subscribers? (i.e. third party plug-in, etc.)

2. Un-checking the "Allow people to signup to email notifications?" checkbox disables ALL email alerts. Can this be changed so that email alerts are still sent out for EXISTING subscribers but NEW email subscribers cannot sign-up?

3. Is there a way to

[2016-07-18 16:41] TheLastProject opened #1985 "Translated days are wrong in Dutch"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [X] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [X] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [ ] I have ran `rm -rf bootstrap/cache/*`.

### Expected behaviour

When using the Dutch translations, days are desc

[2016-07-18 17:04] jbrooksuk commented on #1985
Would you be willing to submit fixes to https://translate.cachethq.io?

[2016-07-18 17:09] TheLastProject commented on #1985
I would be willing too, but I am pretty sure it isn't an issue that can be fixed with translation files. After all, there isn't even a translation in there for `maandag` (Dutch for `monday`). My personal bet is that it is related to the DateFactory as it is called on https://github.com/CachetHQ/Cachet/blob/2.3/app/Http/Controllers/StatusPageController.php#L92-L99.

[2016-07-18 17:16] jbrooksuk commented on #1985
Ah, in which case the issue is https://github.com/jenssegers/date.

Could you report the issue there please :)

[2016-07-18 17:16] #1985 closed

[2016-07-18 17:44] TheLastProject commented on #1985
Actually, it is a minor Cachet configuration issue it seems.

By default, on dashboard/settings/localization, the date format is set to `l jS F Y` and the time format is set to `l jS F Y H:i:s`. However, in many languages, including Dutch, this is simply not correct. I (apparently incorrectly) expected Cachet to use the correct date and time format for Dutch (respectively `I j F Y` and `I j F Y H:

[2016-07-18 17:47] jbrooksuk commented on #1985
Ah-ha! The default is English, so it needs to be changed by the admin :)

[2016-07-18 17:51] TheLastProject commented on #1985
Indeed. I still consider it a minor issue that the way dates are written isn't implicit in the language. One of the features Cachet provides is a multi-lingual status page, which is simply impossible to truly support when the date and time format isn't set automatically based on language, because some languages will display the date incorrectly then. Seeing as I am not planning on running Cachet i

[2016-07-18 17:55] jbrooksuk commented on #1985
Whilst true, without supporters from all over the world, it'd likely be impossible to get all of the settings right for multi-lingual installs.

Ping @CachetHQ/owners any ideas if we could make this easier? Maybe include the date formats in a translation string for people to set as part of the language?

[2016-07-18 17:57] joecohens commented on #1985
Yeah that sounds like a good idea. On the lang/cachet.php we can add a `"date" => "format"`

[2016-07-18 17:58] jbrooksuk commented on #1985
`date` and `time` would be good.

[2016-07-19 06:57] dtpest opened #1988 "Disable "Latest News""
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [ 3.0.0-dev ] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [ 5.6 ] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [ yes ] I have ran `rm -rf bootstrap/cache/*`.

It should be possible to disable the "Latest News" Sec

[2016-07-19 07:54] jbrooksuk commented on #1988
@dtpest the data is currently cached for 12 hours, so the time it takes to load the dashboard shouldn't take long, only when it needs to re-fetch the data.

Also, you probably don't want to be running v3.0.0-dev as this is currently **very** unstable and likely broken. I'd suggest downgrading to [v2.3.6](https://github.com/CachetHQ/Cachet/releases/tag/v2.3.6) for stability or v2.4.0-dev if you fan

[2016-07-19 11:05] fdhex opened #1989 "Warn subscribers only when component state changes"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [x] I am running the [2.3.6](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [x] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [x] I have ran `rm -rf bootstrap/cache/*`.

### Expected behaviour

I have an external component which uses the API to issue

[2016-07-19 11:06] jbrooksuk commented on #1989
This is something I noticed the other day, and should **definitely** be changed.

[2016-07-19 11:06] jbrooksuk commented on #1989
Ping @joecohens.

[2016-07-19 14:09] karthik-22feb opened #1990 "Skip subscriber verification"
Hi Team,

I am using the CACHE ( 2.3.0-RC4) version. & am trying to skip the CONFIRM SUBSCRIPTION when an user subscribes to the system

I would really appreciate if you can provide a solution to my issue?

Let me know about your thoughts.

Thanks,
Karthik

[2016-07-19 14:11] jbrooksuk commented on #1990
We don't have an option for confirming subscriptions, but that would be something we could easily add.

Ping @joecohens.

Also, you're running an outdated version of Cachet, the latest version is v2.3.6 :)

[2016-07-19 14:16] karthik-22feb commented on #1990
Hi jbrooksuk,

The Confirm Subscription feature is already available in the system. I receive an Confirm Subscription email when i subscribe to the updates .

I wish to turn off this feature. I want people to sign up the the updates without confirming their email address.

I tried to set  Binput::get('verify', false), in the below code located in app/Http/Controllers/Api/SubscriberController.php b

[2016-07-19 14:21] jbrooksuk commented on #1990
Sorry, I re-worded my reply. It's very hot here today and I'm not with it :)

[2016-07-20 10:51] DigiDaz commented on #1951
Should links work, I'm trying to provide a clickable link to an external page but this does not seem to work?

[2016-07-20 10:58] jbrooksuk commented on #1951
Links work, what are you using?

[2016-07-20 11:15] DigiDaz commented on #1951
Thanks for the very quick reply, exactly this:

Due to this being a BT Core Routing problem we will not post any further updates. Please see the BT status page for any updates:
[https://btbusiness.custhelp.com/app/service_status] (https://btbusiness.custhelp.com/app/service_status)

See https://status.directvoip.co.uk/

[2016-07-20 11:16] DigiDaz commented on #1951
Ah, it used the markdown...

[code]

[2016-07-20 11:18] fdhex commented on #1989
This probably require a check of previous state before an event is fired, whereas a quick look at the code tells me that there is no comparison at all and an event is fired on any activity.

[2016-07-20 11:18] jbrooksuk commented on #1951
Your using Markdown links incorrectly there. You can't have a space after the closing `]`.

[code]

[2016-07-20 11:19] jbrooksuk commented on #1951
And actually, if the anchor text is the link itself, you can just type the link out and it should auto make itself into a link :)

[2016-07-20 11:22] DigiDaz commented on #1951
You're the man, thanks! The [link] definitely does not work but removing the space does! :)

https://status.directvoip.co.uk

[2016-07-20 12:01] jbrooksuk commented on #1951
By placing just the link, I mean you can literally just type the link with no formatting:

[code]

Will be converted into

[2016-07-20 14:46] mhayes14 opened #1991 "Idea: Multi-branding"
I'm not sure how popular this would be for the masses. However it would be nice (in my opinion) if we could change the title and toggle the display of components depending on the hostname used to access the installation. This would be handy for multiple brands being managed by the same people, even running on the same servers, rather than using separate installations.

[2016-07-20 15:02] TheoBearman commented on #1991
Or just run multiple Cachet instances with Apache vhosts and save the developers a lot of time?

[2016-07-20 15:05] #1988 closed

[2016-07-20 15:11] mhayes14 commented on #1991
The people who would like to see such a feature (such as myself) can always open a PR in terms of development time but it's worth seeing if the maintainers would even consider accepting this.

The benefit over running multiple instances is being able to open incidents from one central place, although admittedly this could probably be handled using some API magic with a separate interface.

[2016-07-20 15:12] jbrooksuk commented on #1991
Like this? https://github.com/CachetHQ/Cachet/issues/236

[2016-07-20 15:20] mhayes14 commented on #1991
@jbrooksuk Thanks, looks good (I was searching "branding" etc so didn't come across this issue). There's definitely some relevant comments in there too. In my case I would probably add something to default to the relevant "application" (`/app/some-app-name` view) depending on the hostname or using environment vars. No doubt that issue covers most cases and could certainly be the basis to any furth

[2016-07-20 15:20] #1991 closed

[2016-07-20 15:27] jbrooksuk commented on #1991
If you have anything to add, just add them to the other issue :)

I'm actually going to be working on this next month, anyway!

[2016-07-21 07:53] jbrooksuk commented on #1990
This is now done in v2.4.0.

[2016-07-21 07:53] #1990 closed

[2016-07-21 07:55] jbrooksuk commented on #1984
Hi there,

Thanks for getting in touch! I'll answer your questions:

1. Not exactly, but you can go into the Dashboard and remove subscribers. The idea is that Cachet is used for transparency so *anybody* can subscribe.
2. This is correct and actually the wrong behaviour. We should split this into two options: alert subscribers of updates, enable subscriber signups.
3. You can do this through your

[2016-07-21 07:56] #1984 closed

[2016-07-21 07:56] jbrooksuk opened #1994 "Split enable subscribers into two options"
We should split this into two options: alert subscribers of updates, enable subscriber signups.

[2016-07-21 10:40] jbrooksuk commented on #1881
Moved into v2.4.0.

[2016-07-21 17:26] meyskens opened #1996 "Shows setup screen after upgrade"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [x] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [x] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [x] I have ran `rm -rf bootstrap/cache/*`.

### Expected behaviour

Show the status page after upgrade

### Actual b

[2016-07-21 18:44] jbrooksuk commented on #1996
Ping @GrahamCampbell, this is because of caching, right?

[2016-07-21 22:35] ccosentino opened #1997 "SQLSTATE[HY000]: General error: 17 database schema has changed"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [X] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [X] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [X] I have ran `rm -rf bootstrap/cache/*`.

### Expected behaviour

The Install script works.

### Actual behaviour

[2016-07-22 07:36] jbrooksuk commented on #1997
Can we see the `DB_*` portions of your `.env` file please.

[2016-07-22 08:15] jbrooksuk commented on #1881
Closed in https://github.com/CachetHQ/Cachet/pull/1995

[2016-07-22 08:15] #1881 closed

[2016-07-22 09:18] GrahamCampbell commented on #1996
No idea. I'll need to properly investigate this.

[2016-07-22 09:23] meyskens commented on #1996
If you need any more info give me a ping ;)

[2016-07-22 09:23] GrahamCampbell commented on #1996
Sure, thanks. :)

[2016-07-22 10:06] chaica opened #1998 "Link from the Github README.md to Vagrant doc is broken (404)"
### Expected behaviour

https://github.com/CachetHQ/Cachet should allow the access to the webpage about Vagrant https://docs.cachethq.io/docs/get-started-with-vagrant

### Actual behaviour

Link to the Vagrant documentation is broken https://docs.cachethq.io/docs/get-started-with-vagrant
from the web page:
https://github.com/CachetHQ/Cachet

### Steps to reproduce
1/ go to the following page https

[2016-07-22 10:08] #1998 closed

[2016-07-22 10:09] jbrooksuk commented on #1998
Fixed, thanks!

[2016-07-22 10:37] janrenz opened #1999 "Make Status Page filterable per component"
As the feeds and the badges can be user per component i guess it would be nice if we can have a url that would only display the status and incidents of a selected component, either by component name or maybe also via the tags.

[2016-07-22 11:10] czerwonkabartosz commented on #1922
When it will be solved? ;)

[2016-07-22 13:00] KacyLuzz opened #2000 "Feature Request: MEAnalystics"
Hello!
MEAnalystics is a analystics service, actually in dev and only in french, API is simple
_GET_ https://analystics.might-espace.com/rest/newvisit.php?accid={ID}&accsecret={SECRET}

Website : https://analystics.might-espace.com/

**git commit -m "New issue" & git push**

[2016-07-22 13:02] GrahamCampbell commented on #2000
Thanks, but I don't think this is something suitable for the core. // cc @jbrooksuk

[2016-07-22 13:07] jbrooksuk commented on #2000
Hi @KacyLuzz thanks for your suggestion!

I agree with @GrahamCampbell that this isn't suitable for the core of Cachet. We won't be adding MEAnalytics whilst it's in dev, French only and is an API as opposed to a JS tracker.

Thanks again though!

[2016-07-22 13:07] #2000 closed

[2016-07-22 13:31] ccosentino commented on #1997
`DB_DRIVER=sqlite
DB_DATABASE=/var/www/Cachet/storage/database.sqlite

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=database
CACHET_EMOJI=false`

/var/www/Cachet/storage/database.sqlite exists and is chmod 777 (as is storage)

[2016-07-22 13:36] GrahamCampbell commented on #1997
Please run:

[code]

[2016-07-22 13:36] ccosentino commented on #1997
$ cat VERSION
2.3.6

$ php --version
PHP 5.5.9-1ubuntu4.17 (cli) (built: May 19 2016 19:05:57)
Copyright (c) 1997-2014 The PHP Group
Zend Engine v2.5.0, Copyright (c) 1998-2014 Zend Technologies
    with Zend OPcache v7.0.3, Copyright (c) 1999-2014, by Zend Technologies

[2016-07-22 13:40] ccosentino commented on #1997
If I run install twice in a row on a new sqlite db then I get the following the second time around, so the first step must be doing stuff to the db:

`
Publishing complete for tag []!

  [Illuminate\Database\QueryException]
  SQLSTATE[HY000]: General error: 1 table "component_groups" already exists (SQL: create table "component_groups" ("id" integer no
  t null primary key autoincrement, "name" va

[2016-07-22 15:35] scheesman commented on #1996
Same issue here.  First happened from v2.3.2 to v2.3.5.  Upgrading to v2.3.6 didn't address.  Tried clearing caching and didn't help.  Both the main page and /dashboard redirect to /setup.  I would be willing to help in whatever way possible as well.

[2016-07-24 10:40] mbravorus opened #2001 "cachet front page super slow, stalling"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [x] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [x] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [x] I have ran `rm -rf bootstrap/cache/*`.

### Expected behaviour

Normal loading times

### Actual behaviour

Fron

[2016-07-24 10:43] #2001 closed

[2016-07-24 12:21] jbrooksuk commented on #2001
Hey, it loads just fine, is that why you closed the issue?

[2016-07-24 14:18] mbravorus commented on #2001
I have discovered I have misrepresented one of checkboxes :) I thought I was running the latest code, however I was deploying via a forked repo, with tags not pulled through properly. Pushed the tags through, upgraded, and now it loads fine.

[2016-07-24 21:31] kureci opened #2005 "Redirects to setup every time"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [x] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [x] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [x] I have ran `rm -rf bootstrap/cache/*`.

### Expected behaviour

* Cachet should go to Dashboard after it's setup

[2016-07-25 00:46] keithslater commented on #2005
Same problem here.

[2016-07-25 00:59] ccosentino commented on #2005
I have 2.3.6 working with MySQL (I can't get it to work with Sqlite).

Make sure you chmod 777 storage before you run through the setup. I think that fixed it for me, but it is hard to say what got it working because I tried about 15 times to get it installed, trying different things each time.

My suggestion is to start fresh. Here are the commands that seemed to work for me one or the last few t

[2016-07-25 05:07] yoyosan commented on #1892
Hello.

Is it ok with you if I work on this?

[2016-07-25 06:03] yoyosan commented on #1897
Hi.

I'd like to work on this since it's part of #1892 .

For the components group, I am thinking of:
- adding a `visible` int column to the `component_groups` table with the three possible values mentioned above `0 - Viewable by public, 1 - Only visible to logged in users, 2 - Hidden`.
- rephrase the existing `Choose visibility of the group` label to `Expand/Collapse` options.

What do you think?

[2016-07-25 06:59] jbrooksuk commented on #2001
Awesome! :)

[2016-07-25 07:27] jbrooksuk commented on #1897
I like it! Looking forward to seeing your contribution @yoyosan!

@joecohens @GrahamCampbell and I are at Laracon US this week, so it might be that reviewing of your PR is delayed until we're back, but don't worry!

[2016-07-25 09:36] kureci commented on #2005
I've followed steps from @ccosentino and install works fine now (albeit I also had to change permissions for `storage/logs`).
For anyone anyone coming across this issue and not being able to add subscribers, please note you also need to have a value for `MAIL_NAME` in you `.env.` file - otherwise subscription is disabled.

[2016-07-25 09:36] #2005 closed

[2016-07-25 12:01] ivanbreet commented on #1996
Got the same issue upgrading from __v2.3.5__ to __v2.3.6__.

[2016-07-25 14:19] GrahamCampbell commented on #1996
Thanks for the feedback everyone. I'm elevating the priority on the issue to maximum.

[2016-07-25 15:59] chaica opened #2006 "Can't leave the /setup"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [x ] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [ x] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [ x] I have ran `rm -rf bootstrap/cache/*`.

### Expected behaviour
Use Cachet

### Actual behaviour

The setup co

[2016-07-25 17:11] ccosentino commented on #2006
The following worked for someone else with a similar problem.

My suggestion is to start fresh. Here are the commands that seemed to work for me on one of the last few times I installed it. I saved my .env file in my home directory so I could quickly copy it over to the cloned repo, which is what the `cp ~/env.txt ./.env` line is. You should edit your env at that point and add your values.

[code]

[2016-07-25 17:50] peelman commented on #1547
You kinda sorta get this behavior in #1983.  Using the select / deselect all links you can pick and choose groups a little easier.

[2016-07-25 17:56] peelman commented on #1500
@joecohens wrote:

If this is still a thing to be done, please make it a configurable number and not hard coded to 20; even if its a `.env` parameter.

[2016-07-25 18:21] jbrooksuk commented on #1547
@peelman yeah, but now the issue is that if a component gets added to a group, you won't be automatically subscribed to it.

Good work around for now though.

[2016-07-25 18:21] GrahamCampbell commented on #2006
Thank. This is a duplicate of https://github.com/CachetHQ/Cachet/issues/1996 though. Please check for existing issues first.

[2016-07-25 18:21] #2006 closed

[2016-07-25 18:22] GrahamCampbell commented on #1996
Must have already been broken at that point, since we didn't actually change anything between those two versions.

[2016-07-25 18:32] #1996 closed

[2016-07-25 18:32] GrahamCampbell commented on #1996
I've reverted the change that I think is responsible for this. We'll be doing a release soon.

[2016-07-25 19:57] tejasshah93 commented on #1898
@jbrooksuk hi! this one up for grabs?
I've done some modifications to have metric options as "viewable by public" and "only visible to logged in users" (similar to how incident visibility works). Will add the "hidden" option soon.

Let me know👍

[2016-07-25 20:04] jbrooksuk commented on #1898
@tejasshah93 yes it is! If you make a PR for this, could you do so on the 2.4 branch please? :)

[2016-07-25 20:10] tejasshah93 commented on #1898
@jbrooksuk Sure thing! Will update here as and when done 👍

P.S. I just noticed that you'll be off for Laracon US this week. Nice :)

[2016-07-25 20:33] GrahamCampbell commented on #1988
It's not very likely to be broken, it most definitely is completely broken. :trollface:

[2016-07-25 20:45] jbrooksuk commented on #1898
I will indeed! Are you there?

Hopefully I'll get some time to review your PR over the week, if not, it's on my list for once I'm back!

[2016-07-25 21:00] tejasshah93 commented on #1898
Unfortunately, no. Though glad to know you'll be making it to Laracon!

I'll also be hitting the road this week and would create a PR mostly by next week itself. So, no worries as such :) Thanks!

[2016-07-25 21:10] meyskens opened #2009 "Style not updating"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [x] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [x] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [x] I have ran `rm -rf bootstrap/cache/*`.

### Expected behaviour

Text color to update after changing in settings.

[2016-07-25 21:12] johnwheal opened #2010 "Missing English Language Lines"
I'm using v2.3.6

A chunk of the English `forms` language file appears to missing.

For example, I have identified that the following lines are missing:
* forms.setup.mail_driver
* forms.setup.mail_host
* forms.setup.mail_address
* forms.setup.mail_username
* forms.setup.mail_password

The above are used on the Setup page.

[2016-07-25 21:55] GrahamCampbell commented on #2009
Does your web server have write permission to the bootstrap/cachet folder?

[2016-07-25 21:55] meyskens commented on #1996
I have upgraded to the dev branch and it worked :)

[2016-07-25 22:57] dmsimard commented on #815
This was closed and later set to milestone 1.1.0. We're at 2.3.0 and I don't see how we could create a custom status instead of the default ones.

@jbrooksuk, @GrahamCampbell, @prolix21 .. can we re-open this issue ? Why would it be closed if it hasn't been implemented ?

[2016-07-25 23:07] GrahamCampbell commented on #815
Sorry, but this was closed as a "not planned", rather than an "implemented".

[2016-07-26 00:48] dmsimard commented on #815
@GrahamCampbell I'm going to argue that it'd be a great feature to have in cachet IMHO.
Some things monitored do not fit well under the wording provided by default by the statuses (i.e, Operational, Performance Issues, etc.)

[2016-07-26 08:40] jbrooksuk commented on #1996
👍

We've shipped a new version too.

[2016-07-26 08:41] jbrooksuk commented on #2009
Can you try again on the latest version please?

[2016-07-26 08:41] jbrooksuk commented on #1898
Thanks man! :)

[2016-07-26 11:20] scheesman commented on #1996
Can confirm release v2.3.7 fixed problem on our system!

[2016-07-26 18:28] meyskens commented on #2009
It works now :) Thanks

[2016-07-26 18:28] #2009 closed

[2016-07-26 19:02] tejasshah93 opened #2012 "Y-axis scale precision not consistent with decimal value of metrics"
### Expected behaviour
In case of multiple metrics too, Y-axis scale precision must be set to metric's decimal value respectively.

### Actual behaviour
Y scale precision doesn't get reflected unless the **last** metric's decimal value is set > 0

### Steps to reproduce

Reproducible on [Cachet Demo](https://demo.cachethq.io/)

1. Create a new metric with decimal value > 0  ( . . say '2')
2. After

[2016-07-26 19:14] tejasshah93 commented on #2012
Observation: For all the metrics with decimal value > 0, the Y-axis scale precision is synchronised to last metric's decimal value.

So, if decimal value is set to 2 for any metric (other than the last), and the last one is assigned decimal value of 1, then both the metrics will reflect precision with 1 decimal only.

[2016-07-27 01:16] dmsimard opened #2013 "A python client library for Cachet: python-cachetclient"
Hi,

As per the instructions in the [documentation](https://docs.cachethq.io/docs/client-libraries), I'm letting you know that I'm working on a python client library for Cachet: [python-cachetclient](https://github.com/dmsimard/python-cachetclient).
The module already works and can be installed from source or from PyPi.

python-cachetclient will be the foundation of an eventual [Ansible](https://w

[2016-07-27 10:01] ConnorVG commented on #1507
@jbrooksuk any progress on this idea? I love Cachet and this is literally the only thing holding me back from using it :disappointed:

[2016-07-27 15:29] jbrooksuk commented on #1996
🎉

[2016-07-27 18:24] GrahamCampbell commented on #1996
Great"

[2016-07-28 13:28] sapk opened #2014 "Changing order of one component break status of all components"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [X] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [X] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [X] I have ran `rm -rf bootstrap/cache/*`.

### Expected behaviour

Changing the order of one component should chang

[2016-07-28 14:30] jbrooksuk commented on #2014
Woah, this wasn't caught during testing, sorry man. I'll see if I can fix immediately.

[2016-07-28 14:48] #2014 closed

[2016-07-28 14:51] jbrooksuk commented on #1507
@ConnorVG in terms of a plugin interface, we're not currently any closer to implementing it. We (@CachetHQ/owners) have discussed implementing it, but we've not solidified any implementations yet. It's something we have to get right first time.

This is something that we **absolutely will** be implementing, but we just don't know when yet.

@CachetHQ/owners we should discuss this further.

[2016-07-28 14:52] jbrooksuk commented on #2013
Awesome, thanks! We'll get this updated on our docs ASAP.

[2016-07-28 14:55] jbrooksuk commented on #2013
I've updated the docs! Thank you :)

[2016-07-28 14:55] #2013 closed

[2016-07-28 14:56] jbrooksuk commented on #2012
@tejasshah93 thanks for the bug report! Are you able to make a PR to fix this issue? :)

[2016-07-28 15:00] sapk commented on #2014
Thanks

[2016-07-28 16:41] ConnorVG commented on #1507
Please do :heart:

[2016-07-28 19:06] #2010 closed

[2016-07-28 19:07] jbrooksuk commented on #2010
I've updated the CrowdIn translations.

[2016-07-28 19:18] jbrooksuk commented on #2012
Does #2015 fix this for you?

[2016-07-28 19:39] #2012 closed

[2016-07-29 15:21] markperdue commented on #1696
@GrahamCampbell do you have any suggestions on how to set it correctly? I am running into the same issue and have tried different variations of APP_URL that point to the external hosted url, internal localhost url including the subdirectory, etc and haven't had any luck.

[2016-07-29 18:28] eightnoneone opened #2016 "Provide embeddable view"
I'd like to be able to embed a status page in another application. Could Cachet produce a view that is an embeddable div?

[2016-07-29 18:52] jbrooksuk commented on #2016
GoHiring built a widget which can do this! https://github.com/gohiring/cachet-status

Alternatively, you can use the API.

[2016-07-29 18:52] #2016 closed

[2016-07-29 19:14] jbrooksuk commented on #1997
@CachetHQ/owners any clue on this?

[2016-07-29 19:37] jbrooksuk commented on #1997
Okay, it seems to be a bug specifically with `php artisan app:install`. You can run `php artisan migrate` to get migrations working.

[2016-07-29 20:00] ccosentino commented on #1997
I moved over to MySQL to work around this.

[2016-07-29 20:29] jbrooksuk commented on #1997
I'm glad you're up and running.

We'll still continue to solve this issue though 👍

[2016-07-29 21:38] jacoblw opened #2018 "Error 500 on Dashboard after upgrade"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [x] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet. `2.3.7`
- [x] I am running at least PHP 5.5.9. *You can check this by running `php -v`.* `5.6.24`
- [x] I have ran `rm -rf bootstrap/cache/*`.

### Expected behaviour

Taken to dashboard

### Actual

[2016-07-29 21:44] GrahamCampbell commented on #2018
Please make sure you install the xml extension.

[2016-07-31 16:07] yoyosan commented on #1897
@dbarentine I'm not sure why you need the Hidden option.

Did you maybe thought it should be visible only to the creator?

[2016-07-31 16:41] yoyosan commented on #1897
I can't figure out why running the tests is stuck. Here's the output:
[code]

[2016-07-31 16:47] yoyosan commented on #1897
The next step is to add functional tests for the code I've added :)

[2016-07-31 21:23] johnwheal opened #2020 "Missing Component Status Language Line"
`cachet.components.status.0` is missing from the English language files. I'm not sure what the text should be - possibly "coming soon".

[2016-07-31 21:31] axilleas commented on #1997
Just been bitten by this. Running migrate before install works, but not the other way around. Then, running install again yields an error/warning:

[code]

I don't know what that means and if it matters. Full output:

[code]

[2016-08-01 05:56] dbarentine commented on #1897
@yoyosan For our use we don't actually need the hidden option but I think I was trying to include it for completeness.

Specifically, I was trying to include the request from 1892 which wanted to hide the component group but still collect data on it via the API.

It could also be useful as you are creating new component group but don't want to expose it to anyone yet. So in that case exposing it o

[2016-08-01 07:22] yoyosan commented on #1897
@dbarentine will add this too then.

[2016-08-01 11:37] jbrooksuk commented on #2020
There [isn't a status](https://github.com/CachetHQ/Cachet/blob/2.3/app/Presenters/ComponentPresenter.php#L32) of `0`. You should never be able to get a status of `0`, although due to a bug in the dashboard this was possible for a short time.

We'll be making a patch release in the next couple of days (if not today) which fixes this issue :)

[2016-08-01 11:37] #2020 closed

[2016-08-01 12:39] jbrooksuk commented on #1997
The second error you get @axilleas is due to the backup commands, we'll clear up those warnings too I think.

[2016-08-01 12:52] axilleas commented on #1997
Awesome, thanks :)

[2016-08-01 18:12] yoyosan commented on #1897
Regarding phpunit, found the fix in 1721.

[2016-08-02 10:01] jbrooksuk commented on #1997
We now ignore SQLite from backups. The `php artisan app:install` command is not fixed though yet.

[2016-08-02 10:13] #2018 closed

[2016-08-02 18:33] yoyosan commented on #1892
@barchard do you want the hidden component groups(see the comments in #1897) to not be displayed on both the status and dashboard pages?

[2016-08-02 18:42] yoyosan commented on #1897
Things left to do:

- [ ] Fix existing tests
- [ ] Add dashboard functional tests for the displayed component groups as a guest vs logged in
- [ ] Add API tests for guest vs with TOKEN requests
- [ ] Using TDD, add hidden functionality for component groups(waiting for answer on #1892)

[2016-08-02 21:56] barchard commented on #1892
@yoyosan whatever is public should be hidden. For example, I have a group called "name servers" users don't care about this, but as an admin, I want to track it for myself.

[2016-08-03 01:00] barchard commented on #1909
hi, is this released or still being pushed to 3? i am currently fighting service overload too! thanks :)

![status](https://cloud.githubusercontent.com/assets/17622/17350367/1f50ebb0-58f4-11e6-9d03-3736be48a9d9.jpg)

[2016-08-03 05:44] stipx opened #2022 "Incident update should also update the incident status as the old status"
Hi,

in the development version the incident update is not updating the incident status, so it is still shown with the old status in the dashboard and also the status is wrong when using the REST api.

I do not know if this is expected behavior, but I think the incident status should be updated as well.
I know the development version is (as the name indicates) still in development, but I think thi

[2016-08-03 07:54] jbrooksuk commented on #2022
Are you using the `develop` branch currently? I wouldn't even look at it 😄 it's nowhere near ready for production and is nowhere near even half complete yet.

[2016-08-03 07:55] jbrooksuk commented on #1909
v3.0.0 is not out yet, and won't be for a while yet. It should've found its way into the latest v2.3.* versions though?

[2016-08-03 07:55] #1909 closed

[2016-08-03 10:10] stipx commented on #2022
Yes, thought so. Just wanted to mention so that it does not get lost ;)

[2016-08-03 10:12] sapk opened #2023 "Add the possibility to stick a incident to the top"
I think it should be possible to add the possibility to stick a (or multiple) incident to the top (on top of the historic). In order to display long running incident that are "far away" in the timeline. The incident should also be display in the timeline.

[2016-08-03 10:42] jbrooksuk commented on #2023
As in, in the past?

[2016-08-03 10:58] jbrooksuk commented on #2022
I think that my original plan was to:

1. Use the `incidents.status` field if there were no updates yet.
2. If an update exists, then virtually override the `status` field in the API with that of the last updates status.

That way the original incident status still exists. But perhaps it'd be better to _actually_ update the incident status?

[2016-08-03 11:31] stipx commented on #2022
I think it does not have any benefit keeping the old incident status and just virtually override it.
But one other thing: I find this update feature really cool. In 2.x we have to change the incident message e.g. when we want to post that some person is working on it and that guy is the one to contact first on issues.

[2016-08-03 11:35] jbrooksuk commented on #2022
Thanks mate! I can't wait for us to ship it!

[2016-08-03 11:35] mrbase opened #2024 "Reference id / remote id in api generated incidents"
We would like to use Cachet with out surveillance setup, but needs to be able to set the id of the incident, not have it auto-generated.

Opening up for id setters is probably not a good idea, but how about a `remote_reference` field ?
Then on lookups/updates - you should also be able to look up incidents by that id.

That way a 3-party system could post and update incidents without having to know

[2016-08-03 11:38] jbrooksuk commented on #2024
@GrahamCampbell and I actually briefly discussed this on Saturday, but for a different reason.

I do agree that it'd be useful to have a way of storing an "internal reference" or whatever it may be, for incidents and components.

[2016-08-03 11:39] jbrooksuk commented on #2024
I'm not going to place this into a Milestone until we're further forward with some other bits.

[2016-08-03 12:28] sapk commented on #2023
For example you have detect a incident that slow your process 5 days ago. Your are still on it but performance are still impacted but the incident is not visible at first sight. It should be great if we could indicat to "stick" the incident to show it also on top of the timeline.

[2016-08-03 12:42] jbrooksuk commented on #2023
@sapk I see, thanks for clarifying.

We'll have a think :)

[2016-08-04 00:06] barchard commented on #1909
@jbrooksuk not from what i'm seeing.. currently running v2.3.7:

[code]

[2016-08-04 00:39] peelman commented on #1909
My PR went into 2.4. But isn't in 2.3.7.

[2016-08-04 00:40] barchard commented on #1909
@peelman oooh. I guess I have to wait until 2.4 then. thanks

[2016-08-04 10:54] jbrooksuk commented on #2023
Ping @joecohens on your thoughts? :)

[2016-08-04 15:59] ScottBeeson opened #2029 "Question about base features (Is it only up/down monitoring?)"
I'm currently using Overseer and looking for a replacement.  I need to find a solution where I can perform a SQL query and create an alarm based on the results.  Perhaps as simple as if the result count is > 0.

Does Cachet have this ability?

[2016-08-04 16:02] jbrooksuk commented on #2029
Hey @ScottBeeson,

Cachet itself doesn't have this feature. We don't do monitoring because we recognised that it's a harder problem than people think, so we leave it to the experts!

That said, there is [Pingometer](https://pingometer.com) which you can signup for and then have update your Cachet status page :)

If you're looking for something self-hosted, you can use [cachet-monitor]https://githu

[2016-08-04 16:02] #2029 closed

[2016-08-04 19:28] jbrooksuk commented on #2022
Fixed https://github.com/CachetHQ/Cachet/commit/d5d92f5a3d4584a3645ae89d0e21d219bf6a2674

[2016-08-04 19:28] #2022 closed

[2016-08-05 05:44] stipx opened #2030 "Ordering resets the status of all components to zero"
Hello.

We're now using v2.3.7 and experience the problem when we change the ordering of one component all component status fields are reset to `0`.

Can you please take a look at this problem. If you have further questions please do not hesitate to ask.

[2016-08-05 06:50] jbrooksuk commented on #2030
This has already been fixed, I just need to do a minor release.

In fact, I'll do it now 👍

[2016-08-05 06:50] #2030 closed

[2016-08-05 18:33] jbrooksuk opened #2032 ""Select Timezone" is not translated"
The "Select Timezone" string is not translated in either the setup screen or the Localization page.

[2016-08-06 08:38] yoyosan commented on #1897
Weird behaviour I've noticed:
- [ ] For the dashboard, you need the component group to have at least one component in order to be displayed. For the API, the component group doesn't need to have any.

[2016-08-06 08:53] jbrooksuk commented on #1897
@yoyosan where exactly do you mean in the dashboard? On the index?

[2016-08-06 08:55] yoyosan commented on #1897
Yes, on the index page(`StatusPageController::showIndex`).

[2016-08-06 08:59] jbrooksuk commented on #1897
Oh, not the dashboard, sorry I misunderstood.

[2016-08-06 09:00] jbrooksuk commented on #1897
This is the expected behaviour, though. The UI shouldn't show an empty group, but the consumers of the API want to know about all groups.

[2016-08-06 09:00] yoyosan commented on #1897
Bad phrasing, sorry.

[2016-08-06 09:00] jbrooksuk commented on #1897
Nah, I'm just a numpty.

[2016-08-06 09:09] yoyosan commented on #1897
`! true` :)

[2016-08-06 11:12] jbrooksuk opened #2033 "Split dashboard routes"
The dashboard routes are getting pretty big now, so let's split them up into individual files.

[2016-08-06 15:18] CandyManN opened #2034 "Email component_name variable not showing"
- [X] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [X] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [X] I have ran `rm -rf bootstrap/cache/*`.

Basically, when I change a status of a component, the email to the subscribers will appear like that:

"The component component_name has seen a status change."

T

[2016-08-06 15:21] jbrooksuk commented on #2034
What version of Cachet are you using?

[2016-08-06 19:44] CandyManN commented on #2034
I'm using the v2.3.8

[2016-08-07 00:01] jbrooksuk commented on #2034
Thanks @CandyManN I'll get this fixed ASAP.

[2016-08-07 18:36] jbrooksuk commented on #2034
Out of interest, what language are you using? I see no reason why this isn't working in the English translation.

[2016-08-07 18:37] jbrooksuk commented on #2034
That said, looking through the translations I've found that Italian is broken.

[2016-08-07 18:42] CandyManN commented on #2034
Yeah, it's the Italian one :+1:

[2016-08-07 18:43] jbrooksuk commented on #2034
Awesome this will be fixed in v2.3.9. I'm just waiting on a test case from someone which fixes another issue and then I can ship.

[2016-08-07 18:45] #2034 closed

[2016-08-07 18:55] GrahamCampbell opened #2035 "fix thresholds and metrics"

[2016-08-07 19:00] #1925 closed

[2016-08-07 21:38] #2032 closed

[2016-08-08 07:03] #1989 closed

[2016-08-08 16:16] jbrooksuk commented on #1997
This is now fixed.

[2016-08-08 16:16] #1997 closed

[2016-08-08 16:36] jbrooksuk commented on #2035
What did we say about this?

[2016-08-08 17:23] GrahamCampbell commented on #2035
The threshold must be a factor of 60, and if it's more than 10, then we should disable hourly view. We also need to update the scale on hourly view to match the threshold width.

[2016-08-08 20:39] jhamilton09 opened #2043 "Error 400 Bad Request when signing up for notifications"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [ ] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [ ] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [ ] I have ran `rm -rf bootstrap/cache/*`.

What version of Cachet? 2.2.2
What database driver? MySQL? Postgres? SQL

[2016-08-08 20:47] TheoBearman commented on #2043
Can you dump your logs into this issue so we can see what's going on behind the scenes?

[2016-08-08 20:56] #2043 closed

[2016-08-08 20:56] GrahamCampbell commented on #2043
This has been fixed in a newer release. Please upgrade to the latest version.

[2016-08-09 07:08] stipx opened #2044 "Be able to set a component on a maintenance task"
It would be nice to be able to set the component which is under maintenance on a scheduled maintenance task.

Another thing is that a component might have a status "UNDER MAINTENANCE" so that it is not titled as major outage or something similar.

We're using 2.3.7 right now.

[2016-08-09 07:50] jbrooksuk commented on #2044
Duplicate of https://github.com/CachetHQ/Cachet/issues/1546 :)

[2016-08-09 07:50] #2044 closed

[2016-08-09 07:55] stipx commented on #2044
Is this really a duplicate of the referenced issue? Maintenance tasks are stored as incidents right? and they already have the component id field. So this would only be an addition to the UI. And the second part with the new component status would be one additional field value.
The referenced issue is related to Metrics and not to Maintenance tasks (Incidents).

[2016-08-09 07:58] jbrooksuk commented on #2044
Sorry, I had a reference to the wrong issue in my clipboard, https://github.com/CachetHQ/Cachet/issues/495 is the right issue (closed now as it's grouped under a different issue).

In v3.0.0 we're changing the way that schedules work altogether, so they should be separate entities.

[2016-08-09 08:03] stipx commented on #2044
Oh ok. Too bad this will take till v3 gets released.
Anyway, we look forward to this because we would like to transparently inform our users about ongoing maintenance for certain components.

Thanks for clarifying.

[2016-08-09 08:08] jbrooksuk commented on #2044
It's a big, but very cool release that we have lined up. The reasons it's in v3.0.0 are:

1. It requires refactoring scheduled maintenance out of incidents.
2. It requires design changes to better report what it is that is affected. (v3.0.0 will have a sexy new design).
3. Existing data will need to be migrated and it's a backwards incompatible change with the existing API, so we have to make this

[2016-08-09 08:13] stipx commented on #2044
Thanks for your great work. Maybe use missed my "Edit".

And as I said. I'm looking gratefully forward to the v3 release :)

[2016-08-09 08:41] jbrooksuk opened #2045 "Show log information in the dashboard"
We should show all log information in the dashboard so that people can easily get that information across to us without having to copy a file from the server (especially useful when we've setup said server).

[2016-08-09 08:44] jbrooksuk opened #2046 "Proxy errors through to Beacon"
Now that we have Beacon, we can proxy any system errors through to it and have it logged in our error reporting tool.

Since we have the generated error ids, this means that we can find the exact error relating to the user ensuring we can debug the right issue.

This should be an optional feature (although on by default).

No sensitive information would be logged.

[2016-08-09 14:59] jhamilton09 commented on #2043
Thanks. I reviewed the release notes and did not see it listed.
We updated our Cachet and I see the new subscription with per-component options after. That is much cleaner than all of the envelope icons. The weird thing was upon updating, existing subscribers were sent an email to confirm their subscription and those links resulted in the error 400. Creating a new subscription though, the process

[2016-08-09 15:07] jhamilton09 opened #2047 "Modify any subscription"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [ X ] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [ X ] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [ X ] I have ran `rm -rf bootstrap/cache/*`.

What version of Cachet? 2.3.9
What database driver? MySQL? Postgre

[2016-08-09 15:09] jbrooksuk commented on #2047
I know it's not great, but a subscriber can click on the link included in the email to manage their subscription.

[2016-08-09 15:10] jhamilton09 opened #2048 "Sort subscription components by component groups"
Before submitting your issue, please make sure that you've checked the checkboxes below.

[ X ] I am running the latest release version of Cachet.
[ X ] I am running at least PHP 5.5.9. You can check this by running php -v.
[ X ] I have ran rm -rf bootstrap/cache/*.
What version of Cachet? 2.3.9
What database driver? MySQL? Postgres? SQLite? MySQL
What version of PHP? 7.0.3

### Expected behaviour

[2016-08-09 15:11] jhamilton09 commented on #2047
Right. I think the subscriber should have to follow a link from their email in order to modify the subscriptions. They should not be able to modify the subscription by "re-subscribing" with a previously registered email address on the status page.

[2016-08-09 15:17] jbrooksuk commented on #2047
Oh, sorry:

Yes, I agree that this is incorrect behaviour.

[2016-08-10 11:56] jbrooksuk commented on #2047
Not anymore you can't! :)

[2016-08-10 11:56] #2047 closed

[2016-08-10 13:28] jbrooksuk commented on #2048
We pull out the components in a group by their `order` value, so this shouldn't be the case.

[2016-08-10 13:32] GrahamCampbell commented on #2048
Try running `php artisan app:update` please.

[2016-08-10 16:28] camilonova commented on #808
I'll leave this here https://github.com/Axiacore/cachet-uptime-robot

[2016-08-10 16:29] camilonova commented on #1510
I'll leave this here https://github.com/Axiacore/cachet-uptime-robot

[2016-08-10 16:48] brianjking commented on #1510
@camilonova -- Thanks, now I just need to figure out how to set this up. Have you succeeded yet? Thanks!

[2016-08-10 18:31] jbrooksuk commented on #808
Thanks @camilonova!

[2016-08-10 23:23] camilonova commented on #1510
@brianjking yes we do. If you have any other issues please add them there. Best.

[2016-08-11 16:16] anandchida commented on #2044
This is a feature im looking forward eagerly to as well.  Just adding component status to 2.x version will help immensely

[2016-08-11 16:27] ConnorVG commented on #1507
I've started something, I'll initiate the PR tomorrow.

![plugins](https://cloud.githubusercontent.com/assets/3260091/17596345/e0a5786c-5fe8-11e6-86fa-65ef7b539a9e.png)

[2016-08-11 20:25] camilonova commented on #236
I can confirm @carlhoerberg solution works perfect for current 2.4 branch.

[2016-08-12 06:51] jbrooksuk commented on #2044
So you're thinking that if a Component is under maintenance, then its status should change?

[2016-08-12 06:52] jbrooksuk commented on #1507
:D

[2016-08-12 06:55] stipx commented on #2044
I think that would be a good idea. Because then you can see immediately that a component is under maintenance and do not have to scroll down to the timeline.

And as the scheduled maintenance task refactoring take place in v3 it would be nice to just have a new status in v2 to set it manually to "under maintenance".

[2016-08-12 07:00] jbrooksuk commented on #2044
The only problem with that is that Scheduled Maintenance doesn't have an end date, so you'd then have to manually change the component status afterwards. That's why I was waiting till we refactor it, where maintenance can have a start and end date.

[2016-08-12 07:07] stipx commented on #2044
Yes but for 2.x just setting and resetting the status via dashboard would ease our maintenance workflow:

- Schedule a maintenance
- When maintenance is started set the status to "UNDER MAINTENANCE"
- When maintenance is done reset the status

We're also creating incidents via a checking service and so we are able to skip incident creation when the component is under maintenance.

[2016-08-12 07:08] jbrooksuk commented on #2044
Could you open a new issue regarding changing the status whilst under maintenance, please? I don't see why we couldn't.

[2016-08-12 07:21] stipx opened #2051 "Add new component status for ongoing maintenance (e.g. UNDER MAINTENANCE)"
During discussions in #2044 we came across the idea to add another status for components to be able to mark the component as "under maintenance". This would ease our maintenance workflow:
- Schedule a maintenance
- When maintenance is started set the status to "UNDER MAINTENANCE"
- When maintenance is done reset the status

We're also creating incidents via a checking service and so we are able to

[2016-08-13 14:32] ConnorVG opened #2053 "PHPUnit Doesn't Clear Caches"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [x] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [x] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [x] I have ran `rm -rf bootstrap/cache/*`.

### Expected behaviour

After running `phpunit`, I expect my environment

[2016-08-13 14:39] GrahamCampbell commented on #2053
Yeh, this is a known issue, but I've never really cared enough to fix it. :trollface:

Feel free to have a go I guess. ;)

[2016-08-13 14:42] ConnorVG commented on #2053
It's annoying af...

[2016-08-13 14:55] yoyosan commented on #2053
`artisan config:clear` fixes it. But it should be automatic.

[2016-08-13 15:03] GrahamCampbell commented on #2053
I imagine we're also messing with our settings cache (not the same as config).

[2016-08-13 15:20] ConnorVG commented on #2053
Hmm, we could always add a listener... Like:

[code]

[code]

[2016-08-13 15:26] ConnorVG commented on #2053
Lul :trollface:

[2016-08-13 15:43] ConnorVG commented on #2053
As @GrahamCampbell noted, it actually needs all cache files cleared. Not just X or Y.

[2016-08-13 16:05] #2053 closed

[2016-08-13 16:30] ConnorVG commented on #1507
@GrahamCampbell / @jbrooksuk any ideas how we can make this any faster? The main slow down seems to be cache generation and composer optimisation...

![image](https://dn122w.bn1301.livefilestore.com/y3p4W6aa5aa89lJRUZ5xCH14zm6klx9jckkQ4LpwpaK7MFAW_-0nSGmwFWUx_Wi3sFbIGx1V-a91tkkeI2mJ_quYeCxbEPdtVp0gW7Mpt7tx0fpJgX9nfdJ5BqHOfEBRFFXZd_N-4Tc_g8DcWs-PF05DqvjdJEpHunLypP6eY2VrWA/2016-08-13_17-26-25.gif)

[2016-08-13 20:32] ConnorVG commented on #1507
Migrations are in, I think it's time @jbrooksuk and/or @GrahamCampbell see about possibly helping with creating tests. If this eco system is the correct direction, that is.

![here](https://goo.gl/zO2IgN)

[2016-08-13 22:05] fcpwiz opened #2057 "500 Internal server error on fresh install"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [x] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [x] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [x] I have ran `rm -rf bootstrap/cache/*`.

### Expected behaviour

The setup page to show up.

### Actual behaviour

[2016-08-13 23:05] yoyosan commented on #2057
Hi!

I don't think you configured correctly your Apache virtual host for
Maybe this helps: http://laravel-recipes.com/recipes/25/creating-an-apache-virtualhost

Also, please be mindful of sharing so many details. If you go here, https://status.fluxxmc.com/Cachet/.env, you'll see that your credentials(like DB username and password) are now exposed to the world. Please change them ASAP.

[2016-08-14 06:18] fcpwiz commented on #2057
@yoyosan The httpd-vhosts.conf file contains this:

[code]

[2016-08-14 08:09] fcpwiz commented on #2057
@yoyosan that file is located at /etc/httpd/conf/ on a CentOS 6 VPS

[2016-08-14 08:58] yoyosan commented on #2057
Did you check `/var/log/httpd/error_log`?

[2016-08-14 09:06] fcpwiz commented on #2057
@yoyosan it shows as empty.

[2016-08-14 09:07] GrahamCampbell commented on #2057
And your php-fpm logs?

[2016-08-14 09:10] fcpwiz commented on #2057
@GrahamCampbell /var/log/php-fpm/error_log ?

[2016-08-14 09:13] fcpwiz commented on #2057
If that's the correct file path, then the error log is also empty.

[2016-08-14 09:18] GrahamCampbell commented on #2057
I'm not really sure what to recommend then. We do offer a professional install service starting at $149 if you're interested.

[2016-08-14 09:26] fcpwiz commented on #2057
Cachet is installed on ~/public_http. Should it be installed in /public_http instead? @GrahamCampbell @yoyosan

[2016-08-14 09:28] GrahamCampbell commented on #2057
You can install it wherever you want.

[2016-08-14 09:34] yoyosan commented on #2057
@fcpwiz try to use the absolute path to your Cachet installation folder in the `httpd-vhosts.conf` file:

[code]

Hope it works.

[2016-08-14 09:41] fcpwiz commented on #2057
@yoyosan Ok I modified that file. What commands do I have to run to get it working? What do I have to restart?

[2016-08-14 09:43] yoyosan commented on #2057
Search Google on how to restart your apache server on CentOS.

[2016-08-14 09:47] fcpwiz commented on #2057
@yoyosan doesn't seem to be working from my side: https://status.fluxxmc.com

[2016-08-14 09:48] GrahamCampbell commented on #2057
Looks like you;ve not setup the vhost correctly.

[2016-08-14 09:49] TheLastProject commented on #2057
If that is your actual config, it's a good idea to actually use a search engine to see how ServerName works in Apache because I'm preeeetty sure you're not serving it from cachet.dev.

[2016-08-14 10:49] fcpwiz commented on #2057
Ok I fixed that config. Will restarting the VPS also reset Apache?

[2016-08-14 11:03] fcpwiz commented on #2057
@TheLastProject @GrahamCampbell @yoyosan Ok here's the current httpd-vhosts.conf:

[code]

[2016-08-14 11:06] GrahamCampbell commented on #2057
is it pointing to the public folder?

[2016-08-14 11:06] GrahamCampbell commented on #2057
Short answer is no looking at status.fluxxmc.com.

[2016-08-14 11:07] TheLastProject commented on #2057
Your issue, unfortunately, is clearly that you're just copy-pasting whatever people tell you without properly reading their posts. Re-read https://github.com/CachetHQ/Cachet/issues/2057#issuecomment-239664506 and try to actually understand what @yoyosan said, instead of copy-pasting it without thinking.

[2016-08-14 11:08] fcpwiz commented on #2057
Well, the folder "public_html" is the public folder but you said to use the absolute path thing.

[2016-08-14 11:10] yoyosan commented on #2057
`<absolute_path_to_Cachet>` is just a placeholder. You need to replace with your actual installation directory for Cachet.

Find it out by going into the Cachet installation directory on your VPS and issuing a `pwd` command. The output of the command will tell you the absolute path.

[2016-08-14 11:21] fcpwiz commented on #2057
@yoyosan Should if end in "/public"?

[2016-08-14 11:22] fcpwiz commented on #2057
Because that's what's on the docs.

[2016-08-14 11:25] yoyosan commented on #2057
Yes.

[2016-08-14 11:30] fcpwiz commented on #2057
@yoyosan This looks correct?

[code]

[2016-08-14 11:33] fcpwiz commented on #2057
[code]

@yoyosan This look correct?

[2016-08-14 11:34] yoyosan commented on #2057
Yes. But pay attention to the formatting from https://github.com/CachetHQ/Cachet/issues/2057#issuecomment-239658175.

[2016-08-14 11:45] fcpwiz commented on #2057
@yoyosan Hmm can you check if https://status.fluxxmc.com is working for you?

[2016-08-14 11:54] yoyosan commented on #2057
It's not.

There's something wrong with your Apache configuration but I don't know what.

[2016-08-14 11:59] fcpwiz commented on #2057
@yoyosan so here's the full conf: http://i.imgur.com/1RTu8R0.jpg

[2016-08-14 12:06] fcpwiz commented on #2057
The Cachet install is /home/fluxxmc/public_html/Cachet/public

And the config is /etc/httpd/conf/httpd-vhosts.conf

[2016-08-14 12:08] fcpwiz commented on #2057
Could this be caused by the .env file not being properly set up? I have "(redacted)" in place for my DB info.

[2016-08-14 13:09] fcpwiz commented on #2057
@yoyosan If the vhosts file isnt working for whatever reason, is there a way to set up a .htaccess file to route to /Cachet/public?

[2016-08-14 14:52] fcpwiz commented on #2057
@yoyosan

1. Take a look at the properly formatted conf file. Does it look correct?
![](https://cloud.githubusercontent.com/assets/2921172/17649873/2415d152-623f-11e6-8023-236c8782a028.png)

2. Just to let you know The Cachet install is `/home/fluxxmc/public_html/Cachet/public` & the config is `/etc/httpd/conf/httpd-vhosts.conf`.

3. Could this be caused by the fact that the .env file not being pr

[2016-08-15 04:02] kholloway opened #2058 "api/v1/components returns status as quoted string instead of integer"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [x] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [X] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
[code]
- [X] I have ran `rm -rf bootstrap/cache/*`.

### Expected behaviour

Calls to /api/v1/components endpoint shou

[2016-08-15 07:10] #2058 closed

[2016-08-15 11:28] fdhex commented on #1989
@jbrooksuk : thanks for the update, just trying the new version now, but updating a component status from the dashboard gives me the following error in the logs:

[code]

Seems like there is a little change required in Bus/Handlers/Events/Component/SendComponentUpdateEmailNotificationHandler.php  to accept the new object?

[2016-08-15 11:34] jbrooksuk commented on #1989
Oops, it looks like it.

Would you mind making this change? :)

[2016-08-15 13:41] kholloway commented on #2058
Thanks for the super quick fix!

[2016-08-15 15:27] giezi opened #2059 "Line breaks not working in maintenance or incidents messages"
Before submitting your issue, please make sure that you've checked the checkboxes below.
- [x ] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [x ] I am running at least PHP 5.5.9. _You can check this by running `php -v`._
- [x ] I have ran `rm -rf bootstrap/cache/*`.
### Expected behaviour

The line breaks (from the planned maintenance)

[2016-08-15 15:30] TheLastProject commented on #2059
This is correct behaviour, as the input field is Markdown. Markdown strips newlines. If you want to add a newline, add two spaces at the end of the previous line. It's one of the not so clean parts of Markdown.

[2016-08-15 15:33] jbrooksuk commented on #2059
@TheLastProject true, but it's annoying and misleading. Like HackerNews...

I've changed soft breaks to default to the expected behaviour.

[2016-08-15 15:34] TheLastProject commented on #2059
Can definitely agree that breaking the Markdown standard here is acceptable, yeah.

[2016-08-15 15:35] #2048 closed

[2016-08-15 15:35] jbrooksuk commented on #2048
Closed as I can't replicate.

[2016-08-15 15:39] giezi commented on #2059
Hi there

many thanks for your answers and your hint :)
We have added the two spaces, in the incident window it looks fine, but the exactly the same content in the maintenance window looks like this:

<img width="951" alt="screen shot 2016-08-15 at 17 36 54" src="https://cloud.githubusercontent.com/assets/1326203/17669744/1f982ae6-630f-11e6-8805-5575aa39088a.png">

Thanks!

[2016-08-15 15:39] jbrooksuk commented on #2057
What version of Cachet are you trying to install?

[2016-08-15 16:24] yoyosan commented on #2057
@jbrooksuk https://status.fluxxmc.com/Cachet/VERSION, `2.3.9`

[2016-08-15 17:04] jbrooksuk commented on #2057
Do you have `mod_indexes` enabled?

[2016-08-15 17:05] jbrooksuk commented on #2057
I'm closing this as it's not a Cachet issue, but please feel free to continue the discussion.

Also worth noting is that we do a provide an installation service, which starts at $149, you can email us at support@alt-three.com

[2016-08-15 17:05] #2057 closed

[2016-08-15 17:08] jbrooksuk opened #2060 "Add testing of mail"
We should test that email is sent, maybe with MailThief.

[2016-08-15 17:16] jbrooksuk commented on #2051
I think the way I'm going to handle this is to add a new status **and** at the same time make the status names configurable 💥

[2016-08-15 17:33] jbrooksuk commented on #1989
I've fixed this now.

[2016-08-15 17:37] joecohens commented on #2023
I think it's a cool idea, you can pin or unpin featured incidents. If you have a featured incident that you want to keep for a few weeks just to let people that it happened or that it has already been resolved but you need to make it notice, you won't need to paginate.

[2016-08-15 20:43] fcpwiz commented on #2057
@yoyosan is there a way to convert a server from Apache to Nginx easily?

[2016-08-16 07:34] jbrooksuk commented on #2057
Not @yoyosan but yes.

[2016-08-16 07:40] fdhex commented on #1989
Thanks! and sorry - had to focus on some other stuff afterwards.

[2016-08-16 07:48] fdhex commented on #1989
@jbrooksuk : I bet it sends the old status instead of the new one in the email generation though :D

"The component XXX has seen a status change. The component is now at Performance Issues." just when I updated from Performance issues to Major Outage.

[2016-08-16 07:57] jbrooksuk commented on #1989
New issue please ;)

[2016-08-16 08:02] fdhex opened #2061 "Wrong component status in status update email"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [x ] I am running the [2.4](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [x ] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [x ] I have ran `rm -rf bootstrap/cache/*`.

### Expected behaviour

* When a component gets updated to major outage, subscri

[2016-08-16 08:02] fdhex commented on #1989
Sure, created #2061 ! :)

[2016-08-16 12:41] fcpwiz commented on #2057
@jbrooksuk Like in a .htaccess file?

[2016-08-16 12:58] fcpwiz commented on #2057
@yoyosan Ok so I turned off directory listing. Also, I found the Apache error_log and it's extremely long. What's the best way to get it to you?

[2016-08-16 14:44] sapk commented on #2023
Maybe, I could propose a PR for implementing this. I have no experience with Laravel but a little with PHP and this feature may only need little modification.

[2016-08-16 15:06] jbrooksuk commented on #2023
Sure! We look forward to it :)

[2016-08-16 17:28] jbrooksuk opened #2062 "eonasdan-bootstrap-datetimepicker is 💩"
There are a couple of issues at play here...

1. The latest version is even more, 💩! We tried upgrading once and then the stupid thing kept not appearing in the right position.
2. The current version is bugged when there are time selectors.
3. It doesn't seem to be maintained any longer.

[2016-08-16 17:39] jbrooksuk opened #2063 "Dashboard 404 pages"
We need a dashboard error 404 page.

[2016-08-16 17:40] GrahamCampbell commented on #2062
Brutal. :trollface:

[2016-08-16 17:44] jbrooksuk commented on #2062
Looking for alternate suggestions!

[2016-08-16 23:58] jsdavis opened #2064 "Trouble getting Cachet to work on custom apache/php setup -- help appreciated!"
### Background Info
Okay, so I understand my situation is not at all supported; really, I could just use a hint from somebody with more intimate knowledge of this software to help me figure out what's going on here.

I'm interning at a company that would like to use Cachet internally; however, this company has strict security rules and heavily customizes much of their software. As a result, I am r

[2016-08-16 23:58] jsdavis commented on #2064
#### Laravel log on the aformentioned 404

[2016-08-16 21:09:33] production.WARNING: exception 'Symfony\Component\HttpKernel\Exception\HttpException' in /home/y/share/html/Cachet/app/Http/Middleware/Authenticate.php:51
Stack trace:
#0 [internal function]: CachetHQ\Cachet\Http\Middleware\Authenticate->handle(Object(Illuminate\Http\Request), Object(Closure))
#1 /home/y/share/html/Cachet/vendor/larav

[2016-08-17 00:00] jsdavis commented on #2064
#### Laravel log for error submitting form when CSRF validation is turned on

[2016-08-15 22:41:11] production.NOTICE: exception 'Illuminate\Session\TokenMismatchException' in /home/y/share/html/Cachet/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/VerifyCsrfToken.php:67
Stack trace:
#0 [internal function]: Illuminate\Foundation\Http\Middleware\VerifyCsrfToken->handle(Object(Il

[2016-08-17 06:57] jbrooksuk commented on #2064
As you said before, this kind of installation is completely unsupported and without intimate or "on-site" access, we'd be shooting in the dark.

We do offer an installation service if that's of any use?

[2016-08-17 08:09] GrahamCampbell commented on #2064
What session driver are you using please?

[2016-08-17 08:10] ConnorVG commented on #2062
Easiest option: rewrite the entire system to be an api driven vue spa...

:trollface:

[2016-08-17 08:12] jbrooksuk commented on #2062
You joke, but once we're on Laravel 5.3 and the new design is released, we'll be rewriting the dashboard with Vue anyway. It's mainly so that we can stop duplicating code and use the same API.

[2016-08-17 08:12] ConnorVG commented on #2062
Vue would be much easier to have mutated views via plugins, that's for sure.

[2016-08-17 08:14] jbrooksuk commented on #2062
;)

[2016-08-17 09:06] ConnorVG commented on #109
Is someone working on this or does no one mind if I take a crack at it this weekend?

[2016-08-17 09:07] jbrooksuk commented on #109
Please be my guest!

Most installations should be done via Git, keep that in mind :)

[2016-08-17 09:08] ConnorVG commented on #109
I have a few diff based update ideas for this. I'll mull it over.

[2016-08-17 09:09] GrahamCampbell commented on #109
Don't take too much crack. :trollface:

[2016-08-17 11:05] fcpwiz commented on #2057
@yoyosan @jbrooksuk Notice anything weird with the log?

[2016-08-17 11:12] jbrooksuk commented on #2057
Do you have `mod_rewrite` enabled?

[2016-08-17 11:14] fcpwiz commented on #2057
@jbrooksuk where would I check to see if I have that enabled? In the vhost config? In a .htaccess file?

[2016-08-17 11:15] jbrooksuk commented on #2057
Run `apache2ctl -M` and give me the output.

[2016-08-17 11:17] fcpwiz commented on #2057
`-bash: apache2ctl: command not found`

[2016-08-17 11:19] jbrooksuk commented on #2057
I'm sorry but this out of our remit of free support. If somebody else can help, please do, otherwise we're only able to offer our professional support service.

[2016-08-17 11:22] fcpwiz commented on #2057
@jbrooksuk Ah sorry, I had to do `apachectl -M`. Here's what showed up:

[code]

[2016-08-17 11:32] fcpwiz commented on #2057
@jbrooksuk To answer your question, it doesn't look like `mod_rewrite` is there. Is that correct?

[2016-08-17 11:35] jbrooksuk commented on #2057
It is, it's listed as `rewrite_module`.

I'm sorry to keep repeating this, but we're unable to help you without access to the server.

[2016-08-17 11:40] fcpwiz commented on #2057
Do you offer student discounts? @jbrooksuk

[2016-08-17 11:41] jbrooksuk commented on #2057
Please contact support@alt-three.com and we'll discuss something.

[2016-08-17 12:35] yoyosan opened #2067 "Update the Romanian translations"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [x] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [x] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [x] I have ran `rm -rf bootstrap/cache/*`.

### Expected behaviour

*All phrases should be translated in Romanian wh

[2016-08-17 12:36] yoyosan commented on #2067
I'm going to take care of this for milestone 2.4.

[2016-08-17 12:59] jbrooksuk commented on #2067
Remember to do this on https://translate.cachethq.io :)

I can add you as an official contributor to the project if you'd like.

[2016-08-17 14:15] jsdavis commented on #2064
@jbrooksuk I don't think we'll be going for the installation service, unfortunately.

@GrahamCampbell I'm using the file driver for sessions and cache

[2016-08-17 14:16] GrahamCampbell commented on #2064
Try using redis or apc.

[2016-08-17 14:21] fcpwiz commented on #2057
@jbrooksuk Alright, sent out an email :)

[2016-08-17 14:24] jbrooksuk commented on #2057
Thank you. I'll reply tonight.

[2016-08-17 14:28] fcpwiz commented on #2057
👍

[2016-08-17 14:49] yoyosan commented on #2067
I don't see how it can hurt :smile:

[2016-08-17 19:38] jsdavis commented on #2064
After trying it with redis (our internal version of PHP has deprecated apc), I've had no luck. On login attempts with CSRF token validation enabled, I get the TokenMismatchException. When I remove the CSRF Middleware from app/Http/Kernel.php, I get a 404 at /auth/dashboard.

Oddly enough, the non-company-compliant installation I set up seems to redirect at /dashboard after a login, not /auth/dashb

[2016-08-17 20:06] jsdavis commented on #2064
Digging really deep into some really old documentation, I have found that $_COOKIE and $_ENV are disabled in our version of PHP. Lovely

[2016-08-17 21:16] #2064 closed

[2016-08-17 21:17] GrahamCampbell commented on #2064
Laravel does use them. It loads them into the symfony request object right at the start.

[2016-08-17 21:17] GrahamCampbell commented on #2064
Closing since this isn't a bug in cachet. Feel free to keep the discussion going if you want though. :)

[2016-08-17 21:18] GrahamCampbell commented on #2064
Laravel uses all those deps, or cachet does in some way. We didn't just install them for the lols. :P

[2016-08-17 21:24] jsdavis commented on #2064
I know Laravel uses those, but what I wonder why none of them show up in the stack trace for the errors? Essentially, if I'm committing to patching those out for our installation, I need to know that's actually causing the issues I'm having

[2016-08-18 08:54] jbrooksuk commented on #2067
You should be able to accept translations now.

[2016-08-18 08:54] #2067 closed

[2016-08-19 00:12] apssupport opened #2071 "Cachet Not Sending Email When Issue is Fixed"
Good evening,

Not sure if it is just my setup or the way cachet currently behaves, but an email is only sent out automatically to subscribers when an incident is created, but no email is sent when an issue is fixed. Is this currently possible? If not, is it something in the pipeline?

Thanks,

Evangelos

[2016-08-19 08:38] fdhex commented on #2061
I'd like to help with that one as it's pretty significant issue for me, but somehow I can't pinpoint what is going wrong there. The changes introduced by @jbrooksuk regarding the old_status and new_status seem to be additions to the previous code, and the component still updated with the new $command status. Any ideas so that I could try to move forward with this?

[2016-08-19 08:47] ConnorVG commented on #2061
Seems like the perfect excuse to get #2060 put into action.

[2016-08-19 14:27] ConnorVG opened #2072 "Generalised Ordering JS"
This is a feature request.

I believe the javascript should be generalised a bit, allowing use of stuff such as the drag ordering on things other than components.

[2016-08-19 14:36] jbrooksuk commented on #2072
Yes, this is something I need to do for the Time Sensitive Actions branch.

[2016-08-19 18:49] RyunUK opened #2073 "One Click / Easy Install"
Just wondering if any "One Click" Install / Easy Install was created? Noticed it was mentioned for V1 originally? Just thinking it could benefit additional users in the future?

[2016-08-20 13:06] ConnorVG commented on #2071
You're right, there is no email that is sent on resolution. This is something that should be added.

[2016-08-20 13:08] apssupport commented on #2071
Thank you Connor! Is this something easy to implement?

[2016-08-20 13:25] ConnorVG commented on #2071
It's pretty simple to add, yeah. The only difficult part is the view (for people like me anyway :laughing:).

I can write you something up and show you if you like? I'm not at my computer right now but I'm happy to when I am.

On 20 Aug 2016 14:08, apssupport <notifications@github.com> wrote:

Thank you Connor! Is this something easy to implement?

—
You are receiving this because you commented.
R

[2016-08-20 14:54] apssupport commented on #2071
Thank you so much! I would definitely be interested to look at what you come up with. Anything would be better than no email at all 😄 . Appreciate your help as well as the entire team and all involved with this great tool.

[2016-08-20 15:31] ConnorVG commented on #2071
Sorry, was at the shop. You'll want to do something similar to this: https://github.com/connorvg/Cachet/tree/incident-close-email

See here: https://github.com/ConnorVG/Cachet/commit/d5d0260101d44f6b364b9bc9fafb18b1ed61beb6

[2016-08-20 15:40] apssupport commented on #2071
Thank you and no apologies needed, I did not expect anything so quickly, especially on a weekend! 😄  What would be the best way to implement your code? Just create and or edit the existing files with your changes? Thank you again for making this happen so quickly!!

[2016-08-20 15:50] ConnorVG commented on #2071
It all depends honestly. I believe this sort of thing needs to be a core feature but that is up to the Cachet team (pinging @jbrooksuk, @GrahamCampbell and @joecohens).

What I can suggest is possibly putting them in yourself for now but, all-in-all, it's entirely up to you.

[2016-08-20 16:01] apssupport commented on #2071
I completely agree with you, I believe it should be a core feature as well as it is just as important to get notified when an incident is resolved. Hopefully the team can add it in as a feature if they like.

In the meantime, I will add this in myself and test it out. Thank you so much again and hope you have a good weekend! Will let you know how this works out.

[2016-08-21 11:28] ConnorVG commented on #1228
Is this really that difficult? It'd just be a case of having metrics and then having graphs. These two can be separate. You add a graph, tell it what metrics to display then Bob's your uncle. This opens up the gate for alternate / cool graphs like incident graphs etc.

idk

[2016-08-21 14:25] apssupport opened #2077 "Error 500 on Dashboard"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [&#10003; ] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [&#10003; ] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [&#10003; ] I have ran `rm -rf bootstrap/cache/*`.

### Expected behaviour

*Should be able to acces

[2016-08-21 14:32] ConnorVG commented on #2077
Is this an altered version of Cachet? Could be to do with how the resolve email was implemented.

[2016-08-21 14:34] apssupport commented on #2077
Yup this is the one we modified yesterday with the resolve email. Could that have caused the backend to stop loading?

[2016-08-21 14:40] ConnorVG commented on #2077
I'm unsure how it could but it might be worth removing it to see if it is resolved. If not then the first thing to do would be to share the `storage/logs` log file that is the latest (https://gist.github.com)

[2016-08-21 14:40] apssupport commented on #2077
Seeing this in the log, not sure if that is the issue:

[2016-08-21 14:35:01] production.ERROR: PDOException: could not find driver in /var/www/Cachet/vendor/laravel/framework/src/Illuminate/Database/Connectors/Connector.php:55
Stack trace:
#0 /var/www/Cachet/vendor/laravel/framework/src/Illuminate/Database/Connectors/Connector.php(55): PDO->__construct('mysql:host=loca...', 'cachet', 'cachet_pass

[2016-08-21 14:41] ConnorVG commented on #2077
Ah. Seems your `.env` is incorrectly configured for your database driver. Ensure that is exists and that the correct db credentials are in there. (be careful not to accidentally post them here, too!)

[2016-08-21 14:45] apssupport commented on #2077
It might sound strange, but I cannot locate my .env file anymore. Looks like I might have to recreate it or something. The other strange part is that the front page works normally. I see all components and groups.

Thank you for pointing me in the right direction.

[2016-08-21 14:58] apssupport commented on #2077
Correction, the .env file is there still. Troubleshooting the file now.

[2016-08-21 15:35] apssupport commented on #2077
PDO issue was resolved, now log shows this:

#12 /var/www/Cachet/vendor/laravel/framework/src/Illuminate/Database/Console/Migrations/MigrateCommand.php(58): Illuminate\Database\Console\Migrations\MigrateCommand->prepareDatabase()
#13 [internal function]: Illuminate\Database\Console\Migrations\MigrateCommand->fire()
#14 /var/www/Cachet/vendor/laravel/framework/src/Illuminate/Container/Container.php

[2016-08-21 15:39] ConnorVG commented on #2077
Could you please post the whole stack trace? And could you please do so in a gist or at-least a code block?

Cheers.

[2016-08-21 15:44] apssupport commented on #2077
My apologies, will provide it in gist. Is there a specific section this is located for cachet?

[2016-08-21 16:01] wfjsw opened #2078 "zh-CN translation sync"
zh-CN translation on Crowdin has completed. Please sync it.

P.S. my slack account got deactivated :(

[2016-08-21 16:58] apssupport commented on #2077
Sorry for the delay, here is the full stack:

https://gist.github.com/apssupport/ce5b3a834b520b8913def5370434fca3

[2016-08-21 18:31] #2077 closed

[2016-08-21 18:32] GrahamCampbell commented on #2077
You need to install the pdo mysql extension driver, as every exception in that log indicates.

[2016-08-21 19:11] apssupport commented on #2077
Good evening Graham,

PDO is installed but that hasn't fixed the issue.

[code]

[2016-08-21 19:55] apssupport commented on #2077
This is the new stack trace:

[code]

`

[2016-08-21 20:16] apssupport commented on #2077
Some progress, I now see the login screen, but get Houston We A Problem after logging in.

[2016-08-21 20:32] apssupport commented on #2077
I got in, had to install PHP 5.6 again, disable PHP 7.0 and enable 5.6.

[2016-08-22 08:31] ConnorVG commented on #2077
How did I not see that `:facepalm:`

[2016-08-22 08:32] GrahamCampbell commented on #2077
You've cut off the top which is the one thing that actually matters?

[2016-08-22 08:35] ConnorVG commented on #2077
As a side note, ` php -i|grep PDO` shouldn't be used.

Instead:
* using php-fpm: `php-fpm -m | grep pdo`
* using php-cli: `php -m | grep pdo`

Don't forget that `php-fpm` almost always runs from a separate configuration file.

[2016-08-22 11:53] jbrooksuk commented on #2073
We used to support Heroku's one-click deploy system, but it was removed when they changed their pricing.

It's _very_ unlikely we'll re-introduce any kind of one-click deploy system due to the fact that there isn't one system like Heroku, that isn't Heroku that is widely used.

Also, a Cachet [installation](https://docs.cachethq.io/docs/installing-cachet) is pretty simple.

[2016-08-22 11:53] #2073 closed

[2016-08-22 11:54] jbrooksuk commented on #2078
I'll sync all languages at some point this week.

You had been inactive for a long time :)

[2016-08-22 11:54] #2078 closed

[2016-08-22 11:56] jbrooksuk commented on #1228
@ConnorVG that seems reasonable.

[2016-08-22 11:57] jbrooksuk commented on #2071
This is something that will be coming in v3.0.0 where we're introducing Incident Updates. An incident technically doesn't get resolved currently.

[2016-08-22 11:57] #2071 closed

[2016-08-22 11:57] #2072 closed

[2016-08-22 12:57] wfjsw commented on #2078
Many Real World stuff :)

[2016-08-22 14:00] lnxslck commented on #1601
@jbrooksuk Can you instruct me on how to set up that custom header that auto refreshes the page for every visitor?

[2016-08-22 14:07] jbrooksuk commented on #1601
[code]

This will refresh the page every 60 seconds.

[2016-08-22 14:18] ConnorVG commented on #1601
Though I think this is a bit of a silly practice - I imagine someone will (when the plugin system is released) - release some sort of auto-refresh plugin that doesn't reload the entire page. This is a feature that I'd like myself but it doesn't seem like something that should be in core.

[2016-08-22 14:19] jbrooksuk commented on #1601
That said, we _could_ add it as an option. I'm not opposed to options.

[2016-08-22 14:33] apssupport commented on #2077
@ConnorVG after further working with it last night, if I disabled both php5 and php5.6, php7.0 and cachet together work as well (98%) which I didn't doubt that it won't. I just ran the command you gave and good news, it still shows them installed.

The issue I am now facing is that, from the dashboard if I want to update an incident and change the status to **"Fixed"** the page goes to a 500 Inter

[2016-08-22 14:38] lnxslck commented on #1601
Thanks @jbrooksuk

Based on previous posts, I think it would be beneficial if we could have an option on the dashboard, that we could turn ON or OFF auto-refresh of status page or components status.

[2016-08-22 15:22] #2033 closed

[2016-08-22 16:40] apssupport commented on #2077
Just an update on this, looking at the stack trace, it looks like it doesn't like something with the custom file app/Bus/Handlers/Events/Incident/SendIncidentResolvedEmailNotificationHandler.php and throws an exception.

[code]

[2016-08-22 17:02] apssupport commented on #2077
Hi Connor,

Before I try that, I think the issue might have been how it copied over from the browser to the box. I was comparing them side by side and on my side it was off. I corrected the new files you had created and will test it out soon. If I do need to change it to what you just suggested, which line would I make this change on?

Also, the fact you took time to cook something up like this fo

[2016-08-22 17:16] apssupport commented on #2071
@jbrooksuk Thank you!

[2016-08-22 17:18] apssupport commented on #2077
@ConnorVG  Ok, scratch that, looks like I will need to update to what you said. When you have time, what needs to be changed to `IncidentWasUpdatedEvent` ?

[2016-08-22 17:35] #2062 closed

[2016-08-23 03:35] apssupport commented on #2077
@ConnorVG  I changed the few instances of IncidentWasReportedEvent to IncidentWasUpdatedEvent in that first file and now the good news is that the fixed message goes through from zabbix to cachet as well as the dashboard, but now the initial email of an incident got sent out 17 minutes after the incident occurred. Should I have only changed the first instance, line 14 and not the rest? Would somet

[2016-08-23 07:58] ConnorVG commented on #2077
Just change this line: `https://github.com/ConnorVG/Cachet/commit/d5d0260101d44f6b364b9bc9fafb18b1ed61beb6#diff-e552f0e5b068c915b8e3dbfc607b788cR14`

and this line: `https://github.com/ConnorVG/Cachet/commit/d5d0260101d44f6b364b9bc9fafb18b1ed61beb6#diff-e552f0e5b068c915b8e3dbfc607b788cR57`

That's all you need to do. Change those to `IncidentWasUpdatedEvent`.

Let's stop this discussion here, it's

[2016-08-23 08:39] fdhex commented on #2061
@ConnorVG Thanks for the work! Regarding the bug, have you had the chance to take a look?

[2016-08-23 08:56] ConnorVG commented on #2061
@fdhex it's something that will surely be looked into and easier to avoid once we have proper mail testing in place. After my initial testing I wasn't actually able to replicate this bug myself, though.

[2016-08-23 08:59] fdhex commented on #2061
Which may correlate with me not finding what's the problem in the code - I'll check my installation, maybe some local issues.

[2016-08-23 09:40] fdhex commented on #2061
Could this be an instance of an email sending job is created - before - the update to the database is done?

[2016-08-23 09:44] ConnorVG commented on #2061
@fdhex that could very much be it, actually

[2016-08-23 10:16] lnxslck commented on #490
@jbrooksuk was this implemented? I tried $COMPONENT on 2.3.9 and it didn't work

[2016-08-23 10:43] fdhex commented on #2061
![debugbar](https://cloud.githubusercontent.com/assets/902517/17889105/fd104ed8-692e-11e6-811c-14f974a08482.png)

I don't know much Laravel but I've tried to use this Debugbar I found, and here are the requests when updating the component from 1 to 2. I'm not sure if they are ordered in the order they are done, but if yes that's indeed the issue. Not sure how to fix it yet though...

[2016-08-23 10:46] ConnorVG commented on #2061
We should instead be using the variables on the event (https://github.com/CachetHQ/Cachet/blob/2.4/app/Bus/Events/Component/ComponentStatusWasUpdatedEvent.php#L35) rather than the property on the component (https://github.com/CachetHQ/Cachet/blob/2.4/app/Bus/Handlers/Events/Component/SendComponentUpdateEmailNotificationHandler.php#L100)

[2016-08-23 11:07] fdhex commented on #2061
But it's two different Events no? Can you send a variable from one to the other?

[2016-08-23 11:07] jbrooksuk commented on #490
Yes, but we don't document them very well to be honest.

[2016-08-23 11:43] jbrooksuk commented on #2061
@ConnorVG I'm going to assign this one to you, since you're already kinda on it.

[2016-08-23 11:46] lnxslck commented on #490
I can help you with that if you want. Just point me in the right direction

[2016-08-23 11:50] ConnorVG commented on #490
:point_left:

[2016-08-23 11:54] jbrooksuk opened #2080 "Tidy up setup"
The setup needs a bit of TLC.
- [ ] Start using commands.
- [x] Fix mail validation.
- [x] Potentially improve error handling.

[2016-08-23 12:40] #2045 closed

[2016-08-23 14:29] apssupport commented on #2077
@ConnorVG Thank you!

[2016-08-23 17:46] karthik-22feb opened #2082 "General error: 1615 Prepared statement needs to be re-prepared"
Hi Team,

I am using the latest version of CACHE ( 2.3.0-RC4) with Mysql 5.0.11 & PHP 5.5.9

Sometimes i get "Error 500 - internal server error" in my website. (Refer screenshot)

This error resolves automatically after sometime without clearing the cache in BOOTSTRAP folder. The log always shows one common error message saying 'General error: 1615 Prepared statement needs to be re-prepared' '

Th

[2016-08-23 17:50] #2082 closed

[2016-08-23 17:51] GrahamCampbell commented on #2082
Your MySQL version is older than 5.1. Please upgrade to a newer version. 5.7 is newest,

[2016-08-23 17:52] GrahamCampbell commented on #2082
You should also upgrade to the latest version of Cachet.

[2016-08-23 17:55] karthik-22feb commented on #2082
We have done many customization in this cachet version. Is it possible to resolve this issue with out upgrading the MYSQL & CACHET?

[2016-08-23 22:00] fcpwiz opened #2083 "Metrics set up"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [x] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [x] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [x] I have ran `rm -rf bootstrap/cache/*`.

Hi,

I'm trying to set up a ping response time for metrics. I'm using Pi

[2016-08-24 02:35] wonhchoi commented on #2061
Just wanted to let the group know that i was able to replicate the issue running php 5.6.24. I have tried both database and sync queues, haven't had a chance to try the other.

[2016-08-25 12:35] lnxslck commented on #1918
@Bekbolatov That new metric tool you are working with, do you have it integrated into Cachet?

[2016-08-25 19:26] anonrig commented on #1507
+1

[2016-08-25 19:33] anonrig commented on #1893
It would be really good if Heroku was supported.

[2016-08-26 08:32] yoyosan commented on #1893
I can take a swing at this.

[2016-08-26 08:47] jbrooksuk commented on #1893
Sure, thanks.

[2016-08-26 14:50] djgalloway opened #2085 "E-mail notifications don't properly populate URL to Cachet"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [X] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [X] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [X] I have ran `rm -rf bootstrap/cache/*`.

### Expected behaviour

E-mail notifications contain links that accurate

[2016-08-26 15:05] jbrooksuk commented on #2085
Cachet should be using the `APP_URL` value in `.env`. Have you set yours?

[2016-08-26 15:40] djgalloway commented on #2085
Yep.  I actually just got another notification of a Component change and it used the public IP of the VM instead of 'localhost'

[2016-08-27 07:50] jbrooksuk opened #2086 "Consume our own API in the dashboard"
I want to drop the Dashboard API routes that we have and allow the dashboard to consume the API without authentication.

[2016-08-27 07:55] jbrooksuk commented on #2086
The way Laravel Passport handles this would work well for us. We can send a `X-CSRF-TOKEN` header in any API requests made from the dashboard.

[2016-08-27 07:58] jbrooksuk commented on #2085
After changing the `.env` values you'll need to run:

[code]

[2016-08-27 15:46] leovarmak opened #2087 "Nothing Personal ! Just a doubt"
I really respect you people and there is no doubting that thing. Without you open sourcing this thing none of us would have enjoyed this as we are enjoying now. But is there a way I am remove The whole footer ? This includes
- Powered by Cachet
- RSS
- Atom

If yes, how can I do it ?

[2016-08-27 17:06] jbrooksuk commented on #2087
You have two options:

1. Set some custom HTML code in the footer. This can be done in the dashboard. Go into settings.
2. Turn off the "Show support for Cachet" checkbox in the dashboard. Obviously, we'd rather you keep that as it'd mean a lot to us 😀

You can't turn off the RSS and ATOM buttons though. You'll need to set some custom HTML for that.

[2016-08-27 17:06] #2087 closed

[2016-08-28 10:39] leovarmak opened #2088 "Display only Blackout Dates"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [x] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [x] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [x] I have ran `rm -rf bootstrap/cache/*`.

Hey !
I would like to only display the dates where incidents happened. H

[2016-08-28 18:14] fdhex commented on #2061
Above fix is working for me!

[2016-08-29 19:04] djgalloway commented on #2085
Ok. I took the app down, ran the commands you listed, brought the app back up, enabled a subscription so I'd get a notification and the IP address is still what came in the "Manage your subscription" button's URL.

[2016-08-29 19:16] djgalloway commented on #2085
Got 5 in a row with the IP address -- which works -- but you mentioned it _should be_ the FQDN?  Let me know what other info you need to debug.

[2016-08-30 08:03] ConnorVG commented on #2085
@djgalloway out of interest, could you check your corresponding environment's cached config file and see what the domain is set to?

EG: if you're in `staging` then the file should be `bootstrap/cachet/staging.php`.

[2016-08-30 20:12] djgalloway commented on #2085
@ConnorVG `app_domain` is actually set to the FQDN (including http://)

[2016-08-31 08:09] ConnorVG commented on #2085
OK, last important questions... What queue driver are you using and are you processing your queue in the same environment as you are hosting the website? If you're not using the `sync` queue driver, what are the arguments you're passing to the queue worker artisan command?

IE: if you're running the website in a VM, do you also run the queue worker within the VM?

[2016-08-31 12:16] lnxslck commented on #1187
I have Display Graphs on status page active, and still i see no metrics graph on the status page. I can create metrics and add metric points, but no graph is displayed.

I'm on v2.3.10

[2016-08-31 12:25] jbrooksuk commented on #1187
@lnxslck are you allowing metrics to display in the settings above?

[2016-08-31 12:43] lnxslck commented on #1187
@jbrooksuk  Thanks for your reply.  When i created the metric in the dashboard, i clicked the "Display chart on status page?" option. Is that it?

[2016-08-31 13:00] lnxslck commented on #1187
@jbrooksuk  I just saw what you meant. We also need to activate option "Display graphs on status page" but when i click it and hit Save, it reverts back to un-ticked.

[2016-08-31 13:10] TheoBearman opened #2090 "500 Error"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [x] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [x] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [x] I have ran ` #rm -rf bootstrap/cache/*`.

### Expected behaviour

Normal Cachet status page.

### Actual behavio

[2016-08-31 13:13] lnxslck commented on #1187
I just fixed that by doing
chmod -R 777 /var/www/Cachet/bootstrap

[2016-08-31 14:59] lnxslck opened #2091 "Add feature to distinguish different metric points from different places on the same metric graph"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [x ] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [ x] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [ ] I have ran `rm -rf bootstrap/cache/*`.

### Expected behaviour

Let's say we have one metric graph, that recei

[2016-08-31 15:43] jbrooksuk commented on #2090
Fixed in 69bf212eb56d5a1b70c6778cb137ffbc9271625c.

Do you auto-deploy the `2.4` branch?

[2016-08-31 15:43] #2090 closed

[2016-08-31 15:49] TheoBearman commented on #2090
No. I'm just sad.

[2016-09-01 06:19] mjrussell commented on #1656
This would be a great feature. I saw that #1595 is merged, is there any movement on this now?

[2016-09-01 06:47] jbrooksuk commented on #1656
It's merged but only into the v3 branch, we're still working on v2.4 first :)

[2016-09-01 08:16] ConnorVG commented on #2091
This would require a slightly radical change to the way the metric points work, though we could do something like _metric sources_.

idk...

[2016-09-01 08:18] lnxslck commented on #2091
@ConnorVG Maybe just a different color for each "different" metric point?

Let's say you have a component group with 3 components, so each component could have a colour ?

[2016-09-01 08:56] ConnorVG commented on #2091
:rainbow:

[2016-09-04 14:33] GrahamCampbell opened #2092 "Longer time metrics"
It would be good to have a view that shows the whole year as well as just the last 30 days. The use case here is sending the daily error rate from StyleCI and then being able to look at weekly and monthly trends.

[2016-09-04 17:34] jbrooksuk commented on #2088
Putting this into the v3.0.0 branch where we'll be refactoring a lot of incident stuff 😄

[2016-09-04 17:35] jbrooksuk commented on #2083
Pingometer doesn't deal with metrics (as far as I'm aware). You'll have to do this by integrating the API into your application/service yourself.

[2016-09-04 17:35] #2083 closed

[2016-09-04 17:38] jbrooksuk commented on #2080
@joecohens do you have any ideas on how to redesign the setup to make it an easier flow.

[2016-09-04 17:42] jbrooksuk commented on #1922
@GrahamCampbell any idea how we can fix these issues?

[2016-09-04 17:44] jbrooksuk commented on #2092
Assigned to v3.0.0 to go with the new design (unless this gets done earlier. @joecohens, what's the plan?)

[2016-09-04 18:00] leovarmak commented on #2088
Cool :+1:

[2016-09-05 07:48] GrahamCampbell commented on #1922
I'll think about this. :D

[2016-09-05 08:31] ConnorVG commented on #1922
You could attach aggregates to metrics? Just an idea.

[2016-09-05 18:37] jbrooksuk commented on #2035
We don't need the threshold factor check as we're storing minutes only.

Assigning to you @GrahamCampbell for the weekend.

[2016-09-06 07:56] jbrooksuk commented on #1999
I'm going to push this back a release.

[2016-09-06 11:11] mhayes14 opened #2094 "Settings not being applied"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [x] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [x] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [x] I have ran `rm -rf bootstrap/cache/*`.

### Expected behaviour

Changing the settings under 'Application Setup'

[2016-09-06 11:12] GrahamCampbell commented on #2094
Does your web server have write access to bootstrap/cachet?

[2016-09-06 11:14] mhayes14 commented on #2094
No it did not have write access, now it does everything is working again. That was a ridiculously quick response, thank you very much. It must have been lost after I performed an upgrade a couple of days ago, I will keep this in mind in future. Thanks again.

[2016-09-06 11:14] #2094 closed

[2016-09-06 11:17] GrahamCampbell commented on #2094
np :)

[2016-09-06 11:55] mhayes14 opened #2095 "MailGun docs incorrect"
Hi

The [Cachet mail docs](https://docs.cachethq.io/docs/configuring-mail) specify environment variables `MAILGUN_DOMAIN` and  `MAILGUN_SECRET` for using MailGun.

However looking at https://github.com/CachetHQ/Cachet/blob/v2.3.10/config/services.php (and after being confused for a while!) it seems `MAIL_USERNAME` is used for the domain and `MAIL_PASSWORD` is used for the secret.

I haven't made a

[2016-09-06 12:09] mhayes14 opened #2096 "Subscriptions can be managed/removed by anyone"
Before submitting your issue, please make sure that you've checked the checkboxes below.

- [x] I am running the [latest release](https://github.com/CachetHQ/Cachet/releases/latest) version of Cachet.
- [x] I am running at least PHP 5.5.9. *You can check this by running `php -v`.*
- [x] I have ran `rm -rf bootstrap/cache/*`.

### Expected behaviour

If you try to subscribe with an email address wh

[2016-09-06 12:27] jbrooksuk commented on #2096
This is fixed in https://github.com/CachetHQ/Cachet/commit/838beac285deb5b1969f87ea18f6eaac2778080a and will be in v2.4.0 when it's released.

[2016-09-06 12:27] #2096 closed

[2016-09-06 18:06] jhamilton09 opened #2097 "Log person that reported incident"
### Expected behaviour

From the dashboard, I should be able to see which team member logged an incident so I can follow-up with them for more information.

### Actual behaviour

An incident exists, can be created\edited by anybody, I cannot find out whom created it.
_I agree that the user name should not be shown (or should be an option) on the public page but I think it would be beneficial to sh

[2016-09-06 21:35] jbrooksuk commented on #2023
Closed by https://github.com/CachetHQ/Cachet/pull/2065

[2016-09-06 21:35] #2023 closed

[2016-09-07 07:59] ConnorVG commented on #2097
I agree, general auditing would is quite a fundamental feature that should be supported.

[2016-09-07 08:11] jbrooksuk commented on #2097
What about when we have an API and an incident was not created by a user? This is the reason we removed the `incidents.user_id` tracking in the past.

[2016-09-07 08:13] ConnorVG commented on #2097
Generic auditing with input sources. A user could be an input source, a consumer could be an input source, etc?

[2016-09-07 14:58] AndronikiEnartia commented on #1685
Any answer on this?
I have exactly the same problem with Smashmint.

[2016-09-07 16:25] djgalloway commented on #2085
`QUEUE_DRIVER=sync`

The site and application are all running on the same VM.  A small subset of components are updated by a remote host.  Does that answer your question?

[2016-09-07 18:25] gadago commented on #2071
@jbrooksuk I think this should also be a feature for when maintenances are completed/fixed.

[2016-09-07 18:47] jbrooksuk commented on #2071
@gadago could you open a new issue for that please? :)

[2016-09-08 17:17] mnapoli opened #2098 "Error in composer install"
I just downloaded the latest version and ran `composer install --no-dev -o`, here is what I got at the end:

[code]

[2016-09-08 17:55] yoyosan commented on #2098
Did you get the latest from [releases](https://github.com/CachetHQ/Cachet/releases)?
Because I just ran the command and it finished just fine.

Maybe try first
[code]

then

[code]
?

[2016-09-08 18:37] jbrooksuk commented on #2098
Are you upgrading from a previous release?

[2016-09-08 19:04] mnapoli commented on #2098
Nope I really just downloaded the zip and run composer install. I noticed some directories in vendor were empty (symfony ones for example)… Weird, looks like a Composer error (1.1.something). I upgraded PHP (7) and Composer and still the same result. Tried clearing `vendor` and reinstalling, same.

[2016-09-08 19:06] mnapoli commented on #2098
I just tried from a different PC and it works… Maybe I need to clear my Composer cache or something…

Sorry everyone!

[2016-09-08 19:06] #2098 closed

[2016-09-11 14:21] snowball2 opened #2099 "http://cachethost.example.com/dashboard/components - ERR_EMPTY_RESPONSE for >200 Components"
We have ~370 components in 7 component groups. When trying to view the components page dashboard/components the request eventually times out with empty response. I'm unsure of the threshold but the components view page works with 190 components.

Does Cachet have a maximum component level?

[2016-09-11 14:35] snowball2 opened #2100 "Sorting by status in component groups"
Is it possible for one of the following 2 options to be added to the component group editor in addition to default collapsed options. Either of these options would improve presentation of groups with large numbers of components to prevent the user having to scroll through a large number of operational components to find the component with issues. Option 1 would be the preferable solution.
1. \- St

[2016-09-11 14:44] leovarmak opened #2101 "[Question] ETA on v3.0 ?"

[2016-09-11 15:21] GrahamCampbell commented on #2101
Ages, sorry. We still might rename 2.4 to 3.0 anyway, and the current 3.0 will become 4.0.

[2016-09-11 15:21] #2101 closed

[2016-09-11 15:21] GrahamCampbell commented on #2101
I'd say at least 6 months.

[2016-09-11 15:34] leovarmak commented on #2101
Shit. Thats a lot of time. Anyways goodluck ! Rock it

[2016-09-11 15:41] jbrooksuk commented on #2099
There is no upper-bound limit in Cachet. The issue here will be that your server is running out of memory.

Try increasing `memory_limit` in your `php.ini` file.

[2016-09-12 07:56] ConnorVG commented on #2100
It's a bit odd, I imagine a layout that is constantly changing would just be annoying to continually interpret?

[2016-09-12 07:58] ConnorVG commented on #2099
I'm not sure >190 components should really be using so much memory. Is this something we need to look in to? That's not much in the grand scheme of things...

[2016-09-12 08:01] jbrooksuk commented on #2100
This is physically impossible. A group can't be collapsed and uncollapsed. It's Schrödinger's group 😆

Although this is possible, it defies the order in which the components may have been put into.

This needs more thought before we do anything :)

[2016-09-12 08:02] jbrooksuk commented on #2099
@ConnorVG I don't think we're doing anything amazing here, we're just listing them all. I'll assign to you :)

[2016-09-12 08:02] jbrooksuk commented on #2099
@snowball2 what DB are you using actually? I've got a feeling my first comment was misinformed. I imagine SQLite?

[2016-09-12 08:08] snowball2 commented on #2099
Hi James,  using MySQL. First comment actually resolved the issue though; upping PHP memory_limit from 256M to 512M fixed the issue.

[2016-09-12 08:12] ConnorVG commented on #2099
@snowball2 have you got many incidents?

[2016-09-12 09:21] snowball2 commented on #2099
Hi Connor, no - 6 incidents at the moment.

[2016-09-12 09:58] snowball2 commented on #2100
Attached screenshot of what I mean (option 1)- The Servers component group contains 120 components with 1 component experiencing issues. To avoid the user having to scroll through the list of servers looking for the one with issues, I would have the problem server displayed while keeping the group collapsed.

![image](https://cloud.githubusercontent.com/assets/4521029/18431954/5ef6e6d6-78d7-11e6-8

[2016-09-12 12:21] cjsoftuk opened #2102 "v2.3.10 - Constantly redirected to /setup"
I've just installed cachet - and it'd be great..... if I could get past being redirected to /setup every time I try and view the page.

I've got as far as working out that the Config name "setting.app_name" isn't set on Line 33 of "app/Http/Middleware/ReadyForUse.php" - but I don't understand why.  It's there in the database..... but it's notably missing from bootstrap/cache/config.php though.....

[2016-09-12 12:26] ConnorVG commented on #2102
Try deleting all the `.php` files in the `bootstrap/cache` and `bootstrap/cachet` folders and report what happens, please :smile:

[2016-09-12 13:17] cjsoftuk commented on #2102
@ConnorVG - Thanks. All sorted.

You've now made me curious though, is there any reason why those folder both need to be writable by the user running the website.  It seems there are a lot of folders that cachet needs write access to, including some where people could dump executable PHP....

[2016-09-12 13:38] ConnorVG commented on #2102
No one can dump executable PHP in the `bootstrap/cache` nor the `bootstrap/cachet` folder - they're purely performance based files. Generated for optimising certain aspects of the application.

When it comes to anything else, such as `storage`, this is entirely dependant on the developer. The *only* possible way a user would be able to dump anything in that to have it ran is if the developer makes

[2016-09-12 13:42] cjsoftuk commented on #2102
@ConnorVG - OK.  I'm just a paranoid sysadmin who likes to understand why something should be chmodded or chowned to the user that's running the code before doing as the instructions say.  My general rule is that no matter where the PHP files are on the system, if they've got write access from anyone other than the application maintainer and root without a valid explanation they don't get that per

[2016-09-12 13:43] cjsoftuk commented on #2102
Thanks for the help though - all up and running now.

[2016-09-12 13:43] #2102 closed

[2016-09-13 20:02] svrooij opened #2103 "Installation like Wordpress"
Would it be possible to provide us with a zip file that we can unzip on a web server, input the database connection and just have a working version of cachet?
We like the way cachet looks and works!!! Only the installation is a bit of a hassle.

We would like to setup this status page on an external hoster where we don't have ssh access to.

(And to be completely honest, I don't get the entire com

[2016-09-13 21:07] #2103 closed

[2016-09-13 21:07] GrahamCampbell commented on #2103
Cachet cannot be installed on such servers, sorry.

[2016-09-13 21:08] GrahamCampbell commented on #2103
Installation of cachet is already pretty easy. Just put it on the server, run 2 commands, and follow the web interface.

[2016-09-14 14:26] jetie commented on #333
I'm new here, but find it tough to follow the logic of this post, you ask for something, you restate it differently, you close it, you modify a milestone. Was this feature implemented then? Thanks for your patience.

[2016-09-14 14:42] ConnorVG commented on #333
James wanted to add an export / import feature to the Cachet dashboard. He later decided there is no need to this as anyone who would have such access would also have access to the database so it'll be logical to instead use the database's export and import functionality.

[2016-09-14 14:46] jetie commented on #333
Now I follow. Thanks Connor.

[2016-09-20 11:04] optiroot opened #2104 "cachet.metric_points doesn't exist (mySQL)"
[code]

Like in #1938 this time is for the "metric_points" table. In fact I was using a prefix for the tables and using it will cause a 500 error (the page will load normally, but the metric will not - in fact checking in Browser Console it gives back a 500 error to the metric page).

Renaming my tables without the prefix and updating the `.env` will fix the problem.

This is ever about prefixes i

[2016-09-20 11:10] ConnorVG commented on #2104
* What is your prefix set to in `.env` (including the key, ie: `SOME_KEY=Some value!`?
* Can you list the tables in your database?

As far as I am aware, [this](https://github.com/CachetHQ/Cachet/blob/2.4/app/Repositories/Metric/AbstractMetricRepository.php#L55-L62) should get around this issue.

What version of Cachet are you using?

[2016-09-20 12:12] 1egoman opened #2105 "Mentioning Cachet on Backstroke's home page"
Hello!

I noticed that one of my projects, Backstroke (http://backstroke.us), is being used a lot with this repo. I'm not sure if many people are using Backstroke on their own forks or whether you've set up a hook on this repo, but from what I can tell it seems to be the latter.

Anyway, if you are indeed using Backstroke, would you mind if I mention Cachet on Backstroke's website? Here's what it

[2016-09-20 12:51] yoyosan commented on #2105
Hi! @jbrooksuk is also a maintainer.

[2016-09-20 12:54] GrahamCampbell commented on #2105
We all get notified anyway. Please contact us at support@alt-three.com regarding things that arn't code specific issues.

[2016-09-20 12:54] #2105 closed

[2016-09-20 13:09] 1egoman commented on #2105
Ok, will do.

[2016-09-20 17:21] GrahamCampbell commented on #2105
Thanks :)

[2016-09-21 15:47] Tokkemon opened #2106 "Installing Under a Directory?"
I've installed Cachet on an internal development server, but I wish to have the application's requests all under a directory url like so:

Default setup: http://localhost/
Wanted setup: http://localhost/cachet

Is this possible with some clever apache workaround? Using CentOS 7 and MySQL if that matters.

[2016-09-21 16:55] jbrooksuk commented on #2104
This is important, because it's definitely fixed in v2.3 :)

[2016-09-21 16:55] #2104 closed

[2016-09-21 17:00] jbrooksuk commented on #2106
Cachet shouldn't be installed under a sub-directory. You need to install at a sub-domain or root domain level.

[2016-09-21 17:00] #2106 closed

[2016-09-21 17:20] GrahamCampbell commented on #2106
Yeh, that's possible. Closing this since it's not a big report. Feel free to discuss on forums or research this. We also offer an install service. Contact support@alt-three.com.

[2016-09-21 20:16] optiroot commented on #2104
@ConnorVG
I was using `st_` as prefix, but to fix this problem I had to remove it and renaming all the database tables.
The tables are:
`cache, components, component_groups, component_tag, failed_jobs, incidents, incident_templates, invites, jobs, metrics, metric_points, migrations, sessions, settings, subscribers, subscriptions, tags, users`

For best understanding, I attach a screenshot from php

[2016-09-22 04:45] Tokkemon commented on #2106
Where's the link to the forums? I can't find it.

I don't understand *why* other than it simply hasn't been implemented yet. If so, you should note that in the documentation. It's kind of a fundamental issue, though. I was very surprised it hasn't been taken care of.

[2016-09-22 14:59] mm-manageit opened #2107 "Support for notifications"
We currently use StatusPages.io and our users overwhelmingly utilize the SMS notifications over the email (i.e..  5392 SMS, 297 email). This also comes into major play if services you are reporting on include email servers(i.e.. Exchange, Office365 etc...), as if they are down subscribers will not get notifications.

I recommend Twilio for this as it is dirt cheap, and extremely easy to integrate

[2016-09-22 15:03] ConnorVG commented on #2107
Thanks for the input, SMS notifications would be pretty swish. If we were to add SMS support, we wouldn't limit it to one service (like Twilio) though. This would be pretty easy to add with Laravel 5.3's notification system :wink:

[2016-09-22 15:06] mm-manageit commented on #2107
The most common options are Twilio, Nexmo, and Plivo. I am not familiar with the programming interfaces of Nexmo and Plivo, so not sure of their level of difficulty for integration.

[2016-09-22 15:09] mm-manageit commented on #2107
Looking at the Doc's at the Larevel Notifications - SMS, It appears out of the box it supports Nexmo after getting the Nexmo library with composer.

[2016-09-22 15:19] hExPY opened #2108 "LDAP Authentication"
Hey guys,

i've been wondering if you would ever implement a LDAP Authentication.

Kind regards,

[2016-09-22 15:24] mm-manageit opened #2109 "Support for Subscriptions to Individual Groups/Components"
Supporting the ability to subscribe to individual Groups/Components would allow subscribers to choose which items they want to be notified about in cases where the status page contains several groups that may not affect the user.

In theory would only require changing the Subscribe form to include: (Using the Demo Groups)
Subscribe To:
All []
Websites []
Alt Three []
Other Components []

Then chan

[2016-09-22 15:46] ConnorVG commented on #2108
It's something that would certainly be of great use to Cachet. Although... it's a pretty big job.

[2016-09-22 18:13] jbrooksuk commented on #2109
This is done in v2.3. At least, you can subscribe to individual components.

[2016-09-22 18:13] #2109 closed

[2016-09-22 18:15] mm-manageit commented on #2109
Oh ok, hadn't seen that yet, thanks.

[2016-09-22 18:22] jbrooksuk commented on #2099
We'll investigate memory usage before the v2.4 release. 256M is quite low though, but I wouldn't have imagined it being like this.

It could be related to your MySQL setup?

[2016-09-22 18:22] #2099 closed

[2016-09-22 18:22] jbrooksuk commented on #2109
No problem :)

One thing we don't yet have is the ability to subscribe to a group and any new components added. That'll come eventually :)

[2016-09-22 18:28] Siriusa77II opened #2111 "French translation error"
Hey!
i find a problem in french translation.
she is patrtailly in German.
i work on a better translation, where can i post it?

[2016-09-22 18:39] jbrooksuk commented on #2111
Can you submit any translation issues to https://translate.cachethq.io

Thanks :)

[2016-09-22 18:39] #2111 closed

[2016-09-23 14:21] karaktaka opened #2112 "Modify Substrictions via API"
It seems like modifying subscriptions via the api isn't working properly. I managed to create a new Subscriber with specified subscriptions, but most the time I get all or none subscriptions.

I checked the demopage at https://demo.cachethq.io/ and tried to create it there, but got the same results.

[2016-09-24 07:15] joecohens commented on #2095
Hey! Thanks for reporting this issue, I've updated this part of the docs to Cachet 2.4 🍻

/cc @jbrooksuk

[2016-09-24 07:15] #2095 closed

[2016-09-24 10:29] jbrooksuk commented on #2095
Thanks @joecohens!

[2016-09-25 09:07] KeiroD commented on #2095
I was the one that originally wrote the doc for integrating Mailgun, so it's not too surprising that it's been slowly going out of date with all the changes of late.

Good to see it's updated now, however!

[2016-09-26 14:33] karaktaka opened #2113 "Component Status update"
I'm not sure if this is a bug or some kind of feature, but is it intended that I receive an email every time the status of a component gets updated even if the status don't get changed?
This also occurs if the component get's changed by itself, eg I change the description of a component.

As an example, I'm using a script to check the status of a service which updates it every 5 minutes.
I could c

[2016-09-27 15:50] pork94 opened #2114 "Setup 404 not found"
I installed Cachet v2.3.9 on Ubuntu 16.04 with PHP 7 and Apache installed. After successful installation, I ended up with the web browser pointing to /setup with 404 not found.

[2016-09-27 19:17] GrahamCampbell commented on #2114
Sounds like your apache config is not correct. Closing since our issues are for bugs in the software rather than support. You can contact us at support@alt-three.com for paid support if you want.

[2016-09-27 19:17] #2114 closed

[2016-09-28 12:15] fdhex commented on #2113
This is fixed in 2.4, but introduced another bug which can be quickfixed by implementing this PR https://github.com/CachetHQ/Cachet/pull/2084 on your own branch.

[2016-09-28 15:35] Bananenbaas opened #2116 "403 error after upgrade"
Hi,

I've upgraded cachet using git. Now I get an 403 error page.
This what my log tells me:

`[Wed Sep 28 17:23:01.740003 2016] [fcgid:warn] [pid 27777] [client ....:59203] mod_fcgid: stderr: PHP Warning:  require(/var/www/vhosts/.../Cachet/app/Http/helpers.php): failed to open stream: No such file or directory in /var/www/vhosts/.../Cachet/vendor/composer/autoload_real.php on line 55
[Wed Sep 28

[2016-09-28 15:51] GrahamCampbell commented on #2116
Did you run composer install again?

[2016-09-28 16:39] Bananenbaas commented on #2116
Do you mean? $ composer install --no-dev -o --no-scripts

Yes I did, after that I ran: $ php artisan app:update

[2016-09-28 17:20] jbrooksuk commented on #2116
Can you run `rm -rf bootstrap/cache/*` and then try again please?

[2016-09-28 17:29] Bananenbaas commented on #2116
@jbrooksuk I've done that but still the same result

[2016-09-28 17:33] jbrooksuk commented on #2116
What version are you running?

[2016-09-28 17:36] Bananenbaas commented on #2116
I did an upgrade from 2.0.1RC1 to the latest, v2.3.9 I believe?

[2016-09-28 17:45] Bananenbaas commented on #2116
Of course I was to busy doing other things that I failed to notice it was an 503 error...

But using $ php artisan up
fixed it :)

[2016-09-28 17:45] #2116 closed

[2016-09-28 19:20] #2112 closed

[2016-09-28 19:30] jbrooksuk commented on #2116
Ah-ha!

[2016-09-29 08:38] ConnorVG commented on #2116
iamateapot

[2016-09-29 09:01] MichaelJohnson90 opened #2118 "Duplicate username account creation generates 500 Internal Server Error"
If the username "admin" exists as a user, and you attempt to add another "admin" user. Instead of saying the user account already exists, Postgres will spit out an error;

postgres_1  | ERROR:  duplicate key value violates unique constraint "users_username_unique"
postgres_1  | DETAIL:  Key (username)=(admin) already exists.
postgres_1  | STATEMENT:  insert into "users" ("username", "password", "e

[2016-09-29 09:05] ConnorVG commented on #2118
https://github.com/CachetHQ/Cachet/blob/2.4/app/Bus/Commands/User/SignupUserCommand.php#L50

Why does this not check for `unique`? @jbrooksuk :joy:

[2016-09-29 10:29] Luciam91 commented on #2118
@ConnorVG the Command shouldn't care whether it's unique, the data model here: https://github.com/CachetHQ/Cachet/blob/2.4/app/Models/User.php should manage that :)

[2016-09-29 10:29] ConnorVG commented on #2118
@Luciam91 you know what I mean :facepunch:

[2016-09-29 12:47] GrahamCampbell commented on #2118
The command should catch the model exception and throw it's own "domain exception".

[2016-09-29 12:49] Luciam91 commented on #2118
Done correctly the data passed into the command should be validated before it becomes a Command object, no Command should be emitted unless it's in an acceptable state :)

[2016-09-29 19:24] #2113 closed

[2016-09-29 22:20] #2118 closed

[2016-09-30 22:45] brunohcunha opened #2121 "Bad Request - Error 400 After the first login"
Hello.

After making all installation and several tests for use of CachetHQ I came across the following problem.
When I finished the setup and I was redirected to the dashboard, I get the following error message:

`{"errors":[{"id":"4c1c1870-78f8-446f-9682-9529480ff166","status":400,"title":"Bad Request","detail":"The request cannot be fulfilled due to bad syntax.","meta":{"details":["The username

[2016-10-01 10:53] jbrooksuk commented on #2113
This is now fixed on 2.4.

[2016-10-01 17:35] TheDelta opened #2123 "Email for gravatar not lowercase"
If the email is not lowercase, gravatar won't work with the given e-mail.

Trivial issue but took a bit to figure out why gravatar wouldn't work ;)

[2016-10-01 19:39] abhimanyu003 commented on #2123
@TheDelta added update in #2122

[2016-10-01 20:38] #2121 closed

[2016-10-02 10:17] jbrooksuk commented on #2121
I've reverted the change that I made and will write a better fix for this.

[2016-10-02 12:57] #1892 closed

[2016-10-02 19:55] jabarihunt commented on #2108
I'll take this on this week.  Any specifics before I start?  I'll add support for multiple LDAP servers (can either be an array of servers, or a set amount...4 maybe?)

[2016-10-03 07:41] jbrooksuk commented on #2107
This is something we'll do once we've upgraded to Laravel 5.3 :)

[2016-10-03 07:42] jbrooksuk commented on #2108
We have nothing in mind, so please make a start and we'll advise through your PR.

[2016-10-03 12:16] serrexlabs commented on #2063
Is there specific templates for 404 ?

[2016-10-03 12:39] jbrooksuk commented on #2063
Nope, we probably just want the usual dashboard page and some text to say we couldn't find anything.

[2016-10-03 12:43] lnxslck opened #2126 "Add history feature"
Is it possible to have a history feature? Something like being able to se 2 entries for the same incident, one for when the incident was created and another for when the incident was solved.

Apache is UP. Incident solved at (sometime + x )

Apache is Down. Incident created at (sometime)

This would allow us to see exactly when incidents happened, and were fixed, how long it took the incident to b

[2016-10-03 13:02] jbrooksuk commented on #2126
This will be done along with https://github.com/CachetHQ/Cachet/issues/1176 :)

[2016-10-03 13:02] #2126 closed

[2016-10-03 14:52] #2123 closed

[2016-10-03 16:40] billmn commented on #2100
@jbrooksuk If a group contains a component that have an outage ... the group status icon must be green or red?

![schermata 2016-10-03 alle 18 37 20](https://cloud.githubusercontent.com/assets/779534/19045371/c08f2e04-8998-11e6-9bc4-7011fe5f6d1d.png)

[2016-10-03 16:52] billmn commented on #2100
If a group contains a component in outage status ... the group status icon must be red or green?

![schermata 2016-10-03 alle 18 37 20](https://cloud.githubusercontent.com/assets/779534/19045719/98a14420-899a-11e6-99fe-1aa6f2cbb7ce.png)

[2016-10-03 16:56] jbrooksuk commented on #2100
It might also be blue or yellow, right? We should show the most severe colour.

[2016-10-03 17:02] billmn commented on #2100
@jbrooksuk Totally agree ... I think could be useful order groups by "severe score" -> "manual order", thoughts?

[2016-10-04 07:06] stipx commented on #2051
Hi,
any news on this? We eagerly await this feature to get our workflow clean.

[2016-10-04 09:14] serrexlabs commented on #2063
You want to show 404 page when dashboard empty or just a balde template for that ?

[2016-10-04 09:22] serrexlabs commented on #1896
May I know where this feature goes and little bit information about it ?

[2016-10-04 09:24] barchard commented on #1896
I am having issues setting up and configuring email in Cachet. It'd be nice to be able to send a test email to myself and see if there was any errors or issues with the mail transport (e.g., invalid SMTP or Mailgun credentials)

[2016-10-04 09:42] serrexlabs commented on #1896
Alright got it. Will work on that.

[2016-10-04 09:53] jbrooksuk commented on #1896
That'd be awesome!

[2016-10-04 12:37] jcharman opened #2132 "Setup page does not load correctly."
I've installed Cachet on our Ubuntu 14.04 server running Apache2 and PHP 5.5.38 with MySQL.

The app seems to work but I'm always redirected to the setup page which doesn't appear to load correctly.

![cachet](https://cloud.githubusercontent.com/assets/15647969/19074335/9b46937c-8a37-11e6-8f55-50feba1af55d.PNG)

I can't see anything in the logs and I'm not sure where to go from here. I can provide

[2016-10-04 12:43] jbrooksuk commented on #2132
Ping @GrahamCampbell. This has happened before, hasn't it?

[2016-10-04 12:48] jbrooksuk commented on #2100
`order` then `status`?

[2016-10-04 12:52] billmn commented on #2100
Status then Order.
I can give you some example in 5 minutes 😉

[2016-10-04 12:52] jbrooksuk commented on #2100
Please :)

[2016-10-04 18:06] jbrooksuk commented on #2132
FWIW, I'm pretty sure that this is an issue with the server, so I'm closing the issue **but** we'll continue to figure out the cause.

[2016-10-04 18:06] #2132 closed

[2016-10-04 18:08] jcharman commented on #2132
Thanks,

I'm fairly sure this is a problem on our end too, I'm just looking for clues as to what might be causing it. If it's any help, I'm fairly sure PHP is working correctly since osTicket is installed and working fine on the same server.

[2016-10-04 18:18] jbrooksuk commented on #2085
I've been unable to find any reason this would be an issue.

Ping @CachetHQ/owners, have you guys experienced this at all, in any project?

[2016-10-04 18:21] jbrooksuk commented on #2060
Closed by https://github.com/CachetHQ/Cachet/pull/2076

[2016-10-04 18:21] #2060 closed

[2016-10-04 18:21] jbrooksuk commented on #2132
Are you running PHP-FPM?

[2016-10-04 18:22] jbrooksuk commented on #1896
@serrexlabs I'm really looking forward to this!

[2016-10-04 18:24] jcharman commented on #2132
Not as far as I know, sorry, PHP isn't my specialist subject. I installed PHP 5.5.38 using apt from [this PPA](https://launchpad.net/~ondrej/+archive/ubuntu/php) since osTicket doesn't play nicely with a newer version of PHP.

[2016-10-04 19:14] jcharman commented on #2132
Hi,

I've reinstalled Cachet and everything seems to be working. I think I had something wrong in the Apache2 config files.

Thanks for your help,
Jake

[2016-10-04 19:37] jcharman commented on #2132
Argh, looks like I spoke too soon.

The setup page loads now but it hangs on the first page after I click next. Again no errors in the logs. Have you seen this before?

Jake

[2016-10-04 19:52] #2088 closed

[2016-10-04 19:54] jcharman commented on #2132
Yes they were. Murphy's law took over and I fixed it just after asking for help. I had the virtual host set up wrong so the request for the next section was going to the wrong place.

[2016-10-04 21:44] jbrooksuk commented on #2132
:)

[2016-10-05 05:00] joecohens commented on #2085
@djgalloway Can you try to set the trusted proxies to `*` https://github.com/CachetHQ/Cachet/blob/2.4/config/trustedproxy.php#L30 ?

[2016-10-05 05:05] serrexlabs commented on #1896
@jbrooksuk I already did UI part , now I'm working on email configuration testing part. If needed I can create WIP pull request.

[2016-10-05 05:57] jbrooksuk commented on #1896
Yes please. We can give you feedback then :)

[2016-10-05 06:50] serrexlabs commented on #1896
@jbrooksuk  I've created a pull request.

[2016-10-05 11:23] benjisoft opened #2140 "Custom status messages"
Add the option to set custom status messages such as "Maintenance" instead of just the standard "Major, Minor incident" (Etc.)

[2016-10-05 11:30] ConnorVG commented on #2140
See https://github.com/CachetHQ/Cachet/issues/2051#event-753825102

This is something we definitely agree on.

[2016-10-05 12:25] benjisoft commented on #2140
Duplicate of #2051

[2016-10-05 12:25] #2140 closed

[2016-10-05 12:56] benjisoft opened #2141 "Issue updates"
Instead of having to change the issue text any time we would like to update our clients, we should be able to _'comment'_ on an issue.

[2016-10-05 12:59] GrahamCampbell commented on #2141
Thanks for getting in touch. We already have an issue for this though. :)

https://github.com/CachetHQ/Cachet/issues/1176

[2016-10-05 12:59] #2141 closed

[2016-10-05 13:29] dstuecken commented on #2108
I would support you implementing this, did you start already?

[2016-10-05 20:09] gamkiller77 commented on #2080
yah the setup is always asking for a username and password for outbound mail.  This dose not work with my setup as it open.  There should be a check box to have the username and password be greyed out when not needed.

[2016-10-05 22:59] BossManFergie commented on #2132
@jcharman - Can you provide anymore information as to how you fixed it? I just did two fresh installs and had the exact same setup page issue as you previously had.

[2016-10-05 23:43] jcharman commented on #2132
Hi,

I'm still mostly in the dark myself. The first time I installed, I installed in the existing /var/www/html directory instead of installing in /var/www and giving it its own Apache virtual host. I'm fairly sure the issue here (after looking at the console in Chrome whilst running the app) is that unless the app is set up exactly as described with a virtual host, the requests for various compon

[2016-10-06 07:55] jbrooksuk commented on #2132
Do you have `mod_rewrite` enabled?

[2016-10-06 07:56] jbrooksuk commented on #2080
I'd love to start using Vue in Cachet, so now would be a prime time to introduce it.

[2016-10-06 07:56] jbrooksuk commented on #2080
If someone fancies giving this a go, we'd love to help.

[2016-10-06 10:35] serrexlabs commented on #1896
@jbrooksuk Shall I move to writeEnv method in `SetupController` to helper.php, have to reuse this methoid `SetupMailCommand` or is there any better place to put.

[2016-10-06 10:39] jbrooksuk commented on #1896
You do as you feel best for now and then we'll review :)

[2016-10-06 11:43] BossManFergie commented on #2132
@jbrooksuk - I do. I did notice my requests were being sent to the wrong place just as @jcharman stated his install was also doing. I had the virtualhost set up properly but it just wouldn't work for some reason. So I wrote a custom .htaccess to pretty much do the same thing the virtualhost would do and it's working fine now. Thanks for the assistance guys. :)

[2016-10-07 03:13] brunohcunha commented on #2121
I'm waiting for the solution but it seems that will not be answered soon.
Do you have any prediction?

[2016-10-07 04:29] girishpatil commented on #2063
at present what is implemented when a 404 error occurs?

[2016-10-07 06:54] jbrooksuk commented on #2063
We should show a dashboard page that just says "We couldn't find that page".

Currently, this happens https://demo.cachethq.io/dashboard/foo

[2016-10-07 06:57] jbrooksuk commented on #2121
@brunohcunha sorry for the delay in the fix here. It might be better to reset Cachet and see what happens then?

[2016-10-07 12:22] jbrooksuk commented on #2141
This is now done in v2.4

[2016-10-07 12:22] jbrooksuk commented on #2126
This is now done in v2.4

[2016-10-07 13:12] TheoBearman opened #2145 "Positioning of Prompt When Trying to Delete an Incident from Dashboard"
The confirmation prompt for deleting an incident from the dashboard (as a logged-in admin) seems to be appearing off the left hand side of the dashboard screen when the `Delete` button is clicked.

Please confirm and fix if required.

[2016-10-07 13:14] brunohcunha commented on #2121
So I've tried to reinstall 2 times and always results in the same error.

[2016-10-07 13:21] jbrooksuk commented on #2121
All of `./bootstrap/` is writable, right?

[2016-10-07 13:21] jbrooksuk commented on #2145
Can you screenshot?

[2016-10-07 13:28] ConnorVG commented on #2121
@brunohcunha are you using a fresh database? If not, could you please try installing into a fresh database and report the results?

[2016-10-07 13:40] TheoBearman commented on #2145
Having clicked delete:

<img width="944" alt="3" src="https://cloud.githubusercontent.com/assets/6546590/19191817/f2eee140-8c9b-11e6-8263-586cbbdeda42.PNG">
<img width="943" alt="2" src="https://cloud.githubusercontent.com/assets/6546590/19191818/f2f6ccca-8c9b-11e6-984e-9f8048c16d96.PNG">

[2016-10-07 14:10] mhirst42 opened #2146 "Grammer: missing "is" in major outage"
The banner for major outage says this:

[code]

Add "is" so it says this:

[code]

[2016-10-07 14:15] #2146 closed

[2016-10-07 14:15] GrahamCampbell commented on #2146
Thanks for the report. :)

[2016-10-07 14:16] GrahamCampbell commented on #2146
Fixed in https://github.com/CachetHQ/Cachet/pull/2147.

[2016-10-07 14:27] jorcco opened #2148 "Index of / issue"
Hi,
I followed the installation instructions for Cachet, but on the browser I get the following screen:
![image](https://cloud.githubusercontent.com/assets/11443496/19193566/8a0ffd6c-8c78-11e6-944b-ad41fe2ef74f.png)

Cachet V2.3.9
Php 5.6
Apache 2.4
OS: RHEL 6.7
Mysqldb
Any idea what I might be missing?

[2016-10-07 14:32] GrahamCampbell commented on #2148
Looks like the htaccess config is not being read correctly.

[2016-10-07 14:32] #2148 closed

[2016-10-07 16:52] #2145 closed

[2016-10-07 16:57] TheoBearman commented on #2145
Cheers @billmn!

[2016-10-07 17:03] jhamilton09 opened #2153 "Scheduled maintenance names a random component in notification email"
Before submitting your issue, please make sure that you've checked the checkboxes below.

[ X ] I am running the latest release version of Cachet.
[ X ] I am running at least PHP 5.5.9. You can check this by running php -v.
[ X ] I have ran rm -rf bootstrap/cache/*.
[ X ] I have searched to see if this issue was previously logged.

What version of Cachet? 2.3.9
What database driver? MySQL? Postgre

[2016-10-07 23:03] lnxslck commented on #2126
Awesome!

Às 13:23 de 07-10-2016, James Brooks escreveu:

[2016-10-07 23:19] trickleup opened #2156 "Avoid manual setup flow"
Hi,

What is the best practice to avoiding the manual setup flow, when first using the app? I'm provisioning cachet to a machine with scripts, and would like it to be accessible immediately.

I've tried to insert user + settings in the database, but I still get redirected to `/setup` when I first hit the cachet url.

Ideas?

[2016-10-08 06:57] jbrooksuk commented on #2156
That's because you're missing settings. You need to set the `app_name` value in the `settings` table.

I do want to introduce a command that can do this, but the issue has always been the user data.

[2016-10-08 07:04] trickleup commented on #2156
Thanks,

However, I'm running these scripts in the sqlite database (which includes app_name), and I still get redirected to the setup page after a fresh install:

[code]

I also add a user, with a pre-defined token that I use to hit the api. Is there something that is not right here?

[2016-10-08 07:05] trickleup commented on #2156
I should mention that I use `v2.3.10` version.

[2016-10-08 07:41] jbrooksuk commented on #2156
You may then want to clear the config cache.

[2016-10-08 09:39] jbrooksuk commented on #2061
Closed by https://github.com/CachetHQ/Cachet/commit/b40066b20e0d5b3262d81c69d4edeeb60f7d8a00

[2016-10-08 09:39] #2061 closed

[2016-10-08 09:43] jbrooksuk commented on #2085
@djgalloway what do the links look like on the main status page? We use the same `route` function in the emails as we do on the status page, so I'd imagine that all of your links are looking at `localhost`, which would suggest it's a setup issue, as the demo my dev instance and our StyleCI status page don't do this.

Could you share more about your setup to support@alt-three.com please.

I'm going

[2016-10-08 09:43] #2085 closed

[2016-10-08 09:52] jbrooksuk commented on #2153
I'm tempted to rebase https://github.com/CachetHQ/Cachet/commit/bab4f25045ded07b6a45bee0361519925074ef21 on to `2.4` so that we can get better usage from scheduled maintenance.

Regardless, I'll take a look at this now.

[2016-10-08 09:59] jbrooksuk commented on #2153
Wait, how are you sending components in the maintenance email? Although the email does allow for it (I don't remember why), we don't actually have the functionality to assign components to scheduled maintenance, unless you're running from another development version (perhaps the commit above?)

![https://cldup.com/hawfzAjG7n.png]()

This is what the scheduled email looks like. Before we implement

[2016-10-08 09:59] #2153 closed

[2016-10-09 10:51] jbrooksuk opened #2162 "Root Cause Analyses"
Sometimes an incident may cause severe outages which need more explanation that a simple update. A post mortem would be pinned to the status page (where the stickied incidents are).

Post mortems would also be given their own canonical URLs and can be linked to an incident. The single post mortem page would, if linked to an incident, show the timeline.

[2016-10-10 02:58] jhamilton09 commented on #2153
I do not get to pick the component for the maintenance but the notification was still including one. It would be exactly as your email shows but after Scheduled ([Component Name]). Thanks for looking into it!

[2016-10-10 04:25] cmosguy commented on #1888
@GrahamCampbell @jbrooksuk  I am thinking about working on this issue and doing a proper pull request.  Can you advise what is the proper branch and unit tests you need help with?  Is there a specific form validation that you need updated?

[2016-10-10 11:42] jbrooksuk commented on #1888
I would hold off in this. We're too active in the 2.4 branch which isn't Laravel 5.3 yet.

[2016-10-10 16:20] brianjking commented on #2162
Awesome, thanks @jbrooksuk. This will be a great addition. Can't wait to see it in Cachet.

[2016-10-10 16:23] ConnorVG commented on #2162
Grim name, though.

[2016-10-10 17:36] mefiblogger opened #2165 "Ability to search (find) incidents"
Hello,

First of all: we have started using Cachet a few months ago and we really like it, thanks for the great effort building this software. :)

There is one feature that I couldn't really find in our latest instance and as I looked in feature request: the ability to search in incidents. A simple keyword search would do the trick, maybe an option to filter results between dates.

Is this a featu

[2016-10-10 17:52] jchapm opened #2166 "Get formatted text from api"
Is there a way to get the formatted text for message back from the api instead of plain text? Right now when I send a formatted message it handles it properly but when I make a get request it loses all of the formatting.

[2016-10-10 17:58] jchapm commented on #2166
Never mind figured it out

[2016-10-10 17:58] #2166 closed

[2016-10-10 20:11] jbrooksuk commented on #2166
:)

[2016-10-11 08:27] ConnorVG commented on #2165
Hey @mefiblogger, do you mean searching the API, dashboard or front of the site? :smile:

[2016-10-11 08:43] GrahamCampbell commented on #1888
This will likely happen in the branch currently named 2.5.

[2016-10-11 12:29] tmatthaeus opened #2167 "Move old Issues to an archive"
On the Dashboard the closed issues still on the issue site. It would be a better view on this site, if you would move this issues to an archive page in the dashboard. And have only the open/current issues on the issue site, which requires some updates / resolve messages.

[2016-10-11 12:43] jbrooksuk commented on #2167
This is something that'll be addressed in an upcoming design change 😄 🙈 it's top-secret for now!

[2016-10-11 12:43] #2167 closed

[2016-10-11 13:12] tmatthaeus opened #2168 "Problem with API - Add Subscriber - Version 2.3.10"
I have a problem with the API. I am trying to subscribe an email via POST over the API. But the component value is ignored…

~ » http POST http://URL/api/v1/subscribers X-Cachet-Token:mZPZSs53qYNhWTLJyb0H email=duh23fosd@fdso24uhsfd.foo verify=true components:='[1]' tmatthaeus@tobias
HTTP/1.1 200 OK
Cache-Control: no-cache
Connection: Keep-Alive
Content-Length: 235
Content-Type: application/json
D

[2016-10-11 13:27] tmatthaeus opened #2169 "Maintenance informations - Line breaks ignored"
Affected version: 2.3.10
If you use more then one line break in the maintenance message, it will be ignored on the front site.

Example:

Used Maintenance Message:

"We will do some work

on our backend servers
Hope this is okay for you."

On the front site it looks like this:
"We will do some work
on our backend servers
Hope this is okay for you."

[2016-10-11 15:01] ConnorVG commented on #2168
Hey @tmatthaeus, we've received your support request and will deal with it there. Thank you! :smile:

[2016-10-11 15:05] #2168 closed

[2016-10-11 15:27] abhimanyu003 opened #2170 "Use ModelNotFoundException instead"
Why we are not using `ModelNotFoundException` instead of `BadRequestHttpException`

https://github.com/CachetHQ/Cachet/blob/2.4/app/Http/Controllers/SignupController.php#L41-L45

I guess we can refactor this to and can use `firstOrFail`

[code]

Or Even better

[code]

I can see this code pattern is used over many places if you like I can create a pull request to update them this way.

Thanks

[2016-10-12 06:08] trickleup commented on #2156
Thank you for your help. It turns out the issue was the app key - it was being regenerated by the install script every time, which caused the landing page to redirect to /setup every time.

[2016-10-12 06:08] #2156 closed

[2016-10-12 06:31] jbrooksuk commented on #2156
Ah!

[2016-10-12 10:26] sebglon opened #2172 "Enable analytics piwik on http"
If cachet site is on  http; is it possible to use piwik call on http?

For exemple you can change your code by:
[code]

[2016-10-12 13:39] GrahamCampbell commented on #2172
No reason to use http to them when we can use https.

[2016-10-12 13:49] sebglon commented on #2172
My piwik is not on https.

[2016-10-12 13:50] ConnorVG commented on #2172
@GrahamCampbell but it can be self hosted - there is definitely a reason to support http.

[2016-10-12 13:51] sebglon commented on #2172
[code]
without schema; dona by piwik script generaor

[2016-10-12 14:06] #2170 closed

[2016-10-12 14:06] GrahamCampbell commented on #2170
An error 400 is fine I think.

[2016-10-12 14:14] jbrooksuk commented on #2172
I'll update this don't worry :+1:

[2016-10-12 14:14] jbrooksuk commented on #2172
You'll have to supply the _full_ URL to your Piwik instance.

[2016-10-13 00:15] nixmomo opened #2175 "incidents templates"
Hi,
i'm new in cachet and i try to work deep into this lol...

Is there any documentation about incident templates? I can't find anything about it.
If not, in which files can i read the variables that i can use in the templates?

[2016-10-13 06:58] jbrooksuk commented on #2175
Hey @nixmomo, thanks for checking out Cachet!

Documentation for Incident Templates is lacking, it's something I want (read: need) to go back through before the 2.4 release.

There is a little about it here: https://docs.cachethq.io/docs/incidents

Incident Templates are defined by you, and then when you report an incident you can use a template. Essentially, they're "placeholders" for text. So yo

[2016-10-13 06:58] #2175 closed

[2016-10-13 12:00] nixmomo commented on #2175
Hi @jbrooksuk ,

thanks for the fast reply :-)
I know that i can define the templates but not really how it works... i can define a text and so on...
Which Placeholder does it give? Or can i define them too?
And if yes, how :-)

[2016-10-13 12:46] jbrooksuk commented on #2175
You define them in your incident templates, for example:

[code]

Now when you create your incident through the API, you would specify a `params` key with a key/value pair:

[code]

[2016-10-13 15:05] ziraak opened #2179 "error 17836"
hey guys. im trying to use cachet but during the install i  get a PDOException saying
SQLSTATE[HY000]  [2006]the MySQL server has gone away.

trying to figure out what was wrong i opened the log of the sql server and found this:
2016-10-13 16:32:57.12 Logon       Error: 17836, Severity: 20, State: 17.
2016-10-13 16:32:57.12 Logon       Length specified in network packet payload did not match numbe

[2016-10-13 17:04] cmosguy commented on #1888
@GrahamCampbell @jbrooksuk I wanted to contribute something for hacktoberfest.  IS there an issue that you would recommend I work on or should I start working on this?  Also, I noticed there was no 2.4 branch.  Just curious what you would recommend here?  Is this worth my time to contribute here for Hactoberfest?

Also, if I did work on this, I am concerned about losing track on features you have

[2016-10-13 21:23] nixmomo opened #2180 "Upgrade in Docu is missing one step"
Hi,
your Docu is missing one Step after the upgrade...
[Upgrading Cachet Documentation](https://docs.cachethq.io/docs/updating-cachet)

After

[code]

you have tu run
`$ php artisan up`

If you don't run the last step you get a 500 error on the Webpage ;-)

[2016-10-13 21:28] nixmomo commented on #2179
Look at your PHP config... i got the same error but i missed to activate the pdo extension in PHP.

[2016-10-13 21:31] nixmomo commented on #2165
Search in Dashboard and Frontpage would be great. API is easy to fetch all and grap your Keywords...

[2016-10-13 21:44] jbrooksuk commented on #2180
Could you suggest edits to the page please?

[2016-10-13 21:44] #2180 closed

[2016-10-13 21:53] nixmomo commented on #2180
@jbrooksuk Suggestion submitted 👍

Sorry, i didn't know this function :-)

[2016-10-13 23:35] #2179 closed

[2016-10-14 01:25] nixmomo opened #2181 "Feed don't sorting posts the same as frontend timeline"
i noticed that the RSS and Atom Feeds have another sorting mechanic as the timeline in frontend.

i have in timeline following inccidents:
1. sheduled maintenance planed for 14.10. 2am published at 13.10. 2:22pm
2. inccident fixed post published at 13.10. 6:07pm
3. inccident update post published at 13.10. 5:30pm
4. inccident report post published at 13.10. 4:13pm

in my feeds is it sorted like th

[2016-10-14 06:59] ziraak commented on #2179
uhm. all pdo extensions in PHP.ini are activated. That isn't the problem

[2016-10-14 07:00] jbrooksuk commented on #1888
@cmosguy 2.4 is currently the default branch 😄

Please take your pick, we're using the [`hacktoberfest`](https://github.com/CachetHQ/Cachet/issues?q=is%3Aopen+is%3Aissue+label%3AHacktoberfest) label, but please do take some issues in the [V2.4.0](https://github.com/CachetHQ/Cachet/milestone/25) milestone.

Any PR you open will be counted towards your Hacktoberfest total and we'll do everything we

[2016-10-14 07:00] jbrooksuk commented on #2179
Is the `mysql` service running?

[2016-10-14 07:02] ziraak commented on #2179
yes. it is running.

[2016-10-14 20:04] nixmomo opened #2183 "Exception in Dashboard subscribers"
Hi,
if i open the Subscriber Section at the Dashboard i get a 500 Error.

i tried to empty all caches in server and browser...
In Log i see this Exception, how can i fix it?
`Next exception 'ErrorException' with message 'Route [core::delete:dashboard.subscribers.delete] not defined. (View:/Cachet/resources/views/dashboard/subscribers/index.blade.php)' in /Cachet/vendor/laravel/framework/src/Illumi

[2016-10-15 00:53] nicolasfagotti opened #2184 "Filter for displaying component group data"
When many components are added, is difficult to focus on specific data. It would be nice to have a way to filter the component group information without disrupting whole site functionality.

[2016-10-15 03:48] nixmomo commented on #2183
Update:
Nobody can subscripe the updates...
[2016-10-15 03:45:08] production.ERROR: exception 'InvalidArgumentException' with message 'Route [subscribe.verify] not defined.' in/Cachet/bootstrap/cache/compiled.php:9655

[2016-10-15 07:50] jbrooksuk commented on #2183
Closed by #2186 :)

[2016-10-15 07:50] #2183 closed

[2016-10-15 08:52] nixmomo commented on #2183
Yeah and test succesful but there is somewhere else an issue too.

i subscribed with a new mail but mails wont be send and i dont find anything in log

[2016-10-15 09:17] nixmomo opened #2187 "Cachet won't send Mails out"
#2183
after this fix i can open subscribers in dashboard and i can subscribe with a new mail but cachet isn't sending Mails.
(It worked 2 days ago with 2.3.9)
Credentials in .env are correct, i send with the same credentials and the same Mail Drivers with another App E-Mails out.

I checked Cachet Logs but found nothing.

I checked Logs from my Mailserver too but he never got any Mails from Cachet

[2016-10-15 09:18] nixmomo commented on #2183
#2187
opened a new Issue for not sending Mails out.
@billmn Thx for the Fix
@jbrooksuk Thx for Merging :-)

[2016-10-15 09:47] jbrooksuk commented on #2187
Are you running the cron?

[2016-10-15 10:07] nixmomo commented on #2187
i use supervisor ;-)
And yes it's running.... it isn't a "Internet Problem" too, i just used the same domain as mail adress so if my mailserver get the mail its in the inbox too :)

[2016-10-15 11:12] nixmomo commented on #2187
Okay i found the error.
It was Supervisor, i trusted the docu and that is wrong again.

Supervisor crashs if the --delay option is set to 1 with the Error "Fatal,  Exited too quickly

A change to
`command=php artisan queue:work --daemon --delay=2 --sleep=1 --tries=3`
resolve this issue.

I want suggest the changes but i can't, every try to submit ends with a red icon without error message.
You can

[2016-10-15 15:06] daniel-lalaina-movile opened #2188 "Show groups in subscription page, and no default component selected"
Hello Guys, Cachet is awesome! You are all F.. incredible.  I have 2 suggestions about subscription page:

1 - No component selected by default.
This will force subscribers to select just what they want.
A "(un)select all" box would be nice, but by default, it's better to open the page without any component selected.

2 - Show group in selection page. (just to display it, not to enable selection)

[2016-10-15 15:51] #2187 closed

[2016-10-15 15:51] jbrooksuk commented on #2187
I'll update the docs. Thanks.

[2016-10-15 18:27] nixmomo commented on #2188
Hi Daniela,

in Branch 2.4 you have the option to deselect / select all.

As Default are all activated in 2.4 too.
If nobody have a sec I can look when I'm home what changes are needed do set no activated components as default.

Von meinem iPhone gesendet

[2016-10-16 17:11] adammatthews commented on #2162
RCA (Root Cause Analysis) is a more common term for this.

[2016-10-16 18:44] cjthomp commented on #1893
Sure wish I'd seen this before I wasted two hours setting it up.

[2016-10-17 03:11] xRahul opened #2190 "Development using official CachetHQ/Docker image"
I have outlined the steps here. Let me know what you guys think.

Developing using [CachetHQ/Docker](https://github.com/CachetHQ/Docker):

1.  Clone the official repo of CachetHQ/Docker
[code]
2. Clone the official repo of CachetHQ/Cachet here and do composer install
[code]
3. Setup the Cachet project
[code]
4.Edit the docker-compose.yml file
[code]
5.build and run the docker compose
[code]
6. Ope

[2016-10-17 07:50] jbrooksuk commented on #2190
Ping @djdefi.

[2016-10-17 07:50] #2190 closed

[2016-10-17 07:51] jbrooksuk commented on #1893
@cjthomp did you manage to get setup? We dropped Heroku support over a year ago now.

[2016-10-17 18:33] nixmomo commented on #2188
Sry i watched shortly but haven't found it.... I'm sure it is only one code line but very hard to find it in this big code

[2016-10-18 08:01] ziraak opened #2193 "Demo error"
you should probably know that there is something wrong with your demo.
![asf](https://cloud.githubusercontent.com/assets/9131432/19469025/d7413f3e-9519-11e6-85f2-f64879264aa7.PNG)

[2016-10-18 16:45] billmn commented on #2169
What about this?

## Manteinance message
![schermata 2016-10-18 alle 18 43 25](https://cloud.githubusercontent.com/assets/779534/19487364/cd752bd4-9562-11e6-866f-0da22bf6e32a.png)

## Result

![schermata 2016-10-18 alle 18 43 18](https://cloud.githubusercontent.com/assets/779534/19487371/d2c8da5e-9562-11e6-8b5a-c313e90fdc75.png)

## Code
[code]

[2016-10-18 16:47] jbrooksuk commented on #2169
Sorry, I had meant to reply to this. The issue isn't on the PHP side, it's the CSS. It'll be fixed :)

[2016-10-18 18:19] #2169 closed

[2016-10-18 21:25] djdefi commented on #2190
This is cool 👍  - I think it belongs in documentation in the https://github.com/CachetHQ/Docker repo.  Feel free to open a pull request against the readme there!

[2016-10-18 23:19] iaidan commented on #2172
Is this being worked on?

[2016-10-19 03:03] xRahul commented on #2190
@djdefi done!

[2016-10-19 06:16] mefiblogger commented on #2165
Hi @ConnorVG, thx for the response! Frontend and/or dashboard search would be really cool. :)

[2016-10-19 09:18] jbrooksuk commented on #2172
@iaidan we've not started it as of yet, if you'd like to open a PR, please do.

[2016-10-19 09:29] Harsh061 opened #2196 "Footer is not visible on ipad"
Hey, Cachet is awesome! I am new to open source contributions. I found 2 issues :bug:  on Google Chrome :
1. On inspecting the website i found this error :
    Failed to load resource: https://cachethq.io/img/social/favicon.png
2. The site is completely responsive. The only screen where i find issue was ipad. The footer section i.e.
    Quick Links is not visible.

Regards,
Harshit

[2016-10-19 17:24] iaidan commented on #2172
I updated the view to rely on the HTTP/HTTPS being part of the URL provided in settings. May be a good idea to add a little note mentioning that on the analytics settings page.

Could also add a migration to update the old values to include https:// at the front so existing installations using Piwik will still work without updating the setting.

[2016-10-19 20:04] jbrooksuk commented on #2172
Closed by https://github.com/CachetHQ/Cachet/pull/2197

[2016-10-19 20:04] #2172 closed

[2016-10-20 03:23] TheEpTic opened #2198 "Email is sending last component status, not new."
When setting the component to "Operational" - It will email the status update, but will inform me of the last status.

^ After setting it to "Operational"

I am running the latest Git pull

[2016-10-20 06:55] jbrooksuk commented on #2198
This has been fixed on the 2.4 branch (currently under development). Apologies for the annoyance here.

@GrahamCampbell perhaps we backport this fix into v2.3?

[2016-10-20 06:55] #2198 closed

[2016-10-20 12:59] jbrooksuk commented on #2193
Interesting... A status of `0` shouldn't be allowed (currently).

[2016-10-21 11:43] tmatthaeus opened #2201 "Subscribers which are subscribed via API with Components getting all mails"
I am subscribing a user via the API for just some components. Dashboard is showing, that this worked. But the user receive an email for every new issue.

I found in the MySQL Database in the table "subscribers" the value "global = 1". Every user who came from the API is "global = 1".

But it looks like, that there is no option to define a "global = 0" through the API.

[2016-10-21 12:30] jbrooksuk commented on #2201
It looks like we're not exposing the `global` flag at all, or even ensuring that if `subscriptions` isn't empty, then we're not global...

One for you @joecohens, unless you have no time and want me to look into it?

[2016-10-21 12:30] jbrooksuk commented on #2201
Also, I've tagged this under Hacktoberfest, it's not a massive change (but will require tests).

[2016-10-22 00:08] DavidGarciaCat opened #2202 "Cachet is not sending Emails when I get a new subscriber"
Hey there,

I don't know why, but when I get a new subscriber the confirmation email is not sent.

I have checked my `.env` configuration file as well as the `config/mail.php` and `config/services.php` files, all of them are using the same `SMTP` server. Given the `mail.php` file is offering an option to set `Mandrill` I have tried to set this configuration too, but the same case.

I have checked

[2016-10-22 00:11] DavidGarciaCat commented on #2202
I am using version 2.3.10, by the way

[2016-10-22 01:04] DavidGarciaCat commented on #2202
OK, looks like is working using v2.4-dev. Closing this issue now.

[2016-10-22 01:04] #2202 closed

[2016-10-22 10:35] jbrooksuk commented on #1889
Closed by https://github.com/CachetHQ/Cachet/pull/2195

[2016-10-22 10:35] #1889 closed

[2016-10-22 10:36] jbrooksuk commented on #1888
Closed by https://github.com/CachetHQ/Cachet/pull/2195

[2016-10-22 10:36] #1888 closed

[2016-10-22 10:37] jbrooksuk commented on #1453
Closed by https://github.com/CachetHQ/Cachet/pull/2195

[2016-10-22 10:37] #1453 closed

[2016-10-22 13:43] nikolaaa4 opened #2203 "Cachet showing 500 error."
Installed Cachet via the docs, https://docs.cachethq.io/docs/installing-cachet however, the admin panel works fine but the site shows a 500 error. https://status.rileybot.top/
Any help?

[2016-10-22 13:44] nikolaaa4 commented on #2203
Forgot to mention that i'm installing on Ubuntu 14.04

[2016-10-22 13:46] GrahamCampbell commented on #2203
Please paste your log file.

[2016-10-22 13:47] nikolaaa4 commented on #2203
Log file can be found here http://pastebin.com/FwM9DhcZ

[2016-10-22 13:47] #2203 closed

[2016-10-22 13:47] GrahamCampbell commented on #2203
Copy .env.example to .env.

[2016-10-22 13:49] nikolaaa4 commented on #2203
The file is already renamed to .env unless you're thinking about some other file? http://prntscr.com/cxie36

[2016-10-22 18:24] TheEpTic commented on #2198
I updated to the 2.4 branch when you posted this. After some testing I found the issue is still there.

[2016-10-22 21:28] jbrooksuk commented on #2198
I wouldn't rely on the 2.4 branch.

[2016-10-23 13:25] m1guelpiedrafita opened #2204 "Install without Artisan"
Hi!
I am trying to setup Cachet in an enviroment where I can't access sudo, and when I try to execute php artisan I get:
`
[ErrorException]
  is_file(): open_basedir restriction in effect. File(/opt/php-5.6/bin/php) is not within the allowed path(s): (/home/[username]:/tmp:/var/tmp:/opt/php-5.6/pear:/usr/local/bin:/etc/pki/tls/certs)
`
Can I install Cachet?

[2016-10-23 15:42] ConnorVG commented on #1889
_closed_

:trollface:

[2016-10-23 19:39] #2204 closed

[2016-10-23 19:39] GrahamCampbell commented on #2204
Not possible, sorry.

[2016-10-24 00:46] jrabbit opened #2205 "API token cannot be copied on Chrome/Firefox"
the input element it's contained in is set to `disabled` which prevents selection :fire:

[2016-10-24 07:21] #2205 closed

[2016-10-24 09:04] TheoBearman opened #2206 "500 Error When Loading Dashboard"
😄

`[2016-10-24 09:02:43] local.ERROR: exception 'Illuminate\Auth\AuthenticationException' with message 'Unauthenticated.' in /var/www/html/Cachet/vendor/laravel/framework/src/Illuminate/Auth/GuardHelpers.php:39
Stack trace:
#0 /var/www/html/Cachet/vendor/laravel/framework/src/Illuminate/Auth/AuthManager.php(294): Illuminate\Auth\SessionGuard->authenticate()
#1 /var/www/html/Cachet/vendor/laravel/

[2016-10-24 09:21] ConnorVG commented on #2206
https://github.com/CachetHQ/Cachet/commit/196eba712965a75a3488c2080ee581a88761eb37

[2016-10-24 09:21] #2206 closed

[2016-10-24 09:52] TheoBearman commented on #2206
Thanks <3

[2016-10-24 12:24] jbrooksuk commented on #2162
Updated.

[2016-10-24 12:26] jbrooksuk commented on #2193
This will be fixed with #2194

[2016-10-24 12:26] #2193 closed

[2016-10-24 14:37] bleuchtang opened #2208 "update_at value with dashboard"
When I use the dashboard, created_at and updated_at are always equals.

My the typical workflow is:
Create an incident with the dashboard, and query the database:

mysql> select * from incidents where id=2\G
*************************** 1. row ***************************
          id: 2
component_id: 0
        name: test_update_at
      status: 1
     visible: 1
     message: Test update_at
schedul

[2016-10-24 14:54] ConnorVG commented on #2208
It's due to this line here: https://github.com/CachetHQ/Cachet/blob/2.4/app/Bus/Handlers/Commands/Incident/UpdateIncidentCommandHandler.php#L72

[2016-10-24 18:29] jbrooksuk commented on #2208
Yeah, this is something that seems to be recurring...

I think the best idea here is to introduce a new field such as `reported_at` which is the canonical data in which an incident occurred **not** the `created_at` date.

`created_at` would then become the date which the `Incident` was created, and `updated_at` will always update when the incident is changed.

Thoughts?

[2016-10-24 18:47] jbrooksuk commented on #2208
Maybe not `reported_at` actually, that sounds like a synonym for `created_at`.. Hmm.

[2016-10-25 20:02] jhamilton09 opened #2211 "Logs include database password"
With Cachet 2.3.9, the database password is logged in plaintext in the Laravel logs in storage referring to Connector.php.

[2016-10-25 21:15] GrahamCampbell commented on #2211
Yes, they do?

[2016-10-25 21:16] #2211 closed

[2016-10-26 11:49] SunilKumar3 commented on #2208
By the detailed given in the problem statement and by debugging the related update code. we are explicitly updating 'created_at' and 'updated_at' which is not required. By simply avoiding explicitly we can fix this issue.

Please share me your thoughts. Thank you.

[2016-10-26 12:40] bleuchtang commented on #2208
For me the correct behavior is; created_at set at the creation of the incident, updated_at set every time we update the incident (what the API do).

Anyway, I think it's a good thing that the dashboard and the API give exactly the same result.

[2016-10-26 12:45] jbrooksuk commented on #2208
Okay, to reconfirm what I'm planning on changing here...

- `created_at` will only be set at the time the incident is created, whether that's through the dashboard or the API. It'll never change once it's set.
- `updated_at` this will be modified any time an incident is modified in some way.
- And then I'll add a new field, which I originally called `reported_at` but it'll now be `occurred_at` whi

[2016-10-26 16:31] SunilKumar3 commented on #2208
According to my Analysis and test , I commented updated_at in update method controller for my application in Laravel which is almost similar to above code. Framework will handle the updated_at column. so , by simply avoiding explicitly created_at and updated_at column in code. we can fix this issue and I've done it.

https://github.com/CachetHQ/Cachet/blob/2.4/app/Bus/Handlers/Commands/Incident/Up

[2016-10-27 06:36] jbrooksuk commented on #2208
@SunilKumar3 that doesn't work, if somebody wants to change when an incident happens, that's why I've said about adding a new column.

Please see my PR https://github.com/CachetHQ/Cachet/pull/2212

[2016-10-28 08:13] Aybee2k opened #2216 "About this page"
At the point "About this page" we have something entered, but it is not displayed on the front page

[2016-10-28 13:15] SunilKumar3 commented on #2208
@jbrooksuk  Your idea of having occurred_at column to capture actual incident date is very much required. This we need to add.

I have made code changes for this, the changes are as follows : added a new column 'occurred_at' to incidents table, made changes for updating occurred_at in updateIncidentCommandHandler.php and also removed 'created_at' , 'updated_at' columns update because this is autom

[2016-10-28 13:18] jbrooksuk commented on #2208
@SunilKumar3 so you copied the changes from what I did in #2212 then? Does it work for you? It's a bigger job than it looks though, because we have to account for feeds and the status timeline etc.

[2016-10-28 15:16] ludovicraymond opened #2217 "issue with component status management"
If I create an issue with a critical status on a component and a new issue is created with a limited impact status the component change to the limited impact status even if two issues are not fixed.

I think that the component status management should take into account the status of current opened issues.

Secondly I think that an historical should be necessary in issue to kept the creation date w

[2016-10-28 21:02] ankitjain28may commented on #2063
Anyone is working on this issue??

[2016-10-28 23:06] jbrooksuk commented on #2063
Nope :) feel free!

[2016-10-29 09:04] jbrooksuk commented on #2217
This is going to be taken into consideration with the 2.4 release, now that we have Incident Updates.

[2016-10-29 09:04] #2217 closed

[2016-10-29 09:04] jbrooksuk commented on #2216
Can you see if the setting is in the database? Is your `./bootstrap/` folder writeable by your web server process?

[2016-10-29 09:04] #2216 closed

[2016-10-29 09:52] Aybee2k commented on #2216
Yes the Folder have 755

In which table should the entry be placed?

[2016-10-29 13:06] jbrooksuk commented on #2216
`settings`.

[2016-10-29 13:33] ankitjain28may commented on #2063
What u need in ur 404 error apart from the current page.. So I wil modify it accordingly

[2016-10-29 15:45] jbrooksuk commented on #2063
Well, we want to still show the dashboard layout, but with some information text to say that the page wasn't found as this will allow the user to continue navigation.

[2016-10-29 15:53] ankitjain28may commented on #2063
ok..

[2016-10-29 16:25] #2208 closed

[2016-10-29 16:26] jbrooksuk commented on #2201
Ping @joecohens

[2016-10-29 16:26] jbrooksuk commented on #2196
Thanks for this report!

As part of v2.4 we're implementing a new status page design which will eradicate this issue 👍

[2016-10-29 16:26] #2196 closed

[2016-10-29 17:26] axilleas opened #2218 "Configuring email documentation"
According to the docs, you need to configure `.env` with the SMTP credentials in order to get SMTP to work. However, even when those are set up, you are still asked to enter their values in the Environment Setup page.

Should the docs be updated or is there something I'm missing? If the docs need an update I'm happy to provide one.

Also what are the different mail drivers options used for? I mean

[2016-10-30 17:36] #1900 closed

[2016-10-30 21:16] #1607 closed

[2016-10-30 21:18] jbrooksuk commented on #1607
Done!

Although, one thing I need to add is components, but this will be done as part of the new design as it'll help to clear up some code.

[2016-10-30 22:09] jbrooksuk commented on #2051
@stipx I've rewritten the scheduled maintenance system today, but need to finish it off so that components can be modified too. Then we'll be there!

[2016-10-31 09:33] ConnorVG commented on #2218
I assume the fields should really pre-fill with the entered details from `.env`, for security reasons if not.

You can learn about the mail drivers here: https://laravel.com/docs/5.2/mail
They use different delivery systems, generally speaking via a HTTP API.

[2016-10-31 09:33] #2218 closed

[2016-10-31 09:41] jbrooksuk commented on #2218
This is something that is fixed in v2.4 setup 👍

[2016-10-31 11:33] seanmangar opened #2222 "Remove someRandomString from .env.example"
I was setting up this project in my local computer and noticed that if you don't remove someRandomString from .env.example, running php artisan key:generate appends the key before _=SomeRandomString_ .This is perhaps why in Laravel's .env.example it is kept blank: https://github.com/laravel/laravel/blob/master/.env.example

[code]

[2016-10-31 11:45] #2222 closed

[2016-11-01 14:08] cascer1 opened #2226 "Allow for custom data fields in components"
Hi!

I'm working on a tool that automatically checks certain things for components I added to Cachet (Right now, I'm only pinging and getting response codes).

I currently have a file that simply stores the settings for each component in an array. In this I store the url, check type, expected response code, timeout, and some other details needed for tests. I tried moving this to tags, but that did

[2016-11-01 14:50] ConnorVG commented on #2226
This is quite an interesting idea.

[2016-11-01 19:26] jbrooksuk commented on #2226
I like this.

Somebody feel free to hack on it 😄

[2016-11-02 03:24] biovn opened #2228 "error 500 when subscribe an email from control panel and from subscribe button at bottom right"
This is the error detail :
Error 500

Houston, We Have A Problem.
Internal Server Error

What does this mean?

Something went wrong on our servers while we were processing your request. An error has occurred and this resource cannot be displayed. This occurrence has been logged, and a highly trained team of monkeys has been dispatched to deal with your problem. We're really sorry about this, and w

[2016-11-02 07:38] GrahamCampbell commented on #2228
Just search for that error code in your log file?

[2016-11-02 07:39] GrahamCampbell commented on #2228
NB That message is referring to you from the perspective of your users, not to us.

[2016-11-02 08:23] jbrooksuk commented on #2228
We need to do something different than that error.

[2016-11-02 09:43] biovn commented on #2228
where is the log file?

[2016-11-02 10:20] biovn commented on #2228
FYI, i'm using version 2.3.9 setup from this instruction link  https://docs.cachethq.io/docs/installing-cachet

[2016-11-02 11:12] sachinaher commented on #229
@jbrooksuk, Cachet is good product for status dashboard and really helpful for my projects.
Is SAML authentication going to be implemented in upcoming versions?
It will definitely help companies with large number of users.
Thanks.

[2016-11-02 11:16] jbrooksuk commented on #229
https://github.com/CachetHQ/Cachet/issues/2108

It'll probably come along with the LDAP support 👍

[2016-11-02 11:20] axilleas commented on #2218
Okay, thanks guys :)

[2016-11-02 13:37] nixmomo commented on #2228
Sounds like the same Error that i had but my was after a upgrade from 2.3.9 to 2.4
Don't know if Mails worked in 2.3.9.
#2187
#2183
In #2183 is the fix for my 500 error and in #2187 another error if you use supervisor.

BUT not sure if this is your bug to without any logs

Look into Cachet/storage/logs for the Cachet Logs and in your webservers error Logs.

Regards

[2016-11-02 13:39] nixmomo commented on #2187
just a reminder, docs aren't updated now :-)

[2016-11-02 13:46] nixmomo commented on #2180
just a reminder, docs are'nt updated :)

[2016-11-02 13:56] jbrooksuk commented on #2180
Merged, thanks!

[2016-11-02 13:58] jbrooksuk commented on #2187
They are now 👍

[2016-11-02 14:34] nixmomo commented on #2187
i don't see the update with --delay=2 :-(

![image](https://cloud.githubusercontent.com/assets/8502506/19932873/dded0904-a111-11e6-9f76-fd6fa0c583f8.png)

[2016-11-02 14:37] jbrooksuk commented on #2187
I didn't save it, whoops!

[2016-11-02 14:41] nixmomo commented on #2187
Shit happens :D

For 2.4 works this too ;-)

Regards

[2016-11-02 14:56] nixmomo commented on #2228
@biovn

The latest Tag is 2.3.10
https://github.com/CachetHQ/Cachet/releases/tag/v2.3.10
But that wouldn't change anything to this issue

To fix it just change 2 files as you can see here
https://github.com/BeyondeLabs/Cachet/commit/0f1347b2124901e4925dd0ec40b26067371c2d57
If you do that correct your Issue is fixed (Testet local on a VM)

@GrahamCampbell @jbrooksuk the Fix from #2186 is here the S

[2016-11-02 15:58] JExactly opened #2229 "How to Modify Email Templates"
I would like to customize the format of the emails that are sent when incidents are created, etc.

Is there an easy way to manipulate the email templates? I have looked at the Twig site, But just dropping HTML into the template field doesn't seem to do it. What am I missing here?

[2016-11-02 16:05] JExactly opened #2230 "Updating an incident"
So, when you create a new incident, it appears that the only email that is sent is the initial incident notice.
When you update an incident, no follow-up e-mail is sent. It seems to me that the way an incident is reported works great. But updating an incident, I would like the ability to notify my subscribed users of the change/update.

Would it be logical to maybe create a incident history of sor

[2016-11-02 21:32] daza111 opened #2233 "Customize Front Page"
Hi there,

Just a quick question. Because of how we have our CSS colors set, I am running into an issue where I need text white except when its on the subscribe popup since that has a white background. The subscribe page is using an h2 tag for text, but so is one of the headers on the front page.

What template/view can I change "About This Site" on the front page to use h1 as the tag rather than

[2016-11-02 21:49] jbrooksuk commented on #2233
This isn't something that is supported I'm afraid. You'd have to change the Blade template.

[2016-11-02 21:49] #2233 closed

[2016-11-02 21:51] jbrooksuk commented on #2229
This is not supported by Cachet currently. It's something we'll add in the future.

[2016-11-02 21:51] #2229 closed

[2016-11-02 21:51] jbrooksuk commented on #2230
This is something that will be fixed in v2.4

[2016-11-02 21:51] #2230 closed

[2016-11-03 01:00] Robbbbbbbbb opened #2236 "Several bugs, plus some feature suggestions"
~~v2.1.0, installed today~~ updated to 2.3.9 and resolved most problems I had when creating this..

Hey all - thanks for a great product! And thanks to Barracuda for having an outage today, otherwise I would have never found this 😄

Edit: I'm a big dummy and didn't install the latest tag earlier while reading through the documentation. I've updated this Issue accordingly. Please see below.

_____

[2016-11-03 07:22] biovn commented on #2228
@nixmomo i switched to 2.4 version which already have the fixed of BeyondeLabs@0f1347b but still that error.
here is log i found on laravel log :
#89 /var/www/html/Cachet/bootstrap/cache/compiled.php(9858): Illuminate\Routing\Pipeline->Illuminate\Routing\{closure}(Object(Illuminate\Http\Request))
#90 /var/www/html/Cachet/bootstrap/cache/compiled.php(2416): Illuminate\Pipeline\Pipeline->then(Object

[2016-11-03 10:02] biovn commented on #2228
Here is my mail config :
MAIL_DRIVER=smtp
MAIL_HOST=outlook.office365.com
MAIL_PORT=587
MAIL_USERNAME=xxx@yyy
MAIL_PASSWORD=xxx
MAIL_ADDRESS=xxx@yyy
MAIL_NAME="My service Limited"
MAIL_ENCRYPTION=tls

[2016-11-03 10:43] biovn commented on #2228
Here  is other configurations :
- Supervisor :
[program:cachet-queue]
command=php artisan queue:work --delay=1 --sleep=1 --timeout=1800 --tries=3
directory=/var/www/html/Cachet/
redirect_stderr=true
autostart=true
autorestart=true
user=cachet

- crontab :
* * * * * php /var/www/html/Cachet/artisan schedule:run >> /dev/null 2>&1

- .env of cache,session and queue :
CACHE_DRIVER=database
SESSION_DRI

[2016-11-03 10:53] biovn opened #2237 "Invalid Metric timer saved on database"
i just tried the 2.4 version and found a bug that mysql did save the wrong timer on this table "metric_points" ( -7 hours comparing to current server time)  when i used the cachet monitor tool to test.
This does not happen when i tried with version 2.3.9 before

[2016-11-03 14:22] nixmomo commented on #2228
It isn't the Full Log of the Error... it miss something like that

`[2016-10-15 03:45:08] production.ERROR: exception 'ErrorMessage [Function] .'`

and you should change from
`command=php artisan queue:work --delay=1 --sleep=1 --timeout=1800 --tries=3`
to
`command=php artisan queue:work --delay=2 --sleep=1 --timeout=1800 --tries=3`

But that hasn't anything todo with your error. Did you wiped the

[2016-11-04 02:31] biovn commented on #2228
i did not upgrade but delete the old (source and database) and install new one.
here is the error log :
#65 /var/www/html/Cachet/vendor/laravel/framework/src/Illuminate/View/Middleware/ShareErrorsFromSession.php(49): Illuminate\Routing\Pipeline->Illuminate\Routing\{closure}(Object(Illuminate\Http\Request))
#66 /var/www/html/Cachet/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php(137):

[2016-11-04 09:18] biovn commented on #2228
this is exactly the error i found after clear logs and retry :
ERROR: exception 'Swift_TransportException' with message 'Connection could not be established with host smtp.gmail.com [Permission denied #13]' in /var/www/html/Cachet/vendor/swiftmailer/swiftmailer/lib/classes/Swift/Transport/StreamBuffer.php:269
Stack trace:
#0 /var/www/html/Cachet/vendor/swiftmailer/swiftmailer/lib/classes/Swift/Tra

[2016-11-04 10:35] biovn commented on #2228
if i change MAIL_DRIVER to sendmail from my google from other articles , i got this error :
[2016-11-04 10:33:09] production.ERROR: exception 'Swift_TransportException' with message 'Expected response code 220 but got code "", with message ""' in /var/www/html/Cachet/vendor/swiftmailer/swiftmailer/lib/classes/Swift/Transport/AbstractSmtpTransport.php:383

[2016-11-04 18:33] jbrooksuk commented on #2237
Hi @biovn, this is weird as I don't believe we've touched metrics in v2.4.

What field is it that's wrong exactly?

[2016-11-04 18:34] jbrooksuk commented on #2228
This looks more like you've got an incorrect configuration. Ping @GrahamCampbell?

[2016-11-04 22:36] nixmomo commented on #2228
Can you try this out

MAIL_DRIVER=smtp
MAIL_HOST=aspmx.l.google.com
MAIL_PORT=25
MAIL_USERNAME=xxx@yyy
MAIL_PASSWORD=xxx
MAIL_ADDRESS=xxx@yyy
MAIL_NAME="My service Limited"
MAIL_ENCRYPTION=null

The X and y change with your gmail data :-)
It looks that there is a TLS / SSL Issue and if i remember right its a swiftmail Bug... i had the same issue with redmine... it worked with all my server but not

[2016-11-06 04:39] ericvhileman commented on #2107
SMS is killing feature!  Our customers all want SMS notifications more than email :)  We're a web hosting provider.  Most of the time when we have a problem and need to notify a customer email won't work because the service affected has killed email.  But even if email isn't killed, SMS is real-time and the best way to notify someone of an important problem.  In today's world, even 5 minutes of do

[2016-11-07 04:23] biovn commented on #2228
php open ssl is activated, am testing local on linux virtual machine. i did write my own java test for the account, it worked but not with cachet.
Anyway for me to try send the email direct without using queue and swift. am not familar with .php so quite hard for me to debug the problem.

[2016-11-07 04:39] biovn commented on #2237
it's the fields : created_at, updated_at
the way i found the problem that i don't see mertric graph at the current hour but it appear at the other hour when i try check the graph with 12 hours. checking your database and i found this issue.

[2016-11-07 04:58] nixmomo commented on #2228
Sounds that you have a dynamic IP!

Did you tried my example ??

Please note! Most block dynamic IP as relayer so google Microsoft and so on do it.
Google allows dynamic IP at this smtp that I posted... try it out with your own Mailserver ...

It isn't a Cachet problem, pretty sure!

What can be better in Cachet is the Errorhabdling to show that the Mailserver didn't accept you as sender I stead a

[2016-11-07 06:35] biovn commented on #2228
am using static ip. with your example it will error like this :
 exception 'Swift_TransportException' with message 'Connection could not be established with host aspmx.l.google.com [Permission denied

[2016-11-07 07:17] biovn commented on #2228
Another the try with mail gun :
MAIL_DRIVER=mailgun
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=postmaster@sandbox5e1696a933be4d2186ff799e9ef346d8.mailgun.org
MAIL_PASSWORD=key-xxxxxxxx
MAIL_ADDRESS=xxxx@yyyy
MAIL_NAME="My service Limited"
MAIL_ENCRYPTION=tls

And i got this Exception  Error :
[2016-11-07 07:14:00] production.ERROR: exception 'InvalidArgumentException' with message 'Rou

[2016-11-07 08:24] m1guelpiedrafita opened #2238 "Subscribe to issues not showing"
I have cachet installed at status.miguelpiedrafita.com with the subscribe option enabled, but it doesn't show up in the page.

[2016-11-07 10:23] iamchathu opened #2239 "Update Twitter on incidents"
Better if twitter updated automatically about status changes

[2016-11-07 19:01] jbrooksuk commented on #2238
Have you configured the [mail settings](https://docs.cachethq.io/docs/configuring-mail)?

[2016-11-07 19:01] #2238 closed

[2016-11-07 19:01] jbrooksuk commented on #2238
Also, what version of Cachet are you using?

[2016-11-07 19:30] m1guelpiedrafita commented on #2238
The lastest. Also, can't you get that from the API?

[2016-11-08 06:35] biovn commented on #2228
hi all
i can make the email working now.
with my research from other people having problem with mail subscription, i tried as their success that changing the Queue config and it worked ok now.
the default Queue is : sync, i changed it to database and it worked perfectly.
hope this help someone. i stuck on this for 2 days !!!!

[2016-11-08 06:35] #2228 closed

[2016-11-08 06:44] biovn commented on #2228
mail driver should be "sendmail" for linux system if we use gmail or microsoft

[2016-11-08 13:36] karaktaka opened #2240 "Upgrade in most recent version not working"
If you update to the current master branch and trying to upgrade the installation you get an error:

`[Illuminate\Database\QueryException]
  SQLSTATE[42S02]: Base table or view not found: 1146 Table 'cachet.incidents' doesn't exist (SQL: UPDATE incidents SET occurred_at = created_at)

  [Doctrine\DBAL\Driver\PDOException]
  SQLSTATE[42S02]: Base table or view not found: 1146 Table 'cachet.incident

[2016-11-08 14:01] jbrooksuk commented on #2240
Oh, ignore the comment I just added on the commit, thanks!

[2016-11-08 18:51] jbrooksuk commented on #2239
This is something I'd like to add along with global notification support.

[2016-11-08 18:51] #2239 closed

[2016-11-08 23:33] gerhard-tinned commented on #1696
I would need this too. How is "correct" in this case?

[2016-11-09 08:02] jbrooksuk commented on #1696
@gerhard-tinned it really isn't supported, sorry.

[2016-11-09 08:05] jbrooksuk commented on #2236
Hi @Robbbbbbbbb thanks for submitting this issue :)

1. I'll take a look at this, it doesn't sound right at all!
2. The message of an incident, or somewhere else? Could you please clarify.
3. You need to ensure that the entire `./bootstrap`directory and the directories/files below it are writeable from your server process.
4. Scheduled Maintenance is being refactored for v2.4 :+1:
5. This is somet

[2016-11-09 08:11] jbrooksuk commented on #2237
Ping @joecohens, do you reckon this is related to timestamps?

[2016-11-09 08:12] jbrooksuk commented on #2240
I'm going to work on a better way of globally dealing with table prefixes.

[2016-11-09 08:12] jbrooksuk commented on #2237
Or... This could be due to the performance refactor I did on metrics? @biovn what DB driver are you using?

[2016-11-10 18:51] TheEpTic opened #2241 ""Some systems are experiencing issues" despite all operational"
So I'm running 2.4.0-DEV and found this issue:

http://i.imgur.com/9NTVDq3.png

I can't seem to find anything to change it, so I'm guessing it's an internal bug at this point.
Our page: https://status.gota.io/

[2016-11-11 07:59] jbrooksuk commented on #2241
Since you're running v2.4-dev do you have any incidents with no fixed updates?