[2018-09-12 08:56] jbrooksuk commented on #2357
Are you using Docker?

[2018-09-12 13:34] millermarkj commented on #3171
I am having exactly the same issues as described here. I followed the (very limited) set of instructions for deploying via docker. There was no `.env.example` file, however, there was a `.env.docker` file in the ./conf directory from the cloned repository. I copied that file to `.env` in the same dir.

None of this has any effect. Things I've done:
1) Run the `php artisan ...` commands above:
[cod

[2018-09-12 16:25] jcmcken opened #3243 "Header-based authentication (e.g. REMOTE_USER)"
Are there plans to support fronting Cachet with an authenticating web proxy? For example, a frontend web proxy authenticates the user, and passes the authenticated user name to Cachet via an HTTP header or environment variable, which Cachet can then trust implicitly.

This type of configuration allows users to use arbitrary authentication methods (including LDAP, CAS, SAML, OAuth, OIDC, etc.) with

[2018-09-13 07:54] jbrooksuk commented on #3243
I've not actually heard of this authentication previously. Is there any documentation or examples?

[2018-09-13 13:57] jcmcken commented on #3243
It's very common. E.g. here's some sample documentation from popular apps/frameworks:

* [Django](https://docs.djangoproject.com/en/2.1/howto/auth-remote-user/)
* [Flask](http://flask.pocoo.org/snippets/69/)
* [Grafana](https://grafana.com/blog/2015/12/07/grafana-authproxy-have-it-your-way/)
* [Elastic](https://www.elastic.co/blog/user-impersonation-with-x-pack-integrating-third-party-auth-with-ki

[2018-09-13 15:05] jcmcken opened #3244 "Setup page requires a mail username"
The setup page seems to require a mail host login username (but doesn't require a password). I think the username and password should both be optional.

In my specific use case, I'm setting the mail host to ``127.0.0.1``, because my local host already has mail forwarding configured correctly. So I don't need any credentials to send mail

[2018-09-14 07:17] jbrooksuk commented on #3241
Is this still an issue for you @TheoBearman? It seems like the database settings may have changed?

[2018-09-14 09:07] ssg-luke commented on #2357
Yep its hosted using Dokku (powered by Docker)

[2018-09-14 11:51] jbrooksuk commented on #3222
This would be possible as well since we know all of the languages. The only difficulty is that Cachet ships with incomplete languages.

[2018-09-15 07:52] TheoBearman commented on #3241
Removed and readded database user and all systems now operational. No idea why it happened as I hadn't changed any of the database settings. Thanks!

[2018-09-15 07:52] #3241 closed

[2018-09-15 14:02] haer0248 opened #3245 "500 error"
![image](https://user-images.githubusercontent.com/25150003/45587022-63488300-b932-11e8-94aa-20ced7017893.png)

**/var/www/Cachet/.env**
APP_ENV=production
APP_DEBUG=false
APP_URL=http://statust.<HIDDEN>
APP_KEY=base64:EkaN4p5JdueSQMnhgv/l2OHBvbmmLYzTUgtQ/nh96T0=

DB_DRIVER=mysql
DB_HOST=localhost
DB_DATABASE=cachet
DB_USERNAME=cachet
DB_PASSWORD=**HIDDEN**
DB_PORT=null
DB_PREFIX=null

CACHE_DRIVE

[2018-09-16 05:35] willwh commented on #2108
How about an approach like [this?](https://github.com/jotaelesalinas/laravel-simple-ldap-auth), which uses https://github.com/Adldap2/Adldap2-Laravel

[2018-09-16 11:05] jbrooksuk commented on #3241
Odd!

Thanks for the update.

[2018-09-16 11:05] jbrooksuk commented on #3244
We can make the username optional. It's just validation.

For the time being, update the `.env` file `MAIL_*` settings.

[2018-09-17 14:42] benyanke commented on #2108
I use Adldap2/Adldap2-Laravel on another project - it's quite good.

[2018-09-17 14:43] ArchdukeNavaron opened #3246 "Translation problem"
Hi,
I am experiencing some problems whit the german translation.
The button "next" or "previous" is shown as follows:
![2018-09-17 16_39_28-window](https://user-images.githubusercontent.com/33832625/45630111-4928b500-ba98-11e8-9424-22757cc2d0f5.png)

Do you see the problem?
It adds a &laquo; and a &raquo;.
Who am I ablo to remove them?

They don't show up in the original english version.

[2018-09-18 15:30] shokhruh commented on #3081
How is the changes to the folder path done?

/[doc_root]/[public_html]/public

[2018-09-18 15:32] shokhruh opened #3247 "Cpanel environment"
I’m trying to run this on a cpanel account
Someone mentioned to change the folder path

How is the changes to the folder path done?

/[doc_root]/[public_html]/public

[2018-09-21 15:03] waqark3389 opened #3249 "Add a link to a Twitter page"
I am trying to add a link to a Twitter page just below the banner. In the older versions it was possible to add a "About this page" section but this seems to have disappeared now. Whats the alternative now?

I'm not sure what version I am on as the VERSION file in the root directory is showing version:  2.3.9 but on the dashboard it is showing 2.4.0-dev.

[2018-09-21 15:11] #3249 closed

[2018-09-21 17:31] mdeggies opened #3250 "php artisan app:install error"
Trying to get cachet w/mysql working on docker (without docker compose). It's almost there, but I'm getting the below error on `docker run {IMAGE}`

[code]

Here is the Dockerfile:

[code]

Here is entrypoint.sh:

[code]

[2018-09-21 18:02] anthonybocci commented on #3249
This is not supposed to be in the issues, so thank you for having closed it and moved on Slack.

As you said there is an "About this page" field in the settings, and that's this information that is supposed to be shown on the status page (as you can see on the demo).
What you pointed out is there was a problem with that, this information was no longer shown.

I've fixed that point, I'll submit a p

[2018-09-21 18:08] mdeggies commented on #3250
Ahh, I think it's failing on `apachectl restart`. Removed that and just trying to run `/usr/sbin/httpd -D FOREGROUND` now

[2018-09-22 06:29] jbrooksuk commented on #3250
Can you open this on the [Docker](/CachetHQ/Docker) repo please.

[2018-09-22 06:29] #3250 closed

[2018-09-22 19:54] a-w11 opened #3252 "How to hook a linux server to this status page?"
Hello,

I have some linux servers and how I can hook this into this status page with automatically refresh?

Give me some docs please I wan’t to understandt this software.

[2018-09-23 00:09] pacit-tech opened #3253 "No Subscribe Button Appearing"
I have configured mailgun and selected the tick box to allow subscribers but there is no subscribe button showing.

    'enable_subscribers' => '1',

![image](https://user-images.githubusercontent.com/20848373/45922775-3addfd00-becd-11e8-9718-a3af36ef139a.png)

Strangely, when i change this tickbox to unchecked,  enable_subscribers is still 1.

[2018-09-24 19:12] Pahanda opened #3254 "SQL errors with Metrics rendering in Cachet 2.4-dev and Postgres 10."
Fresh Cachet 2.4-dev install with PostgreSQL 10 (and a table prefix of `cachet_`).  Any attempts to have a Metric item's graph displayed have an image loading placeholder, and the Laravel log fills up with this:

[code]

There is a full stack trace, but the problem is in the SQL, so I'm omitting it.

There's two separate problems here.

The first is that with recent PostgreSQL versions, it's not q

[2018-09-24 19:30] greysteil opened #3255 "Suggestion / request: use Dependabot to keep dependencies up-to-date"
First of all, thanks for Cachet!

I've got a suggestion / request: would you be up for using [Dependabot](https://dependabot.com) to automatically create dependency update PRs for this Cachet? I ran it against my fork and it generated [these PRs](https://github.com/greysteil/Cachet/pulls). I'll port the `zendframework/zend-diactoros` PR over to this repo now.

I built Dependabot, but I'm honestly

[2018-09-24 23:29] JuanAdamuz opened #3257 "Components Hide on API update"
Hello! I have my API in laravel to update the components every 15 minutes, the thing is after last update in 2.4 branch, when I update teh components theyy become hidden. All of them... ¿Why?

[2018-09-24 23:31] JuanAdamuz commented on #3257
Also my settings page is being reset :(

[2018-09-25 10:07] #3257 closed

[2018-09-25 14:28] aegiap opened #3258 "Multiple components or component group for an incident or scheduled maintenance."
When creating a new incident or scheduled maintenance, I can choose onlye one service or product in the component list. Sometimes a technical issue impacts multiple services and I would like to avoid creating an incident per component.

I would like to be able to select multiple component for an incident or scheduled maintenance. At least, I would like to be able to select a component group in whi

[2018-09-25 14:32] jesobreira opened #3259 "Missing database.sqlite"
The [installing docs](https://docs.cachethq.io/docs/installing-cachet) tells:

However, `database/.gitignore` tells git to ignore any .sqlite file.

What is this file supposed to be? An empty newly-created SQLite3 database didn't work, whereas:

[code]

Is "SQLite is not supported" related to my server or to the backup routine? 'Cause my server does support SQLite...

[2018-09-26 09:00] hcelik opened #3260 "Recurring or available time period"
Hi,

First of all, thanks for the tool! It is very helpful.

I have added a component that available only from 8AM to 6PM every week day.
I think it will be interesting if we can specify an available period for component or a recurring downtime.
For example, a customer support phone, available only from 8am to 6pm.

And the display outside business hours can only be orange with the message out of

[2018-09-26 13:53] asham0 opened #3261 "LDAP Support"
Hi,
 I have installed CachetHQ version 2.4.0-dev, I just want to know does it support integration with LDAP.

Please let me know ASAP

Thank You!

[2018-09-26 20:19] rovox opened #3262 "2.4 scheduled maintance not displayed."
Hi there,

Just updated to 2.4.0 and after i create a maintance its not shown on the frontpage. In the past it showed as comming in x hours. But now its not visible, Looks like a bug to me?

![image](https://user-images.githubusercontent.com/6184352/46106853-22762700-c1da-11e8-95e4-80c80073ea9f.png)
![image](https://user-images.githubusercontent.com/6184352/46106872-31f57000-c1da-11e8-8bba-51d0a52

[2018-09-27 05:59] asham0 commented on #3261
Hello Team,

Please let us know ASAP

Thank you!

[2018-09-27 09:03] schweizerbolzonello opened #3263 "Adding Estonian support for Cachet on Crowdin"
Hello,

Please consider adding the support of Estonian language on Crowdin for Cachet (especially that you are already supporting Finnish) to be translated to

Also could be added : Latvian, Lithuanian

Thanks !
-Thomas

[2018-09-27 09:40] praneet12 opened #3264 "Sessions is not persistent"
Everything is working fine on local. But in production it always takes the session of last logged user. Suppose I have login in the system and after sometimes someone else logged in the system. Then my session changed to his session and I am able to access his account.

[2018-09-27 09:56] praneet12 commented on #3264
Is this is problem with particular version of Cachet ?

[2018-09-29 16:06] jithinsarath commented on #3230
I would be interested in this very much. Similar use case for Internal IT with more applications that 3 full page loads can contain :)

[2018-10-02 06:56] thnilsen commented on #3253
Make sure MAIL_PASSWD is set in .env, as the Subscribe button will not show up before that is present. Just found this issue myself on a 2.3.15 install.

[2018-10-02 07:08] thnilsen opened #3265 "Add translation to Manage Notification form"
The manage notification form (resources/views/subscribe/manage.blade.php) has a few hard coded text strings that should be changed to support locales.

Examples:

* Notifications
* Manage notifications for
* Update Subscription

[2018-10-05 17:35] thomasxd24 commented on #3262
I made a PR revert a commit that made it dissappear #3266

[2018-10-08 10:06] squaricdot commented on #2683
Still experiencing this issue with after setting everything up and writing a script i am experiencing this issue.
cachet_ver=2.3.15

cachet is sending out mails for updated component even when the status hasn't changed.

this makes the whole product basically unusable.

[2018-10-08 10:50] iknev31 commented on #2247
Hey jbrooksuk, Do we have this feature available ? Limiting user access to specific components/groups.

It's a great feature to have. Please let us know when it would be available.

[2018-10-08 13:16] squaricdot opened #3267 "Is sending notifications on every component update even when the status is the same"
Running dockerized 2.3.15 cachet.

Performing healthchecks with some python code to my services and updating cachet accordingly via the API.

when an component is updated with the same status code as already registered in Cachet, Cachet is still sending e-mail notifications when the component is "updated", though it hasn't actually changed.

This makes it unusable, because I am just bombing the su

[2018-10-08 14:34] squaricdot commented on #3267
https://github.com/CachetHQ/Cachet/blob/2.4/app/Bus/Handlers/Events/Component/SendComponentUpdateEmailNotificationHandler.php

[code]

doesn't seem to be doing the trick i guess.

[2018-10-09 21:31] TakeMeNL opened #3269 "[2.4-dev] Mismatch in validation rules component?"
Hi there,

When creating a new component description is required. But when modifying not?

https://github.com/CachetHQ/Cachet/blob/a7789dc1a6723fa7d7f0097b53f433e274f06da0/app/Bus/Commands/Component/CreateComponentCommand.php#L84
https://github.com/CachetHQ/Cachet/blob/a7789dc1a6723fa7d7f0097b53f433e274f06da0/app/Bus/Commands/Component/UpdateComponentCommand.php#L95

Love too fix this but what is

[2018-10-10 11:47] JamesWilson19947 commented on #3101
@nstapelbroek any ideas of when this will be implemented or if I can even do this?

It's basically the primary reason we cannot use it as a company, because without the consistent unsubscribe button on the emails, it's not GDPR compliant! :)

[2018-10-10 12:32] JamesWilson19947 commented on #3101
I'm seriously cool with helping out with this work if you need! 👍
I just don't know exactly how you want the markdown example I made this for the update notifications:

In IncidentUpdatedNotification.php
[code]

update.blade.php

[code]

[2018-10-11 14:55] SteffenBarthel opened #3271 "Error during installation."
Good day,
I tried installing Cachet via docker.
But I get the following error message:
https://pastebin.com/aAH3DCkm

[2018-10-11 21:25] fiber-hosting opened #3272 "Cpanel"
The system cannot deploy
For deployment, ensure that your repository meets the following requirements:

A valid .**cpanel.yml** file exists. For more information, read our documentation.
No uncommitted changes exist on the checked-out branch

[2018-10-15 11:30] jbrooksuk commented on #3265
Closed in #3268

[2018-10-15 11:30] #3265 closed

[2018-10-15 11:31] jbrooksuk commented on #3263
Estonian has been enabled on CrowdIn. I look forward to your contributions :)

[2018-10-15 11:31] #3263 closed

[2018-10-15 11:32] jbrooksuk commented on #3264
Can you show me the `CACHE_DRIVER` value in your `.env` file please?

[2018-10-15 11:32] jbrooksuk commented on #3264
This sounds like a misconfiguration.

[2018-10-15 11:33] jbrooksuk commented on #3272
Sorry, cPanel deployments aren't supported by the core team currently.

[2018-10-15 11:33] #3272 closed

[2018-10-15 11:33] jbrooksuk commented on #3259
You need to create this file. The `.gitignore` file ignores the SQLite database because we don't want this to be overwritten by changes from the core code.

[2018-10-15 11:33] #3259 closed

[2018-10-15 11:34] jbrooksuk commented on #3247
cPanel is not supported by the core team currently.

[2018-10-15 11:34] #3247 closed

[2018-10-15 11:34] jbrooksuk commented on #3237
Please try running `rm -rf bootstrap/cache{,t}/*`.

[2018-10-15 11:34] #3237 closed

[2018-10-15 11:34] #2938 closed

[2018-10-15 11:36] jbrooksuk commented on #3271
Please open this ticket on the [Docker](https://github.com/CachetHQ/Docker) repo.

[2018-10-15 11:37] #3271 closed

[2018-10-15 11:37] jbrooksuk commented on #3267
This is fixed in the 2.4 branch.

[2018-10-15 11:37] #3267 closed

[2018-10-15 11:38] jbrooksuk commented on #3101
Fixed in https://github.com/CachetHQ/Cachet/pull/3270

[2018-10-15 11:38] #3101 closed

[2018-10-15 11:46] praneet12 commented on #3264
It is database. I have removed this line from nginx-site.config file then everything is working fine.
# fastcgi_cache  microcache;
       # fastcgi_cache_key $scheme$host$request_uri$request_method;
       # fastcgi_cache_valid 200 301 302 30s;
       # fastcgi_cache_use_stale updating error timeout invalid_header http_500;

      #  fastcgi_pass_header Set-Cookie;
      #  fastcgi_pass_header Coo

[2018-10-15 12:01] jbrooksuk commented on #3264
👌🏻

[2018-10-15 12:01] #3264 closed

[2018-10-15 12:59] praneet12 commented on #3264
Hey Can you tell me what is the issue ? What happen when I remove this line ?

[2018-10-15 17:44] VeekeeFr commented on #3245
Hello

Could you set
APP_DEBUG=true
It will show the true error and be more helpful than a standard 500 error code.

Regards

[2018-10-15 18:33] jesobreira commented on #3259
Where can I find the database scheme/structure? Creating an empty database with sqlite command didn't work...

[2018-10-15 20:39] GrahamCampbell opened #3280 "CI Dependency Security Checking"
We should add dependency security analysis to our CI process. I'll get this done this week.

[2018-10-16 10:03] AchoArnold commented on #773
Hey @jbrooksuk . I'll love to pick this up if possible. From the chat you guys had, I didn't quite figure out which approach will be best. Do we just store the banner image in `public/storage/img/banner.png' during the upload as @jenolan  suggested or do we compile the image using PHP and serve it directly at runtime using something like https://stackoverflow.com/a/15153931/2561122

CC @GrahamCamp

[2018-10-16 10:17] AchoArnold commented on #2541
Hey @jbrooksuk  It seems this issue has been resolved? I don't see any "Select All/ Deselect All" button under the subscriptions section.

![screenshot 2018-10-16 11 17 03](https://user-images.githubusercontent.com/4196457/47009710-1b856900-d135-11e8-8566-9597341bd0e1.png)

[2018-10-16 10:20] AchoArnold commented on #2518
@jbrooksuk Is this ready to be picked up? Has the new design been completed?

[2018-10-16 10:36] AchoArnold commented on #2775
@ilsire Any updates on this?

[2018-10-16 10:47] AchoArnold commented on #2613
@jbrooksuk  Is this ready to be picked up?

[2018-10-16 19:43] nstapelbroek commented on #3255
I'd love to see this in Cachet. The interface allows configuring specific branches so it should work in the branching model of Cachet.

![screenshot from 2018-10-16 21-41-35](https://user-images.githubusercontent.com/3368018/47042826-801fe280-d18c-11e8-948e-f1e8c257b8f9.png)

[2018-10-17 07:21] heshandh opened #3282 "Error ../Foundation/helpers.php on line 146"
After fixing certain errors, again I found following error when execute "`php artisan key:generate`" command. Can someone help me to fix this please.
Please note that I'm using **sqlite** database

`PHP Parse error:  syntax error, unexpected 'class' (T_CLASS), expecting identifier (T_STRING) or variable (T_VARIABLE) or '{' or '$' in /var/www/Cachet/vendor/laravel/framework/src/Illuminate/Foundatio

[2018-10-17 10:17] jbrooksuk commented on #3282
I’d try removing the `vendor` folder and then running `composer install -o` again

[2018-10-17 11:03] praneet12 commented on #3264
*Yes from our document*

*Praneet Drolia *
*8102075577,7992430856*

On Wed, 17 Oct 2018 at 15:54, James Brooks <notifications@github.com> wrote:

[2018-10-17 11:13] jbrooksuk commented on #3259
I’ve only ever had to run `touch database/database.sqlite` and it worked.

[2018-10-17 11:29] praneet12 commented on #3264
Hey this problem is not there in docs. It is in docker file . So please
remove this line from nginx-site.config file in docker .

*Praneet Drolia *
*8102075577,7992430856*

On Wed, 17 Oct 2018 at 16:55, James Brooks <notifications@github.com> wrote:

[2018-10-17 11:30] jbrooksuk commented on #2541
@AchoArnold this issue is relating to the customer-facing subscription page.

[2018-10-17 11:33] jbrooksuk commented on #3264
@djdefi could you look into the above, please?

[2018-10-17 12:37] GrahamCampbell opened #3283 "Test on PHP 7.3"

[2018-10-18 04:20] sideffect0 opened #3284 "Change demo details to example.com"
Instead of linking an already existing company domain, it is safe to change the test creds
test@test.com to test@example.com (which itself is for demo purpose)

[2018-10-18 08:05] jbrooksuk commented on #3284
There's no reason we couldn't change this and to be fair, it makes sense to do this. We'd need to co-ordinate the changes in documentation as well.

Would you like to propose a PR with this change in? 😄

[2018-10-18 13:24] pree opened #3288 "Components get disabled on updates"
Hello !

I have a weird issue with components getting disabled when they are updated via API.
Everytime I update a component with the PUT Method directly on `https://cachet/component/:id` and do not specify `enabled` in the body, the component gets disabled.

BR,
Pascal

[2018-10-18 22:12] GrahamCampbell opened #3291 "Scrutinizer Not Working?"
Does it need re-linking to someone with admin permissions?

[2018-10-18 22:13] #3280 closed

[2018-10-22 11:32] ArchdukeNavaron opened #3295 "&laquo; Zurück Vor &raquo;"
Hi,
how do I get rid of these cryptic definitions?

[2018-10-22 13:47] sebbourgeois commented on #3171
Up ! Same situation here, docker documentation does not cover at all this..

[2018-10-22 18:14] snandam commented on #3245
I'm getting the same error while using docker-compose

`cachet_1    | #4 /var/www/html/vendor/larav" while reading response header from upstream, client: 172.18.0.1, server: localhost, request: "GET /setup HTTP/1.1", upstream: "fastcgi://127.0.0.1:9000", host: "localhost"
cachet_1    | [22-Oct-2018 18:13:15] WARNING: [pool www] child 77 said into stderr: "NOTICE: PHP message: [2018-10-22 18:13:15]

[2018-10-22 19:09] lelutin opened #3296 "Cachet websites hit CloudFlare by default"
Hi there,

I just saw that cachet makes all visitors request a small javascript file from CloudFlare. I'm currently using 2.3.13, but from what I saw with a search in the code tagged 2.3.15 it's still the case.

I don't see the point of forcing everyone to hit up cloudflare by default, and actually for the internal policies here it's rather unwanted.

Since this seems to be done for librairies tha

[2018-10-26 12:53] jbrooksuk commented on #3295
You can submit changes to translations at https://translate.cachethq.io

[2018-10-26 12:53] #3295 closed

[2018-10-27 23:11] b33rcity commented on #3171
Also having this issue with Docker on v2.3.14. Something I noticed that seems wrong:

[code]

At this point I can `source .env` and the keys will appear in `env` as expected.

So, are there _supposed_ to be two different keys? If so, shouldn't each get its own ENV variable?

Btw, it doesn't seem to matter if I remove one of the keys or leave them both there--I still get a 500 accompanied by the in

[2018-10-30 08:01] francisv-ets opened #3299 "No supported encrypter found"
I'm getting this error message:

`cachet_1    | 2018/10/30 07:27:34 [error] 71#71: *7 FastCGI sent in stderr: "PHP message: [2018-10-30 07:27:34] development.ERROR: RuntimeException: No supported encrypter found. The cipher and / or key length are invalid. in /var/www/html/vendor/laravel/framework/src/Illuminate/Encryption/EncryptionServiceProvider.php:45`

### Environment
- docker-compose
- cache

[2018-10-31 15:17] GrahamCampbell commented on #3299
Thanks for getting in touch. It looks like you are missing required extensions on your system (make sure the openssl extension is installed on your server and available through fpm as well as cli), or have not set an application key using `php artisan key:generate` as described in https://docs.cachethq.io/docs/installing-cachet.

[2018-10-31 15:17] #3299 closed

[2018-10-31 15:18] GrahamCampbell commented on #3296
Thanks for getting in touch. Ping @jbrooksuk. What do you make of removing external deps, and packing everything in a local build process?

[2018-10-31 15:19] GrahamCampbell commented on #3245
It looks like the openssl extension is missing from your server. Please make sure you have it installed and available for fpm to use too, and that you have also followed the instructions at https://docs.cachethq.io/docs/installing-cachet

[2018-10-31 15:19] #3245 closed

[2018-10-31 15:20] GrahamCampbell commented on #3284
Thanks for getting in touch. Discussion can continue on the PR. :)

[2018-10-31 15:20] #3284 closed

[2018-10-31 15:21] GrahamCampbell commented on #3282
It looks like perhaps your webserver is using a different version of PHP than cli. Please make sure both are using the same recent version. Latest 7.1 or 7.2 should work great.

[2018-10-31 15:21] #3282 closed

[2018-10-31 15:22] GrahamCampbell commented on #3288
Thanks for reporting this. Are you able to send a PR to fix this please? What versions of Cachet are affected by this bug?

[2018-10-31 16:04] GrahamCampbell commented on #3283
Just run through a full install on a PHP 7.3 server, and everything worked. :P

[2018-10-31 17:00] GrahamCampbell commented on #3261
LDAP is not currently supported, but if you'd like to implemented, we'll happily review the PR.

[2018-11-01 04:34] RVN-BR commented on #771
Just wanted to ping in to see if this is something stable now? very interested in checking it out

[2018-11-02 14:40] kaipitu opened #3301 "Error 500 Internal Server Error"
Hi,

After some days successfully running cachet, it always throws an `500 Internal Server Error`.
This can be fixed by running either `php artisan config:cache` or `rm -Rf bootstrap/cache/*`.
But after some days the same error occurs again.

cachet version: 2.3.15
php version: 7.0.31

.env file:
[code]

laravel logs:
[code]

I already switched the cache and session drivers from file to redis, tri

[2018-11-02 19:13] wcgcoder commented on #3161
`TRUSTED_PROXIES` only seems to make sense if your lbs have static IP addresses. This is an odd assumption made by laravel for scaled services.
The original issue referenced is preventing us from rolling out the subscription functionality to our users.

[2018-11-02 23:05] onovaes commented on #3088
If you are still looking for portuguese translators just add me.

Language: Portuguese
Username: onovaes

[2018-11-03 07:36] pitchum commented on #3296
Just for the record it seems that some work has been started in branch 2.4 with the new setting [`'enable_external_dependencies' => false`]( https://github.com/CachetHQ/Cachet/blob/50bcfb5/config/setting.php#L71:L81 ). But it started 2 years ago and it's still not released.
In the meantime I have followed that documentation (en French): [dégooglisation de Cachet](https://admin.chapril.org/doku.php

[2018-11-03 11:12] jbrooksuk commented on #3296
@pitchum is correct, we do have a way of disabling these external dependencies, but ideally we wouldn't need to hit a third-party for _any_ assets, I'd even say that fonts should be system-first.

[2018-11-03 11:13] jbrooksuk commented on #3296
The password strength meter is what's pulled in from Cloudflare by the way. We can likely switch to using an NPM module for that.

[2018-11-03 11:14] jbrooksuk commented on #3088
Awesome! I'll add you now.

[2018-11-03 11:15] jbrooksuk commented on #3088
You'll need to signup to the project at http://translate.cachethq.io/project/cachet/invite

[2018-11-03 11:15] jbrooksuk commented on #3088
You can also signup to be a Proofreader at http://translate.cachethq.io/project/cachet/invite?d=m6j60535n427t683i3f3n4k4

[2018-11-03 11:17] jbrooksuk commented on #2531
Based on @GrahamCampbell's [tweet](https://twitter.com/GrahamJCampbell/status/1057654707810910208) regarding RSS feeds, I think we can look at removing them.

[2018-11-05 15:50] boguest opened #3312 "Question on Production Version"
What version of Cachet is considered your "production version" versus your "development version"? Should I be using v2.4 or stick with v2.3.15 in my production environment?

[2018-11-05 17:11] donalturrentine commented on #3230
Is there a "feature" label in the house? :)

[2018-11-05 20:23] GrahamCampbell opened #3313 "Remove RSS Feeds"
https://twitter.com/GrahamJCampbell/status/1057654707810910208

[2018-11-06 07:56] jbrooksuk commented on #3296
Truth be told, we don't need it, so 30 mins to remove it is perfect.

[2018-11-06 07:58] jbrooksuk commented on #3296
We should split this task into removing the password strength and Google Fonts separately.

[2018-11-06 15:35] labolanimichele opened #3314 "Add incident update description in notifications sent by email"
At the current status of 2.4, the email notifications sent out when an incident is updated do not contain the "Message" one enters in the UI for the incident update.

What I enter in the UI is:
![image](https://user-images.githubusercontent.com/22618797/48074953-5f263c80-e1e2-11e8-8fc8-936eea799a9a.png)

-----------------
Here what I receive right now (w)

**Test Incident 1 was updated to Identifi

[2018-11-06 18:29] #3296 closed

[2018-11-06 18:30] GrahamCampbell opened #3317 "Address Google Fonts Dependency"
I think this may be an acceptable default, but we should allow people to opt-out.

---

Relates to #3296.

[2018-11-06 18:31] GrahamCampbell commented on #3296
Dependency on Cloudflare removed as of https://github.com/CachetHQ/Cachet/pull/3315.

[2018-11-06 18:33] GrahamCampbell commented on #3301
Does the user running php-fpm have permission to read the files in https://github.com/CachetHQ/Cachet/tree/2.3/resources/views?

[2018-11-07 00:03] snandam commented on #3245
Not totally clean what you meant. The error I was seeing is when running the docker images. Also can you point me to docs where openssl requirement is documented please?

[2018-11-07 15:55] lelutin commented on #3296
wow! nice, thanks all! you rock as always

[2018-11-08 04:01] calvinbui commented on #2304
Has this been removed? I'm seeing it on the [latest commit](https://github.com/CachetHQ/Cachet/commit/47000c999bbe8e1ba22782c9bcee34b296828e73) on the 2.4 branch.

[2018-11-08 08:11] kaipitu commented on #3301
@GrahamCampbell yes:
[code]

[2018-11-08 12:43] ArchdukeNavaron commented on #3088
@jbrooksuk Maybe you can assign me as Manager again. You did that and in the same minute you demoted me again.

Language: German
Username: ArchdukeNavaron

[2018-11-10 20:13] Dream-cake opened #3318 "Error PHP fatal error"
when i go to http://status.dreaming.ga/ it sends me to http://status.dreaming.ga/setup but it gives an 500 so i looked at the apache2 logs and i get this

[code]
[error in a hastebin](https://codeformat.dreaming.ga/gewomijozu.cs)

How do i fix this please help.

-Spooder#1111

[2018-11-10 20:42] mgleadow commented on #3169
I agree that this would be a very useful feature as I have a similar use case where a "component" is an application within a suite and they are deployed independently so I don't want a maintenance period for App A to suppress notifications for App B

[2018-11-10 21:32] Dream-cake commented on #3318
new error

[code]

[2018-11-10 21:33] Dream-cake commented on #3318
New error

I tried reinstalling it and i got this

![image](https://user-images.githubusercontent.com/31389391/48306431-6614be00-e506-11e8-95af-652c6c5771cf.png)

[2018-11-11 00:10] Dream-cake commented on #3318
Nvm i changed to 7.1 :D

[2018-11-11 00:32] Dream-cake commented on #3318
new error when i go to http://status.dreaming.ga/dashboard

[code]

[2018-11-11 00:45] Dream-cake commented on #3318
I got it working but does it accuracy monitor sites and ips and report it?

[2018-11-11 01:52] Dream-cake commented on #3318
and i have subscirber button on and its adding the user but its not sending the email to verfiy them self and i check spam and the logs nothing :/

[2018-11-11 03:38] #3318 closed

[2018-11-11 03:40] Dream-cake opened #3319 "How to add Https and force it to Https"
if you go to https://status.dreaming.ga/ it does not work but if you go to http://status.dreaming.ga it works how do i force it to work with https

AND

how do you make the stuff ping a website and if it does not respond or does not have a message somewhere in the website to show as offline.

[2018-11-12 08:30] Lichengchang opened #3324 "Components lost?"
Hi,

In mysql of  components table have TW12 - TW15, following :
![ca1](https://user-images.githubusercontent.com/25293877/48334905-1c0f1200-e697-11e8-8271-ad5ae55df814.png)

But not found TW12-TW15 in API and some components is lost following :
![ca2](https://user-images.githubusercontent.com/25293877/48335078-a3f51c00-e697-11e8-8eca-f9bb7518228e.png)

I hope someone can point me in a direction.

[2018-11-12 14:50] stuartmacfarlane commented on #330
This appears to be happening again on "2.4.0-dev".

Steps to recreate:
1. Create a new incident.
2. Enter a title and Message.
3. Submit.

The page refreshes and gives the error:
---
Whoops. There was an error adding the incident, please try again.
The status field is required.
---

At which point all form fields are blank and you have to start over again.

[2018-11-12 14:52] stuartmacfarlane opened #3325 "Incident Form Data Lost on Submission"
Same issue as this one:
https://github.com/CachetHQ/Cachet/issues/330

Running v2.4.0-dev

Steps to recreate:

1.Create a new incident.
2.Enter a title and Message.
3.Submit.

The page refreshes and gives the error:

**Whoops. There was an error adding the incident, please try again.
The status field is required.**

At which point all form fields are blank and you have to start over again.

[2018-11-13 09:27] SunnyTeater opened #3327 "rename "past incidents""
Hey guys,

i just asking if its possible to change the header "past incidents" to only "incidents" for my status page.
I think it sounds wrong when people only see current incidents.

Sorry, but im not familiar with coding, thats why im asking :)

[2018-11-13 14:19] jbrooksuk commented on #3327
Hi @SunnyTeater, good question. It's possible to edit the language files which are responsible for the text. You can find them in `./resources/lang/{code}/`.

[2018-11-13 14:19] #3327 closed

[2018-11-13 14:32] SunnyTeater commented on #3327
@jbrooksuk  found it, changed it :)
Thank you.

[2018-11-13 21:49] never00rei commented on #3319
Just out of curiosity, are you using the docker version of Cachet - if so I can provide you with a working backend nginx config.

[2018-11-13 21:50] bonfire-dev commented on #3324
Check here - https://docs.cachethq.io/docs/advanced-api-usage#section-pagination. You have a total of 52 items but by default, per_page is set to 20. So you are seeing the first 20 items in your result. Probably you may have to try http://<your_url>/api/v1/components?per_page=52

[2018-11-14 00:20] Dream-cake commented on #3319
no i am not

[2018-11-14 00:21] Dream-cake commented on #3319
im using apache2

[2018-11-14 21:33] dependabot[bot] opened #3329 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-11-14 21:35] GrahamCampbell commented on #3319
When I visit the site, I see an error page due to incorrectly configured SSL.

![image](https://user-images.githubusercontent.com/2829600/48513993-3989da80-e855-11e8-86b9-630f6c11e1e6.png)

[2018-11-14 22:21] Dream-cake commented on #3319
i did not set anything up i want to know how to make it work?

[2018-11-15 08:32] nightkingdoms opened #3331 "Error in vendor file on count() usage"
Having to deal with this particular error myself converting over to Laravel 5.7.  PHP is 7.2.10, Cachet is set to use tag v2.3.9.  Followed instructions to the letter on a brand new install. Getting this in the Apache logs, zero logs in the storage directory (777).  It throws a 500 error after going to the homepage and self-redirecting to /setup.

[Thu Nov 15 01:24:48.690237 2018] [php7:error] [pi

[2018-11-15 08:47] jbrooksuk commented on #3331
Cachet 2.3 doesn’t support PHP 7. You’ll need to upgrade to 2.4.

[2018-11-15 08:47] #3331 closed

[2018-11-15 09:32] jbrooksuk commented on #3318
Do you have the cron running?

[2018-11-15 15:07] labolanimichele commented on #1620
Hey @jbrooksuk , I installed the current 2.4, and this is still not working for me.
Could you please reopen it?

[2018-11-16 16:40] schemetric commented on #3230
This would be very helpful for us as well. We're using Cachet to publish the status of AV systems in classrooms. Being able to specify which particular component in a room is having the issue would be great. That would provide much more visibility for our faculty into the exact state of a room they will be teaching in.  Thanks.

[2018-11-19 19:02] jbrooksuk commented on #3230
This is something that we can implement relatively quickly. I can look at this after my holiday.

[2018-11-20 23:38] Tigerpanzer02 opened #3336 "Setup |Whoops! There was an error"
When I go on the site https://status.cc-sw.de/setup it is saying whoops! There was an Problem and so on.

You can have a look on the site what I mean https://status.cc-sw.de/setup

Can someone help me?

[2018-11-21 07:54] jdegger commented on #236
Please reconsider, this is one of the main reasons why this amazing solution is not up to par with StatusPage because they have Component Subscriptions.

[2018-11-21 18:55] Tigerpanzer02 commented on #3336
Solved via stack support

[2018-11-21 18:55] #3336 closed

[2018-11-22 03:01] SybilSystem commented on #3301
I too am having this same issue. [The logs](https://gist.github.com/SybilSystem/9325fbba82c4889e0a565a499cc37918) are here if you need them.

[2018-11-23 09:29] GentillePlume opened #3337 "/setup not found"
Hi !

I just installed Cachet by follow the doc. But when I open the page, there is this following error.
![preview](https://i.imgur.com/X5za8PS.png)

[2018-11-23 09:56] GentillePlume opened #3338 "PHP parse error during installation"
Hi !

I have this error during installation after `composer install --no-dev -o`
![screenshot](https://i.imgur.com/isvkfwb.png)

[2018-11-23 10:06] GrahamCampbell commented on #3301
@SybilSystem Looks like your using an old version of Cachet that only is compatible with up to PHP 7.1, not 7.2.

[2018-11-23 11:19] jbrooksuk commented on #3338
What version of PHP are you using and the version of Cachet?

[2018-11-23 11:19] jbrooksuk commented on #236
@jdegger Cachet also has component subscriptions, though?

[2018-11-23 11:21] jdegger commented on #236
I think the AWS AMI I had was out of date. My apologies for the misinformation 👍

[2018-11-23 12:17] GentillePlume commented on #3338
Sorry dude I forgot to check the branch version.

[2018-11-23 12:17] #3337 closed

[2018-11-23 12:29] GentillePlume opened #3339 "Setup: "An error has occurred and this resource cannot be displayed.""
![screenshot](https://i.imgur.com/PPcCwHW.png)

[2018-11-23 12:36] GentillePlume commented on #3339
The log file of the event only :
`[2018-11-23 12:35:20] production.ERROR: PDOException: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry 'admin' for key 'users_username_unique' in /home/www/feather-project/status/vendor/laravel/framework/src/Illuminate/Database/Connection.php:441
Stack trace:
#0 /home/www/feather-project/status/vendor/laravel/framework/src/Illuminate/Database/

[2018-11-23 15:33] jbrooksuk commented on #3339
It looks like you already have an admin account setup. Run `PHP artisan migrate:fresh` and try again.

[2018-11-23 15:34] jbrooksuk commented on #236
No worries!

[2018-11-23 15:34] #3301 closed

[2018-11-23 15:38] GentillePlume commented on #3339
Done. Now, the page is setup is done, but impossible to login, there is now users in database.

[2018-11-23 17:42] jbrooksuk commented on #3339
Is the dashboard not letting you in?

[2018-11-23 18:09] jbrooksuk commented on #3317
With the new theming system that I’ve been working on, this will be up to each theme. Howevto, the default theme will be without third-party services.

[2018-11-23 18:13] jbrooksuk commented on #3088
Apologies! I’ll sort this once I’m home.

[2018-11-23 19:03] GentillePlume commented on #3339
yeah

[2018-11-23 20:01] jbrooksuk commented on #3339
Weird... maybe try the install again. There should be no reason unless the password was entered differently?

[2018-11-23 20:45] SybilSystem commented on #3301
@GrahamCampbell So the latest version is 2.4 and that is compatible with up to 7.1?

[2018-11-23 21:45] #3219 closed

[2018-11-23 21:45] jbrooksuk commented on #3301
Correct!

[2018-11-25 21:58] GrahamCampbell commented on #3301
No, **2.3** is the latest release, and will work on PHP upto 7.1. Very latest unreleased **2.4** will work on up to PHP 7.3.

[2018-11-27 10:12] Flusinerd opened #3346 "Error 500 when trying to access /setup"
Hello, Im trying to install Cachet on my Windows Apache-Webserver.
I am getting the following error, when trying to run the `composer install --no-dev -o` command:

`Script php artisan optimize --force handling the post-install-cmd event returned with error code 255`

I can run the same command with the `-no-scripts` flag without issues. But I cannot access the page after install, when it redirect

[2018-11-27 10:15] Flusinerd commented on #3346
Sry, I forgot my .env

APP_ENV=production
APP_DEBUG=false
APP_URL=http://62.138.21.253:502/
APP_KEY=d08huzFBvyfuobsV2D0fn4EeTwZnsAVX

DB_DRIVER=mysql
DB_HOST=130.180.31.138
DB_DATABASE=navigatemStatus
DB_USERNAME=###
DB_PASSWORD=###
DB_PORT=3306

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=database
CACHET_EMOJI=false

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null

[2018-11-27 13:00] Cigizmoond-Vyhuholev commented on #1896
When will be release of 2.4.0 version on docker-hub?

[2018-11-29 17:31] szepeviktor commented on #3317
Google Font is a strange service.
It **is** UA-depedent ([try](https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin) in modern Firefox and in IE 11 and see the result).

Although "user-agent" is missing from the `Vary:` HTTP header!

So it is [very hard to replicate](https://github.com/majodev/google-webfonts-helper) its service locally.

[2018-11-30 08:38] LordJohn42 commented on #1220
That remove all my packages. Thank you. Next time I will think what im doing.

[2018-11-30 20:38] jaredvacanti commented on #1696
I've been working this out on the slack support for the last few days.

Using a configuration like this with `nginx`:

[code]

this will correctly serve the entire laravel application from a subdirectory (in this instance `example.com/status`) and resources load properly (images, css, setup pages like `example.com/status/setup`) but the solution is not complete due to `POST` requests to setup the

[2018-12-01 07:34] VinothArockiaraj commented on #2588
Hi there, Try this

Locate config/database.php from the root folder

If you have something like this,
'charset' => 'utf8mb4',
'collation' => 'utf8mb4_unicode_ci',

then change to
'charset' => 'utf8',
'collation' => 'utf8_unicode_ci',

save and try   " php artisan migrate "
I think this could solve the problem

Thanks

[2018-12-01 13:21] barreeeiroo opened #3353 "Status Page does not show Components"
I have recently upgraded our [Status Page](https://status.kodular.io) using CachetHQ to branch 2.4

However, I cannot see the components on the home page
Why does this happen?

[2018-12-02 14:01] jlcd commented on #2051
Is there any way, today, to add a single custom status without tweaking the code too much? Anyone done that?

[2018-12-02 14:34] MarkL4YG commented on #2051
@jlcd Not that I am aware of. But you could just rename one of the predefined ones?
Otherwise, you could try to figure out how the statuses are implemented. Surely this will reveal how to add custom statuses atm.

[2018-12-02 20:45] jlcd commented on #2051
@MarkL4YG thanks for the quick response. Will try your first suggestion.

[2018-12-04 09:18] arthurlogilab commented on #1696
@jaredvacanti thanks for sharing your configuration ! Maybe this could be integrated in the documentation ?

[2018-12-04 10:52] diekmanu opened #3354 "Timeout for cURL / GuzzleHttp"
When opening the dashboard the webserver tries to get the lastest release/build info:

[code]
This is quite annoying, when the webserver has no access to the outside world and leads to timeouts (>30secs) while browsing the dashboard.

Can this be disabled for internal servers?

Third Party Dependencies (Google Fonts, Trackers, etc...) are disabled.

Thanks!

[2018-12-05 14:12] ogghi commented on #960
Hi, I also have problems setting up Cachet! It looks correct in my eyes, but obviously is not...
Laravel log: https://pastebin.com/92sfd7E2

Thanks
David

[2018-12-05 15:33] GrahamCampbell commented on #960
@ogghi You are using an incptabible PHP version. Stable releases of Cachet don't work on php 7.2 or 7.3. You'll need 5.6, 7.0, or 7.1. You can use the current 2.4 branch for compatibility with 7.2 and 7.3.

[2018-12-06 14:02] bramassendorp opened #3356 "Cachet emails still have http://localhost/ in mail footer"
Mails received from cachet always have the following in the source at the end of every mail:

"<img src="http://localhost/img/button-email--dark-grey.png" alt="Cachet" style="-webkit-box-sizing: border-box; box-sizing: border-box; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; border: none; color: none; width: 30px;">"

Within application setup the site url is http://status.companyna

[2018-12-07 18:09] zhujitop opened #3358 "Command "app:install" is not defined."
php artisan app:install

Tips：
Command "app:install" is not defined.

  Did you mean one of these?
      app:name
      app:reset
      app:update
      cachet:install
      migrate:install
![image](https://user-images.githubusercontent.com/35312148/49664938-4f727000-fa8e-11e8-87ca-19d18958eae3.png)

configuration setting
centos7
php7.2
Cachet2.4

[2018-12-08 05:38] joelemanoel commented on #3319
@Dream-cake use: "yum install mod_ssl" in CentOS or other systems: "sudo a2enmod ssl" and restart apache.

[2018-12-11 00:14] Didr commented on #3356
What version of Cachet are you running? The version number is visible under the "Settings" View in the Dashboard if you're unable to find it. I'm fairly certain it isn't 2.4.

I'd also like to see how the last <td>-tag looks like for you in the following file: resources\views\layout\emails.blade.php. Here's mine:

`                                    <td class="content-cell">

[2018-12-11 00:19] Didr commented on #3346
Can you post a list of your loaded PHP extensions?

[2018-12-11 00:30] Didr commented on #3253
In version 2.3 the check to enable the subscribe-button looks like this:
[code]

This means that the "Allow people to signup" needs to be set, a "From" address has to set and finally a "From" name. I'm unsure if null constitutes a false since my .env looks like this and works just fine after I set MAIL_NAME:

[code]

[2018-12-11 00:32] Didr commented on #3358
Hi,
In Cachet 2.4 the php artisan command "app:install" was renamed to "cachet:install". Give that a try and see if it works.

[2018-12-11 15:37] ogghi commented on #960
Ok, I moved some stuff around, updated various things such as PHP, using NGINX now.
Latest git works also with php7.3 :smile:
Now I just get 503 with the following: https://pastebin.com/fcsX5Cdq

[2018-12-12 08:45] ogghi commented on #960
Will open a new issue as this is a different error!

[2018-12-12 08:48] ogghi opened #3360 "503 after moving to nginx"
Opening separate issue as this is a different error...

I moved some stuff (apache2 to nginx), updated various things such as PHP (7.3)
Latest git code works also with php7.3 :)
Now I just get 503 with the following: https://pastebin.com/fcsX5Cdq

Any hint?

[2018-12-13 10:37] #3360 closed

[2018-12-13 13:25] cmardle opened #3361 "Component's updated_at field not updating"
When I make an API call to a component the updated_at field only updates to the current time if the status actually changes - i.e. If I send a request to update a component from Operational to Operational the update_at timestamp does not change.

I have automated monitoring setup to update the components status regularly, and I want the timestamp to reflect the most recent time the component was c

[2018-12-15 13:38] spencerryan commented on #2930
+1 for SAML. We want to roll this out internally with Okta as our IdP. I'm happy to help with any testing you need once it gets to that point.

[2018-12-16 20:42] TakeMeNL commented on #3288
https://github.com/CachetHQ/Cachet/blob/a7789dc1a6723fa7d7f0097b53f433e274f06da0/app/Http/Controllers/Api/ComponentController.php#L127
So this fails if enabled is not given via API, because ```(bool) Binput::get('enabled')``` will be false

[2018-12-17 17:30] #3288 closed

[2018-12-17 22:42] GrahamCampbell commented on #3317
Ping @jbrooksuk

[2018-12-18 06:38] Extarys commented on #3346
I face the same issue.

`php -v`
PHP 7.2.13 (cli) (built: Dec  8 2018 12:11:34) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.2.0, Copyright (c) 1998-2018 Zend Technologies

`php -m` returns:
[code]

public folder have permission 770
status.domain.com folder have 750 persmission
status.domain.com/storage folder have 777 permission

[2018-12-18 08:20] jbrooksuk commented on #3317
I'm going to remove Google Fonts from the new theme.

[2018-12-18 08:21] jbrooksuk commented on #3269
Closed by https://github.com/CachetHQ/Cachet/pull/3362

[2018-12-18 08:21] #3269 closed

[2018-12-18 17:18] Dream-cake opened #3364 "production.ERROR: ReflectionException: Class"
[2018-12-16 02:13:29] production.ERROR: ReflectionException: Class CachetHQ\Cachet\Integrations\Contracts\Feed does not exist in /var/www/html/Cachet/bootstrap/cache/compiled.php:1381

Lastest Build

Site: status.dreamingbot.net

happends goes to /dashboard or redirects

[2018-12-18 21:17] jbrooksuk commented on #3364
Can you run `rm -rf bootstrap/cache{,t}/*` please.

[2018-12-18 22:06] xinxiao opened #3365 "Is it possible to configure a docker instance of Cachet with admin account set up already"
I just need a way to override the setup page in the beginning.

[2018-12-19 01:12] jayze opened #3366 "Unknown column 'notify' in 'where clause'"
Hi,

When using the API to create an incident I'm getting an error 500 and the following error message in the log:

Next Illuminate\Database\QueryException: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'notify' in 'where clause' (SQL: select count(*) as aggregate from `incidents` where `visible` >= 1 and (`name` = test incident and `message` = This is a test incident created via API call

[2018-12-19 05:13] agentcobra commented on #3346
see #3301

[2018-12-19 08:30] jbrooksuk commented on #3364
Ping @GrahamCampbell. This is a weird one?

[2018-12-19 08:31] jbrooksuk commented on #3366
You may need to run `php artisan migrate`?

[2018-12-19 12:07] Dream-cake commented on #3364
so what do i do?

@GrahamCampbell or @jbrooksuk

[2018-12-19 18:56] jordanwilson230 commented on #3171
Any update to this issue? Issues found in standard out-of-the-box installs should be prioritized IMO.  @b33rcity let me know if you've found anything that makes cachet-docker usable at this point.

[2018-12-20 16:32] jayze commented on #3366
Hi,

Yes I've followed the upgrade documentation.

But ran it again to be sure, this is the output.
**************************************
*     Application In Production!     *
**************************************

 Do you really wish to run this command? (yes/no) [no]:

Nothing to migrate.

[2018-12-21 12:41] cmardle commented on #3230
Any update on this? :slightly_smiling_face:

[2018-12-22 02:11] Dream-cake commented on #3364
any update?

[2018-12-22 03:49] Dream-cake commented on #3364
![image](https://user-images.githubusercontent.com/31389391/50370331-adb14f80-0572-11e9-891a-2045e34d84e3.png)
Here is the debug image

[2018-12-22 03:54] Dream-cake commented on #3364
tryed doing composer install --no-dev -o still nothing

[2018-12-22 03:57] Dream-cake commented on #3364
fixed by update

[2018-12-22 03:57] #3364 closed

[2018-12-22 04:03] Dream-cake commented on #3319
ok i added it and ssl is enabled and restarted but still no work at https://status.dreamingbot.net/

[2018-12-22 04:15] Dream-cake commented on #3319
ok made https://status.dreamingbot.net/ work how do i force it to go force https and non-www
so
http://status.dreamingbot.net or status.dreamingbot.net goes to https://status.dreamingbot.net

[2018-12-22 04:19] Dream-cake commented on #3319
this is my conf

[code]

and my .htaccess in public folder

[code]

[2018-12-24 21:06] Extarys commented on #3346
I couldn't install version 2.4 as it didn't appear in the list of available versions, but I'll be patient :D

[2018-12-26 23:38] ktownmods opened #3367 "Reset Mail settings after saveing"
Hey, i run version 2.4 and after i change in settings--->mail all to smtp and save it it reset it to log.

Anyone knew what i do wrong

[2018-12-27 22:30] jbrooksuk commented on #3366
@jayze this is weird... can you show me the structure of your `incidents` table please.

Also, the column looks to be called `notifications` as opposed to `notify`. I'll take a look.

[2018-12-27 22:32] jbrooksuk commented on #3366
@jayze sorry, can you also confirm what the output of `git rev-parse HEAD` is if you run it within the Cachet directory (assuming you pulled down with Git?)

[2018-12-27 22:33] jbrooksuk commented on #3356
Are you using a proxy? Try updating the `TRUSTED_PROXIES` environment value.

[2018-12-27 22:34] jbrooksuk commented on #3354
This is one of a few things:

1. Checking for updates.
2. Checking for blog posts.
3. Finding the list of contributors / donators.

Which dashboard page is it?

[2018-12-27 22:34] #3329 closed

[2018-12-27 22:35] jbrooksuk commented on #3313
@GrahamCampbell can you remember where this spawned from? I seem to recall a conversation we had about it.

Was it because Firefox dropped support of their RSS reader?

[2018-12-27 22:39] jbrooksuk commented on #3324
@bonfire-dev this looks to be the answer, thank you!

[2018-12-27 22:39] #3324 closed

[2018-12-27 22:41] jbrooksuk commented on #3291
https://scrutinizer-ci.com/g/CachetHQ/Cachet/inspections/29c70780-b698-4bfb-b369-c4365dfa2367

I've re-linked.

[2018-12-27 22:41] #3291 closed

[2018-12-27 22:41] jbrooksuk commented on #3254
@Pahanda apologies for the delay! Do you have a dump of your `metrics` and `metric_points` tables so I can test with, please?

[2018-12-27 22:45] jbrooksuk commented on #3329
@dependabot the `ext-sqlite3` extension is required for our test cases.

[2018-12-27 22:45] jbrooksuk commented on #3312
2.3 is the **latest** "stable" version, though 2.4 has been used by **many** companies and organisations worldwide with few issues.

[2018-12-27 22:46] #3312 closed

[2018-12-27 22:46] jbrooksuk commented on #3255
@greysteil thanks for the suggestion, you've built a great product there. Dependabot is now in use across Cachet (and my other projects!)

[2018-12-27 22:46] #3255 closed

[2018-12-27 22:47] jbrooksuk commented on #3253
The above is correct. We changed how this works in 2.4

[2018-12-27 22:47] #3253 closed

[2018-12-27 22:47] jbrooksuk commented on #3252
Cachet doesn't monitor anything, so there isn't a built in way of doing this. Instead, I'd suggest checking out https://docs.cachethq.io/docs/addons and adding a monitoring system there.

[2018-12-27 22:47] #3252 closed

[2018-12-27 22:48] jbrooksuk commented on #3242
Try running `rm -rf boostrap/cache{,t}/*`.

[2018-12-27 22:48] #3242 closed

[2018-12-27 22:48] jbrooksuk commented on #3235
@Matthewrbowker, interesting! I'll try these out now.

[2018-12-27 22:52] jbrooksuk commented on #3235
I've just done the following, without errors.

1. Installed Cachet 2.3
2. `php artisan migrate`
3. `php artisan cachet:seed`
4. `git checkout 2.4`
5. `rm -rf bootstrap/cache{,t}/*`
6. `composer install`
7. `php artisan migrate`

Can you try running `rm -rf boostrap/cache{,t}/*` and then running the migrations again please.

[2018-12-27 22:52] jbrooksuk commented on #3235
I do wonder if this is a MariaDB issue?

[2018-12-27 22:56] jbrooksuk commented on #3284
Closed by https://github.com/CachetHQ/Cachet/pull/3287

[2018-12-27 22:57] jbrooksuk commented on #3314
Makes sense to me!

[2018-12-27 22:57] jbrooksuk commented on #3314
Please feel free to take this issue up as well :)

[2018-12-27 22:58] jbrooksuk commented on #3358
@Didr is correct :)

[2018-12-27 22:58] #3358 closed

[2018-12-27 22:58] dependabot[bot] opened #3369 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-12-27 22:58] #3233 closed

[2018-12-27 22:58] jbrooksuk commented on #3228
This should no longer be an issue in 2.4 - are you able to test this?

[2018-12-27 22:59] jbrooksuk commented on #3369
@dependabot please can you take a look into this, we need `ext-sqlite3` for our test suite.

[2018-12-27 23:00] jbrooksuk commented on #3225
Good spot, @cdhowie!

[2018-12-27 23:01] jbrooksuk commented on #3216
@rtroulak what endpoint are you hitting here? How many subscribers do you have?

[2018-12-27 23:02] jbrooksuk commented on #3216
Also, can you please confirm which version of Cachet you're using?

[2018-12-27 23:02] #3217 closed

[2018-12-27 23:04] #3194 closed

[2018-12-27 23:06] jbrooksuk commented on #3088
@ArchdukeNavaron you should now be able to proof-read German translations.

[2018-12-27 23:07] jbrooksuk commented on #3079
Apologies @01A4093, this was fixed in 2.4

[2018-12-27 23:07] #3079 closed

[2018-12-27 23:11] jbrooksuk commented on #3246
@ArchdukeNavaron what version of Cachet are you using? In the 2.4 files, there isn't any HTML in the string https://translate.cachethq.io/proofread/cachet/25/en-de

[2018-12-27 23:11] #3246 closed

[2018-12-27 23:12] jbrooksuk commented on #3224
I believe this was fixed in 2.4

[2018-12-27 23:12] #3224 closed

[2018-12-27 23:14] jbrooksuk commented on #3222
Also, you can enable a setting in Cachet in the Localization page **Automatically localise your status page to your visitor's language?**

[2018-12-27 23:14] #3222 closed

[2018-12-27 23:15] #3339 closed

[2018-12-27 23:16] greysteil commented on #3369
This should be fixed by https://github.com/dependabot/dependabot-core/commit/ac55a4ace9e9b319fa4d40ea911012e220a56e34 which is deploying now. It'll take me about 30 minutes to get it out as it requires a new container build which is sloooooow.

[2018-12-27 23:16] jbrooksuk commented on #3243
@jcmcken I'd quite like to see this in Cachet as it would solve other issues. I'm still unsure how to implement this and how to test it.

[2018-12-27 23:18] jbrooksuk commented on #3369
Thank you @greysteil! I'll get @dependabot-bot to recreate the PRs tomorrow.

[2018-12-27 23:20] jbrooksuk commented on #2982
Pinning this issue. I think we should do this before we finish work on implementing the new design.

[2018-12-27 23:20] jbrooksuk commented on #3215
This should be fixed in v2.4, apologies for the issues.

[2018-12-27 23:20] #3215 closed

[2018-12-27 23:21] jbrooksuk commented on #3361
@joecohens or @GrahamCampbell have either of you had experience with this issue?

[2018-12-27 23:23] #3361 closed, assigned to nobody

[2018-12-27 23:27] #3313 closed, assigned to GrahamCampbell

[2018-12-27 23:42] barreeeiroo commented on #3353
Yes
I was using the 2.4 branch, and it seems like if you enable "Only show days containing incidents in the timeline?" then components just vanish from it.

On Dec 27 2018, at 11:24 pm, James Brooks <notifications@github.com> wrote:

[2018-12-27 23:48] jbrooksuk commented on #3353
Interesting. I’ve re-opened and will take a look at this.

[2018-12-28 00:38] GrahamCampbell commented on #3369
@dependabot-bot Why not just run composer with `--ignore-platform-reqs`?

[2018-12-28 00:38] GrahamCampbell commented on #3369
@dependabot Why not just run composer with --ignore-platform-reqs?

[2018-12-28 00:41] GrahamCampbell commented on #3369
https://github.com/dependabot/dependabot-core/commit/b72a20053b5c510f83c485c57b9ee8be3bfc0311

[2018-12-28 00:43] GrahamCampbell commented on #3369
dependabot/dependabot-core@b72a200 seems to be incorrect. The ignore platform requirements flag doesn't do what the author of the commit thinks it does. It it not related to the "platform" config in the composer.json, but is actually related to if composer checks the current system php version and extensions. This is exactly why dependabot was broken for us.

[2018-12-28 08:02] #3369 closed

[2018-12-28 08:07] jbrooksuk commented on #3261
Duplicate of https://github.com/CachetHQ/Cachet/issues/2108

[2018-12-28 08:07] #3261 closed

[2018-12-28 11:43] ktownmods commented on #3367
Yes, but for now i go to lates tag release ;)
So you can close this, only i want is to notify you

[2018-12-28 12:53] boguest commented on #3312
Ok, what are the major enhancements with v2.4?

[2018-12-28 13:07] GrahamCampbell opened #3373 "Upgrade doctrine/dbal"
To be done after upgrading to Laravel 5.7.

[2018-12-28 13:08] GrahamCampbell opened #3374 "Upgrade simplesoftwareio/simple-qrcode"
To be done after upgrading to Laravel 5.7.

[2018-12-28 13:17] GrahamCampbell opened #3375 "Cachet's default setup fails because of the database"
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/2829600/50516468-e2596580-0aa2-11e9-97df-0e89572d8e3d.png">

[2018-12-28 14:01] GrahamCampbell opened #3376 "Remove laravolt"
Makes too much of a mess for us, and adds extension dependencies.

[2018-12-28 14:03] GrahamCampbell commented on #3375
Partially fixed by #3372. A full fix would be to have the setup screen be able to do everything, once an encryption key has been set by the user via CLI. // @jbrooksuk to look at implementing that

[2018-12-28 14:22] GrahamCampbell commented on #3354
Looks like you have emojis enabled, but are blocking web access for your sever. Please turn off emojis, and your issue will be resolved.

[2018-12-28 14:22] #3354 closed

[2018-12-28 16:33] GrahamCampbell commented on #3354
Done in https://github.com/AltThree/Emoji/commit/d1ceb83ca11c0c5b2fef505772e96d9061d942c0.

[2018-12-28 17:46] #3373 closed

[2018-12-28 17:46] GrahamCampbell opened #3378 "Upgrade pragmarx/google2fa"

[2018-12-28 22:55] GrahamCampbell opened #3379 "Ensure Cachet Commands Respect `--no-interaction`"
In particular, the cachet:install command needs to select good defaults automatically (if it can). Perhaps we should allow the command to create an sqlite database on disk?

[2018-12-28 22:56] GrahamCampbell commented on #2924
Replaced by https://github.com/CachetHQ/Cachet/issues/3379.

[2018-12-28 22:56] #2924 closed

[2018-12-29 12:38] ArchdukeNavaron commented on #3088
@jbrooksuk thanks, it is working now. Next question. Are we allowed to use letters like ä? Or do we have to translate them with replacements?

[2018-12-29 13:16] GrahamCampbell commented on #3379
Yeh, then with sensible defaults, --no-interaction will work properly.

[2018-12-29 17:04] TakeMeNL commented on #3088
Language: Dutch (native), English
Username: TakeMeNL

[2018-12-30 08:23] LyleDodge opened #3385 "2.3.15 reports as 2.3.14-dev in Dashboard"
While running 2.3.11 I upgraded to 2.3.15 per instructions at https://docs.cachethq.io/docs/updating-cachet which went perfectly smooth--thanks!

Then when I re-visit the app I see 2.3.14-dev for the version at url dashboard/settings/setup

I recognize this is very minor display issue but I'm attaching a screenshot here for clarity.

<img width="469" alt="screen shot 2018-12-30 at 12 22 16 am" src

[2018-12-30 11:57] jbrooksuk commented on #3385
@GrahamCampbell are you able to push a version change? I wish we could automate the versioning system here.

[2018-12-30 22:56] jbrooksuk commented on #3088
@ArchdukeNavaron please feel free to use characters from the language. The more native, the better.

[2018-12-30 22:57] jbrooksuk commented on #3088
@TakeMeNL you're now a proofreader for Dutch.

[2018-12-30 22:57] jbrooksuk commented on #3088
@JordyvanDortmont you're now also a proofreader for Dutch.

[2018-12-31 00:09] GrahamCampbell commented on #3379
This bug extends to the framework core commands too.

[2018-12-31 07:13] jbrooksuk commented on #3246
Can you run `git pull`

[2019-01-01 00:04] jhodges10 commented on #3171
@b33rcity Also wondering if there's a fix for this. Out-of-the-box Docker installs that work are kind of the whole point with Docker.

[2019-01-01 11:15] jbrooksuk commented on #3367
Awesome, thanks!

[2019-01-01 11:30] jbrooksuk opened #3398 "Downloadable translation packages"
I think it'd make more sense if the translations were downloadable packages, rather than packaging **every** language within Cachet itself.

Thoughts?

[2019-01-02 21:38] jcmcken commented on #3243
I'm not super familiar with PHP tooling, but I've done this extensively for Python web apps. In Python, there's typically an auth middleware somewhere in the stack that looks at a particular environment variable and trusts its value as the logged in user.

In pseudocode:

[code]

Implementation-wise, there would be a frontend web server that

1. authenticates the user
2. if authenticated successfu

[2019-01-02 23:38] alexcurtin commented on #1656
any update on this capability?

[2019-01-03 08:18] jbrooksuk commented on #3243
@jcmcken oh! That sounds much easier than I thought it would be. So basically, if `REMOTE_USER` is set to `test@example.com` then we should authenticate as such user automatically?

[2019-01-03 10:39] mpselby opened #3400 "v2.4 strengthify missing in js files"
Owing to a need to update PHP to 7.2 (previous going out of support) on CentOS 7 I have had to try the 2.4 branch after problems with laravel compatibility.  None of the javascripts sent to the browser define the $.strengthify() .

[2019-01-03 16:23] jcmcken commented on #3243
@jbrooksuk Yep, that's all it is. You trust whatever the auth proxy gives you for a username. If no username is passed, the auth proxy failed to auth and you can deny login

[2019-01-03 17:46] fbatschi commented on #1451
is it still planned to merge this feature into 2.4?

[2019-01-04 10:40] bramassendorp opened #3403 "Changes in /var/www/Cachet/resources/lang/en/cachet.php"
Hello,

I have done some modifications (changed some email sentences) within the cachet.php file.
The changes are not visible within the emails (no changes at all, all still the same).

Do I need to do something else? Site language is set to English.

Already did a "php artisan app:update"

Thank you.

[2019-01-05 03:09] Matthewrbowker commented on #3235
Hello, sorry about my lack of comments.  I will try it tomorrow and let you know.

[2019-01-05 08:52] craftbyte commented on #3088
@jbrooksuk Could you create Slovenian and add me as manager
Username: jensterleanze

[2019-01-05 20:08] MayhemBill commented on #3346
I have this issue, but I am running the latest git commit to 2.4?

[2019-01-06 22:26] Minemarc98 opened #3404 "[PDOException] could not find driver PROBLEM WHEN INSTALL"
Hello people,

I have a problem when try to install CachetHQ, when put the command

php artisan app:install

Appears:

php artisan app:install
Clearing settings cache...
Settings cache cleared!
Backing up database...
Dumping database and uploading...
Successfully dumped mysql, compressed with gzip and store it to local at /var/www/html/Cachet/database/backups/XXXXXXXXXXX
Backup completed!
Applicat

[2019-01-06 22:50] leonardotandeli commented on #3404
First, install the PHP-MYSQL:

`sudo apt-get install php7.0-mysql`

Then, find the following line and uncomment:

`;extension=php_pdo_mysql.so`

if the above line not exist, just add in without the ";"

[2019-01-06 22:55] Minemarc98 commented on #3404
I have database in other node, its posible?

I install mariadb-server and added extension=php_pdo_mysql.so in to /etc/php.ini, restarts httpd and mariadb and don't work.

PD: I use CentOs 7

[2019-01-07 03:06] attack0 opened #3405 "[REDACTED]"
[redacted]

[2019-01-07 11:07] GrahamCampbell commented on #3405
Please send your report to support@cachethq.io.

[2019-01-07 13:16] ArchdukeNavaron commented on #3246
@jbrooksuk
After I executed git pull, I had some issues with the composer.lock file.
After resolving them and finally executing it again, i got some problems with dependencies.
php artisan app:update did not work as packages like barryvdh/laravel-debugbar or Roumen\Feed\FeedServiceProvider were missing. As i didn't want to add them one by one I decided to roll back.

Is this a known problem or is

[2019-01-07 13:19] jbrooksuk commented on #3398
I was just looking at the CrowdIn translations and I think we'd need to mirror this into a separate repository; https://support.crowdin.com/api/download/ as we need an API key.

[2019-01-07 21:13] palktonderAtpowelno commented on #2947
I still have this issue so this case should not be closed.

[2019-01-08 07:59] bramassendorp opened #3409 "Subscribers not getting scheduled maintenance emails"
Hi,

Im using Cachet v.2.3.15.

It looks like when subscribers are not subscribed to all the components, they are not receiving scheduled maintenance emails. I hope this is not by design.

Am I doing something wrong?

Thank you.

[2019-01-08 08:39] palktonderAtpowelno commented on #2947
I'm not sure if I should create a new issue for this problem since this issue is being automatically closed. For me this seems pretty simple to reproduce: Call https://demo.cachethq.io//api/v1/components from Postman (GET or OPTIONS). Observe that there is no Access-Control-Allow-Origin header, thereby effectively making it impossible to use from an external web site

[2019-01-08 14:59] Minemarc98 commented on #3404
Hello?

[2019-01-09 08:54] miquelbarbero commented on #771
+1 to slack integration

[2019-01-09 10:33] GrahamCampbell commented on #771
Slack support is already implemented.

[2019-01-09 10:52] miquelbarbero commented on #771
Great news!

Thanks a lot for your confirmation

[2019-01-09 14:57] jayze commented on #3366
git rev-parse HEAD
a7789dc1a6723fa7d7f0097b53f433e274f06da0

Structure of the table:
[code]

[2019-01-09 16:51] greysteil commented on #3369
@GrahamCampbell - until we have a better solution, if you ever see this error please let me know and I'll add the required extension to Dependabot's dockerfile.

[2019-01-10 07:15] bramassendorp commented on #3409
Hi,

Still can't figure out why, at the moment it's a big issue for us. Customers are not getting maintenance notices because mostly all customers are only subscribed to components that are useful for them.

Thank you.

[2019-01-10 11:48] Ballanced opened #3411 "Error 500 Houston, We Have A Problem. Internal Server Error [5]"
Hello Team,

I'm trying to install CachetHQ first time.
But  no matter what I do, I get an error **Error 500 Internal Server Error**
What am I doing wrong? Please, help me to solve this issue.

I use:

1. Ubuntu 18.04.1 LTS
2. nginx version: nginx/1.14.0 (Ubuntu)
my nginx file:
[code]
3. mysql  Ver 15.1 Distrib 10.1.34-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2
4. PHP 7.2.10-0ubuntu

[2019-01-11 00:42] sbaatar commented on #3088
New language: Mongolian
Username: sbaatar

[2019-01-11 06:57] WakeupTsai opened #3412 "Metric not displays on the status page"
I use docker (cachethq/docker:2.3.15) to run the cachet, but the metric I created didn't show on the status page. I already check the "Display chart on status page?" box is be checked, and the `display_chart` value in database is also be `true`.

[code]
There is an error I'm not sure relevant or not: `67#67: *1 FastCGI sent in stderr: "PHP message: [2019-01-11 06:36:00] development.WARNING: Symfon

[2019-01-11 18:02] palktonderAtpowelno opened #3413 "CORS problem: No 'Access-Control-Allow-Origin' Header is present"
I have to create a new issue for this problem since issue #2947 is being automatically closed without the author input. For me this seems pretty simple to reproduce: Call OPTIONS https://demo.cachethq.io//api/v1/components from Postman with Access-Control-Request-Method set to GET and Origin set to a web site url. Observe that there is no Access-Control-Allow-Origin header, thereby effectively mak

[2019-01-14 01:48] #3412 closed

[2019-01-14 23:16] soccerdude288 commented on #3411
Getting the same problem as well, although I'm using apache.

When I go to localhost, it automatically redirects me to localhost/setup which gives a chrome 500 error.

[2019-01-14 23:22] soccerdude288 commented on #3411
One other difference, I saw in a previous post that PHP 7 isn't supported, so I'm running 5.6.40.

[2019-01-15 00:11] Joe-K2018 opened #3417 "Cachet status page Error 500"
I can get to /dashboard/components but I can't get to the status page. When I do I get a 500 error.

I have followed the install instructions.

APP_ENV=production
APP_DEBUG=true
APP_URL=http://localhost
APP_KEY=base64:xxxxx

DB_DRIVER=sqlsrv
DB_HOST=127.0.0.1
DB_DATABASE=cachet
DB_USERNAME=xxx
DB_PASSWORD=xxx
DB_PORT=xxx
DB_PREFIX=null

CACHE_DRIVER=database
SESSION_DRIVER=database
QUEUE_DRIVER=sy

[2019-01-15 09:33] barreeeiroo commented on #3353
Hi @jbrooksuk
It is still happening, and I don't know what can be causing it (using branch 2.4) at [status.kodular.io](https://status.kodular.io)

[2019-01-15 11:42] ArchdukeNavaron commented on #3398
How does it work currently?
Is it being downloaded on a regular basis?
Or doesn't it get updated automaticaly?

[2019-01-15 21:28] Joe-K2018 opened #3418 "SQL query contains duplicate order statement when using groups, 500 error on 2.3 / 2.4"
When I add a component to a group and try to go to the status page it crashes with a 500 error.

The same error is thrown in 2.3 as well as 2.4. In 2.3 and 2.4 it occurs after adding a component to a group. In 2.4 it also occurs after adding an incident.

I have a feeling this is related to me running MS SQL server which I know is not officially supported, but since that is what my company uses I

[2019-01-16 16:39] harika224121 opened #3419 "Failed to update Cachet Dashboard due to SSL Error 112"
Hi,

Our cachet Dashboard is not getting updated even after the service comes up and running. The status of the service remains same as non-operational. We need to manually change it to operational after recovering the service from failure. I found this error message in the logs:-

Error:

Failed to update external Cachet dashboard: { Error: write EPROTO 140431734950016:error:14094458:SSL routines

[2019-01-17 07:46] CptTZ commented on #3400
Same problem here, console shows:
[code]
Which leads to incorrect renderings for some components on the status page.

[2019-01-18 21:02] scarecr0w12 opened #3421 "Piwik/Matamo Issue"
The Analytics page details "URL of your Piwik instance (without http(s)://)". However, when not including the Http(s):// in the url, the loaded page structures the url as such:

https:// < cachet URL > /< piwik/matamo instance URL >/

So a 404 is created. However including the aforementioned http(s)://, everything loads correctly.

[2019-01-18 21:05] scarecr0w12 commented on #3421
Better example:
piwik instance- https://piwik.domain.com
Cachet instance - https://cachet.domain.com

When NOT including the https:// in the analytics page, the page head code for front end loads:

https://cachet.domain.com/piwik.domain.com/

But when including it in analytics page, It loads head code as:
https://piwik.domain.com/

[2019-01-20 04:43] arkhalid1986 opened #3424 "Cachet With Plesk Mail Server"
Hello,

I have setup the cachet on centos 7 but i am getting problem with mail setting i have made the account at mailtrap.io i have setup the email setting in .env it work fine with mailtrap setting i can see subscribe button and can add subscriber too but problem is if i add any client email they won't get any notification all emails are coming into account in mailtrap.io. How can i set email se

[2019-01-20 04:45] arkhalid1986 commented on #3424
Also i want to update plesk is installed on other server and cachet is installed on other server.

[2019-01-21 10:43] Meghamala-T opened #3429 "Unable to login because setup doesn't create users in the database"
Hi,
I tried to setup Cachet v2.3.15 in my local. I am using PHP v7.0 , Apache v2.4 and MySQL v8.0.
I have completed all the setup steps and arrived at the login page, but unable to login due to "Invalid username/password" error.When I check the laravel logs, nothing gets logged there.When I check the database tables, there are no users created.
Any pointers on how to overcome this?

[2019-01-21 19:35] #3417 closed

[2019-01-22 08:07] shengbinxu commented on #3346
I have the same error。
as @agentcobra say, my php version is 7.2. and after I change branch to 2.4, and execute 'composer install', and all is ok

[2019-01-22 16:44] Ballanced commented on #3411
I resolved this issue. I accidentally downloaded the wrong version of PHP.

Need to downgrade PHP to 7.0.

[2019-01-22 16:44] #3411 closed

[2019-01-22 18:49] maddprof opened #3529 "Cachet v2.5.0 404 Incident updates"
Developing a POC for my office to make use of cachet and we're testing the API functionality.

I'm getting a 404 response when trying to create an update:

GET incident snippet:
[code]

POST Incident update creation
[code]
[code]
[code]

And the response:
[code]

[2019-01-24 11:01] arthurzenika opened #3430 "Provide a way for the default subscribe to not select all components"
Maybe a follow up of #2591

We have three components groups : production, preproduction, demo.

We would like for the default subcribe to be only "production", then some users might want to add  the other environments/components/groups.

[2019-01-24 22:02] Joe-K2018 commented on #3418
If anyone can point me in the direction of what file might be incorrectly formatting the select statement, I can take a look and see if I can figure out. I've been digging through the files but haven't been able to figure it out yet.

[2019-01-26 10:11] jbrooksuk commented on #3418
I'll take a look at this now, though I don't have an MS SQL Server to test against. Would you be able to pull down a branch and test for me?

[2019-01-26 10:13] jbrooksuk commented on #3418
@Joe-K2018 can you test out https://github.com/CachetHQ/Cachet/pull/3432 please.

[2019-01-26 10:16] jbrooksuk commented on #3421
Thanks for reporting. I think we should require the HTTP(s) prefix.

[2019-01-26 10:18] jbrooksuk commented on #3421
@scarecr0w12 I've just checked and it looks like the string shouldn't include that. I'll remove it now.

[2019-01-26 10:38] jbrooksuk commented on #3413
@palktonderAtpowelno can you please pull down and test https://github.com/CachetHQ/Cachet/pull/3434?

[2019-01-26 11:00] #3421 closed

[2019-01-26 11:11] jbrooksuk commented on #3429
Are your database settings correct?

Try out the 2.4 branch :smile

[2019-01-26 11:12] jbrooksuk commented on #3424
What `QUEUE_DRIVER` are you using?

[2019-01-26 11:12] jbrooksuk commented on #3404
MariaDB is not technically supported. I'd suggest using MySQL.

[2019-01-26 11:13] #3404 closed

[2019-01-26 11:13] jbrooksuk commented on #3404
Also, yes, you can use a DB that is hosted on another server.

[2019-01-26 11:13] #3405 closed

[2019-01-26 11:13] jbrooksuk commented on #3400
Thanks for reporting! I'll take a look now.

[2019-01-26 11:15] jbrooksuk commented on #3400
Ah, we removed Strengthify in https://github.com/CachetHQ/Cachet/commit/9de2ea22e3b25ab402317c83dd605d6c8a83f548 due to it being third-party hosted, but it looks like I forgot to remove the actual integration. I'll do that now.

[2019-01-26 11:15] jbrooksuk commented on #3400
Context is at https://github.com/CachetHQ/Cachet/pull/3315

[2019-01-26 11:17] jbrooksuk commented on #3400
Fixed in c0d9d9ceb80b43c6e566666ad74173b0a42725f7

[2019-01-26 11:17] #3400 closed

[2019-01-26 11:18] jbrooksuk commented on #3366
I've no idea how this has happened.

All of the migrations from 2.3 to 2.4 work perfectly. Can you manually rename this column?

[2019-01-26 11:19] jbrooksuk commented on #3409
What `QUEUE_DRIVER` are you using? See docs at https://github.com/CachetHQ/Cachet/blob/2.4/docs/setup/configuring-queue.md

[2019-01-26 11:34] jbrooksuk commented on #3088
@craftbyte and @sbaatar you're now proofreaders for your requested languages.

[2019-01-26 12:57] Joe-K2018 commented on #3418
Looks good! I can load the status page after adding an incident now in 2.4.

I am still having this issue after adding components to groups and trying to view the status page, but I might have fixed it? I was playing around with this last night. I'm new to PHP programming but got XDebug set up and was going through it. I ended up removing the order by statement from two locations here:

https://i.

[2019-01-26 14:37] jbrooksuk commented on #3418
I think it'll likely be the same issue, just in different presenters. Bear with!

[2019-01-26 15:01] jbrooksuk commented on #3418
Okay, pull down the branch again :)

[2019-01-26 15:19] Joe-K2018 commented on #3418
It's better! I can view the status page if I go to the base url, but if I go to /dashboard I am still receiving the error.

[code]

[2019-01-26 15:23] dmnktoe opened #3435 "Feature request: API endpoint which displays the status in general"
Hey, thinking about a new API endpoint which gives the information, if there are any outages or if all components working properly. Like the banner messages at the top of the page which says "All system are operational". Would use it for a small green/yellow/red indicator embedded on another page.

What do you think?

[2019-01-26 16:59] jbrooksuk commented on #3435
This is a thing! https://dev.cachethq.io/api/v1/status

🎉

[2019-01-26 16:59] #3435 closed

[2019-01-26 17:05] jbrooksuk commented on #3418
Can you provide me with the full log file please?

Also, try running `rm -rf bootstrap/cache/*`.

[2019-01-26 17:57] dmnktoe commented on #3435
Great! But one question, one component was set to an outage but the API still displays `success`. Kinda weird.

[2019-01-26 18:05] jbrooksuk commented on #3435
🚀

[2019-01-27 14:31] #2895 closed

[2019-01-27 14:34] jbrooksuk commented on #3366
Closing this as unable to replicate, but we can continue the conversation.

[2019-01-27 14:34] #3366 closed

[2019-01-27 14:35] #3346 closed

[2019-01-27 14:36] #3317 closed

[2019-01-27 14:47] szepeviktor commented on #3317
An option has been added: https://github.com/CachetHQ/Cachet/commit/57aef06927421d86d4845f0bf3594e860ef7c7f4#diff-1a116b5d4c79ba12a1bcad639c9c300eR49

[2019-01-27 22:20] jbrooksuk commented on #3353
@barreeeiroo can you share a dump of your `components` and `settings` tables please? I can see from https://status.kodular.io/api/v1/components that you have components setup.

[2019-01-27 22:22] #3418 closed, assigned to jbrooksuk

[2019-01-27 23:04] barreeeiroo commented on #3353
Oh, lol, it was that :man_facepalming:
I never noticed that option, sorry

[2019-01-28 00:37] Joe-K2018 opened #3439 "SQL query contains duplicate order statement when accessing (base url)/dashboard, 500 error"
Possibly related to #3418.

Here is my complete log:

[laravel.log](https://github.com/CachetHQ/Cachet/files/2800995/laravel.log)

[2019-01-28 01:26] spencerryan opened #3440 "Allow REMOTE_USER authentication to JIT provision accounts"
The addition of REMOTE_USER authentication is fantastic!

One last feature we would need to make this extremely useful is for Cachet to be able to create accounts on the fly if one does not exist, that way any user who is authenticated by the external IdP does not have to go through another sign up process.

I like the way DataDog accomplishes this. When JIT user creation is enabled you specify a

[2019-01-28 07:58] bramassendorp commented on #3409
QUEUE_DRIVER=database

But mail are being send, no issues on that. But when a subscriber is not subscribed to all components, no more maintenance mails are being send out to that user.

[2019-01-28 12:06] suzanned88 commented on #2895
Hi @jbrooksuk I see you closed this issue. Is it fixed? can we update out Cachet-version?

[2019-01-28 18:54] harika224121 commented on #3419
Hi @jbrooksuk  thanks for responding to my query we are using api-dashboard-engine to automatically updtae the cachet dashboard.  So whenever the service comes up and running it should update the component status from major outage to operational but for few services it is not updating then we need to manually change the status of the component. This is the issue we are facing currently. can you he

[2019-01-30 19:58] Diniboy1123 opened #3441 "[2.4] channel not defined with redis"
Hi,

I just installed Cachet 2.4 on my machine with PHP 7.2.10 (the one which comes with ubuntu) and I tried to configure it to use redis and postgresql.

The first login works fine, but the second throws an 500 error and this in the logs:

[code]

In my env, here is the redis section:

[code]

What I am doing wrong?

[2019-01-31 15:59] auth1299 opened #3442 "Can NOT create .ENV file in Windows File System"
**In Windows, you can not name a file .env .**

You should always have the extension .php on a config file. It's possible that a user could download a file if it does not contain .php extension and gather all the contents of the file. If it was named .php the file would just execute and nothing would happen.

[2019-01-31 16:04] auth1299 commented on #3442
I found a work around. Open notepad, type test or anything. Then save the file as .env.

Copy and paste the config to this file. DONE!

[2019-01-31 16:04] #3442 closed

[2019-01-31 20:03] jbrooksuk commented on #3441
https://github.com/CachetHQ/Cachet/blob/baa78b97620a5ab5a8a7e8487eb9dbe11690df65/app/Http/Controllers/Dashboard/DashboardController.php#L109

This isn’t a Redis issue, but instead an issue in fetching the RSS feed from the Cachet blog. I’ll fix this issue now.

[2019-01-31 20:06] jbrooksuk commented on #3441
Fixes in 2.4

[2019-01-31 20:06] #3441 closed

[2019-01-31 21:32] auth1299 commented on #2634
I'm getting the same issue. I am running cachet 2.4

[2019-01-31 21:34] auth1299 commented on #2634
![capture](https://user-images.githubusercontent.com/7773605/52086896-0adaf080-2576-11e9-87bb-442d2f4a2abf.PNG)

[2019-01-31 21:36] auth1299 commented on #2634
When in the setup,  I click next it fails. I'm running this on a windows 2016 server using IIS.

![capture](https://user-images.githubusercontent.com/7773605/52087008-4f668c00-2576-11e9-9625-53d2f13c9d88.PNG)

[2019-01-31 21:41] auth1299 opened #3443 "404 not found /index.php/setup/step1 - all.js"
I can get to the /index.php/setup page but when I try to configure and click NEXT, I get a 404 error trying to go to step1.  I'm using cachet 2.4-dev on windows 2016 using IIS. I have the rewrite module installed.

PHP Version
PHP 7.1.10 (cli) (built: Sep 26 2017 20:03:48) ( NTS MSVC14 (Visual C++ 2015) x64 )

I tried this on chrome and on a separate computer using firefox, I get the exact same re

[2019-01-31 21:44] auth1299 commented on #3443
APP_ENV=production
APP_DEBUG=false
APP_URL=http://status.testurl.net
APP_TIMEZONE=UTC
APP_KEY=base64:***********************************************
DEBUGBAR_ENABLED=false

DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_UNIX_SOCKET=null
DB_DATABASE=cachet
DB_USERNAME=cachet
DB_PASSWORD=32894623234HJF
DB_PORT=3306
DB_PREFIX=

CACHE_DRIVER=database
SESSION_DRIVER=database
QUEUE_DRIVER=database

CACHET_BEACON=

[2019-01-31 21:49] auth1299 commented on #3443
Developer tools shows this:

![capture](https://user-images.githubusercontent.com/7773605/52087693-20e9b080-2578-11e9-84e2-44fac6b4135e.PNG)

[2019-02-01 00:15] Diniboy1123 commented on #3441
Awesome, works! 😃

[2019-02-01 00:18] Diniboy1123 opened #3444 "Cachet metrics are not showing"
Hi,

I just installed Cachet 2.4 and the metrics are not working for some reason. Here is the corresponding log part:

[code]

And this is what I can see always:
![image](https://user-images.githubusercontent.com/29148882/52094383-2cac9580-25bf-11e9-9bed-90e8a7c5d3bd.png)

Any ideas?

[2019-02-01 00:31] tejaswivinod commented on #771
@GrahamCampbell  Where do I set the slack urls for user from cachet? Is there any environment var I need to set for slack token. I can see slack webhook url in dbs but not sure how can I make use of it? Any leads will be appreciated thanks.

[2019-02-01 03:34] spencerryan commented on #3177
We are planning on using Cachet internally and similarly want something like this. We are going to subscribe specific mailing distribution lists ourselves but don't want end users to have the ability to do so.

[2019-02-01 07:35] jbrooksuk commented on #3443
You shouldn’t need the `index.php`

Try following the guide at https://docs.cachethq.io/docs/installing-cachet-on-windows

[2019-02-01 07:35] #3443 closed

[2019-02-01 20:34] auth1299 commented on #3443
Hi,
You do need the index.php in the url. I went over the windows installation instructions several times. You are missing the storage folder permissions on this page by the way.
I've done it all. Looks like a bug in the all.js file possibly. 
Shaun

Sent from Yahoo Mail on Android

  On Fri, Feb 1, 2019 at 2:35 AM, James Brooks<notifications@github.com> wrote:
You shouldn’t need the index.php

Tr

[2019-02-01 20:56] jbrooksuk commented on #3440
@spencerryan have you managed to test if https://github.com/CachetHQ/Cachet/pull/3402 works for you?

[2019-02-01 21:00] jbrooksuk commented on #3444
@Diniboy1123 hey! Thanks for reporting this.

Can you confirm what version of Postgres you're using, please?

[2019-02-01 21:02] jbrooksuk commented on #3260
@hcelik thanks for adding this issue.

I'm not sure how useful this is as a whole, for a generic solution such as Cachet.

Instead, if I were you, I'd create a cron job which automatically updates this component using the API outside of the hours you're open.

[2019-02-01 21:03] jbrooksuk commented on #3161
You can use wildcards in the trusted proxies configuration.

[2019-02-01 21:03] #3161 closed

[2019-02-01 21:09] jbrooksuk commented on #3262
Fixed in https://github.com/CachetHQ/Cachet/pull/3266

[2019-02-01 21:09] #3262 closed

[2019-02-01 21:10] jbrooksuk commented on #3443
@TheoBearman 👋 Are you able to help out above?

[2019-02-01 21:11] jbrooksuk commented on #3409
Oh, I see...

[2019-02-01 21:17] jbrooksuk commented on #3244
Fixed in 6a53e21354ba004e0cebb133506e0c065eac639f

[2019-02-01 21:17] #3244 closed

[2019-02-01 21:19] jbrooksuk commented on #3429
I've just tested out this process on 2.4 and I had a user setup for me.

[2019-02-01 21:19] #3429 closed

[2019-02-01 21:33] Diniboy1123 commented on #3444
Seems like it's a duplicate of #3254. But it's a freshly created database with no data before.

[2019-02-01 22:21] LosaMatova opened #3451 "PHP Fatal Error on app:install"
When running ` php artisan app:install` on a freshly installed instance running the newest clone and checked out for `v2.3.9`.

[code]

System Details:
OS: Ubuntu 18.04
PHP:
[code]

PHP INI:
[code]

.env
[code]

Steps Already taken:

I have done the following:

_Originally posted by @jbrooksuk in https://github.com/CachetHQ/Cachet/issues/1577#issuecomment-190617826_

Output:

[code]

[2019-02-01 22:32] jbrooksuk commented on #3451
You cannot run PHP 7 on Cachet 2.3. You’ll need to upgrade to 2.4 please.

[2019-02-01 22:33] LosaMatova commented on #3451
@jbrooksuk Please add this sort of information into the documentation on installation or throw an error or really anything that provides feedback to the user.

[2019-02-02 12:01] jbrooksuk commented on #3451
I've updated the README.

[2019-02-02 14:33] Perflyst commented on #2686
When will this be available in a release? It is not available in v2.3.15 and in the screenshot I see v2.4.0-dev. I really need this, so is it save to use master for production?

[2019-02-02 14:39] jbrooksuk commented on #2686
The 2.4 branch is typically stable, though under more active development. No guarantees, of course, but we do try to avoid merging untested and broken code.

[2019-02-02 14:49] Perflyst opened #3453 "Which provider or tag's files would you like to publish?"
On 2.4 you get some options to choose from. What exactly is this about? I did not found anything in the docs.
[code]

[2019-02-02 20:40] anthonybocci commented on #2930
@jbrooksuk Yes it seems to be good, it allows to use OneLogin, SimpleSamlPhp or other to manage the authentication. It avoids to implement SAML2 within Cachet.

[2019-02-03 06:31] FareedaSaleh opened #3454 "Can't run the Cachet successfully"
Hi
I flow the https://docs.cachethq.io/docs/installing-cachet to install the cachet app but I can't run the app successfully!!
![screenshot from 2019-02-03 09-18-42](https://user-images.githubusercontent.com/26326307/52173418-633c0900-2795-11e9-96b4-437530abfa89.png)

[2019-02-03 08:58] jbrooksuk commented on #3454
It looks to me like you’ve not configured PHP properly.

Which server are you using? Apache or nginx?

[2019-02-03 09:03] jbrooksuk commented on #2930
@anthonybocci that’s great! Is anyone able to test it for us? :)

[2019-02-03 09:09] anthonybocci commented on #2930
@jbrooksuk I think to test it we have to install a local version of [simplesamlphp][1] and configure it. I've never used the REMOTE_USER, but I think anyone using it would be able to test that :)

[1]: https://simplesamlphp.org/samlidp

[2019-02-03 09:17] FareedaSaleh commented on #3454
I use Apache

[2019-02-03 11:15] FareedaSaleh commented on #3454
-

[2019-02-04 08:45] rtroulak commented on #3216
i have almost 10,000 subscribers. I use 2.3 version

[2019-02-04 11:15] FareedaSaleh opened #3459 "This page isn’t working"
Hi
When I run the server I got This page isn’t working
95.177.161.92 is currently unable to handle this request.
HTTP ERROR 500
I use linux 16.04 and apache and PHP 7

![screenshot from 2019-02-04 13-58-48](https://user-images.githubusercontent.com/26326307/52205084-0751ad00-2887-11e9-8a0a-4d324d44e07b.png)

[2019-02-04 22:03] jbrooksuk commented on #2531
We removed the feeds.

[2019-02-04 22:03] #2531 closed

[2019-02-05 06:50] jbrooksuk commented on #3453
Closed by https://github.com/CachetHQ/Cachet/commit/c6adb0d3a8afc0b05024044adba802bf09289f91

[2019-02-05 06:50] #3453 closed

[2019-02-05 07:51] FareedaSaleh commented on #3459
Hi
I reinstall the Cachet v2.3.9 on ubuntu 16.4 and using PHP 7.0 and when I run the apache and I have page not found then I run the command  -a2enmod rewrite- and I got (currently unable to handle this request.
HTTP ERROR 500)  I use ( https://docs.cachethq.io/docs/installing-cachet )

[2019-02-07 16:44] cosmeefulanito commented on #1220
el proyecto debe tener un token generado como indicaron mas arriba. Ése debes pegarlo en la terminal cuando te lo pida el composer

[2019-02-08 14:59] dennusb commented on #2862
I still have this problem, has it been resolved already?

[2019-02-08 16:55] Daniel15 commented on #2862
I switched my installation to the 2.4 branch, which fixed the issue.

Sent from my phone.

On Fri, Feb 8, 2019, 6:59 AM dennusb <notifications@github.com> wrote:

[2019-02-08 21:41] #3424 closed

[2019-02-08 21:41] #3260 closed

[2019-02-09 02:42] MDXDave commented on #2696
You can fix this by adding `maxTicksLimit: 20` in metrics.blade.php

[2019-02-09 18:26] tejaswivinod opened #3465 "Manage subscription after verifying subscriber"
In current workflow of subscription, If a new subscriber adds his email from  `Subscribe` link on the bottom of status page, he gets verification email and on clicking `Verify` from email, he is directed to statuspage with `Awesome. Your email subscription has been confirmed. Thank you!` message.
There is no way he can manage the subscription from confirmation page.  He needs to wait for another s

[2019-02-09 18:32] tejaswivinod commented on #3465
I guess this is part  of #3102

[2019-02-11 09:24] michalblaha opened #3468 "Swagger/OpenAPI .json"
Hi.
Is there Swagger / OpenAPI json file available? Or endpoint with it? I found discussion about generating docs only but no json file with API description.

Thanks

[2019-02-11 14:18] AEnterprise commented on #2459
i'm having the same issue here, my database,VPS clock and app timezone are both set to "Europe/Brussels" (so UTC+1) but when inserted into the database the timestamp corresponds to UTC instead. i had to change things to show in UTC instead to make it not have the last hour blank

is there any other information or logs i could provide to help track this down so it can be fixed?

[2019-02-11 15:46] AEnterprise commented on #3132
having almost the exact same issue, only for me it isn't completely blank, it shows the last 2 datapoints only

![image](https://user-images.githubusercontent.com/5206666/52574420-8a8d7880-2e1c-11e9-915c-76ae23ad6132.png)

[2019-02-12 19:08] thejcannon opened #3470 "Associate a scheduled maintenance with a component."
When I create a scheduled maintenance, it'd be nice if I could associate it with a component, so only that component's subscribers get an email about the scheduled maintenance. Additionally, it would turn into an incident for that component.

Possibly the dashboard would list the maintenance underneath the component as well, but that could be a separate feature request.

Unfortunately this is bloc

[2019-02-13 15:13] dennusb opened #3471 "Cannot run install step?"
Hello,

I'm trying to perform a brandnew Cachet 2.4 install on a machine with PHP 7.2.13 but when i run :

php artisan app:install

  Command "app:install" is not defined.

  Did you mean one of these?
      app:name
      app:reset
      app:update
      cachet:install
      migrate:install

I tried everything, including new clones from repo, cache resets, new machines etc. What is going on?

Den

[2019-02-13 19:56] cristiancs commented on #3471
Based on this commit file
https://github.com/CachetHQ/Cachet/blob/b1de3b6b4e467854130e9c1c71009ae36662155b/app/Console/Commands/InstallCommand.php

I think the command is now php artisan cachet:install

[2019-02-16 08:59] pietzschke commented on #2943
@jbrooksuk Any updates on 2.4 or 3.0? Thanks!

[2019-02-16 15:45] GameMaster2030 commented on #2459
Yeah, I have the same issue. My metrics are one hour behind.

[2019-02-16 17:16] GameMaster2030 commented on #3470
This would be nice, also add an api reference for this.

[2019-02-17 12:31] mipapo commented on #3459
Could you check the error logs of the vhost?
Check that the files files are owned by the users of the webserver

[2019-02-17 12:56] Perflyst commented on #2939
I think I got the same issue. I created a component with `Unknown status` and than updated it to `Operational`. Now I get `Some systems are experiencing issues` even if every component is `Operational`.

[2019-02-17 13:00] Perflyst opened #3472 "php artisan down not working"
I just updated to latest 2.4 branch, `php artisan down` has no affect in the front end. The admin dashboard and also the default status page still works and no maintenance site is shown.
I diff'ed the file `artisan` before and after the down - up commands, it is always the same.

[2019-02-17 14:18] jbrooksuk commented on #3472
Can you confirm that the `bootstrap/cache` directory is writeable?

[2019-02-17 14:38] Perflyst commented on #3472
[code]
and
[code]

[2019-02-18 08:28] jbrooksuk commented on #3472
I've confirmed this on v2.4 - it looks like a bug.

[2019-02-18 09:20] Perflyst commented on #3472
Can we update without maintenace mode or is it risky?

On February 18, 2019 8:28:21 AM UTC, James Brooks <notifications@github.com> wrote:

[2019-02-18 12:47] bramassendorp commented on #3409
Any update?

[2019-02-18 14:03] jbrooksuk commented on #3472
This is now fixed.

Upgrades are pretty quick, by the way.

[2019-02-18 14:06] #3472 closed

[2019-02-18 17:55] AstroQuick opened #3477 "tags not repopulating on component"
New install on Oracle Linux 7.6. Php 7.2. Cachet 2.4.

Guessing I have missed something somewhere, but I can not find it.

When I create a component, I fill in all the fields including Tags. After saving the component, all fields remain populated except Tags. Same thing happens when I edit a component. After saving all fields remain except Tags.

I tried this on the demo site, and the tags remain

[2019-02-18 18:20] coosamatt commented on #3193
I'd love to know how the * INCIDENT TEMPLATES work as well. I'v been trying for hours to make them work with no progress.

[2019-02-18 22:09] Daniel15 opened #3479 "Caching / rate limiting for API"
I just had an issue where my server got a huge number of hits to the `/api/v1/status` endpoint, which basically killed my PHP-FPM server (it hit the maximum number of workers, preventing people from connecting to any other sites in the same pool).

Does Cachet cache the response to this API call? It would be good to cache its response (even if only for a short period of time, like 30 seconds), so

[2019-02-18 22:15] jbrooksuk commented on #3479
Hey @Daniel15! The API endpoints aren't actually cached at the moment, but they definitely should.

Out of interest, where are you using Cachet? I see you all over the place! 😄

[2019-02-18 22:17] jbrooksuk commented on #3470
Cachet 2.4 actually has built in support for this, but it's not exposed in the dashboard currently, because we're in the process of redesigning the frontend.

[2019-02-18 22:18] jbrooksuk opened #3480 "Use Eloquent Resources"
We should make use of the built in [Eloquent Resources](https://laravel.com/docs/5.7/eloquent-resources) over our custom `AbstractApiController`. Eloquent resources give us more flexibility of what is returned in the results + meta and require far less code to maintain.

As an added side effect, we should be able to switch with little effort because both solutions wrap the results in `meta` and `d

[2019-02-18 22:19] jbrooksuk commented on #3468
We closed this recently in https://github.com/CachetHQ/Cachet/pull/2929. I'd pick up the conversation there.

[2019-02-18 22:19] #3468 closed

[2019-02-18 22:20] #3451 closed

[2019-02-18 22:20] jbrooksuk commented on #3430
I suppose the use case here is when you have **lots** of components?

[2019-02-18 22:21] jbrooksuk commented on #3454
This is a configuration issue on your end. You need to have PHP installed and setup to redirect requests.

[2019-02-18 22:21] #3454 closed

[2019-02-18 22:29] thejcannon commented on #3470
Excellent! Do y'all have an idea of when you expect to release 2.4?

[2019-02-18 23:36] Daniel15 commented on #3479
Thanks for the reply! In theory I could use Nginx FastCGI caching to cache the endpoint, but it seems like Cachet is sending a `Cache-Control: no-cache` header, making the content uncacheable. Is there an easy way to modify /api/v1/status to send a caching header? Then I could just configure Nginx to cache it.

@jbrooksuk Cachet is being used for the status page for Yarn: https://status.yarnpkg.co

[2019-02-19 07:33] jbrooksuk commented on #3479
I've addressed this is a Draft PR, so that we can talk about it there and then get this fixed for you.

That's where I know you from! 😄

[2019-02-19 08:56] dennusb opened #3482 "Dashboard link on frontpage goes to http"
Hi,

We just found out that in 2.4 the dashboard link that is in the footer on the index forcefully goes to HTTP even if we are on HTTPS.

[2019-02-19 09:12] dennusb commented on #3471
This can be closed!

[2019-02-19 09:12] #3471 closed

[2019-02-19 15:14] AstroQuick commented on #3477
OK, so I have done some testing.
In creating a new component, after filling out all of the fields including tags, I click save and the tags field is emptied. I can look in the database and the data is there.
If I edit the component and change something else but leaving the tags field alone, when saved the tags data in the database is removed.
If I edit the component and add tags, when saved, the t

[2019-02-19 15:18] chrissie1234 commented on #3111
When someone has time to make a merge request for this, it would be nice. I will reward the creator that's making this theme into Cachet

[2019-02-19 16:09] AstroQuick commented on #3477
Some additional testing:

In checking through the API, when getting a components details, the tags field returns null even through there are 3 tags in the db for this component.

curl --insecure --request GET   --url https://REDACTED/api/v1/components/17
{"data":{"id":17,"name":"REDACTED","description":"REDACTED","link":"http:\/\/REDACTED","status":1,"order":15,"group_id":1,"enabled":true,"meta":n

[2019-02-19 19:36] cristiancs commented on #3482
i think it goes to the url specified in yoururl/dashboard/settings/setup "Site URL"

[2019-02-19 19:43] cristiancs commented on #3459
Are you sure is php 7.0 and not 7.2?, i had the same problem until i noticed with php 7.2 you need to use 2.4

[2019-02-20 16:14] auth1299 commented on #3443
I get a 404 if I take out the index.php.

[2019-02-20 16:15] auth1299 commented on #3443
Could the issue be a IIS mod re-write issue on windows?

[2019-02-20 16:33] auth1299 commented on #3443
Removing the index.php gives me a 404

[2019-02-21 07:30] thueske commented on #3441
Can we fix this in 2.3 branch, too?

[2019-02-21 08:48] hailahar opened #3483 "Https redirect problem"
Hello

I'm trying to add a redirect command to redirects the traffic from http to https
the problem is once I add this command I can't go the dashboard page since the URL will be redirected to https.
Here's is the command I applied it on cachet.conf file:

[2019-02-22 09:15] miquelbarbero commented on #771
+1 to the @tejaswivinod request. I haven't see nothing related in the documentation.

Thanks and kind regards

[2019-02-22 11:48] miquelbarbero opened #3484 "Third party with cachet docker-compose image"
Sorry if I'm asking a fool question.

We're using your docker-compose-image CacheT and we'd like to add some third-party integrations.

How could we manage that?

We should modify your docker-compose image to add those integrations or we could add them in some other way.

Thanks and kind regards

[2019-02-25 07:49] miquelbarbero commented on #2499
Good morning,

we are in the same situation as @gonzoinc

Would you have any date estimation about when we could enjoy those new features?

Thanks and kind regards

[2019-02-26 01:00] dmnktoe opened #3490 "Getting 500 Error while "/subscribers/create""
I'm getting a 500 error since running the second latest and also the current 2.4.0dev, while I was trying to add a new email subscriber via the dashboard.

Anybody else ran into the same issue?

[2019-02-26 01:06] dmnktoe opened #3491 "Heavy CPU workload after I added a metric"
I just noticed some strange behavior on my server lately, after I added a added the first metric to my dashboard. All pages started to load extremely slow.

I had a look into CPU workload and saw that it was under heavy usage. I displayed the task runner and noticed that it comes from my MySQL process executed in the cachet metrics database.

Did anyone run into the same issue?

[2019-02-26 13:14] ozgursoft opened #3492 "installation problem"
Hello all,

I'm using nginx / mysql and php7.2 on Debian. I have an error when I installed Cachet.

$ php artisan app:install

Clearing settings cache...
Settings cache cleared!
Backing up database...
Dumping database and uploading...
sh: 1: mysqldump: not found

Backup skipped!
Backup completed!
Application key [blabla] set successfully.
Configuration cache cleared!
Configuration cached successfu

[2019-03-02 12:43] jbrooksuk commented on #3492
Cachet 2.3 does not support PHP 7.2 you'll need to use Cachet 2.4.

[2019-03-02 12:43] #3492 closed

[2019-03-04 16:16] jayze opened #3498 "Update 2.4 to latest"
HI,

I've been updating my installation of 2.4.
Currently all works fine, but I can't make an update of an incident or posting a new incident. I get an error 500.

Steps I've done

1. cd $CACHET (your Cachet installation directory)
2. git fetch origin
3. git checkout 2.4
4. composer install --no-dev -o
5. php artisan app:update

I ran into issues with Class 'Barryvdh\Debugbar\ServiceProvider' not

[2019-03-04 16:31] jayze commented on #3498
HI,

I've seen in the logs that when trying to post a new incident or update, it tries to send a mail, where it fails. However when testing my mail settings, that works.

Jay

[2019-03-04 17:03] Lockon2000 opened #3499 "Error using undocumented Maintenance API"
I am trying to utilise the still undocumented Maintenances API. I tried to infer the correct parameters, but I nearly always get the bad HTTP request error with a description of trailing data.

Can someone provide me with the needed parameters and their format in order to make a successful API call?

[2019-03-04 22:09] jmann05 opened #3500 "500 Internal server error"
Cachet v.2.3.15
PHP 7.1.26
I've ran rm -rf bootstrap/cache/* from the root of my Cachet installation

My server broke, I have a copy of the database and was able import into a fresh install, but I'm getting a 500 internal server error. I checked the laravel log and saw this:

Next Illuminate\Database\QueryException: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'scheduled_at' in 'where cl

[2019-03-08 19:11] NeftaliAcosta opened #3503 "Houston, We Have A Problem, I need help you whith error 505"
Hi there, I have a instance that your system in a Ubuntu server host in amazon AWS, I did the installation using the marketplace but when I add a subscriber the system show me a error 505 and say me "Houston, we have a problem", this happens when a try to config the email server.

I read the official documentation but no solution  works for me, for this reason I write hopping to find some help wit

[2019-03-08 19:21] NeftaliAcosta commented on #3503
php artisan config:cache.

[2019-03-08 21:26] arnydo opened #3504 "CONNECT_CR_CERT:certificate verify failed"
Downloaded fresh copy via Git and attempted to build with ```docker-compose build```.
Running into the following error:
[code]
Any ideas on how to troubleshoot this? I can get to https://packagist.org/packages.json just fine from the host machine.

Thank you.

[2019-03-08 22:04] jayze commented on #3498
Found the solution.
encryption email should be set to ssl, instead of tls.

[2019-03-08 22:04] #3498 closed

[2019-03-09 08:48] jbrooksuk commented on #3498
👍

[2019-03-10 01:20] Tarek1337 commented on #3491
Yep, can reproduce with 2.3.9.

[2019-03-10 03:21] rayterrill commented on #3470
@jbrooksuk Dang we're looking for this too. Sounds like 2.4 is the place to be. :)

[2019-03-10 03:32] rayterrill commented on #3111
It would be awesome if we could change around how components are laid out on the page as part of the design work/theming. I've currently modified /resources/views/index.blade.php to move the scheduled maintenance portion above the statuses - probably a big no-no in terms of staying consistent with builds, but it accomplished something we'd like to have.

[2019-03-10 11:21] Grayda opened #3506 "Theme isn't applied to component list"
I've just installed v2.3.15 and set some theme colours to match my site's brand, however the component list is white regardless of what colours I set.

I can override these easily with a stylesheet, but it's counter-intuitive for the theme not to cover the component list.

[Settings page screenshot](https://user-images.githubusercontent.com/4891563/54084070-3379b580-4380-11e9-819a-4b6c912c20b4.png

[2019-03-11 21:44] jbrooksuk commented on #3491
How many points have you added to your metric?

[2019-03-11 21:45] jbrooksuk commented on #3491
@dmnktoe can you confirm what version of Cachet you're using?

[2019-03-11 21:45] jbrooksuk commented on #3503
Yeah, it looks like your mail settings aren't correct.

[2019-03-11 21:45] #3503 closed

[2019-03-11 21:46] jbrooksuk commented on #3499
@Lockon2000 can you confirm what version of Cachet you're using?

[2019-03-11 21:51] jbrooksuk commented on #3499
Depending on how familiar you are with the API tests, you may be able to gain some insight from https://github.com/CachetHQ/Cachet/blob/3b9ee670a223059cb2ed70fe07839d0dbd06c2b7/tests/Api/ScheduleTest.php whilst the documentation is outstanding.

[2019-03-11 21:52] jbrooksuk commented on #3111
@rayterrill I've been working on the ability to add custom themes to Cachet. I'm still in the very long process of implementing the design though. I could really do with some help from someone to make that happen **plus** the dashboard.

[2019-03-11 21:53] jbrooksuk commented on #3500
Were you previously using Cachet 2.4? Alternatively, you may now need to run `php artisan app:update`.

[2019-03-11 21:53] #3500 closed

[2019-03-11 22:36] Lockon2000 commented on #3499
The latest 2.4-dev version. I know it isn't recommended to use a dev version. But the released 2.3.15 version doesn't implement the Mainteneces API at all.

That's great! I will try it out and let you know.

[2019-03-12 02:01] dmnktoe commented on #3491
@jbrooksuk

The points were constantly updated through the uptime robot api. So I can say that were thousands of points.

Sorry. Sure, I'm running on 2.4.0dev. Should be a commit from mid January, I think.

[2019-03-12 03:26] MarkoSulamagi opened #3513 "Add Canonical tag to meta tags"
Cachet pages are often publicly available so it would be useful to have a canonical link in the meta tags. This is useful for SEO (even if there's only 1 version for each page and there're no duplicates).
https://moz.com/learn/seo/canonicalization

If you agree then I could create a PR for this myself.

[2019-03-12 04:32] Tarek1337 commented on #3491
I add one point per minute across 3 metrics.

[2019-03-12 08:07] jbrooksuk commented on #3513
Yep! Agreed. I’d love a PR :)

[2019-03-12 10:37] MichaelOrtnerINFO opened #3514 "Newsletter-Abonnement Update Mail-Problem"
Hello, if I move every single component, then I get an update email. This is a bit stupid and spammed the mailbox too. Can you fix it?

If you move the components in the dashboard as admin, then this update notifications comes.

[2019-03-12 13:51] rayterrill commented on #3111
@jbrooksuk I took a look at the codebase, and it's been a long time since I did any real PHP so it's a little out of my league at the moment, but I'd love to help in any way I can. Happy to re-learn on the fly if you'll have me, mate!

[2019-03-12 22:25] jamiew0w opened #3515 "Issues after updating to 2.4-Dev"
Updated to PHP7.3 and while I was at it, swapped to the 2.4 branch.

Took down the App, pulled new repo. `composer install --no-dev -o --no-scripts`, `php artisan app:update`, `php artisan cache:config`, `php artisan up`.

Everything worked fine initially, then when I posted a new status 500 errors. Last night I managed to somewhat resolve it by doing `php artisan app:update` and manually rm -rf'i

[2019-03-13 01:16] lpossamai opened #3516 "[ General guidance ] - Cachet with multiple apps/domains?"
Hi guys.

I've got 3 domains that will have Cachet available, and was wondering if I can have one single server for all 3 domains, but with separated vhosts?

i.e: status.example.com, status.example1.com, status.example2.com

Does Cachet support this already? if not, is there a workaround? Not keen to have three servers to host Cachet.

Thanks!

[2019-03-13 02:08] lpossamai commented on #236
Is this live already? +1 for this feature request

[2019-03-13 02:36] lpossamai commented on #3516
I was able to get this working with a workaround, as the feature request got denied #236 .

For Apache, these are the steps

/etc/apache2/sites-available/cachet.conf
[code]

Create a new database for this new app; I am using Postgres:

1. `su - postgres`
2. `psql`
3. `create database cachetdb_2;`
4. `grant all privileges on database cachetdb_2 to cachetuser;`

/var/www/html/cachet_2/.env:
[code]

[2019-03-13 02:36] #3516 closed

[2019-03-13 02:37] lpossamai commented on #236
For those who are using Apache, these are the steps. #3516

[2019-03-13 10:41] c0ri opened #3518 "Re-arranging components in list triggers email flood"
I have(had) around 75 components. The other day I added a few more and re-arranged the list by dragging/dropping them into new positions.  After that I started getting tons of emails stating 'Component X has been updated'. I'm cleared cache and installed the latest version, and nothing seems to stop it. Today I even deleted all components and started over but still the emails come. I made maintena

[2019-03-13 11:54] c0ri commented on #3518
I think I figured it out.
cd /var/www/cachet
php artisan down

mysql -u cachet -p
use cachet;
truncate table jobs;
/q

I had over 5500 jobs still pending emails :( This def needs a fix. Users don't need to be notified when a component is moved around in the list.

Hope this helps someone else.

[2019-03-13 11:55] c0ri commented on #3514
I had this issue too.
Please check my thread for solution:
Re-arranging components in list triggers email flood #3518

[2019-03-13 12:01] MichaelOrtnerINFO commented on #3514
Do you use docker? We use Docker and there is the problem. I just testing the normal installation now....

[2019-03-13 13:59] h3m5k commented on #2175
I'm using v2.3.9 and none of the documented or suggested ways of posting template variables via API are working.

The [API reference](https://docs.cachethq.io/reference#incidents) lists **vars** as the param to use for template variables, and that it should contain a **list of strings**.

Trying this, using curl and the following request body:
[code]
...generates this error:
[code]

Trying the met

[2019-03-13 15:54] jamiew0w commented on #3515
Removing the newly added incident brings everything back to normal, however adding a new one brings it back to 500'ing.

I thought this may be down to the Date handling, omitting a date & time from the incident still results in the 500 error though.

[2019-03-14 07:59] c0ri commented on #3514
@MichaelOrtnerINFO No docker installed here. I can't see what that has to do with it TBH. This is a very poor implementation of message handling if you ask me. I have 50+ users and each even moving a component to another location in the list (drag up and down) will generate a new email to each of those 50 people for each position it moved up in the list. I had thousands of emails stacked up quick.

[2019-03-14 09:22] MichaelOrtnerINFO commented on #3514
Okay thats not the best. hmm. i hope that @jbrooksuk can fix this problem/feature. We don't need so many mails if we drag them up and down and this on a newsletter....

[2019-03-14 15:02] lorenzoaiello opened #3519 "Marking all components as operational with open incidents"
Currently if you have components that are marked as operational on the dashboard but that still have open incidents, the overall status page will be still display as having some issues. It was pretty confusing until I understood what had happened.

It would be great if either you couldn't mark change the state on the dashboard with open incidents, or maybe showing a link on the dashboard to the op

[2019-03-14 20:46] Lockon2000 commented on #3499
Okay, the tests did really help me out.

Thanks!!

[2019-03-14 20:46] #3499 closed

[2019-03-14 21:12] 007spy9 opened #3521 "Error 500 on Dashboard"
I have installed Cachet on a fresh Ubuntu 16.04 server. I am able to access every page other than /dashboard. I can even access /dashboard/settings and so on however whenever I try to view dashboard I receive an error 500. I have looked into the laravel logs and the error is below. I am not sure how to fix this.

[code]

[2019-03-15 02:51] lucrqua opened #3522 "Something went wrong updating the component."
Hi guys, I need some help here with this issue please.

Apache:  Apache/2.4.10 (Debian)
PHP: 5.6.40-0+deb8u1
MySQL: 5.5.62-0+deb8u1

[laravel-2019-03-02.log](https://github.com/CachetHQ/Cachet/files/2969257/laravel-2019-03-02.log)
[laravel-2019-03-15.log](https://github.com/CachetHQ/Cachet/files/2969258/laravel-2019-03-15.log)

Traying to change the status of component on dashboard:
![image](https

[2019-03-17 16:56] M4rt1n17 commented on #3521
Hi,
are you sure you are running Cachet on PHP 7.1?
If your on a higher PHP version change it to 7.1

[2019-03-17 17:18] 007spy9 commented on #3521
Hi
I have changed the version to php 7.1 yet the error still persists
![image](https://user-images.githubusercontent.com/48570319/54495083-a92dd600-48d8-11e9-908c-2dbe8941cf6c.png)

[2019-03-18 10:18] demarant commented on #3518
confirmed. we can replicate the same issue on cachethq/docker:2.3.15

[2019-03-18 10:20] demarant commented on #3518
seems to be fixed in https://github.com/CachetHQ/Cachet/issues/3228

[2019-03-18 20:31] flaviafm opened #3523 "Can Cachet initial setup be automated?"
Hi All,

I’m creating  a cachet template in openshift and wondering in there is a way to automate Cachet setup (GUI step).
I would like to know if is possible to get all values needed for Cachet initial set up when user select template In OpenShift then use API or script to configure Cachet. And  user do not need to go to /setup page after install.

Thank you,

Flavia

[2019-03-19 17:04] danijelk commented on #3515
We have the same issue after adding a new incident, backend works fine.

[2019-03-19 18:41] AmiT177 opened #3524 "Dashboard error 500"
After logging in, I'm getting the following error:
[code]

Branch: 2.4
PHP Version: 7.1

[2019-03-21 02:41] c0ri commented on #3518
Hi @demarant  Thanks!

$ git tag -l
v0.1.0-alpha
v1.0.0
[...]
v2.3.9

Can someone please tag 2.4? Has it been publicly released?

[2019-03-21 08:21] jbrooksuk commented on #3518
Yeah, this is fixed in 2.4.

We're still working on it :)

[2019-03-21 08:21] #3518 closed

[2019-03-21 09:27] labolanimichele commented on #3518
Any approximate timeline you‘re looking at?
Most fixes in the latest year got in there

From: James Brooks <notifications@github.com>
Sent: Donnerstag, 21. März 2019 09:22
To: CachetHQ/Cachet <Cachet@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: EXT: Re: [CachetHQ/Cachet] Re-arranging components in list triggers email flood (#3518)

Yeah, this is fixed in 2.4.

Can so

[2019-03-21 09:27] labolanimichele commented on #3518
Any timeline you guys are looking at btw just as an info?

[2019-03-22 13:05] iniOr opened #3527 "Cannot install due to php fatal error"
Hi,

trying to install on Scientific Linux release 7.5 (Nitrogen)

when running the following command :

`composer install --no-dev -o`

i get this error :

[code]

- .env file with no spaces, I even tested with all values between double quotes.

- rpm -qa |grep php :

[code]
Tested with 2.3.14 same issue, how can I install this app ?
Thanks for any help...

[2019-03-25 15:05] jaymatthews opened #3528 "Stick Incident Option - Setting to sticked causes Error 500"
When setting 'Stick Incident' to 'Stickied' I get a Error 500 page. Setting back to 'Not Stickied' resolves the issue.

[2019-03-26 07:47] #3513 closed

[2019-03-26 12:40] sheldonj22 commented on #2005
I had this issue as well. For anyone else I went to the root of the application and ran:
[code]
Then went through the setup again. Better than 777.

Would be nice to include in install documentation.

[2019-03-26 16:40] smalik786 commented on #3490
same issue with me as well

[2019-03-29 10:34] jonyking opened #3531 "No supported encrypter found. The cipher and / or key length are invalid."
Hello,

when I upload cachet to my server at IONOS  I got the following error:

No supported encrypter found. The cipher and / or key length are invalid.

I've searched a lot, but no solution worked for me. Does anyone have some suggestions?

[2019-03-29 15:00] iniOr commented on #3527
On previous deployment I had to run the composer install command as httpd user but here on Scientific Linux even while running this as httpd user I get the exact same error :

`PHP Fatal error:  Uncaught ReflectionException: Class log does not exist in /var/www/Cachet/vendor/laravel/framework/src/Illuminate/Container/Container.php:734`

[2019-03-31 23:19] gmyhre commented on #2005
I had this issue as well.  For an sqlite setup I had to change the
CACHE_DRIVER=database
SESSION_DRIVER=database
in addition to the permissions on .env
but as noted above YMMV

[2019-04-02 12:21] iniOr commented on #3527
Doing more test with nginx but can't issue this command succesfully :
`
php72 artisan optimize --force`

result :
[code]
Don't know how to debug further.

[2019-04-02 12:24] iniOr commented on #3527
Same error whit the next command :

php72 artisan key:generate

result

[code]

[2019-04-02 22:16] grant-veepshosting commented on #2613
We are currently using branch v2.4-dev and cannot yet see emails to subscribers for Scheduled Maintenance. Any updates on this request, or if it exists - link to documentation or advice on how to implement?

[2019-04-03 07:57] AlexStreaming commented on #3339
Hello, i have the same problem. I run `php artisan migrate:refresh` and i can advance.

But now when i try to acces to my control panel, the user or password are incorrect but i put the correct values.

How can I solve this problem?

[2019-04-03 13:07] M0ter commented on #3531
Check if you have a app key in your .env file, `APP_KEY=` should not be empty.

[2019-04-05 13:53] iniOr commented on #3527
Finally I found that tag 2.3.15 installs Laravel version 5.2 witch is not compatible with PHP72.

Going on branch 2.4 allowed me to solve this.

[2019-04-05 13:53] #3527 closed

[2019-04-05 19:36] LegalSmeagol commented on #3528
I too am receiving this error. Whenever an incident is set to "Not Sticked" the site displays completely fine, whenever I set an incident to "Sticked" I receive a 500 Internal Server Error. A response for this issue would be appreciated.

[2019-04-06 17:07] GrahamCampbell opened #3536 "Upgrade to replacement packages"
![image](https://user-images.githubusercontent.com/2829600/55672778-cc73f180-5896-11e9-9785-44ee86fb2129.png)

[2019-04-10 13:28] slava-basko commented on #1656
up

[2019-04-11 08:51] maxx1337 commented on #3521
Hey @007spy9 ,
I had the same issue after I changed the Url in Feed.php as in this [commit](https://github.com/CachetHQ/Cachet/commit/6e9d3563ef7f76e40e28d09aa2a81a8c889586ee),
then the dashboard works again.

[2019-04-11 13:41] AlexStreaming opened #3541 "Impossible to login #3339 note resolved for me"
Hi, i resolve my problem with `php artisan migrate:refresh` but now i can't access with the credentials that I indicated. It is the same problem that #3339

How can i solve this?

[2019-04-11 15:05] Raphyyy commented on #3528
+1 definitely a bug
Sticked incident is not available within the latest release

[2019-04-12 17:59] jbrooksuk commented on #3439
Hi Joe,

As per the support ticket, I'm going to pick this up here.

[2019-04-12 18:00] jbrooksuk commented on #3439
The exception is:

[code]

[2019-04-12 19:52] jbrooksuk commented on #3439
This is now fixed.

[2019-04-12 19:52] #3439 closed

[2019-04-12 20:12] #3515 closed

[2019-04-12 20:26] jbrooksuk commented on #3541
`php artisan migrate:refresh` will re-run the migrations and clear the data. You'll need to go to the `/setup` page again.

[2019-04-12 20:26] #3541 closed

[2019-04-12 20:26] jbrooksuk commented on #3531
@M0ter is correct.

[2019-04-12 20:26] #3531 closed

[2019-04-12 20:29] jbrooksuk commented on #3482
Make sure that if you're using a proxy, you allow this proxy in `./config/trustedproxy.php`

[2019-04-12 20:29] #3482 closed

[2019-04-12 20:30] jbrooksuk commented on #3523
It should now be possible with the `cachet:install` command :) https://github.com/CachetHQ/Cachet/pull/2290

[2019-04-12 20:30] #3523 closed

[2019-04-12 20:31] jbrooksuk commented on #3536
We'll need to make some releases.

[2019-04-12 20:33] jbrooksuk commented on #3518
Nope, but the 2.4 branch should be mostly stable.

[2019-04-13 06:37] glipschitz opened #3546 "Unable to edit component"
Error when trying to edit component

Version: 2.4-dev
PHP 7
Apache

`[2019-04-13 06:32:59] production.ERROR: PDOException: SQLSTATE[42000]: Syntax error or access violation: 1066 Not unique table/alias: 'taggables' in /var/www/Cachet/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOConnection.php:77
Stack trace:
#0 /var/www/Cachet/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOConnection.php(77)

[2019-04-13 08:51] jbrooksuk commented on #3546
Thank you for reporting! How are you editing the component? Through the API or dashboard?

[2019-04-13 08:52] jbrooksuk commented on #3546
Actually, it looks like you may be using an older version of the 2.4 branch. Can you please pull down the latest changes and try again.

[2019-04-13 08:52] #3546 closed

[2019-04-13 08:54] jbrooksuk commented on #3528
This is fixed by https://github.com/CachetHQ/Cachet/pull/3525

[2019-04-13 08:54] #3528 closed

[2019-04-13 08:59] jbrooksuk commented on #3524
Can you please try again. Everything is working okay.

[2019-04-13 08:59] #3524 closed

[2019-04-13 09:04] jbrooksuk commented on #3521
It looks like when the RSS feed fails, we don't handle it gracefully. I'll fix this now.

[2019-04-13 09:08] jbrooksuk commented on #3522
Looking at the logs, it looks like your mail settings aren't correct. Please verify and try again.

[2019-04-13 09:08] #3522 closed

[2019-04-13 09:10] jbrooksuk commented on #2175
v2.3.9 is out of date. Please can you update to the latest v2.3 and try again.

[2019-04-13 09:10] #3521 closed

[2019-04-13 09:25] glipschitz commented on #3546
Hi @jbrooksuk

I rolled back to my working 2.3.9 backup and started again.

Steps

Updated from php 7.0 to 7.1.28
php artisan down
cd $CACHET (your Cachet installation directory)
git fetch origin
git checkout 2.4
git pull
composer install --no-dev -o
php artisan app:update
php artisan up

What I'm seeing now in the Apache error log is;

[Sat Apr 13 19:23:03.142591 2019] [:error] [pid 4546] [client

[2019-04-13 09:34] glipschitz commented on #3546
OK - that one went away after an Apache reload.

Now Laravel errors again;

`[2019-04-13 09:33:47] production.NOTICE: Symfony\Component\HttpKernel\Exception\HttpException in /var/www/Cachet/app/Http/Middleware/Authenticate.php:58
Stack trace:
#0 /var/www/Cachet/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php(163): CachetHQ\Cachet\Http\Middleware\Authenticate->handle(Object(Illuminate

[2019-04-13 13:42] lucrqua commented on #3522
Hi @jbrooksuk

Sorry for the delay in this case. I set up the email settings and it worked, thank you!

[2019-04-14 06:54] c0ri commented on #3518
Again, can someone please tag this branch or let me know how to grab it?

On Sat, Apr 13, 2019 at 5:33 AM James Brooks <notifications@github.com>
wrote:

[2019-04-15 08:35] AlexStreaming commented on #3541
When I go to /setup it redirects me to /auth/login . How can I go back to /setup?

[2019-04-16 00:19] Wouter0100 opened #3548 "Maintenance window disappearing when ongoing"
Last time I made a pull request (see [here](https://github.com/CachetHQ/Cachet/pull/3236)) to fix this behaviour, but unfortunately it was rolled back in 1fdb7909d317afcf12f08b2dd9b732b5adab6906 (can't find the related PR).

Regardless, 1fdb7909d317afcf12f08b2dd9b732b5adab6906 unfortunately breaks this issue again.

The problem: the maintenance window is shown just fine in the beginning. Although,

[2019-04-18 09:08] crommcruach opened #3549 "Metrics point threshold cannot set > 10"
Version 2.4.0-dev
Cannot set metrics threshold > 10 although a higher value can be chosen
Error message:
`Whoops.
The threshold must be between 0 and 10.`

[2019-04-18 09:18] crommcruach opened #3550 "Metrics value suggestion"
I suggest following metric values to create individual graphs:

Max Value #max render value for the graph height
Min Value # the min render value for the graph height

Timeline View:
- Minutes
- Hrs
- Days
- Month

a defineable Timeline Length # based on timeline view last x (min,hour,day,month)

Change metrics  threshold: up to 1 month
Therfore u would be able to create indiviual graphs with indi

[2019-04-18 15:02] Choeoqe opened #3551 "Managing Subscribers"
Hi, we recently added some new components and noticed current subscribers were not updated to include those. Is there a way to manage subscribers as an admin rather than having to get each subscriber to update their preferences any time additional components are added?

We ideally just want to be able to manually add all users as subscribers (which we currently do), and ensure they are all subscri

[2019-04-19 07:13] katsil commented on #2650
hello! any news about webhook?

[2019-04-19 08:47] jbrooksuk commented on #2650
Not as of yet, but I'd be grateful for someone to pick this up! It'd be very easy to do actually.

1. Make sure all kinds of actions fire events (subscriber updated/created/deleted, incident updated/created/deleted etc)
2. Setup an interface on all events as `Webhookable` or similar.
3. Add event listener for the `Webhookable` interface and handle the webhook event from here.

The hardest bit will

[2019-04-19 08:55] PhilipSteeman opened #3552 "Color maintenance"
In version 2.4 the background color of 'Maintenance' is grey. In version 2.3 it is blue (more logical).
The title in English is also different:
version 2.3: Scheduled Maintenance (more logical)
version 2.4: Maintenance (less logical)

[2019-04-19 10:14] katsil commented on #2650
ugh, sorry. i world like to try, but i’m not unto php
python mostly..

[2019-04-20 09:04] thyspir opened #3553 "Recommendation for ping Internal IP Address"
Could you let me know the third party application that I can use to ping my internal IP Address?
Let says I want to ping monitor IP Address 192.168.0.40.
If I don't get a ping reply, it will change the status to be Major outage.

If there is no third application for this ping method, Can I use Cachet API to perform Ping Method?

Thank in advance

[2019-04-21 12:31] termsgames opened #3554 "500 Internal Server Error"
Hello,

I'm getting a 500 internal server error. I also seem to get this - Failed to parse address ":" [tcp://:] when I try and run php artisan app:update

Regards,
TermsGames

[2019-04-22 10:45] MrXermon commented on #3553
@thyspir Just write a small script in your favorite programming language to monitor the ping-status and update the status via the Cachet API. Cachet is not made to monitor things, it's just here to propagate the information in case of an outage/planned maintanance.

[2019-04-23 19:42] glamrock commented on #3451
Ran into this exact same issue with php7.2, and the readme didn't mention this.

[2019-04-24 09:38] MinThaMie opened #3559 "Completed_at date maintenance is should be required"
The `completed_at` date  for maintenance is not required, but this will break the showing of the maintenance message on the dashboard.

There is also no validation on the `completed_at` being after the `scheduled_at`, this should probably also be added.

[2019-04-24 10:28] h3m5k commented on #2175
The issues are valid for v2.3.15 as well.

[2019-04-24 12:53] MinThaMie opened #3561 "Change message when updating subscription"
The text shown when you create your subscription and when you edit your subscription are the same. This should not be the case because `You've been subscribed to email notifications, please check your email to confirm your subscription.` is only relevant when creating your subscription.

Suggestion: `You've successfully updated your subscription.`

[2019-04-25 08:19] MinThaMie opened #3562 "Option to not notify subscribers about maintenance"
When creating an incident you have the option to notify the subscribers. It would be cool if the same could be added for the maintenance

`Dashboard -> Indicents -> Report an incident`

<img width="295" alt="Screenshot 2019-04-25 at 10 19 12" src="https://user-images.githubusercontent.com/5811560/56720685-a5953680-6743-11e9-8825-266c3b8b9a4f.png">

[2019-04-25 08:33] MinThaMie commented on #3562
Might also be useful to add to the `edit` of a incident, because this is might still be something you want to do at a later stage

[2019-04-25 12:10] #3561 closed

[2019-04-26 07:34] MinThaMie opened #3566 "Choose template when updating an incident"
When you create an incident you can choose a template, but when you create an update for the incident you cannot choose one. It would be nice if this would be possible.

[2019-04-26 10:54] MinThaMie commented on #3314
This is fixed right? Otherwise I could take a look at the stuff that is still left over, but I'm not sure what that is atm.

[2019-04-26 22:35] thyspir commented on #3553
Hi,
Thank you for your respond.
I will try to check it using Cachet API

On Monday, April 22, 2019, MrXermon <notifications@github.com> wrote:

[2019-04-29 09:33] Raphyyy commented on #2250
This issue is still present to me with 2.4
I can set custom header but I can not remove it.
If you leave it empty and click on Save, it kept the previous value.
If you leave a blank space and click on Save, then there is a blank space saved as a custom header.
There is no way to remove it, in order to get back to the original header (banner image).

[2019-04-29 17:37] DavidBrockway opened #3570 "Install 500?"
http://status.strobar.com/setup

Internal Server Error
What does this mean?
Something went wrong on our servers while we were processing your request. An error has occurred and this resource cannot be displayed. This occurrence has been logged, and a highly trained team of monkeys has been dispatched to deal with your problem. We're really sorry about this, and will work hard to get this resolved

[2019-04-30 05:09] princeofnaxos commented on #3570
See #3160. Cachet doesn't support PHP >= 7.2, which is a shame since it's been out there for a while.

[2019-04-30 21:15] jbrooksuk commented on #3570
The latest version of 2.4 does support PHP 7.2

[2019-04-30 21:15] #3570 closed

[2019-05-05 17:59] BaileyJM02 commented on #2982
Who's able to verify translations?

[2019-05-05 18:24] BaileyJM02 commented on #2982
I also just went though all of the files under 2.4, it looks about ready apart from 2 or 3 issues now.

[2019-05-05 18:26] BaileyJM02 commented on #3088
I can proof read English.

[2019-05-06 15:34] tioumen opened #3576 "Version of Postgres supported"
Hello,

Sorry if inforamtion is available somewhere, but what are the versions of Postgres supported by CachetHQ ?

Thanks in advance.

[2019-05-06 16:47] niekvb opened #3577 "DB migration error on fresh install"
I run into a migration error when trying to run Cachet v2.4 on Docker.

The following output is displayed:
[code]

The Postgres database does not contain any data before running the Cachet container.

[2019-05-06 20:00] brunowdev opened #3578 "There is any stable version of Cachet with the latest fixes?"
Hi,

We start to use Cachet (v2.3.15) as our status page. After creating some components we face many issues related to mail notifications while doing any change in the component.

By searching here, we find them as solved for version 2.4. The problem is that the recommended version is a stable one, but with version 2.3.15, for example, an email is sent for every component, just by updating the or

[2019-05-07 05:14] maxhSoe commented on #2473
Hey guys,
did anyone ever find a solution to this issue?

I'm running Cachet 2.4.0-dev and get the exact same error message on my on-premise installation:

`{"errors":[{"id":"c2bb8049-9a2e-465f-b8df-ef1ac07b200d","status":400,"title":"Bad Request","detail":"The request cannot be fulfilled due to bad syntax.","meta":{"details":["The value field is required."]}}]}`

Cheers!
Max

[2019-05-07 12:49] ehsanhajian opened #3579 "postAutoloadDump"
Hi all. I got an error during "composer install --no-dev -o"

Illuminate\Foundation\ComposerScripts::postAutoloadDump
PHP Parse error:  syntax error, unexpected '=' in /var/www/html/Cachet/vendor/laravel/framework/src/Illuminate/Support/Arr.php on line 388

Parse error: syntax error, unexpected '=' in /var/www/html/Cachet/vendor/laravel/framework/src/Illuminate/Support/Arr.php on line 388

anyone

[2019-05-07 13:14] jbrooksuk commented on #3579
What version of PHP are you using?

[2019-05-07 13:18] ehsanhajian commented on #3579
PHP 7.0.33-0ubuntu0.16.04.4 (cli) ( NTS )

[2019-05-08 09:55] ehsanhajian commented on #3579
any comment @jbrooksuk

[2019-05-08 23:22] jimmybrancaccio commented on #3548
This seem to work for me

[code]

I am no coder/developer by any stretch of the imagination so there's probably a better solution.

[2019-05-09 07:02] jbrooksuk commented on #3314
We need to get some tests in that prove that notifications are sent etc.

[2019-05-09 07:03] jbrooksuk commented on #3579
You need to be using PHP 7.1 :)

[2019-05-09 07:03] #3579 closed

[2019-05-09 07:04] jbrooksuk commented on #3111
No worries. To make this entire change work, we basically need to completely rip out the current design and start fresh. This will likely require a lot of changes to the backend to get data in the right format also.

[2019-05-09 07:05] jbrooksuk commented on #2982
@BaileyJM02 myself and others. I'll take a look at any suggestions shortly.

[2019-05-09 07:05] jbrooksuk commented on #2982
Thanks for doing this!

I'm going to close this issue now anyway.

[2019-05-09 07:05] #2982 closed

[2019-05-09 07:06] jbrooksuk commented on #3578
2.4 tries to be as stable as possible. Translations can be updated at https://translate.cachethq.io :)

[2019-05-09 07:06] #3578 closed

[2019-05-09 07:07] jbrooksuk commented on #3577
Do you know what version you were upgrading from? I've just ran fresh migrations and they worked fine.

[2019-05-09 07:07] #3577 closed

[2019-05-09 07:08] jbrooksuk commented on #3088
@BaileyJM02 done! Thanks :)

[2019-05-09 07:13] jbrooksuk commented on #3576
I believe the latest version is supported. The database is handled by Laravel, which is PDO, so it should be fine.

[2019-05-09 07:13] #3576 closed

[2019-05-09 07:13] jbrooksuk commented on #3566
Agreed! We can add this to the list.

[2019-05-09 07:14] #3548 closed

[2019-05-10 13:30] AlexStreaming opened #3581 "#3541 Unresolved"
I have not resolved this incidence despite the indication, since I am unable to return to the page /setup

How can I go back to the setup? Is there a way to change the control panel password or retrieve it?

I would appreciate it if the issue was not closed until I indicated that the problem had been solved.

Thanks!

[2019-05-10 15:09] jbrooksuk commented on #3581
You can clear out the `settings` table which should get you where you want to be.

[2019-05-10 15:09] #3581 closed

[2019-05-12 18:22] GrahamCampbell commented on #3451
Cachet 2.3.9 is very old and doesn't work on php 7. Please upgrade to the latest release of Cachet 2.3.

[2019-05-12 19:52] brunowdev commented on #3088
Hi, I can help with Brazilian Portuguese (if you want), I've also suggested a few translations on version 2.4.

Username: brunowdev

[2019-05-12 22:40] GrahamCampbell commented on #3444
Closing so we can track this in one place: #3254.

[2019-05-12 22:40] #3444 closed

[2019-05-12 22:40] #3459 closed

[2019-05-12 22:41] GrahamCampbell commented on #3459
2.3.9 is not the latest in the 2.3.x series. Please use the latest release, and it will work with PHP 7.

[2019-05-12 22:44] #3553 closed

[2019-05-12 22:45] GrahamCampbell commented on #3491
2.3.9 is not the latest 2.3.x series. It is 3 years old. Please try with 2.3.15 (or 2.3.16 when it comes out).

[2019-05-12 22:45] GrahamCampbell commented on #3490
Does this issue occur with on the latest 2.3.16dev version?

[2019-05-12 22:45] GrahamCampbell commented on #3465
Yeh. :)

[2019-05-12 22:45] #3465 closed

[2019-05-12 22:47] #3385 closed

[2019-05-12 22:47] GrahamCampbell commented on #3385
2.3.16 will fix this. :)

[2019-05-13 11:22] muenchdo opened #3597 "Incident status best practice"
I'm not sure how incident status are meant to be used. Should I create one incident and keep updating the status or rather create an "investigating incident" and later a separate "fixed incident"?

[2019-05-13 12:41] dmnktoe commented on #3490
@GrahamCampbell I'll let you know when I'm back from holidays and set up a new installation! Thanks.

[2019-05-13 15:43] csandanov opened #3598 "2.3.16 error Undefined index: af-ZA"
After installation from scratch get this error. Latest PHP 7.1, worked fine with 2.3.15

[code]

[2019-05-13 15:45] GrahamCampbell commented on #3598
Thanks for the report. Ping @jbrooksuk.

[2019-05-13 15:47] GrahamCampbell commented on #3597
The current workflow is that you should create a new incident for each "update". The modification of an incident should only be used to correct typos, etc. Cachet will not show the history of updates made to incidents.

[2019-05-13 15:49] GrahamCampbell commented on #3552
Thanks for raising this. Ping @jbrooksuk.

[2019-05-13 15:50] GrahamCampbell commented on #3483
I'd recommend discussing this on a forum perhaps, as this is not a bug in the core codebase. :)

[2019-05-13 15:50] #3483 closed

[2019-05-13 15:50] GrahamCampbell commented on #3398
That could be cool, or maybe simply maintain the translations as a separate repo?

[2019-05-13 15:56] GrahamCampbell commented on #773
Having PHP serve the image would be fine, but not using that code example there. Just return a repsonse object.

[2019-05-13 15:59] GrahamCampbell commented on #3398
There is no real advantage in lazy downloading translations as the files are so small, but there may be an advantage so separating them so the noise isn't so bad on the main repo when there's updates.

[2019-05-13 17:51] jbrooksuk commented on #3398
Downloadable packages would be good. As you say, the main benefit is simply removing the cruft. What’s the best way of installing a package like translations without wrecking the `composer.lock` file?

[2019-05-13 19:12] jbrooksuk commented on #3598
Thanks @csandanov I'm looking into this now for you.

[2019-05-13 19:31] jbrooksuk commented on #3598
This is now fixed in 843eabbcc319f1d1f3fcd323fad36101bc6c50c4

[2019-05-13 19:31] #3598 closed

[2019-05-13 19:40] jbrooksuk commented on #3490
Can you also share the error log please. I've just checked in the latest v2.4 and I was able to add subscribers.

[2019-05-13 19:41] jbrooksuk commented on #3490
Closing for now as I'm unable to recreate, but please re-open if you can share the log as well.

[2019-05-13 19:41] #3490 closed

[2019-05-13 19:42] jbrooksuk commented on #3491
Metrics are pretty lightweight. Can you let us know if this is still occurring please.

[2019-05-13 19:42] #3491 closed

[2019-05-13 19:44] jbrooksuk commented on #3088
@brunowdev done!

[2019-05-13 23:15] LegacyAngel2K9 opened #3600 "Error 500 When Trying to View dashboard"
Hi,

Tried to enter the dashboard, but get Error 500

Error Identifier: b621662e-650f-4c74-8f1c-c5eb05bfd0d6
Laravel.log: https://gist.github.com/LegacyAngel2K9/f48ed244dc2d40a0c9e96afa5b7caefb

[2019-05-14 06:27] jbrooksuk commented on #3600
It looks like the `storage` directory isn’t writeable.

[2019-05-14 06:27] #3600 closed

[2019-05-14 12:11] aquadraht opened #3602 "v2.3.16: error 500 when loading localization page"
Hi,

I recently upgraded via git from 2.3.9 to 2.3.16.
All works fine apart from one page in dashboard. When clicking _/dashboard/settings/localization_
I get an error 500.

Best regards,
a2

[2019-05-14 12:21] jbrooksuk commented on #3602
Thanks for reporting this. I _might_ have to pick this up tonight, but I'm going to have a quick look now.

[2019-05-14 12:28] jbrooksuk commented on #3602
This is fixed in 1bc48e0c607dd369bc652f09839a63a0e66b1d50 which has been released as v2.3.18.

[2019-05-14 12:28] #3602 closed

[2019-05-15 08:10] muenchdo commented on #3597
Alright, thanks a lot 👍

[2019-05-15 08:10] #3597 closed

[2019-05-19 16:09] btshowers opened #3606 "405 Method Not Allowed (PUT)"
I can't figure this one out. I'm able to successfully POST a new component (so i know auth is working) but when i try to PUT I get 405 Method Not Allowed.  I just installed cachet so i'm pretty sure i'm on the latest release.  CORS is default.

curl -X PUT \
  https:/myurl/api/v1/components/1 \
  -H 'Content-Type: application/json;' \
  -H 'X-Cachet-Token: mytoken' \
  -d '{"name":"API","descripti

[2019-05-19 16:18] btshowers commented on #3606
fyi i cloned from master so i'm at 2.5.0-dev

[2019-05-20 11:50] li-olivierfostier commented on #2741
Hi there
Same problem today with fresh docker install (Cachet: 2.4 PHP 7.2.18)

CSRF error when i try to log me to dashboard.
Session driver or session cache in file or apc mode do the same effect.

Any idea ?

[2019-05-20 21:40] btshowers commented on #3606
update.  I redeployed with 2.4.  Same issue.

[2019-05-20 22:02] btshowers commented on #3606
Haha.. i feel like i'm having a conversation with myself. 💯   I think i figured this out so i'll close and comment.  I'm running this as an Azure Web App.  Part of deploying this to Azure is creating a web.config and removing the .htaccess file since it's actually running on IIS.  I had to add the following handler to my web.config to enable allowing PUT.

<handlers>
<remove name="PHP71_via_FastCG

[2019-05-20 22:02] #3606 closed

[2019-05-21 01:06] DamonOnYT opened #3611 "When running php artisan app:install i get an error"
When running php artisan app:install i get this error:

root@ip-172-31-37-207:/var/www/Cachet# php artisan app:install
Clearing settings cache...
Settings cache cleared!
Backing up database...
Dumping database and uploading...
mysqldump: [Warning] Using a password on the command line interface can be insecure.
mysqldump: Got error: 1045: Access denied for user 'homestead'@'localhost' (using passwo

[2019-05-21 08:51] mipapo commented on #3611
[code]
Seems you don't have an configuraton file yet. Copy the .env.example to .env and edit the values  (Database and co)

[2019-05-21 12:00] noplanman opened #3612 "Demo broken"
Just wanted to check out the [demo dashboard](https://dev.cachethq.io/dashboard), but the `.env` file has some syntax error:
`The environment file is invalid: Dotenv values containing spaces must be surrounded by quotes.`

[2019-05-21 12:10] jbrooksuk commented on #3612
Thanks for reporting @noplanman. I'll investigate this now.

[2019-05-21 12:11] jbrooksuk commented on #3612
I've fixed the demo, but it looks like we need to fix how Cachet writes these values too.

[2019-05-21 13:57] DamonOnYT commented on #3611
Yep that fixed it, thanks

[2019-05-21 13:57] #3611 closed

[2019-05-21 14:40] DamonOnYT opened #3613 "500 error on a new install"
Hello, i get a 500 error on chrome when i try to go to my status page to do the setup.

![Chrome Screenshot](https://user-images.githubusercontent.com/20586245/58105669-39b2ca80-7c2a-11e9-802c-160f89e88f18.png)

**PHP Info**
root@ip-172-31-37-207:/var/www/Cachet# php -v
PHP 7.3.5-1+ubuntu16.04.1+deb.sury.org+1 (cli) (built: May  3 2019 10:00:05) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend E

[2019-05-21 20:50] sdinot opened #3614 "The component update fails (apparently) due to a temporary mail delivery error"
Dear developers,

I use Cachet 2.3.18 (but I got the same error before update with version 2.3.9)

When I try to update the properties of a component (for example, its link), I get a "Error 500, Internal Server Error" due to a temporary error on mail delivery (4.7.1 Try again later).

Here is the first lines of the log:
[code]

It's an embarrassing bug, but your great tool provides a valuable serv

[2019-05-22 01:48] ryanpaulfyfe commented on #2588
I was running into this issue when trying to deploy on AWS RDS Serverless which has mysql 5.6 compatability, even after setting:

    Schema::defaultStringLength(191);

I was still getting the errror. This solution to change the charset to utf8 finally resolved it.

Many thanks!

[2019-05-22 14:08] demarant commented on #3409
we have same issue cachet v2.3.15.
we use cachet with around 30 components divided in 5 groups and users often will select only some components. they do not get any maintenance notifications via email.
RSS/Atom do have the maintenance notifications but the situation is not intuitive and confusing for users.

Moreover when scheduling maintenance, one should be able to associate it to a specific com

[2019-05-23 15:01] anthosz commented on #2977
Hi @Jonah0037 @prbond @jbrooksuk ,

Did you fix finally the issue? There are no history on slack...

I try to things (url is 127.0.0.1/cachet):
APP URL is the same in all case
If I add RewriteBase, only page seems to works but by example 127.0.0.1/cachet/setup/ cannot load ressources (like js/css...etc). Indeed, the browser try to get resources from 127.0.0.1/build/... instead 127.0.0.1/cachet/bui

[2019-05-23 15:25] prbond commented on #2977
No time, I gave up, sorry

[2019-05-23 19:35] anthosz opened #3618 "404 on resources when custom path"
Hello,

Following issue #2977 and a request to slack. I cannot install cachet with a custom path.

Example: http://127.0.0.1/cachet
APP URL is the same in all case.

If I add RewriteBase, only page seems to works but 127.0.0.1/cachet/setup/ cannot load ressources (like js/css...etc). Indeed, the browser try to get resources from 127.0.0.1/build/... instead 127.0.0.1/cachet/build/...

If I don't ad

[2019-05-24 06:30] DamonOnYT commented on #3613
Found the issue, i need to use v2.4 since im running a newer version of php.

[2019-05-24 06:30] #3613 closed

[2019-05-24 06:39] anthosz commented on #3618
I just find public/build/rev-manifest.json but it's not absolute path.

The goal is to find where is generated "/build" & to force the root path before..

[2019-05-24 18:14] anthonybocci commented on #3618
Hello,

Thank you for coming from Slack to here. I'll try to illustrate the issue, and check in the code what we have to do.

Firstly, to illustrate your problem (if I correctly understand it), here is a screenshot of the setup page.

![cachet-setup-no-rewrite-base](https://user-images.githubusercontent.com/7780244/58348087-e629c200-7e5f-11e9-9b19-51e0da6267fc.png)

On my fresh install the URL is

[2019-05-27 06:18] anthosz commented on #3618
Thank you @anthonybocci ,

This is exactly the issue that I have.

For now I use this workaround but it's pretty dirty:

After that, once installed & logged, I have an issue with the root page (but seems not related to this topic):

Builder.php:1161

Best regards,

[2019-05-27 07:31] tychovbh opened #3623 "Fresh install on PHP 7.3 results in 500 error"
When I do a fresh install of cachet it results into a 500 error after setup. I tried the following:
`If you get a 500 error when visiting your status page, you may need to run chmod -R 777 storage for it to work or rm -rf bootstrap/cache/*`
but still when I log in or just go to status page it results in the following error:

[2019-05-27 07:28:19] production.ERROR: ErrorException: count(): Paramete

[2019-05-27 08:00] Binternet commented on #2741
+1 On that
CSRF error on fresh docker install, changed `SESSION_DRIVER` and `SESSION_DOMAIN` to `file` and problem still occurs.

[2019-05-27 08:38] anthonybocci commented on #3618
@anthosz thank you for sharing your workaround. I've understood the problem, I just need to fix one thing and it will be ok.

The error your said before updating your message about a `count` function waiting for an instance of `Countable` is because you were using PHP 7.2. Cachet is PHP 7.2-compatible from the version 2.4~dev. Not 2.3.X.

[2019-05-27 09:58] anthosz commented on #3618
@anthonybocci

I confirm that the error (count) has been fixed in 2.4 (dev).

Please note btw that we have the same issue on 2.4 concerning resources call.

Workaround for 2.4:

But the path of fonts are ok once logged but not ok when not logged (anonymous).

Best regards,

[2019-05-27 10:21] thomasisaacsibille commented on #2741
+1
CSRF error for login, I tried SESSION_DRIVER=file but still not working

[2019-05-27 12:08] anthosz commented on #3618
@anthonybocci

I confirm that the error (count) has been fixed in 2.4 (dev).

Please note btw that we have the same issue on 2.4 concerning resources call.

Workaround for 2.4:

But the path of fonts are ok once logged but not ok when not logged (anonymous).

Best regards,

[2019-05-27 13:03] tarreislam commented on #3623
Short answer:

**Parameter must be an array or an object that implements Countable**

Use php 7.1 instead.

[2019-05-27 13:15] tarreislam opened #3624 "Setup page wont save settings"
Hi.

After I complete the setup, I get automatically signed in and everything seems fine. But no settings are getting are persistant. Any settings changed will revert back to default.

Components and users are persitant, but not the settings. Any idea?

Backend:
Ubuntu 16.04 @ php 7.1, mariadb and redis _(I also tried file as cache)_

EDIT: cachet @ v2.3.9

[2019-05-27 13:19] tarreislam commented on #3624
OK I solved it by running `app:update`

How weird

[2019-05-27 13:19] #3624 closed

[2019-05-27 13:59] tarreislam opened #3625 "Each setting update requires app:update to take effect"
Hi!

Every time I make a change thru the settings, I have to run `app:update` for the changes to "take effect".

Whats up with that?

Ive used both redis and file as cache-driver

[2019-05-28 10:08] tienhm0202 commented on #3002
I think it's a config error. You should be sure your SESSION_DOMAIN matched with your cachet domain.

[2019-05-29 07:48] gbaudoin commented on #3088
Hello ! It looks like the French translations need some help.

Lang: French, User: gbaudoin

[2019-05-29 11:57] anthosz opened #3626 "2.4: Maintenance doesn't works"
Hello,

In 2.4 (last commit as this day), maintenance seems doesn't works.

I try to insert a maintenance event between 28 & 31 May 2019 with differents status and no maintenance are showed on status page.

- Content of _schedules_ table:

Best regards,

[2019-05-29 14:06] ChrisEKN commented on #3623
The README.md says the following...

Requirements : PHP 7.1.3 - 7.3

I am experiencing the same issue when I upgraded my PHP version from 7.0 to 7.3.
Please edited the the README.md if 7.3 is not supported.

[2019-05-29 19:34] lmascarenhas commented on #2741
+1
Same problem here (cachet_ver=2.4)
Symfony \ Component \ HttpKernel \ Exception \ BadRequestHttpException
CSRF token validation failed.

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

[2019-05-30 01:41] lunarthegrey commented on #2741
I've tried a lot of different things. I keep getting `CSRF token validation failed` no matter what I set. I've tried setting:

[code]

[2019-05-30 01:43] lunarthegrey commented on #2741
@jbrooksuk can you re-open this issue.

[2019-05-30 07:24] jbrooksuk commented on #3623
You need to use Cachet 2.4 for PHP 7.3 support.

[2019-05-30 07:24] #3623 closed

[2019-05-30 19:29] lunarthegrey commented on #2741
Maybe @GrahamCampbell or @joecohens can assist as well.

[2019-05-31 10:59] pehlert commented on #3626
Not sure if it helps, but I can confirm this on a fresh installation

[2019-05-31 17:00] jimmyr57000 opened #3627 "Problem install cachet with nginx"
Hello,
I have a problem with install cachet on my nginx with php 7.2

https://status.craftaserv.com/ (404 Not Found)

Config: https://pastebin.com/e1KUeBka

Thanks you :) !

[2019-05-31 21:00] jimmyr57000 commented on #3627
I have reinstalled all, i have a error 500

https://pastebin.com/KWuZpQbJ

[2019-05-31 21:26] #3627 closed

[2019-06-03 19:19] ojdon commented on #3111
Is there anyone working on an active fork? If not, I'll [fork the current release](https://github.com/ojdon/Cachet) and start work on moving Cachet to Bootstrap 4, as it's currently based off bootstrap-sass (The Sass fork of Bootstrap 3).

Once migrated, I'll work towards the new design.

[2019-06-05 04:37] Jake-Mok-Nelson opened #3643 "Newest docker image is not tagged latest"
The "latest" version on [CachetHQ Dockerhub](https://hub.docker.com/r/cachethq/docker/tags/) is over a year old but version 2.3.15 is actually newer.

[2019-06-05 13:34] jorgeperezc commented on #771
@miquelbarbero Although it is not the best solution as a workaround if you define the field slack_webhook_url for any subscriber in the table subscribers of the database, it works for you

Regards !!

[2019-06-06 09:19] anthosz opened #3644 "2.4: Not all incident appear on /api/v1/incidents"
Hello,

With 2.4, I have a strange behavior (and appear randomly..). When an incident created (via GUI or API), the incident doesn't appear via Api.

By example:
- (randomly) Incident(s) created
- I have incident 195, 196, 197, 198 on the dasboard & status page
- Only 195 appear on /api/v1/incidents
- If I remove incident 196, same issue
- But if I remove 125, I can see 197 (but not 198) (api get

[2019-06-06 10:19] anthosz commented on #3644
Seems due to pagination in api, fixed!

[2019-06-06 10:19] #3644 closed

[2019-06-06 13:30] jbrooksuk commented on #3643
Please open this on the [Docker](https://github.com/CachetHQ/Docker) repo.

[2019-06-06 13:30] #3643 closed

[2019-06-09 08:58] jbrooksuk commented on #3111
@ojdon not that I'm aware of. If you're happy implementing the changes, that'd be great! I can definitely see the advantage of migrating to Bootstrap 4 first.

[2019-06-09 13:36] olliware opened #3647 "Installation Problems"
Hey everyone,

I am new to Cachet and although familiar with Composer (Pixelfed also runs with Composer) I tried to follow the installation instructions located at https://docs.cachethq.io/docs/installing-cachet. After checking all prerequisites (MariaDB-db working as well), I do my "php artisan app:install" and get the following error:

System is Debian 9 "Stretch", running with Nginx and PHP-PFM

[2019-06-10 09:25] jgadbois commented on #2741
I'm having the same problem

[2019-06-10 11:31] anthosz commented on #3647
Hi @olliware,

If you use PHP 7.2, you need to use branch 2.4 (current 2.3 doesn't works with PHP 7.2)

Best regards,

[2019-06-10 11:41] olliware commented on #3647
Thanks for the info, this could help as I am using PHP 7.3 here... Will give it a try, thanks!

[2019-06-10 11:41] #3647 closed

[2019-06-10 15:55] wayleenet opened #3649 "Error 500 Houston, We Have A Problem. Internal Server Error"
Internal Server Error
What does this mean?
Something went wrong on our servers while we were processing your request. An error has occurred and this resource cannot be displayed. This occurrence has been logged, and a highly trained team of monkeys has been dispatched to deal with your problem. We're really sorry about this, and will work hard to get this resolved as soon as possible.

This error

[2019-06-10 16:01] wayleenet commented on #3649
[2019-06-10 16:01:10] production.ERROR: RuntimeException: No supported encrypter found. The cipher and / or key length are invalid. in /home/wwwroot/status/vendor/laravel/framework/src/Illuminate/Encryption/EncryptionServiceProvider.php:45
Stack trace:
#0 /home/wwwroot/status/vendor/laravel/framework/src/Illuminate/Encryption/EncryptionServiceProvider.php(25): Illuminate\Encryption\EncryptionServi

[2019-06-11 13:17] MartinHynek commented on #3088
Good idea.
Lang: Czech, User: martascz

[2019-06-11 13:24] anthosz commented on #2905
Dear all,

Do we have a timeline for this feature?

Best regards,

[2019-06-11 13:53] ArthurKnoep commented on #3626
Same problem here, also when I create the maintenance from the dashboard, it end on a 500 error

[2019-06-11 14:05] urupaud commented on #2741
Facing the same issue

[2019-06-11 15:30] ArthurKnoep commented on #3626
Why have you closed the issue, have you fixed your instance ?

[2019-06-11 15:50] anthosz commented on #3626
@arthurknoep, oups bad manipulation on my smartphone, now open ^^ thx for notification

[2019-06-12 02:28] shieldheart commented on #2741
I'm also having this issue.

[2019-06-12 05:55] jgadbois commented on #2741
@urupaud and @shieldheart if using Docker,  I was able to resolve by switching from master to the 4.2 branch of CachetHQ/Docker

[2019-06-12 06:10] shieldheart commented on #2741
Yes, I'm using docker. Did you mean branch 2.4? It already defaults to that anyway. I can't find a 4.2 branch.

[2019-06-12 06:15] jgadbois commented on #2741
Yes, sorry the 2.4 branch of the Docker repo (not just the 2.4 version of Cachet) - https://github.com/CachetHQ/Docker/tree/2.4

[2019-06-12 06:16] jgadbois commented on #2741
If that works for you, then there's something with this last commit on Docker master that's breaking things - https://github.com/CachetHQ/Docker/commit/522cbd4dd735d5341b00cb797c23099e4a6714d9

[2019-06-12 06:19] shieldheart commented on #2741
Alright so the docker-compose.yml file looks for cachet 2.4 but I should clone the 2.4 branch of the Docker repo it self.

So you want me to do git clone -b 2.4 https://github.com/CachetHQ/Docker.git instead?

[2019-06-12 06:21] jgadbois commented on #2741
If you've already cloned the repo you can just do `git checkout 2.4` to switch over to that branch.

[2019-06-12 06:22] shieldheart commented on #2741
Ah good to know thanks :)

I'll report back in a few minutes.

[2019-06-12 06:27] jgadbois commented on #2741
Cool, you probably want to `docker-compose down` so everything completely resets

[2019-06-12 06:37] shieldheart commented on #2741
I'm happy to report that switching to the 2.4 branch worked!

[2019-06-12 06:42] jgadbois commented on #2741
Great!  Can you report that information here - https://github.com/CachetHQ/Docker/issues/341

[2019-06-12 06:47] shieldheart commented on #2741
Done, just trying to figure out if the popups (when you hover over a ? or say a green pip to get more details) not having a black background but it existing in the demo version is an error or not or if CSS is not loading somewhere.

[2019-06-12 06:54] urupaud commented on #2741
@jgadbois I'm using the docker file with cachet version as 2.4, this is how i use it

FROM nginx:1.15.12-alpine

EXPOSE 8000
CMD ["/sbin/entrypoint.sh"]

ARG cachet_ver
ARG archive_url

ENV cachet_ver ${cachet_ver:-2.4}
ENV archive_url ${archive_url:-https://github.com/cachethq/Cachet/archive/${cachet_ver}.tar.gz}

[2019-06-12 07:04] shieldheart commented on #2741
How are you disabling the php bug bear bar at the bottom of the site? In my docker-compose.yml file it is set to

DEBUG=false

[2019-06-12 07:14] jgadbois commented on #2741
APP_ENV=production I think.

On Wed, Jun 12, 2019 at 9:04 AM Mr. Monster <notifications@github.com>
wrote:

[2019-06-12 07:25] shieldheart commented on #2741
Does not work unfortunately.

[2019-06-12 07:30] jgadbois commented on #2741
Try

APP_ENV=production

APP_DEBUG=false

On Wed, Jun 12, 2019 at 9:25 AM Mr. Monster <notifications@github.com>
wrote:

[2019-06-12 07:34] shieldheart commented on #2741
That worked. Makes me wodner if the default "DEBUG=false" is a typo then. If you check the Repo for the docker version, its in the docker-compose.yml file.

If you spin up a working version with branch 2.4 are you getting the Styling problem with the hover popups as well?

[2019-06-12 08:36] urupaud commented on #2741
btw I've done the same but still getting the same error. also want to mention that I'm migrating my data from cachet 2.3.15 to 2.4. steps I followed are,

1. git clone https://github.com/cachethq/Docker.git cachet-docker
2. cd cachet-docker; git checkout 2.4
3. Updated .env file accordingly, pointed it to RDS (DB that was using for cachet 2.3.15)
4. Updated docker-compose to use - cachet_ver=2.4
5

[2019-06-12 23:01] GrahamCampbell opened #3651 "Bad usage of env variable"
In https://github.com/CachetHQ/Cachet/blob/2.4/app/Http/Middleware/TrustProxies.php.

[2019-06-13 14:33] sbarrier commented on #3313
To bad that you decided to drop RSS support.It's still used by millions of users daily.

[2019-06-14 13:54] lunarthegrey commented on #2741
Does your entrypoint.sh have these set? If so, just take out the `apc` and try again.

[code]

[2019-06-17 12:30] MartinHynek commented on #3088
any updates @jbrooksuk ?

[2019-06-17 12:35] MartinHynek opened #3655 "Translation issues in some languagages"
It seems that one of strings which should be translated is not in code anymore and now Incidents page could not be loaded. It ends with app error 500. As far as i know, its in Czech translation and some other.

This error can be identified by 83f017e8-8099-4318-b542-29e40d5b674a. You might want to take a note of this code.

Could anyone confirm that? Version 2.3.18

Thx

[2019-06-18 06:48] jbrooksuk commented on #3088
@gbaudoin and @martascz I've assigned you to your requested languages. Thanks!

[2019-06-18 07:40] jbrooksuk commented on #3655
@MartinHynek I've added you to the Czech translations. Please feel free to adjust them :)

[2019-06-18 07:40] #3655 closed

[2019-06-19 01:41] lunarthegrey commented on #3626
Same issue, can't create any maintenance.

[2019-06-20 11:30] jbrooksuk commented on #3313
@sbarrier I'm actually contemplating bringing this back as in hindsight, I think a lot of people do still use RSS and that it serves a lot of uses.

[2019-06-20 14:57] ebaan opened #3657 "RSS feed"
Hi, just managed to install Cachet 2.4.0-dev running on Ubuntu using nginx. I see in some of the examples that there is an option of RSS feed? Just does not show in my footer and domain/rss results in error?

New to this all, so please be gentle....

[2019-06-21 01:57] einarf opened #3658 "A new python 3.6+ client library for Cachet"
Just released a new python 3.6+ client library for Cachet: https://github.com/ZettaIO/cachet-client

The other python library by David Moreau Simard is fairly simple and definitely still very useful for 2.3.x users. There was room for a more complex library that is easier to use when doing more complex interactions with Cachet. We also wanted 2.4 support. (some work remaining + docs)

[2019-06-21 06:51] anthosz commented on #2951
Dear @jbrooksuk ,

Do you know how to use RSS feeds?

I use 2.4 and I don't have any RSS feeds on incidents.

Best regards,

[2019-06-23 07:23] jbrooksuk commented on #3658
Hi @einarf! Thanks for creating this! I'll add it to the documentation now.

[2019-06-23 07:27] #3658 closed

[2019-06-23 07:27] jbrooksuk commented on #3657
Hi @ebaan, 2.4 has currently removed the RSS feeds, but we're actually in the process of re-implementing them in #3659. Follow progress there :)

[2019-06-23 07:27] #3657 closed

[2019-06-23 07:30] jbrooksuk commented on #3649
Have you ran through `cachet:install`?

It looks to me like you're missing an environment key.

[2019-06-23 07:30] #3649 closed

[2019-06-23 07:31] jbrooksuk commented on #3625
Hi @tarreislam. What version of Cachet are you using? Settings get cached into `./bootstrap/cachet/production.php`. Do you know if this file is changing when you modify a setting?

[2019-06-23 07:31] jbrooksuk commented on #3618
This should now be fixed!

[2019-06-23 07:31] #3618 closed

[2019-06-23 07:32] #3612 closed

[2019-06-23 07:33] jbrooksuk commented on #3552
Hi @PhilipSteeman, thanks for reporting this.

@ojdon is currently upgrading us to Bootstrap 4 and will then be implementing the new design. This will be addressed within these changes. Thank you!

[2019-06-23 07:33] #3552 closed

[2019-06-23 07:33] jbrooksuk commented on #3550
Hi @crommcruach, good idea! I'd like to see someone take on the metrics if possible. They're very under-powered and could do with a good overhaul on them.

[2019-06-23 07:37] jbrooksuk commented on #3549
Hi @crommcruach thanks for reporting. Can you please test out https://github.com/CachetHQ/Cachet/pull/3661 for me?

[2019-06-23 07:42] jbrooksuk commented on #3506
@ojdon do you think you could address this in the Bootstrap upgrade, please?

[2019-06-23 07:43] jbrooksuk commented on #3626
I'm going to investigate this now.

[2019-06-23 07:44] jbrooksuk commented on #3626
This is weird, I've just created maintenance without issue:

![image](https://user-images.githubusercontent.com/246103/59973156-1fef0500-9593-11e9-9b21-3191d16ef3bc.png)

Can someone please try this again and then provide me with your error logs?

[2019-06-23 07:47] #3479 closed

[2019-06-23 07:48] jbrooksuk commented on #3614
Hi @sdinot! Thanks for reporting this.

I have to ask, but have you confirmed that the mail details you provided to Cachet do in fact work?

[2019-06-23 07:51] jbrooksuk commented on #2905
Whilst I'm thinking about it, I'd like to provide a global search on the Cachet dashboard too.

@anthosz not yet, sorry. @ojdon is working on implementing our new design, so once that is done, we'll know more.

[2019-06-23 07:52] jbrooksuk commented on #3409
Does this work on 2.4?

[2019-06-23 07:53] jbrooksuk commented on #3529
@maddprof apologies for the delay, are you still having this issue?

[2019-06-23 08:01] jbrooksuk commented on #3562
Hi @MinThaMie. This is a good idea and I'd love for someone to take this on.

A rough guideline for this:

_Note that you can use incidents as a base to go on for this._

1. Add a column of `notify` to the `schedules` table
2. Add the notify column to the schedules dashboard page
3. Update the bus command to be aware of the new value
4. Update the event handler (`SendScheduleEmailNotificationHandl

[2019-06-23 08:02] #3562 closed

[2019-06-23 08:03] jbrooksuk commented on #3562
Oh, sorry @MinThaMie, you've already done it! 🙈

[2019-06-23 13:46] maddprof commented on #3529
@jbrooksuk I do not know, that issue was project breaking for us so we moved on.

[2019-06-23 15:01] jbrooksuk commented on #3254
I could do with some help on the Postgres side of things.

[2019-06-23 15:03] jbrooksuk commented on #3376
It'd be great if someone could provide a bespoke icon that we can use in place - that's if we even need one...

[2019-06-23 15:09] #3376 closed

[2019-06-23 15:10] #3083 closed

[2019-06-23 15:10] jbrooksuk commented on #2538
This should be fixed in v2.4

[2019-06-23 15:10] #2538 closed

[2019-06-23 15:12] jbrooksuk commented on #2540
Closed in favour of https://github.com/CachetHQ/Cachet/issues/2641

[2019-06-23 15:12] #2540 closed

[2019-06-23 15:12] #3529 closed

[2019-06-23 15:29] sdinot commented on #3614
Yes, of course! ;)

Actually, several recipients work for the same company. The mail server of this company performs in the same way for all recipients: the first message of the day from a given address causes a temporary error, asking the SMTP server that sends the message to try again later ("4.7.1 Try again later"). If the SMTP send the same message a few minutes later, this second send is acce

[2019-06-23 15:41] sdinot commented on #3614
@jbrooksuk : I'm seeing in the issue history that you added the resolution of this issue to the v2.3.14 milestone but I already use v2.3.18. :)

[2019-06-23 20:14] lunarthegrey commented on #3626
@jbrooksuk when trying to create a maintenance I get this 500 error page
![Screenshot_2019-06-23 Error 500](https://user-images.githubusercontent.com/8747426/59981469-37e17b80-95c9-11e9-9056-528ce2238f97.png)

When I run `docker-compose logs` all I see is the GET and POST requests.

[code]

[2019-06-24 03:47] cristian04 opened #3663 "FPM initialization failed"
Hi all,

Im having issues with cachet and the fpm initializization.

There were no chances to this cachet instance. It was working fine for aprox a week and I started receiving these errors.

Env info:
Running on kubernetes (GKE)
Using version 2.4 (861e048cb98a73f928aa8d49aa11d225e8cb464c)

Log:

[code]

[2019-06-24 05:26] cristian04 commented on #3663
Update:

I've added more replicas in my deployment configuration.

Status is as follow:

[code]
All of them are using the same image, based on 2.4

Logs:

Pod with the error
[code]

Pod without the error:
[code]

[2019-06-24 06:19] anthosz commented on #3626
@jbrooksuk  I just checkout the code on the last revision (2.4) (cache/config/route cleaned) and I have the same issue:
Successfully created: ![image](https://user-images.githubusercontent.com/14294064/59995409-57bf8080-9657-11e9-8293-fbdeb7cfa95a.png)

But nothing appear on status page.

Moreover, I didn't have any errors in apache or php/laravel logs :(

[2019-06-24 06:35] anthosz commented on #3618
Dear @jbrooksuk ,

There is only one problem left concerning ionicons.svg & ionicions.woff called by /dist/css/app.css (dashboard anonymous & logged)

The link to woff/svg in the CSS is url("../../../fonts/ionicons.ttf?v=2.0.1" instead url("/a/b/c/fonts/ionicons.ttf?v=2.0.1"

For the rest, all seems fixed now :)

Thx!

[2019-06-24 07:25] jbrooksuk commented on #3663
I don't have any experience with Kubernetes. Did you get this setup from a third-party?

[2019-06-24 07:29] cristian04 commented on #3663
No. I installed it by myself using the Openshift template as a baseline. (I am a certified kubernetes administrator)

The differences between the containers are:

[code]

[2019-06-24 17:57] jbrooksuk commented on #3663
Sorry @cristian04, I'm struggling to see how this would be a Cachet issue.

I don't have any experience with Openshift or Kubernetes, so I'm unable to provide you with any support. I wonder if @djdefi can chip in?

[2019-06-24 17:57] #3651 closed

[2019-06-24 17:58] jbrooksuk commented on #3440
@spencerryan any chance you've had a look at #3402 yet?

[2019-06-25 05:02] cristian04 commented on #3663
Should I move this to the docker project? (https://github.com/CachetHQ/Docker)

[2019-06-25 07:16] jbrooksuk commented on #3663
May be a good idea. I'll transfer the issue now :)

[2019-06-25 10:43] MartinHynek commented on #876
Any updates? Or where to find what's worked on?

[2019-06-25 20:13] misterjaytee opened #3665 "Amendments to notifications for maintenance"
For maintenance items, currently subscribers only get a notification that a maintenance item was created.

Please could we make the following amendments to notifications for maintenance items:

- Make sure that the description is in the email so that subscribers don't have to visit the status website to find out more detail about the maintenance item and also let them know what component and/or co

[2019-06-26 02:49] jasoryeh commented on #3111
Just verifying... are all the fonts Raleway?

[2019-06-26 08:53] MartinHynek opened #3666 "In-Context translation problem"
It seems Crowdin In-Context translation is not working properly, some strings are taken from selected language (Czech and some others), some are taken from en-UD or not taken at all, why?

For example 0{0}crwdne305:0 or [Unrecognized text] (String is not loaded. Probably it has been deleted.)

[2019-06-26 10:06] successtar commented on #2917
You can give this a try https://github.com/successtar/cachet-manager

[2019-06-26 11:22] jbrooksuk opened #3667 "Out of Office! (I'm getting married! 🤵🏻)"
Hey everyone 👋,

I just wanted to leave a quick message here to let you know that I'm getting married on Saturday and so I will be Out Of Office until the 8th July!

During this time, support tickets and issues will not be replied to by myself. Once I'm back, I'll go through all issues and support tickets.

See you when I get back!

Thanks,

James

[2019-06-26 11:26] jbrooksuk commented on #3111
Question for @ojdon :)

[2019-06-26 11:58] ojdon commented on #3111
@jasoryeh Yup. It's all Raleway.

However, ["Material-Design-Iconic-Font"](https://zavoloklom.github.io/material-design-iconic-font/) is the icon font in use.

[2019-06-26 19:58] jasoryeh commented on #3667
Congrats!

[2019-06-27 00:42] jasoryeh commented on #3111
Hey @ojdon I've been working on a kind of html outline that tried to clone the design on the proposed design, but it doesn't use bootstrap...
![image](https://user-images.githubusercontent.com/13290941/60224941-9745c280-9839-11e9-8af8-77188a3b520b.png)

[2019-06-27 08:49] mhauptmann opened #3668 "Buttons missing and website shows number code instead of special characters"
Hello everybody,

I have Cachet installed and the website does not translate the special characters properly. Normally "Ticketsystem &#40;Web, Mail&#41;" should be interpreted in "Ticketsystem (Web, Mail)".
![image](https://user-images.githubusercontent.com/35134598/60251626-2bab3600-98c9-11e9-9925-8664c356cfde.png)

In addition, the buttons "Next" and "Back" are missing at the bottom of the websi

[2019-06-27 11:20] InsaneSplash commented on #3626
We have the same problem and I'm running the latest 2.4.0-dev revision as of this post. We have had to resort to using Stickied Incidents.

[2019-06-28 13:54] dsneath commented on #3625
I would like to confirm that this is an issue for us as well, 2.4.0-dev

[2019-06-29 22:55] cristiancs opened #3671 "Cachet saturating MySQL after 6 months of data"
I have been experiencing high cpu usage from MySQL last weeks, after some hours of troubleshooting i found out that a query from cachet was making my CPU spike to 100% every 2 minutes or so.

[code]

For now i moved the old records to a new table and deleted the data on metric_points, but maybe some indices on the table could help, or at least empty the table every month or something like that.

[2019-06-29 23:00] cristiancs commented on #3671
Some extra thinkering, i think is related with the insertion of data, i run this script https://github.com/stayallive/pingdom-to-cachet every minute from a cronjob and due a problem the script didn't run for two weeks, this 2 weeks, the CPU usage was 1-2%

[2019-06-30 08:08] #3409 closed

[2019-06-30 08:08] #3549 closed

[2019-07-02 02:53] atymic commented on #3480
I've created a WIP pr for this in #3686 😄

[2019-07-02 03:41] atymic commented on #2650
I'll have a go of this when I have some spare time, I think this would be an awesome feature.

[2019-07-02 08:26] tarreislam commented on #3625
What more information is needed.

1. Setup a fresh install on ububtu without docker.
2. Try to do anything

[2019-07-02 18:27] duysmil opened #3688 "Mail settings not save"
Hey, i run version 2.4 and after i change in settings--->mail all to smtp and save it it reset it to log.

Anyone knew what i do wrong

[2019-07-02 23:17] pridit opened #3689 "URL markdown in incident updates is breaking HTML container"
Within the incident itself this appears as expected. However with updates:

![XQkYsl](https://user-images.githubusercontent.com/12836049/60552510-07b37e80-9d27-11e9-98f1-db58d355acfb.png)
`This a [test](https://google.com) with a URL`

Through inspect element I can observe the following:
[code]

**Version**
2.4.0-dev

[2019-07-02 23:19] pridit commented on #3626
+1

[2019-07-02 23:25] pridit commented on #3688
Related to #3625?

[2019-07-02 23:33] pridit commented on #3626
This is because `completed_at` is being set when creating new, if you go into the database and set this column to `NULL` then it will be visible.

[2019-07-02 23:37] duysmil commented on #3688
I solve this.

Reinstall flesh New cachet.

Please close post.

Thanks.

Em ter, 2 de jul de 2019 20:26, Jordan Heale <notifications@github.com>
escreveu:

[2019-07-02 23:40] pridit commented on #3626
This is working for me on a new installation, if anyone incorrectly read (as I sadly did) `When did this maintenance complete?` as a window for said maintenance this is not how it functions. Setting this to anything will hide the maintenance.

[2019-07-03 04:01] atymic commented on #3688
You can close it your self, just press the close button :)

[2019-07-03 07:53] anthosz commented on #3626
@pridit Indeed, I confirm! I f I remove "maintenance complete", it works but it's confusing ^^

[2019-07-03 12:25] duysmil commented on #3688
Solved.

Thanks

[2019-07-03 12:25] #3688 closed

[2019-07-03 12:48] duysmil opened #3690 "Email notification text is not translated"
How I can Change This Message in subscribe e-mail?

Not locate in lang files this message

"
If you’re having trouble clicking the "Accept" button, copy and paste the URL below into your web browser:
"

[2019-07-03 13:25] TheSlow commented on #3088
Hello, I would like to help you for translating Cachet to Turkish. As I can see from Crowdin there are a lot of translation mistakes.

My username is Dopaa, also thank you!

[2019-07-03 16:31] InsaneSplash commented on #3626
I tried removing the completed date/time but on each save it puts it back. I would think that the completed field should really be the end time of the maintenance. Ie, after this time the maintenance will be removed.

[2019-07-04 09:40] tarreislam commented on #3625
Hi, this was an issue with permissions. Just give `www-data` or whatever your webserver uses. Strange thing is that no error was thrown, try catch mutch?

for the copy-pastos:

`sudo chown administrator:www-data -R bootstrap/`
`sudo chmod 775 -R bootstrap/`

[2019-07-04 09:40] #3625 closed

[2019-07-04 18:05] duysmil commented on #3111
when this desing is released?

[2019-07-04 18:41] ojdon commented on #3111
@duysmil The first step is to update the frontend to Bootstrap 4 from Bootstrap 3. You can find my progress here: https://github.com/ojdon/Cachet/tree/updates/bootstrap

When I PR and if it gets accepted, then I'll work towards the new design.

[2019-07-05 13:27] ktownmods opened #3691 "Saving Mail-Settings gives Error 500"
Hey, if i click on mail settings on save (smtp) it gives me an error 500
Using 2.4
In log is this

`#68 {main} {"identification":{"id":"4864b657-6596-446c-9b16-8230c70674d6"},"exception":"[object] (ErrorException(code: 0): file_put_contents(/var/www/clients/client0/web8/web/.env): failed to open stream: Permission denied at /var/www/clients/client0/web8/web/app/Bus/Handlers/Commands/System/Config/

[2019-07-06 17:58] lunarthegrey commented on #3626
If I leave the `When did this maintenance complete?` blank and just put in the time for `When is this maintenance scheduled for?` it still gives me a 500 error.

[2019-07-07 02:30] duysmil commented on #2343
Hi jbrooksuk, in this demo, don't show MAINTENANCE in home page?

[2019-07-07 03:51] duysmil commented on #3626
Maintenance not work for me in 2.4

I edit page code, and see missing

<div class="section-scheduled">

in home page

This page have this section

https://status.framasoft.org/

[2019-07-08 13:03] scysys commented on #766
I know its an old request. But an Telegram Integration would be great. So status messages can be posted on Telegram channels.

[2019-07-09 07:17] flestorres commented on #2459
Having the same issue, is there any workaround for this one? Metrics are 8 hours behind.

[2019-07-09 09:55] Pimorez commented on #3626
I see that it is currently working for you. May I ask what it was that fixed it? I already tried removing the 'When did this maintenance complete?' date but no success there.

[2019-07-09 12:46] duysmil commented on #3626
Hello,

framasoft is not my page, I found the internet to show by example.

in my installation 2.4 does not work.

I sent an email to framasoft asking the version, reported that they use version 2.3.10

I tried anyway to install 2.3.10 and I could not.

Does anyone have the tutorial on how to install 2.3.10?

thanks

[2019-07-09 17:20] dadall opened #3693 "Error 500 when subscribing to email notifications"
Hi,

I've a fresh install via docker-compose. I can subscribe to the email notification system, confirm it and receive actual notifications but when I click on subscribe, CachetHQ sent me an error 500.

Any idea ?

[2019-07-10 10:01] mbrother2 opened #3694 "Run a script after an accident is created or updated"
Hello,

I want to run a script after an accident is created or updated. How can I do it?

Thank for any help!

[2019-07-10 10:59] jbrooksuk commented on #3694
What you're looking for here are [webhooks](https://github.com/CachetHQ/Cachet/issues/2650) which we don't currently support at the moment.

[2019-07-10 10:59] #3694 closed

[2019-07-10 12:41] #3667 closed

[2019-07-10 12:41] jbrooksuk commented on #3667
I'm back! I'll be catching up later.

[2019-07-10 18:26] rakeysh17 opened #3695 "Need to change MAIL_USERNAME and MAIL_PASSWORD set during intial setup"
Need to change MAIL_USERNAME and MAIL_PASSWORD set during intial setup. Please help.

[2019-07-11 06:28] jbrooksuk commented on #3695
You can edit the .env file.

[2019-07-11 06:28] #3695 closed

[2019-07-11 06:28] jbrooksuk commented on #3695
This file is in the root of your Cachet installation.

[2019-07-11 07:24] jbrooksuk commented on #3690
You need to edit `/resources/views/vendor/notifications/email.blade.php`. Looks like that's a language string that's missing!

[2019-07-11 10:24] ktownmods commented on #3691
No one an idea?

[2019-07-11 11:06] duysmil commented on #3690
Thanks.

[2019-07-11 11:10] duysmil commented on #3693
Verify if your e-mail configuration is OK.

Edit .env em root folder to confirm this.

This section, one example.

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=emailusername
MAIL_PASSWORD=emailpassword
MAIL_ADDRESS=emailusername@gmail.com
MAIL_NAME="Infra - Notify"
MAIL_ENCRYPTION=tls

[2019-07-11 11:12] duysmil commented on #3691
Chmod 664 in  .env file
Chmod 775 in storage and bootstrap folder

[2019-07-11 11:31] jbrooksuk commented on #3690
r

[2019-07-11 11:44] ktownmods commented on #3691
chmod 775 onyl the 2 Folders, or the files inside also?

[2019-07-11 11:56] jbrooksuk commented on #3691
644 should be plenty for the `.env` file.

755 also works for the `storage` and `bootstrap` directories.

[2019-07-11 11:56] #3691 closed

[2019-07-11 11:56] jbrooksuk commented on #3693
@duysmil is correct. There will be an error only if Cachet was unable to send the email.

[2019-07-11 11:56] #3693 closed

[2019-07-11 11:57] jbrooksuk commented on #3689
@ojdon one for you, pal!

[2019-07-11 11:59] jbrooksuk commented on #3671
The amount of data will definitely impact performance. I'd suggest that you could look at deleting old data where you no longer need it, but Cachet won't do this for you.

[2019-07-11 11:59] #3671 closed

[2019-07-11 12:00] jbrooksuk commented on #3666
Can you please provide a screenshot?

[2019-07-11 12:00] jbrooksuk commented on #3477
It looks like we need to spend a bit more time on the tags feature!

[2019-07-11 12:07] #3243 closed

[2019-07-11 12:10] jbrooksuk commented on #3668
Hey! What did you enter for this to happen? I copied the text above and can see the names correctly.
![image](https://user-images.githubusercontent.com/246103/61049780-40b1ba00-a3dd-11e9-945f-ade06c91917f.png)

Is there any chance I can get a dump of your `components` table, please?

I assume you have no incidents.

[2019-07-11 12:16] ktownmods commented on #3691
644 for .env not work, use 664

Another question so i dont open another issue
is there an option now available for gdpr?

[2019-07-11 12:19] jbrooksuk commented on #3325
Ah, this is because we're using a Vue component on the frontend. We need to pass through all of the old data back to the component.

[2019-07-11 12:20] jbrooksuk commented on #3691
Not yet, sorry!

[2019-07-11 12:21] jbrooksuk commented on #2343
Are you creating any?

[2019-07-11 12:21] ktownmods commented on #3691
ok so i have to disable the email sub function, because in germany it is very strong with this shit gdpr

[2019-07-11 12:21] jbrooksuk commented on #3618
I believe @anthonybocci has fixed fonts now?

[2019-07-11 12:23] jbrooksuk commented on #3665
Your last two points are actively being addressed in https://github.com/CachetHQ/Cachet/pull/3687 by @atymic :)

[2019-07-11 12:29] MartinHynek commented on #3666
Sure, screen here..
![status_site](https://user-images.githubusercontent.com/1277548/61050832-2df0b280-a3e8-11e9-968e-dd379c52855f.png)

[2019-07-11 12:30] duysmil commented on #3690
Oks, there are another files to change...

In e-mails of new and update incidents/schedule, the message say "thanks"  i locate "thanks" in files in this folder

/var/www/cachet/resources/views/notifications/incident
/var/www/cachet/resources/views/notifications/component
/var/www/cachet/resources/views/notifications/schedule

[2019-07-11 12:56] duysmil commented on #2343
No, I'm installing into production myself.

I meant that I tested it in its demo version and the schedule did not work.
I created one now for testing and it did not show up.

In the 2.4-dev version I installed, it also does not work.

[2019-07-11 13:09] jbrooksuk commented on #2650
@atymic it may be a good opportunity to check out https://github.com/spatie/laravel-webhook-server

[2019-07-11 14:10] mhauptmann commented on #3668
Hi!

Thanks for your reply.

I cannot write the code here because the browser will interpret it as correct writing. So here is a screenshot what I expect (I changed it in the admin panel in the section "components"):

![image](https://user-images.githubusercontent.com/35134598/61057270-369bb580-a3f5-11e9-9a08-52118ae40326.png)

And after I hit the "Save" button that's what I get:

![image](https:/

[2019-07-11 17:22] dwtuts opened #3700 "Allow users to login to view components, but not have access to dashboard."
Hey guys,
I am looking into implementing this dashboard as an internal showcase of our services to managers and such. I would like them to be able to have accounts to view the components, but not to be able to get to the internal dashboard to post incidents. Is there a setting that I can change for this? Or some code I can modify?
Thanks.

[2019-07-11 22:44] atymic commented on #2650
I did see that package, I am definitely a fan of Spatie :)
I take it you are happy with using a 3rd party package?

[2019-07-12 06:06] #3689 closed

[2019-07-12 06:19] #2941 closed

[2019-07-12 07:41] jbrooksuk commented on #2650
Yeah 🙂

You need to weigh up what we gain from using a 3rd party instead of writing it ourselves, but I think in this case it makes sense.

[2019-07-12 14:59] duysmil commented on #3626
After some tests I noticed that the timezone when creating the maintenance event is being inserted incorrectly in the database.

in the example below I created the schedule at 12 o'clock to run between 12 and 13 o'clock on 07/13/2019 and it was recorded on the bench as below.

Timezone in Cachet is -3, but I verify that the event only appears after a few hours.

7	Maint	Maint TEST	0	2019-07-13 15:

[2019-07-12 19:10] anthonybocci commented on #3618
@jbrooksuk I didn't touch the fonts. I'll check during the week-end to remember the problem, reproduce it and see if I can fix it. I'll let you know.

[2019-07-13 08:11] jbrooksuk commented on #3378
Closed by https://github.com/CachetHQ/Cachet/pull/3619

[2019-07-13 08:11] #3378 closed

[2019-07-13 08:11] #3102 closed

[2019-07-13 08:12] #3477 closed

[2019-07-14 11:02] atymic commented on #2650
Just another thought, if we were to use this package (or build it ourselves), we'd also probably need to update the documentation to add information on running queues (ie, setting up supervisor, etc).

[2019-07-14 12:00] lewisakura opened #3707 "Last Hour on metrics not displaying any data."
Similar issue to #1482, but instead of Postgres I am using MySQL.

[2019-07-15 03:55] flestorres opened #3708 "Metrics not displaying completely."
Hello, I'm using the current 2.4 version for the cachet, and I encountered several issues about the metrics;

1. "hourly" metric display doesn't show the graph but data is saved in the database.
2. "12 hour" metric display, has display output, BUT, it saves only up to 4 recent points/hours. It doesn't fill the whole graph.

Are there any workaround of these to make them function well?

Thank you.

[2019-07-15 07:08] jbrooksuk commented on #3708
Thanks for reporting!

What database driver are you using?

[2019-07-15 07:09] jbrooksuk commented on #3707
Thanks for reporting! I'll investigate this later :)

[2019-07-15 07:10] jbrooksuk commented on #2650
Heh, a lot of documentation needs rewriting into the `docs` folder anyway, so that's a good opportunity.

[2019-07-15 07:11] flestorres commented on #3708
Yup thank you, currently using remote mysql database.

[2019-07-15 07:12] jbrooksuk commented on #3708
Okay, I'll take a look at this later :+1:

[2019-07-15 07:14] flestorres commented on #3708
Appreciate it, thank you!

[2019-07-15 14:08] Pimorez opened #3709 "Add support for vector images as custom logo"
Under the 'Theme' settings tab you can upload images. It would be great if vector images can be added so it can scale without causing artifacts.

![image](https://user-images.githubusercontent.com/4558098/61222220-8c849c00-a71a-11e9-9e37-f93cb44301db.png)

[2019-07-15 17:39] jbrooksuk commented on #3709
I’d actually like to change this feature to just link to an uploaded file. Currently we store this file in the DB which was dumb.

However, in doing so, we will break the existing imagery. I guess we could support both for a while anyway.

[2019-07-15 18:02] Pimorez commented on #3709
A file uploaded to the server running the Cachet application you mean? Yeah
that would be a great solution as well.

On Mon, Jul 15, 2019 at 7:39 PM James Brooks <notifications@github.com>
wrote:

[2019-07-15 20:27] jbrooksuk commented on #3708
I've had a look at this and I think now is a good opportunity to focus on rewriting the Metrics system as a priority.

This is going to take a bit of time, but in doing so, I reckon we can close off most of the Metrics related issues.

[2019-07-16 00:01] flestorres commented on #3708
Yup, metrics is somewhat left behind compared to other tools, I'm looking forward to this word from you.
I'll be closing this, thank you, James.

Fles

[2019-07-16 00:01] #3708 closed

[2019-07-17 03:27] J-tt commented on #3254
Experiencing the same issue currently, do you still need that db dump @jbrooksuk ?

[2019-07-17 04:02] flestorres opened #3713 "Incident and incident updates"
Hi, so I've encountered this problem wherein the updates are all stuck in the 20th incident.
In my database, I have 24 incidents(id),
and, for incident updates I have already 25.
![Screen Shot 2019-07-17 at 11 57 10 AM](https://user-images.githubusercontent.com/50864583/61346115-30408a00-a88a-11e9-9cf9-d37176721f61.png)

for this image, incident update id is on the left and on the right is the inc

[2019-07-17 09:07] MichaelOrtnerINFO commented on #3626
Hello same problem, is there a update for this problem?

[2019-07-17 10:06] mbrother2 commented on #3626
Hi all,

I found the problem! Please do not set time at "When did this maintenance complete?" Your maintenance event will be shown on status page.

[2019-07-17 12:59] MichaelOrtnerINFO commented on #3626
No, thats not the problem. I have test it and this does not help.

[2019-07-17 16:37] Pimorez commented on #3626
That did not solve it for me last time, but somehow it does work right now when I create a maintenance, set it to 'upcoming' and it not having an end date.