[2016-11-11 13:31] lewtaylor4 opened #2242 "Adding Scheduled Maintenance - Error 500 Internal Server Error"
Hi,

I have recently installed Cachet 2.4.0 on Centos 7

Installation went smooth, no other issues apart from when I schedule maintenance. I get a internal server 500 error. This happens as soon as I submit the page and it has never worked.

Looking at the logs I see:

[2016-11-11 13:27:28] local.ERROR: exception 'InvalidArgumentException' with message 'Unexpected data found.
Unexpected data found

[2016-11-11 19:56] TheEpTic commented on #2241
Where could I check for this?

[2016-11-11 20:22] jbrooksuk commented on #2241
Well, I assume that you've upgraded from v2.3?

[2016-11-11 20:23] TheEpTic commented on #2241
Yes, sir.

[2016-11-14 06:35] biovn commented on #2237
db driver is mysql

[2016-11-14 06:47] biovn opened #2244 "any way to separate graph metric into a page with password protection"
on the homepage of cachethq have graphic metric showing, however as we don't want normal user see that graphic but system admin only. So i would like to know if we able separate graph metric into a page with password protection, or move that graph into the portal after login

[2016-11-14 18:09] jbrooksuk commented on #2244
@biovn there isn't currently a way of hiding metrics from users who are not logged in.

This would make a good feature for v2.4 if you'd like to contribute it?

[2016-11-14 18:09] jbrooksuk commented on #2237
Are you using the [Timezone](https://docs.cachethq.io/docs/time-zone-header) header when you're sending the data?

[2016-11-14 18:11] jbrooksuk commented on #2241
Right, so the issue here (and for anyone else upgrading to v2.4) is that when you have reported incidents pre-v2.4 they're left in a non-fixed state. Cachet uses these "non-fixed" issues to calculate the status.

I don't know what the best thing to do here is now though... What do we do for people upgrading from v2.4? Perhaps we change how we calculate the status not to include incidents, and only

[2016-11-14 18:14] jbrooksuk commented on #2242
Please know that Cachet v2.4 is **not** the most stable version and as such, there will be bugs like this one.

What date format are you submitting dates in?

[2016-11-14 18:16] jbrooksuk commented on #2242
We expect the date format to be `Y-m-d H:i` so `2016-11-14 18:16` for now.

[2016-11-14 18:17] jbrooksuk commented on #2242
Also, there is a calendar component that should be showing?

[2016-11-14 18:19] jbrooksuk commented on #2236
@Robbbbbbbbb I'm taking a look at the component group stuff and I'm unable to find what would be causing this, it's working fine here.

![](https://cldup.com/IpFtmhUew5.png)

Could you possibly email me a dump of your database to james@alt-three.com please? Don't worry, all sensitive information such as passwords is encrypted.

[2016-11-14 18:27] jbrooksuk commented on #2236
You can now supply a `<a>` tag in an Incident message.

[2016-11-14 18:27] #2236 closed

[2016-11-14 18:36] jbrooksuk commented on #2240
Fixed :)

[2016-11-14 18:37] #2240 closed

[2016-11-14 21:03] jbrooksuk commented on #2242
I've tested here and the form works when the date format is correct 👍

[2016-11-14 21:03] #2242 closed

[2016-11-14 21:34] #2035 closed

[2016-11-14 21:44] jbrooksuk commented on #2181
Although Scheduled Maintenance doesn't appear in either the Atom or RSS feed in v2.4, it will be back soon and this won't be an issue 👍

[2016-11-14 21:44] #2181 closed

[2016-11-15 03:23] biovn commented on #2237
sending data using this tool https://github.com/castawaylabs/cachet-monitor . So i don't know how they send data inside. this tool work ok with cachet 2.3.10 but not with 2.4

[2016-11-15 03:42] biovn commented on #2244
i hope too. as am not familar with php, hope other can help

[2016-11-15 11:35] biapar opened #2246 "Services Status"
It's possibile to automate changing the service status after an action like to ping or to connect to the service?

[2016-11-15 15:08] thomaschaaf opened #2247 "Limit access to components to users (access control)"
Our company has components which only some of our customers are interested in or allowed to see. Thus we need a way to limit the visibility of these components to a limited number of users.

StatusPage.IO has a feature called access control (http://blog.statuspage.io/cutting-support-costs-with-access-control).

[2016-11-15 19:06] jbrooksuk commented on #2246
Hey!

The top service status is controlled by the overall status of components. You can update a components status by using the API.

Check out the documentation at https://docs.cachethq.io

[2016-11-15 19:06] #2246 closed

[2016-11-15 19:08] jbrooksuk commented on #2247
This is something that I'd like to see implemented at some point, but it's not there yet.

In its current state, our entire control system is very basic and incomplete.

I'll take a look at the StatusPage.io post and see how we can better it :)

[2016-11-17 08:19] biapar commented on #2246
I intend from Cachet to the service

[2016-11-18 18:35] LiveChief opened #2248 "Remove Cloud flare cookies, automatically ping servers."
why does Cachet require cloudflare?

add a feature where you can automatically ping servers, (custom ports)

[2016-11-18 21:13] jbrooksuk commented on #2248
It doesn't? We just have a configuration file for handling proxying to it. Ping @GrahamCampbell.

Cachet doesn't do monitoring yet, and likely won't for the foreseeable future.

[2016-11-19 09:54] axilleas opened #2249 "Bottom menu sidebar is hidden for certain widths"
Between the widths 767-991, Cachet is not showing the bottom menu sidebar. Tested on latest master.

**934x686**

![screen shot 2016-11-19 at 10 51 45](https://cloud.githubusercontent.com/assets/340023/20454621/646bfab2-ae46-11e6-80e0-d36cdd382b6f.png)

[2016-11-21 09:31] #2248 closed

[2016-11-21 12:32] fdhex commented on #2216
@jbrooksuk Was this solved? Somehow I have a similar issue, and I see my data in settings.app_about on the database.

[2016-11-21 13:16] abioneperhobby opened #2250 "unable to remove custom header"
in some older release, i maybe set "asd" asd custom header in order to understand if header saving works or not.

some months ago, i updated cachet to the last release version 2.3.10

when i open the dashboard, i see "asd" as header.

if i try to remove the header, nothing occur.

in the screenshot you can see that i update "asd" to "asd1" and the data was posted to /settings,

but nothing changed

[2016-11-22 22:32] giubueno commented on #2107
Is someone implementing it? I've created a handler and I will use a similar structure used to send e-mails to send the SMS. I am completelly new to Laravel. Some suggestions and advices would be great.

[2016-11-25 19:29] jbrooksuk commented on #2249
Thanks for reporting!

This isn't ideal as the logout button is lost.

Assigning to @joecohens.

[2016-11-25 19:33] jbrooksuk commented on #2237
Are you able to send me a copy of your `metric_points` table at all please?

[2016-11-25 19:34] jbrooksuk commented on #2250
@abioneperhobby it looks like you need to make sure that `./bootstrap/cache{,t}/*` is writeable by your server process.

[2016-11-25 19:35] #2250 closed

[2016-11-25 20:00] axilleas commented on #2249
Yep, that's the primary reason I reported this :) Suddenly I didn't know how to logout!

[2016-11-25 20:43] jbrooksuk opened #2252 "Switch tags to a polymorphic relationship"
Currently, the tag implementation is too limited. Polymorphism will allow us to use tags on:

- Components
- Component Groups
- Incidents
- Metrics
- Schedules

And anything else we add in the future.

[2016-11-26 12:01] LKDevelopment opened #2253 "Why do you configure composer to think php is php 5.5.9?"
Hello,

i wanted to install an own package with requirements to php7 in cachet. But composer said that the system has php 5.5.9. So i started to think that this is a composer bug: https://github.com/composer/composer/issues/5905#issuecomment-263059536

What is your reason to configure composer to think on the server is php 5.5.9?

[2016-11-26 12:08] jbrooksuk commented on #2253
This is something we're dropping from v2.4 https://github.com/CachetHQ/Cachet/blob/2.4/composer.json

[2016-11-26 12:08] #2253 closed

[2016-11-27 16:41] jbrooksuk commented on #876
Further, we should add a better ACL.

[2016-11-29 08:30] abioneperhobby commented on #2250
@jbrooksuk

i run

` chmod -R 777 bootstrap/`

but nothing changed :(

[2016-11-30 03:43] supawiz6991 opened #2255 "Can't write to .env"
Trying to complete setup and I get an error "An error has occurred and this resource cannot be displayed". A review of the logs show:

[2016-11-30 03:37:15] production.ERROR: ErrorException: file_put_contents(/var/www/public_html/.env): failed to open stream: Permission denied.

I verified file permissions are good. I even tried changing them to 777 as a test but still I get the above error.

[2016-11-30 09:01] jbrooksuk commented on #2255
Your web process must have write access to your Cachet directory too.

[2016-11-30 09:01] #2255 closed

[2016-11-30 14:07] supawiz6991 commented on #2255
The web process appears to have full read/write access to .env but still I get the error. Is there anything else that could cause this?

[2016-12-01 08:43] ekandreas commented on #2226
Great! I'm using the "description" field with json-data right now. It would be great with meta fields instead :-)

[2016-12-01 09:10] jbrooksuk commented on #2255
What web server are you using?

[2016-12-01 14:13] supawiz6991 commented on #2255
Centos
Apache2

Turns out SELinux was the problem. Apparently the first time I altered its directives to allow writing to that directory it didnt take.

Re-ran the commands and all is good.

[2016-12-01 17:09] ekandreas commented on #771
Slack is very popular and Cachet should have a simple Slack integration implemented. Why not merge an external package?

[2016-12-02 15:17] jbrooksuk opened #2258 "Use combine in gulpfile.js"
`combine` should be used when we already have minified files (which we do) and should result in a smaller file size for compiled files.

[2016-12-03 20:02] #2258 closed

[2016-12-03 20:06] jbrooksuk commented on #2237
cachet-monitor must be setting the `created_at` value. I'm pretty sure there is no issue with Cachet here, but I could be wrong.

[2016-12-03 20:06] #2237 closed

[2016-12-03 20:08] jbrooksuk commented on #1896
This is now done 😄

![Screenshot](https://cldup.com/erUF_fiHRH.png)

[2016-12-03 20:08] #1896 closed

[2016-12-03 20:13] jbrooksuk commented on #2080
@gamkiller77 this shouldn't be an issue anymore :)

[2016-12-03 20:13] #2080 closed

[2016-12-03 20:15] jbrooksuk commented on #2086
Now that we're running Laravel 5.3 we can make use of Laravel Passport, which sorts this for us 💥

[2016-12-03 21:23] jbrooksuk commented on #2188
I've thought about this for a bit now.

1. When somebody signs up for notifications, they're initially created as a global subscriber (subscribed to everything), this is better than signing up to nothing as people are less likely to click more buttons afterwards.
2. Unselect is a thing now.
3. Groups are done :)

[2016-12-03 21:23] #2188 closed

[2016-12-03 23:16] jbrooksuk commented on #2244
I'll do this by adding an option for visibility as we do other bits.

Still need a better ACL...

[2016-12-04 01:21] haynes11 opened #2260 "Can't add subscribers on new install - internal server error"
Hello,

I've recently put cachet on a new vps. Set everything up as usual and all working fine. Apart from getting the usual "Houston internal server error" page you get if you get an error with Cachet.

It happened when I tried to add new subscribers.

Upon looking at the log it moans about my mailserver being denied access, but the credentials are correct I'm sure! I've tested the credentials ju

[2016-12-04 07:37] m1guelpf commented on #2244
If you point me to a page that already has this function, I will try.

[2016-12-04 16:11] jbrooksuk commented on #2244
Component Groups can be hidden, so follow this code :)

[2016-12-04 16:17] jbrooksuk commented on #2260
Have you got encryption on your mail server?

I'm closing this issue as it's *very* likely not a Cachet bug, but I'm happy to help fix it :)

[2016-12-04 16:17] #2260 closed

[2016-12-04 16:54] jbrooksuk commented on #2244
I've done this :)

[2016-12-04 16:55] #2244 closed

[2016-12-04 17:29] jbrooksuk commented on #2051
Okay, so there won't be a new status specifically for this, instead the component status will be changed to say "Under maintenance" or whatever we decide on 👍

[2016-12-04 17:30] jbrooksuk commented on #1966
Closing this issue, but leaving the PR open 👍

[2016-12-04 17:30] #1966 closed

[2016-12-04 17:49] #1994 closed

[2016-12-04 17:50] jbrooksuk commented on #2051
All we need is a way of selecting affected components in the dashboard now.

[2016-12-04 17:51] jbrooksuk commented on #2201
@tmatthaeus sorry for the delay in this one. Looking at the code, if you supply `null` components, then the subscriber will be subscribed globally 👍

[2016-12-04 17:51] #2201 closed

[2016-12-04 17:54] jbrooksuk commented on #1685
This is done by the way! You specify the `components` array with ID's of components. https://docs.cachethq.io/docs/subscribers

[2016-12-04 17:54] #1685 closed

[2016-12-04 17:55] jbrooksuk commented on #1500
@joecohens this is why we need flex box in the new design 😉

[2016-12-04 18:02] jbrooksuk commented on #1786
This is a job I'll get done this week :)

[2016-12-05 18:46] jbrooksuk commented on #2241
Ping @CachetHQ/core and @ConnorVG for thoughts on this.

[2016-12-05 18:48] jbrooksuk commented on #2226
If we (or somebody) does this, I'd also like to see the same thing applied to Incidents. I reckon that'd be very useful!

[2016-12-05 19:12] #2226 closed

[2016-12-07 14:05] abioneperhobby opened #2264 "improvement - handle timeout request"
my cachet application store a metric point every 30 seconds every time every days.

after some months, the GET of data (http://host/metrics/1?filter=last_hour) goes in timeout ( 60s ) but user connected to interface cannot understand what is going on. the metrics still empty and white.

in my case, now i will try to drop some stored data. i don't need those anymore.

[2016-12-07 19:26] jbrooksuk commented on #2264
The way we calculate metrics in v2.4 has been rewritten, which should result in faster calculation times for you.

However, if you could email me a dump of your `metric_points` table, I'd like to test that this is indeed the case for larger data gatherers :)

[2016-12-07 19:26] #2264 closed

[2016-12-08 23:10] jbrooksuk commented on #771
We'd like to have a native notification system rather than hacking something else in.

[2016-12-08 23:10] jbrooksuk commented on #2255
✨

[2016-12-09 05:59] ekandreas commented on #771
And you are not ok with the not.sys in Laravel?

[2016-12-09 08:03] jbrooksuk commented on #771
That's the one we'll be implementing 👍

[2016-12-10 21:04] GhostCyborg opened #2267 "500 Error Everywhere"
Before submitting your issue, please make sure that you've checked the checkboxes below.
- [x]  I am running the latest release version of Cachet.
- [x]  I am running at least PHP 5.5.9. You can check this by running php -v.
- [x] I have ran #rm -rf bootstrap/cache/*.
## Expected Behavior
Normal Cachet dashboard and Status page
## Actual Behavior
I get a 500 error, happened after setup
## Log (/va

[2016-12-10 21:24] jbrooksuk commented on #2267
You've set one or more of your drivers to `apc` but it looks like you don't have the APC extension installed. You have two options:

1. Install APC.
2. Use a different cache/session driver

Good luck!

[2016-12-10 21:24] #2267 closed

[2016-12-10 21:27] GhostCyborg commented on #2267
Could you give me a walkthrough or link me to a website which might help me? Cause I don't quite understand what I have to do..

[2016-12-10 22:28] jbrooksuk commented on #2267
🚀

[2016-12-12 03:56] spiral6 opened #2268 "Can't install Cachet on nginx, Raspberry Pi 3"
I'm running Raspbian on Raspberry Pi 3, with nginx, MySQL, and PHP5 installed.

I can't install Cachet on nginx, because everytime I go to http://localhost/Cachet/public, the server redirects to http://localhost/Cachet/public/setup with a 404 error.

My cachet.conf host file looks like this:

[code]

[2016-12-13 00:32] moodhairboy opened #2269 "moving a Cachet docker Image"
What is the best practice to move a cachetHQ docker image from one server to another and preserving the data?  I am running cachetHQ in a docker container on my macbook - but I have a production centos server that I want to move the docker container to.  I do not want to lose all of my data in the process.  Is there another tool other than Flocker or is there a how to guide available for a relativ

[2016-12-13 03:24] haynes11 commented on #2260
Test

[2016-12-13 03:25] haynes11 commented on #2260
How do I make it send just using the virtual machine it's installed on rather than having to specify my mailserver on another server? I e-mailed you about this but never received a reply and would very much like to get this working!

[2016-12-13 20:42] moodhairboy commented on #2269
moving the ? to cachet docker section of github

[2016-12-13 20:42] #2269 closed

[2016-12-14 18:41] jacoblw commented on #2268
what does your NGINX error log say?

[2016-12-15 10:23] jbrooksuk commented on #2268
Cachet should be installed on a sub-domain.

[2016-12-15 10:23] #2268 closed

[2016-12-15 14:37] abioneperhobby commented on #2264
@jbrooksuk i deleted the metric by dashboard, but the metric point stay stored in the metric_points table. (is this a bug?)
anyway, the deleted metric had 213287 points

[2016-12-15 20:01] jbrooksuk commented on #2264
Hmm, metric points should be removed when you remove a metric - I'll check that.

Wow, okay.

[2016-12-19 00:13] heticor915 opened #2272 "Unable to install Cachet v2.3.10"
Hi Everybody,

I was trying to install this app; until version **v2.2.2** it was working like a charm, but due to some changes in our infrastructure we were updating old services like our status page we're using **_v2.3.10_** and the procedure used to install the app was the same founded [here](https://docs.cachethq.io/docs/installing-cachet), our **_.env_** file contains the following configurati

[2016-12-19 12:45] phy25 commented on #2272
Seems like duplicate as #1997. For me using SQLite and PHP 7.0 Windows, under 2.3.10 / 2.4.0-dev, installing db fails.

[Illuminate\Database\QueryException]
SQLSTATE[HY000]: General error: 17 database schema has changed (SQL: create
 table "cachet_component_groups" ("id" integer not null primary key autoinc
rement, "name" varchar not null, "created_at" datetime null, "updated_at" d
atetime null))

[2016-12-19 13:09] devprofession opened #2273 "Send notification when updating an incident"
Notification email will be send, if a new incident has been created.
Currently is not possible to send notification email, when an incident has been updated.

[2016-12-19 21:11] jetie opened #2274 "uploading images to incidents"
Would it be possible to upload images into incidents?

Not seeing this functionality today.

Thanks!

[2016-12-19 23:39] GrahamCampbell commented on #2274
It's not possible to upload images to Cachet, however it's certainly possible to use images if you host them yourself, or drop them into Cachet's "public" folder, for example, then include them using markdown syntax.

[2016-12-20 00:43] heticor915 commented on #2272
I was checking #1997 @phy25  but if I just run  `php artisan migrate` I get  the same error. I was testing the same exact steps to install v2.2.2 and it works, but with this new version even if I try to update didn't work.

[2016-12-20 00:47] GrahamCampbell commented on #2272
SQLite is unfortunately a bit rubbish. Please try with a real database. :)

[2016-12-20 00:51] heticor915 commented on #2272
We were thinking to move to postgres, can you @GrahamCampbell  confirm if this .env is correct  asuming that we're goint to use postgres :

APP_ENV=production
APP_DEBUG=false
APP_URL=http://status.sample.com
APP_KEY=
DB_DRIVER=**postgres**
DB_HOST=localhost
DB_DATABASE=cachetdb
DB_USERNAME=cachet
DB_PASSWORD=secret
DB_PORT=null
DB_PREFIX=null
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

[2016-12-20 00:55] GrahamCampbell commented on #2272
No, the driver name is pgsql. :)

[2016-12-20 00:55] GrahamCampbell commented on #2272
https://github.com/CachetHQ/Cachet/blob/2.4/config/database.php#L78

[2016-12-20 01:01] heticor915 commented on #2272
Thank you @GrahamCampbell  After checking seems that the best option is move to another database.
I'm closing this.

[2016-12-20 01:01] #2272 closed

[2016-12-20 01:34] phy25 commented on #2272
Maybe we can print a warning message to console when installing with SQLite? I used that because the docs mentioned SQLite.

[2016-12-20 08:21] jbrooksuk commented on #2272
Cachet _should_ install with SQLite since that's what we use when running the tests. I don't know what had happened to @heticor915's database by the point he went to upgrade, did you do any manual modifications?

[2016-12-20 08:22] jbrooksuk commented on #2274
@GrahamCampbell @joecohens this would be pretty cool though! GitHub style uploads?

[2016-12-20 09:50] GrahamCampbell commented on #2274
Would be cool, but not something we support right now. I was just suggesting a workaround for now. :D

[2016-12-20 15:09] karaktaka opened #2277 "Not able to reorder components in latest version"
It seems there is a new required field called meta which is not filled and therefore not given when reordering components.
Currently we're unable to reorder any components. Even after a clean install this behaviour is not changed.

[2016-12-20 15:04:29] production.ERROR: ErrorException: Missing argument 9 for CachetHQ\Cachet\Bus\Commands\Component\UpdateComponentCommand::__construct(), called in /

[2016-12-20 15:37] heticor915 commented on #2272
@jbrooksuk No, the .env file is the same mentioned before, I was thinking to mention the part of the drivers and what's the best alternative in cachet in the official documentation

[2016-12-22 10:21] jbrooksuk commented on #2272
Postgres or MySQL 👍

[2016-12-22 14:38] karaktaka opened #2279 "User not getting verified"
In the latest version nothing happens if you click on the verify link in the received email after subscribing.
There is also no error logged.

Maybe this commit is responsible for this?
https://github.com/CachetHQ/Cachet/commit/47eb5f7c8f427aee270ce2ba493adce408895694

[2016-12-23 10:13] shaun-ba commented on #2005
Why is the documentation so outdated? Its taken me a good number of hours and i'm still not up and running, also experiencing this redirect.

[2016-12-23 10:45] shaun-ba commented on #610
This would be far better for sure, the installation process was quite painful!

[2016-12-23 11:23] jbrooksuk commented on #610
What did you struggle with? At what point did the docs let you down at?

[2016-12-23 12:00] jbrooksuk commented on #2005
@shaun-ba what version are you using?

[2016-12-23 12:08] mkok1019 opened #2280 "You don't have permission to access / on this server."
I installed cachet on my local, OSX.

I installed PHP5.5.29, MYSQL, and APACHE.

I am getting this error after db migration.
http://localhost/

Forbidden
You don't have permission to access / on this server.

@jbrooksuk, @GrahamCampbell, @joecohens Can you please let me know how to fix? Thanks.

[2016-12-23 12:11] mkok1019 commented on #2280
By the way, I've tried this, but no help.

[code]

[2016-12-23 12:24] mkok1019 commented on #2280
I just added the virtualhost to apache httpd.conf file,  so the above issue disappeared but the page is not loading. Could you please check this screenshot?

![screen shot 2016-12-23 at 1 22 42 pm](https://cloud.githubusercontent.com/assets/12889588/21453792/1ebfdde8-c913-11e6-974a-f89f74f5e145.png)

[2016-12-23 12:49] GrahamCampbell commented on #2280
Sorry, but we don't provide setup support for Cachet. We do offer a professional install service though. You can contact us at support@alt-three.com for more information.

[2016-12-23 12:49] #2280 closed

[2016-12-23 13:35] jbrooksuk commented on #2279
Fixed! Thanks for catching his.

[2016-12-23 13:35] #2279 closed

[2016-12-23 16:22] heticor915 commented on #2272
postgres, and change the version in the [documentation ](https://docs.cachethq.io/docs/installing-cachet) from v2.1.0 to the most stable version(v2.3.9). I would like to say Thank you because the site is up and running after a long fight :smile:

[2016-12-26 12:25] jbrooksuk commented on #2277
Fixed :)

[2016-12-26 12:25] #2277 closed

[2016-12-26 12:26] jbrooksuk commented on #2273
This is something that's being planned in v2.4 :)

[2016-12-26 12:26] #2273 closed

[2016-12-27 17:45] shaun-ba opened #2282 "Metrics Re-ordering?"
I would like to place my metric ID 5 above others, like there is sorting in components, can you add this ability to metrics too?

[2016-12-27 19:36] fcpwiz opened #2283 "CSS and JS 404ing"
About a week ago my [status page](https://status.fluxxmc.com) stopped displaying its CSS and JS files.

I checked and those files are in fact there in the Cachet install, but are 404ing for some reason.

<img width="1437" alt="screen shot 2016-12-27 at 11 35 41 am" src="https://cloud.githubusercontent.com/assets/2921172/21506890/9e889138-cc28-11e6-8b5c-27acc1adf545.png">

<img width="1433" alt="sc

[2016-12-27 19:41] GrahamCampbell commented on #2283
I can't replicate that here.

[2016-12-27 19:41] #2283 closed

[2016-12-27 19:43] fcpwiz commented on #2283
Do you have any suggestions to what could possibly be doing this? @GrahamCampbell

[2016-12-27 19:44] GrahamCampbell commented on #2283
Since we installed Cachet for you, I've replied to your ticket on the private support system. :)

[2016-12-28 08:21] Hunterm267 commented on #2051
Really looking forward to custom status names, hope that feature can be included in a v2.4 release potentially as well as originally mentioned!

[2016-12-28 23:35] ImFlushy opened #2284 "Error 500: Internal Server Error"
LIVE VERSION: http://status.ssolutiongaming.com/

Hello Developers,
I'm new to CachetHQ and i really like the design and the idea behind it!
Anyway, I'm running into problems stated above.
Sadly, I don't know how to check any logs. I have followed the documentations given in other threads.
I would be very happy if you could help me, thanks :) :+1:

[2016-12-28 23:37] GrahamCampbell commented on #2284
The logs are found in the storage/logs folder.

[2016-12-28 23:41] ImFlushy commented on #2284
Gosh... Log is 1800 lines long.

Here's the last part:
`[2016-12-28 23:39:18] production.ERROR: exception 'RuntimeException' with message 'No supported encrypter found. The cipher and / or key length are invalid.' in /var/www/Cachet/vendor/laravel/framework/src/Illuminate/Encryption/EncryptionServiceProvider.php:45
Stack trace:
#0 /var/www/Cachet/vendor/laravel/framework/src/Illuminate/Encryption/

[2016-12-29 00:19] GrahamCampbell commented on #2284
Looks like you didn't run the install process correctly.

[2016-12-29 00:20] GrahamCampbell commented on #2284
Make sure there's an encryption key set in the `.env` file (not `.env.example`), and then run `php artisan app:update`.

[2016-12-29 00:21] GrahamCampbell commented on #2284
If you're not able to get it working, we do offer a paid installation service. You can reach us at support@alt-three.com. :)

[2016-12-29 00:21] #2284 closed

[2016-12-29 03:02] CosmicPuppy commented on #1009
+1

[2016-12-29 03:07] CosmicPuppy commented on #2107
Just wanted to chirp in that perhaps integration with a **_REST-API based notification service_** might be a suitable SMS alternative in some situations; or, at worst, an _additional_ feature request.

**Examples:**
- Pushover: https://pushover.net/
- Pushbullet
- Prometheus Alert Manager: https://prometheus.io/docs/alerting/alertmanager/

[2016-12-29 11:46] jbrooksuk commented on #2241
Technically, this isn't a bug, I just don't know how to account for previous incidents. We can't change the status on them all because people create multiple incidents.

[2016-12-30 13:58] ImFlushy opened #2285 "Mailing (with Mailgun) is not working"
Hello,
I'd like to work with the subscribing to events.

These are my settings.
`MAIL_DRIVER=mailgun
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=mydomain
MAIL_PASSWORD=key-xxxxxxxxxxxxxxxxxxxxxxx
MAIL_ADDRESS=downtime@mydomain.eu
MAIL_NAME="New Downtime"
MAIL_ENCRYPTION=tls`

From the docs [found here](https://docs.cachethq.io/docs/configuring-mail), I'm not fully understanding what to

[2016-12-30 19:05] jbrooksuk opened #2286 "Proposal to remove per-component subscriptions"
In reference to https://twitter.com/cachethq/status/814868830522667008 this is a proposal to remove the per-component subscriptions. Removing of per-component subscriptions will:

1. Tidy up the subscription implementations
2. Allow us to switch to a new notification system I've been working on https://twitter.com/cachethq/status/814546709065961472 - this system supports Mail, Nexmo (SMS) and Slac

[2016-12-31 15:41] mm-manageit commented on #2286
I would vote against removing the per component subscriptions. The end users are the most important users of a status page, and they will opt-out and not use it, if they are forced to be sent notifications for components they don't care about.

[2017-01-01 22:34] KeiroD commented on #2285
Hi,

The username details are to be taken from the SMTP credentials screen in Mailgun. I understood what the documentation was telling me to get the details from.

See #1174 and #2095

[2017-01-02 11:47] ImFlushy commented on #2285
Hi,
i retried it with #1174 and #2095, but still had no success.

The following is my mail-part of .env:

    MAIL_DRIVER=mailgun
    MAILGUN_DOMAIN=example.com
    MAILGUN_SECRET=<Secret API-Key from https://mailgun.com/app/dashboard>
    MAIL_HOST=smtp.mailgun.org
    MAIL_PORT=587
    MAIL_USERNAME=status@example.com
    MAIL_PASSWORD=<SMTP Creditional Password from https://mailgun.com/app/doma

[2017-01-02 11:55] ImFlushy commented on #2051
You can rename your status-names in /resources/lang/YOUR-LANGUAGE/cachet.php in line 17-20.

[2017-01-02 14:14] jbrooksuk commented on #2285
@ImFlushy there should be no reason for Mailgun to not work :)

One thing, do you have the `\`` in your `.env` file on the `MAIL_ENCRYPTION` line?

[2017-01-02 14:14] jbrooksuk commented on #2285
Closing this issue as it's not a bug, but we'll help.

[2017-01-02 14:14] #2285 closed

[2017-01-02 14:16] #1922 closed

[2017-01-02 14:19] ImFlushy commented on #2285
@jbrooksuk No, that was just a mistake when i was trying to figure out how to insert code properly (changed my comment now).

Would be very happy if we could resolve my problem :100:

[2017-01-02 14:30] jbrooksuk commented on #2285
Can you email support@alt-three.com please.

[2017-01-02 14:33] ImFlushy commented on #2285
Done so, @jbrooksuk.

[2017-01-02 20:50] JustMaffie opened #2292 "Dashboard"
Hey, I just installed Cachet on my status page: https://status.justmaffie.nl
But when I go into the dashboard, I don't think all the features are there, why is this?

- JustMaffie

[2017-01-02 20:53] JustMaffie commented on #2292
When I go to https://status.justmaffie.nl/dashboard/settings it gives me error 405 method not allowed.

[2017-01-02 21:06] GrahamCampbell commented on #2292
Looks correct? The correct URL for the setting page is  https://status.justmaffie.nl/dashboard/settings/setup. (setup is the name of the first tab on the settings page).

[2017-01-02 21:08] JustMaffie commented on #2292
Ok, but its not in the side navigation bar.

[2017-01-02 21:09] GrahamCampbell commented on #2292
What version please. The current 2.3 branch works fine for me (or the very latest v2.3.10 tag)? That's the version I'd recommend installing for now. The master is still not ready for release.

[2017-01-02 21:10] JustMaffie commented on #2292
2.10

[2017-01-02 21:18] JustMaffie commented on #2292
Updating to the latest version as we speak.

[2017-01-02 21:35] JustMaffie commented on #2292
Got it fixed.

[2017-01-02 21:35] #2292 closed

[2017-01-02 22:50] jbrooksuk commented on #2292
👍🏻

[2017-01-03 14:25] jbrooksuk commented on #2286
Okay, so the Twitter poll concluded (closely) that we won't be removing it. This does mean that we'll need a better way of handling per-component subscriptions.

[2017-01-03 14:25] #2286 closed

[2017-01-03 14:43] MikeKMiller opened #2293 "Subscription Management Proposal"
In response to the recent proposal to remove per component subscriptions, and subsequent vote against it.   The need still remains to simplify the subscription handling.

I am proposing the following:

1. Add a column to the 'subscriptions' table, named 'type', which will be future filled with the type (email, sms, slack, twitter, facebook, etc..)

2.  Add a table named 'subscription_notifications

[2017-01-03 14:47] jbrooksuk commented on #2293
In regards to step 3, how would people manage notifications from say SMS where lack of size means ideally we can't send two URLs to the incident and unsubscribe.

[2017-01-03 14:48] jbrooksuk commented on #2293
Maybe for SMS we send an initial text that says you can visit this link to unsubscribe? We can simplify the unsub link to `/notifications/{code}/unsubscribe`?

[2017-01-03 14:48] mm-manageit commented on #2293
Just use a (Reply Stop) to unsubscribe, or an initial link with the subscription

[2017-01-03 14:50] jbrooksuk commented on #2293
Replying isn't something we could simply integrate into a self-hosted version as you'd have to integrate with the SMS provider. In a SaaS version that would be 👌

[2017-01-03 14:52] mm-manageit commented on #2293
Hmmm, well if someone is integrating with Nexmo, Twilio, etc.. they will have to have an account with it, and for either, you would just have setup the callback URL for when a SMS is received, could be something that a simple tutorial could cover.

[2017-01-03 15:03] jbrooksuk commented on #2100
Unless @billmn still fancies taking this one, I feel I'm going to close it. It's a bit confusing for people.

[2017-01-03 15:03] #2100 closed

[2017-01-03 15:05] jbrooksuk commented on #2107
I'm working on this :+1:

[2017-01-03 15:05] mm-manageit commented on #2293
Then in the code:
if(strtolower($sms_content) == 'stop'){
// Find DB row in 'subscribers' where number equals sender number for the ID
//  Find in 'subscriptions' all the subscriptions, if just one, remove them, otherwise send link to management page.
(i.e.. "We noticed you are subscribed to multiple items, click the link to manage subscriptions : {link} )
}

On the Subscrition Management Page, ma

[2017-01-03 15:06] jbrooksuk commented on #2107
Since we're using Laravel 5.3, we're now making use of the new Notification system which makes these really simple to start integrating :)

[2017-01-03 15:06] mm-manageit commented on #2107
If I can be of assistance, let me know.

[2017-01-03 15:18] jbrooksuk commented on #1009
Along with the new notification system, your theme colours will transfer across to the email template. Aside from that, you'll need to go into Cachet's code to customise it 👍

[2017-01-03 15:18] #1009 closed

[2017-01-03 15:23] mm-manageit commented on #2107
One thing I would recommend, especially if we can integrate SMS reply handling, as one of the first SMS messages to a new SMS subscriber. Send a message like the following: "Reply with your email to be able to manage Email and SMS subscritions together", then you can add the phone number to the profile for the email if it already exists.

[2017-01-03 15:28] stipx commented on #2051
But I do not want to rename the status. I would like to have another one. The current states with "Operational", "Performance Issues", "Partial Outage" and "Major Outage" are all in use.

[2017-01-03 18:30] jbrooksuk commented on #2051
Adding a new status is a little harder because we have validation in place.

[2017-01-03 19:20] AleksejsC opened #2294 "No Subscribe button"
Hi,
I have deployed version 2.3.10 on Ubuntu 16.04. Set up mailgun account and checked that emails are working buy inviting team member in dashboard. "Allow people to signup to email notifications?" is set, but still no "Subscribe" button.
Thank you!

[2017-01-03 19:20] jbrooksuk commented on #2294
Try running `rm -rf bootstrap/cache{,t}/*`.

[2017-01-03 19:27] AleksejsC commented on #2294
thank you for fast response. But it still does not work.

[2017-01-03 19:29] jbrooksuk commented on #2294
Can you share your `.env` `MAIL_*` settings please (remember to obscure the password).

[2017-01-03 19:34] AleksejsC commented on #2294
MAIL_DRIVER=mailgun
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=sandbox558e795cc6014a31a44ba72a77bda4a5.mailgun.org
MAIL_PASSWORD=key-6be*****************************
MAIL_ADDRESS=postmaster@sandbox558e795cc6014a31a44ba72a77bda4a5.mailgun.org
MAIL_NAME=null
MAIL_ENCRYPTION=tls

As I said it just works fine for team member invitation.

[2017-01-03 19:37] jbrooksuk commented on #2294
`MAIL_FROM` has to be set for subscribers to be enabled 👍

[2017-01-03 19:37] #2294 closed

[2017-01-03 19:42] jbrooksuk opened #2296 "Resolve incident button"
We need a quick way to resolve incidents, perhaps a button on the incidents page that says "Resolve". Maybe the dashboard index shows a list of unresolved incidents?

[2017-01-03 19:43] AleksejsC commented on #2294
Thank you! just set MAIL_NAME and it works!

[2017-01-03 19:45] jbrooksuk commented on #2294
In v2.4 I think we'll default this value to `notify@APP_URL`.

[2017-01-03 19:46] jbrooksuk opened #2297 "Default MAIL_FROM setting"
We should default the `MAIL_FROM` setting to `notify@APP_URL` or similar.

[2017-01-03 19:50] #2297 closed

[2017-01-03 19:53] jbrooksuk commented on #2297
I've applied this to the name too.

[2017-01-03 19:57] AleksejsC commented on #2296
would be great if it also could send notifications to subscribers that incident is now resolved.

[2017-01-03 21:54] jbrooksuk commented on #2296
Yep! This will happen automatically :)

[2017-01-04 09:44] eladbitton opened #2298 "Subscribers not recieving verification mail"
Hi.

I installed cachet on ubuntu 14.04 and my subscribers does not receive any verification mail(including me).

My current mail config:
[code]

Tried many variations of this configuration and still no mail is sending out of the system.

On my laravel logs this may be related:
[code]
Saw other issues of this problem and nothing worked for me.

What can i do?

[2017-01-04 14:15] jacoblw commented on #2298
@eladbitton for `MAIL_PASSWORD` are you using your Mailgun password or the API key (from https://mailgun.com/app/domains/${your_domain})?

[2017-01-04 14:35] jbrooksuk commented on #2298
What is `QUEUE_DRIVER` set to? https://docs.cachethq.io/docs/configuring-the-queue

[2017-01-04 14:35] #2298 closed

[2017-01-04 15:43] eladbitton commented on #2298
QUEUE_DRIVER is set to database. also tried sync and it didn't work. MAIL_PASSWORD is set to the api key. Any other suggestions?

[2017-01-04 16:07] eladbitton commented on #2298
Also when i am trying to run:
`sudo php artisan app:update`
I get this error:
[code]

[2017-01-04 16:25] GrahamCampbell commented on #2298
The error is self explanatory is it not? You've not installed the pdo extension for mysql, so PDO is telling you it doesn't have that driver.

[2017-01-04 16:55] eladbitton commented on #2298
Ye i wrote that it is now fixed. Right now what i am seeing in my laravel log:
`[2017-01-04 16:55:02] production.ERROR: PDOException: could not find driver in /var/www/Cachet/vendor/laravel/fr
amework/src/Illuminate/Database/Connectors/Connector.php:55`

Any suggestions?

[2017-01-04 16:55] GrahamCampbell commented on #2298
That is the same error.

[2017-01-04 17:32] MatthewSH commented on #2274
This could easily be done with the storage with the incident id and a random name for the image name.
This could easily be displayed with a lightbox style system on the main pages or as a separate page for the incident.

Example URL: `https://cachet.example.com/storage/incidents/1/hTdf.png`

Thoughts about something like this?

[2017-01-04 17:36] MatthewSH commented on #2296
Would also be nice to have an automatic edit to the issue to add a section like....
[code]

The button can easily be added to the incidents view.

[2017-01-04 17:52] eladbitton commented on #2298
PDO is installed and enabled.
When I am running `php -i | grep PDO`
This is why i am getting:
`PDO
PDO support => enabled
PDO drivers => mysql, sqlite
PDO Driver for MySQL => enabled
PDO Driver for SQLite 3.x => enabled`

[2017-01-04 18:32] #109 closed

[2017-01-04 18:33] jbrooksuk commented on #109
Thinking about it, upgrading Cachet should be:

[code]

[2017-01-04 18:33] jbrooksuk commented on #236
After considering the direction I want to take Cachet in, this doesn't really fit in.

[2017-01-04 18:33] #236 closed

[2017-01-04 18:33] jbrooksuk commented on #496
Closing this as it'll be part of https://github.com/CachetHQ/Cachet/issues/2086

[2017-01-04 18:33] #496 closed

[2017-01-04 18:34] jbrooksuk commented on #1324
We provide a [Docker](https://github.com/CachetHQ/Docker) repo. AWS AMI is something we have no experience with or time to allocate to it.

If someone makes one, please do get in touch; james@alt-three.com

[2017-01-04 18:34] #1324 closed

[2017-01-04 18:35] jbrooksuk commented on #1427
For the majority of cases, Component Groups are enough by themselves. This isn't something that we will be implementing, but we'd accept from a third-party.

[2017-01-04 18:35] #1427 closed

[2017-01-04 18:35] #1500 closed

[2017-01-04 18:35] jbrooksuk commented on #1740
New notification system handles this.

[2017-01-04 18:35] #1740 closed

[2017-01-04 18:35] jbrooksuk commented on #1786
Mostly done!

[2017-01-04 18:35] #1786 closed

[2017-01-04 18:36] #1814 closed

[2017-01-04 18:36] jbrooksuk commented on #2108
We'd accept a PR for this, but we don't have the time to allocate to it I'm afraid.

[2017-01-04 18:36] #2241 closed

[2017-01-04 21:34] #1023 closed

[2017-01-04 21:34] #2107 closed

[2017-01-05 12:55] karaktaka opened #2299 "Mails not translated"
Since the latest commit, Mails are not being translated and are always send in english.

It also does affect every languages as it doesn't matter which language I switch to.

[2017-01-05 14:44] karaktaka commented on #2299
I use the main branch 2.4.
It worked before, so I'm not sure if this is related to laravel or did you updated it aswell?

[2017-01-05 14:56] karaktaka commented on #2299
Maybe this happens, because you moved away from the custom mail templating and using laravals notifications instead?

[2017-01-05 15:48] AleksejsC opened #2300 "Incident Update email no incident name in content"
Version 2.4.
I believe in app/Notifications/IncidentUpdate/IncidentUpdatedNotification.php line 73 should be
'name' => $this->update->incident->name,
not
'name' => $this->update->name,

Otherwise no incident name is in email content (greeting is ok).

[2017-01-05 15:55] karaktaka commented on #2299
Nevermind. I just found out, that the file ressources/lang/de/nofitifactions.php is missing or not yet created.
I'm creating one know and testing it in my installation.

[2017-01-05 19:18] jbrooksuk commented on #2299
It's a new file.

Please note that you are on the dev build. Translations come later.

[2017-01-05 19:18] #2299 closed

[2017-01-05 19:20] #2300 closed

[2017-01-06 12:17] absolutejam opened #2302 "Rename some terms via. admin console"
Hey guys,

I love the project and I've been using it internally for our IT network status, and we're hoping to make a push to use it as our primary method of updating staff and students.

As I've been using CachetHQ, it struck me that the system would be great for non-technical news too. I realise this is likelyway outside the scope and desires of the project, but I wondered if there was potential

[2017-01-06 12:46] ConnorVG commented on #2302
To be fair, when it comes to just the 'names', as it where, you could always just provide a custom translation?

[2017-01-06 13:46] absolutejam commented on #2302
Oh, I hadn't even considered this. That sounds like a fine option for me - Is there some documentation on getting started with the translations?

[2017-01-06 18:59] jbrooksuk commented on #2302
I've never thought about it but I could see Cachet being used for non-technical updates however, it's not and likely won't be within the remit of this project.

That said, you could easily update the language files and rename Incident to News for example.

[2017-01-06 18:59] #2302 closed

[2017-01-06 18:59] jbrooksuk commented on #2302
That was weird, GitHub didn't update to show @ConnorVG or @absolutejam's comments.

[2017-01-06 19:27] jbrooksuk opened #2303 "Separate notifications translations into services"
Something I've thought about since pushing the notifications is that the translation strings need to be more granular per-service. It doesn't always make sense to use the same text for Slack as it does SMS.

[2017-01-09 15:47] zobelhelas opened #2304 "Feature request: End time for Maintenance"
Currently one is asked to set **_When to schedule the maintenance for?_**, which I would consider a time window rather then a start time. It would be very handy for me if i would be able to either set a time window or an additional end time.

[2017-01-09 18:47] jbrooksuk commented on #2304
Does it help that we now have a completion time in v2.4?

![](https://cldup.com/nNl07NHKja.png)

[2017-01-09 18:48] jbrooksuk commented on #2046
Pushing this back 👍

[2017-01-09 18:56] #2303 closed

[2017-01-09 19:30] zobelhelas commented on #2304
yes! :thumbsup:

Sorry, i am running on latest stable tag, which is 2.3.10 so i didn't see that feature....

[2017-01-09 19:30] #2304 closed

[2017-01-09 20:16] jbrooksuk commented on #2304
That's okay. v2.4 is still in development, I wouldn't advise switching.

[2017-01-10 03:18] lukepolo opened #2306 "Email Issue"
I am able to send email like so :

[code]

but when using the invite other team works, nothing goes out.  any idea whats going on?

[2017-01-10 03:21] #2306 closed

[2017-01-10 03:21] lukepolo commented on #2306
Queue driver is the database apparently

[2017-01-10 04:54] imbushuo commented on #356
Just tried to add [OpenID Connect](https://github.com/imbushuo/Cachet/tree/federated2.4) (similar to OAuth2) to Cachet. Currently it only works with Azure AD (because it depends on specific attributes like User Principal Name in order to distinguish users).

It doesn't break the current user system - I just extended several attributes to the user table. If registered user with the same user princi

[2017-01-10 08:07] jbrooksuk commented on #2306
👍🏻

[2017-01-10 12:49] max-l-weaver opened #2307 "Laravel key length issues in Cachet 2.3.9"
Hi,

OS: Ubuntu 16.04
php version: 7.1.0

I am getting a persistent error with Laravel.

Here is the latest entry in `storage/logs/laravel-2017-01-10.log`

`[2017-01-10 12:42:41] production.ERROR: RuntimeException: The only supported ciphers are AES-128-CBC and AES-256-CBC with the correct key lengths. in /var/www/Cachet/bootstrap/cache/compiled.php:13496
Stack trace:
#0 /var/www/Cachet/bootstrap/

[2017-01-10 13:00] max-l-weaver commented on #2307
update: Just tried re-installing with php7.0 and it worked fine, so guessing no compatibility with 7.1

[2017-01-10 16:36] Bluscream opened #2308 "Live status by ping, etc."
Why would you have to report outages manually?

[2017-01-10 19:01] jbrooksuk commented on #2308
Why wouldn't you? Not all outages can be monitored.

[2017-01-10 19:01] #2308 closed

[2017-01-10 19:03] jbrooksuk commented on #2307
Ping @GrahamCampbell

[2017-01-10 19:03] #2307 closed

[2017-01-10 19:23] GrahamCampbell commented on #2308
You don't "have" to, if that was the question. :)

You can do it through the web interface if you want, but you can also programmatically report issues to cachet from your monitoring software using our API.

[2017-01-10 19:40] Bluscream commented on #2308
No I was talking about example scenario:

- I want to monitor google.com so I add it to the components
- it pings google.com every minute and when the response is "connection timed out" it automatically shows it as outage

[2017-01-10 19:51] jbrooksuk commented on #2308
Oh, in which case there are several integrations you can find here https://docs.cachethq.io/docs/addons

[2017-01-10 21:06] Bluscream commented on #2308
Now we're talking. Thanks :)

[2017-01-14 21:39] matematrix opened #2309 "Installation/Setup not working"
I followed the setup manual on your website, and I got no errors.
But when I want to open /cachet/setup in my web browser, I get an 404 error, and when I look for the directory via FTP, it is indeed missing.

I hope that you can help me, thanks in advance.

[2017-01-15 00:07] pjmayhew opened #2310 "Documentation consistency - pre-requisites"
In the official documentation (website):

you list---

APC or Redis for caching.  --- as a pre-requisite. Here your Readme doesn't reference it? Should it?

Is this component needed or not?

[2017-01-15 06:48] wfjsw opened #2311 "Automatically download and integrate translations from Crowdin"
The translation progress seems much too slow than release. Currently, the translation files are locked-down on release. However the translation progress may not completed so it is difficult for end user to get a fully localized one.
So I would like to request a feature that with Crowdin's API, translated files can be updated on install or upon user request. New translations with fixes therefore ca

[2017-01-15 11:56] jbrooksuk commented on #2309
You shouldn't be installing Cachet under a sub-directory. Assuming you're using Apache, you need to be setting a VHOST.

We offer a professional support service that you can use by emailing support@alt-three.com

[2017-01-15 11:56] #2309 closed

[2017-01-15 11:58] jbrooksuk commented on #2310
It's either or, but you don't need to use them as you could use `array` or `file` without needing an extension.

[2017-01-15 11:58] #2310 closed

[2017-01-15 11:59] GrahamCampbell commented on #2309
Yeh, that's not how routing works.

[2017-01-15 12:02] jbrooksuk commented on #2311
This would be _very_ nice, but before we can do that we'd likely need to move the translations into the database or have a system for linking them back up as after upgrading Cachet, you'll have lost those files.

[2017-01-15 15:44] pjmayhew opened #2312 "Overview of How It Works"
I like the documentation. It is concise and quite complete. But since I am new to the 'metrics' game, and open source I wonder if you could briefly tell me how it all fits together...

There are a lot of moving pieces: I assume, we use http calls to Get data from a service we have

I couldn't find this type of overview anywhere...any ideas?

Thanks much

[2017-01-15 18:13] jbrooksuk commented on #2312
I'm not sure if you're confused about how Cachet works or how to connect to Cachet? If it's the latter then you'll want to look into connecting to a JSON API.

[2017-01-15 18:13] #2312 closed

[2017-01-15 21:01] TheoBearman opened #2313 "Error Running Composer Commands"
When trying to run `composer install -o` command following the recent dependency update 02fe8d1, the following error is thrown in the console:

[code]
![efes](https://cloud.githubusercontent.com/assets/6546590/21966132/bbb1fb54-db65-11e6-9b4f-c70b2e2d5176.JPG)

[2017-01-15 21:03] GrahamCampbell commented on #2313
Please run `composer self-update`.

[2017-01-15 21:04] TheoBearman commented on #2313
[code]

[2017-01-15 22:51] GrahamCampbell commented on #2313
Seems like there's something wrong with your composer. Try running the command in a directory where there is no composer.json file.

It should behave like this:

![image](https://cloud.githubusercontent.com/assets/2829600/21966934/0c39d84e-db75-11e6-986a-7c434f428623.png)

(or indeed, show the stable channel)

[2017-01-16 19:20] friponneau opened #2315 "Subscribers retain their component subscription"
If I subscribe an email, un-subscribe it, then subscribe it again, I'm registered twice every for components.

Here's an excerpt of the metrics that are sent back. Please note that the "subscriptions" array has several entries with the same "component_id".

{
"id": 2,
"email": "xxxx@hotmail.com",
"verify_code": "xxxx",
"verified_at": "Monday 16th January 2017 09:48:41",
"created_at": "2017-01-16 0

[2017-01-16 19:20] friponneau opened #2316 "Subscribers receive too much emails"
The context is:

A cachet page that monitors the state of a service.
The service availability is verified every 10 minutes, and the cachet component is updated with the value.
Subscribers want to be warned whenever the service changes state.
Currently, the user is warned whenever the component state is updated, regardless of the value.

Solution: send notification email only when new information i

[2017-01-16 19:21] friponneau opened #2317 "Subscribers email sent even when subscriber has been removed"
I removed a subscriber from the subs list on friday, and he kept receiving notification emails during the week-end.

[2017-01-16 19:41] jbrooksuk commented on #2317
You removed him from the `subscribers` table and he was still receiving them?

[2017-01-16 19:45] jbrooksuk commented on #2316
This is really by design. The more configurability we add, the harder the implementation becomes to maintain and for the user to manage their preferences.

[2017-01-16 19:45] #2316 closed

[2017-01-16 19:46] friponneau commented on #2317
Yes.  But the darnedest thing is, I had two subscribers: me (added first), and another guy.  The problem manifested itself with the other guy, but not with me.  I hesitated before submitting this one up because of the weirdness of it, but it occurred to me that someone with intimate knowledge of the source code might make something out of it.

[2017-01-16 19:53] jbrooksuk commented on #2317
What's really weird about this is that we're not caching the subscribers list, so there's no obvious way as to how we're sending emails to them too.

[2017-01-16 19:53] jbrooksuk commented on #2317
Ping @joecohens any ideas?

[2017-01-16 19:56] jbrooksuk commented on #2315
What version are you using? You're experiencing a lot of issues that we've not seen before.

[2017-01-16 20:20] friponneau commented on #2316
I understand.  However, isn't the trade-off between "not updating the component" and "not knowing the component was confirmed" a bit hard to make?  In other words, to eliminate email spamming we have to let user wonder whether "the component status is accurate", or if "the watchdog that updates it stopped functioning"...  For users counting on the cachet page to accurately reflect the reality of S

[2017-01-16 20:23] friponneau commented on #2315
![image](https://cloud.githubusercontent.com/assets/3298261/21997886/af24ffa4-dbff-11e6-9666-a7d6a798164d.png)

[2017-01-16 20:24] jbrooksuk commented on #2315
Ping @joecohens

[2017-01-16 20:35] jbrooksuk commented on #2316
How about, we add a `silent` parameter to the Component API, so that if it's `true` we don't send notifications.

[2017-01-16 20:35] friponneau commented on #2316
That would be perfect.

[2017-01-17 13:04] haydenjames opened #2319 "stop emails temporarily during testing of addons."
How can i disable component emails?

How do I clear/purge all queued emails?

thanks

[2017-01-17 15:46] ImFlushy opened #2320 "IDEA: Insert Twitter Integration"
Just a quick idea (tried to use the search tool to find if someone posted it, but not really sure if someone had the idea before):

Wouldn't it be cool to automaticaly post predefined messages when the status of a server is changed by using the Twitter API?

[2017-01-17 19:13] jbrooksuk commented on #2320
Yeah! This is on its way to being implemented with the new Notifications system that is coming in v2.4

Feel free to add a PR!

[2017-01-17 19:13] #2320 closed

[2017-01-17 19:22] jbrooksuk commented on #2315
This is now fixed 😄

[2017-01-17 19:23] #2315 closed

[2017-01-17 19:24] #2313 closed

[2017-01-17 19:29] jbrooksuk commented on #2319
1. From the top of my head, you can just set the `MAIL_DRIVER` to `log`. That's the easiest way.
2. Run `php artisan queue:flush`.

[2017-01-17 19:29] #2319 closed

[2017-01-18 14:38] jbennett999 commented on #1176
Just want to throw in a +1 for #530 - Incident timeline of updates

It's the one part of Cachet that throws me off. I find myself switching between updating old incidents with status updates/component changes and creating "new" incidents to update the old ones which artificially inflates my incident count and makes it hard to follow individual incidents.

I'd like the timeline to reflect the work

[2017-01-18 16:23] amann717 opened #2321 "Component Update email templates"
Can these email templates be modified in anyway in the code? I can't seem to find them anywhere . It looks like some type of NexmoMessage is being used.

[2017-01-18 21:03] jbrooksuk commented on #2321
You need to change the language file `./lang/:code/notifications.php`.

[2017-01-18 21:03] #2321 closed

[2017-01-19 14:17] amann717 commented on #2321
I actually want to add a banner to the incident email and make some text changes. Does not look like I am able to that in the lang files.

[2017-01-19 19:54] pbmzero opened #2322 "Issue: "Some systems are experiencing issues" when incidents solved via API"
System is getting stuck on "Some systems are experiencing issues" if i use the API to solve an incident, but it does not seem to be the case through the web interface.

Pre-Conditions
1. I have all my components available state
2. Deleted all incidents so there are none.
3. "All systems operational" on dashboard.

Create An incident through API
1. Update one component as "Major Outage"
2. Create a

[2017-01-20 08:55] jbrooksuk commented on #2322
Are you using v2.4?

[2017-01-20 08:57] jbrooksuk commented on #2321
You're looking for `./resources/views/vendor/notifications/*` :)

[2017-01-20 08:57] jbrooksuk commented on #1176
👍

[2017-01-20 08:57] jbrooksuk commented on #1176
We're working on a new design to simplify the incident updates too.

[2017-01-20 20:14] pbmzero commented on #2322
I'm using v2.4.0-dev from Monday.

[2017-01-21 14:23] jbrooksuk commented on #2322
Did you upgrade from v2.3?

[2017-01-21 17:25] mhayes14 commented on #2051
Another vote for additional statuses. In our case we would like an "At Risk" status between "Operational" and "Performance Issues".

For example, when grid power has failed and switched to generators or any other part of the service is running on a failover system, the component would be considered "At Risk" of failure. Some may consider this a "partial outage" but as far as our customers are conc

[2017-01-23 13:00] bozicm opened #2323 "Is Cachet really open source? LICENSE file does not state so ..."
Hi CachetHQ. I'm a bit confused about Cachet being promoted as _"The open source status page system"_ on your webpage whereas in the code I cannot find under which type of license it is licensed.

LICENSE file states that it is under "All rights reserved" along with a couple of clauses/conditions, but this isn't actually for example [OSI approved](https://opensource.org/faq#approved-licenses-only)

[2017-01-23 13:28] bozicm commented on #2323
Well, after some googling I found that this is indeed [BSD-3 clause license](https://opensource.org/licenses/BSD-3-Clause) which is OSI approved. Maybe the type of licence should be explicitly stated in the LICENSE and README files?

[2017-01-23 17:17] max-l-weaver commented on #2249
This has been a bug for quite a while now, any update?

[2017-01-23 17:35] max-l-weaver opened #2324 "Scheduled Maintenance Calendar Function"
Running 2.4.0-Dev
Currently the Scheduled Maintenance section is just a plain text box but it requires a date to be added in the following format: ('Y-m-d H:i') otherwise a 500 error will occur on saving the item and the following error will be logged:

[code]

Perhaps a calendar date picker can be integrated into the form to avoid any initial confusion, or as a workaround some text above the text

[2017-01-23 19:03] GrahamCampbell commented on #2323
License already stated in https://github.com/CachetHQ/Cachet/blob/2.4/LICENSE and https://github.com/CachetHQ/Cachet/blob/2.4/composer.json#L12

[2017-01-23 19:03] #2323 closed

[2017-01-23 20:33] pbmzero commented on #2322
@jbrooksuk  no sir, fresh install.  I just started using this software.  As a work around, i'm no only problematically opening the incidents and then manually closing them.

I tried updating incidents only directly in the component itself, however this is also problematic as the email templates for component changes the email contains the header with literally the name of the variable "Notificatio

[2017-01-23 20:39] jbrooksuk commented on #2324
There should be a date picker there...

[2017-01-23 20:40] jbrooksuk commented on #2249
It'll be fixed in v2.4 :)

[2017-01-23 20:40] jbrooksuk commented on #2249
Unless someone would like to submit a fix to v2.3

[2017-01-23 20:49] jbrooksuk commented on #2324
Do you not see this?

![](https://cldup.com/QJruKXKXC2.png)

[2017-01-23 20:54] jbrooksuk commented on #2322
Thanks @pbmzero!

I'll take a look into this issue.

You know that you're using v2.4 which is a development build, right? I've fixed the component status subject 👍

[2017-01-23 21:00] pbmzero commented on #2322
I realize i installed -dev after the fact,  i will switch to something in the -main shortly. Thanks for addressing the component status thing.

[2017-01-23 21:06] jbrooksuk commented on #2322
I've just fixed an issue that _might_ fix the component status :)

[2017-01-23 21:06] jbrooksuk commented on #2322
Thanks for reporting this.

[2017-01-23 21:06] #2322 closed

[2017-01-23 21:08] jbrooksuk commented on #2317
I've not been able to replicate this issue, sorry! If you can give me steps to reproduce, I'll look into this again.

If you're using the queue driver I can only suggest restarting the workers.

[2017-01-23 21:08] #2317 closed

[2017-01-23 21:18] jbrooksuk opened #2326 "Supply more component data to incidents"
Instead of supplying individual key/value pairs for `component_id` and `component_status` we should support passing an array of `component` which can be mapped to the individual fields.

We'll deprecate the existing method and remove it within a full version.

[2017-01-24 09:42] max-l-weaver commented on #2324
Oh, erm no I don't.
I just see a plain ol' text box.

![image](https://cloud.githubusercontent.com/assets/22293003/22241924/597a025a-e219-11e6-9c38-d66926c0eacf.png)

[2017-01-24 15:03] jbrooksuk commented on #2324
How weird! Do you have any console errors?

[2017-01-24 15:20] ConnorVG commented on #2324
Or, possibly, do you have JavaScript disabled?

[2017-01-24 15:22] max-l-weaver commented on #2324
I have the following console errors. Sorry but as I have to remove the address:

[code]

[2017-01-24 15:24] max-l-weaver commented on #2324
@ConnorVG JS definitely enabled

[2017-01-24 17:49] amann717 commented on #2321
I dont see the vendor folder in the code: https://github.com/CachetHQ/Cachet/tree/2.4/resources/views

[2017-01-25 08:58] jbrooksuk commented on #2321
Hmm, looks like I've not committed. This will arrive tonight.

[2017-01-25 08:59] jbrooksuk commented on #2324
What browser/OS are you using?

[2017-01-25 09:51] max-l-weaver commented on #2324
Chrome 55.0.2883.95
macOS Sierra 10.12.2

[2017-01-25 10:02] equero commented on #2324
Exactly like @max-l-weaver here, but not in firefox..

[2017-01-25 10:16] max-l-weaver commented on #2324
@equero are you saying it **did** work in FF? Just tried it in FF and same problem.

[2017-01-25 12:50] amann717 commented on #2321
Awesome!

On Jan 25, 2017 2:58 AM, "James Brooks" <notifications@github.com> wrote:

[2017-01-26 13:41] davidak opened #2327 "Make URLs clickable"
When you add URLs to Cachet posts, they are just plain text. They should get converted to clickable links like Github does.

Screenshot from Cachet 2.3.10:

![bildschirmfoto von 2017-01-26 14 39 36](https://cloud.githubusercontent.com/assets/91113/22333267/823c89a2-e3d5-11e6-8752-8115101d135f.png)

[2017-01-26 13:57] ConnorVG commented on #2327
Hey, @davidak.

If you would like to have a link then feel free to use Markdown :smile:

`[Link Description](Url of link)` ie: `[Google](https://google.com)`

[2017-01-26 14:02] jbrooksuk commented on #2327
You're right though, the URL should be automatically clickable.

[2017-01-26 14:11] ConnorVG commented on #2327
@jbrooksuk would this then be delegated to the parser?

[2017-01-26 14:45] davidak commented on #2327
@ConnorVG i know Markdown :)

@jbrooksuk thanks!

[2017-01-26 15:35] davidak opened #2328 "display author name of post"
We are a small team of admins and use Cachet to inform other collegues internally.

It would be nice to have the option to enable (in the settings) to see the user who posted an entry. (i hope you already save that in the database)

Our current workaround is to just put it in the text.

[2017-01-26 15:40] davidak commented on #2274
@MatthewSH so when you use the same image in every post you have it multiple times on the server. i would put it in one directory and save it under it's current name. if the name is already existent, it should get checked if the files have the same checksum, in that case just use the existing image. else add an -# to the name like image-1.png.

[2017-01-26 15:53] davidak opened #2329 "(optionally) notify on updates of incidents"
When you create a new incident, there is a checkbox to notify subscribers. Please provide this checkbox also when you edit incidents!

There should also be a setting to enable or disable it by default. It can be disabled by default so the behaviour don't change.

Currently we have to create a new Inident every time when we fixed one so subscribers get notified. This is very bad usabillity!

[2017-01-26 15:58] ConnorVG commented on #2274
The best way to do it would not be that, in my opinion. It would make much more sense to have a media library and a media selector. Checksums on matching names seems a bit 'hacky'?

[2017-01-26 16:04] davidak commented on #2274
A media library sound good. So you could easily select one of your 5 preffered images.

Such system may have a function to deduplicate files. But people will also see that there already is that image they want to use and don't have to upload it.

[2017-01-26 16:06] jbrooksuk commented on #2327
@GrahamCampbell as you're familiar with CommonMark, does it not support it?

[2017-01-26 16:07] jbrooksuk commented on #2274
The image URL would be in the message, so the filename doesn't matter so long as it's unique. I'd probably place them under date directories.

[2017-01-26 16:08] jbrooksuk commented on #2329
Anybody may feel free to pick this up!

[2017-01-26 16:09] ConnorVG commented on #2274
There is a nice perk of media libraries not being too hard to implement too. Kunstmaan's aint too bad.

[2017-01-26 16:09] jbrooksuk commented on #2328
Feel free to pick this up. It's something that would go into the Theme settings.

[2017-01-26 16:11] jbrooksuk commented on #2321
Added in https://github.com/CachetHQ/Cachet/commit/268d54d2173e0c18049133a8eecf5f6c592608de

[2017-01-26 16:11] jbrooksuk commented on #2274
Kunstmaan seems overkill?

[2017-01-26 16:17] #2324 closed

[2017-01-26 16:17] ConnorVG commented on #2274
@jbrooksuk I'm on about their media management system, not the entire thing haha.

I wouldn't pull theirs in, I am more on about how they handle it. The media library is completely separate but can be easily chosen from / added due during entity management.

[2017-01-26 16:17] jbrooksuk commented on #2324
This is fixed now.

[2017-01-26 16:17] jbrooksuk commented on #2274
Gotcha! 🙈

[2017-01-26 16:21] jbrooksuk commented on #2249
Hacked in v2.4 🙈

Hopefully we'll have a new dashboard anyway.

[2017-01-26 16:21] #2249 closed

[2017-01-26 18:57] Moolgeson commented on #2329
Would love this, same goes with scheduled maintenance updates.

[2017-01-27 00:01] ChristopherP1221 opened #2330 "Subscribe button not showing for me on the latest version"
Hello,

This is probably way more user error than it is a bug but I'm noticing some strange behavior that I'm not able to figure out.  In the settings section of the UI, I try to click the button to enable users to subscribe to email notifications and when I click save, the tick box reverts back to its original setting i.e. if it was clear, it goes back to clear, if checked back to checked.  I hav

[2017-01-27 12:34] ConnorVG commented on #2327
@jbrooksuk as far as I am aware, CommonMark doesn't do anything special with raw URLs. It just wraps them in ` p` tag.

[2017-01-27 12:36] GrahamCampbell commented on #2327
We could write a package that did transform them tho. :P

[2017-01-27 12:38] ConnorVG commented on #2327
[Yeah...](http://spec.commonmark.org/0.27/#example-580)

Custom would be the way :grimacing:

[2017-01-27 18:23] CosmicPuppy opened #2331 "Editing a Component definition triggers email to subscribers."
_I apologize if this ought to be just a Support issue or question, and not a bug; but I think my configuration is correct and can't think of any explanation other than a ... **bug**._ 🐛

I am run a Beta program with a Cachet status board. As such, I am rather frequently refining my Component definitions.

* I couple weeks back I made several edits and my Beta subscribers received several emails ea

[2017-01-28 16:13] mehrdaad opened #2332 "Purpose of checkRules"
I see this app uses ``alt-three\test-bench`` since I couldn't find any docs related to that package I'm gonna ask here.
In almost all of models unit test you use ``$this->checkRules(new ModelName())``.
What This method does? can explain a bit?
As far as I could tell it verifies the model over the rules property. But would appreciate if you can explain more.

[2017-01-28 18:37] MrSascha opened #2333 "CachetHQ Setupscreen Bug"
I want to Install Cachet on a FreeBSD Server. I folow all Steps from the Documentation. Pleas Help Me.

![screenshot_1](https://cloud.githubusercontent.com/assets/17358343/22398886/137e8674-e591-11e6-8f28-68ed8f45aa66.png)

![screenshot_2](https://cloud.githubusercontent.com/assets/17358343/22398889/1bdd40c6-e591-11e6-8141-91a28dde4d9c.png)

[2017-01-28 20:46] MatthewSH commented on #2274
What about this...
How about we just do a random 4-6 character string after the image name and we have some sort of media library? We can select from the media library to embed in the incident or we can upload?

Also, thoughts about using something like Glide to allow more customization?

[2017-01-28 20:52] MatthewSH commented on #2311
@jbrooksuk which files are you talking about specifically?

[2017-01-28 20:54] MatthewSH commented on #2333
Can you provide a URL?

[2017-01-28 20:58] MatthewSH commented on #2332
@mehrdaad this is definitely *not* the place to ask this. Ask your question [here](https://github.com/AltThree/TestBench/issues).

[2017-01-28 21:03] mehrdaad commented on #2332
Oops sorry!

[2017-01-28 21:03] #2332 closed

[2017-01-28 21:25] MatthewSH commented on #2328
@jbrooksuk We'll have to re-add the `user_id` column that was dropped in 2015.

We can add the `user_id` column, index it, and have a foreign key reference to `id` on `users`.

Adding onto that, we could create a route that shows all the incidents reports by a user. Such as `example.com/author/1`.

[2017-01-29 15:35] MrSascha commented on #2333
How do you mean?

[2017-01-29 18:35] MatthewSH commented on #2333
@MrSascha to your install, if it's public.

[2017-01-30 07:41] #2333 closed

[2017-01-30 08:58] jbrooksuk commented on #2333
Are you using Apache/Nginx?

[2017-01-30 08:59] jbrooksuk commented on #2328
Cool, I look forward to seeing your PR :)

[2017-01-30 09:00] jbrooksuk commented on #2311
`./resources/lang` then anything which isn't `en-US`.

[2017-01-30 09:01] jbrooksuk commented on #2331
There is an active PR for this https://github.com/CachetHQ/Cachet/pull/2318

[2017-01-30 09:01] #2331 closed

[2017-01-30 09:04] MrSascha commented on #2333
It was a linking error, which I could change with the hosting interface.

[2017-01-30 09:11] GrahamCampbell commented on #2328
What happens if the user later deletes their accunt

[2017-01-30 10:01] ConnorVG commented on #2328
We'd just have to use soft-deletable users, if we want to keep their blame.

[2017-01-30 12:14] MatthewSH commented on #2328
@GrahamCampbell @ConnorVG or we could just have a check to see if the user model is null, if it is then don't display it at all.

[2017-01-30 12:16] ConnorVG commented on #2328
@MatthewSH that seems pretty hacky :disappointed:

Soft deletes or a specific fallback account would be best, IMO.

[2017-01-30 12:20] MatthewSH commented on #2328
@ConnorVG true, however...it may be the easiest way to approach the situation without modifying too much that's already there. Really it's simple in the view...

[code]

[2017-01-30 12:23] ConnorVG commented on #2328
@MatthewSH Having those checks in anything that we decide to add blame too when we could instead just handle it at the source of the problem seems very roundabout to me.

Is there anything specifically off-putting about soft deletes to you?

[2017-01-30 12:27] MatthewSH commented on #2328
@ConnorVG not really, I'm just trying to not update **too** much with it. However, even with soft deleting, won't the `find` method still come back null? We would still have to include some form of a check for that, and still check to see if the model is null anyway.

We could always fall back on an id `0` (or `-1`) user we could seed in at the start. However, the question is...what would we name

[2017-01-30 12:29] ConnorVG commented on #2328
When querying for blame we can always just append `->withTrashed()`. Blame could be treat this way specifically.

Though, all that said, I'm unsure if @GrahamCampbell or @jbrooksuk would want it this way (soft deletes).

[2017-01-30 12:30] MatthewSH commented on #2328
@ConnorVG that's why I'm considering the other way, to avoid changing some of that functionality. I would rather, personally, only change things that are absolutely needed for the PR.

[2017-01-30 12:32] ConnorVG commented on #2328
@MatthewSH it's generally a good idea to do minimal PR changes but this feels like something that would easily integrate with other parts of the system (when it comes to blame) so I think it should take more thought. IMO, anyway.

[2017-01-30 12:35] MatthewSH commented on #2328
@ConnorVG that's why I'm throwing out some options before I start on it ;)
Just waiting for @GrahamCampbell and @jbrooksuk to come back and give their thoughts.

[2017-01-30 13:21] jbrooksuk commented on #2330
Make sure that `./bootstrap/cache{,t}/*` is writable.

[2017-01-30 13:24] jbrooksuk commented on #2328
I have nothing against soft deleting users. We don't really have a choice if we were to have this kind of archival data anyway.

[2017-01-30 13:24] jbrooksuk commented on #2329
Moved into v2.4.

[2017-01-30 13:54] jbrooksuk commented on #2327
Anybody up for writing the extension? It'd be good to have this in v2.4 where things are a bit further along.

[2017-01-30 13:55] jbrooksuk commented on #2051
@mhayes14 I see what you're saying... 🤔

[2017-01-30 13:58] jbrooksuk commented on #2311
@GrahamCampbell this might be something else we want to proxy through Beacon too... We wouldn't want to expose a key for CrowdIn.

[2017-01-30 14:15] AleksejsC opened #2335 "schedules view generates an error"
Version 2.4-dev. Created schedules, when if I go to
/schedules/1
there is error 500
Log file attached
[laravel-2017-01-30.txt](https://github.com/CachetHQ/Cachet/files/739145/laravel-2017-01-30.txt)

[2017-01-30 14:51] jbrooksuk opened #2336 "Metrics don't work on MySQL 5.7"
Due to the `GROUP BY` changes...

[code]

[2017-01-30 14:53] jbrooksuk commented on #2335
I've fixed this now.

[2017-01-30 14:54] jbrooksuk commented on #2335
https://github.com/CachetHQ/Cachet/commit/e015424f7d1de295d49911ddbbdff0c069a7217a

[2017-01-30 14:54] #2335 closed

[2017-01-30 19:28] MatthewSH commented on #2328
Okay so now @jbrooksuk and @ConnorVG the question remains.
I assume although we include the trashed authors for the incidents, we don't want them to have their own page?

Also, any thoughts on the author page design? I'm thinking a simple design similar to how incidents are displayed on the main page, but the top section being modified a bit to include the avatar and name.

[2017-01-30 22:13] davidak commented on #2328
@MatthewSH thanks for your initiative!

I wouldn't include the avatar in the post. the author in blogs or newspapers has also no avatar since the important part is the post, not the person who published it. only the name should be displayed so you can look who published it **when** you are interested.

Also i know from systems like JIRA or some forums that they display "Deleted user" if the user d

[2017-01-31 08:14] jbrooksuk commented on #2328
They'd still need their own page for archival reasons.

Well, the design is currently undergoing a big overhaul, so I wouldn't worry. Just get the info printed and we'll add the new design when it's ready.

Maybe we could display that in a badge or something next to the name.

[2017-01-31 08:14] jbrooksuk commented on #2328
Remember, this should be an optional setting.

[2017-01-31 11:41] max-l-weaver opened #2338 "Incident Description in Email Rather Than Just a Link"
Currently, in v2.4.0-Dev, when a subscriber is sent a notification the email just contains a link to the incident description:
<img width="400" alt="screen shot 2017-01-31 at 11 11 01" src="https://cloud.githubusercontent.com/assets/22293003/22463512/d013bdda-e7a9-11e6-9338-a14afc32b770.png">

This is quite problematic as many of our subscribers will not click the view button. We need an option to

[2017-01-31 11:45] ConnorVG commented on #2338
I'm afraid, to add the description, you'd have to alter [this bit of code](https://github.com/CachetHQ/Cachet/blob/2.4/app/Notifications/IncidentUpdate/IncidentUpdatedNotification.php#L77).

[2017-01-31 21:35] ChristopherP1221 commented on #2330
Hi jbrooksuk,

The directory is indeed writeable.  I'm now able to toggle the button without any issues but still no subscribe button.  I am able to toggle other things at the bottom of that page such as "Show support for Cachet" without any issues.  Does Redis need to have a special configuration in order for this to work?  I feel like I'm missing something very obvious but it's driving me nuts.

[2017-01-31 23:36] ChristopherP1221 commented on #2330
So, I'm now receiving an error message when issuing 'php artisan app:install' and it's related to subscribers.  Any ideas?

root@statuspage100:/var/www/Cachet> php artisan app:install
Clearing settings cache...
Settings cache cleared!
Backing up database...
Dumping database and uploading...

Successfully dumped mysql, compressed with gzip and store it to local at /var/www/Cachet/database/backups/2

[2017-02-02 11:26] max-l-weaver opened #2340 "500 Error when updating incidents"
Cachet Version: 2.4.0-Dev
OS: Ubuntu 16.04
PHP: 7.1
Laravel Framework version 5.3.29

We're getting a 500 error when updating incidents. This seems to only apply to incidents that notify via email as I cannot replicate with non-notifying test incidents.

Latest extract from log:

[code]

[2017-02-02 21:24] GrahamCampbell commented on #2340
Please upgrade to the latest 2.4.x. I think this was already fixed.

[2017-02-02 21:24] #2340 closed

[2017-02-02 22:48] nicolasfagotti opened #2342 "The component group status calculation fails when components are ordered"
Hi,

When components are ordered, the group statuses are wrongly calculated, returning the status of the first component in the list instead of the one with the higher status.

A pull request has been pushed for this https://github.com/CachetHQ/Cachet/pull/2341

Thanks!

[2017-02-03 11:39] hjone72 opened #2343 "Demo of V2.4"
Didn't want to derail the staytus github page. @jbrooksuk, offered to setup a demo of version 2.4. Thought I'd create this to track the staytus ;) of that.

Thanks,

[2017-02-03 21:25] jbrooksuk commented on #2343
@hjone72 I've setup the new demo - https://dev.cachethq.io

Also, love the pun ❤️

[2017-02-03 21:25] #2343 closed

[2017-02-03 21:43] jbrooksuk commented on #2338
I can add this, not a problem.

[2017-02-03 21:45] jbrooksuk commented on #2330
That's not subscribers as in people who are subscribed, that's a command listener for a package we use. Ping @GrahamCampbell?

[2017-02-03 21:47] GrahamCampbell commented on #2330
Looks like ur PR had a typo in James.

[2017-02-03 21:47] jbrooksuk opened #2344 "Store actions"
Each event that is fired should be logged in a list of actions.

[2017-02-03 21:49] GrahamCampbell commented on #2330
Pushed a fix to the core package.

[2017-02-03 21:49] GrahamCampbell commented on #2330
https://github.com/GrahamCampbell/Laravel-Core/releases/tag/v5.3.1

[2017-02-03 22:09] jbrooksuk commented on #2330
Fixed :)

[2017-02-03 22:09] #2330 closed

[2017-02-03 22:59] dwydler opened #2347 "Weekdays only in english"
Hi Guys,
i upgraded from v2.3.9 to v2.4.0-dev. My default language for Cachet is german. After i review the new version i noticed that the weekdays not translated to the specified language in the settings.

Regards,
Daniel

[2017-02-03 23:03] dwydler opened #2348 "Double entries Site language"
After i installed a demo system with v2.4.0-dev i changed the language to german. If i open den drop down menu i see for every language two entries.

Here a scrrenshot for it:
http://picpaste.de/7d37b28ccbe0a3e9587f8a55a98e7617.png

[2017-02-03 23:19] dwydler opened #2349 "Stick Incident overwrites on edit"
I create a new Incident with some demo text. The Parameter "Stick Incident" is set to "not Stickied" and saved it. After that i edit the same incident again the option ist automatically set to "Stickied".

Version: 2.4.0-dev
PHP: PHP 5.6
Web: Apache 2.4.20

[2017-02-04 09:21] jbrooksuk commented on #2349
Thanks for reporting this! I'll look into it,

[2017-02-04 09:23] jbrooksuk commented on #2348
`de-DE`?

I think I know what's causing this.

[2017-02-04 09:24] jbrooksuk commented on #2347
@joecohens reckon this is us switching to `Carbon` instead of `Date`?

[2017-02-04 12:29] jbrooksuk opened #2350 "Standardise and simplify event names"
Now that the event names are playing a more important part in Cachet, we should rename them to standardise and simplify their meaning.

For example:

- `ComponentStatusWasUpdatedEvent` could become `ComponentStatusChangedEvent`.
- `*WasAddedEvent` could become `*WasCreatedEvent`. (`Schedule` uses the `Created` scheme, whereas everything was added. Since we use `created_at` as a column name, it mak

[2017-02-04 13:17] base-zero opened #2351 "Create new incident update"
When adding incident updates it would be nice to have the option to update the component status too, rather than having to post the incident update then go edit the incident to change the component status.

[2017-02-04 14:52] matematrix opened #2352 "Setup not completing"
Hello,

I have installed Cachet exactly the same way as you describe it in your setup guide.
I can now access the setup page, I fill everything in, and when I press the button "Complete Setup",
I just get the error popup: "An error has occured and this resource cannot be displayed".

Thanks in advance :)

[2017-02-04 15:50] jbrooksuk commented on #2352
Can you share your log files please? You can find them in `./storage/logs/`.

[2017-02-04 15:50] jbrooksuk commented on #2352
Also, what version of Cachet are you using?

[2017-02-04 15:51] jbrooksuk commented on #2351
This isn't so straightforward. Would you preselect the components that would be affected? Would all components have their status changed?

[2017-02-04 16:19] jbrooksuk opened #2353 "InviteWasSent event"
We have no way to know who invited who to the application.

[2017-02-04 16:49] matematrix commented on #2352
I am using version 2.3.9,
and here is the pastebin of the laravel log: http://pastebin.com/zEHeXb4h

Thanks :)

[2017-02-04 16:51] jbrooksuk commented on #2352
It looks like the user has already been created:

[code]

Reset your migrations and try again 👍

[2017-02-04 16:51] #2352 closed

[2017-02-04 17:40] #2344 closed

[2017-02-04 19:29] matematrix commented on #2352
Sorry to ask, but how can I do that?

[2017-02-04 19:29] jbrooksuk commented on #2353
It looks like we use `UserWasInvitedEvent` instead.

[2017-02-04 19:29] #2353 closed

[2017-02-04 19:30] jbrooksuk commented on #2352
`php artisan app:reset`

[2017-02-04 19:31] matematrix commented on #2352
Thank you very much!

[2017-02-04 19:35] matematrix commented on #2352
Sorry , but now the webinterface itself works, but I can't login with my credentials.
Do I need anything else to get it to work?

[2017-02-04 20:12] jbayer opened #2354 "installation for docker exec instructions should use cachetdocker_cachet_1"
after `docker-compose up` the next two commands currently have the wrong container reference

should be:
[code]

[2017-02-04 20:14] jbayer opened #2355 "using docker, during app:install step pg dump is the wrong version"
there is a protocol mismatch between postgres 9.5 and postgres 9.4 so the database backup is skipped.

[code]

[2017-02-04 20:32] jbrooksuk commented on #2355
Can you add this issue to the [Docker issues](https://github.com/CachetHQ/Docker/issues) please.

[2017-02-04 20:32] #2355 closed

[2017-02-04 20:32] jbrooksuk commented on #2354
Can you add this issue to the [Docker issues](https://github.com/CachetHQ/Docker/issues) please.

[2017-02-04 20:32] #2354 closed

[2017-02-04 20:42] jbayer commented on #2354
sure, thanks for the pointer

[2017-02-04 21:25] jbrooksuk commented on #2354
Thanks :)

[2017-02-04 23:58] dwydler opened #2357 "Mail settings not saved"
Hi Guys,
today i want to setup the mail settings on my cachet installation. I configured the parameters ans saved it. After reload the site default settings are restored. So i configured the options again and the result was the same as before. In the logfile (storage/log/la...) i found no entry for this.

Environment
Version: 2.4.0-dev
PHP: 5.6

[2017-02-05 12:57] jaiswalsanjeev opened #2360 "Multi tenancy support"
Is there support for multi- tenant customers? Having a separate status page for each of the customers in a cloud environment?

[2017-02-05 19:11] jbrooksuk commented on #2360
There isn't and we don't intend to support this.

Cachet is very lightweight and can be installed quickly and this use case is not a big one for the majority of people :)

[2017-02-05 19:11] #2360 closed

[2017-02-05 19:15] dwydler commented on #2360
Try follow idea:
1) Install Cachet as a template in a folder, exclude .env
2) Create a new subdomain which is link to the template via _ln_ command.
3) Create in every subdomain the settings file .env with custom data for the key, database connection and so on.
4) Test it. :-)

[2017-02-05 22:53] mm-manageit commented on #2360
@dwydler could you elaborate on what you mean by the "IN" command?

[2017-02-06 03:01] matejkramny opened #2361 "Metric graph not showing up"
I installed with the docker repository, using `docker-compose`.

For some reason there is no graph on the homepage, even when the database contains data points.

Is the docker container missing something that is supposed to trigger cachet to aggregate the data points?

[2017-02-06 10:47] dwydler commented on #2360
@mm-manageit I mean the command [ln](https://wiki.ubuntuusers.de/ln/) for synmbol links at the file system.

[2017-02-06 14:37] wfjsw commented on #2311
Also you may want to cache it, as there is some usage limit on Crowdin side.

[2017-02-06 16:47] Bananenbaas opened #2362 "Error on Composer Install"
Hi guys,

I get this error on the installation of composer...
Don't really get it. Maybe you can help me?

`> Illuminate\Foundation\ComposerScripts::postInstall

PHP Fatal error:  Uncaught ReflectionException: Class config does not exist in /home/status/web/public_html/Cachet/vendor/laravel/framework/src/Illuminate/Container/Container.php:734
Stack trace:
#0 /home/status/web/public_html/Cachet/ven

[2017-02-06 17:39] matematrix opened #2363 "Can't log into dashboard"
In reference to #2352 , I followed these steps, but can't log in now, and I am 100% sure I am using the correct credentials.
Any help appreciated, thanks in advance 👍

[2017-02-06 18:50] jbrooksuk commented on #2363
Are you able to see if you have a user setup? You could try following the steps at https://docs.cachethq.io/docs/frequently-asked-questions#section-how-do-i-reset-a-forgotten-password

[2017-02-06 18:51] jbrooksuk commented on #2362
Try running `rm -rf bootstrap/cache{,t}/*`.

[2017-02-06 18:51] #2362 closed

[2017-02-06 18:53] jbrooksuk commented on #2361
You may need to check the **Display graphs on status page?** setting under Application Setup.

[2017-02-06 18:53] #2361 closed

[2017-02-06 18:53] jbrooksuk commented on #2357
You need to have the `./bootstrap/cachet/*` and `./bootstrap/cache` directories as writeable.

[2017-02-06 18:53] #2357 closed

[2017-02-06 18:54] matejkramny commented on #2361
🤦‍♂️

[2017-02-06 20:29] matematrix commented on #2363
I followed the steps there and it is just showing me `NULL`.
So, I assume that means that I have no user setup.
But as in the reference to #2352 , if I reinstall Cachet I get an error at the end of the setup,
and if I follow the steps you told me there, I end up with no user.

[2017-02-06 20:30] jbrooksuk commented on #2363
Delete all tables and try again. Something is going wrong and when you try again it's mixing up errors.

[2017-02-07 00:52] klamontagne commented on #2357
Hello, I'm trying out a new setup here. Changing the `'mail'` values in `./bootstrap/cache/config.php` (with the web server user) made the notifications go through, but it seems submitting the form at `http://.../dashboard/settings/mail` is not updating those values.

[2017-02-07 11:13] Bananenbaas commented on #2362
Well, unfortunately that did not fix it...

[2017-02-07 11:37] ConnorVG commented on #2362
It may be worth running an `rm -rf vendor && rm -rf bootstrap/cache{,t}/*` then running `composer install`

[2017-02-07 11:39] Bananenbaas commented on #2362
I still get the same error :(

[2017-02-07 11:54] ConnorVG commented on #2362
Is this a fresh install of Cachet?

[2017-02-07 14:00] Bananenbaas commented on #2362
Yes a new fresh EC2 instance and an install of Vesta CP on it...

[2017-02-07 19:08] jbrooksuk commented on #2362
Did you run `composer install --no-dev`?

What version of PHP are you using?

[2017-02-07 19:08] jbrooksuk commented on #2357
Ping @GrahamCampbell @ConnorVG permissions right?

[2017-02-07 19:14] dwydler commented on #2357
@jbrooksuk
Booth directories have accress rights 777.

[2017-02-07 19:15] jbrooksuk commented on #2357
Does the web user have access to those directories? Are you running Apache or Nginx?

[2017-02-07 19:25] dwydler commented on #2357
We use Apache 2.4.20.

Here the output of the directories.
[http://up.picr.de/28252321nu.png](url)

[2017-02-07 19:44] dwydler commented on #2357
i do some tests...
1) change the mail driver and save it
2) Reload the page shows the default "(Log) Testing"
3) Logout and login again nothing changed on the mail settings ite
4) Delete the cache via rm -rf bootstrap/cache/* & php artisan config:cache and browse to the mail settings it displays the correct selection of point 1)

If i do the same steps again with the parameter Mail Username & Mail

[2017-02-07 19:46] jbrooksuk commented on #2357
You shouldn't need to run `php artisan config:cache`. Try not running that.

[2017-02-07 19:46] jbrooksuk commented on #2357
It may also be a bug in Cachet v2.4, I'll double check.

[2017-02-08 08:21] base-zero commented on #2351
So based on the components which has been select in the incident, they would be pull into the update incident system so that we can change the status on them there while posting our update.

[2017-02-08 13:36] protogonfs commented on #2340
Hello,

I was able to fix the issue in this way:

- Open "app/Bus/Commands/Component/UpdateComponentCommand.php" in text editor

- Go to line 121

- Rewrite the function without the $silent parameter, comment it out inside the function too.

This is my new function after the changes I've made:

[code]

I hope this will help :)

Bye

[2017-02-08 15:56] ChristopherP1221 opened #2364 "Subscribe button not showing up on UI in v2.3.10"
Hello,

I'm starting a new thread because I accidentally revealed a bug in the previous thread #2330 and didn't want to muddy the waters with this.  I performed a clean install of v2.3.10 using my current Apache and MySQL settings.  My mail server is configured properly because I'm able to create accounts and invite team members through the dashboard functionality.

 I'm using PHP7.0.14, mysql 5.1

[2017-02-08 16:06] GrahamCampbell commented on #2364
Unless this is set, cachet will not allow subscribers to show up.

[2017-02-08 16:07] GrahamCampbell commented on #2364
The same goes for a username and password.

[2017-02-08 18:14] ChristopherP1221 commented on #2364
Sorry, I should have been more clear.  I left those blank when I pasted so I wasn't providing my app key and mail server name.  Are you saying the mail server username and pass need to be set in order to properly allow subscribers?  I"m able to successfully generate emails to teammates when asking them to join through the dashboard without having username and pass set.

[2017-02-08 20:54] GrahamCampbell commented on #2364
Yeh, I seem to remember we had some sort of unneeded restriction there, but I can't remember if we ever got around to fixing it on 2.4.x. Ping @jbrooksuk.

[2017-02-08 21:53] ChristopherP1221 commented on #2364
Interestingly enough after double checking on the send team mail
functionalit, I noticed my postfix server was broken.  I fixed it and still
no subscribe button.  What should I be using for mail_username and pass?
We map postix to the user account that is logged into the server at the
time they send mail.  There is no static password.  The documentation
around this is light so please excuse the se

[2017-02-09 00:07] joecohens commented on #2347
Mmm it sounds like it. I'll test this soon.

[2017-02-09 14:36] snowball2 opened #2365 "Unable to update component status nor component order"
Upgraded to latest build 2.4 and now when trying to update component status or change the order of components I receive errors "something went wrong updating the component" and "ordering not updated". Hoping you can assist as I've tried everything I can think of to fix. I can create new components successfully but again, unable to edit their status nor order. I'm also unable to edit components, re

[2017-02-09 14:39] jbrooksuk commented on #2365
v2.4 is still experimental. Can you send me your log file please.

[2017-02-09 14:41] snowball2 commented on #2365
Laravel log attached

[2017-02-09 14:47] snowball2 commented on #2365
Laravel logs attached

(attempt to update status)
[laravel-2017-02-09.log.txt](https://github.com/CachetHQ/Cachet/files/763973/laravel-2017-02-09.log.txt)

(attempt to update order)
[laravel-2017-02-09_order.log.txt](https://github.com/CachetHQ/Cachet/files/763979/laravel-2017-02-09_order.log.txt)

[2017-02-09 14:48] jbrooksuk commented on #2365
That should do it for you.

[2017-02-09 14:49] #2365 closed

[2017-02-09 15:32] snowball2 commented on #2365
Hi James,

Extra comma at the end of the try block in the commit. That's fixed the issue now though, thank you!

[code]

[2017-02-09 15:44] jbrooksuk commented on #2365
Fixed now too.

[2017-02-09 20:54] roycepope commented on #771
+1 on Slack integration, can't wait for this!

[2017-02-10 17:03] TWG-Matt opened #2366 "Component-Group Save on initial creation"
I'm running 2.4.0-dev and I noticed when I create a new component group and set it to expanded and anyone can see it, it doesn't save that.  When I go back in to edit it, it's collapsed and set to logged in user's only.

Below you can see the initial creation and then the edit values.
![cachet_component_create_initial](https://cloud.githubusercontent.com/assets/25368064/22836011/687d5e2c-ef80-11e6

[2017-02-10 20:45] aliasfalse commented on #486
soooo, never happened?

[2017-02-11 00:13] ChristopherP1221 commented on #2364
I think we're all set here but I'm really confused on what was needed to actually solve the problem.  I ended up creating a MailGun account just to make sure there wasn't something strange happening with my mail setting.  After configuring the .env settings using the documentation as a template, the Subscribe button showed up (great!).  But, what's weird is when I reverted back to my original mail

[2017-02-11 18:01] ypid opened #2367 "Core Infrastructure Initiative (CII) Best Practices"
I would like to point you to the [CII Best Practices Badge Program](https://bestpractices.coreinfrastructure.org). Could you go thought the [criteria](https://bestpractices.coreinfrastructure.org/criteria), [add the project](https://bestpractices.coreinfrastructure.org/projects/new) and keep it up-to-date there?

Refs:
- https://bestpractices.coreinfrastructure.org
- https://twit.tv/shows/floss-we

[2017-02-11 18:15] jbrooksuk commented on #2367
I'll take a look at this in detail at some point.

[2017-02-12 11:18] jbrooksuk commented on #486
It didn't but the new design we're working on actually does this anyway.

[2017-02-12 13:58] aliasfalse commented on #486
Excellent, thank you!

[2017-02-12 14:42] jbrooksuk commented on #486
:)

[2017-02-14 01:44] roycepope commented on #2343
Is this open to the public? Can I log into the Dashboard to check it out?

[2017-02-14 09:07] jbrooksuk commented on #2343
Yes, https://dev.cachethq.io/dashboard using the same login details, test@test.com test123

[2017-02-14 19:13] #2363 closed

[2017-02-14 19:22] jbrooksuk commented on #2364
Very odd! I'll continue to look into this though. Thanks for the update.

[2017-02-14 19:22] #2364 closed

[2017-02-14 19:30] jbrooksuk commented on #2366
Fixed 👍

[2017-02-14 19:30] #2366 closed

[2017-02-14 19:33] jbrooksuk commented on #2349
Fixed! 👍

[2017-02-14 19:33] #2349 closed

[2017-02-14 19:38] jbrooksuk commented on #2336
I've turned off strict mode too. Odd!

[2017-02-14 19:39] jbrooksuk commented on #2336
Weirdly, they work now.

[2017-02-14 19:39] #2336 closed

[2017-02-15 00:08] OzWookiee opened #2368 "Cachet Error on Update Component from Dashboard"
Got an error when trying to update a component from the Dashboard: http://pastebin.com/F1LDJizq

1. From the Dashboard go to Components
2. Select a Component to Edit
3. Update Description
4. Get 500 Failure

Have tried updating other fields and same result.

[2017-02-15 08:01] jbrooksuk commented on #2368
What version of Cachet are you running?

[2017-02-15 08:08] OzWookiee commented on #2368
Sorry should have included that. Not at work atm, but only installed 2 days ago using instructions from readme.

[2017-02-15 14:37] TWG-Matt commented on #2366
Awesome.  That was quick @jbrooksuk .

[2017-02-15 14:39] TWG-Matt opened #2369 "Incident Update Save Error"
I'm running the 2.4.0-dev build and when I go to update an issue and click update after making my changes, I'm taken to a generic 500 screen when I don't select the status of the incident.  Should probably be shown an error message on the screen about it not being selected.

[2017-02-15 14:54] TWG-Matt opened #2370 "Updating Component"
Running: 2.4.0-dev

When you edit an already existing Component and then click save, you are taken to a generic 500 page.

[2017-02-15 20:52] OzWookiee commented on #2368
{
  "meta": {
    "on_latest": true,
    "latest": {
      "tag_name": "v2.3.10",
      "prelease": false,
      "draft": false
    }
  },
  "data": "2.4.0-dev"
}

[2017-02-15 21:15] AppleCarmine opened #2371 "Problem installing"
Hello everyone
When I try to install Cachet, finding a problem, that is, after installation, when I go on the site where I put Cachet tells me that the file does not exist. Why?

[2017-02-15 21:28] OzWookiee commented on #2371
Have you checked the logs in storage/logs?

[2017-02-15 21:53] AppleCarmine commented on #2371
And inside there is only one file called .gitignore with written inside *
! .gitignore

[2017-02-15 21:56] OzWookiee commented on #2371
Are you using Apache or nginx?
Did you create the virtual site config and restart the webserver?

[2017-02-15 22:16] AppleCarmine commented on #2371
I installed Cachet in / var / www / html and I am using apache2

[2017-02-15 22:20] OzWookiee commented on #2371
What's in your Apache Error/access log??

What's you apache conf?

https://docs.cachethq.io/docs/installing-cachet#section-running-cachet-on-apache

[2017-02-16 01:37] OzWookiee commented on #2370
Duplicate of https://github.com/CachetHQ/Cachet/issues/2368

[2017-02-16 02:03] OzWookiee opened #2372 "Metrics stored/entered as UTC??"
This is more a query than anything else. Can I safely assume that the metrics are stored in UTC time and then shown in the local time configured in the Dashboard?

Can I then ALSO assume that metrics should be posted in UTC? Documentation doesn't call that out.
https://docs.cachethq.io/v1.0/reference#post-metric-points

http://imgur.com/NHpjz4f
Raw Metric Data

http://imgur.com/IsIHaRT
Metric show

[2017-02-16 05:43] esam-iw commented on #1324
Regarding Orionian’s discontinuation of the short experimental open source app installations, we actually sent a notice prior the shutdown accompanied with the full backup of the installation database. I apologize if the message/file didn’t make it to you pmit07.

[2017-02-16 08:15] jbrooksuk commented on #2369
Could you send me your latest log file please?

[2017-02-16 08:18] jbrooksuk commented on #2368
Fixed 👍

[2017-02-16 08:18] #2368 closed

[2017-02-16 08:19] jbrooksuk commented on #2371
I'm going to close this, but please do continue the conversation :)

We provide a professional installation service, you can email us at support@alt-three.com :)

[2017-02-16 08:20] jbrooksuk commented on #2370
Fixed 👍

[2017-02-16 08:20] #2370 closed

[2017-02-17 02:21] OzWookiee opened #2373 "Metrics graphed as UTC not localtime"
[code]
Metrics shown as graphs render as UTC not local time from settings.

http://imgur.com/3vl8Uck
Raw data from MySQL, stored in UTC

http://imgur.com/fMYCuvT
Returned data from API, returned as localtime

http://imgur.com/B77sQ0Z
Metrics graphed on status page in UTC

[2017-02-17 02:23] OzWookiee commented on #2373
FYI http://my-cachet/dashboard/settings/localization is set to Melbourne, Australian (UTC +11)

[2017-02-17 04:24] OzWookiee commented on #2368
Followed the steps here: https://docs.cachethq.io/docs/updating-cachet

Now getting 500 errors when accessing Cachet
`Next exception 'Illuminate\Database\QueryException' with message 'SQLSTATE[42S22]: Column not found: 1054 Unknown column 'scheduled_at' in 'where clause' (SQL: select * from `incidents` where (`status` > 0 or (`status` = 0 and (`scheduled_at` is null or `scheduled_at` <= 2017-02-17

[2017-02-17 04:25] OzWookiee commented on #2368
Either that or **php artisan app:update** doesn't know it has to update a table?

[2017-02-17 04:27] OzWookiee commented on #2368
[code]

[2017-02-17 05:01] OzWookiee commented on #2368
Has occurred_at been relabeled to scheduled_at??

[2017-02-18 19:30] Technoblazed opened #2374 "Metrics: "Last Hour" displaying all data"
When a metric is changed to "Last Hour", it is displaying ALL data from the start of the duration, instead of the last hour.

![Image](https://i.tech-no.me/180217142926.png)

Cachet Version: 2.4-dev

[2017-02-19 10:19] jbrooksuk commented on #2374
Thanks for this report! I'll look into it.

[2017-02-19 10:19] jbrooksuk commented on #2374
What database are you using?

[2017-02-19 10:36] #2371 closed

[2017-02-19 10:36] jbrooksuk commented on #2351
Ah, I see! Sorry :)

[2017-02-19 10:47] dwydler opened #2375 "Delete Incident failed"
Today, i try to delete a incident in the internet explorer 11. I click on delete but nothing happen. The other buttons an this incident work fine. If i use Mozilla Firefox does it work.

Unfortunately we have only Internet Explorer on our systems.
We use the latest git version of Cachet.

[2017-02-19 10:48] jbrooksuk commented on #2375
I don't have IE 11 to test with, could someone please look into this for me? :)

[2017-02-19 11:01] #2342 closed

[2017-02-19 11:08] #2369 closed

[2017-02-19 11:20] Technoblazed commented on #2374
MySQL, seemed to be when the 'ORDER BY' was removed from the last hour query that it sorted out again.

[2017-02-20 09:00] sirkkalap opened #2377 "Wrong label text in "prev/next week" when settings are not default"
Hi,

Just a minor inconsistency.

Setting: `How many days of incidents to show` = 14, but Status page has buttons "[prev/next week](#)"

Expected: [next 14 days](#), [previous 14 days](#)

Workaround: Use the default (7)

[2017-02-20 12:07] max-l-weaver opened #2378 "Updating an incident throws 500 error"
We're currently on the latest commit under 2.4 branch and are experiencing issues when updating incidents.

For example, go to dashboard>Incident>Update
Click on 'Fixed' radio button
Hit 'Update'
Throws 500 error.

The most annoying thing is it emails our subs saying the component has been updated, however when they go to view the status it is still showing as previous update.

Log below:

[code]

[2017-02-20 12:45] jbrooksuk commented on #2378
The log is telling you the issue:

[code]

You need to run `php artisan app:update` which will run the database migrations.

[2017-02-20 12:45] #2378 closed

[2017-02-20 14:10] max-l-weaver commented on #2378
Thanks! Not sure how I could have come to that conclusion as obviously as you'd suggest from that line, but then again I'm not a developer.

[2017-02-20 14:48] sirkkalap opened #2379 "Different size for hr in incident markdown"
Cosmetic issue on old version 2.5.0-dev Status page.

I will test on newer version when we manage to roll out an update. Feel free to close or ignore, if you can not reproduce this.

It seems that a `hr` within an incident written with markdown (using "----") is thicker than a similar `hr` in Scheduled Maintenance issue.

I like the thinner better (the one in Scheduled maintenance).

<img width="1

[2017-02-20 19:12] jbrooksuk opened #2380 "Twitter Markdown extension"
I've seen a few incidents around that link to Twitter pages. What do people think about auto-linking `@handle` text in Incident messages?

[2017-02-20 19:14] jbrooksuk commented on #2379
Woah `2.5.0-dev`? We're only actively working on v2.4-dev can you confirm that you're indeed on v2.5?

[2017-02-20 22:38] brianjking commented on #2380
I like it! Excited for 2.4.0 regardless 👍

[2017-02-21 08:21] jbrooksuk commented on #2377
We're moving away from this layout in v2.4, so although it's a bug in v2.3 it'll no longer happen once https://github.com/CachetHQ/Cachet/pull/2325 is merged 😄

[2017-02-21 08:21] #2377 closed

[2017-02-21 09:42] sirkkalap commented on #2379
That is what the Docker image says in Settings.

[2017-02-21 12:04] sirkkalap commented on #2379
<img width="526" alt="screenshot 2017-02-21 14 03 28" src="https://cloud.githubusercontent.com/assets/703699/23164187/97555a12-f83e-11e6-854b-fb2bcafd4a5e.png">

[2017-02-22 00:05] daniel-lalaina-movile opened #2382 "LaravelMailCssInlinerServiceProvider not found"
Hello guys:

I have Cachet running for a long time on v2.4, today I have made:
artisan down
git pull
composer install --no-dev -o

And now I'm getting the error below for artisan up, could you help me ?

PHP Fatal error:  Class 'Fedeisas\LaravelMailCssInliner\LaravelMailCssInlinerServiceProvider' not found in /movile/Cachet/vendor/laravel/framework/src/Illuminate/Foundation/ProviderRepository.php

[2017-02-22 01:16] daniel-lalaina-movile commented on #2382
I was able to solve this by:
- backing up and removing the current dir
- cloning and checking out to 2.4
- running composer install --no-dev -o
- putting my .env
- running php artisan app:update
- running php artisan up

[2017-02-22 01:16] #2382 closed

[2017-02-22 04:22] #2372 closed

[2017-02-22 04:24] OzWookiee commented on #2373
RESOLVED

The issue comes from MySQL not having any timezone information loaded by default.  Follow the steps listed here: https://dev.mysql.com/doc/refman/5.7/en/time-zone-support.html

Perhaps this can be listed in the documentation? Or is that too basic?

[2017-02-22 06:48] amolsh commented on #2108
Is this feature available now? In which release?

[2017-02-22 12:51] sirkkalap opened #2383 "Ignore missing metric points in average metric"
Hi,

Would it be possible to ignore missing metric points when calculating average graph?

Any average metric now decays towards the default value, when measurements are not present for every minute.

We would like to record service response times to a metric and we do not wish to run response time tests every minute.

Thus the average currently contains missing metric points every other minute an

[2017-02-22 13:11] sheepeatingtaz opened #2384 "Unable to change status on Components"
Running Cachet v2.3.9 on Ubuntu 16.04.

Whenever I try to change a component status I get a server 500 error, whether being done through the Dashboard or through the API. My Log is filled with entries like the following:

[code]
`

Can someone point me in the right direction of what is going wrong please?

[2017-02-22 13:18] sheepeatingtaz commented on #2384
I should add, this used to work, but now doesn't. I'm not sure when it stopped, as things have been fairly stable so haven't needed to update status for a while!

[2017-02-22 18:42] jbrooksuk commented on #2108
We don't support LDAP I'm afraid @amolsh.

[2017-02-22 23:34] mm-manageit commented on #2328
Just to throw something out there.... Soft Deletes will cause issues with certain regulators in some industries. Just like simply disabling users accounts on a network, but not ever deleting is a major no-no. In addition if you had a user that requested their account be removed, but really wasn't is another potential headache.

[2017-02-23 02:18] MatthewSH commented on #2328
@mm-manageit I understand where you're coming from there. This isn't a software that I can see having that issue, however. Really, though, if someone asks you to delete their account. Even with soft deleting, it is deleted to the software itself, unless of course you call them that is. I think that for instances like that, you should put something in your terms of service stating that deleting an

[2017-02-23 11:39] dwydler commented on #2375
I do not know what to look for.
But i can give you access to a windows 7 via teamviewer if you want.

[2017-02-23 18:24] ngrhd commented on #2132
@BossManFergie It would be very nice of you if you could please share the custom made .htaccess

[2017-02-23 19:35] BossManFergie commented on #2132
@ngrhd
[code]

[2017-02-23 19:48] jbrooksuk commented on #2328
Good point. One way around this would be for us to create a `cachet:archive` command which permanently deletes all soft-deleted data. We'd have to allow for configuring the frequency of this, but that's no biggie.

[2017-02-23 19:49] jbrooksuk commented on #2384
Can I see the full logs, please?

[2017-02-23 19:50] jbrooksuk commented on #2373
Ping @GrahamCampbell @joecohens

[2017-02-23 19:50] jbrooksuk commented on #2373
Whoops. Should we be using the `timestampTz` columns, in an ideal world?

[2017-02-24 07:20] sirkkalap commented on #2379
Hi,

I went to the build environment and checked the version this was happening.
The actual tag that the container was built from was v2.3.10.

For some reason the UI is not reflecting that.

[2017-02-24 07:26] sirkkalap commented on #2383
To make this more tanglible, here is a picture of three component response times, that we are currently able to record with our monitoring:

<img width="985" alt="screenshot 2017-02-24 09 22 15" src="https://cloud.githubusercontent.com/assets/703699/23294208/f7cbc6a2-fa72-11e6-8200-320e75bce7fd.png">

There are missing data points where the response time is 0. The average for hourly, weekly and so

[2017-02-24 17:11] matematrix commented on #2363
Sorry for the late answer, but still I can't get it to work.

[2017-02-25 13:58] Bananenbaas commented on #2362
Sorry for the late reply, but yeah I did run `composer install --no-dev` and it gives me this error: `Script php artisan optimize --force handling the post-install-cmd event returned with error code 255`

I'm using PHP 7.0.15-0ubuntu0.16.04.2 (cli) ( NTS )

[2017-02-26 02:27] Madhu1512 opened #2386 "2.4 release"
Any timeline on 2.4 release?

[2017-02-26 03:08] GrahamCampbell commented on #2386
No date set yet I'm afraid. :)

[2017-02-26 03:08] #2386 closed

[2017-02-27 10:17] Vultur opened #2388 "Change location of language options"
Just like WordPress or Windows，the language options should be on the first page。

[2017-02-27 10:29] icy opened #2389 "SLA calculation"
Is there anyway to calculate SLA , uptime number,... automatically from the Cachet Incidents?

Thanks

[2017-02-27 14:24] max-l-weaver commented on #2338
Is there any ETA for this enhancement please? I'm just trying to figure out whether it's worth waiting or if it's going to take a while I might as well try and hack it myself.

[2017-02-27 18:50] jbrooksuk commented on #2389
@CachetHQ/core any thoughts on generating the SLA? We could return this in one of the API endpoints.

[2017-02-27 19:24] jbrooksuk commented on #2338
Should be done now.

[2017-02-27 19:24] jbrooksuk commented on #2338
e156be6ce14ec5e88b8df95d141e5c2134b78df4

[2017-02-27 19:24] #2338 closed

[2017-02-27 19:27] jbrooksuk commented on #2388
First page being what?

[2017-02-27 19:28] jbrooksuk commented on #2383
Response Time should be a metric that Cachet supports, it's a common metric to display.

Would you be happy to submit a pact for this?

[2017-02-27 19:29] jbrooksuk commented on #2379
Are you able to see files within the container? If so, can you share the contents of the `VERSION` file please?

Ping @djdefi.

[2017-02-27 19:51] #2384 closed

[2017-02-27 19:51] jbrooksuk commented on #2384
This definitely works in v2.4 — not sure what's happened for you.

[2017-02-28 01:30] Vultur commented on #2388
@jbrooksuk the Language preferences,Just like the WordPress installation process

[2017-02-28 04:27] anhtiki commented on #2389
I've noticed that CachetHQ records start time of an event, but not the end time. We may need both to calculate SLA.

[2017-02-28 07:02] jbrooksuk commented on #2388
I've not used Wordpress in a few years now. What do they do with their language preferences which is different?

[2017-02-28 07:09] Vultur commented on #2388
![cd27cd134954092391655f869558d109b2de494b](https://cloud.githubusercontent.com/assets/15240953/23395066/9b8ba986-fdc7-11e6-803a-cdd9e7cb9cde.png)

Installation the first step is to select language preference, the next configured server, user accounts...

Just a matter of sequence of steps, but it will be more friendly for users

[2017-02-28 09:38] sirkkalap commented on #2383
I would very much like to be able to develop Cachet, but unfortunately my php is way old and outdated.

I will take a look and report back.

[2017-02-28 13:43] sirkkalap commented on #2379
Sure, here goes
[code]

[2017-02-28 13:46] sirkkalap commented on #2379
The actual version tag that I used to build the container is:
[code]

[2017-03-01 10:12] sukhada369 opened #2390 "Customizing CachetHQ Component status"
Is there any way to modify the Component status in CachetHQ?

[2017-03-01 14:45] omtr commented on #486
+1

[2017-03-01 14:45] omtr commented on #486
:)

[2017-03-01 15:01] saamo opened #2391 "Install Cachet on Heroku"
Hey guys, could anyone of you please tell me how to install it on Heroku step-by-step? I'm lost.

[2017-03-01 16:14] brianjking commented on #2391
@saamo -- AFAIK Cachet is no longer supported on Heroku. Check out #557 and [this blog post](https://blog.alt-three.com/dropping-native-heroku-support/).

If you're looking for a good PaaS that you can use with Cachet with an easy installer checkout [Openshift](https://www.openshift.com/) using [Openshift Cachet](https://github.com/ALinuxNinja/openshift-cachet) by @ALinuxNinja.

[2017-03-01 17:23] jbrooksuk commented on #2391
Yeah, Cachet no longer officially supports Heroku.

Brian's comment should help other directions though.

[2017-03-01 17:23] #2391 closed

[2017-03-01 18:49] TLMcNulty opened #2392 "Performance Settings/Documentation"
Is there any insight into performance at various scales? We're playing with deploying Cachet into enterprise and are trying to find a baseline for system performance; hits per seconds, memory, storage, etc.

[2017-03-02 13:37] RickB17 opened #2396 "New Feature Enhancement: Maximum option for calculation of metrics display"
It would be great if the "calculation of metrics" had an option for "max value". This would be helpful when attempting to report on the maximum or high water mark of a metric over a period of time.

![image](https://cloud.githubusercontent.com/assets/704271/23509277/40e11a36-ff23-11e6-8e84-dda624edaa52.png)

[2017-03-02 14:12] TobiTenno opened #2397 "Feature Request: Option to Allow zooming or truncation of data in metrics"
As a site admin, I need to be able to give accurate metrics on the fly to my consumers. Presently, the metrics, if all close in value and the value isn't relatively low, are ambiguous.

For example. Having a metric of average uptime where you are always very close to 100 doesn't allow  consumers to see the .01% variation from time to time of uptime.

[2017-03-02 14:51] eyalzf opened #2398 "add component API fails intermittently"
I'm using node.js as a service for creating and updating components. From time to time adding a component fails with ECONNRESET.

On a possibly related note I see **Failed connect to api.github.com:443** error in Cachet log. The Emoji feature is turned off and I didn't set github token.

Cachet version: 2.4.0-dev
DB: MySQL

[2017-03-02 21:43] jzielke opened #2399 "Incident Process Flow"
First, thanks for a wonderful status program.

I have questions on how to use the incident process.  I have searched the docs looking for a description on how the incident flow works.  I see the Demo Site creates a new incident with a different status.

I understand you can create an incident and it emails the Subscribers a New Incident Email.

How do update the incident?  If I edit it, it does no

[2017-03-02 22:11] saamo commented on #2391
Thanks, guys. I know that there is no Heroku Button anymore... But how can I install Cachet on Heroku manually? Is it even possible to run it successfully? I'm stuck on this now:

[code]

[2017-03-02 23:44] awalls opened #2400 "Unable to send emails via Postmark SMTP"
Hi,

I am trying to send email via Postmark SMTP servers but I keep getting the following error message below:

[code]

My .env file includes:

[code]

When for example I send an invite to a colleague to the UI tells me it has been sent but a minute later when the job queue is processed I can see the error above in logs. I am using the same Postmark server on another account on my server running a

[2017-03-03 08:46] jbrooksuk commented on #2379
We use [Github Markdown CSS](https://github.com/sindresorhus/github-markdown-css) for styling our Markdown content in incidents, so we only need to override it.

[2017-03-03 08:49] jbrooksuk commented on #2400
I've not used Postmark before but I'll try and take a look tonight to see what settings you need.

Looking at the [Developer Documentation](http://developer.postmarkapp.com/developer-send-smtp.html), it suggests trying `25, 2525, or 587` as port numbers. Could you try all three variations, please?

[2017-03-03 08:51] jbrooksuk commented on #2390
Not yet there isn't. It's something I'd like to implement, but it's not high on the list yet.

There is quite a lot of work needed to do this:

1. Move translations for Component and Incident statuses into the database.
2. Add a way of retrieving the database translations.
3. Swap _all_ existing code where the status names are used for the new system.

[2017-03-03 08:53] jbrooksuk commented on #2399
This is something we're sorting out in v2.4 😄

Pre-v2.4 the workflow is to create a new incident - obviously, this isn't very nice hence the update.

You can see this change at https://dev.cachethq.io

[2017-03-03 08:53] #2399 closed

[2017-03-03 08:54] jbrooksuk commented on #2392
We're yet to benchmark Cachet at any particular scales. That said, I know Cachet is used in large enterprise scenarios and we're yet to be told it's performing slowly.

I know @ConnorVG has a few ideas on how we can further improve performance, so he can jump in and let you know.

[2017-03-03 08:55] jbrooksuk commented on #2396
Okay, so if the submitted metric point value is higher than the max, what happens? Do we silently ignore, or report that it's too high?

[2017-03-03 08:57] awalls commented on #2400
Thanks @jbrooksuk. Have tried all three ports and same issue.I am also double checking with server provider the ports are open but we are using Postmark via SMTP on a different account on this server and it is working ok there.

[2017-03-03 09:00] jbrooksuk commented on #2400
Okay, no problem. I will try tonight too.

[2017-03-03 09:25] sukhada369 commented on #2390
can we expect these enhancement in next release?

[2017-03-03 11:24] awalls commented on #2400
Just a quick update. I checked with our hosting provider and the IP address range for Postmark were not whitelisted on our server firewall even through the ports were open ok.

http://support.postmarkapp.com/article/800-ips-for-firewalls

Everything is working as it should at the minute. Thanks for looking into this. Will close the issue.

[2017-03-03 11:24] #2400 closed

[2017-03-03 11:51] RickB17 commented on #2396
I'm assuming one datapoint per minute. And the graph would show the highest data point per sample period when plotting.

[2017-03-03 15:06] TLMcNulty commented on #2392
Cool, as we spin this up we'll do some testing and documentation and see if we can contribute some information.

[2017-03-03 18:34] sirkkalap commented on #2383
Sorry, there was nothing I could do to this. The graph plotting seems to be fixed to contain continous points and it is not straight forward to support missing data points.

[2017-03-03 21:58] jbrooksuk opened #2401 "Endpoint to retrieve system status"
We have no way of retrieving the overall system status.

[2017-03-04 10:12] axilleas opened #2402 "Connect to database using Unix sockets"
Is it possible? I don't see an option https://github.com/CachetHQ/Cachet/blob/2.4/config/database.php.

Would it be fixed if we added a `unix_socket` option to `database.php`? The only thing I found in Laravel docs was https://laravel.com/docs/5.4/cache#driver-prerequisites, where in memcache they say:

I wonder if it works the same with mysql/postgres.

[2017-03-04 10:44] jbrooksuk commented on #2401
We did have a status 😊 but we didn't include the status, https://github.com/CachetHQ/Cachet/commit/883fdb56dcc87023f926b058652dce9d129a6d14

[2017-03-04 10:44] #2401 closed

[2017-03-04 16:18] axilleas commented on #2402
I was able to make it work with:

[code]

I had to remove `DB_PASSWORD` and `DB_HOST` from `.env` to make it work. It would be nice to document that :)

[2017-03-04 16:18] #2402 closed

[2017-03-04 16:58] jbrooksuk commented on #2402
Feel free to submit edits to our documentation at https://docs.cachethq.io 😄

[2017-03-04 17:37] jbrooksuk commented on #2398
You'll also need to add `CACHET_EMOJI=false` to your `.env` file. It's off by default in the `.env.example` file too.

[2017-03-04 17:37] #2398 closed

[2017-03-04 17:38] jbrooksuk commented on #2397
I reckon this might be a Chart.js function...

[2017-03-04 17:38] jbrooksuk commented on #2390
Likely not, maybe the version after, it all depends as v2.4 is taking a lot longer than we originally anticipated (as there is a lot to do 😄)

[2017-03-04 17:40] #2380 closed

[2017-03-04 19:32] axilleas commented on #2402
I will :)

[2017-03-05 11:51] jbrooksuk commented on #2402
Awesome! Thanks :)

[2017-03-05 16:35] wolfgang42 opened #2405 "Two-factor auth flow should ignore spaces in token"
I enabled two-factor auth and then panicked because I couldn't log in any more. This turned out to be because the Google Authenticator app displays the code in two halves, like `123 456`, but the authentication code is expecting the digits all together, like `123456`. The auth flow should probably strip the spaces from this field before checking it, so that both ways work as expected.

[2017-03-05 17:40] jbrooksuk commented on #2405
Nice observation!

[2017-03-05 17:42] jbrooksuk commented on #2405
Fixed in https://github.com/CachetHQ/Cachet/commit/2742797897a8ecbda549b8fe62e527bc30c162c0

[2017-03-05 17:42] #2405 closed

[2017-03-05 20:47] jimmybrancaccio opened #2406 "Incident Ordering on Home Page"
I've attempted to search for an answer to this question but have come up empty handed. Is there anyway to sort how incidents are ordered on the home page. For example, I had two incidents yesterday, the first one displayed first (happened at 9am) and the second one displayed second (8pm), sounds normal? Ha. But I want it displayed so that the one that happened more recently is displayed on top. Fr

[2017-03-06 08:08] jbrooksuk commented on #2406
You'll be pleased to know that we've already fixed this in the next release; https://github.com/CachetHQ/Cachet/commit/a0f2d6642ef7112122a39392559e9511a0edbcab

[2017-03-06 08:08] #2406 closed

[2017-03-06 09:52] sukhada369 opened #2407 "CachetHQ metrics usecase"
Hi,

Can you please elaborate on the use cases for which metrics can be useful?

[2017-03-06 15:36] ShadowFM opened #2408 "2FA Recovery Codes"
If I add the 2FA on my account I don't need to verify it.
So if I add the option and log out the account is over.

[2017-03-06 17:12] max-l-weaver opened #2409 "500 Error when updating incident"
OS: Ubuntu 16:04
PHP Version: 7.1
Cachet Version: 2.4.0-Dev

Create an incident
User goes to update incident and gets a 500 error.
Subscribers still get a notification saying 'incident updated' yet the incident remains in the previous state.
Logs below:
[code]

[2017-03-06 20:58] jimmybrancaccio commented on #2406
That's awesome. I tried looking through PRs too but I guess the wording is a bit different then I was looking for. Thanks @jbrooksuk! 👍 Looking forward to 2.4!

[2017-03-06 21:44] OzWookiee opened #2410 "Email Notification not using correct app.name"
I am getting notification emails that are showing "Cachet" as the app.name instead of our correct setting

[code]
resources/views/vendor/notifications/email.blade.php line 72:
[code]
Mysql Settings: http://imgur.com/1xrQcps

Email Notificaiton: http://imgur.com/KFaNsGN

[2017-03-06 22:19] OzWookiee commented on #2410
I have done a config and cache clear and still getting the same issue.

[2017-03-06 22:41] jbrooksuk commented on #2406
No problem!

[2017-03-07 00:21] OzWookiee opened #2411 "Error when inviting Team Members"
After entering email address to invite team members (/dashboard/team/invite) get a 500 error. Cachet logs show the following:
`
[2017-03-07 11:17:25] production.ERROR: exception 'ErrorException' with message 'Undefined property: CachetHQ\Cachet\Bus\Events\User\UserWasInvitedEvent::$user' in /var/www/Cachet/app/Bus/Events/User/UserWasInvitedEvent.php:56
`
Full stack trace: http://pastebin.com/Ypmrw

[2017-03-07 01:39] OzWookiee opened #2412 "Write documentation for Incident Updates"
When will Updates get POST/PUT in the API  :) ??

https://docs.cachethq.io/reference#incidentsidupdates only lists GET's

[2017-03-07 04:23] brianjking commented on #2407
Showing uptime percentages, ping response time, etc.

<img width="910" alt="screenshot3-6-1722 23" src="https://cloud.githubusercontent.com/assets/6786817/23641699/81be95b0-02bb-11e7-884e-bedb8eb802f0.png">

[2017-03-07 06:11] sukhada369 opened #2413 "Formatting of Scheduled Maintainance"
When I add an link in [title] (link) format, the way it is displayed on the screen is weird.

![image](https://cloud.githubusercontent.com/assets/12746279/23643959/e62df454-032a-11e7-8919-4f67833de979.png)

What I added to the description box is as follows:
This is a demo scheduled maintenance:
- this is line 1 [link](https://www.google.com/)
- this is line 2 [link](https://www.google.com/)
- this

[2017-03-07 09:57] max-l-weaver commented on #2409
I believe this is related to this recent enhancement:
https://github.com/CachetHQ/Cachet/blob/2.4/app/Notifications/IncidentUpdate/IncidentUpdatedNotification.php#L77

[2017-03-07 16:39] Jamesking56 commented on #2375
I have IE11 at home, I'll try tonight on a clean install and report back here any console errors or anything @jbrooksuk

[2017-03-07 20:34] Jamesking56 commented on #2375
Update for you.

Just tested in Windows 10, IE 11.447.14393.0, Cachet v2.3.10 and I cannot reproduce the problem. I click 'delete' on an incident and it pops up with the SweetAlert asking for confirmation. When I accept the modal the page refreshes and the incident is gone.

Please can you clarify your specific issue @dwydler ?

[2017-03-08 22:38] jbrooksuk commented on #2375
Thanks @Jamesking56, I really appreciate that!

If we can get more info, I'll re-open the issue.

[2017-03-08 22:39] jbrooksuk commented on #2409
Is this fixed on the most recent commits?

[2017-03-08 22:40] jbrooksuk commented on #2413
What version of Cachet are you using?

Is it possible we could get a full screenshot of that window?

[2017-03-08 22:40] #2407 closed

[2017-03-08 22:48] jbrooksuk commented on #2412
We already have a full API for Incident Updates, we just haven't documented it yet 🙈

https://github.com/CachetHQ/Cachet/blob/2742797897a8ecbda549b8fe62e527bc30c162c0/app/Http/Routes/ApiRoutes.php#L73

[2017-03-08 22:49] jbrooksuk commented on #2412
I will do this, I promise!

[2017-03-08 22:53] jbrooksuk commented on #2411
I've made a short-term fix for this, but what I want to update invites to we store which user invited them.

[2017-03-08 22:53] OzWookiee commented on #2412
Ahh awesome. Will go through that when I get back to work!

[2017-03-08 22:53] jbrooksuk commented on #2411
https://github.com/CachetHQ/Cachet/commit/c9a5363c171c37692c5f9bfa0c3b67061306367b

[2017-03-08 22:53] #2411 closed

[2017-03-08 22:53] jbrooksuk commented on #2412
I just linked to one of the endpoints by the way. I've also updated the title of the issue :)

[2017-03-08 22:55] jbrooksuk commented on #2410
Whoops! This should be the status page name, not Cachet anyway.

[2017-03-09 09:02] fgth commented on #2347
Hi all,
same problem here : default language to French and the dates on dashboard stay in english (not only the weekday, all the date). Waiting for your opinion. Tanks.

[2017-03-09 09:08] fgth commented on #2374
Hi,
with last 2.0.4-dev installed from git I have another strange béhavior : the last hour is now correctly selected, but display only the default value, on all points, not the real values. Values exist in the metric (checked in mysql). Thanks for suggestions.

[2017-03-09 09:20] fgth opened #2414 "Metric only display points from page 1"
Hi again,
I start using metrics yesterday, by downgrading the script by Axiacore (automatic updates from Uptime Robot) for Python 2.7. All was fine but this morning I see that the graph stops at 23 pm yesterday. Checking in Mysql I can see that the points exist from yesterday to now.
After some requests, I found that the datas displayed was only these on page 1 :
curl -X GET -H "Content-Type: appl

[2017-03-09 09:45] dwydler commented on #2375
Sorry for the delay... After the comment from @Jamesking56 i tested it on Windows 10 (same version) and there it does not work. I use the latest git version of cachet (2.4.0-dev).

[2017-03-09 09:47] dwydler commented on #2357
@jbrooksuk
Why did you close the issue?

[2017-03-09 09:55] Jamesking56 commented on #2375
@dwyler have you tried the latest stable v2.3.10?

[2017-03-09 11:07] fgth opened #2415 "Previous/Next "week" must be "range""
Hi again again again :)
Just a remark about the legend of buttons "previous week", "next week" : if I understand correctly, it select the previous/next range (sets in application settings/number of days to show) not only a week, so perhaps they should be renamed ?

[2017-03-09 11:16] fgth commented on #2414
Oooops. Strange, so strange... At 12pm, the graph suddenly display the right points, from midnight to now... I'm sure that wasn't a problem with cache (tested in a private firefox window). I don't understand what happens. If you agree, I leave this issue opened for some times and will close it if the problem doesn't reappear.

[2017-03-09 14:11] genzj opened #2416 "Does database need periodical cleanup?"
After being integrated into Icinga monitor system as event handler, several unstable services generate many incidents everyday. Does the database need cleanup periodically to save room? If so, how should I do that?

Thanks a lot!

[2017-03-09 17:57] dwydler commented on #2375
@Jamesking56 No. Why i should install an old version? For reference?

[2017-03-09 18:04] classicyuppie opened #2417 "500 Error when visiting site"
I installed from the git source. Log file below. I have already tried `chmod -R 777 storage` and `rm -rf bootstrap/cache/*` with no joy.

[2017-03-09 18:02:07] production.CRITICAL: Symfony\Component\Debug\Exception\FatalThrowableError: Fatal error: Call to undefined function Illuminate\Cache\apc_fetch() in /var/www/Cachet/vendor/laravel/framework/src/Illuminate/Cache/ApcWrapper.php:32
Stack trace:

[2017-03-09 18:06] classicyuppie commented on #2417
I have already tried `chmod -R 777 storage` and `rm -rf bootstrap/cache/*` with no joy.

[2017-03-09 19:12] jbrooksuk commented on #2417
You're missing the APCU extension 👍

If you can't install this, please try a different queue driver.

[2017-03-09 19:12] #2417 closed

[2017-03-09 19:14] jbrooksuk commented on #2416
How many incidents are we talking? You could implement an archiving tool.

[2017-03-09 19:14] jbrooksuk commented on #2375
@Jamesking56 you can try on https://demo.cachethq.io

[2017-03-09 19:14] jbrooksuk commented on #2375
Do you have anything in the console?

[2017-03-09 19:15] jbrooksuk commented on #2415
This has been brought up a few times now, I should really fix it 🙈

[2017-03-09 19:18] #2415 closed

[2017-03-09 19:21] jbrooksuk commented on #2414
What version of Cachet were you using?

[2017-03-09 19:23] jbrooksuk commented on #2374
I think we might need to look into metrics again. I know @GrahamCampbell has said a few times that the current implementation isn't good enough. See https://github.com/CachetHQ/Cachet/issues/2092

[2017-03-09 19:33] jbrooksuk commented on #2347
@joecohens I've looked into it... Carbon doesn't support locales exactly like the Date package... http://carbon.nesbot.com/docs/#api-localization

Reckon we revert? 😞

[2017-03-09 19:34] fgth commented on #2414
It's (last) 2.4-dev

[2017-03-09 19:35] jbrooksuk commented on #2357
I'm confident that it's not a Cachet issue. I've tested this on our https://dev.cachethq.io instance and it worked. We can still continue to provide help though.

[2017-03-09 19:35] jbrooksuk commented on #2414
Hmmm... We really do need to finalise metrics.

[2017-03-09 19:44] #2347 closed

[2017-03-09 19:44] jbrooksuk commented on #2408
I suppose one way would be recovery codes. We should implement these at some point too!

[2017-03-09 19:54] jbrooksuk commented on #2347
I've reverted.

[2017-03-09 20:03] classicyuppie commented on #2417
I was able to install this, but I'm now getting a 404 error on the `/setup` page.

[2017-03-09 20:11] jbrooksuk commented on #2417
Did you follow the installation docs?

[2017-03-09 20:15] classicyuppie commented on #2417
Yes. I am down to the section where you run `php artisan app:install` and at the "Clearing cache..." step I get:

[code]

I've installed successfully installed APC and added it to php.ini and restarted php7.0 already at this point.

[2017-03-09 20:42] classicyuppie commented on #2417
Looks like I was able to get this working with `try_files $uri $uri/ /index.php?$query_string;` in my nginx config.

[2017-03-09 21:10] jbrooksuk commented on #2417
👍

[2017-03-09 22:04] dwydler commented on #2347
It works, thanks!

[2017-03-10 02:21] genzj commented on #2416
about 100 incidents in last 12 hours. could you please give me a clue which table(s) I should pay attention to?
thanks a lot.

[2017-03-10 09:11] TheoBearman opened #2419 "Error Loading Log from Admin Dashboard"
500 error thrown when selecting _Log_ option from the admin dashboard.

Error log is as follows:

`[2017-03-10 09:09:27] local.ERROR: exception 'ErrorException' with message 'file_get_contents(/var/www/html/Cachet/storage/logs/laravel-2017-03-10.log): failed to open stream: No such file or directory' in /var/www/html/Cachet/app/Http/Controllers/Dashboard/SettingsController.php:273
Stack trace:
#0

[2017-03-10 09:13] TheoBearman opened #2420 "Toggling of Weeks in Home Page"
I cannot seem to be able to toggle to the previous week in the _Past Incidents_ section of my home page. Could this be something do to with 9a56625f0980e14cab3fb5e6711cdaa2878995a1?

[2017-03-10 09:50] omtr opened #2421 "How to translate?"
Not an issue, just a question: what is the best approach to makes changes in the language files?
edit the file in /resources/lang/<mylanguage>? obviously the changes do not take effect, i guess i have to commit them or maybe just clear the cache...?
Can you give me a hint how to do it the right way?
Thanks!

[2017-03-10 10:56] williamsdb opened #2422 "Timeout error connecting to SES"
I'm trying to setup subscriptions but when I try to subscribe the connection to SES is being timed out.

Looking at the logs I can see this:

    production.ERROR: exception 'Swift_TransportException' with message 'Connection to tcp://email-smtp.us-east-1.amazonaws.com:465 Timed Out'

Surely this should be tls:// and not tcp:// as that is what the setting is in .env?

[2017-03-10 11:22] fgth commented on #2347
Confirmed ! Thank for reactivity !

[2017-03-10 11:23] fgth commented on #2415
It's OK, with only "Previous" / "Next".
Thanks !

[2017-03-10 11:32] fgth commented on #2414
Well.. I'm not sure today about what I've seen :/
The graph, like yesterday, finished by "23:00", but I discover that the preceding hours was correct.
for ex : in "last 12 hours" mode, at 10am this morning, we had on axis from 22:00 to 9:00, and the last value was... "23:00". Can't remember if it was the same thing yesterday.
At 12pm like yesterday, the graph now display all the correct hours.

I

[2017-03-10 14:33] checkium opened #2423 "Component continues at major outage even after all the incidents are marked as fixed"
![image](https://cloud.githubusercontent.com/assets/9268058/23798929/932c4924-059e-11e7-83d5-880217c74f14.png)

[2017-03-10 17:22] dwydler commented on #2375
How can i get the console output?

I also do some tests on your demo installation. There I could delete incidents, but you use there version 2.3.11-dev.

[2017-03-10 17:25] dwydler commented on #2357
Here the output of the directory rights:
(14:20:01) [Cachet] ls -lsa | grep "bootstrap"
  4 drwxrwxrwx  4 re946346 nobody   4096 Mar  9 22:57 bootstrap

(14:24:41) [Cachet] ls -lsa bootstrap/ | grep "cache"
4 drwxrwxrwx  2 re946346 nobody 4096 Mar  9 23:01 cache

So the webserver user re946346 can access the dirs.

What should I check next?

[2017-03-10 17:58] jbrooksuk opened #2424 "Investigate log files"
[code]

[2017-03-10 20:19] btbjosh commented on #912
So it sounds like from this thread that you cannot put a haproxy in front of your cachet docker container and have it redirect from http to https?... Is this true? I don't want to go down this path of trying to install if this functionality is not there.

[2017-03-10 21:36] jbrooksuk commented on #912
You can add to `./config/trustedproxies.php` I think?

[2017-03-10 21:37] jbrooksuk commented on #2357
Is all of `./bootstrap` and it's sub-directories writeable?

[2017-03-10 21:38] jbrooksuk commented on #2375
I think in IE you press F12?

[2017-03-10 21:38] jbrooksuk commented on #2423
The status is also based on the overall status of your components. Your Website component needs updating too.

[2017-03-10 21:38] #2423 closed

[2017-03-10 21:40] jbrooksuk commented on #2422
Are you setting `MAIL_DRIVER` to `ses`?

[2017-03-10 21:40] checkium commented on #2423
@jbrooksuk If I update it manually it will trigger a second email saying it was manually changed beyound the "issue as been fixed" one

[2017-03-10 21:40] jbrooksuk commented on #2421
You can submit translations to https://translate.cachethq.io and we'll merge them in.

[2017-03-10 21:41] jbrooksuk commented on #2423
What version of Cachet are you using?

[2017-03-10 21:42] jbrooksuk commented on #2420
Sorry @TheoBearman I'm confused? All we've done is change the pagination links to Next and Previous instead of Next Week and Previous Week.

[2017-03-10 21:42] checkium commented on #2423
@jbrooksuk 2.3.9

[2017-03-10 21:42] jbrooksuk commented on #2419
Interesting...

[2017-03-10 21:43] williamsdb commented on #2422
No it is set to smtp.

[2017-03-10 21:43] jbrooksuk commented on #2419
Funnily enough, when you refresh it should then work as a log file is created.

[2017-03-10 21:46] jbrooksuk commented on #2419
Hacky fix incoming.

[2017-03-10 21:46] #2419 closed

[2017-03-10 21:49] jbrooksuk commented on #2422
@GrahamCampbell or @joecohens might be of more help here. I haven't used SES I'm afraid.

[2017-03-10 21:52] williamsdb commented on #2422
Thanks @jbrooksuk. SES is just like any other smtp server. The problem here seems to be the tcp:// bit when it really ought to be tls://.

[2017-03-11 08:41] omtr commented on #2421
i know that i can submit them and i already did, but sometimes i want some translations that are useless for public use, such as brand names or special use cases.

[2017-03-11 10:13] jbrooksuk commented on #2422
https://medium.com/@dsabar/how-i-built-a-status-page-for-our-app-for-5-month-8951a1e65cd2#.d5uzivq73

This guy used SES :)

[2017-03-11 10:21] dwydler commented on #2357
Yes, see here:
(11:18:10) [Cachet] ls -laR bootstrap/
bootstrap/:
total 24
drwxrwxrwx  4 re946346 nobody 4096 Mar  9 22:57 .
drwxr-x--- 12 re946346 nobody 4096 Mar 10 14:20 ..
-rw-r-----  1 re946346 nobody 1418 Mar  9 22:57 app.php
-rw-r-----  1 re946346 nobody 1345 Mar  9 22:57 autoload.php
drwxrwxrwx  2 re946346 nobody 4096 Mar  9 23:01 cache
drwxrwxrwx  2 re946346 nobody 4096 Mar 10 14:20 cache

[2017-03-11 10:25] TheoBearman commented on #2420
See my install here: https://status.theobearman.com/

I am not presented with these options.

[2017-03-11 10:27] TheoBearman commented on #2419
Fixed. Cheers!

[2017-03-11 10:46] dwydler commented on #2375
ah, you mean the dev tools in the browser. :-)

console output:
SCRIPT5009: "Promise" ist undefiniert
Datei: all-82aa10ad4b.js, Zeile: 1405, Spalte: 12217

debugger output:
http://pastebin.com/Pj9bmzGT

[2017-03-11 14:44] pietroos opened #2425 "Error 500"
Hi, i used [this](https://docs.cachethq.io/v1.0/docs/installing-cachet) tutorial for installing Cachet but the server give me a 500 error. Why?

[2017-03-11 14:45] pietroos commented on #2425
My OS is:  Debian 7.11
PHP version is: 5.5.38-1~dotdeb+7.1

[2017-03-11 14:46] omtr commented on #2425
what does your error.log say?

[2017-03-11 15:48] pietroos commented on #2425
Im using Apache2

The log say:

[Sat Mar 11 08:46:15 2017] [notice] Apache/2.2.22 (Debian) configured -- resuming normal operations
[Sat Mar 11 08:53:02 2017] [notice] caught SIGTERM, shutting down
[Sat Mar 11 08:55:24 2017] [notice] Apache/2.2.22 (Debian) configured -- resuming normal operations
[Sat Mar 11 08:57:36 2017] [notice] caught SIGTERM, shutting down
[Sat Mar 11 08:57:37 2017] [notice]

[2017-03-11 15:53] omtr commented on #2425
obviously you got a malformed apache httpd.conf.
http://stackoverflow.com/questions/21265191/apache-authtype-not-set-500-error

[2017-03-11 16:42] #2425 closed

[2017-03-11 16:44] pietroos commented on #2425
Now give this problem:

http://image.prntscr.com/image/ad00b4a3e88d4fa89d58fd9d8eef9c12.png

[2017-03-11 17:07] pietroos opened #2426 "Error 404"
Hi,

Cachet give me this error:

http://image.prntscr.com/image/ad00b4a3e88d4fa89d58fd9d8eef9c12.png

Why?

[2017-03-11 18:25] omtr commented on #2426
post your httpd.conf, your .env (don't forget to delete your passwords) and your URL, if possbile.

[2017-03-11 20:14] classicyuppie commented on #2091
I have to agree with @lnxslck - [this is something I'm needing for my own project](https://github.com/CachetHQ/Cachet/issues/2091#issuecomment-244009066). We have several metric points on the same graph for multiple components which doesn't make it easy to compare for multiple components on the _same_ graph.

[2017-03-12 01:18] checkium opened #2429 "Metric set to average acting strange"
Hi, I'm running cachet 2.3.10 and I have a metric set to average:
![image](https://cloud.githubusercontent.com/assets/9268058/23828167/496ce590-06c1-11e7-87cf-4879a92ad018.png)
The problem is that, for example, right now the value is 19718, and if I send another point some minutes later with a value of 500, it will then display 19968.
I can't find from where that number comes, it seems to almost a

[2017-03-12 16:20] gregorkistler opened #2430 "Component status isn´t calculated properly in 2.4.0-dev"
Hi,

really great project btw :)

Yesterday I´ve installed a fresh instance from scratch using:

Ubuntu 16.04.2 LTS 4.4.0-66-generic
PHP 7.0.15-0ubuntu0.16.04.4
psql (PostgreSQL) 9.6.2
Redis server v=3.0.6 build=687a2a319020fa42
nginx/1.11.10
Kemp Loadmaster 7.2.37.1 (HTTPS redirect and SSL termination)

as well as the current Cachet Github repo: 2.4

php artisan cachet:version reports: Cachet 2.4

[2017-03-12 18:56] jbrooksuk commented on #2430
Interesting...

[2017-03-12 18:56] jbrooksuk commented on #2429
Correct, that can be configured via the threshold.

[2017-03-12 18:56] #2429 closed

[2017-03-12 19:21] jbrooksuk commented on #2375
We can polyfill `Promise`. I'll sort it.

[2017-03-12 19:24] jbrooksuk commented on #2375
Hmm, we need to rewrite the JS to handle this.

[2017-03-12 19:24] jbrooksuk commented on #2091
@classicyuppie makes sense. Metrics really need a complete rewrite to fix a few of issues with them. We could also do with a better way to graph them too.

[2017-03-12 19:33] jbrooksuk opened #2431 "Fix required fields in Safari"
http://caniuse.com/#search=required

`required` fields in Safari don't prevent form submissions. We have two options:

1. Add more validation to the commands, ensuring that any failed attempts to do something redirect the user back with their submitted data (this should happen anyway).
2. Polyfill the `required` attribute. Not ideal, but it prevents the form from being to be validated on the serve

[2017-03-13 21:26] OzWookiee commented on #2412
using this end point for an incident I'd just created (id:8) /api/v1/incidents/8/updates and the following body:
[code]
I get this response
[code]

This is the version information:
[code]

[2017-03-14 08:42] emillod opened #2432 "Issues with installation on shared hosting"
Hello, i want to install cachet on shared hosting, but my hosting doesn't support node.js.. Can i install cachet on hosting without node.js?

[2017-03-14 14:51] williamsdb commented on #2422
Well SES doesn't work for this guy so I have removed the subscribe option :-(

[2017-03-14 16:20] BlackYoup opened #2433 "Edit an incident update"
Hi,

Is it planned to be able to edit an incident update ? Like, I made a typo in the update and want to edit it instead of doing it myself in the database :-)
I couldn't find an issue speaking about this use case.

Thanks !

[2017-03-15 13:38] willallen opened #2434 "Component status not rolling up to component group status"
Hi guys -

I am a really big fan of the tool and I am getting ready to it out to our production environment. I have worked through a few issues but I am stumped on one of them.

When I update a component status the status changes on the dashboard but in some cases (not all) the component group status does not update. We have seen this issue before and in order to resolve we deleted all components

[2017-03-15 21:42] jbrooksuk commented on #2433
Yes :)

[2017-03-16 08:24] TheoBearman commented on #2420
Bump.

[2017-03-16 08:53] BlackYoup commented on #2433
I'm gonna close this if that's the case, thank you !

[2017-03-16 08:53] #2433 closed

[2017-03-16 13:29] sirkkalap commented on #2383
After using Cachet for a while I think this was a misunderstanding. I am not sure, but the average seems ok even with multiple 0 default values between actual measurements.

I am closing this, the current implementation is adequate.

[2017-03-16 13:29] #2383 closed

[2017-03-16 21:29] OzWookiee opened #2435 "Today's issues are not in the Past"
It's a little strange that if an incident is reported **now()** then it appears under the heading **Past Incidents**.

http://imgur.com/1pQQSKJ

I just created the above issue so it is not in the past. Past Issues also implies that the issue was previously resolved. Now there is **kind of** a work around in that I can make the issue sticky **but** the issue also appears in the Past Issues list as

[2017-03-17 09:54] GLundh commented on #486
Perhaps we can just mark these days with a special css class, to make is easy to hide them using custom css?

[2017-03-17 18:33] GoMDTerps opened #2437 "Allow multiple components to be selected for an incident"
As a user, I would like to be able to select multiple components for an incident so that I may report an issue across multiple platforms.

[2017-03-17 20:36] jbrooksuk commented on #2437
Duplicate of https://github.com/CachetHQ/Cachet/issues/1844 :)

[2017-03-17 20:36] #2437 closed

[2017-03-17 20:37] jbrooksuk commented on #486
@GLundh feel free to submit a PR :)

[2017-03-17 20:38] jbrooksuk commented on #2435
Yes and no. The heading is perhaps a bit misleading. In the new design this won't be an issue.

[2017-03-17 20:38] #2435 closed

[2017-03-17 20:40] jbrooksuk commented on #2420
@TheoBearman looking at your API you don't have any incidents? https://status.theobearman.com/api/v1/incidents we only show those buttons if there is anything to go back to.

I don't think this is a bug, unless you're losing data.

[2017-03-17 20:43] jbrooksuk commented on #2434
The system status bar is also counting Incidents. The reason I implemented this is because Incidents can be unrelated to the Components as a whole.

Thoughts?

[2017-03-17 20:43] jbrooksuk commented on #2422
@GrahamCampbell do we have SES for StyleCI setup? Can you test this?

[2017-03-17 20:44] jbrooksuk commented on #2432
Cachet does not require Node.js, that's only for development. That said, Cachet doesn't support shared hosts.

[2017-03-17 20:44] #2432 closed

[2017-03-17 20:46] jbrooksuk commented on #2412
Can you provide the `laravel.log` file too please?

[2017-03-17 20:47] jbrooksuk commented on #2383
👍 awesome :)

[2017-03-17 21:07] emillod commented on #2432
But i remember that Cachet supported shared hosting, am i wrong?

[2017-03-17 21:07] jbrooksuk commented on #2426
Thanks for reporting this. To help we need to know:

- What URL are you trying to access?
- What version of Cachet?
- What web server?

[2017-03-17 21:08] jbrooksuk commented on #2421
You can create your own language directory if you wanted? Set the `fallback_locale` to whatever language you want, and `locale` to the language you create.

[2017-03-17 21:08] #2421 closed

[2017-03-17 21:09] #2420 closed

[2017-03-17 21:09] jbrooksuk commented on #2420
Let me know if you have more info 😄

[2017-03-17 21:11] jbrooksuk commented on #2388
We do need a new setup page, so this could be done then. This is up for grabs!

[2017-03-17 21:14] jbrooksuk commented on #2432
Not out of the box, but with a bit of effort it might 🙂

[2017-03-17 21:17] emillod commented on #2432
Do you have any Official tutorial to install Cachet on CentOS 7? I want to install Cachet in lan network..
Thanks for reply 😄

[2017-03-17 22:04] TheoBearman commented on #2420
Correct. Thanks for the clarification James. Wasn't aware that the presence of incidents was a condition!

[2017-03-18 03:36] willallen commented on #2434
@jbrooksuk that makes total sense. Any ideas on why the component (business intelligent) and component (sap) aren't matching up? It is a mixed bag, some components update the component group and some don't.

[2017-03-18 07:42] jbrooksuk commented on #2420
😊

[2017-03-18 07:43] jbrooksuk commented on #2434
What version of Cachet? I think I fixed this in either 2.4 or the new design branch :)

[2017-03-18 08:44] jbrooksuk commented on #2422
You should be able to set:

[code]

[2017-03-18 08:44] #2426 closed

[2017-03-18 08:50] #2410 closed

[2017-03-18 08:53] jbrooksuk commented on #2430
Wait, wait, did you have any non-fixed incidents open at the same time? The status bar is calculated with both components and incidents.

[2017-03-18 09:05] jbrooksuk commented on #2375
Let me know if v2.4 works for you now.

[2017-03-18 09:06] #2392 closed

[2017-03-18 09:27] emillod commented on #2432
I try to install Cachet with this tutorial: https://sysadmincollective.blogspot.com/2016/05/installing-cachet-on-centos-7.html

But i have issues with php-xml, because Cachet require PHP 5.6 version. Do you have any idea how to fix this ?
/open

[2017-03-18 09:40] gregorkistler commented on #2430
Nope, when I made the first screenshot my setup contained only one (happen also with more than one) component, no incidents at all.

Incidents were involved in the second one.

[2017-03-18 09:50] jbrooksuk commented on #2432
You need to add the missing extensions 👍

[2017-03-18 09:51] emillod commented on #2432
I know that, but i can't find php-xml for PHP 5.6 ... haha :D

[2017-03-18 09:59] dwydler commented on #2375
I have done a update the the newst git version.

Output:
HTML1300: Navigation wurde ausgeführt.
Datei: incidents
SCRIPT5009: "Promise" ist undefiniert
Datei: all-0c984282c4.js, Zeile: 23, Spalte: 1237

Debugfile: https://my.pcloud.com/publink/show?code=XZlTc6ZyuFpK6OdkjuAsdDi6t8AhQuawIhk

[2017-03-18 09:59] jbrooksuk commented on #2430
💥 found the issue! All fixed.

[2017-03-18 10:00] #2430 closed

[2017-03-18 10:01] jbrooksuk commented on #2432
Can't you do `yum --enablerepo remi install php-xml`?

[2017-03-18 10:02] dwydler commented on #2432
Try `yum install php-xml`

[2017-03-18 10:06] emillod commented on #2432
I tried this, but "Can't find package php5.6-xml"

error: Package php-xml-5.4.45-13.el7.remi.x86_84
          Require: php-common(x86-64) = 5.4.45-13.el7.remi
          Already installed:  php-common-5.6.30-1.el7.remi.x86_64 (@remi-php56)

[2017-03-18 10:08] jbrooksuk commented on #2379
This isn't an issue in v2.4 :)

[2017-03-18 10:08] #2379 closed

[2017-03-18 10:09] #2350 closed

[2017-03-18 10:15] jbrooksuk commented on #2413
This was caused by using a link in the `list-group`.

[2017-03-18 10:16] #2413 closed

[2017-03-18 10:16] jbrooksuk commented on #2396
Would you be able to make a PR?

[2017-03-18 10:17] jbrooksuk commented on #2416
Ping @ConnorVG something to investigate for performance!

[2017-03-18 10:18] dwydler commented on #2432
Read follow comment:
https://github.com/puphpet/puphpet/issues/2221#issuecomment-195035556

[2017-03-18 10:21] gregorkistler commented on #2430
Sweet!

Thank you

[2017-03-18 10:45] emillod commented on #2432
OK, but:
1. I have php-common 5.6* (Cachet require php 5.6 ^)
And when i try to install php-xml my system have problem because php-xml have version 5.4 and require php-common with version **5.4**

here you have error in polish:

--> Ukończono rozwiązywanie zależności
Błąd: Pakiet: php-xml-5.4.16-42.el7.x86_64 (base)
          Wymaga: php-common(x86-64) = 5.4.16-42.el7
          Zainstalowano: php-

[2017-03-18 12:19] willallen commented on #2434
We are on 2.3.9!

[2017-03-18 13:39] jbrooksuk commented on #2434
In which case were fixed in the next version :)

[2017-03-18 13:39] #2434 closed

[2017-03-18 18:40] TheoBearman opened #2441 "500 Thrown on Load"
Install at: [https://status.theobearman.com](https://status.theobearman.com)

Error:

`[2017-03-18 18:37:43] local.CRITICAL: exception 'Symfony\Component\Debug\Exception\FatalErrorException' with message 'syntax error, unexpected '->' (T_OBJECT_OPERATOR)' in /var/www/html/Cachet/app/Integrations/Core/System.php:53
Stack trace:
#0 {main} {"identification":{"id":"e65315e4-c39d-401c-b480-48a4debbc05e

[2017-03-18 18:48] GrahamCampbell commented on #2441
Yeh. I think Cachet will be dropping support for PHP 5 soon though.

[2017-03-18 18:55] GrahamCampbell commented on #2441
This should probably fix it: https://github.com/CachetHQ/Cachet/pull/2442.

[2017-03-19 10:05] #2441 closed

[2017-03-19 11:50] TheoBearman commented on #2441
Fixed. Cheers 😄

[2017-03-19 22:05] OzWookiee commented on #2410
Here is the log from today after repeating the above.
[code]

Log file: [laravel-2017-03-19.log.txt](https://github.com/CachetHQ/Cachet/files/853609/laravel-2017-03-19.log.txt)

[2017-03-19 22:06] OzWookiee commented on #2412
Here is the log from today after repeating the above.
[code]

Log file: [laravel-2017-03-19.log.txt](https://github.com/CachetHQ/Cachet/files/853609/laravel-2017-03-19.log.txt)

[2017-03-20 07:11] johnbboyd opened #2445 "HTTP 500 Error on Fresh Install - CentOS 7"
I'm getting HTTP 500 Error on fresh Install

Environment -

CentOS 7, PHP 5.6, Httpd, git checkout v2.3.9

Tutorial I followed -

https://docs.cachethq.io/v1.0/docs/installing-cachet

httpd]$ more error_log
[Mon Mar 20 07:01:08.551988 2017] [core:notice] [pid 19824] SELinux policy enabled; httpd running as context system_u:system_r:httpd_t:s0
[Mon Mar 20 07:01:08.553323 2017] [suexec:notice] [pid

[2017-03-20 08:13] jbrooksuk commented on #2445
You need to make the `storage` and `bootstrap/*` directories writeable 👍

[2017-03-20 08:13] #2445 closed

[2017-03-20 08:55] williamsdb commented on #2422
Well that give a different error but not one I understand!

I have double checked the credentials and they are definitely correct and the same as used on other services on the same server.

[code]

[2017-03-20 09:00] jbrooksuk commented on #2422
The error says:

I know you say you're using them already, but can you check it's all configured correctly 100% on your side and AWS?

[2017-03-20 09:34] johnbboyd commented on #2445
I did already

chmod -R 777 storage
chmod -R 777 bootstrap/

They have 'drwxrwxrwx.' permission

[2017-03-20 10:27] williamsdb commented on #2422
So to prove that the credentials are correct I installed PHPMailer into the Cachet folder and the put the following script into /public. I copied the credentials from the /.env file. Because I don't want my SES credentials in Github I have removed them from here and you will have to trust that I am capable of cutting and pasting!

When I ran the script originally I got a time out just like I do wi

[2017-03-20 14:39] ogghi commented on #2282
Hi, I'd like to have a similar thing: I would like to have the possibility to put metrics **below** the status incidents.

[2017-03-20 15:20] TheoBearman opened #2446 "500 Error when Creating Scheduled Maintanence"
Having just updated to Ubuntu 16.04 from 14.10, I have reinstalled Cachet and am testing functionality. The database was migrated over from Ubuntu 14.10. I have not changed my database settings.

`[2017-03-20 15:18:22] local.ERROR: Swift_TransportException: Expected response code 250 but got code "550", with message "550 5.4.6 Mail rate exceeded limit. <a href=https://mail.zoho.com/UnblockMe targe

[2017-03-20 15:55] TheoBearman commented on #2446
Closed. This was a mail server issue.

[2017-03-20 15:55] #2446 closed

[2017-03-20 17:32] max-l-weaver commented on #2409
this is still happening.
Just checked out latest commit:

[code]

[2017-03-21 03:41] oznorts opened #2450 "Multiple emails sent out when reordering, editing components"
When I reorder components or edit them (but don't edit the status of them) my subscribers get a ton of emails saying the status was updated, when it really wasn't.

[2017-03-21 03:43] oznorts opened #2451 "Say Group Name on Notification Updating and Honor Ordering"
It's confusing on the notification management page for subscribers to see a ton of options but not be able to see what component group they're in.  A label before the name of the component saying the group name would be perfect.

Additionally, the order there is all out of whack, not following the order I set on the Component page in the dashboard.

[2017-03-21 08:14] jbrooksuk commented on #2451
The dashboard does display the group name, at least in v2.4

![](https://cldup.com/w2mMi7rlzR.png)

You're right that the orders are incorrect though!

[2017-03-21 08:14] jbrooksuk commented on #2450
Is this in v2.4 or v2.3?

[2017-03-21 08:15] jbrooksuk commented on #2446
👍

[2017-03-21 08:16] jbrooksuk commented on #2282
Well, @ConnorVG has written the module system in Cachet, so it should actually be possible to order these I believe?

[2017-03-21 08:17] jbrooksuk commented on #2422
@GrahamCampbell any idea what's going on here?

[2017-03-21 13:57] oznorts commented on #2450
v2.3 — haven't used v2.4 yet.

[2017-03-21 16:24] lilbil94 opened #2452 "Installing multiple cachet instances with docker on the same server"
I want to install several images of cachet with docker on the same server, and binder them with different port (http://status1.ca:80, http://status2.ca:81), I have an ubuntu server 16.04 with  Docker version 17.03.0-ce, and docker-compose version 1.8.1 , could you please share any ideas on how to achieve this?
thanks.

[2017-03-21 18:33] PietsHost commented on #2409
i've got the same problem.. it was working yesterday and now i'm just getting "Internal Server Error"

[2017-03-21 23:21] jimmybrancaccio commented on #1951
@GrahamCampbell & @jbrooksuk I understand Cachet doesn't control the Markdown rendering here. I assume some 3rd party Markdown rendering library is being used? What needs to be done to correct this as this is not correct. Should the rendering library be updated or replaced? Newlines should be properly rendered/displayed.

[Source](https://daringfireball.net/projects/markdown/syntax#p).

[2017-03-22 10:40] edda opened #2453 "Custom Stylesheet: Inline images get corrupted on save"
I'm trying to add inline images to my custom stylesheet. However whenever I save the custom stylesheet some post processing is done to it which breaks the CSS.

**base64 encoded images:**
the "data:image/type;base64" part is removed

Example:
[code]

after save looks like this:
[code]

**URL-encoded SVG:**
URL-encoded inline SVGs are decoded:

Example:
[code]

after save looks like this:
[code]

I

[2017-03-22 13:48] sirkkalap opened #2454 "Google Analytics failed to work"
For some reason I had to edit `./resources/views/partials/analytics.blade.php` to get Google Analytics to work.

On line **7** I had to write:
`ga('create', '{{ $app_analytics }}', 'auto');`

The site I was working on is [status.digitraffic.fi](status.digitraffic.fi) .

Google Tag Assistant plugin for Chrome reported errors without this change and statistics were not received in Google Analytics.

[2017-03-22 16:33] TWG-Matt opened #2455 "Subscribers Page Improvements"
I'm running the 2.4.0-dev build and noticed that when you are in the Subscribers list, you have to delete them one by one.  It would be nice if there was a bulk option for quick deletion.

[2017-03-22 16:34] TWG-Matt opened #2456 "Subscriber Verification"
I've been trying to verify a test subscriber but each time it returns a 400 error on the url link I'm emailed.

I'm running the 2.4.0-dev build.

[2017-03-22 18:18] TWG-Matt opened #2457 "How to update dev build"
I was following the instructions you had on your site for the update but I didn't notice the 2.4.0-dev build in there for updating.  Am I missing something?

[2017-03-22 18:21] TWG-Matt opened #2458 "No Maintenance Page"
I just put my installation of Cachet in maintenance mode using ```php artisan down``` and I don't get a maintenance page.  I get a 503, Houston we have a problem page.

Running: 2.4.0-dev

[2017-03-22 18:33] PietsHost opened #2459 "Wrong timestamps in metric points"
actually I'm using v2.4.0-dev (installed yesterday).

So far, everything is OK but the metric points..

i've checked everything now, but I can't figure out, where the problem is.

I post a new metric point:
`curl -H "Content-Type: application/json;" -H "X-Cachet-Token: XXXXXXXXX -H "Time-Zone: Europe/Berlin" --request POST --url https://mypage.de/api/v1/metrics/3/points --data '{"value":100}'`

th

[2017-03-22 18:43] PietsHost commented on #2457
because v2.4.0-dev isn't tagged right now..

just run `git clone https://github.com/CachetHQ/Cachet.git`, `cd Cachet` and then `composer install --no-dev -o --no-scripts`

[2017-03-22 21:34] rotondom opened #2460 "Question: Best way to add a hyperlink to the status page"
Hello,
I would like to know if there is a good way to add a hyperlink to either the 'about this page' section or within the body of an incident.  I have not been able to find any combination of flags that will allow me to do this.
Thanks,
Matt

[2017-03-22 21:37] jbrooksuk commented on #2460
You can use Markdown :)

`[Link text](http://google.com`

[2017-03-22 21:37] #2460 closed

[2017-03-23 00:55] AutoJukebox opened #2461 "Running Cachet with Plesk?"
Is it possible to run Cachet along side plesk?

[2017-03-23 03:30] nixmomo commented on #2461
Yes no problem with plesk....give your plesk account the ssh chroot for composer and all is fine

[2017-03-23 03:36] AutoJukebox commented on #2461
Would i be able to run it off a subdomain? i.e status.mydomain.com

[2017-03-23 03:40] nixmomo commented on #2461
Sure, take a look at https://status.dl-host.info
It's a backup plesk server where the site is up and running in a sub domain

Regards

[2017-03-23 07:59] jbrooksuk commented on #2461
:)

[2017-03-23 07:59] #2461 closed

[2017-03-23 16:30] Moogleson86 opened #2462 "Change Manage Subscription Button in Subscriber Notification Email"
We would like to see the Manage subscription button in a subscriber notification email to actually link to the current Incident that is triggering the email.

[2017-03-23 16:30] wcom939 opened #2463 "Scheduled Maintenance screen data verification issue"
Hi,

The scheduled maintenance screen entry field does not force non-null timestamps for the "When did this maintenance complete?" field which causes a 500 error if submitted with a null timestamp.

Additionally when a scheduled maintenance is added where can I find this on the main status page?

Thanks,
Dan

[2017-03-23 17:12] Moogleson86 opened #2464 "Ability to Provide an Information Update to a Component"
This would allow notifications such as release notes broadcasted to all subscribers or even feature updates, or just general information updates. This doesn't actually trigger an incident or be associated with an incident.

[2017-03-23 19:41] TWG-Matt commented on #2457
I see there is a --no-dev flag won't that **not** install the dev?

[2017-03-23 19:47] PietsHost commented on #2457
Just try it..

[2017-03-23 20:50] EH-Nathan opened #2465 "Failed to open Stream /../vendor/autoload.php"
Hello, When i generate the PHP key i get the following error:

php artisan key:generate

PHP Warning:  require(/var/www/vhosts/mysite/mysubdomain/bootstrap/../vendor/autoload.php): failed to open stream: No such file or directory in /var/www/vhosts/mysite/mysubdomain/bootstrap/autoload.php on line 28

I'm currently on the latest version of PHP and Composer

[2017-03-23 22:44] jbrooksuk commented on #2465
Have you ran `composer install`?

[2017-03-23 22:44] #2465 closed

[2017-03-23 22:45] jbrooksuk commented on #2457
You need to check out the `2.4` branch. There are no tags for the dev builds yet 😄

So the process is:

1. `cd $CACHET` (your Cachet installation directory)
2. `git fetch origin`
3. `git checkout 2.4`
4. `composer install --no-dev -o`
5. `php artisan app:update`

[2017-03-23 22:45] #2457 closed

[2017-03-23 22:45] EH-Nathan commented on #2465
Yes, I am on the latest version on Composer

[2017-03-23 22:45] jbrooksuk commented on #2464
So you'd want to update meta information on a component?

[2017-03-23 22:46] jbrooksuk commented on #2465
Did you run `composer install --no-dev -o` from within your Cachet directory though?

[2017-03-23 22:47] jbrooksuk commented on #2463
Are you using Safari? I'm sure that the field is `required`, but I could be wrong.

Scheduled Maintenance appears below the metrics (if you have any).

[2017-03-23 22:48] jbrooksuk commented on #2462
Which button in the email, sorry? Why wouldn't the "manage subscription" button take you to a page to manage the subscription?

[2017-03-23 22:49] jbrooksuk commented on #2456
Ping @joecohens

[2017-03-23 22:49] jbrooksuk commented on #2455
Is this within the dashboard?

[2017-03-23 22:50] jbrooksuk commented on #2454
What version of Cachet is this? 😄

[2017-03-23 22:50] wcom939 commented on #2463
Using Firefox 52.0.1

All fields are required (including the start datetime field but not the scheduled to datetime field; at least as far as the browser is concerned).

Thanks!
Dan

[2017-03-23 22:51] jbrooksuk commented on #2454
I've fixed this in v2.4 :)

[2017-03-23 22:52] #2454 closed

[2017-03-23 22:53] jbrooksuk commented on #2452
Can you open this on the [Docker](/CachetHQ/Docker) repo please?

[2017-03-23 22:53] #2452 closed

[2017-03-23 22:53] jbrooksuk commented on #2450
Ah, this is fixed in v2.4 as we now silence notifications when those type of updates are made :)

[2017-03-23 22:53] #2450 closed

[2017-03-23 22:54] Moogleson86 commented on #2462
The green button that is currently labeled as Manage Subscription. Can we move the function of that button to the link below that says unsubscribe and turn it into Manage subscription.

Ultimately, the idea is to provide a link to the current incident that is sending out the notification.
________________________________
From: James Brooks <notifications@github.com>
Sent: Thursday, March 23, 2017

[2017-03-23 22:55] Moogleson86 commented on #2464
This would not be any information regarding the component, more of a separate kind of update in general.

________________________________
From: James Brooks <notifications@github.com>
Sent: Thursday, March 23, 2017 6:46:02 PM
To: CachetHQ/Cachet
Cc: John Scott; Author
Subject: Re: [CachetHQ/Cachet] Ability to Provide an Information Update to a Component (#2464)

So you'd want to update meta infor

[2017-03-23 22:55] EH-Nathan commented on #2465
So i did that now i get this strange install page

![ss 2017-03-23 at 06 54 12](https://cloud.githubusercontent.com/assets/26636030/24273724/51431608-0ffa-11e7-87ec-37e1aad28129.png)

[2017-03-23 23:03] jbrooksuk commented on #2465
Looks like you haven't configured the Apache site properly. https://docs.cachethq.io/docs/installing-cachet#section-running-cachet-on-apache

[2017-03-23 23:08] EH-Nathan commented on #2465
Hmm, Everything looks good on my part, Any specific thing from the installation that could cause that?

[2017-03-24 01:05] oznorts commented on #2451
Actually, I just updated to 2.4.0 and it looks just like I wanted in it!

[2017-03-24 01:05] #2451 closed

[2017-03-24 04:42] joecohens commented on #2456
Could you share the url you are testing? I tested the functionality and it's working for me. Thanks!

[2017-03-24 07:46] jbrooksuk commented on #2465
Likely an incorrect VHOST?

[2017-03-24 10:43] oxlay opened #2466 "Accent in author field makes RSS feed invalid"
Could you please update the roumen/feed library to include the fix? It was merged two days ago : https://github.com/RoumenDamianoff/laravel-feed/pull/64

Thanks !

[2017-03-24 14:45] tcrall commented on #2434
I'm seeing this behavior, and I'm running 2.5.0-dev

[2017-03-24 18:35] TWG-Matt opened #2467 "Setup page details not carried over"
Running: 2.4.0-dev

When I ran the new installer, I entered my email setting but they were not carried over to the settings page.

[2017-03-24 18:37] TWG-Matt commented on #2467
I've also just noticed that if you try to update the mail settings they don't get saved.

[2017-03-24 19:41] joecohens commented on #2422
@williamsdb Can you try to send an email using the same credentials on a fresh Laravel installation please? Just so we can detect if this is a Cachet bug, Laravel bug or a credential permission error? Thanks!

[2017-03-25 01:15] willallen commented on #2434
@tcrall do you mean 2.4.0-dev?

[2017-03-25 02:08] tcrall commented on #2434
Am I misunderstanding this?

![Uploading Screen Shot 2017-03-24 at 9.05.47 PM.png…]()

[2017-03-25 07:46] williamsdb commented on #2422
@joecohens if you can tell me how to do that then yes.

[2017-03-25 11:38] jbrooksuk commented on #2434
I'm confused?

[2017-03-25 11:38] jbrooksuk commented on #2466
Sure can!

[2017-03-25 11:41] jbrooksuk commented on #2466
@RoumenDamianoff can you tag a new release, please?

[2017-03-25 12:51] RoumenDamianoff commented on #2466
@jbrooksuk [v2.10.5](https://github.com/RoumenDamianoff/laravel-feed/releases/tag/v2.10.5) is released today.

[2017-03-25 23:22] DanielRuf opened #2469 "Allow custom http headers"
In some cases it is helpful to add security headers (see https://securityheaders.io) to the requets in the frontend using some setting in the backend.

[2017-03-26 00:45] GrahamCampbell commented on #2469
This is something you should configure your webserver to add.

[2017-03-26 00:45] #2469 closed

[2017-03-26 00:47] DanielRuf commented on #2469
@GrahamCampbell I can not in this case as I am on a managed webhosting package and use PHP7 FPM and can not use the .htaccess file ;-)

[2017-03-26 00:48] GrahamCampbell commented on #2469
Please contact your webhost, or feel free to implement your own middleware and use that.

[2017-03-26 00:51] DanielRuf commented on #2469
@GrahamCampbell So I should add / change files in Cachet to solve this?

Unfortunately I am still stuck to this setup for a few more weeks until I move to a new server with the same hosting provider where I have PHP 7 as module by default (and can use .htaccess again to set the headers myself).

[2017-03-26 10:04] jbrooksuk commented on #2466
Thanks!

[2017-03-26 10:48] #2466 closed

[2017-03-26 18:47] willallen commented on #2434
@tcrall I am seeing this on 2.3.9. I can't see the upload but I don't think there is a 2.5 out there.

[2017-03-26 19:53] willallen commented on #2434
@tcrall just a heads up I just updated dependencies and that seemed to resolve all the issues. Not sure why but hope that works for you.

`composer install --no-dev -o --no-scripts`

[2017-03-27 08:17] oxlay commented on #2466
Great, thank you!

[2017-03-27 10:00] markus2000 opened #2470 "CORS not working"
Running 2.3.10. I have set the "Allowed domains" on the Security settings page to "http://test-cors.org,http://www.test-cors.org" which results in them being present in bootstrap/cache/config.php.

But when I test the CORS functionality (for example using the mentioned website to send a preflight CORS request), the `Access-Control-Allow-Origin` header is always missing.

[2017-03-27 14:09] tcrall commented on #2434
I can't seem to load screenshots for some reason, but my cachet dashboard sidebar underneath 'Credits' says '2.5.0-dev' - is that not the version?

[2017-03-27 14:10] tcrall commented on #2434
http://imgur.com/a/te7sS

[2017-03-27 19:00] EH-Nathan commented on #2465
I'm using Plesk with Cachet running under a subdomain, Is that an issue?

[2017-03-27 19:17] nixmomo commented on #2465
No, Cachet works fine with Plesk... Can you Post the Webservers Logs? Looks that there is an chmod issue or the server can't find css files

[2017-03-27 19:19] EH-Nathan commented on #2465
[Mon Mar 27 19:16:12.899073 2017] [autoindex:error] [pid 22145:tid 139774283187968] [client 71.69.192.58:45370] AH01276: Cannot serve directory /var/www/vhosts/mydomain/status.mydomain/: No matching DirectoryIndex (at_domains_index.html,index.html,index.cgi,index.pl,index.php,index.xhtml,index.htm,index.shtml,index.cfm) found, and server-generated directory index forbidden by Options directive
[Mo

[2017-03-27 19:26] nixmomo commented on #2465
`<Directory "/var/www/vhosts/dl-host.info/status.dl-host.info/Cachet/public">
	Require all granted
	# Used by Apache 2.4
	Options Indexes FollowSymLinks
	AllowOverride All
	Order allow,deny
	Allow from all
</Directory>`
Add this to your Webserver Settings in your hosting account...
Is mod_rewrite active? Do you have the htaccess file with this content
`<IfModule mod_rewrite.c>
    <IfModule mod_ne

[2017-03-27 19:39] EH-Nathan commented on #2465
https://puu.sh/v0otp/7e766ffd76.png

Verified the Vhost, I do have to .htaccess and i have looked extensively into the installation doc with no luck.

[2017-03-27 19:42] nixmomo commented on #2465
Pls check my post again.. githubs markdown makes my post crazy... is your domain really ***.info? or did you blind copy & paste my code? you have to edit the Folder path and please check the root directory. It must be the public folder from cachet.. something like /var/www/vhosts/your-domain/sub.your-domain/Cachet/public/

[2017-03-27 19:43] EH-Nathan commented on #2465
I hid my domain in the screenshot. Some website require you to. So i usually just do it anyway

[2017-03-27 19:44] nixmomo commented on #2465
ok, do you have checked the document root in Plesk Hosting Settings for your subdomain?

[2017-03-27 19:46] EH-Nathan commented on #2465
Document root is /var/www/vhosts/mywebspace/mysubdomain

[2017-03-27 19:46] nixmomo commented on #2465
Change it to
    /var/www/vhosts/mywebspace/mysubdomain/Cachet/public/

[2017-03-27 19:50] EH-Nathan commented on #2465
Document Root is /var/www/vhosts/mywebspace/mysubdomain/Cachet/public/ and i updated it in the VHost Config.

Still this install page.

![ss 2017-03-27 at 03 49 50](https://cloud.githubusercontent.com/assets/26636030/24375086/155e2dd6-1305-11e7-99de-5105f76b0cd8.png)

[2017-03-27 19:52] nixmomo commented on #2465
do you use chrome or firefox? open the dev tools and take a look into the console from dev tools... what is he missing? css files?
Do you checked the chmods?

[2017-03-27 19:56] EH-Nathan commented on #2465
I have storage chmod to 777

This is the Devlog on chrome

dashboard-654ce9264c.css Failed to load resource: the server responded with a status of 404 (Not Found)
all-74bb70763d.js Failed to load resource: the server responded with a status of 404 (Not Found)
setup:1 This page includes a password or credit card input in a non-secure context. A warning has been added to the URL bar. For more inform

[2017-03-27 20:04] nixmomo commented on #2465
Plesk never run with chmod 777 ... use 755 for folders and 644 for files and disable mod_pagespeed... I'm not sure if that isn't your problem

[2017-03-27 20:15] EH-Nathan commented on #2465
I tried 755 and disabling mod_pagespeed. Same issue. Not sure what to do at this point.

[2017-03-27 20:18] nixmomo commented on #2465
Fileowner is your Plesk Webuser and Group psacln? Files have chmod 644? htaccess has really that content i posted earlier?

[2017-03-27 20:24] EH-Nathan commented on #2465
ls -l output

![ss 2017-03-27 at 04 24 02](https://cloud.githubusercontent.com/assets/26636030/24376426/d4d840c6-1309-11e7-81d5-1380b9c865dd.png)

[2017-03-27 20:27] nixmomo commented on #2465
can you post a ls -l from /Cachet/public/build/dist/css and js folder?

[2017-03-27 20:32] EH-Nathan commented on #2465
![ss 2017-03-27 at 04 31 23](https://cloud.githubusercontent.com/assets/26636030/24376717/e7479850-130a-11e7-9a04-a234ae0fd574.png)
![ss 2017-03-27 at 04 31 42](https://cloud.githubusercontent.com/assets/26636030/24376722/eda98848-130a-11e7-8072-8375b7ef28b5.png)

[2017-03-27 20:33] nixmomo commented on #2465
ok, can you now post the content from /Cachet/public/.htaccess ?

[2017-03-27 20:34] EH-Nathan commented on #2465
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

[2017-03-27 20:34] EH-Nathan commented on #2465
![ss 2017-03-27 at 04 34 30](https://cloud.githubusercontent.com/assets/26636030/24376822/4522fed8-130b-11e7-82f2-2cb897f84182.png)

[2017-03-27 20:36] EH-Nathan commented on #2465
Found then issue, When i inspect element and change the style sheet from /build/dist/css/dashboard-654ce9264c.css to /public/build/dist/css/dashboard-654ce9264c.css to works. How would i permanently change that?

[2017-03-27 20:40] nixmomo commented on #2465
hmm crazy... are you sure that your root directory is /var/www/vhosts/yourdomain/yoursbdomain/Cachet/public/ ?
Cause in that folder is the build directory but in /Cachet/public isn't a second public directory so it looks that your doc root isn't set correctly.

Check it again and restart your webserver to make sure the changes are active

[2017-03-27 20:43] EH-Nathan commented on #2465
You are a legend it works now. I had the root pointing to just /Cachet. My bad. Thanks for your help!

[2017-03-27 20:45] nixmomo commented on #2465
Great, Thanks a lot and you're always welcome.
So have fun with Cachet on Plesk :-)
Please don't forget to mark the issue as solved.

[2017-03-28 05:17] savaikar opened #2471 "Unable to load Cachet through browser"
I am setting up the Cachet for the first time and unable to load it through the browser. I can, however, load it through elinks via the command prompt.

Attached is the zip file of the logs. I managed to resolve most of them except this. I can assure that httpd is working fine.

Can somebody help?

[2017-03-28 05:20] savaikar commented on #2471
@ranjantomtom

[2017-03-28 05:22] savaikar commented on #2471
[laravel-2017-03-28.zip](https://github.com/CachetHQ/Cachet/files/874569/laravel-2017-03-28.zip)

[2017-03-28 05:22] savaikar commented on #2471
Attached the zip file of the entire logs.

[2017-03-28 12:09] markus2000 commented on #2470
More details:
The issue is that the response to a preflight request is _always_ missing the `Access-Control-Allow-Origin` and `Access-Control-Request-Headers` headers.

There are quite some issues around that topic in the [laravel-cors project](https://github.com/barryvdh/laravel-cors) — some of which point to modifying the `app/Http/Kernel.php` by adding `'Barryvdh\Cors\HandleCors::class'` to $mi

[2017-03-29 02:36] OzWookiee commented on #2459
I had a similar issue and it was resolved but making sure that MySQL had the correct Timezone tables installed which do not come default and need to be installed separately.

See here; https://github.com/CachetHQ/Cachet/issues/2373

[2017-03-29 07:15] PietsHost commented on #2459
I've seen your issue before I posted my issue :)

Timezone is set, but the problem still exists

[2017-03-29 09:20] franzliedke commented on #1999
@jbrooksuk Since we need this feature in order to use Cachet, I would like to implement this. Would you consider a MR for inclusion in 2.4.0 if I send it in time?

In any case, I would be happy if you could tell me what you would want this to look like? Just a new query parameter (or URL fragment) that gets applied in the `DashboardController`? Or also new interface elements in the dashboard that

[2017-03-29 20:33] stephenyeargin commented on #2108
So, I think this or #213 should remain open and tagged as a `future` road-map item instead of closing the :octocat: Issue. That will communicate to others that they could potentially pick it up. Closing the issue signals to most folks that it was either invalid or completed -- this falls somewhere in the middle (could be worked on, but not a small task). :heart:

[2017-03-29 20:54] OzWookiee commented on #2459
Ahh well, sorry that didn't work for you.

[2017-03-30 21:52] mekantor commented on #2422
@williamsdb I'm having the same issue and did the same verification with PHPMailer, did you have any further developments?

[2017-03-31 05:21] tcrall opened #2472 "Averaging metric data points"
The average calculated for metric data points seems to only include actual points recorded via the api endpoint, and not 'default' values.  So the graph shows my uptime as 100% all day except for 1 minute, but because I'm only sending metric values when the state changes from good to bad or from bad to good, the hourly and daily averages show exactly 0.5.

I'd like to avoid having to hit the api e

[2017-03-31 08:09] williamsdb commented on #2422
@mekantor no for now I have switched off that functionality. Happy to try with a fresh Laravel installation as @joecohens suggested but I don't know how to do that.

[2017-03-31 09:09] XnS opened #2473 "Adding metric point: "The value format is invalid.""
Hi,

when I try to add a new metric point with the API I receive the following error:

`{"errors":[{"id":"687302ce-d40e-4ffa-a822-c83c0c33ee94","status":400,"title":"Bad Request","detail":"The request cannot be fulfilled due to bad syntax.","meta":{"details":["The value format is invalid."]}}]}`

My request:
`curl --request POST --url https://demo.cachethq.io/api/v1/metrics/1/points --data '{"valu

[2017-03-31 09:22] fgth commented on #2414
I can confirm that until 12:00, the last or the two last hours on graph stay at 22 or 23:00. This screenshot was taken at 11:07. Than at 12:00, all return to normal.
![capture d ecran_2017-03-31_11-07-41](https://cloud.githubusercontent.com/assets/1536832/24544116/5d36f1ba-1602-11e7-85cd-c5fd54b910cd.png)

[2017-03-31 23:08] time4e opened #2474 "Error 500 Internal Server Error"
here are the logs:

Error 500
Houston, We Have A Problem.
Internal Server Error
What does this mean?

Something went wrong on our servers while we were processing your request. An error has occurred and this resource cannot be displayed. This occurrence has been logged, and a highly trained team of monkeys has been dispatched to deal with your problem. We're really sorry about this, and will work

[2017-03-31 23:13] time4e commented on #2474
I this per docs but no dice
If you get a 500 error when visiting your status page, you may need to run chmod -R 777 storage for it to work or rm -rf bootstrap/cache/*

You can also try to give permissions to cache chmod -R 777 bootstrap/
 did nto work

[2017-04-01 17:11] PietsHost commented on #2473
Wel.. it says "The value format is invalid".. so "2.50" is not working.. try "2" or "3" or maybe "2,50" ?

The 2nd request is saying "The value field is required".. so you haven't specified a value there

[2017-04-01 17:17] XnS commented on #2473
Hi,

1) doesnt work with natural numbers either, even if passed as string
2) query for all examples is the same, so the value is definitely there

Just run the example from the docs against demo.cachethq.io

[2017-04-01 17:24] PietsHost commented on #2473
Can you verify the same problem on a Live-Setup ? And not on demo.cachethq.io ?

Looks like the site is cloudflare-protected.. maybe there are some issues with their setup

[2017-04-02 09:25] jbrooksuk commented on #2474
Can you supply us with the actual log file from `./storage/logs` please?

[2017-04-02 13:28] jbrooksuk commented on #2464
Can you further explain, please?

[2017-04-02 13:29] jbrooksuk commented on #2108
Tagged as `up-for-grabs` :)

[2017-04-02 13:30] jbrooksuk commented on #1999
@franzliedke potentially... we really need to finish off #2325 though.

[2017-04-02 13:50] jbrooksuk commented on #2434
Assuming you're using Docker?

[2017-04-03 07:09] jbrooksuk opened #2475 "Add testing with Laravel Dusk"
Laravel Dusk will allow us to check that the frontend is running as we expect. We're able to run through the application as if we were a user.

[2017-04-03 08:23] franzliedke commented on #1999
@jbrooksuk Thanks. Can you also comment on the second part of my question?

How about only adding the filter to the controller for now, and pushing interface changes (i.e. exposing it through the interface) to a later release? That would solve our problems, and prevent any conflicts with #2325...

[2017-04-03 16:07] tcrall commented on #2434
yes

[2017-04-04 13:37] Pierre-Lannoy commented on #1319
Hi @acidconfusion !
Have you finally figured out how to solve this problem? (I have the same)

[2017-04-04 19:23] stephenyeargin commented on #2108
Excellent! I figure @jabarihunt probably got wrapped up in other things. Here is a [CodeIgniter based app](https://github.com/bbalet/jorani) that leverages some LDAP components for authentication that could likely serve as a starting point. I'd propose:

- [ ] Add a basic LDAP component to the Docker install with some default users ([this one](https://github.com/osixia/docker-openldap) looks scrip

[2017-04-05 17:19] x10Corey commented on #2362
I ran into this exact error also, using PHP70 from the REMI repository.

It turns out I was missing both php70-php-bcmath and php70-php-pdo, once I installed these packages the issue was resolved though no error or logs prior pointed to this being the issue.  Found it on the Laravel forums.

[2017-04-06 07:45] askxiaodong commented on #2361
I have the same problem.

I installed the system from github, version 2.3.10.

mysql> select * from metric_points;
+----+-----------+---------+---------+---------------------+---------------------+
| id | metric_id | value   | counter | created_at          | updated_at          |
+----+-----------+---------+---------+---------------------+---------------------+
|  1 |         1 | 101.000 |       1

[2017-04-07 09:28] SpecialZwerg opened #2477 "Posting incident with curl end in #500"
Hi,

i used the following command to post an incident:
curl -H "Content-Type: application/json;" -H "X-Cachet-Token: some_token" -d '{"name":"test","message":"test","status":1,"visible":1}' localhost/api/v1/incidents
results in:
{"errors":[{"id":"1b43a3ea-ae6d-4e3e-acd4-9cd3a86a4ef4","status":500,"title":"Internal Server Error","detail":"An error has occurred and this resource cannot be displayed.

[2017-04-07 23:21] amjad commented on #771
how long until this is implemented? been requested 2 yrs ago!

[2017-04-08 08:17] jbrooksuk commented on #771
https://github.com/CachetHQ/Cachet/commit/b8a9f41ae482a3b3e6f9d5748e44dd54cf3a8694

[2017-04-08 08:21] #2396 closed

[2017-04-08 08:22] jbrooksuk commented on #2477
You haven't sent any dates through. Dates are a required field.

[2017-04-08 08:23] jbrooksuk commented on #2477
Ignore my last response, I think I'm wrong.

[2017-04-08 08:25] jbrooksuk commented on #2477
I assume you're not using v2.4 here?

https://cloudup.com/cwONcf4k5Qm

I'm able to send the same data through and get an incident created.

[2017-04-08 08:25] #2477 closed

[2017-04-08 08:26] jbrooksuk commented on #2361
@askxiaodong did you follow the same instructions as https://github.com/CachetHQ/Cachet/issues/2361#issuecomment-277776264?

[2017-04-08 08:26] jbrooksuk commented on #2108
LDAP adds a lot of complexity so this needs to be handled correctly the first time it's implemented. We can absolutely work together on a PR for this.

[2017-04-08 08:27] jbrooksuk commented on #1319
@TheoBearman are you able to drop any advice here? I know you install on Windows a lot.

[2017-04-08 08:28] jbrooksuk commented on #1999
Yeah, if we have the code in place to do that sure. Accepting a PR :)

[2017-04-08 08:52] TheoBearman commented on #1319
@jbrooksuk It must be something to do with certain Apache extensions not being enabled but I wasn't able to isolate it when I took a look at @acidconfusion's install. To be honest, I got so frustrated with Windows I've been on the Linux gravy train for 8 months now!

[2017-04-08 08:55] TheoBearman opened #2478 "Error When Running Install Commands"
Pulling the latest commits and running the install command:

![djdjsks](https://cloud.githubusercontent.com/assets/6546590/24827448/b681a2d4-1c41-11e7-8099-8902388dc2f5.JPG)

[2017-04-08 09:29] amjad commented on #771
👍🏻

[2017-04-10 09:18] Aldarone opened #2479 "Class config does not exists, new install Debian 8, PHP5.6"
Hello !

I'm trying to install Cachet using the documentation.

I'm on tag v2.3.9, I'm using Debian Jessie on a RaspberryPi with php 5.6 from the official repository.

The command `composer install --no-dev -o` fails with this error :

[code]

Subsequently, when I'm launching `php artisan app:install` I get the same Exception :

[code]

[2017-04-10 19:04] jbrooksuk commented on #2479
You need to run `rm -rf bootstrap/cache{,t}/*`.

[2017-04-10 19:04] #2479 closed

[2017-04-11 07:15] Aldarone commented on #2479
Considering that it's a new install, those two directory are only containing .gitignore file at the time I first launched composer.

Anyway, that didn't work :

[code]

After that, there's still nothing in those :

[code]

Would you reopen the issue since it's not solved ?

[2017-04-11 08:57] Aldarone commented on #2479
Yes they are :

[code]

I'm launching every command as `www-data` or with `sudo -u www-data`

[2017-04-11 09:46] ThomLSA opened #2480 "No access for 3rd party plug-ins"
I'm using: https://github.com/gohiring/cachet-status, but this isn't working.

I receive the following error:
GET /api/components 404 (Not Found)
Request.init @ cachet-status.js?ver=1.0.0:56
Request @ cachet-status.js?ver=1.0.0:38
CachetStatus.init @ cachet-status.js?ver=1.0.0:16
CachetStatus @ cachet-status.js?ver=1.0.0:3
(anonymous) @ index.php:367
index.php:1 XMLHttpRequest cannot load /api/com

[2017-04-11 09:52] #2480 closed

[2017-04-11 17:40] jbrooksuk commented on #2470
Hmm, this looks like one for @GrahamCampbell. Is this something that we might want to set in the server config, instead of Cachet?

[2017-04-11 21:28] TheoBearman commented on #2478
Bump.

[2017-04-12 07:45] Naspyy opened #2482 "(Idea/Feedback) Changing the way 'Previous days' work (History)"
When clicking 'Previous days' you should get a list of previous outages and not just day by day (so if you search for an - for example - outage a month ago, depending on your settings it could be that you have to click the 'Previous days'-Button 30 times) like the [history of status.io](https://www.cloudflarestatus.com/history).

[2017-04-12 10:36] GuidoHendriks opened #2483 "New 2.3.x release?"
I'm experiencing some issues with API on 2.3.x. I noticed this is already fixed in the latest commits:
https://github.com/CachetHQ/Cachet/commits/2.3

Will there be any more 2.3.x releases or will there be a 2.4 release soon?

[2017-04-12 13:29] jbrooksuk commented on #2483
@GuidoHendriks I'll get a new release made tonight :)

[2017-04-12 13:31] jbrooksuk commented on #2482
This is something we're changing in [v2.4](https://github.com/CachetHQ/Cachet/pull/2325). You'll see a complete history with a breakdown for the month/year.

[2017-04-12 13:32] jbrooksuk commented on #2478
Are you on the latest 2.4 branch? I might need to add a missing dependency.

[2017-04-12 13:32] jbrooksuk commented on #2478
You could try running `composer install --no-dev -o` though, unless you're looking to dev Cachet?

[2017-04-12 15:12] felixoi opened #2484 "Delete button throws mixed content warning"
Hello,

I set up Cachet with a reserved NGINX Proxy which uses ssl. If I am logged in I get a mixed content warning. I think it's a bug with cachet because the configured Site URL starts with `https` and nginx passes `X-Forwarded-Proto`. The "delete" Button causes this warning.

This is the chrome warning:
[code]
Correct me if I made a mistake.

Thanks,
felixoi

[2017-04-12 17:31] Moogleson86 opened #2485 "Email Sending Delay"
Good morning,

I have an issue with email not being sent quickly. I have over an hour delay in email sending from our instance.

Any ideas or thoughts on a possible cause? I can provide any data needed.

Thanks

[2017-04-12 22:02] jbrooksuk commented on #2485
What queue driver are you using? What's your `crontab -e` output look like?

[2017-04-12 22:02] jbrooksuk commented on #2484
Might need further investigation in the JS here.

[2017-04-12 22:06] jbrooksuk commented on #2483
v2.3.11 is released https://github.com/CachetHQ/Cachet/releases/tag/v2.3.11

[2017-04-12 22:06] #2483 closed

[2017-04-12 22:10] jbrooksuk commented on #2479
Does follow the instructions at https://www.rosehosting.com/blog/install-cachethq-on-debian-7-vps/ help?

[2017-04-13 09:33] TheoBearman commented on #2478
`composer install --no-dev -o` makes no difference @jbrooksuk. I think it's a missing dependency.

[2017-04-13 09:52] Aldarone commented on #2479
Found it, it ws my bad. I had some spaces in my .env file that where not enclosed in "

Sorry for the trouble and thanks for you help !

[2017-04-13 14:38] Moogleson86 commented on #2485
Thanks for the reply,

The queue driver is as follows:
QUEUE_DRIVER=database

Also, the crontab -e is below:
* * * * * php /var/www/Cachet/artisan schedule:run >> /dev/null 2>&1

Thanks

[2017-04-13 17:27] Moogleson86 commented on #2462
Any further thoughts or ideas around my last update.

Our thoughts are that there is redundancy in the manage subscription and unsubscribe link. We would like to be able to provide a link to the incident that is being emailed about. Condensing the subscription functions into one link.

Thanks

[2017-04-13 18:44] ju5t opened #2488 "Component visibility"
Would it be possible to disable the visibility of a component and only display the high level status of the component group?

For example: we have a dozen webservers where each webserver is in a component group. If 1 or more webservers are offline that would be classed as a partial outage on a component group level. We're still able to deliver but we know there might be a loss in performance somew

[2017-04-13 20:58] cleberwarmling opened #2489 "Updating component status through API results unknown component status"
Updating component status through API results unknown component status.

 Cachet Version.: 2.3.11 running with Docker.

How to reproduce/example below.:

[code]

Someone has any idea of what is happening?

[2017-04-14 17:09] 2Belette opened #2490 "Sending mail from localhost"
Hi,

Anyone using the same host where Cachet is installed to send email without using external SMTP server?
What would be the best configuration for that and what would be the corresponding .env?
I made some tries but I haven't been able to make it work for now :(
Many thanks :)

[2017-04-15 21:15] emillod opened #2491 "How to install Cachethq on synology"
Hello i have NAS from Synology. I can install packages like node, perl and etc. I want to install cachethq on vhost.

[2017-04-17 00:32] Sade66 opened #2492 "Error 500 After Fresh Install"
Hello,
I have done a fresh install (with a new Ubuntu workspace) twice, resulting in the same error. I go through the setup and attempt to go to the dashboard, homepage, etc. and I get this error...

![image](https://cloud.githubusercontent.com/assets/19366945/25075474/86ed0510-22e3-11e7-9473-eebbbe65a1ec.png)

[Here is my Laravel log also.](https://gist.github.com/Sade66/4612ea1402e645ca78551a63e