[2014-11-16 23:20] jbrooksuk opened #1 "PDOException: Integrity constraint violation 19 NOT NULL constraint failed"
[code]

I rarely use SQLite, so it's probably an obvious error.

[2014-11-16 23:24] #1 closed, assigned to nobody

[2014-11-19 11:15] jbrooksuk opened #2 "Design"
Cachet needs a design which:
- [x] Allows for overrides on elements, logo, colours etc.
- [ ] ~~Supports multiple templates (maybe 2-3 of them).~~
- [x] Support for custom CSS to completely override a template.
- [x] Is easy to read and supports everything that is needed.

I'd be forever grateful if somebody wanted to give this a go? I'm not much of a designer myself.

For those who are interested

[2014-11-19 22:14] jbrooksuk opened #3 "API"
An API should be able to:
- [x] Create, modify and update components.
- [x] Create, modify and update incidents (also linking to components).
- [ ] Support third-party applications which can update statuses and messages.
- [x] Return components & incidents.
- [x] Save who created/last modified components or incidents.
- [x] Metrics API (#25)

[2014-11-19 22:16] jbrooksuk opened #4 "Metrics"
Displaying graphs of incidents per day could be useful for the more visually-inclined. [Chart.js](/nnnick/Chart.js) is super easy to use and produces sweet charts.

[2014-11-20 10:50] tomschlick opened #5 "Heroku Button Support"
It would be awesome to have the one click deploy to Heroku button added to the project!

https://blog.heroku.com/archives/2014/8/7/heroku-button

It looks pretty simple to implement and would surely increase the number of users that give it a shot! Heroku provides a free tier so it lowers the barrier to entry to almost nil...

[2014-11-20 11:09] jbrooksuk opened #6 "Subscribe Option"
Being able to subscribe to the status page would be a neat feature. Every time a component/incident is added the subscribers would get an email.

[2014-11-20 12:44] holyxiaoxin opened #7 "include a document on how to use it"
So far it looks like an interesting project. I would like to implement it into my app but I haven't find a way on how to use this. Since I have no background in laravel, I can't operate this app. Any further documentation? Thanks (:

[2014-11-20 19:35] #5 closed, assigned to nobody

[2014-11-20 19:43] jbrooksuk opened #11 "Dashboard"
There needs to be a way to add components and incidents to the database, as manually entering them does not provide an easy integration. A decent management panel for Cachet should include:
- [x] Modifying the administrator account. This account will be the one setup during install.
- [x] ~~Adding/modifying team users. These may have been setup during install.~~
- [x] Changing system settings. Tim

[2014-11-21 21:20] jbrooksuk opened #12 "Setup page"
When installing from Heroku, it'd be good to have some kind of setup page which:
-  [x] Setup required `app_name`, `app_url`, `show_support` settings.
-  [x] Creates an admin account.

[2014-11-22 22:29] casdr opened #14 "Class 'BadConfigKeyException' not found"
After installing Cachet, I'm getting the following error:

[code]

Screenshot:

![screenshot from 2014-11-22 23 28 44](https://cloud.githubusercontent.com/assets/7041290/5155914/6375ce1a-729f-11e4-9dfb-3bff18fc08a7.png)

[2014-11-22 22:59] #14 closed, assigned to nobody

[2014-11-24 17:00] jbrooksuk opened #17 "Caching"
Something that I've not really considered yet is caching of results. Every page refresh hits the database, so we should cache results, if only for a minute.
- [ ] Enable apcu for Heroku
- [ ] Configure cache settings per-environment

[2014-11-24 17:36] pedrommone opened #19 "Environment detection"
You should implement a environment detection or doc it if already exist.

[2014-11-24 17:45] #19 closed, assigned to nobody

[2014-11-25 07:00] rodymolenaar opened #23 "If needed"
If needed i could help design the HTML/CSS markup. Not much of a dev but i can design. Astral isn't responsive, would you want it to be? Because there are more possibilities in designing PC only (with mobile support).

[2014-11-25 07:01] #23 closed, assigned to nobody

[2014-11-25 08:54] jbrooksuk opened #24 "Customizable Component and Incident statuses"
At the moment the _human_ statuses are hard set, but it may be better if they were customizable. The reason for this is that the Status Page may want to be setup to be more friendlier for internal use perhaps, so things like "Partial Outage" don't make sense.

This would need some thought because obviously the UI would be built around the options, we'd run out of icons and colors too.

If we decid

[2014-11-25 09:46] #7 closed, assigned to nobody

[2014-11-25 09:57] jbrooksuk opened #25 "Metrics"
A way of adding/sending and displaying metrics would be cool. For example, you could send a metric to Cachet showing how many requests are being made each second, or latency etc. This relies on #4.

[2014-11-25 10:12] pedrommone opened #26 "Add an RSS feed."
Is useful get the events with RSS. I'm on my last week on college, soon I'll reach you with pull requests :)

[2014-11-25 13:12] Ehesp opened #31 "Use environment files"
To keep sensitive data out of the application/repository, use `.env` files where possible.
- Database Config
- Application key

[2014-11-25 13:44] HipsterBrown opened #32 "Moodboards"
Design inspiration for reference while creating elements and layouts for Cachet.

i.e. Astral, nice color scheme and layout

[2014-11-25 13:47] #31 closed, assigned to nobody

[2014-11-25 14:04] HipsterBrown opened #33 "Living Styleguide Solutions"
I would like to set up the design contribution workflow with a living styleguide, i.e. [Pattern Lab](http://patternlab.io/), with easily reusable components for use and reference in the project. I have seen several workflows that use grunt, gulp, or some other front-end build tool to dynamically build the guide. I would like to make it as simple as possible to setup, run, and contribute changes. I

[2014-11-25 14:08] HipsterBrown opened #34 "Intro to Git & GitHub Resources"
What are some of the best resources out there for introducing someone to a version control workflow and getting setup with GitHub?

I will be compiling resources together for the contribution doc to make getting started with the project much simpler for those looking to help out on their first OSS project.

[2014-11-25 15:29] pedrommone opened #36 "Interface for integration with others services"
Would be nice if we can receive a status from HipChat or w/e.

- [ ] Hipchat
- [ ] SMS (Twilio)
- [ ] WhatsApp
- [ ] Slack
- [ ] Email (subscribers).

[2014-11-25 15:34] Ehesp opened #37 "Split into a Github organisation"
Creating an organisation on Github (cachet) and having repositories would make things easier to manage and contribute.

Examples:
- cachet/website
  -- Laravel 4 web project
-  cachet/ui
  -- Bower based project, allowing other repositories to pull in this bower project and use. This keeps design pull requests/commits away from the actual application.

You get the idea... I know @jbrooksuk it'd pu

[2014-11-25 19:53] #37 closed, assigned to nobody

[2014-11-25 20:28] jbrooksuk opened #39 "Tests"
Since Cachet is being developed to be deployed live (straight from `master`) it should at least go through some tests.
- [x] Create test suite
- [x] Link Travis CI

_I'm not too worried about 100% coverage straightaway. We can spend time writing tests later on._

[2014-11-26 21:32] GrahamCampbell opened #45 "Guzzle 5 Support"
WIll we be upgrading to guzzle 5 any time soon? The upgrade should be quite easy.

[2014-11-27 11:23] #33 closed, assigned to nobody

[2014-11-27 11:23] #32 closed, assigned to nobody

[2014-11-27 12:34] #45 closed, assigned to nobody

[2014-11-27 13:56] #3 closed, assigned to nobody

[2014-11-27 14:53] #26 closed, assigned to nobody

[2014-11-27 21:02] Grummfy opened #55 "Heroku deploy button failed"
Hi,
when I try the deploy to heroku button, it detects an nodejs env and not a php env. So the build failed

[code]

[2014-11-27 21:17] #55 closed, assigned to nobody

[2014-11-27 22:17] jbrooksuk opened #56 "Fix Heroku deployment when both composer.json and package.json exist"
Heroku deployment will break when there is a `composer.json` and `package.json` as the buildstep favours Node.js deployment over PHP.

I know that there are ways to change the buildpack when creating an app, but we need to investigate whether this is possible from within `app.json`.

We'll probably want to get in touch with @Heroku themselves on this.

[2014-11-28 14:53] #56 closed, assigned to jbrooksuk

[2014-11-30 00:35] #34 closed, assigned to nobody

[2014-12-01 12:58] jbrooksuk opened #61 "Roadmap v1.0.0"
The First Release milestone is coming up (due 22nd December). If you're new to Cachet or unsure of what work needs to be done towards getting this first release out, here is a rundown of what needs to be done.
- [x] Design (#2) - @Ehesp has mocked up the dashboard within the **[ui](/cachethq/ui) repository**. This needs converting into HTML and CSS as a reusable set of components as the design wil

[2014-12-01 14:42] #12 closed, assigned to nobody

[2014-12-01 17:13] #24 closed, assigned to nobody

[2014-12-01 17:14] #6 closed, assigned to nobody

[2014-12-02 21:44] #39 closed, assigned to nobody

[2014-12-04 17:07] Ehesp opened #68 "Gulp/Elixir fonts issue"
Currently the CSS are being loaded from `public/build/css`, so the fonts for Bootstrap and FontAwesome need to be within `public/build/fonts`.

Currently I'm using the `copy` command:

[code]

This works, however it throws an error if it is run when the fonts are already there, and seems to remove them... which sucks.

There is a publish command, however that doesn't work with `gulp watch`. Really

[2014-12-04 22:25] jbrooksuk opened #69 "Error on setup"
[code]

I think that `username` needs to be added to `$fillable`.

[2014-12-04 22:33] #69 closed, assigned to nobody

[2014-12-09 19:40] techguydave opened #70 "application.css Not Found"
`http://status.[mydomain].com/css/application.css Failed to load resource: the server responded with a status of 404 (Not Found)`

There's no application.css in any folder. I followed the installation instructions on a VPS. The dashboard styling seems to work just fine, but the main page is completely unstyled.

[2014-12-10 08:37] #70 closed, assigned to nobody

[2014-12-12 10:31] #68 closed, assigned to nobody

[2014-12-13 14:03] #25 closed, assigned to jbrooksuk

[2014-12-15 07:40] jbrooksuk opened #72 "API: Allowed domains"
For security we could allow the API to only be accessed from certain domains. This could simply be a `textarea` which you write domains on a new line and restricts requests based on the `Origin` and `Referer` headers.

Leaving it empty would open the API to anyone (with authentication).

[2014-12-20 16:20] jbrooksuk opened #74 "Split sidebar into separate pages"
For the sake of getting V1 out and not having to write much JavaScript I want to separate what would be the "tabs" in each section into sub-pages.

This means that where we currently have:
- Dashboard
- Components
- Incidents
- ...

We'd now have:
- Dashboard
- Components
  - Add
  - Edit
  - Delete
- Incidents
  - Add
  - Edit
  - Delete
- ...

Or whatever.

The problem I encountered with tabs (w

[2014-12-20 17:20] #74 closed, assigned to nobody

[2014-12-20 17:22] jbrooksuk opened #75 "Split DashboardController"
`DashboardController` is doing a lot of work and has several methods to it, for the different dashboard pages.

Let's make use of `Route::controller` and get ready made controller code made for us, for each page. We'd end up with a lot of controllers:
- `DashIncidentsController`
- `DashComponentsController`
- `DashMetricsController`
- `DashNotificationsController`
- `DashSettingsController`

Thoug

[2014-12-20 17:37] jbrooksuk opened #76 "Language files for content"
The setup page contains static text for:
- Service Details
- Status Page Setup
- Show support for Cachet?
- etc...

All of these need moving into the `app/lang/en/cachet.php` language file.

[2014-12-20 18:04] jbrooksuk opened #77 "Heroku deployment is no longer working"
The redirection to setup results with:

Not particularly useful.

Interestingly setup works locally, so it must be something specific to the Heroku environment.

[2014-12-20 18:13] jbrooksuk opened #78 "The setup page can still be accessed after setup"
Once Cachet has been setup, the route should no longer be accessible.

[2014-12-20 18:17] #78 closed, assigned to nobody

[2014-12-20 18:30] #72 closed, assigned to nobody

[2014-12-20 18:53] #75 closed, assigned to nobody

[2014-12-21 10:07] #2 closed, assigned to nobody

[2014-12-22 13:00] #11 closed, assigned to nobody

[2014-12-23 10:03] jbrooksuk opened #86 "Settings aren't saving"
When changing the background colour, it's no longer being saved.

[2014-12-23 10:17] #86 closed, assigned to nobody

[2014-12-23 13:19] jbrooksuk opened #87 "Documentation"
We need some documentation being written:

- [x] Introduction to Cachet
- [x] Setup
- [ ] Dashboard
- [x] API

[2014-12-23 21:22] darkpixel opened #89 "Database migration fails"
Changed the database.php file to have the following entry:

[code]

Create a new sqlite3 database (`sqlite3 /var/hosting/-redacted-/sfdstatus.db ""`) and then ran:

[code]

[2014-12-24 14:47] jbrooksuk opened #91 "Tracking"
I'm wondering whether it'd be worth adding some kind of internal tracking that gets sent to directly back to us, to see how often something happens.

We'd only need to track:

- Installs
- Components; added, edited, deleted
- Incidents; added, edited, deleted
- Notifications

Then we'd have enough data to use as "we've had x installs" etc.

Of course, there are things like:

- Security
- Privacy

[2014-12-25 07:45] #89 closed, assigned to nobody

[2014-12-27 18:31] jbrooksuk opened #93 "Idea for new status page design"
I've had an idea for a new kind of status page layout. What if we used a timeline design? We could still list each day, but under it would be a timeline view, with each icon being the status:

![screenshot 2014-12-27 18 30 44](https://cloud.githubusercontent.com/assets/246103/5561999/86ed5f44-8df6-11e4-8321-9d5053a6adf3.png)

@HipsterBrown what do you think?

[2014-12-27 21:29] Jamesking56 opened #94 "Request: Use Heroku's own PostgreSQL instead of an addon MySQL"
Hey,

I would've liked this app to use PostgreSQL instead of MySQL as then I don't need to give my payment information to Heroku in order to deploy this. Heroku seem to want payment info if you use an addon.

Is it possible to change the deployment to using Heroku's PostgreSQL so that it can be deployed without the need for payment information?

[2014-12-28 06:36] joecohens opened #98 "[Proposal] New Cachet Logo"
Hi ! I've made a proposal of the logo. Let me know what you think!

Cheers :)

![cachet-v](https://cloud.githubusercontent.com/assets/1803556/5563239/6f71fda6-8e29-11e4-9c0d-18c89330d68d.png)
![cachet](https://cloud.githubusercontent.com/assets/1803556/5563240/6f730f02-8e29-11e4-94ff-9ea77dc9c678.png)

[2014-12-28 10:09] #98 closed, assigned to nobody

[2014-12-28 10:23] #93 closed, assigned to nobody

[2014-12-28 10:30] jbrooksuk opened #99 "Steps to launch"
Once Cachet is setup, I think that we could display "steps to launch" in the dashboard index, it'll basically walk them through the things they've left to do:

1. Setup Cachet (ticked obviously)
2. Login to dashboard (ticked, because they should be auto logged in).
3. Add components (ticked once there are > 0 components in the DB).
4. Add first incident (ticked once there are > 0 incidents in the

[2014-12-28 10:32] jbrooksuk opened #100 "Email templates"
We'll need an email template setting up for notifications and team member invitations later on. Any template we use should:

- Be able to pick up on theme overrides.
- Work across all major email clients.
- Responsive so that it's easily readable on phones, tablets etc.
- Not be restrictive on layout, for instance a notification will look different to a team member invitation etc.

[2014-12-28 10:36] jbrooksuk opened #101 "Setup wizard"
Rather than the current setup page, we may be better off with a "wizard" style setup. Again using the same inspiration, this is what I have in mind:

![screenshot 2014-12-28 10 34 36](https://cloud.githubusercontent.com/assets/246103/5563630/39715e82-8e7d-11e4-9f6c-ddacc6cf3d20.png)

Pros to a wizard:

- We can add more setup stages, team member lists etc.
- It's cleaner since each stage is under

[2014-12-28 11:10] #76 closed, assigned to nobody

[2014-12-28 19:42] jbrooksuk opened #109 "Update system"
We need some way of updating Cachet from an existing installation. This will keep Heroku users up to date and make it easier for manual installations to stay up to date too.
- [ ] Option to turn off update checking.
- [ ] Only check for updates whilst we've not got an active version to update too already.
- [x] Visual notification that an update is available.
- [x] Use GitHubs releases API to find

[2014-12-28 23:43] jbrooksuk opened #111 "Implement jquery.minicolors.js"
Implement [jquery-minicolors](https://github.com/claviska/jquery-minicolors/) into the theme settings will make it easier for the user to customise the theme with no hex colour experience.

[2014-12-29 00:13] jbrooksuk opened #112 "Scheduled maintenance"
What do we think about adding a separate status level for "scheduled". I'm not 100% sure on this since we could also add a date box on the incident page which can be set in the future. The status page will then detect future dates and list them appropriately as scheduled.

[2014-12-29 19:53] #111 closed, assigned to jbrooksuk

[2014-12-29 21:19] #77 closed, assigned to nobody

[2014-12-29 21:19] #94 closed, assigned to nobody

[2014-12-29 21:34] jbrooksuk opened #120 "Display a banner"
StatusPage.io allows you to upload a banner that can be displayed on the status page itself. Cachet could also offer this feature, however one problem is in my mind.

How do we upload files on to Heroku which is temporary storage until the next push?

[2014-12-29 21:38] GrahamCampbell opened #121 "Login Throttling"
There seems to be no prevention against brute force attacks.

[2014-12-29 22:35] #61 closed, assigned to nobody

[2014-12-29 22:41] joecohens opened #125 "One click install on Laravel Forge"
When ready, talk to Taylor for one click install on Laravel Forge.

[2014-12-29 22:54] #121 closed, assigned to nobody

[2014-12-29 23:39] SamuelMoraesF opened #126 "Add tag and URL fields to components"
The tags will be used to specify servers(and maybe configurations) like:
<code>VPS6</code>, <code>Master Server</code>, <code>CentOS</code>

And the URL field to be an fast way to access the component.

[2014-12-29 23:47] SamuelMoraesF opened #127 "Add field on incidents to modify components status"
I reccomend to create an field on incidents to change components status(by component or by tag) and another field to the status to be changed(Performance Issues, Major Outage...) and when the incident are changed as fixed, return the components to the original status

The tag feature are in #126

[2014-12-30 00:09] SamuelMoraesF opened #128 "Multiple users support"
Multiple Users support are an important resource and required for future features(like notification system).

[2014-12-30 09:27] jbrooksuk opened #129 "Long usernames break the sidebar"
If you have a long username (I'm using `jamesbrooks` at work) the sidebar is unable to cope with it.

![screen shot 2014-12-30 at 09 26 48](https://cloud.githubusercontent.com/assets/246103/5577296/1b5a76f6-9006-11e4-8611-7b157a046363.png)

[2014-12-30 09:31] jbrooksuk opened #130 "Markdown incident messages"
Should we support Markdown within an incident message? It could be useful for listing and adding emphasis (bold, italic) to messages.

[2014-12-30 09:34] jbrooksuk opened #131 "Remove "| Cachet" from the status page titles"
We should remove this part of _branding_ since it's not particularly useful.

[2014-12-30 09:39] #131 closed, assigned to nobody

[2014-12-30 10:40] #130 closed, assigned to nobody

[2014-12-30 10:57] #129 closed, assigned to nobody

[2014-12-30 13:14] jbrooksuk opened #137 "Quickly change component statuses"
Within the dashboard index we should have a list of components with the possible statuses next to them as a radio input - the current status should be active. Clicking on a status should then change it for that component.

This removes friction because currently you need to edit the components list.

[2014-12-30 13:57] #137 closed, assigned to jbrooksuk

[2014-12-30 15:17] #126 closed, assigned to nobody

[2014-12-30 15:40] #17 closed, assigned to nobody

[2014-12-30 17:33] jbrooksuk opened #140 "Missing argument 3 for LoginThrottlingFilter::filter()"
When logging into the dashboard I get this error:

[code]

[2014-12-30 17:38] #140 closed, assigned to GrahamCampbell

[2014-12-30 19:40] jbrooksuk opened #142 "Textareas"
When you click into a textarea the padding changes.

[2014-12-30 19:41] jbrooksuk opened #143 "Error pages"
We could do with a new 404 page and something better to replace the "Whoops, something is wrong" page.

[2014-12-30 20:19] #142 closed, assigned to nobody

[2014-12-30 21:41] jaxxstorm opened #145 "Install error"
I'm installing with php 5.4 and during the composer setup I get the following error:

[code]

The code looks fine in there, any thoughts?

[2014-12-30 21:54] #145 closed, assigned to nobody

[2014-12-30 22:11] jbrooksuk opened #146 "Component Groups"
I've noticed on Travis-CI's status page, they have component groups:

![screenshot 2014-12-30 22 11 00](https://cloud.githubusercontent.com/assets/246103/5583426/d1df0648-9070-11e4-9d65-4eb61a19f119.png)

[2014-12-30 22:14] jbrooksuk opened #147 "Better component list"
We should look at redesigning (or improving) upon the component list within the status page.

![screenshot 2014-12-30 22 14 23](https://cloud.githubusercontent.com/assets/246103/5583452/39513d78-9071-11e4-9be3-de6aa0b6f780.png)

It should:

- Show the component name
- Component status
- Description
- Link

[2014-12-30 22:20] jbrooksuk opened #148 "Historical items"
Currently there is no way to list all of the previously reported incidents. All we'd need is the same page (minus the components list) with a list of all incidents.

[2014-12-30 22:22] jbrooksuk opened #149 "Atom feed"
We have an RSS feed, but we should also support the `atom+xml` content type.

[2014-12-30 23:19] jaxxstorm opened #150 "Login fails after install"
Sorry, me again.

I got set up okay, created new admin user on first run. Logout and log back in again throws this error:

[code]

[2014-12-30 23:31] demlasjr opened #151 "Add on option to add future planned maintenances / Outages"
[Feature request]
Will be nice to have a way to add future planned maintenance and outage.

I was thinking like something above the current services status, in order to respect the date order....like an event in the future, what do you guys think ?

[2014-12-31 00:03] #151 closed, assigned to nobody

[2014-12-31 00:03] #150 closed, assigned to nobody

[2014-12-31 08:48] jbrooksuk opened #152 "Error when updating components from dashboard index"
When updating a components status from the dashboard, I get this error:

[code]

[2014-12-31 11:36] jaxxstorm opened #154 "Incidents API throws error"
I'm working my way through the API endpoints listed here: https://github.com/cachethq/Cachet/blob/22d54cf05f78ffdad761dfdea382e75ca5133f4a/app/routes/api.php

And most work. However, when trying to list incidents, I get the following error:

[code]

Valid issue, or have I done something else wrong? :)

[2014-12-31 11:51] #120 closed, assigned to jbrooksuk

[2014-12-31 11:55] #154 closed, assigned to nobody

[2014-12-31 12:14] GrahamCampbell opened #156 "Language Files Out Of Sync"

[2014-12-31 12:35] jaxxstorm opened #157 "Creating incident with API throws exception"
[code]

[code]

Note, this same method works for components. Not sure if the correct field is description or message. Once this is all working/figured out I'll help with documenting it all.

[2014-12-31 14:12] #157 closed, assigned to jbrooksuk

[2014-12-31 15:02] #156 closed, assigned to nobody

[2014-12-31 15:33] jaxxstorm opened #158 "Adding component_id to incident on API create throws error"
[code]

[code]

[2014-12-31 15:36] #158 closed, assigned to nobody

[2014-12-31 15:41] #152 closed, assigned to nobody

[2014-12-31 15:48] jaxxstorm opened #159 "Incident & Component status/mapping"
After a discussion in gitter, I'd like to propose a change to the incidents status field in order to better map to the component status.

At the moment, components have an "operational status" which determine whether the component is working as expected or is experiencing issues. The thing I've noticed is when you update the "operational status" of an incident, it doesn't update the banner on the

[2014-12-31 17:47] jbrooksuk opened #162 "Bad migration on Heroku (PgSQL)"
[code]

[2014-12-31 17:49] #162 closed, assigned to nobody

[2014-12-31 18:00] jbrooksuk opened #163 "apcu isn't working on Heroku"
I've pushed the newest version to Heroku and can no longer login. I'm assuming this is down to apcu not being installed.

Is there something special we need to do?

[2014-12-31 19:59] jbrooksuk opened #164 "Favicon"
We need a favicon!

[2014-12-31 22:00] #164 closed, assigned to joecohens

[2014-12-31 23:16] jbrooksuk opened #165 "Re-order components"
It may be useful to be able to re-order the components. It's not a major feature or anything, but it's just one of those subtleties which would make Cachet feel more complete.

[2014-12-31 23:17] Jamesking56 opened #166 "Social media account links"
Adding the twitter feed to the status page would be nice :smile:

[2014-12-31 23:26] Jamesking56 opened #167 "Finish notifications support"
Another thought I've had, slightly related to #36 .

It would be nice to integrate with Mailchimp so that users could signup to a Mailchimp list on the Cachet main page. This could solve the issue of email notifications as then we could automatically notify customers when one of the components status has changed or when there is a status update.

- [x] Create `notifications` table.
- [ ] Add a way

[2014-12-31 23:28] joecohens opened #168 "Banner should be unset"
We should have a button to remove banner in case of not wanting to have one.

[2015-01-01 00:14] SamuelMoraesF opened #170 "Add report issue feature"
It can be an simple button with an field on settings page to set the link destination, or an form that open on a modal and send the message to email to admins.

I recommend the first option because some enterprises already have an page or email to report the issue.

[2015-01-01 00:26] Jamesking56 commented on #168
PR'd

[2015-01-01 00:42] Jamesking56 opened #172 "Incident creation should be a little smarter"
When the user makes a new Incident, the next thing the user will want to do is change some of the component's current status so that they reflect the new incident.

Wouldn't it be a bit nicer if on the Incident creation screen, you could change the statuses of the components on the same screen?

[2015-01-01 00:44] Jamesking56 commented on #165
Yeah we just need to add an 'order' column in the database with an incrementing value of the order which the components should be visible. Then just add a fancy drag/drop UI for it.

[2015-01-01 00:45] Jamesking56 commented on #170
and an option to have this disabled if the user chooses :+1:

[2015-01-01 00:52] Jamesking56 opened #173 "Bug: Forms let you submit multiple times"
When adding a new incident, I noticed a weird bug.

If you fill in the form as normal, then click the submit button twice really quickly, it'll create __TWO__ identical new incidents!

This could be a bit annoying, a simple fix is using a bit of JS that on submit, disables the submit button so that once clicked, it cannot be clicked again.

[2015-01-01 00:54] kfrankperson commented on #146
@jbrooksuk Looking good !!!

[2015-01-01 00:57] kfrankperson commented on #173
I wouldn't use JavaScript to solve this problem, It should be solved in Laravel. JavaScript can be turned off so it's more of a hack than anything else.

[2015-01-01 01:00] Jamesking56 commented on #173
How do you suppose it could be fixed in Laravel?

[2015-01-01 01:01] GrahamCampbell commented on #173
Provide a unique code as a hidden field that invalides once submitted.

[2015-01-01 01:02] Jamesking56 commented on #173
Doesn't Laravel have that already?

http://laravel.com/docs/4.2/security#protecting-routes

Doesn't Laravel's CSRF Protection offer this?

[2015-01-01 01:02] GrahamCampbell commented on #173
No, it doesn't. That's something different. It doesn't prevent multiple submissions of a form.

[2015-01-01 01:07] Jamesking56 commented on #173
Thanks for clarifying that :+1:

[2015-01-01 01:13] joecohens commented on #143
https://github.com/cachethq/Cachet/pull/174

[2015-01-01 01:20] jbrooksuk commented on #172
Perhaps we could move the create incident screen to the dashboard index, above the inline component editor?

[2015-01-01 01:21] jbrooksuk commented on #146
Actually we don't need the component_groups table because we can add an id to the component itself for group_id. Components won't be under more than one group so this is fine.

[2015-01-01 01:21] jbrooksuk commented on #170
It'd be off by default, if we were to add this.

[2015-01-01 01:41] #143 closed

[2015-01-01 01:48] Jamesking56 commented on #172
Yeah that would be good as they are the most commonly accessed parts of the application.

[2015-01-01 02:12] joecohens commented on #173
This could be fixed by now with js on all the submit buttons to disable them.

[2015-01-01 02:13] joecohens opened #177 "Add tests for api responses"

[2015-01-01 02:38] joecohens commented on #172
I was thinking on a modal window with the form triggered by the button on the sidebar a add incident. That way you can add incidents no matter where you are. Maybe also launch it with a keyboard shortcut.

[2015-01-01 02:53] #173 closed

[2015-01-01 02:54] GrahamCampbell commented on #173
This isn't even a bug.

[2015-01-01 02:54] GrahamCampbell commented on #173
If you press submit twice, expect it to submit twice.

[2015-01-01 02:55] GrahamCampbell commented on #166
I don't really like this idea. :(

[2015-01-01 02:56] GrahamCampbell commented on #148
:+1:

[2015-01-01 02:57] joecohens commented on #173
:+1: anyway I'll add the js to prevent it.

[2015-01-01 02:59] GrahamCampbell commented on #173
K

[2015-01-01 06:37] ecnepsnai opened #180 "Bootstrap autoload.php unable to find ../vendor/autoload.php"
**Problem description:**

When I run `$ php artisan migrate` I get these critical failures:

    $ php artisan migrate
    PHP Warning:  require(<path where cachet is installed>/bootstrap/../vendor/autoload.php): failed to open stream: No such file or directory in <path where cachet is installed>/bootstrap/autoload.php on line 17

    Warning: require(<path where cachet is installed>/bootstrap/../

[2015-01-01 06:53] joecohens commented on #180
Please run `composer install`

[2015-01-01 06:54] joecohens commented on #166
Me neither, I think we can add social links configurable from settings but not the feed itself.

[2015-01-01 07:47] joecohens commented on #146
:+1:

[2015-01-01 08:51] mcvic1rj opened #183 "Deploy to Heroku - Cannot login with Admin Account"
After deploying to heroku and setting up and admin account, you cannot log in.

You may receive a page saying "Whoops, looks like something went wrong." when attempting to log in.

[2015-01-01 09:35] jbrooksuk commented on #183
Duplicate of #163.

[2015-01-01 09:35] #183 closed

[2015-01-01 09:40] jbrooksuk commented on #166
Yeah, social links is the way I'd prefer to take this. As I mentioned in my first comment, the feed would slow down the page.

All in favour of social links?

[2015-01-01 09:41] jbrooksuk commented on #180
@ecnepsnai thanks for formatting this issue nicely - that's great, I may add it to the `CONTRIBUTING.md` document. As @joecohens said, just run `composer install`.

[2015-01-01 09:41] #180 closed

[2015-01-01 09:42] jbrooksuk commented on #173
Alternative solution is to disable the form on submit.

[2015-01-01 09:43] jbrooksuk commented on #172
@joecohens that's a nice idea, but then it wouldn't be immediately visible to the user how to add an incident?

[2015-01-01 10:28] jbrooksuk opened #184 "Cleanup controllers and view files"
I think we need to re-organise the view files and controllers, especially the dashboard. I'm not sure whether we should actually have one dashboard controller, or one per-page?

[2015-01-01 10:48] jbrooksuk commented on #184
Views are cleaned (for the dashboard at least).

[2015-01-01 11:13] #163 closed

[2015-01-01 11:13] jbrooksuk commented on #183
This is now fixed by the way.

[2015-01-01 11:28] GrahamCampbell opened #188 "Use Of Facades :("
Can we only uses facades in controllers and views please, and use dependency injection everywhere else?

[2015-01-01 11:29] GrahamCampbell opened #189 "Service Layer?"
I service layer would be good to introduce now while the codebase is still small. I'm not saying we change to all out ddd, but a small service layer would definitely be a good idea.

[2015-01-01 11:35] jbrooksuk commented on #189
Yeah, I think this would be worth while. Are you ok doing this for us, or just leaving it as a suggestion?

[2015-01-01 11:35] jbrooksuk commented on #188
For ease of example, can you change one to follow this rule, then I'll update the rest.

[2015-01-01 11:54] GrahamCampbell commented on #189
Leaving it as a suggestion for now. Sorry, I've got no time at the moment. :(

[2015-01-01 11:55] jbrooksuk commented on #189
Ok, no problem. I need to learn more about the Service Layer pattern before I implement it.

[2015-01-01 11:57] GrahamCampbell commented on #188
Also, I'd recommend always importing fully qualified class names for the faces, and deleting all the class aliases apart from the html facade, because you might want to use that in your views. That will force you to write better code. NB, this works better if you have integration tests because you spot the issues immediately if you delete the aliases.

[2015-01-01 11:57] GrahamCampbell commented on #188
Infact, this is one refactor I'd be happy to help with.

[2015-01-01 11:58] GrahamCampbell commented on #189
Ross tuck did a really good talk about it at drupalcon this year. It's on youtube.

[2015-01-01 11:58] jbrooksuk commented on #188
That'd be awesome Graham!

[2015-01-01 11:59] GrahamCampbell commented on #189
He does go really deep in the second half, and that stuff isn't really appropriate here because I don't see it working if we want to continue using eloquent.

[2015-01-01 11:59] GrahamCampbell commented on #189
So actually, watching the first 20 mins should give you a good idea of what you want to do. :)

[2015-01-01 12:00] GrahamCampbell commented on #188
One thing we need to watch out for is poorly written packages that assume a load of facade aliases.

[2015-01-01 12:01] jbrooksuk commented on #189
Awesome, I'll take a look when I get a bit of time :)

[2015-01-01 12:01] GrahamCampbell commented on #188
Packages should never use facades as far as I'm concerned. Using them is assuming far to much about the environment they're being used in.

[2015-01-01 12:01] jbrooksuk commented on #189
Oh and [this](https://www.youtube.com/watch?v=3uV3ngl1Z8g) is the video @GrahamCampbell is talking about.

[2015-01-01 12:02] GrahamCampbell commented on #189
No.

[2015-01-01 12:02] jbrooksuk commented on #188
How do you not use them then?

[2015-01-01 12:02] jbrooksuk commented on #189
Oh?

[2015-01-01 12:02] GrahamCampbell commented on #189
https://www.youtube.com/watch?v=ajhqScWECMo

[2015-01-01 12:02] jbrooksuk commented on #189
Ah sorry, the drupalcon one.

[2015-01-01 12:03] GrahamCampbell commented on #188
Very easily. All of my packages don't use them (appart from the credentials package, because that's not relly a package in the same sense).

[2015-01-01 12:03] GrahamCampbell commented on #188
Check out the source for this package for example: https://github.com/GrahamCampbell/Laravel-Throttle.

[2015-01-01 12:04] GrahamCampbell commented on #188
All the framework specific code is in the service provider, and my other classes accept dependencies by constructor injection. Very flexible.

[2015-01-01 12:05] GrahamCampbell commented on #188
NB, my packages do provide facades for those people who really want them.

[2015-01-01 12:05] GrahamCampbell commented on #188
They just don't consume any.

[2015-01-01 12:05] GrahamCampbell commented on #189
yeh :)

[2015-01-01 12:08] jbrooksuk commented on #188
Gotcha. I really need to spend some time learning decent design patterns such as service layers, dependency injection etc - your packages will be perfect examples :)

[2015-01-01 12:14] GrahamCampbell commented on #188
I think I'm going to do this in small bits, so if I break anything, we can detect it quickly.

[2015-01-01 12:14] jbrooksuk commented on #188
Sure :)

[2015-01-01 13:43] #165 closed

[2015-01-01 13:49] Ehesp opened #192 "Show exact incident time on status page (on hover/click)"
If a service goes down and effects a 3rd party, they might need to do a report if things effected their services with specific outage times.

[2015-01-01 13:58] GrahamCampbell commented on #188
Also, dingo is an example of a well written package. cachet uses it, and dingo doesn't go near facades.

[2015-01-01 14:03] jbrooksuk opened #193 "Inline component status changer no longer works"
Since rewriting the `start.js` file, the inline component status changer is no longer working.

[2015-01-01 14:07] jbrooksuk commented on #193
The whole click on radio event isn't being fired. @joecohens what else changed?

[2015-01-01 14:09] #193 closed

[2015-01-01 14:11] jbrooksuk commented on #168
Closed by #187

[2015-01-01 14:11] #168 closed

[2015-01-01 14:11] jbrooksuk commented on #177
Ideally, the whole test suite would be better :)

[2015-01-01 14:12] jbrooksuk commented on #147
I'm going to close this issue as I think the component list is now much better. It may need changing in the future for Component Groups, but that's fine.

[2015-01-01 14:12] #147 closed

[2015-01-01 14:13] GrahamCampbell commented on #177
My testbench package might be able to help you there. :)

[2015-01-01 16:01] joecohens commented on #166
:+1:

[2015-01-01 16:06] joecohens commented on #189
:+1:

[2015-01-01 16:07] GrahamCampbell commented on #189
It's very important that we keep the http logic inside the controllers. I'm already seeing calls to the request and input facades from else where - even in the views. This shouldn't be happening.

[2015-01-01 16:08] GrahamCampbell commented on #189
We can't even start the service layer if we haven't got that stuff clear first.

[2015-01-01 16:08] joecohens commented on #188
:+1:

[2015-01-01 16:09] GrahamCampbell commented on #188
This has been improved some what in my refactoring pulls, but it's not quite done yet.

[2015-01-01 16:14] kfrankperson commented on #166
:+1:  Social links in the footer or something :-1: To adding twiiter feed

[2015-01-01 16:20] joecohens commented on #189
I know we first have to move all the views logic to the controller and then start a service layer.

[2015-01-01 16:20] GrahamCampbell commented on #189
Yeh, I'll be doing that before I move the models into the src folder and namespace them.

[2015-01-01 16:31] jbrooksuk commented on #192
We could also add [timeago](http://timeago.yarp.com/) so that the readable times are updated in realtime.

[2015-01-01 16:32] GrahamCampbell commented on #192
Yeh, I use that library on bootstrap cms. I also have an html macro setup that I use with it.

[2015-01-01 16:33] jbrooksuk commented on #192
That'd be good to add!

[2015-01-01 16:37] GrahamCampbell commented on #192
[code]

[2015-01-01 16:38] jbrooksuk commented on #192
I'll create a `macros.php` and whack it in there.

[2015-01-01 16:39] GrahamCampbell commented on #192
NB, I actually did this in a service provider, and didn't use the facade.

[2015-01-01 16:39] GrahamCampbell commented on #192
Real code: https://github.com/GrahamCampbell/Laravel-Core/blob/master/src/CoreServiceProvider.php#L63.

[2015-01-01 16:40] joecohens commented on #100
Can we close this one?

[2015-01-01 16:40] jbrooksuk commented on #100
Yes :)

[2015-01-01 16:40] #100 closed

[2015-01-01 17:00] jbrooksuk opened #201 "Setup Code Climate"
I've setup Code Climate for [Cachet](https://codeclimate.com/github/cachethq/Cachet). We'll just need to setup the test coverage with it.

[2015-01-01 17:04] GrahamCampbell commented on #201
Scrutinizer ci is better as far as I'm concerned.

[2015-01-01 17:04] GrahamCampbell commented on #201
I use it a lot.

[2015-01-01 17:05] GrahamCampbell commented on #201
It does coverage and quality analysis, and was build for php unlike codeclimate that just supports php.

[2015-01-01 17:05] jbrooksuk commented on #201
I've no idea how to setup Scruitinizer properly. I hated the interface. Does someone want to do that, if @GrahamCampbell says it's better, it is.

[2015-01-01 17:06] GrahamCampbell commented on #201
I can set it up for you if you want.

[2015-01-01 17:06] GrahamCampbell commented on #201
I've got existing config files from my other repos that work. :)

[2015-01-01 17:08] SamuelMoraesF opened #203 "Button to remove Banner Image disable the Save Settings"
On ```Settings > Application Setup```, when I click on the ```Remove``` button of the ```Banner Image``` the ```Save Settings``` button are disabled

[2015-01-01 17:13] joecohens commented on #201
Awesome!

[2015-01-01 17:14] jbrooksuk commented on #203
[code]

What's happening is that on click, the form gets submitted, but it doesn't seem to fully submit. We could just remove the `submit` line and wait for the user to click Submit form manually.

[2015-01-01 17:14] SamuelMoraesF opened #204 "Error on save Stylesheet"
When I save an new stylesheet this error is retorned:

```Undefined index: remove_banner```

On ```/app/app/controllers/DashSettingsController.php```, line **111**

[2015-01-01 17:15] jbrooksuk opened #205 "Class 'CachetHQ\Cachet\Controllers\Redirect' not found"
[code]

[2015-01-01 17:15] joecohens commented on #203
@jbrooksuk I think that is a better solution.

[2015-01-01 17:18] #204 closed

[2015-01-01 17:18] #203 closed

[2015-01-01 17:19] jbrooksuk commented on #201
Sure :)

[2015-01-01 17:20] GrahamCampbell commented on #205
Looks like a missing import.

[2015-01-01 17:20] GrahamCampbell commented on #205
One sec...

[2015-01-01 17:23] #205 closed

[2015-01-01 17:24] GrahamCampbell commented on #201
Only someone with admin access is allowed to sign this repo up on scrutinizer.

[2015-01-01 17:25] jbrooksuk commented on #201
I'll make you and @joecohens admins.

[2015-01-01 17:26] jbrooksuk commented on #201
Done.

[2015-01-01 17:29] jbrooksuk opened #207 "Add JSHint to Gulp"
We should add JSHint to our `gulpfile.js` so that the JS is *tested*.

[2015-01-01 17:29] joecohens commented on #201
:)

[2015-01-01 17:30] kfrankperson commented on #201
:+1:

[2015-01-01 17:31] #201 closed

[2015-01-01 17:32] GrahamCampbell commented on #201
I'll add badges soon.

[2015-01-01 17:32] jbrooksuk commented on #201
Awesome!

[2015-01-01 17:32] GrahamCampbell commented on #201
NB, scrutinize takes ~10 to actually get going. I'll let you know when it's ready.

[2015-01-01 17:34] GrahamCampbell opened #208 "Something's Screwed Up"
[code]

[2015-01-01 17:35] #208 closed

[2015-01-01 17:49] jbrooksuk commented on #201
Do we need Travis now?

[2015-01-01 17:49] GrahamCampbell commented on #201
Yeh, we still run the tests on travis.

[2015-01-01 18:03] #188 closed

[2015-01-01 18:04] GrahamCampbell commented on #188
I'm going to work on cleaning up the repositories, then i'm going to to cleanup the views code, ie, remove http/model stuff, then i'm going to cleanup and namespace the models.

[2015-01-01 18:07] GrahamCampbell opened #209 "Don't Missuse The Return Annotation"
I've been cleaning up the repository classes, and noticed you've said things like `@returns Exception`. You should have used the `@throws \Exception` annotation there.

[2015-01-01 18:08] GrahamCampbell commented on #209
All, please don't use `is_null` `=== null` is better performing. Micro-optimization. :)

[2015-01-01 18:11] GrahamCampbell commented on #209
Also, is there an error in your code here?

[code]

Did you not mean to have the two statements the other way round?

[code]

[2015-01-01 18:13] #207 closed

[2015-01-01 18:14] jbrooksuk commented on #209
1. Got it. That makes a lot more sense.
2. Okey dokey.
3. I'm not sure, I believe @Ehesp did that?

[2015-01-01 18:14] jbrooksuk commented on #188
:+1:

[2015-01-01 18:15] joecohens commented on #188
:+1:

[2015-01-01 18:15] GrahamCampbell commented on #209
Also, I don't think we should even use repositories there if we don't use them everywhere.

[2015-01-01 18:16] jbrooksuk commented on #209
I think it was the plan to move everything to it, but it's just for the API for now - no particular reason why.

[2015-01-01 18:16] GrahamCampbell commented on #209
There doesn't seem much point in them atm. Repositories are the most overused patern within the laravel community. Often they're simply not required.

[2015-01-01 18:17] GrahamCampbell commented on #209
If only we had unit tests, we would know what the desired behaviour was...

[2015-01-01 18:17] jbrooksuk commented on #209
Ok, we can pull them out then if it's better for us. I wonder if it was to do with Dingo? @Ehesp?

[2015-01-01 18:17] GrahamCampbell commented on #209
Nah, it's nothing to do with dingo. I'll leave them in for now.

[2015-01-01 18:17] GrahamCampbell commented on #209
I want to refactor without removing them. We can remove them afterwards if we still don't want them.

[2015-01-01 18:18] GrahamCampbell commented on #209
Also, some of the phpdoc is incorrect. I'll try and work out what was really intended. Pull request coming soon(ish)...

[2015-01-01 18:18] #209 closed

[2015-01-01 18:19] joecohens commented on #207
:+1:

[2015-01-01 19:37] jbrooksuk opened #212 "Use Markdown in the "about this page" section"
We may as well use this!

[2015-01-01 19:44] #212 closed

[2015-01-01 19:50] jbrooksuk opened #213 "LDAP Auth"
A very cool feature to have would be to support LDAP authorisation and AD passwords.

[2015-01-01 20:07] SamuelMoraesF opened #214 "Add option to edit Incidents"
Currently not have an option to edit Incidents.

[2015-01-01 20:26] GrahamCampbell opened #216 "Remove All "Auth" Calls From The Views"
All this stuff needs to be moved to the controller.

[2015-01-01 20:34] GrahamCampbell opened #217 "All Calls To The URL Facade In Views Should Be Replaced With Helpers"
We should be calling the global helper functions rather than the URL facade.

[2015-01-01 20:41] joecohens commented on #212
:+1:

[2015-01-01 20:46] joecohens commented on #216
How would you like to do this, I use a helper but I saw you don't like too much. This is what I use for Laravel 5 https://gist.github.com/joecohens/6209b438695bcfac58c4

[2015-01-01 20:47] joecohens commented on #217
:+1: I don't Facades in views.

[2015-01-01 20:47] GrahamCampbell commented on #216
I recommend not using a helper in the views either. The views should not know about any authentication logic. They should only be displaying data.

[2015-01-01 20:49] GrahamCampbell commented on #216
You know how we have transformers and repositories, and then really "skinny" api controllers. That's the same deal we should have with the html presentation too.

[2015-01-01 20:50] GrahamCampbell commented on #217
@joecohens Are you able to do this one?

[2015-01-01 20:51] joecohens commented on #217
Sure!

[2015-01-01 20:56] joecohens commented on #216
I would love to see it :)

[2015-01-01 20:57] kfrankperson commented on #216
@joecohens Same here !!!

[2015-01-01 21:05] joecohens commented on #217
Also changing the Lang::get() to trans()

[2015-01-01 21:07] GrahamCampbell commented on #217
:+1:

[2015-01-01 21:08] jaxxstorm opened #219 "Broken index page"
Looks like something got pushed that broke my installation:

[code]

[2015-01-01 21:10] jaxxstorm commented on #159
If you link a component via the API, does it also update the components status?

[2015-01-01 21:10] GrahamCampbell commented on #189
The stuff on the right is what we want. :)

<img src="https://cloud.githubusercontent.com/assets/2829600/5593255/4e715528-91fa-11e4-884a-1cc5dbd557cf.png" align="left" height="400" >

[2015-01-01 21:11] sammcj commented on #213
+1 for this, I'd certainly like to see this.

[2015-01-01 21:13] GrahamCampbell commented on #219
Looks like you haven't downloaded our src folder.

[2015-01-01 21:13] #219 closed

[2015-01-01 21:15] tomferreira commented on #213
+1

[2015-01-01 21:16] joecohens commented on #217
Done :)

[2015-01-01 21:16] joecohens commented on #219
I think you have to do a git pull and composer dump-autoload -o

[2015-01-01 21:17] jaxxstorm commented on #219
Yes I have

[code]

[2015-01-01 21:18] jaxxstorm commented on #219
Thanks @joecohens that got it

[2015-01-01 21:19] jaxxstorm commented on #219
Note: I also had to run an artisan migrate as it seems there's some DB changes

[2015-01-01 21:19] joecohens commented on #189
:+1: I use [ComponentService, ComponentCreatorService, ComponentUpdaterService] naming on some projects for the services what do you think?

[2015-01-01 21:19] sammcj opened #221 "Deb Package + Apt Mirror"
It would be great to have Cachet packaged into a Deb and available from an apt mirror.

This would:

* Make upgrades easier
* Make it obvious when a new release is available
* Allow for easy automated patching using tools such as puppet
* Properly define dependencies
* Properly log application installations and upgrades
* Avoid the need for composer which has a very dangerous installer

I've used

[2015-01-01 21:23] joecohens commented on #219
@jaxxstorm :)

[2015-01-01 21:27] GrahamCampbell commented on #189
Hmm, services aren't meant to be as clean cut as that. It's easy to fall into that trap, the same with repositories, and they we just end up with piles of nested classes, which isn't really helping either.

[2015-01-01 21:29] GrahamCampbell commented on #217
Great. See my comment on the pull.

[2015-01-01 21:30] joecohens commented on #189
Ok ok but it's also easy to have a ComponentService bloated because the name it's too general.

[2015-01-01 21:31] GrahamCampbell commented on #189
Yeh, but it would still be less bloated than our controllers would be otherwise, right?

[2015-01-01 21:31] GrahamCampbell commented on #189
I find services are more useful for abstracting other functionality, rather than that core read/write stuff.

[2015-01-01 21:34] joecohens commented on #189
That's right! Let's go one step at the time :)

[2015-01-01 21:34] sammcj commented on #87
Nginx Documentation Added: https://github.com/cachethq/Cachet/pull/223

[2015-01-01 21:39] GrahamCampbell commented on #189
Another step towards this then: #222. :)

[2015-01-01 21:43] sammcj opened #225 "Nagios Integration / Nagios plugin for Cachet"
It would be neat to have a Nagios plugin that updated Cachet.

I think this would be pretty easy via the API but I'd recommend having a separate user for it (https://github.com/cachethq/Cachet/issues/128).

I'll keep an eye on https://github.com/cachethq/Cachet/issues/128 then I might whip something up for this.

[2015-01-01 22:16] GrahamCampbell commented on #189
Ok, the next refactor is to namespace the models. I'm actually going to alias the Setting model like a facade so we can still use it in our views without any changes for now.

I'll start this in about an hour's time. :)

[2015-01-01 22:17] joecohens commented on #189
Excellent!

[2015-01-01 22:55] jbrooksuk commented on #189
Ooh, aliasing the `Setting` model is something that sounds like something I need to see!

[2015-01-01 22:56] GrahamCampbell commented on #189
Yeh, it'll be a temporary hack for now.

[2015-01-01 22:56] GrahamCampbell commented on #189
Also, the `Service` model seems unused at the moment?

[2015-01-01 22:57] GrahamCampbell commented on #189
And so does the `Subscriber` model.

[2015-01-01 22:58] jbrooksuk commented on #189
Yeah:

- `Service` will be used to fetch data about a third-party integration.
- `Subscriber` is for fetching a list of people who have subscribed to reports. They'll receive an email for every component and incident change.

[2015-01-01 23:00] jbrooksuk commented on #221
I suggest that we get V1 out before we look at packaging Cachet up like this, but I'm all for it once we're ready.

[2015-01-01 23:00] GrahamCampbell commented on #189
And the webhooks stuff is totally unused too. Also, I don't think that stuff is really suitable for a model.

[2015-01-01 23:01] jbrooksuk commented on #189
@GrahamCampbell web hooks are not fully implemented yet, but they'll essentially `POST` data to other services for them to act upon. How would you suggest doing a web hook? There will still need to be two models for handling the database though? Maybe making this into a package?

[2015-01-01 23:02] GrahamCampbell commented on #189
A service class would be were all the guzzle stuff happens.

[2015-01-01 23:02] GrahamCampbell commented on #189
Also, we can discuss that later. I'd like to focus on refactoring the stuff we currently have for now.

[2015-01-01 23:04] joecohens commented on #189
:+1: One step at the time haha.

[2015-01-01 23:04] jbrooksuk commented on #189
Of course, I was just interested in how we'd do it. It makes sense to leave that until the "under the hood stuff" is done, then we can move forward with new features.

I'm holding off on #196 and #197 until your refactor is complete :)

[2015-01-01 23:04] sidewinder12s opened #229 "Add SAML authentication support"
Support for SAML authentication and user management for integration with products like https://shibboleth.net/.

[2015-01-01 23:05] joecohens commented on #189
I'm interested too :)

[2015-01-01 23:09] GrahamCampbell commented on #189
Yeh, this refactor is a big one...

[2015-01-01 23:12] jbrooksuk commented on #189
Take your time, it'll be worth it!

[2015-01-01 23:12] jbrooksuk commented on #189
I'm going to be studying the code to really understand all of this cool stuff!

[2015-01-01 23:15] jbrooksuk commented on #214
It's actually possible via the API, so this is something we should look at for the Dashboard.

[2015-01-01 23:18] joecohens commented on #189
:+1:

[2015-01-01 23:20] jbrooksuk opened #230 "Move all static text into the language file"
There is still a lot of static text within the view and controller files. Whilst there has been a lot of work going into moving the text, there is still **a lot more** to move.

- Controllers
- Views

We may actually want to split the `cachet.php` language file into multiple files:

- [ ] `cachet.php` - general Cachet strings (status levels, titles etc)
- [ ] `setup.php`
- [ ] `dashboard.php`
- [

[2015-01-01 23:21] joecohens commented on #230
:+1:

[2015-01-01 23:22] jbrooksuk commented on #230
We may be able to pull the string out into different files, then upload a revision to CrowdIn for each language - this will help?

[2015-01-01 23:30] jbrooksuk opened #231 "Add setting to configure how many days to show"
Let's make the amount of days that we show past incidents for, configurable.

[2015-01-01 23:33] GrahamCampbell commented on #189
Yeh, it's taking so long because I'm doing two other things at the same time, lol...

[2015-01-01 23:36] jbrooksuk commented on #189
It's only been half an hour ;)

[2015-01-01 23:40] joecohens commented on #189
Lol!

[2015-01-01 23:44] jbrooksuk opened #232 "Sessions table gets full quickly"
@SamuelMoraesF has reported that the sessions table gets full very quickly, at least on Heroku. He's had an ema to say that the free PgSql database is almost full.

This is a high priority but IMHO.

What's the solution? Don't use a table for sessions?

[2015-01-01 23:45] jbrooksuk opened #233 "Add multi-lingual as a feature to the README"

[2015-01-02 00:03] GrahamCampbell commented on #189
#235. Not quite done yet.

[2015-01-02 00:03] GrahamCampbell commented on #232
We can use apc for sessions. :)

[2015-01-02 00:05] joecohens commented on #189
@GrahamCampbell Awesome!! This will also helps us move to Laravel 5 faster :)

[2015-01-02 00:06] GrahamCampbell commented on #189
Yeh, definately.

[2015-01-02 00:47] sammcj opened #236 "Support more than one app"
It would be advantageous to support more than one application.

You could then see what issues relate to what application you may be hosting without having to install and manage a completely separate Cachet instance for every application you provide.

[2015-01-02 01:07] GrahamCampbell commented on #184
Nah, we don't need that. The controller will end up thinner after we've done the service layer stuff.

[2015-01-02 01:07] #217 closed

[2015-01-02 01:07] GrahamCampbell commented on #217
Done.

[2015-01-02 02:10] GrahamCampbell commented on #189
I think this redactor might be a good idea once we've actually moved to laravel 5. NB, I'd be happy to get us migrated to laravel 5 in early February, then get started on this stuff.

[2015-01-02 03:28] joecohens commented on #189
I think so too! And that would be great ;)

[2015-01-02 06:54] jbrooksuk commented on #232
Let's do that then!

[2015-01-02 06:55] jbrooksuk commented on #184
Yeah, it will now because of your epic refactor :) will close now.

[2015-01-02 06:55] #184 closed

[2015-01-02 08:13] jbrooksuk commented on #189
Oooh, we're planning Laravel 5, I like it!

[2015-01-02 08:17] #233 closed

[2015-01-02 08:19] #232 closed

[2015-01-02 08:23] #231 closed

[2015-01-02 10:26] Ehesp opened #237 "Stop HTML input into incidents"
Seems that you can enter HTML into the incident box, which is currently breaking the layout. I'd imagine a quick fix for this would to be use the triple blade tags (`{{{ }}}`).

[2015-01-02 10:27] jbrooksuk commented on #237
You should be able to enter Markdown though.

[2015-01-02 10:43] Narno opened #238 "Banner image is not responsive"
![cachethq status](https://cloud.githubusercontent.com/assets/80580/5595494/8b0883ec-9274-11e4-8032-62f314b77499.png)

[2015-01-02 11:01] #238 closed

[2015-01-02 11:28] GrahamCampbell commented on #237
Maybe you want to use by binput package.

[2015-01-02 11:28] GrahamCampbell commented on #237
It prevents xss, then you can run that through the markdown renderer.

[2015-01-02 11:29] jbrooksuk commented on #237
That's what we need, but on all user input.

[2015-01-02 11:29] jbrooksuk commented on #237
So what we could do is when any data is saved, run it through binput.

[2015-01-02 11:30] GrahamCampbell commented on #237
Yeh, basically, instead of using `Input::get` we can use `Binput::get`, and all the other methods like all, except, only, work too.

[2015-01-02 11:31] GrahamCampbell commented on #237
Do you want me to send a pull?

[2015-01-02 11:32] GrahamCampbell commented on #189
Laravel 5 has some really cool stuff in it. Once it's released in stable, and dingo is ready, I'll upgrade us  to it. I'll create a specific issue regarding the new plan.

[2015-01-02 11:32] #189 closed

[2015-01-02 11:37] GrahamCampbell opened #240 "Laravel 5.1 And "Commands""
The plan here is to upgrade to laravel 5, and implement some architectural improvements.

1. Upgrade to Laravel 5 (requires L5 to be stable and all packages we use to support L5)
2. Replace repositories with "commands" for writing, that might hit other services behind the scenes.
3. If by removing the repositories we lost any abstraction over reading, "presenters" might be a good move. I co-mainta

[2015-01-02 11:39] #237 closed

[2015-01-02 11:40] jbrooksuk commented on #237
Yeah go ahead, I'm at work today, so I've only got a few minutes here and there.

[2015-01-02 11:41] GrahamCampbell commented on #237
Sure.

[2015-01-02 11:42] jbrooksuk commented on #240
Taylor Otwell has a [video on Laracasts](https://laracasts.com/lessons/laravel-5-commands) explaining the new L5 commands - it's a good watch!

[2015-01-02 11:42] jbrooksuk commented on #189
You. Are. Awesome.

Thanks Graham!

[2015-01-02 11:42] GrahamCampbell commented on #240
Yeh, I've seen it already actually. :)

[2015-01-02 11:43] GrahamCampbell commented on #189
Pleasure. :)

[2015-01-02 11:56] GrahamCampbell commented on #240
Oh, yeh, forgot to mention, I plan to move all validation to the commands. That is definitely the best place for it as far as I can see.

[2015-01-02 11:57] jbrooksuk commented on #240
That makes sense!

[2015-01-02 12:02] GrahamCampbell commented on #237
Just running composer now...

[2015-01-02 12:03] GrahamCampbell commented on #240
This architecture is so cool. I can't wait. :)

[2015-01-02 15:12] #149 closed

[2015-01-02 17:01] ajtrichards opened #250 "Setup Error - Missing argument 1 for GrahamCampbell\Binput\Binput::get()"
I'm making a fresh install of Cachet and i'm getting the following error:

[code]

[2015-01-02 17:15] ajtrichards commented on #250
Caused due to `Binput::get()` rather than using `Binput::all()`

Created a pull request: https://github.com/cachethq/Cachet/pull/251

[2015-01-02 17:15] #250 closed

[2015-01-02 19:13] jaxxstorm opened #253 "Option to limit number of incidents returned by API"
Currently, when you list all the incidents from the incidents API, you get every incident that has occurred.

It may be in the future that there are a lot of incidents for some installations. It would be nice if we could pass a parameter, such as "limit" and then only get say, the last 10 incidents

[2015-01-02 19:18] andretanguy commented on #125
Also checkout http://viaduct.io (by aTechMedia down in Bournemouth)

[2015-01-02 19:40] GrahamCampbell commented on #125
@jbrooksuk Have you spoken to him yet? I can have a chat if you like?

[2015-01-02 19:41] jbrooksuk commented on #125
I tweeted him but no reply. If you can get in touch that would be great :)

Sent from my iPhone

[2015-01-02 19:48] GrahamCampbell commented on #125
Good news. He said yeh, it should be doable.

[2015-01-02 19:49] GrahamCampbell commented on #125
@jbrooksuk How do we proceed from here? Is cachet ready for this one click deploy on forge just yet, or should we leave it until we've got things stable. I don't think he's going to want to change the onclick install process multiple times.

[2015-01-02 19:51] jbrooksuk commented on #125
Let's wait for now, get V1 down. How do we implement with Forge, or is it something we can help him with?

Sent from my iPhone

[2015-01-02 19:52] GrahamCampbell commented on #125
Don't know.

[2015-01-02 19:53] jbrooksuk commented on #125
If we can get some more info for what he needs that'd us.

Sent from my iPhone

[2015-01-02 19:53] GrahamCampbell commented on #125
He did ask if it was configurable through a gui, and it is, so I think we're pretty much sorted.

[2015-01-02 19:55] jbrooksuk commented on #125
Perfect :)

Sent from my iPhone

[2015-01-02 19:58] joecohens commented on #125
Excellent news! :)

[2015-01-02 21:03] jbrooksuk commented on #253
Good idea. We'd also perhaps want to paginate the results, and like you said, limit by default but that could be overwritten.

[2015-01-02 21:11] GrahamCampbell commented on #253
Yeh, a limit and an offset.

[2015-01-02 21:30] joecohens commented on #240
:+1: Laravel 5 it's going to be so cool.

[2015-01-02 22:23] brianjking opened #255 "Issues installing on EC2 w/ ServerPilot"
Hello,

I have an AWS EC2 instance that I attempted to install Cachet onto and was unsuccessful. Can you please help me get this installed for EC2 managed with ServerPilot?

https://serverpilot.io/community/

ServerPilot uses a self install of composer, PHP, MySQL, Apache & NGINX so it's a bit strange sometimes. I'm not sure if Laravel needs to be installed separately or not.

Thanks!

[2015-01-02 22:24] jbrooksuk commented on #255
Did you have any error messages whilst installing?

[2015-01-02 22:27] GrahamCampbell commented on #255
I assume this is due to not having apcu...

[2015-01-02 22:27] jbrooksuk commented on #255
That's a good point @GrahamCampbell, I keep forgetting we've enabled apcu.

[2015-01-02 22:28] jbrooksuk commented on #255
@brianjking can you try following this [tutorial](http://garridodiaz.com/install-apcu-serverpilot-php-5-6/) and report back.

[2015-01-02 22:48] jaxxstorm opened #256 "API key for API authentication"
I think it'd be great if we could use an API key for post requests, rather then username/password

[2015-01-02 22:49] GrahamCampbell commented on #256
:+1:

[2015-01-02 22:50] jbrooksuk commented on #256
This will be required for third-party integration. We just need to add an authentication providers for Dingo.

[2015-01-02 23:23] jbrooksuk commented on #91
I had a reply from Segment regarding having the API write key in the source code:

Looks like we're good just to implement Segment.io straightaway.

[2015-01-03 10:18] #214 closed

[2015-01-03 12:12] Crash-- commented on #230
Do you already have a branch with some work concerning this issue? When I created the view for editing an incident I saw some plain text in views  without the use of {{trans...

So how can we contribute on this one?

[2015-01-03 12:19] jbrooksuk commented on #230
Nope, this can be done by anyone at the moment. Essentially anywhere that there is plaintext (perhaps, except for API errors), we should be using `trans`.

[2015-01-03 20:16] SamuelMoraesF opened #261 "Error "File css/all.css not defined in asset manifest" on Heroku"
When I deploy to heroku, [some errors are retorned](http://pastebin.mozillabrasil.org.br/vocogotawe.coffee), and the home page return:

```File css/all.css not defined in asset manifest. (View: /app/app/views/layout/master.blade.php) (View: /app/app/views/layout/master.blade.php)```

[2015-01-03 21:50] GrahamCampbell commented on #261
Yeh, you need to now run gulp on heroku after the latest changes.

[2015-01-03 21:50] GrahamCampbell commented on #261
[code]

[2015-01-03 23:00] SamuelMoraesF commented on #261
I runned these commands, none error has returned, but when access the
page the same error is returned:

http://status.mozillabrasil.org.br/

[2015-01-03 23:00] GrahamCampbell commented on #261
One sec.

[2015-01-03 23:02] GrahamCampbell commented on #261
Try now with my latest changes. Just run it how you used to do it.

[2015-01-03 23:10] SamuelMoraesF commented on #261
The push is rejected because bower is not installed:

```Error Output: sh: 1: bower: not found```

[2015-01-03 23:10] GrahamCampbell commented on #261
I'll revert all the changes for now...

[2015-01-03 23:11] #261 closed

[2015-01-03 23:11] GrahamCampbell commented on #261
Reverted.

[2015-01-04 00:19] jbrooksuk commented on #255
@brianjking did you have a chance to follow the tutorial? I don't have an EC2 instance to play with this I'm afraid, so we're relying on you :)

[2015-01-04 00:19] jbrooksuk opened #263 "Banner margin"
We need more margin below the app banner on the status page.

[2015-01-04 02:12] foxted commented on #125
:+1:

[2015-01-04 09:33] jbrooksuk commented on #91
@GrahamCampbell you don't know of any Laravel adapters for [this](https://github.com/segmentio/analytics-php) do you?

[2015-01-04 09:34] #148 closed

[2015-01-04 09:36] jbrooksuk opened #265 "Responsive inline component updater"
The inline component updater isn't very responsive:

![screenshot 2015-01-04 09 35 51](https://cloud.githubusercontent.com/assets/246103/5605469/176d4206-93f5-11e4-9945-91d340f13d5a.png)

[2015-01-04 09:36] joecohens commented on #265
:+1:

[2015-01-04 09:37] jbrooksuk commented on #87
I'm going to close this and just continue writing docs as I go.

[2015-01-04 09:37] #87 closed

[2015-01-04 09:56] #256 closed

[2015-01-04 10:09] joecohens commented on #253
I think it could be api/incidents?per_page=20&page=1.

@GrahamCampbell How do you like to manage paging with Laravel, with the built in methods or manual?

[2015-01-04 10:16] jbrooksuk commented on #253
I think that's how GitHub's API works?

[2015-01-04 10:45] jbrooksuk commented on #192
@GrahamCampbell we should implement that into Cachet - it'd be a nice little "polish" feature IMHO.

[2015-01-04 10:48] GrahamCampbell commented on #91
I could write one if needed.

[2015-01-04 10:49] jbrooksuk commented on #91
I've not been able to find one, but it'd be good to have if you've got the time? If not, I'll have a go by checking out your adapters and stuff :)

[2015-01-04 10:50] GrahamCampbell commented on #253
Yeh, that would probably work.

[2015-01-04 10:50] GrahamCampbell commented on #253
NB, pagination is also much improved in L5.

[2015-01-04 10:53] leegeng opened #268 "install.md has a broken link"
On [Configuring a database without heroku](https://github.com/cachethq/Cachet/blob/master/docs/setup/install.md#configuring-a-database-without-heroku), there is a broken link for "environment" keyword.

I just edited markdown, and made a pull-request for it.

[2015-01-04 10:54] jbrooksuk commented on #268
Closed by #269.

[2015-01-04 10:54] #268 closed

[2015-01-04 13:18] CuReSoft opened #272 "Setup Error"
Im getting this error when i try to run the setup for the first time.

file_get_contents(/var/www/Cachet/public/build/rev-manifest.json): failed to open stream: No such file or directory (View: /var/www/Cachet/app/views/partials/dashboard/head.blade.php) (View: /var/www/Cachet/app/views/partials/dashboard/head.blade.php) (View: /var/www/Cachet/app/views/partials/dashboard/head.blade.php)
ErrorExce

[2015-01-04 13:19] #272 closed

[2015-01-04 13:19] GrahamCampbell commented on #272
You need to run npm and gulp.

[2015-01-04 13:22] GrahamCampbell commented on #272
https://github.com/cachethq/Cachet/commit/c025946aa8ade7dcddaf304751d02de056db8399

[2015-01-04 14:28] leegeng opened #273 "Health check and web hooking options"
Do you have a plan to provide an automated health check or a web hooking interface to change status value automatically?

[2015-01-04 15:59] jaxxstorm commented on #273
There's an API already where you can change status of incidents and components: https://github.com/cachethq/Cachet/tree/master/docs/api

I think a health check would be more suited to a monitoring system..

[2015-01-04 16:09] jaxxstorm opened #274 "Upgrade bug"
Another bug when upgrading:

[code]

I've run composer update and artisan migrate. I don't see the particular file in the git repo either.

[2015-01-04 16:19] jbrooksuk commented on #274
Ah. The problem here is that you won't have `gulp` and `bower` installed to generate the assets.

[2015-01-04 16:25] jaxxstorm commented on #274
I suspect this is a new requirement? Any tips to get them?

[2015-01-04 16:32] GrahamCampbell commented on #274
It's been on our readme for ages. We just didn't make it a hard requirement until recently.

[2015-01-04 16:32] #274 closed

[2015-01-04 16:34] jbrooksuk commented on #274
This can be fixed for older installations though @jaxxstorm.

1. Open your Heroku dashboard.
2. Change the `BUILDPACK_ENV` variable to `https://github.com/cachethq/cachet-buildpack`
3. Re-deploy.

You'll get everything built in.

[2015-01-04 16:35] jbrooksuk commented on #273
By "health check" do you mean integration with other services?

[2015-01-04 16:35] jbrooksuk commented on #272
We need to add this into the install document I think.

[2015-01-04 16:35] jbrooksuk commented on #272
@GrahamCampbell can you see why I was committing the compiled source too?

[2015-01-04 16:47] SamuelMoraesF commented on #273
Health check is the automatic verification of status of
site/server/service(like pingdom and statushub).

The system verify for errors(404, 500, DNS Resolution, Ping...) and if
found, register an special issue(pingdom have 2 sections, reported
issues and issues found by the system).

[2015-01-04 16:48] jbrooksuk commented on #273
Oh right, then the answer is no for that, we won't be performing checks, but we could gather data from Pingdom or Uptime Robot etc.

[2015-01-04 16:55] #273 closed

[2015-01-04 17:02] jaxxstorm opened #275 "Bower & Gulp requirements break Debian Wheezy & CentOS 6 installs"
A bunch of the node requirements require node-sass ~ 1.0, which is broken on CentOS 6 and Debian Wheezy re: https://github.com/sass/node-sass/issues/517

The error message received is:

[code]

The fix currently is to use node-sass 2.0.0 beta:

https://github.com/sass/node-sass/issues/517#issuecomment-68086206

Unfortunately, the deps require explicitly that node-sass versions around 1.0 are used,

[2015-01-04 17:21] #263 closed

[2015-01-04 17:22] jbrooksuk commented on #229
Once #196 is in, we can look at extending it with SAML.

[2015-01-04 17:23] jbrooksuk commented on #213
Once #196 is in, we can look at extending it with LDAP.

[2015-01-04 17:23] jbrooksuk commented on #128
Basic team member support is almost done, we just need to be able to edit users.

[2015-01-04 17:26] sidewinder12s commented on #229
Thanks, Seems like a lot of LDAP auth is switching to SAML type solutions going forward.

[2015-01-04 17:46] jbrooksuk commented on #229
I've never used LDAP or SAML in an application, are they widely used?

[2015-01-04 17:55] jbrooksuk commented on #128
Not long!

[2015-01-04 18:05] sidewinder12s commented on #229
I would fathom from what I've set up that LDAP is the most used common authentication system (Maybe other than Active directory/Kerberos, depending on how it's connected, since it could be actual AD or Kerberos auth or it can be LDAP on top of AD/Kerberos). SAML is the preferred auth mechanism going forward where I work because it is single sign on and federated.

There are a lot of shibboleth int

[2015-01-04 19:12] #128 closed

[2015-01-04 19:27] #265 closed

[2015-01-04 20:58] #146 closed

[2015-01-04 21:05] jbrooksuk opened #276 "gulp-rimraf is deprecated"
Deploying to Heroku tells me this:

[code]

[2015-01-05 00:18] GrahamCampbell commented on #225
:+1:

[2015-01-05 00:18] GrahamCampbell commented on #128
For anyone coming to this issue, this was implemented, not closed. :)

[2015-01-05 00:19] MichaelBanks commented on #225
:+1: but, surely this'd just be some config on the Nagios server side. You could just create a contact for Cachet and get it to call the API when something's going on, similar to Trello's integration with Nagios.

[2015-01-05 04:09] sammcj commented on #236
@jbrooksuk - Out of interest, how much would be required to add support for multiple apps?

This would be the only thing holding us back from using Cachet as we have around 15 apps we'd look at using it for.

We would also consider making a donation to fund the feature if that would help at all?

[2015-01-05 07:23] jbrooksuk commented on #236
@sammcj it depends on what kind of "multiple app" implementation you'd like. Are you imagining it to work the same way as components? Or each application is a sub-domain on the current app, or simply its own page?

I've never accepted a donation for this kind of thing, but it'd definitely help out the project - marketing, hosting etc - email me at `james [at] cachethq [dot] io` and we can talk mor

[2015-01-05 09:59] foxted opened #280 "Migrate:refresh broken"
I noticed this issue during the translation changes: it is impossible when the database has been filled to do an `artisan migrate:refresh` command. Here is the error message:

[code]

The same goes for `artisan migrate:reset`, even with the `--force` option. I didn't want to include it in my PR since it wasn't really related, but I'll be happy to fix it.

[2015-01-05 10:02] foxted opened #281 "Add locale, timezone & url settings to config/app.php after application setup"
I think it would be nice to modify the `config/app.php` file at setup to save the **locale**, **timezone** and **url (domain)** settings.

I think it will just make it faster to install with the desired language & timezone.

[2015-01-05 10:31] jbrooksuk commented on #281
This is definitely something we need to address. We actually ask for the `app_domain` at setup, but never use it in `app.php`.

[2015-01-05 10:31] jbrooksuk commented on #280
I believe the reason this may be the case is the foreign keys?

[2015-01-05 10:36] #276 closed

[2015-01-05 10:37] foxted commented on #280
No, in the `2015_01_03_120438_AlterTableUsersAddApiKey.php` file, there is no arguments passed in the `dropColumn` method:

[code]

The fix should be:

[code]

[2015-01-05 10:40] foxted commented on #281
How would you implement this?

[2015-01-05 10:42] jbrooksuk commented on #281
We'd have to have default settings with it, so that before it's installed, migrations etc will continue to work.

[2015-01-05 10:43] jbrooksuk commented on #280
:facepunch: :smile:  (my face).

Can you make a PR?

[2015-01-05 10:48] foxted commented on #280
Sure. Shouldn't I wait for the lang branch to be merged? (Even if there's no risk to cause any conflicts)

[2015-01-05 11:44] GrahamCampbell opened #283 "Languages"
We MUST NOT allow new code into cachet unless it has all static text in languages files, and all languages have been updated otherwise the backlog on languages becomes so large they end up totally broken and need to be removed.

[2015-01-05 11:51] jbrooksuk commented on #283
I was going to make this a rule earlier in the project, but I figured we should wait until we have the ability to translate (we do now with CrowdIn) and move existing static text out.

This should go into `CONTRIBUTING.md`.

[2015-01-05 11:56] foxted commented on #283
:+1:

[2015-01-05 13:00] jbrooksuk commented on #280
Closed by f4ddad07212636aebb09a947e3106f5a4b257d6a.

[2015-01-05 13:00] #280 closed

[2015-01-05 13:45] willdurand opened #285 "View [dashboard.components.add-group] not found."
Hi!

Wanted to give Cachet a try using Heroku. I can't create a component, looks like at least one component group is needed. So I tried to create one, but can't get the page:

[code]

It can't find the view. Any hints?

Here is the issue related to the component creation fail:

[code]

Regards,
William

[2015-01-05 13:50] #285 closed

[2015-01-05 13:51] jbrooksuk commented on #285
Can you update and try again please :)

[2015-01-05 14:01] willdurand commented on #285
@jbrooksuk I can create a component group now, but if I don't specify one in the component creation, it fails and I get a 500 error...

[2015-01-05 14:03] GrahamCampbell commented on #285
Looks we're not catching the validation exception correctly.

[2015-01-05 14:03] jbrooksuk commented on #285
@willdurand I'm able to create a component without adding it to a group.

[2015-01-05 14:03] willdurand commented on #146
Looks like it is not possible to remove component groups yet. Am I wrong?

[2015-01-05 14:04] jbrooksuk commented on #146
Correct, that was an oversight on my part. If you create an issue, I'll do it tonight.

[2015-01-05 14:06] willdurand commented on #285
@jbrooksuk glad for you. Here is a new log output:

[code]

I filled in:

![screen shot 2015-01-05 at 15 06 11](https://cloud.githubusercontent.com/assets/217628/5614009/6aaa7f86-94ec-11e4-81be-9314083c23f2.png)

[2015-01-05 14:07] jbrooksuk commented on #285
@GrahamCampbell it looks like PgSQL isn't filling in `null`?

[2015-01-05 14:07] GrahamCampbell commented on #285
@jbrooksuk Are you using mysql? It's less string than postgresql on these things.

[2015-01-05 14:08] GrahamCampbell commented on #285
Yeh, it's not meant to. mysql is basically doing it wrong.

[2015-01-05 14:09] willdurand opened #286 "[Feature Request] Component group deletion"
It would be nice to be able to delete component groups.

I'd say, if and only if there is no component associated with a group. However, if a component can be group-less, we could delete any component group, and make its components group-less.

[2015-01-05 14:13] jbrooksuk commented on #285
Ok, so I'll just add a condition to check for it existing? If it doesn't, manually set it to `null`?

[2015-01-05 14:14] jbrooksuk commented on #286
The idea is that the status page would group components, if they're not in a group, they'll appear above the groups list.

Removing a group wouldn't affect the components (except remove the `group_id` value).

[2015-01-05 14:15] willdurand commented on #285
Don't you use an ORM?

[2015-01-05 14:15] jbrooksuk commented on #285
Yeah, Eloquent.

[2015-01-05 14:17] willdurand commented on #285
It should be its responsibility.

[2015-01-05 14:18] jbrooksuk commented on #285
Which is why I'm confused. I thought Eloquent would be handling that, especially with the `doctrine/dbal` requirement.

[2015-01-05 14:23] willdurand commented on #285
Should we reopen this issue or continue in a new one? but this is a pretty serious issue :p (at least, because it returns a 500)

[2015-01-05 14:24] jbrooksuk commented on #285
Open a new one regarding this specific issue please. I'll take a look.

[2015-01-05 14:25] willdurand opened #287 "[PostgreSQL] Can't add a component without group (500 error)"
See: #285

[code]

I filled in:

![screen shot 2015-01-05 at 15 06 11](https://cloud.githubusercontent.com/assets/217628/5614009/6aaa7f86-94ec-11e4-81be-9314083c23f2.png)

[2015-01-05 14:25] willdurand commented on #285
conversation moved to: #287

[2015-01-05 14:26] jbrooksuk commented on #287
Try now, I've just added a condition, if it's not set in the input, set it to `null`.

[2015-01-05 14:41] willdurand commented on #287
Please reopen and don't close the issue until it is really fixed.

[2015-01-05 14:42] willdurand commented on #287
So, the field seems not `nullable` and expects an integer. Setting `null` in PHP does not solve the issue because of that, here is the log output:

[code]

[2015-01-05 14:45] GrahamCampbell commented on #287
Ping @cachethq/owners

[2015-01-05 15:14] jbrooksuk commented on #287
Does pgsql not have any understanding of a nullable integer field?

[2015-01-05 15:20] GrahamCampbell commented on #287
it does, but ours isn't nullable?

[2015-01-05 15:21] GrahamCampbell commented on #287
also, i suspect eloquent translates `null` to empty string.

[2015-01-05 15:22] jbrooksuk commented on #287
Will make it `0` then.

[2015-01-05 15:22] GrahamCampbell commented on #287
This is hacky. There's probably a better way.

[2015-01-05 15:22] jbrooksuk commented on #287
It is, but for now, if it's returning 500 errors I'd rather get it fixed whilst I'm at work.

@willdurand can you try again please.

[2015-01-05 15:23] jbrooksuk commented on #287
Also:

[code]

[2015-01-05 15:38] willdurand commented on #287
Does not work. Here is an interesting log entry:

[code]

I don't see why it talks about a "text representation". Is everything configured as it should be?

[2015-01-05 15:38] willdurand commented on #287
Full log output:

[code]

[2015-01-05 15:38] jbrooksuk commented on #287
That's a new one.

[2015-01-05 15:38] GrahamCampbell commented on #287
yeh, it doesn't seem to be passing null, rather empty string

[2015-01-05 15:39] jbrooksuk commented on #287
@GrahamCampbell I changed it to be `0`.

[2015-01-05 15:40] GrahamCampbell commented on #287
Both are not correct.

[2015-01-05 15:40] GrahamCampbell commented on #287
It needs to be `NULL`. That's a special sql thing.

[2015-01-05 15:40] GrahamCampbell commented on #287
http://en.wikipedia.org/wiki/Null_%28SQL%29

[2015-01-05 15:40] GrahamCampbell commented on #287
Not the same as 0.

[2015-01-05 15:40] jbrooksuk commented on #287
Why both as `NULL`, the field is an integer.

[2015-01-05 15:42] GrahamCampbell commented on #287
The field is nullable thus it must support this.

[2015-01-05 15:42] jbrooksuk commented on #287
Ok. So we need to figure out what is going on then. I thought that Eloquent/dbal was supposed to support this?

[2015-01-05 15:43] GrahamCampbell commented on #287
Yeh it is. Is it possible @willdurand migrated with an old version of the migration?

[2015-01-05 15:44] jbrooksuk commented on #287
It's possible - @willdurand can you undo the recent migrations and try again please.

In the mean time, I'll re-push our demo and see if it works there.

[2015-01-05 15:44] willdurand commented on #287
Let me trash the web app, and start again.

[2015-01-05 15:45] jbrooksuk commented on #287
@willdurand the app itself should be ok, just the migrations may have gone wonky.

[2015-01-05 15:46] willdurand commented on #287
You know.. migrations on heroku take more time than recreating an app..

[2015-01-05 15:47] jbrooksuk commented on #287
As you've seen, we're running a custom buildpack. It may be something to do with that.

[2015-01-05 15:50] jbrooksuk opened #289 "Login page is no longer central"
It's now shifted to the right.

![screenshot 2015-01-05 15 50 36](https://cloud.githubusercontent.com/assets/246103/5615382/9cf0f7ee-94f2-11e4-8464-6372a96f25b3.png)

[2015-01-05 15:53] jbrooksuk opened #290 "Don't allow admin account to be changed by team members"
Currently any team member can change the admin account. This shouldn't be allowed.

[2015-01-05 15:55] willdurand commented on #287
Still the same issue after a fresh install. Should I run migrations again?

[2015-01-05 16:08] jbrooksuk opened #291 "Setup no longer works"
I've just re-setup the Heroku demo, it took me to the login page but upon checking the database there is no user.

Looking through it all, even the settings haven't been filled in.

[2015-01-05 16:10] GrahamCampbell commented on #291
wtf?

[2015-01-05 16:10] GrahamCampbell commented on #291
this was working for me last night btw

[2015-01-05 16:10] GrahamCampbell commented on #291
i ran the setup. it must have been something commited today

[2015-01-05 16:11] GrahamCampbell commented on #291
Here is what's been pushed since then: https://github.com/cachethq/Cachet/compare/156f103e44c3bb0d8914bfe88e7337ffd3fa046f...9578b81066309d79f37d9b1ace83cad8419e1a03.

[2015-01-05 16:15] jbrooksuk commented on #291
I can't see anything obvious.

[2015-01-05 16:25] GrahamCampbell commented on #291
me neither. it could be a client side issue?

[2015-01-05 16:25] GrahamCampbell commented on #291
do our js dependencies resolve slightly differently now?

[2015-01-05 16:43] jbrooksuk commented on #291
How do you mean?

[2015-01-05 16:44] GrahamCampbell commented on #291
Are the downloaded bower dependencies any different today than they were yesterday?

[2015-01-05 16:55] jbrooksuk commented on #291
I don't think so.

[2015-01-05 17:02] foxted commented on #291
I installed it this morning locally without any trouble (while fixing the migrations).

[2015-01-05 17:25] jbrooksuk commented on #291
Unless of course they've been upgraded as they're compiled with gulp?

[2015-01-05 17:36] GrahamCampbell commented on #291
?

[2015-01-05 17:36] jbrooksuk commented on #291
Well if we run `bower install` and then `gulp` the issue could have been introduced then.

[2015-01-05 17:37] GrahamCampbell commented on #291
That's what I was saying...

[2015-01-05 17:38] jbrooksuk commented on #291
Yeah, but without knowing what's changed, it's tough to figure out. I'm running a complete test now.

[2015-01-05 17:44] jbrooksuk commented on #291
Ok, setup works locally (MySQL).

[2015-01-05 17:57] GrahamCampbell commented on #291
Oh yeh, I only tested this on mysql btw. :)

[2015-01-05 17:57] GrahamCampbell commented on #291
Maybe this issue has existed on postgres for a while?

[2015-01-05 17:58] GrahamCampbell commented on #291
TBH, our migrations are a mess.

[2015-01-05 17:58] GrahamCampbell commented on #291
I'd suggest we just rewrite them. We shouldn't need to worry about bc until we actually release 1.0.0.

[2015-01-05 18:00] jbrooksuk commented on #291
I've just deployed again and it works fine. Everything has been created.

[2015-01-05 18:27] GrahamCampbell commented on #291
Hmmm. I'd still recommend we redo our migrations anyway. We already have hack db specific code in there.

[2015-01-05 18:32] jbrooksuk commented on #291
How do you advise that we write migrations then?

[2015-01-05 18:33] GrahamCampbell commented on #291
Delete them all, and just add some new ones that straight up create the table we need.

[2015-01-05 18:33] GrahamCampbell commented on #291
We shouldn't be worrying about existing users at this point. We have no releases yet therefore we are "pre-alpha" technically.

[2015-01-05 18:34] jbrooksuk commented on #291
No ORM? Just statements?

Sent from my iPhone

[2015-01-05 18:38] GrahamCampbell commented on #291
What?

[2015-01-05 18:40] GrahamCampbell commented on #291
Instead of doing this:

[code]
and
[code]

do this:
[code]

[2015-01-05 18:40] GrahamCampbell commented on #291
Also, we surely shouldn't have a default component id?

[2015-01-05 18:41] GrahamCampbell commented on #291
We should be explicitly dealing with that in our code, not relying on the db to fill out where we mist things.

[2015-01-05 18:42] jbrooksuk commented on #291
So basically merge all of our migrations per table? So where we are dropping columns, have one table with the final one.

Sent from my iPhone

[2015-01-05 18:44] GrahamCampbell commented on #291
Yeh. We've got some far worse migrations than that example in there.

[2015-01-05 18:46] GrahamCampbell commented on #291
Like, what is this crap?
[code]

If you use sqlite, your screwed then?

[2015-01-05 18:50] joecohens commented on #283
:+1:

[2015-01-05 18:51] jbrooksuk commented on #291
Ok let's rewrite them.

Sent from my iPhone

[2015-01-05 18:59] foxted commented on #291
I agree and I'll be happy to help :)

[2015-01-05 19:04] #289 closed

[2015-01-05 19:20] joecohens commented on #253
@GrahamCampbell Should we wait to L5 to implement it?

[2015-01-05 19:38] GrahamCampbell commented on #253
Nah, just implement it. Your code might just appear "hacky".

[2015-01-05 19:39] jbrooksuk commented on #291
@GrahamCampbell what's the best way of doing this? Delete all migrations and start again?

[2015-01-05 21:20] kfrankperson opened #296 "Composer Install Error"
When trying to install Cachet from the latest version, Composer spits back an error

![screen shot 2015-01-05 at 21 17 44](https://cloud.githubusercontent.com/assets/9014669/5620113/73e2a41e-9520-11e4-91d7-c112f557b18c.png)

Fixed the prblem by removing the lines below out of the composer.json

[code]

[2015-01-05 21:26] #296 closed

[2015-01-05 21:26] GrahamCampbell commented on #296
Yeh, this is clearly documented in our install guide.

[2015-01-05 21:31] kfrankperson commented on #296
It's still a problem as there is no tests DIR. Having to run ````composer install --no-dev -o```` is just putting problems in front of people, when there is very little need to.

[2015-01-05 21:34] GrahamCampbell commented on #296
No, there is a test dir.

[2015-01-05 21:34] GrahamCampbell commented on #296
It just isn't included with a dist download.

[2015-01-05 21:34] GrahamCampbell commented on #296
https://github.com/cachethq/Cachet/blob/master/tests/TestCase.php

[2015-01-05 21:34] GrahamCampbell commented on #296
That tests folder very much exists.

[2015-01-05 21:36] jbrooksuk commented on #296
@GrahamCampbell is there anything we can do here? We could technically include the tests with the dist download, but that seems pointless.

[2015-01-05 21:37] GrahamCampbell commented on #296
Nah, it's fine how it is. People are just doing it wrong. If you were to clone the repo with git, you'd still get the tests folder, if you wanted it. Otherwise, we should give people the minimum stuff they want.

[2015-01-05 21:37] kfrankperson commented on #296
It should be included with the download.

Even when doing thing right you still get an error @GrahamCampbell

![screen shot 2015-01-05 at 21 33 04](https://cloud.githubusercontent.com/assets/9014669/5620315/a88fc2c6-9522-11e4-8eb0-3071a00a7412.png)

When following the install.md running ````composer install --no-dev -o```` still produces errors, the steps will need to be changed around.

[2015-01-05 21:38] GrahamCampbell commented on #296
No it shouldn't. It's standard practice to exclude tests.

[2015-01-05 21:38] jbrooksuk commented on #296
@kfrankperson you need an `.env.php` file with your DB configuration, see [install.md](https://github.com/cachethq/Cachet/blob/master/docs/setup/install.md).

[2015-01-05 21:39] GrahamCampbell commented on #296
For all our dependencies, we don't want to download their tests too when we run composer install. They use the same method to exclude the tests folder as we do.

[2015-01-05 21:40] kfrankperson commented on #296
Yeah up to the point of running ```composer install --no-dev -o```` there is no place which says please create the file below your run composer. The install.md should be moved around to say do XYZ then run composer.

[2015-01-05 21:41] jbrooksuk commented on #296
@kfrankperson sure, we can update the install document to be clearer.

[2015-01-05 21:44] jbrooksuk commented on #296
@kfrankperson [how's this](https://github.com/cachethq/Cachet/blob/master/docs/setup/install.md)?

[2015-01-05 21:45] kfrankperson commented on #296
The only reason i raised this is I have a scripts at work to deploy code to multiple servers and with Cachet it now fails as we have to run ``` composer install --no-dev -o ```, yet all other systems we use it's  ```composer install```.

[2015-01-05 21:45] kfrankperson commented on #296
@jbrooksuk Much much better !!!

[2015-01-05 21:46] jbrooksuk commented on #296
I'm sorry if you felt misled whilst reading the installation document, hope it helps :)

[2015-01-05 21:46] GrahamCampbell commented on #296
@kfrankperson No they don't. If you use composer install, you are also doing it wrong, because you are installing all the dev-dependencies.

[2015-01-05 21:46] GrahamCampbell commented on #296
`-o` is not required anyway, it just gets composer to generate an optimized autoloader.

[2015-01-05 21:47] kfrankperson commented on #296
@GrahamCampbell yeah but it best to have it there :P

The other thing about the install document can the deploy to Heroku be it's own section at the bottom as it distracts from installing it in a non Heroku env ?

[2015-01-05 21:51] sammcj commented on #236
Email sent describing multiple applications and donation.
@jbrooksuk to follow up.

[2015-01-05 21:52] jbrooksuk commented on #296
@kfrankperson would you mind making a PR with that change? I'm just in the middle of something :)

[2015-01-05 22:06] jbrooksuk commented on #236
Thanks @sammcj, I'll formalise a plan for multiple applications and speak with @GrahamCampbell and @joecohens about this.

[2015-01-05 22:16] jbrooksuk commented on #291
This is working now, I've just re-setup the demo.

[2015-01-05 22:17] jbrooksuk commented on #291
Nope. Went to add an incident and we got an error.

[2015-01-05 22:42] jbrooksuk commented on #291
Still getting this:

[code]

What on earth.

[2015-01-05 22:44] jbrooksuk commented on #291
I imagine that the `components` migration actually needs to be:

[code]

[2015-01-05 22:46] jbrooksuk commented on #291
@GrahamCampbell is it worth implementing [this](https://github.com/laravel/framework/issues/2265)?

In our `Component` model, we set `$attributes` with default values?

[2015-01-05 22:59] jbrooksuk commented on #291
That's fixed it ;) Will push and close.

[2015-01-05 23:00] #291 closed

[2015-01-05 23:01] jbrooksuk commented on #287
Closed by 751ba687d71fe03aa571a931ee09ff8e587cce21.

[2015-01-05 23:01] #287 closed

[2015-01-05 23:01] jbrooksuk commented on #290
Do we prevent the admin account from even being listed in the team members?

[2015-01-05 23:04] willdurand commented on #287
So, how am I supposed to upgrade?

[2015-01-05 23:24] GrahamCampbell commented on #287
delete all your tables in the db, then run the new migrations

[2015-01-06 00:10] willdurand commented on #287
Great. It works now, but I can't update dashboard settings anymore... The form gets redirected from `/dashboard/settings` to `/dashboard/settings/setup`, and thus the POST request is gone, meaning it does not submit the form.

[2015-01-06 00:26] foxted commented on #290
I think it would be a good idea. Also, there is still a view in a `user` folder, maybe we should move everything related to `teams` in a team folder?

[2015-01-06 00:33] willdurand commented on #91
Sounds like a bad idea to me. Or make it optional and disabled by default.

[2015-01-06 00:44] SamuelMoraesF commented on #236
I thought this way:

![captura de tela de 2015-01-05 21 52 22](https://cloud.githubusercontent.com/assets/3705263/5622405/573c0fd0-952a-11e4-8bfe-b8598fc275d6.png)

On this example, ```Main Site``` and ```IRC Bot``` are Tags, ```#Server1``` and ```#CDN``` are component groups and ```Newsletter``` and ```Assets``` are components.

We need to insert the following inputs on the incidents form:

- Whe

[2015-01-06 00:49] foxted commented on #91
@willdurand I think @jbrooksuk was talking about an 'opt-in' thing, which means it would be deactivated by default unless you choose to give some feedback.

Seems like a cool idea, would love to work with you guys on the adapter :)

[2015-01-06 01:01] GrahamCampbell commented on #91
I think we should have a check box which is enabled by default on the setup page.

[2015-01-06 01:02] GrahamCampbell commented on #91
I'm pretty sure WordPress tracking is actually non optional too.

[2015-01-06 01:34] joecohens commented on #91
:+1: Checkbox on Setup like the one we have now to show support.

[2015-01-06 01:47] brianjking commented on #255
I'm still working on this. I think I may be confused on the database.php file creation steps. Can you please clarify which file I modify to setup a MySQL db?

[2015-01-06 02:12] brianjking opened #297 "Upgrading Heroku Instancing doesn't work"
When attempting to follow the upgrade instructions for the Heroku instances documented here https://github.com/cachethq/Cachet/blob/master/docs/heroku/upgrade.md I find myself in a series of errors. If I force a push to Heroku the build fails, any suggestions?

Thanks!

bk-mbp13:ddstatus brianjking$ git fetch origin
warning: no common commits
remote: Counting objects: 6780, done.
remote: Compressi

[2015-01-06 02:27] sammcj commented on #236
@SamuelMoraesF I like your approach, I think that this could work well.

[2015-01-06 05:33] brianjking opened #299 "Time zone support"
Is there a way to specify the time zone of the application globally or component by component? Thanks!

[2015-01-06 06:43] jbrooksuk commented on #91
Definitely a checkbox.

One thing we could do is fetch the key when they say yes to tracking and decrypt it. This way we aren't giving it away easily.

[2015-01-06 06:45] jbrooksuk commented on #255
You'll need an env file still. You just set DB_DRIVER to MySQL.

[2015-01-06 06:48] willdurand commented on #91
WP does not care about privacy, doing silly stuff. Does this mean Cachet should do the same? Nope.

By the way what showing support actually does? And why can't I enable it later?

[2015-01-06 06:50] jbrooksuk commented on #91
It's not even tracking as such, because we aren't tracking a user in particular just usage stats. No component or incident data would be included.

@willdurand it adds a link in the footer to Cachet.

[2015-01-06 08:25] dcoeurjo opened #300 "Website footer cachet link returns 404"
The Cachet link (https://cachethq.github.io)  in the website footer once installed in heroku returns a 404.
The correct URL seems to be https://cachethq.io

[2015-01-06 08:27] jbrooksuk commented on #300
That's now changed, have you pulled?

[2015-01-06 08:27] jbrooksuk commented on #300
https://github.com/cachethq/Cachet/blob/master/app/lang/en/cachet.php#L41

[2015-01-06 08:27] #300 closed

[2015-01-06 08:28] jbrooksuk commented on #299
Not via the Dashboard, but you can manually edit the `app/config/app.php` configuration file. We're going to add a panel for managing that kind of stuff though.

[2015-01-06 08:29] jbrooksuk commented on #297
Is this an existing installation? If so, you need to change the `BUILDPACK_URL` to `https://github.com/cachethq/cachet-buildpack`.

[2015-01-06 08:33] dcoeurjo commented on #300
I will.. thanks

[2015-01-06 08:35] #297 closed

[2015-01-06 08:35] jbrooksuk commented on #300
:)

[2015-01-06 08:57] jbrooksuk commented on #290
This will also allow us to have an admin account on the demo and keep the `test@test.com` account separate.

[2015-01-06 09:02] #283 closed

[2015-01-06 09:02] jbrooksuk commented on #299
Duplicate of #281.

[2015-01-06 09:02] #299 closed

[2015-01-06 09:03] jbrooksuk commented on #255
@brianjking check out the [install document](https://github.com/cachethq/Cachet/blob/master/docs/setup/install.md#configuring-a-database).

[2015-01-06 09:34] jbrooksuk commented on #91
Thoughts:

- We'll need some a privacy policy.
- We need to highlight that we **don't** track any personal information.
- All collected data is anonymous.
- List exactly what we're tracking.
- Rather than tracking, it should be "Usage stats" since that is what it is.

[2015-01-06 09:41] jbrooksuk commented on #275
@jaxxstorm can you try running `npm shrinkwrap` and then installing.

[2015-01-06 09:46] jbrooksuk commented on #236
My thoughts:

- Each application sits within its own table, `applications`. On setup there is a default application created.
- Components are linked to the `applications` table.
- Incidents are also linked to the `applications` table. *As well as the `component_id` - coming soon.*
- If you have more than the default application, the homepage can show you a list of applications (or a similar view t

[2015-01-06 10:12] jaxxstorm commented on #275
I'll have a crack at redeploying from scratch tonight and seeing if that resolved

[2015-01-06 10:57] jbrooksuk commented on #275
The issue you linked to says that the problem has been fixed, they rebuilt the dependencies? Worth trying again, like you said :)

[2015-01-06 11:05] foxted commented on #281
I have been playing around with a package I found: [Phil-F/Setting](https://github.com/Phil-F/Setting). It seems pretty cool, you can set/get/forget settings in a json file wherever you want, and it has a fallback on the Laravel default if you use the same path (e.g. `app.locale`, `app.timezone`, etc...).

Just need to be careful as his facade is called `Setting` and we already have a model with t

[2015-01-06 11:10] jbrooksuk commented on #281
@foxted the problem with that package is that if you were to redeploy the app on Heroku, you'd lose your settings.

[2015-01-06 11:38] foxted commented on #281
Except if you change the path on the config file to something inside you versionning.

[2015-01-06 11:39] jbrooksuk commented on #281
Potentially you'd lose them if you followed the current upgrade guide.

[2015-01-06 12:31] jbrooksuk commented on #253
FWI Dingo [will be upgraded](https://github.com/dingo/api/issues/213) to support L5, but only once the dust settles.

[2015-01-06 13:20] foxted commented on #253
It could be interesting to try to implement the API ourselves using Fractal, don't you think? It shouldn't be that hard, and like @GrahamCampbell said, L5 pagination will be much better.

[2015-01-06 13:27] jbrooksuk commented on #253
@foxted sure, but it's a lot of extra work, what with writing auth adapters etc. Heck, it may be worthwhile and if so, we should do it.

[2015-01-06 13:32] jbrooksuk opened #302 "Unable to log back into the dashboard"
1. Deploy to Heroku
2. Setup
3. Logout
4. Log back in

You can't get back into the account and it'll just return you to the login screen without any error messages.

[2015-01-06 15:03] jbrooksuk commented on #230
Closed by #267.

[2015-01-06 15:03] #230 closed

[2015-01-06 15:13] willdurand opened #303 "Can't update dashboard settings anymore"
Since last changes related to #287, I can't update dashboard settings anymore... The form gets redirected from `/dashboard/settings` to `/dashboard/settings/setup`, and thus the `POST` request is gone, meaning it does not submit the form.

[2015-01-06 15:26] jbrooksuk commented on #303
@willdurand can you try #302 for me too please.

[2015-01-06 15:27] jbrooksuk commented on #303
This works under MySQL, so I'm inclined to think that it's related to PgSQL again. I'll have a look.

[2015-01-06 15:29] willdurand commented on #302
@jbrooksuk I am not experiencing this issue (Heroku as well).

[2015-01-06 15:29] jbrooksuk commented on #302
Interesting, it could be the demo site is having the password changed. I'll deploy a dev instance too.

[2015-01-06 15:36] jbrooksuk commented on #302
Yep, no bug. I've re-deployed a test version and it's worked.

[2015-01-06 15:36] #302 closed

[2015-01-06 15:36] jbrooksuk commented on #303
@willdurand I've deployed a dev version and I'm able to update settings.

[2015-01-06 15:36] jbrooksuk commented on #303
Heroku btw.

[2015-01-06 15:37] jbrooksuk commented on #303
Oh, hangon... I've tried to change a theme setting and now get an error.

[2015-01-06 15:37] willdurand commented on #303
mmh interesting..

[2015-01-06 15:37] jbrooksuk commented on #303
The main `/dashboard/settings/setup` works for me.

[2015-01-06 15:48] willdurand commented on #303
Well. It does not work **for me**. Second time you're telling me that it works for you. Honestly, I am really glad for you **BUT**, I really have an issue, and that one is described as much as possible here.

`POST`'ing a form to update _Application Setup_ gets redirected with a `302` and changes are **not** persisted. I don't get any feedback, and looking at the code, there are 5 possible redirec

[2015-01-06 15:50] jbrooksuk commented on #303
@willdurand sorry, but I don't appreciate your tone (yes, I saw your tweet too). I'm investigating the issue as I type this (pushing to Heroku, plus I've just pushed another change which could help). The reason for me mentioning that it works is for me to dump my thoughts. It works in MySQL, so now I know that it's again a PgSQL issue.

I'll continue to update this issue as I go through it.

[2015-01-06 15:51] jbrooksuk commented on #303
I'm sorry that there is an issue for you, I'm not singling you out, it's an issue that will be affecting everybody. I'm doing my best to get that resolved for you and everyone.

[2015-01-06 15:54] jbrooksuk commented on #303
@willdurand please try upgrading to 3cbb500de7520c1af7f41d4d962cfe821bc1e732 - I've pushed to Heroku (https://cachet-dev.herokuapp.com) and that has allowed me to update the settings.

![screen shot 2015-01-06 at 15 54 09](https://cloud.githubusercontent.com/assets/246103/5631170/4852bf72-95bc-11e4-92ea-c29fe7b4a7f7.png)

[2015-01-06 15:55] willdurand commented on #303
I don't really appreciate your tone either, so let's go ahead ;-)

[2015-01-06 15:55] willdurand commented on #303
Ok, upgrading..

[2015-01-06 15:56] jbrooksuk commented on #303
@willdurand I've not been rude to you, I've done nothing but apologise and tried to fix the issues. I'm sorry if you think I'm being rude.

Let me know if it goes whacky.

[2015-01-06 16:00] willdurand commented on #303
@jbrooksuk it works like a charm, thank you.

Updating all settings now works again \o/

[2015-01-06 16:00] jbrooksuk commented on #303
:boom:

Thanks for the bug report and helping me test this.

[2015-01-06 16:00] #303 closed

[2015-01-06 16:05] jbrooksuk commented on #159
@jaxxstorm nope, not yet, but we could supply a `component_status` value in the API to update it.

I'm actually going to close this issue; [see why here](https://github.com/cachethq/Cachet/pull/301#issuecomment-68881901). In the incident panel, you'll be able to pick the component then change its status inline (on POST).

[2015-01-06 16:05] #159 closed

[2015-01-06 16:06] jbrooksuk commented on #167
@joecohens we need a modal creating please ;)

[2015-01-06 16:09] willdurand opened #304 "[Feature Request] Allow to set `show_support` in the dashboard settings page"
It is currently not possible to change the `show_support` flag in the settings. So if you either enable or disable it during the setup process, you can't change your mind.

Would it be possible to add a checkbox maybe?

[2015-01-06 16:12] willdurand opened #305 "[Question] Would it be possible to separate `show_support` and `rss/atom` features?"
Hi!

It is probably intentional (well, I guess) but if one does not "show support" for Cachet, then RSS and Atom links are not displayed in the status page. Is this intentional first? And then, would it be possible to change that?

[2015-01-06 16:17] #304 closed

[2015-01-06 16:17] jbrooksuk commented on #304
Done :)

[2015-01-06 16:18] jbrooksuk commented on #305
Do you mean the links in the footer?

[2015-01-06 16:19] #305 closed

[2015-01-06 16:19] willdurand commented on #305
Yes :)

[2015-01-06 16:19] willdurand commented on #305
Awesom!e

[2015-01-06 16:20] willdurand commented on #304
Thanks!

[2015-01-06 16:20] jbrooksuk commented on #305
Done - that was accidental I'm afraid. Originally the view was only for showing support. It needs renaming to `footer` now.

[2015-01-06 16:21] jbrooksuk commented on #305
Also done.

[2015-01-06 16:22] willdurand commented on #305
ah I see. Cool :heart:

[2015-01-06 19:00] benwa opened #307 "Misprint on Edit a Component"
"Description" is labeled as "Group" when editing a component.

[2015-01-06 19:01] GrahamCampbell commented on #307
This needs to be fixed in both en and fr.

[2015-01-06 19:12] GrahamCampbell commented on #281
@foxted Our current settings system is fine. You edit them online, and they're stored in the db. We should not start pulling in more packages to cachet (ex ones we know will be laravel 5 ready) otherwise I'm going to have to rewrite every package we use that's not L5 compatible when we upgrade...

[2015-01-06 19:13] jbrooksuk commented on #281
@GrahamCampbell is there any reason we can't replace these values in `app.php` with `Setting::get()` so long as the model can take a default value? Also, as a side question, `Setting` should be a repository right?

[2015-01-06 19:16] GrahamCampbell commented on #281
No. Repositories are totally overused in laravel. They make no sense because we're only using eloquent. The whole point of repositories is to allow you to interact with multiple totally different totally different database systems. I think we should remove our repositories. All the code in them belongs in our models.

[2015-01-06 19:17] jbrooksuk commented on #281
Ok, so the models are fine as they are? I know you can use repositories for changing to NoSQL and mocking, I was just wondering if it's also the kind of thing we should use for default with default values. If not, that's cool.

[2015-01-06 20:20] GrahamCampbell opened #309 "Mixing Of Quotes In Html Attributes"
Can we not mix double and single quotes in html attributes please. It's hurting my ocd. :(

[2015-01-06 20:20] jbrooksuk commented on #309
New label: `ocd`.

[2015-01-06 20:33] GrahamCampbell commented on #253
I don't think fractal even supports the new paginator yet. So that's another thing to wait for since dingo depends on it...

[2015-01-06 20:41] joecohens commented on #309
Mine too I was going to open an issue thanks @GrahamCampbell !!! I think we should use double quotes for html attributes.

[2015-01-06 20:42] GrahamCampbell commented on #309
:+1: for double quotes

[2015-01-06 20:43] jbrooksuk commented on #309
Ok, we're going with double?

[2015-01-06 20:46] joecohens commented on #309
Making a PR for this.

[2015-01-06 20:57] joecohens commented on #101
https://github.com/cachethq/Cachet/pull/308

[2015-01-06 20:57] #101 closed

[2015-01-06 20:59] #286 closed

[2015-01-06 21:20] foxted commented on #281
Using the database is fine as well of course, as long as we can set the correct timezone and locale.

[2015-01-06 21:32] jbrooksuk commented on #281
Yeah, it can go into the setup stage.

[2015-01-06 21:36] foxted commented on #281
How do we get the settings back from the database at runtime? Never did this kind of work, not sure how to implement this :/

[2015-01-06 21:50] GrahamCampbell commented on #281
The way laravel does this is it literally does a find and replace in the php file.

[2015-01-06 21:51] GrahamCampbell commented on #281
That's how we set the encryption key.

[2015-01-06 23:59] foxted commented on #91
I am surprised they didn't think about such feature!

[2015-01-07 07:01] wdalmut opened #319 "MySQL 5.6 compatibility"
I don't know if mysql 5.6 is in the compatibility list but with that version of mysql during migrations i receive that error

[code]

With mysql 5.5 all works correctly.

I tried with docker pulling the mysql:5.6 repository

[code]

[2015-01-07 08:31] jbrooksuk commented on #319
Can you try running the latest version 873f726671473bf1e06f31ca7c65cdc0bf2c927b please.

FWIW I run MySQL 5.6 locally for development and have had no issues. We've recently rewritten all of the migrations too, so that may help.

[2015-01-07 11:30] jbrooksuk commented on #290
Following on from this, when the administrator creates a new account, they could pick varying levels:

- Administrator
- Owner
- Member

Or whatever, then we can limit the features based on the `level` on the user.

[2015-01-07 11:32] jbrooksuk opened #320 "Add team invitation system"
This would be a great way to get members of your team to join you. They'd simply be sent an email (using the notification email template) they click a link which lets them sign up then the invitation for that account is disabled so it's unable to be re-used.

- [x] Setup mail settings
    - [ ] Allow mail to be configured at setup
    - [ ] Change mail settings via dashboard
- [ ] Create invitatio

[2015-01-07 11:32] jbrooksuk commented on #320
We'll also want to get the queue enabled at some point, because if you invite someone to the team, the mail code will be blocking.

[2015-01-07 12:05] jbrooksuk commented on #91
Ok, then we just pull down the key from the server and store it somewhere in plain text (also advisable as a solution from Segment) that way, if the key ever gets abused, we can re-issue quickly.

[2015-01-07 14:48] jbrooksuk commented on #125
I've spoken to @taylorotwell and all we need is a **bash script** which automates the deployment. He'll make sure that Node.js installed too, so then we'll be able to get Gulp/Bower on there.

[2015-01-07 15:09] kfrankperson commented on #125
:+1: Great news

[2015-01-07 15:33] jbrooksuk commented on #36
#332 and #317 are working on this. Once we have a Notification system, we'll be able to write more adapters.

[2015-01-07 15:37] ajtrichards opened #323 "Install Error running `gulp`"
During the install process after running the `gulp` command i'm getting an error:

[code]

When I ran the `bower install` command I did get a warning/error during that phase

[code]

[2015-01-07 15:54] joecohens commented on #323
This is a npm error, can you run `npm install` please?

[2015-01-07 15:58] joecohens commented on #320
:+1: on ajax for now, although I really love queues they are not available on all simple servers yet.

[2015-01-07 16:00] joecohens commented on #125
Excellent!!! It would be nice to sort out the updating system before.

[2015-01-07 16:07] joecohens commented on #290
@jbrooksuk Basically a simple ACL?

[2015-01-07 16:40] ajtrichards commented on #323
When i'm running that command I get:

[code]

[2015-01-07 16:51] Crash-- commented on #323
Can you :
- `rm -f /var/www/html/status.evaluagent.net/node_modules/` (in the case of the first installation failed due to a network error)
- `npm cache clear`
- `npm install`

[2015-01-07 18:17] joecohens commented on #281
Or maybe we can do a filter called load config to override the values if set on runtime https://gist.github.com/joecohens/48b4d2965e890116d0b0. And use this package to set datetime https://github.com/jenssegers/laravel-date

[2015-01-07 18:26] jbrooksuk commented on #323
I wonder if one of the other modules is clashing?

[2015-01-07 18:27] jbrooksuk commented on #290
@joecohens yeah, basically. Nothing complicated though.

[2015-01-07 18:27] jbrooksuk commented on #125
Yeah, #109 needs implementing first.

[2015-01-07 18:29] jbrooksuk commented on #281
@GrahamCampbell do you have any issue with @joecohens's suggestion?

[2015-01-07 18:31] joecohens commented on #281
I have a PR already with this implementation. Let me know!

[2015-01-07 18:31] jbrooksuk commented on #281
@joecohens does your suggestion include the ability to set the values from the setup wizard and in the dashboard?

[2015-01-07 18:34] joecohens commented on #281
@jbrooksuk Yep so you can change it anytime.

[2015-01-07 18:39] jbrooksuk commented on #281
Sweet. Make a PR, see what @GrahamCampbell has to say.

[2015-01-07 18:40] joecohens commented on #281
:)

[2015-01-07 20:08] #281 closed

[2015-01-07 20:48] jbrooksuk commented on #323
Can you try again, #324 has added `array-union` which could help fix any Gulp install errors :)

[2015-01-07 20:49] jbrooksuk commented on #323
Also, you're not running Debian Wheezy or CentOS 6 are you? If so, see #275.

[2015-01-07 23:49] benwa opened #326 "Multi-Factor Authentication"
Support for MFA would be awesome.  According to [Authy](https://authy.com/developers), it's doable very quickly if you use their REST endpoint, though they also have [libraries](https://github.com/authy) if that would be more appropriate.

[2015-01-07 23:55] benwa opened #327 "Custom Favicon"
Allow for a custom favicon to be set with a fallback to the default checkmark logo.

Possibly support to the "obsessive-level" in [audreyr/favicon-cheat-sheet](https://github.com/audreyr/favicon-cheat-sheet)

[2015-01-08 06:17] lagseeing opened #329 "Font issues."
The font is really hard to see on windows.

I'm using windows 8.1 and the lastest google chrome

[2015-01-08 06:25] joecohens commented on #329
Hi! Can you share a screenshot please?

[2015-01-08 06:36] lagseeing commented on #329
![Blurry text](https://cloud.githubusercontent.com/assets/6233526/5658845/e63bd510-96da-11e4-8912-2dae2c0d628f.png)

[2015-01-08 07:24] jbrooksuk commented on #329
Is the size or the weight of the font for you? I'm looking at the screenshot from mobile GitHub.

[2015-01-08 07:26] jbrooksuk commented on #327
The problem with a custom icon is that we could only really easily support non-Heroku installations. Heroku doesn't have a permanent data store so when you upload then restart the app or upgrade, it'll be lost.

We get round the banner by storing the base64 data in the DB. That's not really doable for a favicon.

[2015-01-08 07:27] jbrooksuk commented on #326
Yeah, this is something we could add quite easily. It'd be opt in of course.

[2015-01-08 08:44] jbrooksuk opened #330 "Incident form error should prefil the originally submitted data"
If you submit an incident but leave off the status, an error is shown and all form fields are emptied.

[2015-01-08 08:59] brianjking commented on #297
:frowning: Even with the correct buildpack URL I'm unable to push this to Heroku and have it successfully build. The first error I get every time is this:

master (non-fast-forward) error: failed to push some refs to 'https://git.heroku.com/ddstatus.git' hint: Updates were rejected because the tip of your current branch is behind hint: its remote counterpart. Integrate the remote changes (e.g. hin

[2015-01-08 09:00] ajtrichards commented on #323
Hi James,

Works fine now - followed @Crash-- instructions and re-run Gulp and i'm in.

I was running this on Homestead.

Thanks

[2015-01-08 09:00] #323 closed

[2015-01-08 09:08] jbrooksuk commented on #323
Good news :)

Sent from my iPhone

[2015-01-08 11:00] Crash-- commented on #319
I'm also running 5.6(.22) locally, and had encounter no issues with migrations today.

[2015-01-08 11:11] benwa commented on #327
What if it is enabled only for non-Heroku installs?

Favicons can actually be loaded from base64. Its how most dynamic favicon notification libraries set it. It of course would be browser dependent.

[2015-01-08 12:06] wdalmut commented on #319
I have always the same issue. Here is the whole error:

[code]

Instead, the same procedure with mysql 5.5.41 goes correctly without problems.

[2015-01-08 12:14] jbrooksuk commented on #319
@wdalmut are you using the latest version?

[2015-01-08 12:24] jbrooksuk commented on #297
@brianjking did you follow the [Heroku upgrade guide](https://github.com/cachethq/Cachet/blob/master/docs/heroku/upgrade.md) fully?

Unfortunately there is no way to import existing data into a new deployment - but that's a good idea to have.

[2015-01-08 12:25] jbrooksuk opened #333 "Export and import of data"
Data is of course owned by the person running the instance of Cachet and as such we should offer a way to get your data out of Cachet into some kind of export file.

From that, you should be able to import existing data into a new instance of Cachet.

[2015-01-08 12:26] jbrooksuk commented on #319
Locally I use MySQL 5.6.21 and have had no issues with the migrations currently. I can only assume your using old migrations.

[2015-01-08 12:44] wdalmut commented on #319
I am using  mysql 5.6.22 in a docker container (the official image)

Just try with:

[code]

connect to local MySQL using `root` with password `root`

[2015-01-08 13:09] jbrooksuk commented on #327
I did not know that a favicon could be base64 - that's awesome! What happens if a spider tries to get your favicon, does it still work?

If so, then we can easily add a favicon uploader to the App Setup panel.

[2015-01-08 13:12] jbrooksuk opened #335 "Work on the test suite"
Currently nothing is really tested and the existing tests will need rewriting once remove the transformers. Let's make sure that Cachet is a fully tested piece of software.

[2015-01-08 13:13] jbrooksuk commented on #275
@jaxxstorm can you try again please? We've added another dependency `array-union`. I've no idea if it will help, but it can't hurt.

[2015-01-08 13:58] benwa commented on #327
I suppose that would depend on the intelligence of the spider.  If it's just looking for "favicon.ico" then it isn't really following standards as that's not really set in stone.
Of course since it isn't really a file like the common (but again, no set standard) practice, the spider would have to just know how to do it.

[2015-01-08 14:05] benwa commented on #329
I think it is the font weight.  On Windows 7 at work and it is quite a bit more readable with it off.
![capture](https://cloud.githubusercontent.com/assets/1351571/5663464/431914fc-9715-11e4-9a5e-5a09a7416d2a.PNG)
Left is regular, right is off

At home on OS X, the question mark icons are not very recognizable unless `-webkit-font-smoothing: antialiased` is disabled.

[2015-01-08 14:16] jbrooksuk commented on #329
With what turned off sorry, @benwa?

[2015-01-08 14:20] benwa commented on #329
The set font weight.

[2015-01-08 14:25] jbrooksuk commented on #319
Fixed by 1d54d7553f1d69e68504cb7e492c2c5ad7726b99.

[2015-01-08 14:25] #319 closed

[2015-01-08 14:25] jbrooksuk commented on #329
Ok, I'll leave this with @joecohens to play with (or someone else, if they want to have a go).

[2015-01-08 16:54] joecohens commented on #329
Sure! I'll set the font smoothing only for retina displays :). Thanks!

[2015-01-08 17:20] #192 closed

[2015-01-08 17:25] joecohens commented on #335
:+1:

[2015-01-08 18:11] joecohens commented on #329
I've change the font weight on the status page and set se -webkit-font-smoothing: antialiased; it had a bug. Let me know if everything it's ok now :)

[2015-01-08 18:16] #329 closed

[2015-01-08 19:25] jbrooksuk opened #338 "Heroku supports PostgreSQL 9.4"
https://blog.heroku.com/archives/2015/1/8/postgres-9-4-on-heroku

[2015-01-08 22:01] jbrooksuk commented on #112
Does anybody have an idea on how this should work? What's the best way to show a scheduled status?

[2015-01-08 22:12] joecohens commented on #112
I think we can put a publish_date with a datepicker and kind of stop using the created_at value. In this way we can change the order of incidents too.

[2015-01-09 00:03] nodesocket opened #340 "Accept donations via gratipay.com"
Check it out: https://gratipay.com/. Used to be called gittip.

[2015-01-09 00:11] nodesocket opened #341 "Convert API documentation to ReadMe.io"
Transition from GItHub API docs to [ReadMe](https://readme.io) *(Free for open-source)*.

[2015-01-09 00:19] nodesocket commented on #326
Is you use a service such as Authy that would require each person who wants to run Cachet to signup for them. It would be better to use a fully native Google Authenticator library. Unfortunately I haven't been able to find any decent ones in php. I'm really tempted to use a node.js project (https://github.com/markbao/speakeasy) which seems solid and renders the QR codes.

[2015-01-09 00:31] kfrankperson commented on #326
I would like to see 2FA for Cachet but I think it would need to be Google's 2FA as @nodesocket has said.

[2015-01-09 00:34] nodesocket commented on #326
FYI, we [Commando.io](https://commando.io) currently use [GAuthify](https://www.gauthify.com) but we also looking for solid php native library without relying on a 3rd party service.

[2015-01-09 06:18] joecohens commented on #341
Thanks! Definitely we look into it :) we where talking about moving it to the website but I think this solution it's better.

[2015-01-09 07:24] jbrooksuk commented on #326
I was looking yesterday but everything returns Authy. Is there really no library that handles it?

Sent from my iPhone

[2015-01-09 07:27] nodesocket commented on #326
Most libraries are old and seem abandoned and not maintained:

https://github.com/PHPGangsta/GoogleAuthenticator
https://github.com/chregu/GoogleAuthenticator.php

Of course there are solid ruby gems, but not finding anything good for php:

https://github.com/jaredonline/google-authenticator

[2015-01-09 07:34] jbrooksuk commented on #326
I see another project coming on... /s

Sent from my iPhone

[2015-01-09 07:40] joecohens commented on #326
:+1:

[2015-01-09 08:07] nodesocket commented on #326
@jbrooksuk we'd be willing to sponsor some development of a **solid** and **secure** php implementation of Google Authenticator including generating QR codes with no 3rd party dependencies besides the call to google images for the QR. How long did you think it would take?

[2015-01-09 08:11] jbrooksuk commented on #341
ReadMe.io looks really nice! Definitely worth having a good look at.

[2015-01-09 08:12] nodesocket commented on #341
Here is the [Commando.io Doc](http://docs.commando.io) for reference on ReadMe.io.

[2015-01-09 08:13] jbrooksuk commented on #341
Looks nice! Cachet would definitely benefit from a better API.

[2015-01-09 08:14] joecohens commented on #341
It looks great!

[2015-01-09 08:15] jbrooksuk commented on #326
What about [this](https://github.com/scheb/two-factor-bundle) package?

[2015-01-09 08:16] jbrooksuk commented on #326
Actually, [this](https://github.com/antonioribeiro/google2fa).

[2015-01-09 08:18] nodesocket commented on #326
Winner, winner, chicken dinner.

https://github.com/antonioribeiro/google2fa

Looks solid! Thanks, will play around with it.

[2015-01-09 08:19] jbrooksuk commented on #326
Saves re-inventing the wheel and you guys some dollar :) we could definitely implement it into Cachet too.

[2015-01-09 08:55] jbrooksuk commented on #326
It's coming along!

[2015-01-09 17:49] gdillon commented on #341
Hey guys, love that you're checking out ReadMe. I'm one of the cofounders and am happy to answer any questions. Documentation is obviously a big deal when you're building for the dev community. And, yes, we support open source projects like Cachet with free plans. Just shoot support@readme.io a note and I will hook you up.

[2015-01-09 17:50] jbrooksuk commented on #341
@gdillon awesome! I'll send you an email once I'm home in about an hour or so :)

[2015-01-09 18:02] jbrooksuk commented on #326
Done in #342 but it first needs testing before I can merge it.

[2015-01-09 19:43] jbrooksuk commented on #340
I think we'll stick with accepting donations via Paypal for now :)

[2015-01-09 19:43] #340 closed

[2015-01-09 19:48] #330 closed

[2015-01-09 22:02] joecohens opened #343 "Change the way we display form errors"
We could make a partial to show errors and send them through the controller using `->with('errors', $errors)`

[2015-01-09 22:04] #326 closed

[2015-01-09 22:04] jbrooksuk commented on #326
Merged!

[2015-01-09 22:28] jbrooksuk commented on #255
@brianjking I'm going to close this now as I think the issue is fixed with the recent changes.

[2015-01-09 22:28] #255 closed

[2015-01-09 22:30] tomschlick commented on #125
FYI, taylor mentioned this in the LaravelDFW livestream as coming soon! https://www.youtube.com/watch?v=XrBoZE_jnSo#t=3670

[2015-01-09 22:33] tomschlick commented on #167
A nicer option would be for cachet to have a "type" radio box where you could select mandrill/mailgun/smtp. Changing types would change the form to accept an api key instead of full smtp info. The mandrill driver in laravel uses HTTP so it would be faster than trying to SMTP it directly.

[2015-01-09 23:23] noahbass commented on #343
+1

[2015-01-10 09:01] jbrooksuk commented on #341
@gdillon emailed :)

[2015-01-10 09:22] jbrooksuk commented on #290
For now, just the password can no longer be changed. ac28264d94b4daf39f1ef0f8a3b2d41ceac5f19f

[2015-01-10 09:22] #290 closed

[2015-01-10 09:23] jbrooksuk commented on #167
@tomschlick can you suggest this in #317 please. I'm closing this in favour of the original interface issue #36.

[2015-01-10 09:23] #167 closed

[2015-01-10 09:24] jbrooksuk commented on #91
Heh, looks like someone is [making a wrapper](https://github.com/dmitrymomot/laravel-segmentio-wrapper).

[2015-01-10 10:03] #343 closed

[2015-01-10 10:10] GrahamCampbell commented on #91
They've misused facade, and been calling config in their class. Bad. :(

[2015-01-10 10:11] jbrooksuk commented on #91
Yeah I took a look through and it's not great, we'd be better off with our own version.

Sent from my iPhone

[2015-01-10 12:40] jbrooksuk commented on #109
I think we should do this before V1, but just before we release. The reason is that we can get get a solid release setup on the go, when we can make use of GitHub releases. The update system can then look for that using the API.

[2015-01-10 12:41] jbrooksuk commented on #127
@SamuelMoraesF I'm going to be doing this, but slightly differently. When you create an incident you'll be able to assign it to a component, when you pick one, you'll get an inline component view where you can then change the status of the component too.

[2015-01-10 12:41] #127 closed

[2015-01-10 12:41] jbrooksuk commented on #127
See #301.

[2015-01-10 12:42] jbrooksuk commented on #275
@Ehesp I believe you were having an issue on Debian? Can you try?

[2015-01-10 13:17] Forge-Media opened #346 "Heroku install setup fails on Complete Setup Step"
Hi.

I've used the one-click Heroku install to install Cachethq.io

However, once install finishes successfully and I navigate to the appname.herokuapp.com address to proceed with the setup here I encounter a problem.

Once I hit the Administrator Account and enter the required details and click the Complete Setup, nothing happens. Inspect elements in chrome gives the following error:

POST http:/

[2015-01-10 16:22] GrahamCampbell commented on #240
Also, it might be cool to use https://github.com/Respect/Validation for validation in our commands.

My idea is to have command objects that are instantiated with the user input and then validation happens right there in the constructor. If validation fails, we get a really nice exception to deal with back in the controller. If validation passes, then the command object is successfully instantiate

[2015-01-10 18:26] #346 closed

[2015-01-11 11:54] jbrooksuk commented on #341
I've setup [cachet.readme.io](http://cachet.readme.io) which will soon be setup as `docs.cachethq.io`. I'll spend some time over the next week moving all the documentation there.

Thanks to the awesome guys at Readme.io cc @gdillon

[2015-01-11 12:06] GrahamCampbell commented on #341
Wow, that looks so pretty!

[2015-01-11 12:07] jbrooksuk commented on #341
It's nice isn't it! :)

[2015-01-11 12:31] jbrooksuk commented on #112
@joecohens good idea. Incidents and scheduled maintenance could be merged into one by just adding a datepicker. When the `publish_at` date is in the future, we can show a "non-timeline" view of incidents (like we used to have) marked as **Scheduled Maintenance**.

The thing is, we'd want to continue showing the schedules until it's complete, so maybe we do need it as a separate thing?

[2015-01-11 12:31] jbrooksuk commented on #112
The table could remain the same just with some flags. But separating them would mean we don't clutter the existing incidents dashboard.

[2015-01-11 12:32] jbrooksuk commented on #221
We'd also want the update system to be working.

[2015-01-11 12:57] GrahamCampbell commented on #221
I think that's probably a bad idea. "composer create-project" works fine doesn't it?

[2015-01-11 14:04] jbrooksuk commented on #221
Having a Debian package would let us setup all the dependencies essentially.

[2015-01-11 17:09] gdillon commented on #341
An excellent start, @jbrooksuk! Can't wait to see your progress.

[2015-01-11 17:11] jbrooksuk commented on #341
Thanks!

I need to signup to the GitHub import notifier ;)

[2015-01-11 17:12] gdillon commented on #341
Just enabled it for you, @jbrooksuk. Will send additional info via email.

[2015-01-11 17:13] jbrooksuk commented on #341
You're awesome!

[2015-01-11 17:36] joecohens commented on #341
Beautiful!!

[2015-01-11 20:06] sammcj commented on #221
Hi Graham,

There are many advantages to creating standard packages rather than
relying on people to use third party tools specific to the language
you've written an application in.

It makes automation, updating, reporting and dependancy management a lot
easier.

Many people (myself and colleges being certainly included) end up having
a lot of time wasted by managing all the third party, language

[2015-01-11 20:10] matthewjamesr commented on #221
Just jumping in on the conversation here, all of this could be negated by
building a docker image upon each release and push that to docker hub or
upload it's .tar in GitHub.

Thoughts?

On Sunday, January 11, 2015, Sam <notifications@github.com> wrote:

[2015-01-11 20:14] sammcj commented on #221
I would agree that having a dockerfike and pushing the image to the docker hub would probably be sufficient for most places as the build requirements are quite modern anyway.

[2015-01-11 20:46] jbrooksuk commented on #172
This will be a thing in #301.

[2015-01-11 20:46] #172 closed

[2015-01-11 20:47] jbrooksuk commented on #177
Use #335 instead.

[2015-01-11 20:47] #177 closed

[2015-01-11 20:50] jbrooksuk commented on #221
Providing a Dockerfile would be better than a debian package. Agreed?

[2015-01-11 20:51] sammcj commented on #221
@jbrooksuk I'm sure it won't please everyone (that's a hard thing to do!) but I think it makes sense especially since Docker is now widely accepted and easy to use.

[2015-01-11 20:52] jbrooksuk commented on #221
Ok, cool. I'm going to close this and open a new issue for supplying a Dockerfile.

[2015-01-11 20:52] #221 closed

[2015-01-11 20:52] jbrooksuk opened #348 "Dockerfile"
Let's get a Dockerfile created allowing people to spin up a VM with all the required dependencies.

[2015-01-11 20:53] jbrooksuk commented on #338
I don't know if it's possible to supply a version constraint within `app.json` for an addon. I've asked @heroku though.

[2015-01-11 20:54] jbrooksuk opened #349 "Setup Wizard: Move the next button to the right"
1. The next button should be on the right hand side of the screen, rather than the left.
2. The finish button should be in the middle.

[2015-01-11 21:32] jbrooksuk opened #350 "Google Analytics code"
We should have a way to add a Google Analytics code.

[2015-01-11 21:35] GrahamCampbell commented on #350
I do this in bootstrap cms if you want to nick my code. :)

[2015-01-11 21:35] jbrooksuk commented on #350
Sweet, that'll save some time :)

[2015-01-11 22:10] #350 closed

[2015-01-11 23:56] SamuelMoraesF opened #352 "Translations in incorrect places"
It seems that some translations tags are in the incorrect place, on pt-BR, the add component button and the page header is named "Add incident". The components statuses are the same of the Incidents too and the translations on crowdin is ok.

[2015-01-12 00:56] jaxxstorm commented on #275
Haven't had time to try this recently, I'll try find some time next week

[2015-01-12 01:29] nodesocket commented on #341
@gdillon I'm curious how to you came across this thread to begin with? :) Do you have a service that scans for `ReadMe.io` in GitHub and sends you alerts?

[2015-01-12 04:28] gdillon commented on #341
Hey @nodesocket. Yep, you got it. I use mention.net as a Google Alerts replacement and have it keyed to find "readme.io" which allows me to get mentions of the company and any URLs that are pointing to us. Sorry for being creepy, but happy to have found you guys!

[2015-01-12 08:36] jbrooksuk commented on #352
I'll upload the latest English translation tonight and see if we can sync them back. Since CrowdIn doesn't actually integrate with GitHub it makes it really hard to keep them the same.

[2015-01-12 08:40] jbrooksuk opened #354 "API Versioning"
Is it possible with Dingo to split the API into routes by version? `https://status.cachethq.io/api/v1/incidents` I know that Dingo lets us version the API, but it's not accessible like that.

There are two reasons for doing this:

1. We can add a new API to the system without affecting any existing integrations, they'd simply update the API version and see what's broken.
2. The documentation is mu

[2015-01-12 08:43] jbrooksuk opened #355 "Update contributing document"
The contributing document will need rewriting a bit to match StyleCI, this will stop confusion when a contributor writes something, then CI says "no, it's wrong" even though they just followed the guide.

CC @GrahamCampbell can you send me the PHP-Fixer configuration file that we're using please.

[2015-01-12 08:48] jbrooksuk commented on #253
Dingo does support [pagination](https://github.com/dingo/api/wiki/Responses#responding-with-paginated-items) but if we're switching to Laravel 5 soon, then it's probably not worth implementing yet...

[2015-01-12 08:49] jbrooksuk opened #356 "OAuth 2.0"
Supporting OAuth 2.0 for the API would be a cool integration, but potentially needless at the moment?

[2015-01-12 09:33] wingZero21 opened #357 "Showing php when trying to browse to the page"
Hi,

I have just been working to try and test this out via the install but had some problems with the deps which I think have now been resolved.

Its now just showing the php code when going to the /setup page.Any idea on what needs to be amended to stop this from happening.

Details:
hostname/setup page shows the below
[code]

[2015-01-12 09:35] jbrooksuk commented on #357
You mustn't be running a PHP server on your system. Can you confirm your server setup please.

[2015-01-12 09:57] wingZero21 commented on #357
Hi,

Just to confirm this looks to be due to missing the libphp5.so apache module so I am just sorting this out now.

Cheers!

[2015-01-12 09:57] #357 closed

[2015-01-12 10:06] wingZero21 commented on #272
Hi,

I am seeing a similar problem with this currently. Do you know what the fix is for this. As far as I can see I have done the NPM install for gulp and it appears in the node_modules folder.

Looking at the error it suggests this might be a problem with node-sass? Is there any way to get around this error occuring.

[2015-01-12 10:11] jbrooksuk commented on #272
@wingZero21 what system are you running on? There are reports of CentOS 6 and Debian Wheezy not working #275.

[2015-01-12 10:18] jbrooksuk opened #358 "Change API Token authentication"
Rather than supplying the api token as a URI parameter, we could make it into a header such as `X-Cachet-Token`.

What are peoples thoughts on that? I personally think it's better because it doesn't mess up the request URI.

[2015-01-12 10:19] wingZero21 commented on #272
Hey,

Yeah I am running on CentOS 6 currently.

[2015-01-12 10:22] jbrooksuk commented on #272
@wingZero21 if you could follow the last few comments in the issue above, perhaps it may work? Let me know in that issue though :)

[2015-01-12 10:22] jbrooksuk commented on #358
Also, we're currently using the words **api key** I think token is more apt here.

[2015-01-12 10:24] wingZero21 commented on #272
Hey, Yeah I have tried running that install node-sass beta as requested on that forum but it still seems to fail with that error.

Details:
[code]

[2015-01-12 10:25] jbrooksuk commented on #272
Can you copy that output to #275 please, we can keep all information together then :)

[2015-01-12 10:44] wingZero21 commented on #272
Hi,

What is the recommendation for the system to be running on if it currently does not work with CentOS 6?

[2015-01-12 10:47] jbrooksuk commented on #272
Ubuntu works ok.

[2015-01-12 12:57] jbrooksuk opened #359 "Finalize V1 of the API"
There is still a few endpoints missing from the API:

- [x] Metrics #4
- [x] Component tags
- [x] Update components
- [x] Created, edit and delete metrics themselves.
- [x] Delete components.

[2015-01-12 13:05] jbrooksuk opened #360 "Improved error pages"
At the moment any critical error we have gives us Laravel's default error page, we should make this better.

[2015-01-12 13:34] #358 closed

[2015-01-12 16:10] #355 closed

[2015-01-12 17:32] joecohens commented on #358
:+1:

[2015-01-12 19:06] GrahamCampbell commented on #360
I have a package for this, for laravel 5 when we get there.

[2015-01-13 08:59] #349 closed

[2015-01-13 09:02] jbrooksuk commented on #360
Oh really? Is it user friendly?

[2015-01-13 10:30] Finkregh opened #364 "missing translation"
Some strings are hardcoded/can not be translated.
e.g. https://github.com/cachethq/Cachet/blob/425244f29e16775a1b70717cdbe81853f374e05a/src/Http/Controllers/DashSettingsController.php#L171

[2015-01-13 10:44] jbrooksuk commented on #364
Good catch, a lot of error handling was added before we had translations.

[2015-01-13 10:55] jbrooksuk commented on #364
We should create an `errors.php` language file for this.

[2015-01-13 11:03] Finkregh opened #366 "make language-chooser dynamic"
It would be nice if new translation would be available wihtout [further interventions](https://github.com/cachethq/Cachet/pull/365) as soon as there is a directory in app/lang/.

This also includes that the languages' name have to be included in the lang-files.

[2015-01-13 11:13] jbrooksuk commented on #366
Yeah, this should be quite easy to do by globbing the `./app/lang` directory. The only thing is working out what that language code relates to. Then use `locale_get_display_language`?

[2015-01-13 11:36] jbrooksuk commented on #366
I rebased a few times. Sorry.

[2015-01-13 11:56] #364 closed

[2015-01-13 11:58] #352 closed

[2015-01-13 11:59] jbrooksuk commented on #352
I've removed the Brazilian translation for now as there are a lot of issues with it.

[2015-01-13 11:59] #366 closed

[2015-01-13 12:01] jbrooksuk commented on #352
FWIW, CrowdIn has an up to date `pt-Br` translation for us. Will sync up soon.

[2015-01-13 12:07] jbrooksuk commented on #352
I've uploaded the latest language files.

[2015-01-13 12:08] pedrommone commented on #352
I see that! :)

[2015-01-13 12:16] jbrooksuk commented on #338
Psh. I've emailed Heroku directly. If they don't reply I'm inclined to actually drop the Heroku button due to lack of support.

[2015-01-13 12:59] jbrooksuk commented on #275
This isn't a bug with Cachet, but is obviously causing issues for people. We should add some information somewhere explaining that it's not working on CentOS and Debian.

In the mean time, we can't do anything as it's the dependencies themselves which are broken.

[2015-01-13 13:01] #275 closed

[2015-01-13 13:12] kfrankperson commented on #275
Could we not have another branch with all the assets compiled in there ?

[2015-01-13 13:14] jbrooksuk commented on #275
Technically the answer is yes.

But because it means that we need to maintain two branches it's not logistically elegant. I'm going to look into the actual issue itself and see if I can contibute a fix.

[2015-01-13 13:16] jbrooksuk commented on #275
Actually, it looks like there is an issue and a PR open for it: https://github.com/dlmanning/gulp-sass/issues/162 but the `gulp-sass` guy hasn't merged.

[2015-01-13 13:18] jbrooksuk commented on #275
I may have a temporary fix on the go.

[2015-01-13 13:26] kfrankperson commented on #275
@jbrooksuk :+1:

I ran into this problem today on my Centos 6 &7 boxes, going to reimage it for ubuntu and try again.

[2015-01-13 14:00] jbrooksuk opened #370 "Demo page never allows you to login from CNAME URL"
Something is wrong with the demo site (I've just pushed the latest changes). After setup, if you logout and then back in again, it'll simply redirect you back to the login page without an error message.

https://status.cachethq.io/auth/login

[2015-01-13 14:13] jbrooksuk commented on #370
Nevermind. Fully redeployed and it worked.

[2015-01-13 14:15] jbrooksuk commented on #370
Nevermind. Fully redeployed and it worked.

[2015-01-13 14:17] jbrooksuk commented on #370
Nope. I lied.

The problem occurs when you attempt to login via https://status.cachethq.io but if you login using the https://cachet.herokuapp.com it works fine.

[2015-01-13 14:42] jbrooksuk commented on #170
Ok, so I've thought about this feature and I'm reluctant to add it. Here is why:

1. It starts off with a simple form that emails the status page members.
2. Then it turns into wanting to have the dashboard show these issues.
3. Next we turn it into essentially a ticket system.
4. Now the status page part of Cachet is never worked on because we're looking after a behemoth of a project.

You could

[2015-01-13 14:42] #170 closed

[2015-01-13 14:43] jbrooksuk commented on #166
This feature won't be something that the Cachet team will be developing. If you want to add social links, you could add them to the **About us** section of the website, or modify the source.

If you'd like to contribute the feature, that'd be cool and we could look at merging it into `master`. Thanks for the suggestion though :)

[2015-01-13 14:43] #166 closed

[2015-01-13 15:23] #341 closed

[2015-01-13 15:24] jbrooksuk commented on #341
I've moved all documentation to ReadMe.io.

Now I need to go through it all properly and format it.

[2015-01-13 17:25] joecohens commented on #370
Does this has to be with the proxied domains ? Maybe we should add or change the default domain to status.cachethq.io on the configs.

[2015-01-13 17:27] jbrooksuk commented on #370
Perhaps... Let me reset the migrations.

[2015-01-13 17:31] jbrooksuk commented on #370
Nope, still doesn't work.

[2015-01-13 17:31] jbrooksuk commented on #370
I wonder if it's CloudFlare?

[2015-01-13 17:39] joecohens commented on #370
I think CloudFlare it's disabled `Traffic will bypass CloudFlare's network` I'll enable it because we have the rule to force SSL.

[2015-01-13 17:44] jbrooksuk commented on #370
I happened to just disable it.

[2015-01-13 17:58] joecohens commented on #370
Lol we would need to disable the force SSL on the subdomain if that's the problem.

[2015-01-13 20:52] GrahamCampbell commented on #370
Cloudflare cannot be causing this. Don't disable forcing ssl.

[2015-01-13 20:53] GrahamCampbell commented on #360
https://github.com/GrahamCampbell/Laravel-Exceptions

[2015-01-13 20:53] GrahamCampbell commented on #360
lol how the usage docs for this package were clearly stolen from another one of my packages and i haven't updated it...

[2015-01-13 20:55] GrahamCampbell commented on #360
Fixed in https://github.com/GrahamCampbell/Laravel-Exceptions/commit/493778a5c462273483190753ab7806b81f64157f.

[2015-01-13 21:00] noahbass commented on #370
^ this

[2015-01-13 21:02] GrahamCampbell commented on #370
Also, even if it was cloudflare, we'd need to still get it working. Other people way want to use cachet behind cloudflare.

[2015-01-13 21:05] noahbass commented on #370
Yeah. I'm doing a test on heroku + cloudflare right now to try to find some fixes to this

[2015-01-13 21:06] GrahamCampbell commented on #370
thx :)

[2015-01-13 21:10] jbrooksuk commented on #370
My thoughts on this:

- apcu, some weird config?
- Laravel config is not done properly?
- Sessions?

[2015-01-13 21:12] GrahamCampbell commented on #370
Ahh yes. What have you configured the app url as @jbrooksuk?

[2015-01-13 21:13] GrahamCampbell commented on #370
It needs to be set to "https://status.cachethq.io".

[2015-01-13 21:13] jbrooksuk commented on #370
It's just set as `localhost` in `config.url`. The setup page will ask for the URL, so we should overwrite the setting.

[2015-01-13 21:19] GrahamCampbell commented on #370
I think we might need to set it at an earlier point. That might be what's causing the issue.

[2015-01-13 21:20] jbrooksuk commented on #370
Like we do with the timezone and locale?

[2015-01-13 22:56] jbrooksuk opened #371 "After changing language, the success message is in the previous language"
1. I changed the language to French and I got **Settings saved.**
2. Then I changed to English and I got **Réglages sauvegardés.**

[2015-01-14 05:15] joecohens commented on #4
Do we know which graphs we want to display?

[2015-01-14 07:06] joecohens commented on #354
I think you can't https://github.com/dingo/api/issues/79, if we are only making making token auth on the API maybe we can rewrite it and remove dingo.

If not:

1. We can make the previews version the default until we announce it's going to be depreciated for the new one, so people who want to upgrade their integrations with the latest release will have to send the `Accept` header, kind of the way

[2015-01-14 08:12] Mooash opened #374 "Website cannot force ssl"
I've set the website URL to https://status.example.com/ yet it keeps linking the http variant. It makes it really hard to deploy this whilst forcing https.

[2015-01-14 08:35] jbrooksuk commented on #374
By this, do you mean that the assets are loading over `http`?

[2015-01-14 08:36] Mooash commented on #374
Yeah sorry, so even if I make the URL https://status.example.com it links everything with http links (images/JS etc) and links to the other pages are all http instead of https

[2015-01-14 08:37] jbrooksuk commented on #354
Forcing the `Accept` header is ok, but adds friction to making the API requests. Unless of course, we supply some kind of wrapper for a couple of languages?

[2015-01-14 08:37] jbrooksuk commented on #374
Ah right, yes we're aware of this issue. @noahbass has been looking into it I believe.

[2015-01-14 08:49] jbrooksuk commented on #374
@GrahamCampbell last time I removed all of the `url` helpers in `master.blade.php` you said something about it needing to be there. What's the reason, was it sub-folder support?

[2015-01-14 08:56] Mooash opened #375 "Australia not available in timezones"
I can't find any options for any cities in Australia for the timezone settings, I selected Bougainvile (I think) which had roughly the same timezone however none of our capital cities (Sydney, Melbourne etc) are available.

[2015-01-14 09:03] jbrooksuk commented on #375
Yeah, we're probably missing the region from the array:

[code]

[2015-01-14 09:05] Mooash commented on #375
Let me do some testing and I'll submit a PR

[2015-01-14 09:06] jbrooksuk commented on #375
Found it. We need this:

[code]

Will push the fix now.

[2015-01-14 09:06] #375 closed

[2015-01-14 09:06] Mooash commented on #375
Thanks for the quick fix!

[2015-01-14 09:07] jbrooksuk commented on #375
No problem :)

[2015-01-14 09:11] wingZero21 commented on #275
Yeah I am having this issue as well, tried using node-sass beta but still it fails with the error.

[code]

[2015-01-14 09:13] jbrooksuk commented on #275
Well [this](https://github.com/dlmanning/gulp-sass/pull/159) got merged. Try now?

[2015-01-14 09:18] jbrooksuk commented on #275
I ran `npm update` and it's installed `node-sass@2.0.0-beta`. That should be fixed now?

[2015-01-14 09:37] Mooash commented on #375
@jbrooksuk: you forgot about the dashboard. Please see PR #376

[2015-01-14 09:51] jbrooksuk commented on #375
Ok, we should make this a View Composer.

[2015-01-14 10:03] wingZero21 commented on #272
Yeah we dont really use Ubuntu in our environment so will have to see if I can persevere and get this working!

Would be good to try and get this working on CentOS

[2015-01-14 10:08] jbrooksuk commented on #375
^ Did it.

Much easier to manage now as it's all in one place.

[2015-01-14 10:12] jbrooksuk commented on #272
Unfortunately though it's out of my hands as it's a dependency we rely on. `node-sass` v2 should be working though.

[2015-01-14 15:56] jbrooksuk commented on #370
@GrahamCampbell we are actually setting the `app.url` value https://github.com/cachethq/Cachet/blob/master/src/Http/Before/LoadConfigFilter.php#L26

[2015-01-14 17:24] iMstr opened #378 "Error pages reveal database password"
The Symfony errror page shows the database password right in the Environment Variables. This can be a security threat that allows people who know a bug that they can trigger to display the database connection details.

[2015-01-14 17:43] jbrooksuk commented on #378
You need to turn off `app.debug` mode within `./app/local/app.php`.

[2015-01-14 17:44] jbrooksuk commented on #378
Ideally you should be putting your `ENV` variable to `production`.

[2015-01-14 17:44] #378 closed

[2015-01-14 17:52] yuters opened #379 "Dates are not translated"
Carbon offers the method ->formatLocalized()... but it implies installing the supported locales on the linux box `locale-gen fr_FR fr_FR.utf8`, and setup the php setlocale() function.

Maybe the package below would be easier and a better solution:
https://github.com/jenssegers/laravel-date

What do you think?

[2015-01-14 18:09] joecohens commented on #379
Yeah we are using that package, for now we only have the status page dates translated but I would be cool to implement it on all the other places with a presenter.

[2015-01-14 18:18] yuters commented on #379
Ha sorry I didn't realize, I was looking at the HomeController which is using Carbon for the [start date in the status page](https://github.com/cachethq/Cachet/blob/master/src/Http/Controllers/HomeController.php#L53).

Maybe the date format could be in the dashboard settings? In french the 'S' in 'jS F Y' isn't recognized.

[2015-01-14 18:20] joecohens commented on #379
No problem :), yeah that would be a very good idea can you send a PR?

[2015-01-14 20:31] #379 closed

[2015-01-14 20:37] GrahamCampbell commented on #4
Maybe a moving average for uptime would be cool, where we can change the number of points to include?

[2015-01-14 20:38] GrahamCampbell commented on #370
Oh wow, that stuff does not belong in a filter. It belongs in the register method of a service provider.

[2015-01-14 20:39] jbrooksuk commented on #370
Yeah, I was playing with the idea earlier, but ran out of time :(

[2015-01-14 20:42] jbrooksuk commented on #4
@joecohens it's up to the admin of the page to add metrics, they can activate the chart for it if they'd like.

@GrahamCampbell yeah I was thinking the same thing as a default chart.

[2015-01-14 20:43] joecohens commented on #370
Sorry my bad :(. @GrahamCampbell so we set a LoadConfigServiceProvider and move the filter code?

[2015-01-14 20:45] GrahamCampbell commented on #370
Yeh, sounds like a plan.

[2015-01-14 20:46] joecohens commented on #370
Perfect!

[2015-01-14 20:52] joecohens commented on #354
Like an SDK?

[2015-01-14 20:55] jbrooksuk commented on #354
Yeah. We could supply a PHP one by default.

[2015-01-14 21:22] jbrooksuk commented on #371
This could be fixed by @joecohens when he moves the locale stuff to a service provider.

[2015-01-14 21:35] jbrooksuk commented on #338
Doesn't seem like it's possible to get in touch with Heroku. Closing this until I hear something back.

[2015-01-14 21:35] #338 closed

[2015-01-14 22:06] #371 closed

[2015-01-15 08:49] jbrooksuk commented on #236
@sammcj I'm removing this from the first release due so that we can have a solid foundation of features which will later be able to support multiple applications.

Don't worry, we're definitely putting it in, but it won't make it for V1 I'm afraid.

[2015-01-15 08:50] sammcj commented on #236
No worries at all James!

--
Sam McLeod
@s_mcleod[https://twitter.com/s_mcleod]

On Thu, 15 Jan 2015, at 07:49 PM, James Brooks wrote:

[2015-01-15 09:10] wingZero21 commented on #272
Hey, I have managed to get past that now I think!

Getting this error currently.

Details:
[code]

[2015-01-15 09:19] wingZero21 commented on #272
The above error was fixed by installing the below
[code]

[2015-01-15 09:20] wingZero21 commented on #272
Its now gone back to the previous error :(

[2015-01-15 09:58] GrahamCampbell commented on #272
We're going to need to add that extension to our composer.json @jbrooksuk.

[2015-01-15 10:21] jbrooksuk commented on #272
Ok :)

[2015-01-15 10:21] jbrooksuk commented on #272
Actually, we may not need it now. @joecohens was just going to make the languages an array.

[2015-01-15 10:22] dspangenberg opened #383 "Composer: Base table or view not found"
Composer breaks while optimizing autoload files:

<code>
{"error":{"type":"Illuminate\\Database\\QueryException","message":"SQLSTATE[42S02]: Base table or view not found: 1146 Table 'cachet.settings' doesn't exist (SQL: select * from `settings` where `name` = app_domain limit 1)","file":"\/home\/dspangenberg\/Sites\/cachet.app\/html\/vendor\/laravel\/framework\/src\/Illuminate\/Database\/Connectio

[2015-01-15 10:29] jbrooksuk commented on #383
Have you ran `php artisan migrate`?

[2015-01-15 11:02] jbrooksuk opened #384 "Dashboard polish"
The dashboard needs some polish on it :lipstick:

- [x] Increase font sizes for small text.
- [x] Layout forms in the same way, giving them a universal design.
- [ ] The active sidebar item is slightly taller, which when you jump between pages means the sidebar items move slightly. Some kind of `box-sizing: border-box` should fix this.
- [x] Forms need tidying up.
- [x] Show the `ion-social-markdo

[2015-01-15 11:34] Finkregh opened #385 "setting a component-status in incident does not update component on frontpage"
When i edit an incident and set the components' status, this staus is not shown in the component-list on the frontpage

[2015-01-15 11:37] Finkregh opened #386 "show components' previous status in dashboard"
currently i can only set a new status in the dashboard, not see what status a component has at the moment

[2015-01-15 11:43] Finkregh opened #387 "allow usage of multiple components per incident"
I'd like to choose multiple components for an incident.

e.g. "network-issues" for the components "Desktops" and "Servers"

[2015-01-15 11:44] jbrooksuk commented on #385
I've edited a component from the edit component page, then gone back to the dashboard and it's showing me the right status.

Can you confirm your setup?

[2015-01-15 11:45] jbrooksuk commented on #386
When I first go into the dashboard, I can see this:

![screen shot 2015-01-15 at 11 45 05](https://cloud.githubusercontent.com/assets/246103/5756830/ff9973e2-9cab-11e4-946c-794036db0954.png)

The radio button is showing me the current status.

Is that not working for you?

[2015-01-15 11:46] jbrooksuk commented on #387
This will be coming in V2, when we will start to make use of the component tags.

[2015-01-15 13:14] dspangenberg commented on #383
I know, but I can't run php artisan migrate:

<code>
{"error":{"type":"Illuminate\\Database\\QueryException","message":"SQLSTATE[42S02]: Base table or view not found: 1146 Table 'cachet.settings' doesn't exist (SQL: select * from `settings` where `name` = app_domain limit 1)","file":"\/home\/dspangenberg\/Sites\/cachet.app\/html\/vendor\/laravel\/framework\/src\/Illuminate\/Database\/Connection.ph

[2015-01-15 13:17] jbrooksuk commented on #383
Do you have any tables currently? Try this:

- `php artisan migrate:reset`
- `php artisan migrate`

You'll lose any data if you currently have some.

[2015-01-15 13:22] dspangenberg commented on #383
Does not work. I can not run any artisan command without optimizing autoload and optimizing autoload doesn't work without existing tables.

[2015-01-15 13:24] jbrooksuk commented on #383
What's your environment value for `ENV`?

[2015-01-15 13:30] dspangenberg commented on #383
It's not an environment issue. I have not set env, so it uses .env.local.php and the database settings are okay. And yes I've tried php artisan migrate --env=local, too.

With wrong database settings the error is:
<code>
{"error":{"type":"PDOException","message":"SQLSTATE[HY000] [1049] Unknown database 'cachset'","file":"\/home\/dspangenberg\/Sites\/cachet.app\/html\/vendor\/laravel\/framework\/sr

[2015-01-15 13:31] jbrooksuk commented on #383
Ok, one second.

[2015-01-15 13:32] jbrooksuk commented on #383
Right, I know where the error is.

[2015-01-15 13:35] #383 closed

[2015-01-15 13:35] jbrooksuk commented on #383
Pull from `master` and try again please @dspangenberg :)

[2015-01-15 13:36] dspangenberg commented on #383
Thank you, now it works.

[2015-01-15 13:37] jbrooksuk commented on #383
Glad to hear it :)

[2015-01-15 13:40] Finkregh commented on #386
Nope, none of the radio-buttons is active.

[2015-01-15 13:43] jbrooksuk commented on #386
Are you able to go into the database, check out the `components` table and show me the rows?

[2015-01-15 13:43] jbrooksuk commented on #386
Actually, are you using MySQL? And if so, what version and what PHP driver are you using?

[2015-01-15 13:44] jbrooksuk commented on #386
And for a test, pull down `master` and see if it still happens.

[2015-01-15 13:46] Finkregh commented on #385
?, i've changed an incident via '/dashboard/incidents/3/edit', and there the  component in the form-group with id="component-status"

[2015-01-15 13:47] jbrooksuk commented on #385
By "frontpage" do you mean the status page?

[2015-01-15 14:08] noahbass commented on #370
Update on possible fixes: (Note: all of these were tested on heroku + cloudflare ssl)

### 1 [the `Request::setTrustedProxies` fix](http://www.laravel-tricks.com/tricks/fix-ssl-in-laravel-4-when-using-cloudflare)

It simply did not work.

### 2 [fideloper/TrustedProxy](https://github.com/fideloper/TrustedProxy)

It simply did not work.

### 3 the `$_SERVER` fix (adapted from [seedprod/laravel-clou

[2015-01-15 14:20] jbrooksuk commented on #370
@GrahamCampbell any idea on this? Is there a way to hook into `bootstrap.php` without actually placing the code there?

[2015-01-15 14:54] joshhornby commented on #240
@GrahamCampbell Validation in commands seems a pretty interesting idea. Do you know any good sources/code examples where I can see more about this?

[2015-01-15 15:26] HiTeN commented on #385
Same problem here, fresh install on heroku.

I tried to change the component status on the "Edit an incident" page, but whatever I do, it's still in "operational" status on the status page and the "Edit an incident" page.

[2015-01-15 15:52] jbrooksuk commented on #385
Ok, knowing it's Heroku helps. I'll take a look.

[2015-01-15 15:53] jbrooksuk commented on #385
I actually get the "Whoops, something went wrong" error on Heroku when I try to create a component.

[2015-01-15 16:04] jbrooksuk commented on #385
I'm getting `invalid text representation: 7 ERROR: invalid input syntax for integer` as an error.

[2015-01-15 16:04] jbrooksuk commented on #385
I hate PgSQL.

[2015-01-15 16:12] Finkregh commented on #386
sqlite/PHP 5.4.36-0+deb7u3
and it works now :+1:

[2015-01-15 16:12] #386 closed

[2015-01-15 16:13] Finkregh commented on #385
frontpage = status-page = /
and is use sqlite :)

[2015-01-15 16:29] jbrooksuk commented on #386
Ok, that's interesting. I had to type hint it.

[2015-01-15 16:29] jbrooksuk commented on #385
Trying something now. One thing at a time :)

[2015-01-15 16:32] jbrooksuk commented on #385
Right, fixed the component adder in PgSQL (Heroku).

[2015-01-15 19:59] pedrommone commented on #275
Its running well on Centos 6.5.

[2015-01-15 20:11] GrahamCampbell commented on #240
Sorry, never seen it before. I just figured it would be a good idea. :)

[2015-01-15 20:57] GrahamCampbell commented on #370
There is a better way of doing this. See my cms again. :)

[2015-01-15 20:58] GrahamCampbell commented on #370
https://github.com/fideloper/TrustedProxy
https://github.com/BootstrapCMS/CMS/blob/0.8/app/config/packages/fideloper/proxy/config.php

I've used the cloudflare server ips as the default in my cms config there. :)

[2015-01-15 21:44] jbrooksuk commented on #370
@noahbass do you want to try it with the TrustedProxy package?

[2015-01-15 22:19] jbrooksuk commented on #385
Can you confirm that this is still an issue for you?

[2015-01-15 22:35] pedrommone commented on #370
TrustedProxy is a good one, I use in my projects.

[2015-01-15 22:43] noahbass commented on #370
@GrahamCampbell, @jbrooksuk

Just did a test with https://github.com/fideloper/TrustedProxy. It didn't work.

[2015-01-15 22:45] pedrommone commented on #370
Are you using behid a nginx or cloudflare?

[2015-01-15 22:48] noahbass commented on #370
It's a heroku + cloudflare setup

[2015-01-15 22:54] pedrommone commented on #370
Did you set cloudflare ips on white list? @GrahamCampbell posted one above.

[2015-01-15 23:01] noahbass commented on #370
@pedrommone yes I did

[2015-01-15 23:03] noahbass commented on #370
Okay. Now this is getting weird. Applying https://github.com/fideloper/TrustedProxy will fix the ssl issues on a *.herokuapp.com host for some reason, but not the cloudflare host.

[2015-01-16 07:44] Finkregh commented on #385
yep. @cadaa49599ec8746a8a4b312e89c7bf2b7db99ff

[2015-01-16 08:23] jbrooksuk commented on #385
Ok, we'll investigate :)

[2015-01-16 08:26] jbrooksuk opened #391 "Rewrite component tags"
Currently the tag system is completely unusable and I'm an idiot for not thinking about this. To have the tags become useful, we need a `tags` table and then a subsequent `component_tags` table that links each component to a tag.

We probably need to pull this feature out for now because it's absolutely unusable and will serve no purpose in the future.

[2015-01-16 08:27] jbrooksuk commented on #385
Are you able to export the `components` table for me?

[2015-01-16 08:32] jbrooksuk commented on #370
@noahbass let's get one problem fixed at a time. Now we know TrustedProxy is fixing half of it, let's do that.

[2015-01-16 08:36] jbrooksuk commented on #370
I've just pushed with the changes.

[2015-01-16 08:50] wingZero21 commented on #272
Hi,

Managed to sort this, it looks like it was an issue with NPM install.

However when trying to run the setup, when getting to the last page on creating the user account and pressing complete setup it just seems to do nothing. Any ideas what might be causing that.

[2015-01-16 09:55] jbrooksuk commented on #272
@joecohens any idea on this? It could be a weird `Setup` model issue.

I just reset all migrations and was able to setup Cachet, so it could be something with the DB driver? @wingZero21 what are you using?

[2015-01-16 10:18] jbrooksuk commented on #387
I've had to rewrite the tags implementation before this can even be done.

[2015-01-16 10:23] jbrooksuk commented on #348
Done in 38b70ec51ae7b2671ae0fdd9e4b9d8869ed82054

[2015-01-16 10:23] #348 closed

[2015-01-16 10:49] jbrooksuk commented on #370
Even with the TrustedProxy fix, I'm still unable to login at `https://status.cachethq.io/dashboard` :(

[2015-01-16 11:14] wingZero21 commented on #272
Hey,

I am using postgres DB for the db driver. How do you reset all the migrations?

[2015-01-16 11:17] wingZero21 commented on #272
I tried doing a php artisan migrate:reset and then a php artisan migrate and it still seems to do the same thing.

[2015-01-16 11:26] wingZero21 commented on #272
Seems to get a 500 on apache when trying to complete looking at the below.

Details:
"POST /setup/step2 HTTP/1.1" 500 246 "http://localhost/setup" "Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36"

[2015-01-16 11:33] jbrooksuk commented on #272
What details are you sending in the second step?

[2015-01-16 11:40] wingZero21 commented on #272
Sending the Admin username, email address and password

[2015-01-16 11:40] jbrooksuk commented on #272
What's the username you're sending?

[2015-01-16 11:45] wingZero21 commented on #272
Just admin

[2015-01-16 14:38] noahbass commented on #370
Unless we're doing something wrong on our end, then I guess this is an issue with [fideloper/TrustedProxy](https://github.com/fideloper/TrustedProxy).

[2015-01-16 14:47] jbrooksuk commented on #370
Side note; we still need to fix the bloody unsecure forms.

[2015-01-16 17:58] jleroy opened #393 "Show components groups on status page"
Hi all :metal:,

It would be great to show compoments groups on status page, like on [Cloudflare status page](https://www.cloudflarestatus.com/). When collapsed, the component group show status of its component who have the most critical status.
When unfold, there is no status shown next to component group.

:dash:

[2015-01-16 19:52] neomelonas opened #394 "Non-Heroku install is failing setup at step2"
In the same vein as #346, I am getting 500s on POST for /setup/step2.

Using sqlite and nginx, setup fails when you try to Complete Setup after entering administrator login info.

I'm on 65d0e4f5f15c256bed51241541a74f7d7931f5db

[2015-01-16 20:06] joecohens commented on #394
Thanks!

[2015-01-16 20:43] neomelonas commented on #394
Still receiving a 500 on POST from step2.
[code]

[2015-01-16 21:30] joecohens commented on #394
I've just tested the latest version with PostgreSQL and working ok. @jbrooksuk Can you help me testing with sqlite?

[2015-01-16 21:33] jbrooksuk commented on #394
Certainly my man, give me a couple of minutes.

[2015-01-16 21:33] joecohens commented on #394
Thanks :)

[2015-01-16 22:20] jbrooksuk commented on #394
I've changed my `.env.local.php` to `sqlite` and it just hates me. Sorry for the delay.

[2015-01-16 22:32] jbrooksuk commented on #394
Doesn't work on SQLite.

[2015-01-16 23:02] joecohens opened #396 "Support setting creation on settings config repository"

[2015-01-16 23:03] joecohens opened #397 "Move sqlite database to storage folder"

[2015-01-16 23:14] GrahamCampbell commented on #396
:+1:

[2015-01-17 09:43] jbrooksuk commented on #397
To write to the SQLite file within `app/database/*.sqlite` the `database` directory also needs to be writeable. We can make sure of this by moving the database to `storage` which is writeable.

[2015-01-17 10:19] GrahamCampbell commented on #397
Bad idea. The storage folder is design for stuff that's unimportant, like compiled views and caches, not your db.

[2015-01-17 11:36] jbrooksuk commented on #397
Ok, so what we should do then is add a `post-install-cmd` to chmod the directory and the sqlite file?

[2015-01-17 11:40] GrahamCampbell commented on #397
Yeh. NB chmod in the composer.json will break installation on windows.

[2015-01-17 18:16] jbrooksuk commented on #397
@GrahamCampbell surely it's already broken then due to `scripts.post-install-cmd`?

[2015-01-17 18:23] GrahamCampbell commented on #397
Yeh, it is. I was just pointing out that we should move away from it, not add to it.

[2015-01-17 18:34] jbrooksuk commented on #397
What other solutions do we have?

[2015-01-17 19:17] GrahamCampbell commented on #397
Create a laravel command that changes the file permissions and run that.

[2015-01-17 19:17] #391 closed

[2015-01-17 19:18] jbrooksuk commented on #397
:+1: ok.

[2015-01-17 19:51] jbrooksuk commented on #394
Should be closed in #398

[2015-01-17 21:58] #397 closed

[2015-01-17 21:58] #394 closed

[2015-01-17 22:33] jbrooksuk commented on #393
This will most likely be arriving in V2 of Cachet - we've made headway on it with the component groups feature.

[2015-01-17 22:59] jbrooksuk commented on #370
Any other ideas on this? I don't see why we have an issue with logins just because we're running on a different domain?

[2015-01-17 23:04] jbrooksuk commented on #396
Can this be as simple as something like:

[code]

?

[2015-01-17 23:05] jbrooksuk commented on #396
It does work and I can't think of anything else that it actually needs to do. Thoughts @GrahamCampbell?

[2015-01-17 23:06] jbrooksuk commented on #216
@GrahamCampbell do you have examples of this? I'd love to know how you would do this.

[2015-01-17 23:32] GrahamCampbell commented on #396
Yeh, would probably be fine like that. :)

[2015-01-17 23:32] GrahamCampbell commented on #396
just name and value, rather than settingName and settingValue though

[2015-01-17 23:33] GrahamCampbell commented on #396
then can be: `return $this->model->updateOrCreate(compact('name'), compact('value'));`

[2015-01-18 11:13] jbrooksuk commented on #396
On it :)

[2015-01-18 11:15] #396 closed

[2015-01-18 11:16] jbrooksuk commented on #359
Added component tags.

[2015-01-18 11:52] GrahamCampbell opened #399 "Current Settings Stuff Doesn't Actually Work"
ErrorException is never actually thrown. I'm working on replacing this...

[2015-01-18 11:56] GrahamCampbell commented on #399
And setting the config is never actually persisted so we always return the previous value from get.

[2015-01-18 11:56] GrahamCampbell commented on #399
Fixed in #400.

[2015-01-18 15:22] ApfelUser opened #401 "Setup Error Debian 7"
Hello, I am getting this error when installing Cachet:

[code]
*    **Debian 7**
*    **NGNIX**

[2015-01-18 17:22] jbrooksuk commented on #401
Ok, will take a look.

[2015-01-18 17:23] jbrooksuk commented on #401
@GrahamCampbell we need to use the config, because `$app->path['storage']` doesn't exist.

[2015-01-18 17:26] GrahamCampbell commented on #401
That's because it should have been $app['path.storage'].

[2015-01-18 17:26] jbrooksuk commented on #401
Ok, pushing a fix.

[2015-01-18 17:28] #401 closed

[2015-01-18 18:26] ApfelUser opened #402 "Debian 7 Permission Issue"
Hi, I am getting this issue: [Cachet Installation](https://status.minora.me/)

Already changed ownership with **-R** to **www-data**, and have right now no clue why this error is occurring.

[2015-01-18 19:11] joecohens commented on #396
:+1:

[2015-01-18 19:14] joecohens commented on #399
:+1:

[2015-01-18 19:14] #399 closed

[2015-01-18 19:45] jbrooksuk commented on #402
You need to run `chmod -R 777 ./app/storage`

[2015-01-18 19:45] #402 closed

[2015-01-18 22:31] joecohens commented on #99
See https://github.com/cachethq/Cachet/pull/403

[2015-01-18 22:31] #99 closed

[2015-01-19 06:59] Finkregh commented on #385
(you got mail)

[2015-01-19 07:13] Finkregh commented on #402
making that directory world-writable should not even be the last resort... imho :fearful:

[2015-01-19 07:15] Finkregh opened #405 "Exception: Class 'Fideloper\Proxy\ProxyServiceProvider' not found"
I just switched to @dddb6ed9729c49f0152791ff0e89741929d226d2 and now i get an exception whereever i got ('/' or '/dashboard'):

[code]

[2015-01-19 07:31] joecohens commented on #405
Have you `composer install`?

[2015-01-19 08:08] wingZero21 commented on #272
Hey,

Ok I have fixed this initially, it looks like it was a perms issue. I amended the folder to include the apache group on the folder its not allowing the setup part to complete.

However its then redirecting back to /setup when going to /dashboard.

Any ideas on what might be causing that to occur.

[2015-01-19 08:18] wingZero21 commented on #272
Hi,

Just to confirm.

The fix for that last problem was to install php54w-mbstring. I can now get to the /dashboard page.

Hopefully this is helpful for anyone else that has the same problems :D!.

Might be worth adding these deps into the install documentation.

[2015-01-19 09:10] wingZero21 opened #406 "Feature request - Downtime over time"
Hi,

Just thinking that it would be awesome if there were some visual history to the downtime/outages that are recorded.

Similar to the heroku status page here https://status.heroku.com/uptime

[2015-01-19 09:19] wingZero21 commented on #406
Also it would be good when creating an incident if it gives the amount of time the outage has occured for. So it its raised on the hour and is resolved on the hour, the incident shows as occuring for 1 hour.

[2015-01-19 09:21] jbrooksuk commented on #406
Duplicate of #4.

Can you add your second comment as a new issue please.

[2015-01-19 09:21] #406 closed

[2015-01-19 09:21] jbrooksuk commented on #405
Run what @joecohens said and you'll be sorted :)

[2015-01-19 09:21] #405 closed

[2015-01-19 11:32] Finkregh opened #407 "composer-module removes rights on directory"
I dont know if this is the right place or if i should go to the composer-bugtracker or some modules'... so please hit me :)
(this is a follow-up to #405)

when i run `php composer.phar install` i get the following error:
[code]

the directorys' status after running composer:
[code]

and before:
[code]

why should composer remove read-rights on that directory?

[2015-01-19 19:34] GrahamCampbell commented on #272
I thought we added mb-string as a dependency to our composer.json?

[2015-01-19 19:35] GrahamCampbell commented on #272
Ping @jbrooksuk. That dependency seems to have been removed?

[2015-01-20 08:30] jbrooksuk commented on #272
I think we were supposed to add it, but it never got there.

[2015-01-20 08:32] jbrooksuk commented on #272
Done in 1c20463d5fdd0f76d4600ad3c1757c783819ab33

[2015-01-20 08:34] jbrooksuk commented on #407
We've added an Artisan command called `chmod` which is automatically ran on [post-install-cmd](https://github.com/cachethq/Cachet/blob/master/composer.json#L66-70) to fix permissions when deployed to Heroku or wherever.

Maybe the rights are too hefty.

[2015-01-20 08:35] jbrooksuk commented on #402
We have a [command](https://github.com/cachethq/Cachet/blob/master/src/Console/Commands/FixPermissionsCommand.php) which sets the permissions to `0755`.

[2015-01-20 14:41] brianjking commented on #402
@jbrooksuk are you saying I need to run chmod -R 777 ./app/storage prior to executing git push heroku?

[2015-01-20 14:42] brianjking commented on #402
This is what I'm getting when attempting to update...

remote:
remote:          - Installing watson/validating (0.10.6)
remote:            Loading from cache
remote:
remote:        Generating optimized autoload files
remote:        Generating optimized class loader
remote:        Compiling common classes
remote:        Compiling views
remote:
remote:
remote:
remote:          [UnexpectedValueExcept

[2015-01-20 14:46] brianjking commented on #407
@jbrooksuk I believe so! I was having trouble updating a Heroku installation so I attempted a new deploy and was shown the same thing from the "Deploy to Heroku" button.

       Script php artisan cachet:chmod handling the post-install-cmd event returned with an error

  [RuntimeException]
  Error Output:

    [UnexpectedValueException]
    DirectoryIterator::__construct(/tmp/build_97d44ab0ee81273

[2015-01-20 14:48] jbrooksuk commented on #407
Interesting, we've never had issues `chmod`ing on Heroku?

[2015-01-20 14:48] jbrooksuk commented on #402
Caused by needing to `chmod` the `./app/storage` directory.

[2015-01-20 15:33] brianjking commented on #402
I did run this, no dice. The only issue I'm having on my current deployment is I cannot edit components. Thanks for your awesome support and great product...

[2015-01-20 15:36] jbrooksuk commented on #402
Are you using SQLite?

[2015-01-20 15:40] brianjking commented on #402
HEROKU_POSTGRESQL_SILVER_URL: postgres:

[2015-01-20 15:41] jbrooksuk commented on #402
Oh right, that's not what I expected.

Do you get any errors when editing the component?

[2015-01-20 15:41] jbrooksuk commented on #402
We did change migrations a few days back for the new tag system.

[2015-01-21 09:06] jbrooksuk commented on #407
@GrahamCampbell can you think of any reasons why this is failing, but previously with the `chmod` within the `post-install-cmd` it did not?

[2015-01-21 21:16] GrahamCampbell commented on #407
it needs to go in the post-update bit too.

[2015-01-21 21:55] jbrooksuk commented on #407
Look at the last code block, it seems there is an error though? Will it be fixed by copying into `post-update`?

[2015-01-21 21:57] GrahamCampbell commented on #407
Should be. Just add it after the optimize command.

[2015-01-21 22:11] jbrooksuk commented on #407
Sure thing.

[2015-01-21 22:12] #407 closed

[2015-01-22 13:13] coreation opened #409 "Seeding tags: error!"
Upon seeding a fresh install of the codebase, things go wrong when seeding the component table. The column tags is no longer in that table it seems, yet the seeder tries to add tags into it resulting in an error. Not sure what the goal is, so I just removed tags from that seeding class.

[2015-01-22 13:34] jbrooksuk commented on #409
Good catch. Would you mind making a PR with this fixed in the seeder?

[2015-01-22 13:43] coreation commented on #409
Sure!

On Thu, Jan 22, 2015 at 2:34 PM, James Brooks <notifications@github.com>
wrote:

--
Met vriendelijke groeten,

Jan Vansteenlandt

[2015-01-22 13:43] jbrooksuk commented on #409
Thanks buddy :)

[2015-01-22 13:51] coreation commented on #409
Ah, don't mention it, small contribution to make my first install work, now I get to see what this puppy can do ;).

[2015-01-22 13:51] #409 closed

[2015-01-22 13:56] coreation commented on #409
Hmm, "Call to undefined function Illuminate\Cache\apc_fetch()" you guys are using L5 so I'm not that surprised to see errors like this, however did you guys encounter this, should I pull the framework of L5 from a certain commit that does work at this time?

[2015-01-22 14:09] jbrooksuk commented on #409
Nope, we're using Laravel 4. You'll need the apcu extension installed too.

[2015-01-22 14:12] GrahamCampbell commented on #409
@coreation Also, Laravel 5's cache stuff is totally identical to L4's.

[2015-01-22 14:19] coreation commented on #409
Alrighty, thanks for the info! I installed the apc extension, clearly
that's not apcu?

On Thu, Jan 22, 2015 at 3:12 PM, Graham Campbell <notifications@github.com>
wrote:

--
Met vriendelijke groeten,

Jan Vansteenlandt

[2015-01-22 14:42] jbrooksuk commented on #409
It's definitely apcu - the error says so too:

Have you restarted Apache/PHP-FPM since installing the extension?

[2015-01-22 14:43] coreation commented on #409
Yep, but I see that my php fails to load the extension, so I know how to
proceed ;)

On Thu, Jan 22, 2015 at 3:42 PM, James Brooks <notifications@github.com>
wrote:

--
Met vriendelijke groeten,

Jan Vansteenlandt

[2015-01-22 17:06] jbrooksuk opened #411 "Protect edit user routes"
Currently we hide the edit user button if the user is not an administrator, but actually any user who knows the link could get to it.

[2015-01-23 12:06] jbrooksuk commented on #354
Closing this. We'll just be sure to add to the documents about sending the right `Accept` header for now.

[2015-01-23 12:06] #354 closed

[2015-01-23 12:37] jbrooksuk commented on #91
I've started work on [this](https://github.com/cachethq/Laravel-Segment).

[2015-01-23 16:49] jbrooksuk commented on #91
[Package is done](https://github.com/cachethq/Laravel-Segment).

Now we need to work out how we can assign each user within a Cachet setup a unique ID for anonymous tracking and of course, only do the tracking if the administrator allows us to.

[2015-01-23 17:07] jbrooksuk commented on #91
I have an idea regarding the unique ID. We don't actually care what user of what status page does what. So let's use `app.key` as the unique ID. This also means that we don't need track *just* the logged in users, but people just viewing the homepage etc.

[2015-01-23 23:18] #411 closed

[2015-01-24 02:20] rambo-panda commented on #275
You can try the 0.9.3 version of node-sass

[2015-01-24 06:40] jeanfrancis opened #415 "Install via Heroku"
Hi,

I have the following message when trying to install on Heroku
"There was an issue building your app. This can mean your app.json's project is not a valid Heroku application. Please ensure your app is deployable to Heroku and try again."

         [UnexpectedValueException]
         DirectoryIterator::__construct(/tmp/build_a6c65801d0dc03affd9bbd168aba81e7/cachethq-Cachet-0497793/app/storage/s

[2015-01-24 08:03] maanas opened #416 "SQLSTATE[HY000] [2003] Can't connect to MySQL server"
I m trying to install the cachet, I followed the doc and every thing works ok till i try to load it in the browser. It return following error. I debugged the dsn and tested in separate php file the mysql server connects ok.

Am i missing some thing. I m using the master clone.

[2015-01-24 08:46] jbrooksuk commented on #416
I can only assume that your MySQL details aren't correct or MySQL isn't running. Can you confirm?

[2015-01-24 08:48] jbrooksuk commented on #415
Thanks :)

This is caused by 600445dbeb5943b240a281b3c6216f11f6268871 but I don't know of any way to fix this on Heroku deployments and Windows.

Calling the `chmod` command itself (not the Cachet one) will break on Windows because it doesn't know of that command, whereas not having it will prevent *nix from running properly.

CC @cachethq/owners any clue?

[2015-01-24 09:24] jbrooksuk commented on #415
I've just pushed 6796a893fb094289b560c2aa9d51f02d73deb666 which semi-reverts the change. No errors on Windows either.

[2015-01-24 09:24] #415 closed

[2015-01-24 09:39] jbrooksuk commented on #385
Thanks @Finkregh I'll take a look now.

[2015-01-24 09:42] jbrooksuk commented on #385
Everything looks fine in the DB.

Can you confirm these details:

1. OS
2. Database
3. Are you using the latest version of Cachet?
4. Did you chmod `./app/storage`?

[2015-01-24 10:13] jeanfrancis commented on #415
Working fine on Heroku thanks !

[2015-01-24 10:14] jbrooksuk commented on #415
:beer:

[2015-01-24 15:05] maanas commented on #416
I check with exact pdo php code and they are correct

Sent from my iPhone

[2015-01-24 15:29] dosten opened #417 "Use Fig instead of raw Docker as default"
Maybe we can use Fig (http://www.fig.sh/) to run Cachet, essentially is the same, but only need to execute `fig up`. This isn't a replacement of docker, only a new way (and optional) to run Catchet.

[2015-01-24 16:22] jbrooksuk commented on #417
Fig looks awesome! Make a PR :)

[2015-01-24 16:41] dosten commented on #417
Sure! I'll make a PR soon :)

[2015-01-24 16:56] jeanfrancis commented on #112
why not also automatically notify users in advance when it starts and once the service is restored

[2015-01-24 16:57] jbrooksuk commented on #112
This is something we'll be able to integrate once #316 is done.

[2015-01-24 17:02] jeanfrancis commented on #36
The interface for others service should be flexible in a way that it's not just some services that are supported as they are so many others than those listed such as PagerDuty VictorOps, UptimeRobot, StillAlive , Pingdom, Plivo, Mackerel....

[2015-01-24 17:27] GrahamCampbell commented on #36
@jeanfrancis Yeh, we're using https://github.com/notifymehq.

[2015-01-24 17:28] GrahamCampbell commented on #36
We're only support services we can actually write to. We're not receiving data from other services atm.

[2015-01-24 17:29] jbrooksuk commented on #36
Once V1 is out, we'll be in a much better position to integrate directly with other services. Imagine connecting Uptime Robot directly to Cachet etc.

[2015-01-24 17:30] GrahamCampbell commented on #36
That would be really cool. I'm wondering if we should totally separate this from cachet, and design a service that can consume uptimerobot etc, and then go and hit cachet's api.

[2015-01-24 17:31] GrahamCampbell commented on #36
That said, it would be really cool for cachet to be able to do this - given that we could implement browser based configuration for this.

[2015-01-24 17:31] jbrooksuk commented on #36
As some kind of middleman service?

What are the pro's and con's of doing that? Remember that Cachet is a *product* by itself, so we should keep everything together.

[2015-01-24 17:32] GrahamCampbell commented on #36
It would still be within the cachethq organisation if we were to do it, I think.

[2015-01-24 17:32] GrahamCampbell commented on #36
This stuff might become clearer if we move towards ddd. Who knows. :)

[2015-01-24 17:39] jbrooksuk commented on #417
:beers:

[2015-01-24 18:24] jeanfrancis commented on #36
@GrahamCampbell so if i use Opsweekly https://github.com/etsy/opsweekly
we will get data from notifymehq ?

why not a middleman service that is a addon package to Cachet the product by itself?

[2015-01-24 18:28] jeanfrancis commented on #36
anyway if it's for alerting they are others solutions that are already interfacing external services such as Alerta http://alerta.io and Flapjack also https://github.com/flapjack/flapjack

[2015-01-24 20:20] jbrooksuk commented on #36
I'd rather keep everything in one system where possible. We offer an API though, so you can choose to do what you wish with it.

[2015-01-24 21:21] jbrooksuk commented on #416
Is MySQL running? That error isn't caused by Cachet, but by the configuration itself.

[2015-01-24 22:08] jenolan opened #419 "Incident not obeying timezone"
I am in Oz and have set my timezone, when I add an issue the incident is showing as yesterday. Screen shot below, I adding it Oz time 0900 2015-01-25 but it time travelled back to the 24th, I am sure Mr Hawking said that shouldn't happen ;-)
Site is https://jenolan.herokuapp.com/

![screenshot 2015-01-25 09 06 56](https://cloud.githubusercontent.com/assets/1505228/5889275/bd8d31aa-a471-11e4-9b34-6

[2015-01-24 22:11] jbrooksuk commented on #419
What timezone did you pick specifically?

[2015-01-24 22:12] jenolan commented on #419
Australia/Sydney

[2015-01-24 22:13] jbrooksuk commented on #419
That *could* be the problem then. The server time is in America, so the date doesn't change but the time does?

[2015-01-24 22:16] jenolan commented on #419
Well the server itself should be UTC, but the PHP may be set to local time, then Cachet is fiddling that again?

[2015-01-24 22:17] jbrooksuk commented on #419
In the background Cachet is just setting `app.timezone` to whatever is selected.

CC @GrahamCampbell any advice on this?

[2015-01-24 22:22] jenolan commented on #419
By looking at the incident time, it is saying 24/1 2201 that's the UTC time that I posted the incident so the code is calling a UTC function rather than local time?

[2015-01-24 22:32] jbrooksuk commented on #419
Seems to be, I think we need to call `Carbon::setTimezone()` or something too. @joecohens any idea on this as you wrote the `LoadConfigServiceProvider`, do you experience it in Mexico?

[2015-01-25 10:06] jbrooksuk commented on #419
Alternatively all models need a view presenter for dates, then each date will be chained with:

[code]

For example. Thoughts?

[2015-01-25 10:08] jbrooksuk commented on #419
Ok, that does seem to make the incident time tooltip show the right time, but the incident is still pulled under the 24th.

Looks like the database server now needs to be aware of the timezone?

[2015-01-25 10:28] bimlendu opened #420 "Syntax error in edit.blade.php"
Seems like https://github.com/cachethq/Cachet/blob/master/app/views/dashboard/incidents/edit.blade.php#L31,
https://github.com/cachethq/Cachet/blob/master/app/views/dashboard/incidents/edit.blade.php#L36 and
https://github.com/cachethq/Cachet/blob/master/app/views/dashboard/incidents/edit.blade.php#L41 are missing a closing brace `}`. This is leading to a syntax error when someone tries to edit an

[2015-01-25 10:50] jbrooksuk commented on #420
Thanks :beers:

[2015-01-25 10:50] #420 closed

[2015-01-25 11:06] jbrooksuk opened #421 "Disable Travis"
We should disable Travis until we've written more and decent tests.

[2015-01-25 11:09] jbrooksuk commented on #421
I've just deactivated the service for now.

[2015-01-25 11:09] #421 closed

[2015-01-25 12:14] GrahamCampbell commented on #421
Travis is a useful syntax checker if we enable code coverage in phpunit. It also makes sure the dependencies are actually installable.

[2015-01-25 12:44] Jamesking56 commented on #419
I think when I had this problem with Laravel before I solved it by setting Laravel's config to UTC and then using Carbon to set the user's timezone when it pulls data from the DB

[2015-01-25 12:48] GrahamCampbell commented on #419
@Jamesking56 Yeh, that's what you're meant to do. :)

[2015-01-25 13:49] jbrooksuk commented on #419
Ok, so in `LoadConfigServiceProvider` we should call `Carbon::setTimezone()`?

[2015-01-25 14:20] GrahamCampbell commented on #419
Maybe, yeh.

[2015-01-25 14:51] JMousqueton opened #422 "When editing incident the name is not complet if there is space in it"
on this line : https://github.com/cachethq/Cachet/blob/master/app/views/dashboard/incidents/edit.blade.php#L21
 you must put double quote for the value {{$incident->name}}

The code must look like this :

``` <input type="text" class="form-control" name="incident[name]" id="incident-name" required value="{{$incident->name}}">```

[2015-01-25 17:30] JMousqueton commented on #422
I propose a pull request #423 to solve this issue

[2015-01-25 17:33] #422 closed

[2015-01-25 17:33] GrahamCampbell commented on #422
Thanks.

[2015-01-25 18:11] maanas commented on #416
This php scripts works good, indicating that the Mysql is running and there is no firewall, password issues.
[code]
[cachet@status ~]$ php test.php
Connected to database

[2015-01-25 20:02] joecohens commented on #419
I think the solution is to use carbon again to query from the DB and just use the presenter to display the the right TZ https://github.com/cachethq/Cachet/blob/master/src/Http/Controllers/HomeController.php#L31 I'll test this.

[2015-01-25 21:12] jbrooksuk commented on #419
I locally tested the presenter by setting the timezone and it did work but then when you fetch the data from the DB, it will still be wrong, especially if in Australia.

[2015-01-26 08:28] kylemclaren opened #424 "Deploy to Heroku issue"
Getting the following error in the Build step when trying to deploy to Heroku using the button:

[code]

Cheers.

[2015-01-26 08:37] jbrooksuk commented on #424
Can you try again. Heroku pulls this sometimes. I've just deployed a test instance just fine :)

[2015-01-26 11:34] jbrooksuk commented on #419
Well you can't just call `Carbon::setTimezone` because it's a non-static method and only applies to the instance. This is a paint.

[2015-01-26 13:32] kylemclaren commented on #424
Seemed to do the trick, thanks @jbrooksuk!

[2015-01-26 13:32] #424 closed

[2015-01-26 13:37] jbrooksuk commented on #424
:)

[2015-01-26 13:38] jbrooksuk commented on #419
I think we actually need to save the times in the DB with the right timezone.

[2015-01-26 19:22] JMousqueton opened #426 "Sorting the component seems broken"
Since couple of days (I do not know since when exactly) , we cannot  sort the component by moving them and there is no more pop-up on the top saying it's done as previously.
We just update to the last "master" version.

I found the following error in error.log from httpd :
`[Mon Jan 26 20:18:28 2015] [error] [client 192.168.0.71] PHP Fatal error:  Call to a member function update() on null in /var

[2015-01-26 20:03] #426 closed

[2015-01-26 20:10] JMousqueton commented on #426
For me this bug is still present
And there is nothing in relation with my pull request #427

[2015-01-26 20:10] jbrooksuk commented on #426
I forgot to commit a file - whoops.

Your pull request just removes the input, but as I said, it's needed.

[2015-01-26 20:11] JMousqueton commented on #426
I understood for the pool request and I agree with you the hidden field is need,

[2015-01-26 20:12] jbrooksuk commented on #426
It'll work now though :)

[2015-01-26 20:14] JMousqueton commented on #426
thank you, but I think you misunderstood the issue.
this issue is NOT about group_id it's about the fact that I cannot change the order of the  components

[2015-01-26 20:14] jbrooksuk commented on #426
Ok, that's a separate issue. At least half of it is fixed.

[2015-01-26 20:15] jbrooksuk commented on #426
Regarding the component order, I'm able to change it via drag and drop on the components page?

[2015-01-26 20:16] jbrooksuk commented on #426
What DB are you using?

[2015-01-26 20:17] JMousqueton commented on #426
i'm using mysql

[2015-01-26 20:18] jbrooksuk commented on #426
Ok, so what happens? Do you get the confirm alert message?

![image](https://cloud.githubusercontent.com/assets/246103/5907644/79e5f7ca-a598-11e4-9cce-cb31ad05b6a3.png)

[2015-01-26 20:19] JMousqueton commented on #426
I do not have it> I only an error message in my error.log from httpd
It worked in the past.

[2015-01-26 20:21] jbrooksuk commented on #426
What's the error message? That'll help me debug it :)

[2015-01-26 20:21] JMousqueton commented on #426
The one from my issue :-1:

`[Mon Jan 26 20:18:28 2015] [error] [client 192.168.0.71] PHP Fatal error: Call to a member function update() on null in /var/www/src/Http/Controllers/DashAPIController.php on line 44, referer: http://192.168.0.84/dashboard/components`

[2015-01-26 20:22] jbrooksuk commented on #426
What browser are you using?

[2015-01-26 20:23] JMousqueton commented on #426
Firefox, Safari on Mac
and Chrome and IE on Windows

[2015-01-26 21:08] JMousqueton commented on #426
I re-install everything and it work like a charm :+1:

`git clone https://github.com/cachethq/Cachet www
cd  www
npm install -g bower
npm install -g gulp
npm update
bower install
bower install --allow-root
gulp
vi .env.local.php
composer install --no-dev -o
php artisan migrate
cd ..
chown -R www-data www`

sorry about it

[2015-01-26 21:37] jbrooksuk commented on #426
Awesome! No problem, thanks for helping us find another issue in the process :beers:

[2015-01-26 21:41] JMousqueton commented on #426
For your information, my team and I were thinking of the same application. We planned to develop it this year and I found by chance your application few weeks ago. So we will begin to use it internally during February and after to all IT dept.

[2015-01-26 21:45] jbrooksuk commented on #426
That's great news :) please let us know how you get on. Remember that currently Cachet is in beta, so if you'd like to contribute with issues or even PR's to add missing features etc, that'd be really appreciated!

[2015-01-26 22:41] JMousqueton commented on #426
For your information the sorting problem reappear after rebooting the server

[Mon Jan 26 23:39:26 2015] [error] [client 192.168.0.71] PHP Fatal error:  Call to a member function update() on null in /var/www/src/Http/Controllers/DashAPIController.php on line 44, referer: http://192.168.0.84/dashboard/components

[2015-01-26 23:26] jenolan commented on #297
Same as @brianjking followed the instructions on readme.io (the link you have above 404'd) here is my results...

abbey:Sites larrylewis$  heroku git:clone -a jenolan
Cloning from app 'jenolan'...
Cloning into 'jenolan'...
remote: Counting objects: 315, done.
remote: Compressing objects: 100% (290/290), done.
remote: Total 315 (delta 80), reused 0 (delta 0)
Receiving objects: 100% (315/315), 253.6