[2015-01-27 00:01] jenolan commented on #419
Normally the database times are UTC for sanity reasons, the displays take the local time zone and modify. Because I could always change timezones ;-)

For the date of the heading (and where the log entries appear) surely the data coming back form the DB select is already date descending, get the newest date form the first record (in UTC) convert that to local time and that is the first heading and

[2015-01-27 01:49] jenolan opened #428 "Heroku - Show version information"
When deploying to HeroKu it can be a bit of a task to 'see' what codebase is actually installed. Would it be possible to somewhere in the dashboard to show the git id (either the sha or full) just to make it easier.

Update: I found in the HeroKu system that the pushes can be seen, but it would be nice if it were visible within Cachet

Thanks
Larry

[2015-01-27 01:56] jenolan commented on #297
I solved this for myself (I think) my manually merging, then pushing. But the recipe for doing this is not non-techie safe.

[2015-01-27 06:05] jbrooksuk commented on #297
Dos you force push after resetting the head?

Sent from my iPhone

[2015-01-27 07:04] jbrooksuk commented on #428
We could probably integrate this into #109.

[2015-01-27 07:04] #428 closed

[2015-01-27 09:06] jbrooksuk commented on #419
That makes sense, however the code we currently have wouldn't work that way.

See:

[code]

[2015-01-27 15:06] JMousqueton opened #429 "mouseover text on incident status icon"
This is an  enhancement / design

In the main page, could you add a text on mouseover the event status icon to explain what the icon means with this  {{ trans('forms.incidents.status') }}  ?

Thanks in advance

[2015-01-27 15:08] jbrooksuk commented on #429
I keep meaning to do this :)

[2015-01-27 15:10] #429 closed

[2015-01-27 15:10] jbrooksuk commented on #429
Done! I'm not sure on the positioning, but it looks nice.

[2015-01-27 15:49] bimlendu opened #430 "Error in laravel.log on POSTing incident using API."
Hi,

When I try to submit an incident from API, the incident is successfully submitted and reflected in the UI, but this error is reported in `laravel.log`.

```[2015-01-27 21:06:54] production.ERROR: exception 'ErrorException' with message 'Argument 1 passed to Illuminate\Database\Grammar::columnize() must be of the type array, string given, called in /usr/share/nginx/html/status/vendor/laravel/f

[2015-01-27 16:03] Finkregh commented on #385
OS: Debian 7.8 x86, Linux 3.2.0-4-686-pae
DB: sqlite
version: @6250aec581121730030685520470e58bd4622e12
file/folder rights: webserver-process can 'rwx'

The problem persists, i have an not-okay-icon in the history-list, but not on the component

[2015-01-27 16:09] Finkregh opened #431 "exception on incident-creation"
I get an exception when i try to add an incident:
![2015-01-27 17_07_19-vorfall hinzufugen - dashboard _ cachet](https://cloud.githubusercontent.com/assets/518090/5921840/18d3f874-a647-11e4-8cfc-dd06e82ac19c.png)

[code]

POST data:
[code]

The incident is added nontheless...

[2015-01-27 16:47] jbrooksuk commented on #431
Looks like you need to run `gulp` because you should be seeing a component status picker there too.

[2015-01-27 16:50] JMousqueton commented on #429
We like.  Thank you so much !

[2015-01-27 16:50] jbrooksuk commented on #429
No problem buddy :)

[2015-01-27 16:54] brianjking opened #432 "Unable to edit components"
https://www.dropbox.com/s/x3ye76y8rbyxhw4/screenshot1-27-1511.42.png?dl=0

Any ideas? Heroku one button deploy

[2015-01-27 16:55] jbrooksuk commented on #432
Woah. Looks like we have a syntax error on our hands.

[2015-01-27 17:13] jbrooksuk commented on #432
Is this component linked to a component group?

[2015-01-27 17:14] jbrooksuk commented on #432
Actually, are you using the latest version?

[2015-01-27 17:14] brianjking commented on #432
:grinning: Let me know if there's anything I can help with. Can't wait for a patch! Thanks!

[2015-01-27 17:15] jbrooksuk commented on #432
Just the above ;)

[2015-01-27 17:15] brianjking commented on #432
I was until a few minutes ago. I'm re-building now.

[2015-01-27 17:18] jbrooksuk commented on #432
Cool :)

[2015-01-27 17:23] brianjking commented on #432
Yes, just pushed a new deploy and still having the same issue.

remote: Verifying deploy... done.
To https://git.heroku.com/dockdogsmonitor.git
   6250aec..d9dbfeb  master -> master

[2015-01-27 17:24] jbrooksuk commented on #432
PgSQL I take it?

[2015-01-27 17:24] brianjking commented on #432
Affirmative.

[2015-01-27 17:26] jbrooksuk commented on #432
Are you able to copy the source of the page into a Gist for me or something?

[2015-01-27 17:26] jbrooksuk commented on #432
Actually, nevermind, you're not in debug mode :)

[2015-01-27 17:28] jbrooksuk commented on #432
Have you ever been able to edit components?

[2015-01-27 17:30] brianjking commented on #432
@jbrooksuk yes, until a week or two ago.

[2015-01-27 17:30] jbrooksuk commented on #432
It's related to the `tagsList` attribute on the `Component` model.

[2015-01-27 17:30] brianjking commented on #432
@jbrooksuk how can I go into debug?

[2015-01-27 17:30] jbrooksuk commented on #432
You'd need to manually edit the `./app/config/app.php` file. Don't worry, I'm on it :)

[2015-01-27 17:32] jbrooksuk opened #433 "Enable debug mode via env"
This would make it easy to switch on debug mode when you deploy to Heroku etc.

[2015-01-27 17:36] joecohens commented on #433
Store a setting `debug_mode` and override in LoadConfig?

[2015-01-27 17:37] jbrooksuk commented on #433
I was trying to make it harder for the average user to edit it. That is a solution though. Do you think it's better?

[2015-01-27 17:38] jbrooksuk commented on #432
The error itself is actually:

[code]

[2015-01-27 17:39] jbrooksuk commented on #432
I don't know why though because `tags` is a relationship. Why does it make it so hard?

[2015-01-27 17:40] joecohens commented on #433
Oh I thought it was for everyone. Laravel 5 will let you easy do this directly on the env.

[2015-01-27 17:44] jbrooksuk commented on #433
We don't really want to advocate it, but we could put it under some kind of **Danger zone**?

[2015-01-27 17:45] joecohens commented on #433
Nah I think it's better on the env only for advanced user.

[2015-01-27 17:46] jbrooksuk commented on #433
:+1:

[2015-01-27 17:46] jbrooksuk commented on #433
See #434

[2015-01-27 17:46] jbrooksuk commented on #432
@joecohens any idea on this one? The relationship works beautifully on MySQL.

[2015-01-27 17:51] #433 closed

[2015-01-27 17:55] jbrooksuk commented on #432
Annoyingly this works on SQLite too.

[2015-01-27 18:10] Finkregh commented on #431
i might have to write a how-to-keep-up2date... :dancer:

thx

[2015-01-27 18:10] #431 closed

[2015-01-27 18:11] Finkregh commented on #385
fixed via #431 (running gulp, etc.)

[2015-01-27 18:11] #385 closed

[2015-01-27 18:38] joecohens commented on #432
Can't reproduce the error on a fresh one click install it might be a migration issue?

[2015-01-27 18:40] brianjking commented on #432
@joecohens Yeah, I can't make it happen on a fresh 1 click installation. The install with the issue is also a 1click install.

@jbrooksuk - If I have to deploy a new installation is there a way yet for me to migrate the database contents?

[2015-01-27 18:42] jbrooksuk commented on #432
Unfortunately not yet. You could connect directly to the database and modify the columns?

Sent from my iPhone

[2015-01-27 18:45] brianjking commented on #432
I'll wait a few days and see if you guys can figure this out before I opt to have to manually migrate the content to a new deploy.

Thanks, keep up the great work guys!

[2015-01-27 18:52] jbrooksuk commented on #432
You should be able to simply drop the tags column from the components table. If you can login to it?

Sent from my iPhone

[2015-01-27 19:02] brianjking commented on #432
How can I remotely connect is the question?

Thanks,

Brian J King
On Jan 27, 2015 1:52 PM, "James Brooks" <notifications@github.com> wrote:

[2015-01-27 19:17] jbrooksuk commented on #432
Login to Heroku and get the env variable for the database. Connect with PgSql.

Sent from my iPhone

[2015-01-27 22:02] jbrooksuk commented on #430
Are you using the latest version?

[2015-01-27 22:06] jbrooksuk commented on #430
It doesn't matter, I'm experiencing this issue too.

[2015-01-27 22:08] #430 closed

[2015-01-27 22:09] jbrooksuk commented on #430
Fixed :) The issue was in the `AllowedDomainsFilter` we hadn't switched the old model out for the new facade repository we use to fetch settings.

[2015-01-27 22:22] jbrooksuk commented on #417
Any news on this @dosten? :)

[2015-01-27 22:26] jbrooksuk commented on #432
@brianjking I'm going to close this issue as it's not really a bug - but @joecohens and I have been discussing how we can better the migration path for current users.

[2015-01-27 22:27] #432 closed

[2015-01-27 22:28] jbrooksuk commented on #416
@joecohens any idea on this? I'm all out of ideas.

[2015-01-27 22:31] joecohens commented on #416
Can you provide a gist with your .env file config? I think it might be detecting or using another env.

[2015-01-27 22:52] jenolan commented on #297
I used my smartGIT tool (gui based git) just told it that I wanted the local sent and it took care of it. Just saying that the instructions as they are for non-techies don't seem to be right, if a list of commands are shown as the method it must work as-is, well that's just my view of course.

[2015-01-27 22:54] jbrooksuk commented on #297
Did you follow [this](https://docs.cachethq.io/v1.0/docs/upgrading-on-heroku)? I guess you did.

[2015-01-27 23:15] dosten commented on #417
@jbrooksuk Not yet, i'll work on it this weekend.

[2015-01-28 08:19] #216 closed

[2015-01-28 09:01] #419 closed

[2015-01-28 20:26] jbrooksuk commented on #359
@GrahamCampbell you mentioned removing of the transformers etc? Is this something we'd benefit from immediately?

[2015-01-28 20:30] GrahamCampbell commented on #359
No. Removing them would prevent code from diverging. The same effect we were observing with the lang files might be observed here if we're not careful. That was what I was getting at. Only in this case, we really don't need to duplicate this stuff unlike the lang files.

[2015-01-28 23:22] #91 closed

[2015-01-29 07:15] jbrooksuk commented on #416
Closing as this is most not a Cachet issue as far as I can tell.

[2015-01-29 07:15] #416 closed

[2015-01-29 10:23] 0147500 opened #438 "Composer Base table or view not found"
Hello,

When i do a clean install with Cachet and run the command php composer.phar install --no-dev -o I got the following error:
[code]
Any idear on how to resolve this? I saw a issue before but that didn't solve it.

Btw.
I like the project, keep up the great work!

[2015-01-29 10:24] jbrooksuk commented on #438
You need to run `php artisan migrate` to get the tables created. Before that though you'll want to set your environment settings.

See the [install docs](https://docs.cachethq.io/v1.0/docs/installing-cachet#configuring-a-database-without-heroku).

Thanks for your kind words :)

[2015-01-29 10:27] 0147500 commented on #438
I can't run ```php artisan migrate``` because i can't run ```composer install..``` :)

I fllowed your docs step by step. Have create a .env.local.php with the correct settings. The $ENV is empty.

[2015-01-29 10:28] jbrooksuk commented on #438
Hah, whoops. I misread your issue.

[2015-01-29 10:29] 0147500 commented on #438
okay i will see if i can do some debugging myself. Never had this before?

[2015-01-29 10:31] jbrooksuk commented on #438
I think I know why. One second.

[2015-01-29 10:47] #438 closed

[2015-01-29 10:47] jbrooksuk commented on #438
All fixed for :smile:

[2015-01-29 10:49] 0147500 commented on #438
Im sorry but that still dind't fix it. :(

[2015-01-29 10:50] jbrooksuk commented on #438
You'll need to run `composer update` too. I had to fix Laravel Segment.

[2015-01-29 10:50] 0147500 commented on #438
okay will try that :)

[2015-01-29 11:09] 0147500 commented on #438
Nope sorry that still didn't fix it :(

[2015-01-29 11:09] jbrooksuk commented on #438
What error are you getting now?

[2015-01-29 11:10] 0147500 commented on #438
[code]

[2015-01-29 11:11] jbrooksuk commented on #438
Urgh, I forgot to commit a file.

[2015-01-29 11:11] 0147500 commented on #438
Okay :)

[2015-01-29 11:12] jbrooksuk commented on #438
Pull down again :)

[2015-01-29 11:12] 0147500 commented on #438
okay ^.^

[2015-01-29 11:15] 0147500 commented on #438
That did the trick :) need to give my vm a 1GB Ram to do the composer update but it worked THX. I think i will see if i can contribute to your project asswell :)

[2015-01-29 11:17] jbrooksuk commented on #438
Try adding [swap](https://www.digitalocean.com/community/tutorials/how-to-add-swap-on-ubuntu-12-04) to it.

[2015-01-29 13:10] devcare opened #440 "Deploy to Heroku button not working - rev-manifest.json"
After deploying to Heroku with the button, the app setup page tells: "Whoops, looks like something went wrong.".

The heroku logs show:
[code]

[2015-01-29 13:20] jbrooksuk commented on #440
That means some of the assets aren't compiling. I'll have a look.

[2015-01-29 13:23] jbrooksuk commented on #440
Everything compiled fine locally. I'll watch the output on deploy to Heroku.

[2015-01-29 15:59] 0147500 opened #442 "gulp gulp-notify error."
Hello,

Im trying to install Cachet today and after getting composer update working corectly now gulp is not behaving correct. i got te flowwing error when i run gulp:

[code]

So when i open the laravel isntall i got the follwing error:

http://puu.sh/fbUZL/22c40be676.png

Any idear on how to fix this? THX system is ubuntu 14.10

[2015-01-29 16:08] jbrooksuk commented on #442
There isn't really an issue with this. The same thing happens when you deploy to Heroku, `gulp-notify` just doesn't have a notification system to use.

If you want to make something, check out [gulp-notify](https://github.com/mikaelbr/gulp-notify/).

[2015-01-29 16:08] #442 closed

[2015-01-29 16:10] 0147500 commented on #442
Hmm okay so that's not really a problem but what about the screen shot i added? How did that happen then?

[2015-01-29 16:17] jbrooksuk commented on #442
Are you running on Heroku?

[2015-01-29 16:18] jbrooksuk commented on #442
I think you need to run `chmod -R 755 ./public` because the `rev-manifest.json` wasn't created. This is what is causing #440.

[2015-01-29 16:21] 0147500 commented on #442
Im not on heroku and the file still didn't get created after i did the chmod. and run bower install again.

[2015-01-29 16:22] 0147500 commented on #442
and did also run gulp again.

[2015-01-29 16:22] jbrooksuk commented on #442
Ok, this is #440, let's figure it out there.

[2015-01-29 16:23] 0147500 commented on #442
sure

[2015-01-29 16:30] jbrooksuk commented on #440
Can you pull down and try again please.

[2015-01-29 16:33] 0147500 commented on #440
Will do asap atm getting to home
________________________________
From: James Brooks<mailto:notifications@github.com>
Sent: ý29/ý01/ý2015 17:30
To: cachethq/Cachet<mailto:Cachet@noreply.github.com>
Subject: Re: [Cachet] Deploy to Heroku button not working - rev-manifest.json (#440)

Can you pull down and try again please.

—
Reply to this email directly or view it on GitHub<https://github.com/cach

[2015-01-29 17:21] liamn commented on #440
I experienced this bug earlier, just used the Heroku button again and everything seems to be working now.

[2015-01-29 17:24] jbrooksuk commented on #440
Heroku is always so problematic.

[2015-01-29 17:50] 0147500 commented on #440
That's seems to fix it for me. :D thx!

[2015-01-29 17:50] #440 closed

[2015-01-29 19:38] devcare commented on #440
Thanks for your fix.

[2015-01-30 18:29] foxted commented on #240
Out of curiosity: Why not using the Form Request feature?

[2015-01-30 18:54] GrahamCampbell commented on #240
I don't see the point in it. I don't think validation belongs in it. Otherwise, we have to implement validation twice - once for command line interface, and again for http interface.

[2015-01-30 19:32] foxted commented on #240
Make sense :+1:

[2015-01-31 12:15] wfjsw opened #443 "A bunch of bugs"
First, when i was upgrading my heroku install, it gives me
[code]

I want to access API but I got this(debug mode):(want more access: http://status.nyanyanya.moe/api/incidents )
[code]
have a look at it plz

[2015-01-31 12:29] GrahamCampbell commented on #443
Have you run composer install after your upgrade?

[2015-01-31 12:32] wfjsw commented on #443
unable to manual "composer install" in heroku upgrade progress.

[2015-01-31 12:34] wfjsw commented on #443
BTW when i install it on linode it throws
ApcWrapper: not defined function(i have disabled it in config)
app/database/meta/services.json: Unable to open stream--Permission Denied

[2015-01-31 14:17] jbrooksuk commented on #443
1. You need to be running `composer update` on your existing installation.
2. I'll take a look at the bug in the incident API.
3. You need php-apcu installed.
4. You need to chmod the `app/storage` directory.

[2015-01-31 14:18] GrahamCampbell commented on #443
@jbrooksuk We can't recommend running `composer update` because it means people are using untested dependencies in production.

[2015-01-31 14:19] jbrooksuk commented on #443
Good point. Will update my comment.

[2015-01-31 14:30] jbrooksuk commented on #443
What database are you running?

[2015-01-31 14:53] wfjsw commented on #443
i am using "deploy to heroku" button

[2015-01-31 15:06] jbrooksuk commented on #443
If you're on the latest version the error does seem to be fixed. See the [demo](http://cachet.herokuapp.com/api/incidents).

[2015-01-31 15:07] GrahamCampbell commented on #443
@jbrooksuk We should probably pretty print the json too.

[2015-01-31 15:09] jbrooksuk commented on #443
Using `Response::json`?

[2015-01-31 15:13] GrahamCampbell commented on #443
Yeh, we can do.

[2015-01-31 15:13] GrahamCampbell commented on #443
TBH, I think laravel should pretty print by default.

[2015-01-31 15:15] GrahamCampbell commented on #443
I think I'll send a pull to 5.0 to do that actually.

[2015-01-31 15:15] jbrooksuk commented on #443
:D

[2015-01-31 15:18] wfjsw commented on #443
I will do an update 12 hours later. Keep in touch.

[2015-01-31 15:23] wfjsw commented on #443
i really don't think i can ```composer update```when i am pushing to an *heroku* repo.

[2015-01-31 15:24] jbrooksuk commented on #443
Please see the [Upgrading on Heroku](https://docs.cachethq.io/v1.0/docs/upgrading-on-heroku) documentation.

[2015-01-31 15:24] #443 closed

[2015-01-31 15:29] GrahamCampbell commented on #443
Yeh, about that...

![image](https://cloud.githubusercontent.com/assets/2829600/5988572/fc8fa13a-a95d-11e4-88df-021d079d3dda.png)

[2015-01-31 15:52] jbrooksuk commented on #443
God damn it Cloudflare... http://cachet.readme.io/v1.0/docs/upgrading-on-heroku

[2015-02-03 01:12] jdl031 opened #444 "Deploy to Heroku - getting Error H20 - App boot timeout"
I'm attempting to use the "deploy to Heroku" option from the github readme page. Created my application and give it 1 web worker. Consistently getting the following error now.

2015-02-03T01:06:48.562259+00:00 heroku[router]: at=error code=H20 desc="App boot timeout" method=GET path="/setup" host=myapp.herokuapp.com request_id=c38a21eb-4ab0-4658-80e0-ceeaccfc4882 fwd="209.66.94.75" dyno= connect=

[2015-02-03 01:13] #444 closed

[2015-02-03 01:13] jdl031 commented on #444
Posted in error... Just had to keep trying.

[2015-02-03 11:08] jbrooksuk commented on #444
Sometimes Heroku does this. It's rather annoying.

[2015-02-03 13:18] jdl031 opened #445 "Error when updating Component Name"
I'm attempting to update a component name and get the following error. Note: Only change I made from the last time I updated a component name was that I set up DNS CNAME to point from status.redoxengine.com to redox-status.herokuapp.com

Is this a known issue? Any known workarounds or fixes?

Illuminate\Database\QueryException thrown with message "SQLSTATE[22P02]: Invalid text representation: 7 ER

[2015-02-03 13:44] jdl031 commented on #445
After a bit more digging, this error is occurring when updating components which are not part of a Component Group. In this scenario, group_id is set to null which is breaking the SQL query.

[2015-02-03 17:29] jbrooksuk commented on #445
Are you using the latest version?

[2015-02-04 07:22] Finkregh opened #446 "Exception: components.tags may not be NULL"
When i try to add a component i get the following error:
[code]

POST data:
[code]

I still use sqlite, cachet @367af86f0b8d38043ff5ec4d08219e34aa79b2fc, npm, bower, etc. up2date

[2015-02-04 08:45] jbrooksuk commented on #446
CC @cachethq/owners we really need to come up with a way of handling these `NULL` values better.

[2015-02-04 08:46] jbrooksuk commented on #446
Did you upgrade from a previous version? You need to drop the `components.tags` column.

[2015-02-04 14:44] Finkregh commented on #446
i did; should that not be handled by `artisan migrate`?

[2015-02-04 14:46] jbrooksuk commented on #446
You'd think so, but since we're in beta, we change the existing migrations I'm afraid. We're actually going to work on a package to merge migrations.

[2015-02-06 11:32] Finkregh commented on #446
well, i suspected an answer like that ;)

anybody got a sqlite-command handy for that?

[2015-02-06 14:09] jbrooksuk commented on #370
Since we have no solution on this I replaced the `Form` facades with raw HTML in 5ac5f12d808cf3a6b70289c24acfaf75779ed286. It's now fixed.

[2015-02-06 14:09] #370 closed

[2015-02-06 14:14] jbrooksuk commented on #374
@Mooash sorry for the very long delay. The status page itself is all HTTPS, so is login. I'm going to go through all of the dashboard and make it compatible, then we should be good to close this issue. Thanks!

[2015-02-06 14:18] GrahamCampbell commented on #374
@Mooash It's likely this is caused by you not setting your rusted proxies correctly.

[2015-02-06 14:19] jbrooksuk commented on #374
@GrahamCampbell the trusted proxies thing doesn't seem to be working.

[2015-02-06 14:25] GrahamCampbell commented on #374
It works for me? Possibly bad nginx/apache config then?

[2015-02-06 14:25] jbrooksuk commented on #374
Does it work on Heroku for you buddy?

[2015-02-06 14:28] GrahamCampbell commented on #374
Not a clue, sorry.

[2015-02-06 14:32] #374 closed

[2015-02-06 14:33] jbrooksuk commented on #445
This is working on the demo version (see [here](http://cachet.io.dev/dashboard/components/1/edit)). Please make sure you're on the latest version.

[2015-02-06 14:34] jbrooksuk commented on #445
Never mind, I was trying the local version.

[2015-02-06 14:35] jbrooksuk commented on #445
You can't actually get to the `/dashboard/components/1/edit` page.

[2015-02-06 14:42] jbrooksuk commented on #446
Unfortunately not. You'll need to connect via some GUI tool and remove them with that I'm afraid. After V1, running Cachet from `master` will be much easier so long as we get the migration package written.

I am sorry for this inconvenience though.

[2015-02-06 14:42] #446 closed

[2015-02-06 14:52] jbrooksuk commented on #445
Must be a migrations thing, because after redeploying the Cachet demo I'm able to [edit components](https://status.cachethq.io/dashboard/components/1/edit) completely.

Sorry about this @jdl031 but you may want to manually update your tables for this. This is one of the last migration changes - we have scheduled maintenance and metrics to come yet.

[2015-02-06 14:52] #445 closed

[2015-02-06 15:07] jbrooksuk commented on #225
@MichaelBanks did you get any further on this integration?

[2015-02-06 17:40] MichaelBanks commented on #225
@jbrooksuk I think we were going to have a chat about it at some point. Give me a ring when you get a chance

[2015-02-06 17:40] jbrooksuk commented on #225
:+1:

Once my voice is better, I'll do that :)

[2015-02-07 01:01] wfjsw opened #447 "Chinese is unable to display"
Due to fonts reason, when an Asian language is installed, the char will just disappeared. They cannot display properly in that environment.

I am using the Crowdin's translate file.

[2015-02-07 07:57] jbrooksuk commented on #447
Thanks for reporting this. I guess that's to do with Open Sans? Or is the font displaying as Lato for you? It depends on if you pulled recently.

[2015-02-08 02:17] wfjsw commented on #447
first, open sans never supports chinese.
second, it seems that google fonts' charset have some problem with processing it :(

[2015-02-09 09:24] jbrooksuk opened #448 "Docker should use nginx"
This would make it more lightweight and easier to configure. Plus, we should really be advising use of a better web server anyway.

[2015-02-09 20:33] jbrooksuk commented on #417
If @dosten or someone else feels like doing this, please do, otherwise it's not something I'll be doing.

[2015-02-09 20:33] #417 closed

[2015-02-09 20:34] jbrooksuk commented on #360
Closing this. It's not a massive issue for now.

[2015-02-09 20:34] #360 closed

[2015-02-09 21:39] joecohens commented on #448
:+1:

[2015-02-13 08:21] jbrooksuk commented on #112
This is being worked on in #404 - but it'll be known as "Scheduled maintenance" which is still an incident, but with a `publish_date`.

[2015-02-17 08:34] jbrooksuk opened #452 "Edit component groups"
We have no facility to edit component groups.

[2015-02-17 08:49] jbrooksuk opened #453 "Make the user profile link in the sidebar more obvious"

[2015-02-17 08:50] jbrooksuk commented on #447
I'm not sure how we can fix this then I'm afraid.

[2015-02-17 08:58] wfjsw commented on #447
simply change an charset-friendly font when selecting asian language.

[2015-02-17 09:01] jbrooksuk commented on #447
I'm wondering if we make it so that if the language is Chinese or anything with other unsupported diacritics etc use a different font.

We can't drop Open Sans easily as it's part of the consistent branding for Cachet.

[2015-02-17 09:06] wfjsw commented on #447
Fine.

[2015-02-17 09:29] jbrooksuk commented on #447
What do you think about that @wfjsw

[2015-02-17 12:33] sammcj commented on #225
Hey, I think we'll be able to write a decent Nagios check but it won't be until after multi-app is at least in beta - (after 1.0 release) - We've got a guy who's great at writing reusable Nagios checks, so if you wanted to put this on the burner until later we (@infoxchange) can do that.

[2015-02-17 12:34] sammcj commented on #448
+1

[2015-02-17 12:35] jbrooksuk commented on #448
I've no experience with Docker, so if somebody fancies doing this, that'd be lovely.

[2015-02-17 12:35] jbrooksuk commented on #225
Amazing, thanks Sam.

Once V1 is out, we'll come back to this.

[2015-02-17 12:36] GrahamCampbell commented on #448
Docker is apparently an arse to configure. For example, if we had our db in a different container, we've got no way of knowing that other container's ip or hostname before we've booted it so our web container is kind of screwed.

[2015-02-17 12:37] sammcj commented on #448
We've got lots of docker & nginx experience @infoxchange but almost no PHP experience - I'll take a look though and see what I can come up with this week unless work gets busier.

[2015-02-17 12:38] jbrooksuk commented on #448
@GrahamCampbell can you get on Slack for a minute? :)

[2015-02-17 12:40] sammcj commented on #448
@grahamcampbell - it's not an arse to configure at all? Docker is very easy to work with compared to say - deploying with multiple package managers for all the crazy languages out there.

With the database, you can just require the use of another upstream database container which you connect to via environment variables or a config file presented to the container.

Anyway, if I get time this week

[2015-02-17 12:45] sammcj commented on #225
@georgehansper I'll speak to you about this one since you're a monitoring guru ;)

[2015-02-17 12:54] GrahamCampbell commented on #448
@sammcj That's not what I've been told. I too have little experience with docker though.

[2015-02-17 13:06] sammcj commented on #448
One of its main advantages is that it makes deployment easy and reproducible.

We moved all our applications, old and new alike from VMs into containers last year many of them are highly complex with many relaionships and dependant services - I'll tell you what - it's been a BIG win for us, it's sped up development, increased the frequency of feature deployments, made CI and testing easier, made l

[2015-02-17 14:05] wfjsw commented on #447
Exactly the same. System Fonts did well in it.

[2015-02-17 19:27] MichaelBanks commented on #225
I haven't been keeping up with Cachet development as much as I'd like. But last time I checked, we came to a fairly solid conclusion that Cachet would need some kind of configurable hooks setup. A more fluid API layer. Nagios has some set environment variables which are passed through when alerts on hosts and services pop up, so Cachet has to seat those variables, otherwise we have to go through a

[2015-02-17 19:29] MichaelBanks commented on #225
Here's the script Slack uses for Nagios integration: https://github.com/tinyspeck/services-examples/blob/master/nagios.pl

[2015-02-17 19:30] MichaelBanks commented on #225
This is the command Nagios would pass when a service notifcation occurs:

`/usr/local/bin/slack_nagios.pl -field slack_channel=#alerts -field HOSTALIAS="$HOSTNAME$" -field SERVICEDESC="$SERVICEDESC$" -field SERVICESTATE="$SERVICESTATE$" -field SERVICEOUTPUT="$SERVICEOUTPUT$" -field NOTIFICATIONTYPE="$NOTIFICATIONTYPE$"`
and a host notification:
`/usr/local/bin/slack_nagios.pl -field slack_channel=

[2015-02-17 19:35] MichaelBanks commented on #225
The resulting post request would be as follows (for service notifications):
[code]

[2015-02-17 21:30] jbrooksuk commented on #327
I wanted to get this done for V1, but with my recent illnesses and thus my time off, I'm pushing this back to V2.

If you want to change the favicon in the mean time you can easily replace the file in `./public/favicon.ico` etc.

[2015-02-17 21:31] jbrooksuk commented on #320
Pushing this back to V2 for the sake of getting V1 out.

[2015-02-17 22:06] sammcj commented on #448
@jbrooksuk ,

I've just given @frconil from our systems engineering team @infoxchange an initial one day on sorting out Nginx and the Dockerfile for Cachet.

[2015-02-17 22:26] jbrooksuk commented on #448
You rock! Thanks @sammcj :beers:

[2015-02-17 22:30] #253 closed

[2015-02-17 23:38] sammcj commented on #225
@jbrooksuk ,

I've just given @georgehansper from our systems engineering team @infoxchange two hours on writing an initial Nagios check for Cachet - do you have a running instance of cachet he can test the check against?

[2015-02-18 03:34] georgehansper commented on #225
A Nagios check for this should look at /api/components

Each component should be examined in turn, and an overall status returned based on the 'worst case'

Looking at the status codes in app/lang/en/cachet.php, I think the status code should map to Nagios codes as follows:
1= Operational - > Nagios OK
2 = Performance Issues -> Nagios Warning
3 = Partial Outage -> Nagios Critical
4 = Major Outage

[2015-02-18 05:26] frconil commented on #448
Hi,

I've done some work in https://github.com/frconil/Cachet/commit/d132eec54b2c35eb4cb906b9eb525bdad16bc7a5

We're still in the process of testing internally (it's only a first commit) so don't be afraid if it breaks. The image builds successfully but I haven't tested what would happen when you run the newly built image.

I'm using the docker registry debian:jessie as its base, and as many syste

[2015-02-18 05:37] sammcj commented on #448
That's looking great @frconil ! Can't wait to see it running tomorrow :+1:

[2015-02-18 08:07] jbrooksuk commented on #448
Nice, great work @frconil!

[2015-02-18 08:08] jbrooksuk commented on #225
You're more than welcome to use the demo; https://status.cachethq.io:

- test@test.com
- test123

@georgehansper there isn't an incident count actually, but that would be useful.

[2015-02-19 02:50] frconil commented on #448
Just an update:
I have an image building, deploying etc, still trying to get Cachet going past the setup page (which returns an error 500)

At this point I'm investigating whether it's a misconfiguration in nginx or fpm, or simply a parameter I didn't set properly in the dockerfile.

[2015-02-19 05:28] jenolan opened #457 "Heroku build failing"
Trying to do an update to Heroku and it is failing at loading SASS... any hints?

Thanks,
Larry

[code]

[2015-02-19 08:14] jbrooksuk commented on #457
Can you try again please, Heroku is stupid sometimes and just fails to build sporadically.

[2015-02-19 08:27] jbrooksuk commented on #448
Closed in #456.

[2015-02-19 08:27] #448 closed

[2015-02-19 08:40] sammcj opened #459 "Setup Github -> Docker Hub automation"
This will mean people can simply run `docker pull cachethq/cachet` without needing to check out the git repo and build the docker image etc....

It looks really easy to setup too - you pretty much just bind your Github repo to your Docker account:

1) Setup a cachethq account on the Docker hub (you can signup with Github) - https://hub.docker.com/account/signup/
2) Visit - https://registry.hub.doc

[2015-02-19 20:07] jenolan commented on #457
Exact same error (just tried)

[2015-02-19 23:09] georgehansper commented on #225
I've written a Nagios check that uses /api/components, and that works fine.

But I think the more valuable side would be to get Nagios to set the status of a component.

I've tried using the API, both with the perl JSON library, and using curl, and I can't seem to get it to work.

The curl command I'm using is:
curl -u 'test@test.com:test123' -H "Content-Type: application/json" -d '{"name":"API 2"

[2015-02-19 23:12] jbrooksuk commented on #225
Thanks, can you open that as a separate issue please? It's the cross-database issue again. CC @cachethq/owners.

[2015-02-19 23:17] GrahamCampbell commented on #225
Grrr. I assume you're using posgres? Mysql is so dumb it means we're missing all these violations.

[2015-02-19 23:18] georgehansper opened #461 "API errors - Not null violation in column "description""
The /api/components interface does not seem to be working.

The command:

curl -u 'test@test.com:test123' -H "Content-Type: application/json" -d '{"name":"API 2","status":1}' -H 'User-Agent: Mozilla/5.0 (but really curl)' https://status.cachethq.io/api/components -v -o /dev/null

Fails as follows:
HTTP/1.1 500 Internal Server Error

SQLSTATE[23502]: Not null violation: 7 ERROR: null value in colum

[2015-02-19 23:26] brianjking commented on #457
@jbrooksuk My builds stopped compiling properly on Heroku as well.

''''code
-----> Fetching custom git buildpack... done
-----> PHP (composer.json) app detected
-----> Bundling NGINX 1.6.2
       Checksums match. Fetching from cache.
-----> Bundling PHP 5.6.4
       Checksums match. Fetching from cache.
-----> Bundling extensions
       apcu
       Checksums match. Fetching from cache.
       php

[2015-02-20 00:15] sammcj commented on #225
I thought George was just testing against the public demo page - @jbrooksuk I'm assuming you still use MySQL with that?

When we start to deploy Cachet internally - we'll definitely be using PostgreSQL if we're able to - we've just had too many issues with MySQL over the years and have finally rid ourselves of the last MySQL instance last year, and that wasn't very fun - the quality of the data in

[2015-02-20 08:26] jbrooksuk commented on #457
I hate Heroku.

[2015-02-20 08:48] jbrooksuk commented on #457
Well it builds now:

![image](https://cloud.githubusercontent.com/assets/246103/6283487/2aa62b8c-b8dd-11e4-9aa6-33b11bfdfcf8.png)

But the `rev-manifest.json` file didn't get written - https://cachet-dev.herokuapp.com/setup

[2015-02-20 08:49] jbrooksuk commented on #457
It builds locally just fine.

[2015-02-20 09:09] jbrooksuk commented on #461
I think I've fixed this but I've since broken deployment to Heroku, are you able to test locally?

[2015-02-20 09:11] jbrooksuk commented on #225
I always use MySQL, which means when we deploy to PgSQL it breaks. For everything.

[2015-02-20 12:33] jbrooksuk opened #462 "Move Docker files"
Can we get these files moved into a `docker` sub directory or something please? The root directory is getting busy.

[2015-02-20 12:33] jbrooksuk commented on #459
I have indeed set this up.

[2015-02-20 12:34] jbrooksuk commented on #459
https://registry.hub.docker.com/u/cachethq/cachet/

[2015-02-20 12:39] georgehansper commented on #461
I've tried to install Cachet on a Debian wheezy system, but it fails at the 'bower install' step
The error message is
bower bootstrap-sass-official#~3.3.1 ECMDERR Failed to execute "git ls-remote --tags...
fatal: unable to connect to github.com

I'm not sure what it's trying to do here or why, but things like 'git pull' work.

In short, not I can't test locally (yet)

[2015-02-20 12:45] jbrooksuk commented on #457
I think this is being caused by the bower asset for `bootstrap-sass-official` no longer existing... Just deploying a test.

[2015-02-20 12:57] jbrooksuk commented on #457
Nope, even after fixing the bootstrap code, nadda.

[2015-02-20 14:42] jbrooksuk commented on #457
It's working again! :)

[2015-02-20 14:42] #457 closed

[2015-02-20 14:44] jbrooksuk commented on #461
Try now - it seems to be working for me :)

[2015-02-20 19:47] jbrooksuk opened #463 "Include compiled assets in repo, drop building with Node"
We've had **a lot** of reoccurring issues with Heroku deployment due to not including the compiled assets within the repo.

This should give us the following benefits:

- Hopefully be able to drop the custom buildpack.
- Reduce the size of the deployed application on Heroku.
- Removes the need for people installing Cachet to have Node, Bower, Gulp etc installed.

[2015-02-20 19:50] joecohens commented on #463
:+1:

[2015-02-20 19:52] GrahamCampbell commented on #463
:+1:

[2015-02-20 19:52] GrahamCampbell commented on #463
This only works if there's not much going on, otherwise we've going to have a crap load of merge conflicts again.

[2015-02-20 20:48] jbrooksuk commented on #463
I said to @joecohens that we can probably do this for V1 - or start now as there is less changes happening.

[2015-02-20 21:56] #459 closed

[2015-02-20 21:57] jbrooksuk commented on #463
@sammcj @frconil would you guys be able to help with the Docker changes that would be required by this?

[2015-02-20 21:57] jbrooksuk commented on #462
@frconil is this something you'd be able to handle?

[2015-02-20 21:58] #461 closed

[2015-02-20 22:46] jbrooksuk commented on #453
Closed in favour of #384

[2015-02-20 22:46] #453 closed

[2015-02-20 23:27] frconil commented on #463
Sure, I'll submit a PR when you move to prebuilt assets.

On 21 Feb 2015, at 08:57, James Brooks <notifications@github.com<mailto:notifications@github.com>> wrote:

@sammcj<https://github.com/sammcj> @frconil<https://github.com/frconil> would you guys be able to help with the Docker changes that would be required by this?

-
Reply to this email directly or view it on GitHub<https://github.com/cach

[2015-02-20 23:30] jbrooksuk commented on #463
Thanks!

I hope you're not annoyed, since you've just done it, but after all the hassle I've had with asset compilation today, it's not worth it - only for development.

[2015-02-20 23:37] frconil commented on #463
It's ok, I was complaining about npm timing out all the time while building the docket image.

I will have a look at it first thing Monday.

On 21 Feb 2015, at 10:30, James Brooks <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks!

I hope you're not annoyed, since you've just done it, but after all the hassle I've had with asset compilation today, it's not worth it - only

[2015-02-21 03:20] sammcj commented on #462
Totally agree, Will do now.

[2015-02-21 04:33] sammcj commented on #463
I'm so glad this is happening, so sick of all the NPM and Composer building, especially when I get rate-limited by Github :angry:

[2015-02-21 04:54] sammcj commented on #462
https://github.com/cachethq/Cachet/pull/464 - tested with fresh install

[2015-02-21 09:21] jbrooksuk commented on #463
Composer will still need to run, but NPM and Bower won't :)

[2015-02-21 09:23] #462 closed

[2015-02-21 12:21] #463 closed

[2015-02-21 14:14] Duffleman opened #466 "Javascript Errors"
`Uncaught TypeError: undefined is not a function - all-23bbb8a2.js:29286`

Line that is referenced:
`$('[data-toggle="tooltip"]').tooltip();`

That will break the installer script, stops you pressing the "Next" button.

If I remove that, the next line that errors:

`$btn.button('loading');`
From line `29391` of `all.js`

After that, no errors present themselves.

[2015-02-21 14:39] jbrooksuk commented on #466
This should no longer be an issue for you, if you use the latest version as all of the assets are compiled with the distribution :smile:

[2015-02-21 14:39] #466 closed

[2015-02-21 14:53] Duffleman commented on #466
This is no longer an issue for me, the precompiled assets work perfectly.

[2015-02-21 16:39] jbrooksuk commented on #384
@thomasHolman can I pick your brains one of the things on here, on Monday please?

[2015-02-21 20:08] thomasHolman commented on #384
Sure 👍

[2015-02-21 21:41] jbrooksuk commented on #384
Thanks :)

[2015-02-22 11:28] #452 closed

[2015-02-22 21:53] #4 closed

[2015-02-22 21:57] georgehansper opened #468 "API - Cannot update a component status - always creates a new component"
When using the `/api/components` API, it is not possible to update the status of an existing component.

Instead, a new component with the same name is created every time.

This occurs for both of the following JSON payloads:

[code]

[code]

[2015-02-22 22:01] jbrooksuk commented on #468
Can you confirm which version of Cacht you're using?

[2015-02-22 22:02] jbrooksuk commented on #468
Sorry, I misread your issue. This is in the list for #359.

[2015-02-23 06:53] #384 closed

[2015-02-23 06:55] jbrooksuk commented on #468
Could you try now please?

[2015-02-23 07:09] jbrooksuk opened #472 "Something went wrong when adding a metric"
https://status.cachethq.io/dashboard/metrics/add

[2015-02-23 08:33] jbrooksuk commented on #472
Looks like the migration was missing the `default_value` at some point.

[2015-02-23 08:34] #472 closed

[2015-02-23 08:35] jbrooksuk opened #473 "Metrics don't work on Heroku"
[code]

Well that's a massive pain.

[2015-02-23 10:25] georgehansper commented on #468
Posted data to https://status.cachethq.io/api/components
{"status":"2","name":"Website","id":3}

New result:
{"data":[{"id":1,"name":"API","description":"Used by third-parties to connect to us","status_id":1,"status":"Operational","incident_count":0,"created_at":1424680368,"updated_at":1424680368},{"id":2,"name":"Payments","description":"Backed by Stripe","status_id":1,"status":"Operational","inci

[2015-02-23 18:20] brianjking opened #474 "Cachet Heroku App Crashing -- unavailable via browser"
2015-02-23T18:04:18.935260+00:00 heroku[web.1]: State changed from crashed to starting
2015-02-23T18:04:28.401455+00:00 heroku[web.1]: Starting process with command `vendor/bin/heroku-php-nginx -C nginx.conf public`
2015-02-23T18:04:29.965168+00:00 app[web.1]: vendor/bin/heroku-php-nginx: line 7: /app/run: No such file or directory
2015-02-23T18:04:30.676581+00:00 heroku[web.1]: Process exited wit

[2015-02-23 20:58] jbrooksuk commented on #474
Looks like you don't have an `nginx.conf` file in the root?

[2015-02-23 20:59] jbrooksuk commented on #474
Oh. I know. You need to change the `BUILDPACK_URL` environment variable to `https://github.com/heroku/heroku-buildpack-php` then re-deploy.

That's the last change to the buildpack as we've now got everything working.

[2015-02-23 20:59] #474 closed

[2015-02-23 21:06] jbrooksuk commented on #473
This is probably some stupid PgSQL query error.

[2015-02-24 08:46] sammcj commented on #473
I know you usually use MySQL for your projects but have you considered moving to PostgreSQL?

After years of working with databases of varying flavours I can honestly say that MySQL is a mess. Through its sloppy transaction handling and consistency problems the default these days is quickly becoming PostgreSQL.

I could go on for hours, and I'm certainly not suggesting this as a blocker for 1.0 bu

[2015-02-24 08:51] sammcj commented on #473
Are you able to provide me with the SQL that's being run? (I'm assuming Heroku can log transactions somewhere?)

[2015-02-24 08:52] jbrooksuk commented on #473
Yes and no, the problem is that I'm using Eloquent to build the query. https://github.com/cachethq/Cachet/blob/master/src/Models/Metric.php#L73-89

I'm going to read that article later on :smile:

[2015-02-24 08:53] sammcj commented on #473
Yeah and sorry I don't want to sound like a troll - but MySQL has bitten so many people I think that's half the reason new databases are popping up every week!

Anyway, if you can get me that query I should be able to spot any syntactical errors.

[2015-02-24 08:56] jbrooksuk commented on #473
Definitely not trolling, I appreciate any ways that I can improve both Cachet and myself :smile:

I'll have to pull it out later I think, is that ok?

[2015-02-24 08:58] sammcj commented on #473
Sure - it's 8PM here in Melbourne so I'll probably reply first thing in the morning.

[2015-02-24 09:00] jbrooksuk commented on #473
Yeah, no problem :)

[2015-02-24 09:09] michaelw90 commented on #473
Pretty sure PostgreSQL doesn't have a `date_sub()` method. Looking at latest master, seems fixed?

[2015-02-24 09:20] jbrooksuk commented on #473
I pushed live (to Heroku) and it doesn't work still, must be a syntax error.

[2015-02-24 09:39] michaelw90 commented on #473
Do you have an updated error report for it on Heroku?

[2015-02-24 09:40] jbrooksuk commented on #473
Not to hand I'm afraid.

[2015-02-24 18:15] MichaelBanks commented on #335
:+1:

[2015-02-25 09:00] jbrooksuk commented on #109
GitHub has just added [two new API methods](http://www.programmableweb.com/news/github-adds-two-new-methods-to-releases-api/elsewhere-web/2015/02/22), which is perfect for this update system.

[2015-02-25 13:06] sammcj commented on #473
^ Ping ^ - query please!

[2015-02-25 13:13] jbrooksuk commented on #473
You need the PgSQL one right?

[2015-02-25 13:14] sammcj commented on #473
Yes if that's the one throwing the error.
It's 12.15 here and I've got to be up at 5.45AM for a network change so
I'll look at it after that.

--
Sam McLeod
@s_mcleod[https://twitter.com/s_mcleod]

On Thu, 26 Feb 2015, at 12:13 AM, James Brooks wrote:

[2015-02-25 13:18] jbrooksuk commented on #473
[code]

[2015-02-25 13:20] jbrooksuk commented on #473
I think I know what it is actually.

[2015-02-25 13:21] jbrooksuk commented on #473
Nope. But I've fixed half of it.

[2015-02-25 15:00] #473 closed

[2015-02-25 15:00] jbrooksuk commented on #473
Done in 33f1948adde4eb561773b3c546d7cb7826c133a7. Can someone check that the query is efficient?

[2015-02-25 18:39] joecohens commented on #109
@jbrooksuk Just in time!

[2015-02-25 21:04] jbrooksuk commented on #468
@joecohens as part of #359

[2015-02-25 21:08] joecohens commented on #468
Roger :)

[2015-02-26 17:45] oovoo opened #477 "Unable to update a metric"
Guys i am trying to update metric using following command:

curl -k -XPOST 'https://localhost/api/metrics/points' -d '{"_token":"blablabla", "id":1, "value":1}'

Any ideas why it doesn't work?

it says

[2015-02-26 17:31:26] local.ERROR: exception 'CachetHQ\Cachet\Repositories\InvalidModelValidationException' with message 'Validation failed on the model.' in /var/www/html/Cachet/src/Repositories/E

[2015-02-26 21:48] joecohens commented on #477
We are not accepting json input atm on the API can you try like this? `curl -H "X-Cachet-Token: YOURTOKEN" -X POST -d 'id=1&value=1' http://cachet.app:8000/api/metrics/points`

[2015-02-27 11:50] dcoeurjo commented on #477
@joecohens, with your example, I'm getting an ```wWhoops, looks like something went wrong.```web page

(command: ```curl -H "X-Cachet-Token: MYSECRET" -X POST -d 'id=1&value=1' 'http://MYHEROKUDEPLOYEDAPP/api/metrics/points'```)

[2015-02-27 12:31] oovoo commented on #477
It looks much better but graph still didn't present the values which i am pushing

curl -k -H "X-Cachet-Token: pnUxF5qERmmKhoOJV5wv" -X POST -d 'metric_id=1&value=100' https://localhost/api/metrics/points
{"metric_point":{"metric_id":"1","value":"100","updated_at":"2015-02-27 12:20:57","created_at":"2015-02-27 12:20:57","id":8}}

curl -k -H "X-Cachet-Token: pnUxF5qERmmKhoOJV5wv" -X POST -d 'id=1&v

[2015-02-27 12:34] adamlc opened #480 "Docker hub automated build failing"
Not sure why but it looks like the automated builds on docker hub are failing. This has happened for the last few builds.

https://registry.hub.docker.com/u/cachethq/cachet/builds_history/122451/

[2015-02-27 12:40] oovoo commented on #477
If i perform like this:

curl -k -H "X-Cachet-Token: pnUxF5qERmmKhoOJV5wv" -X POST -d 'metric_id=1&value=100' https://localhost/api/metrics/points
{"metric_point":{"metric_id":"1","value":"100","updated_at":"2015-02-27 12:20:57","created_at":"2015-02-27 12:20:57","id":8}}

then it looks like right:

mysql> select * FROM cachet.metrics;
+----+------+----------------------------+--------------------

[2015-02-27 14:06] jbrooksuk commented on #480
Failing bit:

[code]

CC @sammcj

[2015-02-27 14:37] #480 closed

[2015-02-27 20:55] oovoo commented on #477
I just figure out  why metrics weren't presenting properly on the graph so i found two issues (BTW my time zone is Asia/Jerusalem)

1. Because %c presents month without 0, so right choose as following ( %m	Month, numeric (00-12) inside actual query)

2. You should present average and not sum for one hour since sum it is pointless

so i changed from

this src/Models/Metric.php):
$value = (int) $thi

[2015-02-28 09:42] jbrooksuk commented on #477
Please submit a PR and I'll check it out @oovoo :)

[2015-02-28 11:41] GrahamCampbell commented on #240
This is going to be done later into the 2.0 cycle, that is, if I'm still doing it.

[2015-02-28 13:52] wfjsw commented on #457
@jbrooksuk same problem, latest version of the code, doing update.
[code]

[2015-02-28 13:59] jbrooksuk commented on #457
We no longer use gulp for installation. Can you pull the latest version and try again please?

Sent from my iPhone

[2015-02-28 14:01] wfjsw commented on #457
well i pulled just a minute ago.

[2015-02-28 14:03] wfjsw commented on #457
oops forgive me i merged a wrong branch.

[2015-02-28 18:39] jbrooksuk commented on #457
Is it working now for you @wfjsw?

[2015-02-28 19:36] jbrooksuk opened #482 "Remove check for $incident->hasMessage"
Incidents always have messages, it's a `required` field.

[2015-02-28 19:45] jbrooksuk opened #483 "Remove incident[user_id] from views"
@joecohens do you know why we're sending this through the view? We can get this from `Auth::user()->id` right? Are we just avoiding the import here?

[2015-02-28 19:49] jbrooksuk opened #484 "Restyle H tags in incidents"
Since we allow entering of `h` tags in incidents (and now scheduled maintenance) we need to re-style them so that they don't dominate the content.

![image](https://cloud.githubusercontent.com/assets/246103/6427771/dc634c82-bf82-11e4-8abe-523988aa5da9.png)

[2015-02-28 20:32] #482 closed

[2015-02-28 20:34] jbrooksuk commented on #109
@joecohens I think we'll need to implement this with some test releases on a test project I'd say.

[2015-02-28 20:51] #112 closed

[2015-02-28 21:55] MichaelBanks opened #486 "An option to hide the 'Nothing to report' days must be added"

[2015-03-01 00:13] wfjsw commented on #457
@jbrooksuk nope. 503 is presented and no logs can be acquired. (heroku sucks......)

[2015-03-01 00:24] wfjsw commented on #457
[code]
What a mess..

[2015-03-01 08:30] jbrooksuk commented on #457
Ah... Can you tell me what the `BUILDPACK_URL` environment variable is?

[2015-03-01 08:56] wfjsw commented on #457
Here you are
https://github.com/cachethq/cachet-buildpack

[2015-03-01 09:13] jbrooksuk commented on #457
Right, you need to change that to `https://github.com/heroku/heroku-buildpack-php` and deploy again :)

[2015-03-01 10:19] oovoo commented on #477
and %e replace to %d

[2015-03-01 10:19] oovoo commented on #477
ok i will submit

[2015-03-01 11:28] wfjsw commented on #457
I am out now. will deploy in a moment.

[2015-03-01 14:08] wfjsw commented on #457
ok now :)

[2015-03-02 00:25] ashii007 opened #487 "Wont work in Azure"
I tried to install the software on windows azure. AFter all said and done, install.php is not working. Here is the error.

[01-Mar-2015 16:19:11 America/Los_Angeles] PHP Warning:  PHP Startup: Unable to load dynamic library 'C:\DWASFiles\Sites\rhcs-cachet\VirtualDirectory0\site\wwwroot\bin\php_apc.dll' - The specified module could not be found.
 in Unknown on line 0
[02-Mar-2015 00:19:13 UTC] PHP

[2015-03-02 04:26] bimlendu opened #488 "SQL error on using sqlite db driver."
sqlite does not have `NOW()` method as used in  https://github.com/cachethq/Cachet/blob/master/src/Models/Incident.php . So on using sqlite as db driver cachet fails with this error.

[code]

Full stack trace here: http://pastebin.com/PZVp67qy

`NOW()` depends on the database that we use, instead using `date("Y-m-s H:i:s", time())` in place of `NOW()`, resolves the issue and should work with all d

[2015-03-02 06:10] joecohens commented on #483
No idea lol it was like that a long time ago, and yes we should be using `Auth` there :)

[2015-03-02 06:13] joecohens commented on #240
@GrahamCampbell Do you mean if you still doing the Commands and Handlers thing?

[2015-03-02 08:49] jbrooksuk commented on #483
I'll get these replaced out at some point.

[2015-03-02 08:50] jbrooksuk commented on #487
We've never actually tested Cachet on Azure, with that said, it'd be awesome to support it. It seems to be that Azure hasn't setup the APC driver properly here. I don't know much about it, but we require APC for caching.

[2015-03-02 08:51] jbrooksuk commented on #488
Would you mind making a Pull Request?

[2015-03-02 09:55] jbrooksuk commented on #488
Fixed.

[2015-03-02 09:55] #488 closed

[2015-03-02 10:07] umerafridi opened #489 "installation of snipe-it issue"
Dear All,
migrating of database error please help me
php artisan migrate
entering this command following error prompt

  [Illuminate\Database\QueryException]
  SQLSTATE[42S02]: Base table or view not found: 1146 Table 'snipeit.assets'
  doesn't exist (SQL: truncate `assets`)

  [PDOException]
  SQLSTATE[42S02]: Base table or view not found: 1146 Table 'snipeit.assets'
  doesn't exist

[2015-03-02 10:39] jbrooksuk commented on #489
This is not a Cachet issue, please open an issue on the [Snipe-It project](https://github.com/snipe/snipe-it).

[2015-03-02 10:39] #489 closed

[2015-03-02 13:18] jbrooksuk opened #490 "Incident Templates, templating system"
I'm imagining that incident templates could make use of a templating system, by use of variables. For example, imagine this template text:

[code]

Which could be translated to:

[code]

Just by sending the variables to the API. This would make it much easier to integrate with the incident API.

[2015-03-02 18:40] mkody opened #491 ""Whoops, looks like something went wrong." on home page"
Hello,

Tried to deploy from the Heroku button but the front-end is showing a *"Whoops, looks like something went wrong."*.
But looks like that others' Cachet websites are showing the same, like at http://cachet.herokuapp.com/ or http://monitor.dockdogs.com/ (found when searching a bit about this issue here).

Is it just me or is there something broken at the moment?

Thanks for any future help!

[2015-03-02 20:09] GrahamCampbell commented on #240
Yeh. I guess I might be able to squeeze in the L5 upgrade earlier.

[2015-03-02 21:09] jbrooksuk commented on #491
Interesting! I'll take a look.

[2015-03-02 21:16] jbrooksuk commented on #491
Fixed in 6bbdd864e744942379648fa508c359e0448b530f - sorry about that.

[2015-03-02 21:16] #491 closed

[2015-03-03 13:02] brianjking opened #492 "Explain metrics screen?"
While it's not a bug I'm not sure I understand what the metrics screen setup can do. I don't see it presently used at your demo at https://demo.cachethq.io. Do you have this shown as a sample setup anywhere?

Thanks!

[2015-03-03 13:05] jbrooksuk commented on #492
Example metrics:

![image](https://cloud.githubusercontent.com/assets/246103/6462960/cce4a2b8-c1a5-11e4-949a-917b9bf459d8.png)

They can only be accessed via the API (although there is a default value option if you want to specify). I'm going to be working on the docs in the evenings.

[2015-03-03 17:33] ApfelUser opened #493 "Debian 7 Installation Issue"
Hi, I am getting this error when trying to setup:

[Cachet](https://status.minora.io/setup)

[2015-03-03 17:36] jbrooksuk commented on #493
Have you upgraded from a previous version?

[2015-03-03 17:37] ApfelUser commented on #493
@jbrooksuk No, it is a brand new pull from GitHub

[2015-03-03 17:38] jbrooksuk commented on #493
That's weird because the `all.css` file is defined in the manifest file: https://github.com/cachethq/Cachet/blob/master/public/build/rev-manifest.json

[2015-03-03 17:39] jbrooksuk commented on #493
Can you pull again and check that nothing has been missed?

[2015-03-03 17:42] ApfelUser commented on #493
Yeah:
[code]

Also, `npm install` & `gulp` are missing in the Docs

[2015-03-03 17:43] jbrooksuk commented on #493
You don't need to build any dependencies now.

[2015-03-03 18:57] brianjking commented on #492
Gotcha, that's what I figured. I currently have http://health.dockdogs.com using UptimeRobot in addition to a Cachet installation deployed on Heroku.

So I can theoretically use the metrics API in Cachet with the UptimeRobot.com service to merge everything into one, correct?

https://uptimerobot.com/api

Thanks!

[2015-03-03 19:14] jbrooksuk commented on #492
Exactly @brianjking the API can be setup to add incidents for you or change a component status :)

[2015-03-03 19:39] #493 closed

[2015-03-04 08:16] jbrooksuk opened #494 "Option to only show days with incidents"
A feature that is often requested is the ability to only show days in the timeline view which had an incident logged.

[2015-03-04 08:42] jbrooksuk commented on #494
My thoughts on this:

- The reason I've continued to show empty days is because it re-enforces the positives that there are days when there have been no issues.
- How would we we able to the "Previous Week" button?

[2015-03-04 09:57] ApfelUser commented on #493
I got it working with `composer update` now, but I am getting this when logging in now:
![Error](https://cloud.githubusercontent.com/assets/7549136/6481377/3892acb4-c25d-11e4-954b-73fcd77a5c73.png)

[2015-03-04 09:58] jbrooksuk commented on #493
Do you have JavaScript disabled?

[2015-03-04 10:06] ApfelUser commented on #493
No, I now pulled new from GitHub. Created a `.env.local.php` and getting a white page now. I am getting this when I try `composer install --no-dev -o`:

[code]

[2015-03-04 10:07] ApfelUser commented on #493
@jbrooksuk It would work when I would run `composer update`, but then I would be getting the login error.

[2015-03-04 10:11] jbrooksuk commented on #493
You need to run `composer install` on clone, but it looks like you're missing some extensions. Did you build PHP yourself?

[2015-03-04 10:25] ApfelUser commented on #493
No, I did not.

[2015-03-04 10:26] ApfelUser commented on #493
And it does work when I run `composer update`, but I am getting the login error then

[2015-03-04 10:26] ApfelUser commented on #493
I'll re-pull and try `composer install`

[2015-03-04 10:27] ApfelUser commented on #493
Okay, I am getting this when trying to install:

[code]

[2015-03-04 10:46] ApfelUser commented on #493
I tried ` apt-get install php5-readline`, now `composer install --no-dev -o` is running perfectly fine. I created the `.env.local.php`, did `chmod -R 777 ./app/storage` and now I am getting this again when trying to login:

![Error](https://cloud.githubusercontent.com/assets/7549136/6482214/151b485c-c264-11e4-930c-deac95a0b765.png)

[2015-03-04 13:19] ApfelUser commented on #493
@jbrooksuk you can try it yourself: [Cachet](https://status.minora.io/auth/login)

*  test@test.com
*  1234

[2015-03-04 13:42] jbrooksuk commented on #493
@GrahamCampbell can you offer any insight into this? The `_token` value is set properly.

[2015-03-05 02:44] sammcj commented on #36
May I make a suggestion that rather than writing for proprietary systems like HipChat that instead you just have the ability to send to XMPP(Jabber) users/rooms?

* Many of the proprietary chat systems work with XMPP.
* Reduces the amount of code that has to be maintained.
* Reduces risk of vendor lock-in.
* Is an open and well documented standard.
* There are a *lot* of connectors for XMPP in oth

[2015-03-05 08:28] jbrooksuk commented on #36
We're using [NotifyMe](https://github.com/notifymehq/notifyme) which is a library of connector packages for different standards. In the future we'll probably add a XMPP connector and switch out the API versions for that - CC @cachethq/owners

[2015-03-05 19:41] jbrooksuk opened #495 "Scheduled maintenance should have the ability to affect components"
When creating a new scheduled status, the user should have the ability to assign one or more components that will be affected.

[2015-03-05 19:55] jbrooksuk opened #496 "API Tokens"
Currently API tokens are generated per-user. This approach is fine, but there may times when someone wants to use the API via a different token so that they can easily manage individual connections.

[2015-03-05 19:58] jbrooksuk opened #497 "Email settings"
Surprisingly we have no email settings panel yet. We'll need this for subscribers etc.

@joecohens is this something you've added in the new notifications branch that you've been working on?

[2015-03-06 01:35] Mooash commented on #374
Whoops, I missed this stuff! Let me do another test and see what happens.

[2015-03-06 08:10] jbrooksuk opened #498 "Unable to delete scheduled incidents on Heroku"
"Whoops, looks like something went wrong."

[2015-03-06 08:13] #498 closed

[2015-03-06 08:20] jbrooksuk opened #499 "Still non-secure routes"
Using the `route` helper is fine, but we're losing the `https://` protocol again, which means that when Cachet is on a secure URL, not all assets are secure.

[2015-03-06 08:25] jbrooksuk commented on #499
I think we can fix this by making sure that none of the **delete** buttons are using `route`.

[2015-03-06 08:25] jbrooksuk commented on #499
This was preventing #498 too, because the HTTPS side of things was broken.

[2015-03-06 08:29] jbrooksuk commented on #374
Looks like this has creeped back in (in a couple of places), see #499 - but this itself should be fixed.

[2015-03-06 08:34] #483 closed

[2015-03-06 09:43] jbrooksuk commented on #109
@joecohens I'm tempted to move this feature to V2 as well. At the moment Cachet is quite easy to get updated, plus the architecture changes that we've spoken about for V2 will make this much easier for us. I'll Slack you more of my thoughts.

[2015-03-06 11:14] jbrooksuk commented on #487
@ashii007 have you had any luck with this?

[2015-03-06 16:12] ApfelUser commented on #493
@jbrooksuk @GrahamCampbell Any updates?

[2015-03-06 16:13] jbrooksuk commented on #493
Not from me I'm afraid, only if @GrahamCampbell can chime in here?

[2015-03-07 09:13] jbrooksuk commented on #468
@georgehansper sorry for the delay in this. You are sending the request as a `PUT` method, right?

[2015-03-07 09:14] jbrooksuk commented on #468
I've just tested with a `PUT` method and the component updated just fine :)

[2015-03-07 09:14] jbrooksuk commented on #468
If you can confirm, I'll close this issue.

[2015-03-07 09:19] #484 closed

[2015-03-07 13:30] Helfull opened #500 "scroll bar on dashboard navigation"
there is a design issue on the dashboard navigation

![dashboard scrollbar](http://i.imgur.com/g79f2mA.png)

Windows 7, Chrome

[2015-03-07 14:16] jbrooksuk commented on #477
@oovoo any news on this? :)

[2015-03-07 14:32] jbrooksuk opened #501 "Disable children field if no children are available"
I'd say that this would make it more obvious when you're on an adults only hotel as well.

[2015-03-07 14:34] jbrooksuk opened #502 "Prices don't always display on chart click"
Steps to reproduce:

- Clear cache
- Land on calendar page
- Click one chart bar
- Click again

[2015-03-07 14:34] jbrooksuk commented on #502
I *think* that this could be related to the promises, so we may have to check out **optional** callbacks too.

[2015-03-07 14:35] jbrooksuk commented on #502
It could also be the price chart click handler code...

[2015-03-07 14:35] #501 closed

[2015-03-07 14:35] #502 closed

[2015-03-08 03:14] bbcorp opened #503 "Schedule component not working"
Hey there,
I did recently test Cachet and I have an issue for comitting a schedule maintenance.
When I click on scheduled maintenance it shows "Error in exception handler."
PHP message is : "PHP Parse error:  syntax error, unexpected '$scheduledAt' (T_VARIABLE) in /var/www/Cachet/src/Http/Controllers/DashScheduleController.php on line 162"
I looked at this line but It don't see the point.

Thanks

[2015-03-08 15:05] #503 closed

[2015-03-08 15:06] jbrooksuk commented on #503
Whoops! All fixed, thanks!

[2015-03-08 15:18] bbcorp commented on #503
Nice, that was quick.
Keep it up, I'll support you as I can ;)

[2015-03-08 15:21] ApfelUser commented on #493
@jbrooksuk shall I open a new issue for this specific bug?

[2015-03-08 15:32] GrahamCampbell commented on #493
This is an issue with boris being stupid. Laravel 5 ditched boris because of it's stupid extension requirements that should have been put in the suggests block.

[2015-03-08 15:32] GrahamCampbell commented on #493
What session driver is being used?

[2015-03-08 15:54] ApfelUser commented on #493
@GrahamCampbell It is the (default?) "APC" if I look in `app/config/session.php`:

[code]

I can change it to e.g. Redis if you explain me how to configure the database, because I see no option for that in the config files.

[2015-03-08 17:31] jbrooksuk commented on #503
Thanks! :)

[2015-03-08 22:59] ApfelUser commented on #493
@GrahamCampbell shall I open a new issue now or not?

[2015-03-09 08:02] jbrooksuk commented on #493
@ApfelUser please :)

[2015-03-09 08:17] oovoo commented on #477
we will provide an answer, it looks like it about your default date formatting.

details are coming soon.

[2015-03-09 08:42] vincent commented on #487
Hi. We also use use Azure here..
The OP didn't specified so I guess he also uses Azure Websites. On these, only Wincache is available.
Maybe you could use a cache abstraction lib ?

Cheers

[2015-03-09 08:46] jbrooksuk commented on #487
Hey @vincent, thanks for your reply.

What I may do is allow switching of the cache driver by an environment variable.

[2015-03-09 08:58] #487 closed

[2015-03-09 08:59] jbrooksuk commented on #487
@vincent and @ashii007 if you use the latest version you'll be able to set an environment variable of `CACHE_DRIVER` instead of Cachet using `apc`. Thanks :)

[2015-03-09 09:00] jbrooksuk commented on #500
This actually happens on OSX too, it's just that the scrollbar is invisible. I've never realised this. Thanks!

[2015-03-09 09:05] #500 closed

[2015-03-09 09:06] jbrooksuk commented on #468
I'm going to close this @georgehansper if it's still a problem for you, please re-open and we'll take another look :+1:

[2015-03-09 09:06] #468 closed

[2015-03-09 10:57] georgehansper commented on #468
Actually, I'm using the POST method as per the API described in:
https://docs.cachethq.io/v1.0/docs/components-api

There is no mention of a PUT method for updating components.

Can you please post a sample of the working code?

When I change the method to 'PUT' in Perl LWP, I get the following error message:

{"message":"405 Method Not Allowed","status_code":405}

The response headers include:
Se

[2015-03-09 10:58] jbrooksuk commented on #468
I really need to sort out the documentation :/

[2015-03-09 16:29] ApfelUser opened #505 "d11wtq/boris, ext-readline and TokenMismatchException error [Debian 7]"
Hello,

I am trying to install Cachet on Debian 7:

[code]

I am getting this error then:

[code]

I can solve this by using:

[code]

But then I am getting **this**:

![Error](https://cloud.githubusercontent.com/assets/7549136/6482214/151b485c-c264-11e4-930c-deac95a0b765.png)

Some facts:

* Debian 7 x64
* PHP5
* php5-readline **is installed**, I know - it said it is missing, but it definitely is

[2015-03-09 16:33] ApfelUser commented on #493
@jbrooksuk @GrahamCampbell I did: #505

[2015-03-09 19:23] GrahamCampbell commented on #505
That maybe so, but you can't have enabled it correctly.

[2015-03-09 19:24] GrahamCampbell commented on #505
You know there is a dirty hack you can use if you want to force the install even if php version requirements and extentions aren't met by the system. Run the composer install with the `--ignore-platform-reqs` flag.

[2015-03-09 21:07] ApfelUser commented on #505
@GrahamCampbell Same **TokenMismatchException** if I use `--ignore-platform-reqs`

[2015-03-09 22:26] GrahamCampbell commented on #505
What if you use a different session driver?

[2015-03-09 22:42] ApfelUser commented on #505
Could you explain me how I can configure Redis for that?

[2015-03-09 22:43] ApfelUser commented on #505
@GrahamCampbell because I don't find any settings/explanation for that. I can change `'driver' => 'apc'` to `'driver' => 'redis'`. But how do I configure the **host**, **password** and **database name**?

[2015-03-09 22:56] anarcat commented on #36
my personnal wishlist here would be IRC, XMPP, twitter, identica (status.net/pump.io) and diaspora.

[2015-03-10 08:56] jbrooksuk commented on #36
Hi @anarcat we'll be using the [NotifyMe](https://github.com/notifymehq) system so we'll be able to add adapters ad we need :)

[2015-03-10 10:53] #492 closed

[2015-03-10 10:53] jbrooksuk commented on #492
The documentation will be updated to properly explain metrics etc.

[2015-03-10 19:26] maanas commented on #486
+1

[2015-03-10 19:38] anarcat commented on #486
+1

[2015-03-10 19:39] anarcat commented on #387
+1

[2015-03-10 19:39] anarcat commented on #495
+1

[2015-03-10 19:41] anarcat commented on #36
@jbrooksuk what's the timeline for this?

[2015-03-10 19:41] anarcat commented on #225
:+1:

[2015-03-10 19:41] jbrooksuk commented on #36
Well @joecohens is working on this, so he'd have to answer.

[2015-03-10 19:57] joecohens commented on #36
Hopefully NotifyMe will be released this week and implemented on Cachet this weekend.

[2015-03-10 20:39] sammcj commented on #36
If only there was some sort of service that could notify us of these things... ;) heh keep up the great work @joecohens @jbrooksuk !

[2015-03-11 08:49] jeremypruitt commented on #486
+1

[2015-03-11 08:52] jbrooksuk commented on #486
I'll briefly explain the reasoning behind the current design and why I'm not sure if this will work.

The current design shows empty days as reinforcement that the service is performing well. If you see a list of components and no incidents you'll be thinking "oh yeah, this service is solid" whereas if we show just a list of incidents labelled with random dates, the status page could look broken i

[2015-03-11 08:54] jbrooksuk commented on #486
With that said, if there is a genuine need (which there seems to be) to hide all empty dates, we'll add this in for V2 - but I'm only inclined to do so if people understand why it could be a bad idea?

[2015-03-11 12:41] anarcat commented on #486
as a user, i don't want shiny things. i want the truth. and a list of empty dates doesn't tell me that. a calendar might, but having an easily accessible list of outages is more useful to me than a supposedly impressive list of non-failures. :)

[2015-03-11 12:47] jbrooksuk commented on #486
I'd say that a list of empty dates shows that there are no incidents on those days, maybe we add a toggle?

[2015-03-11 13:56] anarcat commented on #486
yeah, adding a toggle (even client-side) would fix this for me. "tools not policy"...

[2015-03-11 14:53] jbrooksuk commented on #359
I've made some changes to the Metrics API:

- Endpoints have changed slightly:
    - `GET /api/metrics`
    - `GET /api/metrics/:id`
    - `GET /api/metrics/:id/points`
    - `POST /api/metrics`
    - `POST /api/metrics/:id/points`
- You no longer need to supply the `id` in the JSON body when creating a point.

Other than that, this issue is now done.

[2015-03-11 14:53] #359 closed

[2015-03-11 15:03] jbrooksuk commented on #477
Ah... Sorry, updating a metric point?

[2015-03-11 15:09] jbrooksuk commented on #477
Right, this is done now - get it from `master`.

[code]

Then just send through the same information and the metric point will be updated.

[2015-03-11 15:09] #477 closed

[2015-03-11 15:09] jbrooksuk commented on #505
Try using `file` driver for now?

[2015-03-11 21:50] jenolan opened #507 "Incident not obeying timezone"
See #419 dates are still not right.

To replicate .. change timezone to Sydney/Australia between about 0600-0900 add an incident, then go to the status page and you will see it has moved to yesterday.

[2015-03-11 22:11] jenolan commented on #507
Not scheduled standard incident

[2015-03-11 22:12] jbrooksuk commented on #507
@joecohens FYI.

[2015-03-11 22:15] joecohens commented on #507
@jenolan This should fix it let us know if you have any trouble. https://github.com/cachethq/Cachet/pull/508

[2015-03-12 02:47] jeremypruitt commented on #486
Toggle would be perfect as both are useful for different reasons.

[2015-03-12 02:52] maanas commented on #486
How about showing a just a graphical bar with Green blocks  (containing date) indicating every thing is well.
We can represent the period where there has been no incident in just one line indicating all is well for that period

On 12-Mar-2015, at 8:17 AM, Jeremy Pruitt <notifications@github.com> wrote:

[2015-03-12 08:10] jbrooksuk commented on #486
@maanas could you make a mockup?

[2015-03-12 09:02] tomer-h commented on #468
Commenting as I am also encountering this issue and want to stay updated. Adding my experience below:

The following creates a new component with status 2:

curl -X POST -H "Content-Type: application/json" -H "X-Cachet-Token: SECRET" http://myurl.com/api/components -d '{"status":"2","name":"Homepage","id":"1"}'

The following receives a 405 Method Not Allowed response:

curl -X PUT -H "Content-Typ

[2015-03-12 09:03] jbrooksuk commented on #468
When you're updating a component you need to use this endpoint:

[code]

[2015-03-12 09:08] tomer-h commented on #468
Hi, thank you for the quick response, I got it working!

For anyone else who might get stuck and reach this thread the following command is what worked:

curl -X PUT -H "Content-Type: application/json" -H "X-Cachet-Token: SECRET" http://myurl.com/api/components/1 -d '{"status":"2","id":"1"}'

[2015-03-12 09:08] jbrooksuk commented on #468
Thanks @tomer-h I'm working on the documentation now too; http://docs.cachethq.io

[2015-03-12 09:31] #507 closed

[2015-03-12 09:43] jbrooksuk commented on #468
@tomer-h just noticed that you don't need to send through the `id` key/value pair anymore.

[2015-03-12 11:32] anarcat commented on #486
a few ideas here:

* [github](https://status.github.com/messages) - one per day min (custom)
* [disqus](https://status.disqus.com/history) - one entry per month min ([statuspages.io](http://www.statuspage.io/))
* [amazon](http://status.aws.amazon.com/) - grid, one cell per day min (custom?)
* [gandi](https://status.gandi.net/) - graph, one node per day min (custom?)
* [wikipedia](http://status.wik

[2015-03-12 12:00] jbrooksuk commented on #486
Thanks for the ideas @anarcat. Disqus looks good to me, but we'd have to enable grouping incidents by day, week and month (year would be too excessive).

[2015-03-12 12:34] sammcj opened #509 "SSL broken on https://docs.cachethq.io/"
The website looks *great* but SSL is borked on https://docs.cachethq.io

![ssl](https://cloud.githubusercontent.com/assets/862951/6617764/3930476c-c910-11e4-8529-25d1ec0b194b.png)

[2015-03-12 13:30] nicolabricot commented on #393
:+1:

[2015-03-12 13:33] jbrooksuk commented on #509
Ah yes, I've turned it off because CloudFlare is caching it too heavily and none of my updates were being shown.

[2015-03-12 13:34] sammcj commented on #509
Ah just turn SSL on but set cloud flare to dev mode.
Also you can use their api to flush cache upon deploys.

--
Sam McLeod
@s_mcleod[https://twitter.com/s_mcleod]

On Fri, 13 Mar 2015, at 12:33 AM, James Brooks wrote:

[2015-03-12 13:41] jbrooksuk commented on #509
Thanks, I've done that now. https://docs.cachethq.io/

We use Readme.io so there are no deploys to act upon.

[2015-03-12 13:52] nicolabricot opened #510 "Add banner link to the homepage"
Hello
It would be great if the app banner (when displayed) was a link to the homepage, to easily return home when browsing archive.

[2015-03-12 16:37] jbrooksuk commented on #510
Sounds like a good idea to me. Do you want to make a PR? We have the functionality to do this already, it'll just need the banner image wrapping in the link (if it's set).

[2015-03-12 16:38] #509 closed

[2015-03-12 16:47] maanas commented on #486
https://jsfiddle.net/33x2m9jq/1/

This is a close approximation indicating the days when all is ok. We can show all the days where there is no incidence.

[2015-03-12 16:49] jbrooksuk commented on #486
But what if there are multiple incidents, some of which aren't resolved on a component? Now you can't have a block as one colour, it needs to be two or more.

[2015-03-12 16:52] maanas commented on #486
For the day we have incidence the current schema of vertical bar looks great. The day we do not have incidence we can have a horizontal like with dates in the circle with green.

[2015-03-12 16:54] jbrooksuk commented on #486
Are you suggesting that we mix both the timeline view and your idea?

[2015-03-12 17:20] maanas commented on #486
Not a mix but two distinct views.
A) For incidence the current one, with vertical time line which appears like escalation
B) A horizontal one for all the dates where there is no incidence.
That way we will have all dates appearing in horizontal line without any incidence in green. And when we have incidence it is shown as vertical line till it resolves. And the next day we again go back to horizon

[2015-03-12 18:32] jbrooksuk commented on #486
Hmm I think that's a little confusing. You'd have to cross reference the views to see what day didn't have an incident.

To be honest, I'm all for having different layouts in V2 anyway. So you'll be able to pick how it's laid out.

Sent from my iPhone

[2015-03-12 22:00] szechyjs opened #511 "Add new metric point"
How do you add a new metric point through the API? The endpoint does not seem to be documented. And from looking at the source code the `POST /api/metrics/{id}/points` endpoint doesn't seem to be working as all I get is `{"status_code":400,"message":"Bad Request"}` responses.

[2015-03-12 22:27] sammcj commented on #511
@georgehansper might know or want to know this too

[2015-03-12 22:30] jbrooksuk commented on #511
What data are you sending through? Are you sending the `X-Cachet-Token` header too?

[2015-03-12 22:34] jbrooksuk commented on #511
I've been adding points via the API just yesterday, it's weird that it's broken.

[2015-03-12 23:24] szechyjs commented on #511
I figured it out, it was a combination of 2 things. I was missing the content-type header on my request, and the values have to be an integer. I was trying to push a decimal value.

Can we add support for decimal values?

[2015-03-12 23:35] jbrooksuk commented on #511
Hmm, yeah, it should definitely allow for decimals. Would you like to make a PR?

[2015-03-12 23:56] #510 closed

[2015-03-12 23:56] jbrooksuk commented on #505
Any luck?

[2015-03-13 00:18] szechyjs commented on #473
Not sure if it is working, I've added about 100 points to a metric and the status page chart shows nothing but 0s.

[2015-03-13 00:19] georgehansper commented on #468
When sending data to a webserver, normally there are 2 approaches:

* PUT - all the data is in the URL
* POST - all the data is in the body

(this is actually a requirement for the application to be 'restful'. See http://en.wikipedia.org/wiki/Representational_state_transfer)

If the Cachet API is accepting data in the body of the HTTP request, POST is a more appropriate method than PUT.

PUT shoul

[2015-03-13 07:21] #511 closed

[2015-03-13 07:22] jbrooksuk commented on #468
In our API we're using `POST` to create and `PUT` to update. http://cachet.readme.io/v1.0/docs/post-parameters

[2015-03-13 07:22] jbrooksuk commented on #468
The usual docs link is far too cached again...

[2015-03-13 07:22] jbrooksuk commented on #473
Are you able to see the tables?

[2015-03-13 09:25] jbrooksuk commented on #511
@szechyjs can you check out @joecohens change please? You'll have to re-run the migrations though I'm afraid (the joys of using beta software).

[2015-03-13 11:50] szechyjs commented on #473
Sorry, it appears it is working and I just misunderstood how the metrics work. It seems that the metric values are summed each hour and then plotted. I was anticipating each point to be plotted. The metrics I was planning on adding do not make sense to be aggregated like this, i.e. page load time, number of database connections, etc.

[2015-03-13 12:03] jbrooksuk commented on #473
:+1:

Although metrics are finished in V1, we're going to be rewriting them from scratch in V2. This will mean we can:

- Specify both X and Y minimum values.
- Decide on aggregation of data, sum, count, average, mode, median etc.

It'll be a huge rewrite in V2.

[2015-03-13 14:07] jbrooksuk opened #514 "Docker & Kitematic"
@sammcj I get this error when running Cachet in Kitematic:

[code]

[2015-03-13 14:08] jbrooksuk commented on #514
Actually, it seems to be a warning?

[2015-03-13 15:50] ApfelUser commented on #505
@jbrooksuk :+1: Oh, I am really sorry. It didn't send my reply somehow. Yeah, it works with the `file` driver right now, thanks! Should I close this now, or is this still some bug in your eyes?

[2015-03-13 15:50] jbrooksuk commented on #505
I think it's an environment issue personally.

[2015-03-13 15:50] #505 closed

[2015-03-13 16:10] jbrooksuk commented on #514
Nevermind, it's all running ok.

[2015-03-13 16:10] #514 closed

[2015-03-13 16:11] jbrooksuk commented on #447
Do you have any ideas on how we can fix this without losing the font for the other languages?

[2015-03-14 02:40] wfjsw commented on #447
I am now wondering what cause that problem. Google Fonts or CSS?
My solution is using php to dynamic output an override-css ('!important' may help) file when using these languages.

And another problem is that google is blocked in Mainland China. Any query to their services will slow down whole page. (We use mirrors or complete remove them)

[2015-03-15 18:50] matejkramny opened #515 "Metric points not displayed on graph"
I'm writing a [third party plugin](https://github.com/CastawayLabs/cachet-monitor) that hits a url and `POST`s the lag to cachet as a metric point (every second).

I found that the points get created in the mysql database, but are never displayed on the actual graph.

I started logging the metric points to cachet's demo, you can get the metrics via `https://demo.cachethq.io/api/metrics/1/points` (

[2015-03-16 03:41] sammcj commented on #468
@jbrooksuk I think Cloudflare is denying PUT requests on the 'try it out' page: http://cachet.readme.io/v1.0/docs/update-a-component

[code]

[2015-03-16 08:05] jbrooksuk commented on #468
Urgh, CloudFlare.

Could you try and add a `_method=PUT` parameter please?

[2015-03-16 08:18] sammcj commented on #468
I don't think you should be running Cloudflare on the API though - I can't see any value in doing so anyway - Cloudflare is meant to cache static content and help protect against malicious traffic to websites. It's not really designed to MITM an API. Why not just have the API access directly but the websites cached behind Cloudflare?

[2015-03-16 08:19] jbrooksuk commented on #468
I could turn off CloudFlare for some routes I guess.

[2015-03-16 08:20] sammcj commented on #468
It might be wise to have the API on a domain prefix, I.e. api.demo.cachethq.com and not have that on Cloudflare.

[2015-03-16 08:21] jbrooksuk commented on #468
Perhaps in the future we'll allow the API to run from a subdomain.

Could you try with a `PUT` request now please?

[2015-03-16 08:24] sammcj commented on #468
No difference:

[code]
I don't know this system at all but is `domain=.cachethq.io` correct? I thought it was demo.cachethq.io ?

[2015-03-16 08:25] jbrooksuk commented on #468
It's a CNAME under `cachethq.io`.

[2015-03-16 08:25] jbrooksuk commented on #468
Might be taking a little bit to update.

[2015-03-16 08:25] sammcj commented on #468
OK - if you need a hand with cloudflare I'm happy to login and take a look

[2015-03-16 08:26] jbrooksuk commented on #468
That may be a good idea @sammcj I'll email you the deets.

[2015-03-16 08:26] sammcj commented on #468
ok cool, can't promise anything but I won't break anything else.

[2015-03-16 08:36] jbrooksuk commented on #515
Are you testing this solely on the demo instance or do you have your own version?

[2015-03-16 09:01] matejkramny commented on #515
I installed a local version and that doesn't work either.I tailored it for the demo so it is easier to test.Matej KramnyOn Mon, Mar 16, 2015 at 9:36 am,  James Brooks <notifications@github.com> wrote:            Are you testing this solely on the demo instance or do you have your own version?

—Reply to this email directly or view it on GitHub.

[2015-03-16 11:50] jbrooksuk commented on #515
You need to [setup a metric](https://demo.cachethq.io/dashboard/metrics) to actually send data to. Remember that the demo resets every half hour.

[2015-03-16 11:56] matejkramny commented on #515
James, i did create a metric, and the api call returned 200 with json representation of the metric point.

The points were also present in the database.

Please reopen?

[2015-03-16 12:03] matejkramny commented on #515
I am not near my laptop, so writing from my phone.

Steps to reproduce:

1. Log into cachet demo
2. Create a metric, note the id
3. Go to settings and enable graphs to be shown on the homepage
4. Start Postman app (available in chrome app store)
5. Set url to POST to https://demo.cachethq.io/api/metrics/1/points
6. Add the required header for authentication
7. Click the Raw tab, enter {"value":100

[2015-03-16 19:34] joecohens commented on #515
@matejkramny Is the raw tab sending the request data has JSON? If it is you should set the `Content-Type: application/json` header if not you need to send it like form values ex. `value=10`.

[2015-03-16 19:36] matejkramny commented on #515
I am on my laptop so i'll try & verify.

[2015-03-16 19:45] matejkramny commented on #515
It will if you select JSON from the dropdown (its by the `...| raw | binary` tabs).

What i get back from `/api/metrics/2/points`:

[code]

The status page:

![screen shot 2015-03-16 at 20 41 21](https://cloud.githubusercontent.com/assets/797608/6674867/e825dfde-cc1c-11e4-8e7b-a7814dbcef87.png)

[2015-03-16 19:46] matejkramny commented on #515
That `window.onload` setter will also cause the first graph to be blank (as seen on the screenshot)

[2015-03-16 22:44] joecohens commented on #515
Thanks for the info, we will investigate it.

[2015-03-17 08:19] jbrooksuk commented on #515
So the data is being logged now?

[2015-03-17 09:21] matejkramny commented on #515
The data was always logged in the database (correctly). The issue is that it isn't displayed on the graphs.

[2015-03-17 11:47] #515 closed

[2015-03-17 11:48] jbrooksuk commented on #515
All fixed in `master`.

[2015-03-17 14:29] craftbyte opened #517 "Metrics adding up instead of averaging"
I am trying to set up so that metrics are pushed every second to the server (ping). The server is just adding them up instead of averaging them out.

![Image of graph area](https://i.imgur.com/afoYtyT.png)
![Image of points](https://i.imgur.com/lbLquAk.png)

[2015-03-17 14:32] craftbyte opened #518 "Make metrics time duration user choosable"
Feature request:
Make the time frame a setting

[2015-03-17 14:42] jbrooksuk commented on #518
I was hoping to get this done for V1, but I'm not sure I have enough time. I am however accepting pull requests if you'd like to add this :smile:

[2015-03-17 14:43] jbrooksuk commented on #517
This is a tough one. Some metrics would need to be a sum, whilst others average etc.

[2015-03-17 14:44] craftbyte commented on #517
Perhaps make that an option at the settings?

[2015-03-17 14:45] jbrooksuk opened #519 "Supply timestamps for metric points"
Metrics need to be able to be sent a timestamp so that data can be backfilled.

[2015-03-17 14:45] jbrooksuk commented on #517
If you'd like to submit a PR for this I'd happily accept it :)

[2015-03-17 18:07] matejkramny opened #521 "Incident form incorrect"
The edit incident form displays the component modifier radios when no component is selected.

![screen shot 2015-03-17 at 19 03 09](https://cloud.githubusercontent.com/assets/797608/6694191/c1e147e8-ccd8-11e4-8350-c443ee4a5b49.png)

*Steps to reproduce:*

1. Create an incident, do not set the Component
2. Edit the created incident
3. Form shows a set of radios below the Component input box when no

[2015-03-17 19:22] jbrooksuk commented on #521
Strange, it's working locally. What browser are you using?

![efd0xb7siv](https://cloud.githubusercontent.com/assets/246103/6695680/f4628892-ccda-11e4-9776-da51252b422e.gif)

[2015-03-17 19:23] jbrooksuk commented on #521
Oh sorry, it's on edit.

[2015-03-17 19:23] jbrooksuk commented on #521
Actually, even when I go to edit the component, it's not set.

[2015-03-17 19:24] jbrooksuk commented on #521
Can you try out the [demo](https://demo.cachethq.io)?

[2015-03-17 19:27] matejkramny commented on #521
Hmm works fine from mobile safari. Used chrome mac when testingMatej KramnyOn Tue, Mar 17, 2015 at 8:24 pm,  James Brooks <notifications@github.com> wrote:            Can you try out the demo?

—Reply to this email directly or view it on GitHub.

[2015-03-17 19:27] jbrooksuk commented on #521
Can you try again on Chrome for Mac, as that's what I use.

[2015-03-17 20:54] #517 closed

[2015-03-17 23:18] matejkramny commented on #521
Strange, doesn't happen on demo but happens on my local copy, even after updating the docker image.

[2015-03-17 23:18] #521 closed

[2015-03-17 23:38] matejkramny commented on #515
Seems to be back :/.

![screen shot 2015-03-18 at 00 35 42](https://cloud.githubusercontent.com/assets/797608/6699915/ef1ea830-cd06-11e4-926a-2540ed673fc5.png)

[2015-03-18 08:24] jbrooksuk commented on #521
@matejkramny what version of Chrome are you using? Does it happen in Safari?

[2015-03-18 22:32] craftbyte opened #523 "Latest version breaks showing metrics on status page"
SInce I updated my docker image everytime I add a metric and enable them in settings the status page says "Whoops, looks like something went wrong.".

Error logs are empty at /var/log/nginx/error.log

[2015-03-18 23:00] anarcat commented on #393
what use are component groups without this anyways?

[2015-03-19 00:01] anarcat opened #524 "reordering components fails"
i can reorder components in the list in `/dashboard/components` but the change never gets saved.

[2015-03-19 02:32] anarcat commented on #36
@joecohens awesome news! can't wait to deploy this here :)

[2015-03-19 08:11] jbrooksuk commented on #524
Interesting, what browser, OS and host are you using? Re-ordering of components works on the demo.

[2015-03-19 08:13] jbrooksuk commented on #523
There was a migration change, but it should've been accounted for in backwards compatibility. What db driver are you using?

[2015-03-19 08:14] matejkramny commented on #523
Its using the docker quickstart stepMatej KramnyOn Thu, Mar 19, 2015 at 9:13 am,  James Brooks <notifications@github.com> wrote:            There was a migration change, but it should've been accounted for in backwards compatibility. What db driver are you using?

—Reply to this email directly or view it on GitHub.

[2015-03-19 08:15] jbrooksuk commented on #523
Oh of course, it'll be Postgres.

[2015-03-19 08:17] jbrooksuk commented on #523
These will be the offending lines: https://github.com/cachethq/Cachet/blob/master/src/Models/Metric.php#L83-106

Does the PostgreSQL query look bad? CC @sammcj

[2015-03-19 09:15] sammcj commented on #523
Hey @jbrooksuk - Do you have a log of the query that's actually being run?

[2015-03-19 14:34] anarcat commented on #524
chromium on debian jessie, self-hosted.

[2015-03-19 14:34] anarcat commented on #524
hmmm... and now it works.

odd.

[2015-03-19 14:37] anarcat commented on #524
actually, no, it doesn't work. i can reorder them and it says "components updated" but the changes do not reflect in the user-facing site. when i come back to the dashboard interface, the changes are gone.

[2015-03-19 15:53] jbrooksuk commented on #524
Does it work for you in the demo app?

[2015-03-19 17:28] anarcat opened #525 "demo fires an exception when logging in without cookies"
this is pretty spectacular:

![image](https://cloud.githubusercontent.com/assets/796623/6736530/c5c2759e-ce3b-11e4-9b51-5e85b53081ff.png)

i suspect it is because i am blocking cookies (using http switchboard).

[2015-03-19 17:29] anarcat commented on #524
yes, it does (except for #525 of course ;).

[2015-03-19 17:30] anarcat opened #526 "show link to dashboard even when not logged in"
it took me a while to find the link to the dashboard in the demo. in fact, i had to be told how to login on twitter.

considering this provides zero security (assuming that was the idea) because an attacker could easily find information and makes the product much harder to use for regular users, it seems to me the link should just be always present.

[2015-03-19 19:58] matejkramny commented on #523
@jbrooksuk the docker quickstart uses mysql, so the offending line is 85 and/or 87.

demo.cachethq.io works because heroku uses postgres

[2015-03-19 22:58] matejkramny opened #527 "Server Monitoring app"
I've decided to write a [server app](https://github.com/CastawayLabs/cachet-monitor) (for fun) that integrates Cachet's API.

It is now at a stage where 'it works' and creates an incident if a monitor goes offline. It then resolves the incident should the monitor go back up.. There are more features such as ping logging however that seems broken at the moment.

- Would you think its a good idea to

[2015-03-19 23:53] jbrooksuk commented on #526
This is a fair point.

[2015-03-19 23:54] #526 closed

[2015-03-20 08:17] jbrooksuk commented on #527
This is awesome! Good work @matejkramny.

- I could absolutely add a link to the readme. If you'd like to make a PR I'd be happy to add it.
- What would you like to know?
- We don't have many plugins at the moment, but I'd love to see what people do with the API.

[2015-03-20 11:41] jbrooksuk commented on #523
I don't think it's that because everything is working locally - I use MySQL to develop Cachet. It could be a broken docker image?

[2015-03-20 12:03] matejkramny commented on #527
Thanks @jbrooksuk

- What is the long term goal of cachet?

[2015-03-20 12:06] #393 closed

[2015-03-20 12:13] jbrooksuk commented on #393
This is now a thing ;)

[2015-03-20 16:27] ApfelUser commented on #525
Same error as in #505

[2015-03-20 18:58] jbrooksuk commented on #525
Yay, now we have a cause of the issue! @GrahamCampbell any idea about how to solve this?

[2015-03-20 21:41] ApfelUser commented on #525
@jbrooksuk I haven't had cookies disabled though... :disappointed: So actually they maybe are still different issues.

[2015-03-20 22:04] jbrooksuk commented on #527
@matejkramny this is a good question. We're going to continue working towards making **the best** status page system out there. Once V1 has shipped we'll be in a better position to lay out our goals and what to expect from V2.

Is that ok?

[2015-03-21 06:16] bimlendu commented on #523
Probably having the same problem with my install as well. Latest install, the error I am getting is

[code]
on this line https://github.com/cachethq/Cachet/blob/master/src/Models/Metric.php#L97

I am using sqlite3 db backend.

[2015-03-21 07:28] jbrooksuk commented on #523
Ok, try now.

[2015-03-21 07:50] bimlendu commented on #523
Getting a separate error now:

[code]

[2015-03-21 07:52] jeanfrancis commented on #36
Would like to suggest adding https://telegram.org to NotifyMe

[2015-03-21 08:10] bimlendu commented on #523
The query

[code]

uses a few mysql specific functions, like now() or to_char or now() - interval '0 hour', 'H' , which are not there is sqlite and probably these are causing issues.

[2015-03-21 08:22] jbrooksuk commented on #523
There is a condition based on your database driver for working that out.

[2015-03-21 10:57] maltorfer opened #528 "Error in RSS/Atom feed when setting app_locale to de"
I'm getting an Undefined offset error in src/Models/Incident.php line 118 when setting the default language to 'de'. Perhaps some translation strings missing?

[2015-03-21 11:13] jbrooksuk commented on #528
Translations should fall back to `en` if they're missing. I'll take a look.

[2015-03-21 11:19] #528 closed

[2015-03-21 11:19] jbrooksuk commented on #528
Fixed :)

[2015-03-21 13:49] maltorfer commented on #528
you're fast ..

[2015-03-21 14:28] StartledPhoenix opened #529 "Failing to deploy on PHP 5.6"
Currently getting following error:
[code]
Tested with react/promise 2.2/2.1 & php 5.6.4

[2015-03-21 15:39] ApfelUser commented on #492
@jbrooksuk Is it now possible to display a chart connected to UptimeRobot? And if yes, how do I do that? There seems to be no explanation in the docs.

[2015-03-21 19:26] jbrooksuk commented on #529
What's your setup? I'm running PHP 5.6.0 and it's working fine. Since it's react that seems to be causing the error, I'd suggest it's your environment.

[2015-03-21 19:57] matejkramny opened #530 "Incident Timeline"
I'd like to start a discussion on how incidents are displayed..

At the moment, if an incident is created, and then 5 hours later resolved, it shows as '5 hours ago', where it would be useful to see when it was resolved..

Example:

[code]

[2015-03-21 20:28] jbrooksuk commented on #530
The problem we currently have is that incidents aren't linked together. This will change in V2 though.

[2015-03-21 20:29] jbrooksuk commented on #530
Essentially we have no way of knowing when an incident was resolved. Plus we don't have any constraints on only adding an incident which affects a component (which would make much more sense, but be restrictive).

[2015-03-22 02:42] anarcat commented on #525
also: i can confirm unblocking cookies in HTTPSB fixed the problem, but that may be a coincidence.

[2015-03-22 07:55] oovoo commented on #477
Guys i am so sorry we just can't get to this

[2015-03-22 11:03] jbrooksuk commented on #477
@oovoo are you still having the same issue?

[2015-03-22 11:06] jbrooksuk commented on #525
@ApfelUser ok, can you share your environment, with the OS, Apache/nginx and any Apache modules you have enabled please?

@anarcat I think Laravel relies on the CSRF token stuff via cookies, so I don't think it's easy to get around. I'll have to look into it.

[2015-03-22 11:06] jbrooksuk commented on #492
@ApfelUser it's not something we have functionality built in for - as in there isn't a "Connect to UptimeRobot" button. If the docs are being funny, can you try using http://cachet.readme.io please. It'll have more information.

[2015-03-22 12:43] matejkramny commented on #527
Thats good, thanks.

[2015-03-22 12:54] ApfelUser commented on #525
@jbrooksuk

**OS:**
*  Debian 7 x64

**PHP:**
*  Version: **5.4.38-1**

**php -i:**
[code]

**NGINX:**

*  Version: **1.6.2**

**nginx -V:**
[code]

[2015-03-22 14:43] #527 closed

[2015-03-22 18:24] hastoukopsaro opened #532 "Failed to install"
Getting error

[code]

I just pulled from master. I don't know what else you need to pinpoint the issue.

[2015-03-22 18:40] jbrooksuk commented on #532
That's an interesting one. Where are you deploying to?

[2015-03-22 18:52] jrthib opened #533 "Failed to install on Ubuntu 14.04, PHP 5.5.9"
I'm having a lot of issues getting this installed. My server has php-apcu and all of the requirements. Database driver is MySQL.

Steps I have performed are as follows:
1) `composer install --no-dev -o` (success)
2) `php artisan migrate` (success)
3) created `.env.production.php` and `.env.php` with identical information.
4) `bower install && npm install && gulp` (success)
5) Navigate to `http://<

[2015-03-22 18:58] GrahamCampbell commented on #533
Make sure your file permissions are correct, and check your php level logs.

[2015-03-22 19:04] jrthib commented on #533
My file permissions seem to be ok. Files are owned by the correct user. Files are set to 644, directories set to 755. Could you elaborate more on the php level logs?

[2015-03-22 19:10] hastoukopsaro commented on #532
My bad.. I had an old version of composer, once updated everything worked out!

Thanks a lot m8.

[2015-03-22 19:10] #532 closed

[2015-03-22 19:23] ApfelUser commented on #533
Can you open:

[code]

and switch `'debug' => getenv('APP_DEBUG')` from **false** to **true**?

It should look like:

[code]

you'll get better error messages then

[2015-03-22 19:30] jbrooksuk commented on #532
Awesome, glad you've got it sorted.

[2015-03-22 19:32] jbrooksuk commented on #533
You shouldn't need to build any assets, so the whole `bower install && npm install && gulp` line was unnecessary.

Can you run `chmod 755 app/storage` please.

[2015-03-22 19:32] jrthib commented on #533
Wow, what an incredible debug screen. It said it couldn't find the PDO driver. Turns out I needed to set the environment variables in my php5-fpm pool.d config. Does the `.env.php` file ever get used? Whenever I would change values there, it doesn't seem to affect anything. Maybe I'm doing it wrong?

[2015-03-22 19:35] jbrooksuk commented on #533
It's [whoops!](http://filp.github.io/whoops/) which is what Laravel 4 uses by default - it's pretty epic.

Yes, the `.env.php` file gets used if you're in production mode. You may want to create a `.env.local.php` file instead?

[2015-03-22 19:37] jrthib commented on #533
I agree, that is pretty great! Maybe I'm not setting production mode correctly. From my understanding you just set a ENV=production in the PHP environment variables?

[2015-03-22 19:43] ApfelUser commented on #533
@jrthib You also should **turn off** the debug screen if it works now, as it displays data like the MySQL password etc.

[2015-03-22 19:50] jrthib commented on #533
@ApfelUser I did, thanks for reminding me.

[2015-03-22 20:11] jrthib commented on #523
I'm also receiving this error when adding metrics. Any ideas how to fix it?

[2015-03-22 20:16] jrthib commented on #523
Seems to be on line 110 of Metric.php. I'm not sure why `$value` is undefined, being outside of the scope that it is defined in, however this seems to be a temporary fix for me until an update or something is pushed.

Replace this:

    if ($value === 0 && $this->default_value != $value) {
        return $this->default_value;
    }

With this:

    if (!isset($value) || ($value === 0 && $this->def

[2015-03-22 20:25] #533 closed

[2015-03-22 20:58] jbrooksuk commented on #523
@jrthib do you have a `calc_type` field in your `metrics` tab;e?

[2015-03-22 21:41] oovoo commented on #477
i didn't have a chance to check it i hope tommorow

[2015-03-23 09:52] maltorfer commented on #523
Same issue here using mysql. I do have a calc_type field in my metrics table.

[2015-03-23 09:55] jbrooksuk commented on #523
Can you tell me the values that are in that field now for each row?

[2015-03-23 09:59] maltorfer commented on #523
only one row and value is 1.

[2015-03-23 10:00] jbrooksuk commented on #523
So you want the average value?

[2015-03-23 10:01] maltorfer commented on #523
yes

[2015-03-23 10:03] maltorfer commented on #523
when you change "average" in the gui and save it, it appears either not being saved or displayed wrong. when you access the metric again, it shows "sum".

[2015-03-23 10:05] jrthib commented on #523
Can confirm. I have the calc_type field as well and I'm using mysql. 

On Mon, Mar 23, 2015 at 3:03 AM -0700, "maltorfer" <notifications@github.com> wrote:

when you change "average" in the gui and save it, it appears either not being saved or displayed wrong. when you access the metric again, it shows "sum".

—
Reply to this email directly or view it on GitHub.

[2015-03-23 17:22] anarcat opened #534 ""Error in exception handler" on HEAD"
i tried to do an upgrade here and after doing a `git pull` (which updated from [39f2bc1] to [1b60d00]) and a `php artisan migrate` (which did nothing), the frontpage of the site is totally broken. I only see this in plaintext (without any HTML tags):

[code]

[2015-03-23 17:23] GrahamCampbell commented on #534
https://github.com/cachethq/Cachet/compare/39f2bc1021140e1607cece7295a4b1b2542c47d8...1b60d00bba564444de89fb3ba79d85113f997f2a

[2015-03-23 17:23] jbrooksuk commented on #534
Can you set `APP_DEBUG` to `1` in your environment variables please?

[2015-03-23 17:23] anarcat commented on #534
hmm... reverting the changes in git didn't fix the problem, so maybe there's something else going on here, sorry for the noise.

[2015-03-23 17:23] #534 closed

[2015-03-23 17:25] anarcat commented on #534
the problem was that i had the wrong permissions on the source code (to do the deployment, i chown'd everything to my user). doing `chown -R www-data /var/www/Cachet` fixed the problem, but it seems sub-optimal - what are the proper permissions anyways?

[2015-03-23 17:28] jbrooksuk commented on #534
You should only need to chmod the `app/storage` directory to `755`.

[2015-03-23 17:29] anarcat commented on #534
`755` and owned by `www-data`, i assume?

[2015-03-23 17:30] anarcat opened #535 "component groups not really removed"
if I create a component group "foo"  then delete it, when i try to recreate it i get:

[code]

that translates to `this field name is already used`.

[2015-03-23 17:31] jbrooksuk commented on #535
We soft delete components, but have no way of reviving them.

[2015-03-23 17:32] jbrooksuk commented on #534
Yeah.

[2015-03-23 17:35] anarcat commented on #534
thanks.

[2015-03-23 17:45] anarcat commented on #526
thanks!

[2015-03-23 18:09] anarcat commented on #36
Where's my flying car? ;) Anything we can help with? I'd be glad to test something, esp. twitter...

[2015-03-23 20:31] jbrooksuk commented on #36
There have been set backs with NotifyMe, but that's because awesome things are happening with it.

[2015-03-24 08:52] #535 closed

[2015-03-24 11:07] jbrooksuk commented on #524
Is this still a problem for you? Do you get any errors in the console when you've re-ordered your components? Are you using MySQL?

[2015-03-24 14:00] anarcat commented on #524
yes. the console shows a 500 error, and the network inspector in chrome tells me that the resulting page is `Whoops, looks like something went wrong.`

[code]

i am using mysql.

[2015-03-24 14:03] anarcat commented on #535
confirmed as working, thanks.

[2015-03-24 14:05] jbrooksuk commented on #524
It's yourself whom has problems with the CSRF tokens, right?

[2015-03-24 14:07] anarcat commented on #524
you mean #525? that was me yes. but i didn't have cookies enabled then, now cookies *are* enabled here.

[2015-03-24 19:43] anarcat opened #540 "RSS feed is backwards"
The RSS feed has the right date, but shows the last items first, which is somewhat unexpected, to say the least. :)

[2015-03-24 20:30] anarcat opened #541 "hide the template text in templates listing"
the templates listing would be more usable (esp. if there are more than one templates :) if the template body wouldn't be shown.

[2015-03-24 20:36] anarcat opened #542 "components menu in incident creation should mention component group"
when i create an incident, i see a flat list of components, not sorted by component group, which makes it ambiguous which component I report against if multiple components have the same name under different groups (think "web" in different clusters).

this would be a [`<optgroup>`](http://www.w3.org/wiki/HTML/Elements/optgroup#Example_A) tag.

[2015-03-24 22:01] jbrooksuk commented on #540
The current implementation is correct. Check out the [GitHub status feed](https://status.github.com/messages.rss).

[2015-03-24 22:01] #540 closed

[2015-03-24 22:02] jbrooksuk commented on #541
You mean in the dashboard?

[2015-03-24 23:08] anarcat commented on #541
yes.

[2015-03-25 04:33] StartledPhoenix commented on #529
After a few more looks, problem solved,

The installation was done on Redhat Openshift with a custom php. On a closer look at composer.json, composer tries to run the system-installed php which does not work with Cachet.

Manually modifying the commands to reflect the proper php binary fixes things. Is there some way I can reference the proper php binary without having to break upgrades?

Thanks f

[2015-03-25 05:07] #529 closed

[2015-03-25 12:06] #542 closed

[2015-03-25 12:07] #541 closed

[2015-03-25 16:37] anarcat commented on #542
aaaaaaweesome?

please do tell me if i file too many annoying bugs, but I gotta say i am thoroughly impressed by the response time here.

thank you so much!

[2015-03-25 16:46] jbrooksuk commented on #542
Hey, if I didn't like a suggestion, I'd give you the reason as to why I can't/won't implement something, then close it. And even if I don't do something, I truly appreciate the feedback and the time spent adding the issue in the first place.

This is a great suggestion and something I've overlooked, so thank you :)

[2015-03-25 16:52] anarcat commented on #542
great, glad we're on the same page. i'll keep those issues and silly translation patches coming then. :)

[2015-03-25 16:53] jbrooksuk commented on #542
Translation patches are definitely not silly :)

[2015-03-25 17:00] anarcat opened #543 "less agressive cookie timeouts"
it seems i get logged out after around 5 minutes in Cachet. while I can appreciate the effort to secure the software, I actually think that, in specific case of *this* software, being permanently logged in would actually be *more* useful than aggressively logged out.

in fact, what I was thinking here was that i would preventively login my phone, laptop, workstation and so on in advance, so that i

[2015-03-25 17:02] GrahamCampbell commented on #543
This is configurable. :)

[2015-03-25 17:02] GrahamCampbell commented on #543
https://github.com/cachethq/Cachet/blob/master/app/config/session.php#L32

[2015-03-25 17:02] GrahamCampbell commented on #543
The default lifetime is 600 seconds, which is 30 mins. That seems like a good default to me.

[2015-03-25 17:06] jbrooksuk commented on #543
@GrahamCampbell 600 seconds = 10 minutes ;)

[2015-03-25 17:06] jbrooksuk commented on #543
I'm in agreement that we should increase this though.

[2015-03-25 17:07] anarcat commented on #543
oh i see. then maybe there's some documentation improvements to be done here, as i didn't find this on the documentation site...

how do i configure this anyways? in env.local.php?

[2015-03-25 17:07] GrahamCampbell commented on #543
Ha ha ha. I can math really, lol.

[2015-03-25 17:07] jbrooksuk commented on #543
You can't configure the login expiration from Cachet itself, it's a Laravel thing.

[2015-03-25 17:08] jbrooksuk commented on #543
I hope so, Mr Maths ;)

[2015-03-25 17:10] anarcat commented on #543
ah, so those are hardcoded defaults? would there need to be a patch to get this from the environment if i would want to make that customizable?

how about [`secure` cookies](https://github.com/cachethq/Cachet/blob/master/app/config/session.php#L138)? are those hardcoded as well?

[2015-03-25 17:11] jbrooksuk commented on #543
I'd rather we just increase this value ourselves. At least then everyone is on the same page.

Secure cookies aren't handled either actually.

[2015-03-25 17:11] anarcat commented on #543
or to put this another way: it looks like there's a shitton and a half of awesome settings I could tweak in [`app/config`](https://github.com/cachethq/Cachet/blob/master/app/config) - do i need to learn Laravel first? :)

[2015-03-25 17:11] jbrooksuk commented on #543
Yeah, but I'd look at L5, we're migrating to it pretty soon.

[2015-03-25 17:13] anarcat commented on #543
ok.

as for a default, if we are to [bikeshed](http://bikeshed.com/) for the default timeout, i would argue for 24h+ (`86400s`), personnally i would set it to "one week" (`604800s`). (Yes, mr. math replacement is in tha house! ;)

[2015-03-25 17:14] jbrooksuk commented on #543
@GrahamCampbell what do you think about 24 hours? I think that's a good value, because ideally people will be logging back in to update the status of something anyway.

[2015-03-25 17:17] GrahamCampbell commented on #543
Let me check what the laravel default is. I think I lowered it in cachet.

[2015-03-25 17:17] GrahamCampbell commented on #543
https://github.com/laravel/laravel/blob/v4.2.11/app/config/session.php#L32

[2015-03-25 17:18] GrahamCampbell commented on #543
Ohhh, the time out is in mins, lol. Then we have a 600 min timeout. No where near to 5 mins!

[2015-03-25 17:18] jbrooksuk commented on #543
:laughing:

[2015-03-25 17:18] anarcat commented on #543
ok, then something else is kicking me out. are we sure it's minutes there? the comment seems to say so...

[2015-03-25 18:46] anarcat commented on #543
i can confirm i was logged out in less than 10 hours. i was logged in when i posted the last comment here, and now i am logged out. even though on the frontpage of the site, i had a "disconnect" link, when i clicked on the dashboard link, i was presented with a login screen.

[2015-03-25 19:18] anarcat opened #544 "metrics failure"
i get `Whoops, looks like something went wrong.` on the frontpage when trying to configure a new metric in the dashboard.

I used the following settings:

* Name: test
* Suffix: test
* Description: test
* Calculation of metrics: sum
* Default value: 100
* Display chart on status page? checked

Saving the metric and visiting the frontpage gives me the error. Removing the metric fixes it.

I can't r

[2015-03-25 20:40] anarcat opened #546 "RSS feeds should link to the announcement"
RSS feeds usually have items pointing to specific links. i think the RSS feeds produced by cachet should point to the announcement directly, or at least to the website.

[2015-03-25 20:49] anarcat opened #547 "rss feed uses non-standard tags"
Our RSS feeds looks something like this:

[code]

This renders, in Chromium, as this:

[code]

ie. the announcement text body is not included in the feed. I don't believe the `<message>` tag is part of the [RSS standard](http://www.rssboard.org/rss-specification). I would recommend using the `<description>` tag instead.

The tags `<component>` or `<status>` are not standard either for that matter.

[2015-03-25 20:52] anarcat opened #548 "per component group RSS feeds"
It would be nice to have multiple RSS feeds in Cachet. In our use case, we have differents services with varying user bases, and we need to tailor announcements for them independently. We regroup the different components of those services in component groups which act as "services".

Right now we use the same RSS feeds for all services, but it would be nice to have distinct RSS feeds for those dif

[2015-03-26 08:44] jbrooksuk commented on #547
I've made the RSS feed more compliant.

[2015-03-26 08:47] jbrooksuk commented on #546
This isn't possible in the current architecture because there isn't a single incident view, they're only ever listed on the status page. This will change in V2 when incidents tell a story, with updated content etc.

[2015-03-26 08:48] jbrooksuk commented on #548
Nice idea! Let's get this done.

[2015-03-26 09:00] #548 closed

[2015-03-26 11:36] anarcat commented on #547
the feed still doesn't pass the validators, but it looks much better, thanks.

[2015-03-26 11:36] jbrooksuk commented on #547
Still a work in progress.

[2015-03-26 11:40] anarcat commented on #548
thanks!

[2015-03-26 11:42] anarcat commented on #540
wait, then there's a problem with my install. in both the demo and the github status feed, latest iterms are shown first. in *our* RSS feeds, most recent items are *last*.

sorry if my description wasn't clear...

[2015-03-26 11:43] anarcat commented on #546
right, understood - thanks!

[2015-03-26 11:46] jbrooksuk commented on #540
![image](https://cloud.githubusercontent.com/assets/246103/6845547/c898baf4-d3ad-11e4-93df-a07538eff4c0.png)

That's the demo, it looks fine to me?

[2015-03-26 12:02] anarcat commented on #540
that's what i am saying: the demo looks fine, the order is correct. but i notice the `<pubDate>` field are all the same. if you add a new element, it will *not* show up on top of the feed, but at the *bottom*! here's the current RSS output:

[code]

my test is at the end.

[2015-03-26 12:04] jbrooksuk commented on #540
In the demo they will be correct because everything is seeded at the same time.

[2015-03-26 12:19] anarcat commented on #540
right, which is why we don't see the bug there, but I am now pretty sure it's a bug. :)

[2015-03-26 12:21] jbrooksuk commented on #540
This is fixed now.

[2015-03-26 12:21] jbrooksuk commented on #540
83e979cc251673a79ef4ad7262ddb85e2cae0b6f

[2015-03-26 12:32] anarcat commented on #540
great, thanks!

[2015-03-26 14:43] anarcat opened #550 "feed ordering broke grouped feed display"
before 83e979cc251673a79ef4ad7262ddb85e2cae0b6f, i had the grouped RSS feeds working, but after the commit i get the less and less amusing `Whoops, looks like something went wrong.` :)

normal feeds work fine.

reverting the commit fixes the problem.

[2015-03-26 14:45] anarcat commented on #550
with debugging, i get:

[code]

[2015-03-26 17:46] lelutin opened #551 "Rendered text for planned maintenance need more spacing for titles"
When a planned maintenance is added, the Markdown text is rendered on the main page.

The titles should get a little more spacing (e.g. a little tuning to the CSS) to make the result easier to read.

Here's a simple example of text to render to see the spacing issue:

[code]

[2015-03-26 17:52] lelutin opened #552 "Text boxes are too small, especially for scheduled maintenance"
For some incidents and especially for scheduled maintenance, it's great to put in some more detail and write some text that's a bit longer.

The text box for writing that text (e.g. "Incidents" -> "Scheduled maintenance" -> "Add Scheduled Maintenance") is too small. Some web apps fix this by letting users resize the textbox dynamically.

[2015-03-27 17:34] anarcat opened #553 "make cachet cacheable"
right now, cachet is pretty agressive about tracking users and its content. out of the box, it sets a cookie for every visitor and explicitely forbids caching:

[code]

The idea here would be to get rid of the `Set-Cookie` directive and remove the `Cache-control` header, or set it to a good value. Example of a more properly configured site:

[code]

above, the `Cache-Control` header allows for cac

[2015-03-27 19:42] ApfelUser commented on #553
:+1:

[2015-03-27 20:27] jbrooksuk commented on #551
The Markdown is rendered into HTML for me, is this not the case for you?

[2015-03-29 14:23] lelutin commented on #551
@jbrooksuk yes it is. the issue is with presentation (css). titles would look better if they were spaced more from the text.

[2015-03-30 15:17] jdgriffith opened #554 "Can not unbind docker container from port 80"
Let me begin by saying I am not too familiar with the docker process. I followed your steps to get the container up and running. I should mention I have development applications being served from apache on port 80 as well and I can hit several of those. After successfully hitting the app in a browser, (unfortunately from one of my predefined localhost ServerNames) that particular site always hits

[2015-03-30 15:59] jdgriffith commented on #554
Figured this out and the port binding was not the case. Closing.

[2015-03-30 15:59] #554 closed

[2015-03-30 19:08] jbrooksuk commented on #554
Awesome :)

[2015-03-30 19:09] jbrooksuk commented on #551
We welcome pull requests (to the `L5` branch please).

[2015-03-30 20:12] #551 closed

[2015-03-30 23:06] urtho commented on #544
Change this int Metric.php solved my issue with metrics:

=== self::CALC_SUM to == self::CALC_SUM
and
=== self::CALC_AVG to == self::CALC_AVG

[2015-03-30 23:09] urtho commented on #523
Changing this int Metric.php solved my issue with metrics:

=== self::CALC_SUM to == self::CALC_SUM
and
=== self::CALC_AVG to == self::CALC_AVG

[2015-03-31 07:48] #544 closed

[2015-03-31 07:49] jbrooksuk commented on #523
Closed by #544.

[2015-03-31 07:49] #523 closed

[2015-03-31 14:26] jbrooksuk opened #556 "Support GoSquared tracking"
We <3 @GoSquared so we'll be supporting their tracking code **or** Google's.

By checking the entered code we can figure out if it's GoSquared or Google.

[2015-03-31 14:28] jbrooksuk opened #557 "Drop Heroku support"
Heroku are changing their pricing structure (from what we've seen), the "free" tier is no longer useful for Cachet anymore. On top of that, I've had terrible customer support - i.e. no replies - and supporting the Heroku config via Laravel 5's environment configurations is near impossible until 5.1.

- [x] Remove the "Deploy to Heroku" button.
- [x] Remove the `heroku` configuration.
- [x] Remove

[2015-03-31 14:30] jbrooksuk commented on #553
Are you checking the demo? It could be CloudFlare doing this?

[2015-03-31 14:30] jbrooksuk commented on #550
Are you still getting this @anarcat?

[2015-03-31 15:40] brianjking commented on #557
@jbrooksuk Bummer. Do you have suggestions on where we can deploy this easily/free elsewhere? I have a CentOS server and an AWS Instance (Micro) using ServerPilot. However, I really enjoyed Heroku for having it completely disconnected from any other infrastructure that we use for hosting the sites that I display the status of using Cachet.

Thanks...

[2015-03-31 15:40] brianjking commented on #557
@jbrooksuk -- Perhaps viaduct.io? https://viaduct.io/features

[2015-03-31 15:41] jbrooksuk commented on #557
Some people have suggested OpenShift; https://www.openshift.com/products/pricing/plan-comparison

I myself will be moving the demo and Cachet's own status page to a $5/pm droplet.

[2015-03-31 15:43] anarcat commented on #553
it's native to the app, ie. it's not juste on the demo. it does happen on the demo, which makes me wonder how cloudflare would cache that stuff while still making logins work at all:

[code]

[2015-03-31 17:48] StartledPhoenix commented on #557
I have an openshift deployment diy at https://github.com/StartledPhoenix/openshift-diy-cachet if you want to test.

[2015-03-31 19:15] jbrooksuk commented on #557
Thanks @StartledPhoenix I've mentioned your project in our recent blog post https://blog.cachethq.io/dropping-native-heroku-support/

[2015-03-31 20:32] jbrooksuk opened #560 "Timeline view has broken in L5"
![image](https://cloud.githubusercontent.com/assets/246103/6928663/754778c4-d7ed-11e4-9012-e0a2e893cd62.png)

It only seems to be the case when there is HTML in there.

[2015-03-31 20:36] jbrooksuk commented on #560
The issue isn't the HTML, but the very long content. The height of the bar is `130%` which is fine for smaller incidents, but not long ones.

[2015-03-31 20:58] sammcj commented on #557
Never been a fan of Heroku so Openshift has my vote for this!

[2015-03-31 21:13] jbrooksuk commented on #560
Closed in 3b4fcd7

[2015-03-31 21:13] #560 closed

[2015-03-31 21:13] StartledPhoenix commented on #557
@jbrooksuk Almost done fixing some things, afterwards, it should allow me to give you a one-click button to install into openshift online. I've got some spare time for the next few days, so I can probably work all the kinks out by the end of this week.

A little question - composer.json has APCU listed, however OpenShift uses APC, can you add the check in for APC please - thanks.

[2015-04-01 07:18] jbrooksuk commented on #557
@StartledPhoenix I don't think we can tell `composer.json` to use `ext-apcu` **or** `ext-apc`, @GrahamCampbell any advice?

[2015-04-01 07:29] StartledPhoenix commented on #557
ext-apc provides both https://github.com/composer/composer/issues/3865

[2015-04-01 07:53] jbrooksuk commented on #557
Make a PR :)

By the way @StartledPhoenix you'll want to be supporting the `L5` branch, which will become `master` soon.

[2015-04-01 14:47] StartledPhoenix commented on #557
Ill get on L5 after master is confirmed to be working :)

[2015-04-01 23:55] wuputah commented on #557
Hi James- we'd certainly be sad to see you purposely remove support for Heroku. If you have issues or feedback or Heroku, I'd encourage you to [open a support ticket](https://help.heroku.com/tickets/new) and we can route to the right teams/personnel. I can also try to direct you to the right people to @ mention on Github if you need help with something.

[2015-04-02 03:24] thanhan312 opened #563 "None result after install issue"
Hi, I am getting this result when trying to setup:

![download](https://cloud.githubusercontent.com/assets/2655463/6957063/3820b17e-d921-11e4-96cf-59b9636442af.png)

Just is text of file index.php.
Please suggest a solution for me ! Thanks you !

[2015-04-02 04:25] #563 closed

[2015-04-02 07:52] jbrooksuk commented on #557
@wuputah thank you, but I feel it's a little too late now. Plus, what use is a status page that is only available for 12 hours of the day (when on the free plan). The free plan is what encouraged Cachet users to deploy to Heroku, without it, it seems silly supporting Heroku out of the box.

[2015-04-03 00:57] SamuelMoraesF commented on #530
Maybe something like?!

![captura de tela de 2015-04-02 21 54 50](https://cloud.githubusercontent.com/assets/3705263/6976629/fae1ceda-d982-11e4-9c44-1b7e0241ee31.png)

[2015-04-03 01:19] wuputah commented on #557
The pricing beta feedback is @pvh's wheelhouse — it quite far from being final. We think the pricing experiment is a reasonable target for the service we provide (i.e., in this case, a 24x7 production status site), but we're open to feedback.

If you have technical concerns/feedback, we'd love to hear it as well! We always want it to be as easy as possible to run apps on Heroku—so you shouldn't ha

[2015-04-03 01:25] pvh opened #564 "chhvinuurkjviirtdeceggtr"

[2015-04-03 01:26] #564 closed

[2015-04-03 01:41] pvh commented on #557
Hello! I'm sorry you've had a negative experience with Heroku. I can understand why you would draw the conclusions you have with the data you've got, but I hope I can offer a little counterbalancing perspective.

We have presented a hypothesis for how to structure our free tier based on our reasonable but non-comprehensive understanding of the myriad ways people consume the platform. That said, th

[2015-04-03 10:49] jbrooksuk commented on #557
Thanks @pvh and @wuputah, I appreciate you getting back to me. I completely understand *and* appreciate that you need to charge people as you can't continue to run a service without paying customers. I believe that it's because of your paying customers that you can even do the free tier in its existing form - please don't think that I don't realise how important it is for you as a company.

The pr

[2015-04-03 12:23] wfjsw commented on #557
can you check out dotcloud.org plz? thanks.

[2015-04-03 12:34] ApfelUser commented on #557
@wfjsw nice. Spam has arrived at GitHub. Nice. Awesome. Your service doesn't even offer a free plan -.-

[2015-04-03 12:58] wfjsw commented on #557
@ApfelUser All right maybe I make something wrong...

[2015-04-03 13:10] matejkramny commented on #530
Exactly!

[2015-04-03 15:13] jbrooksuk commented on #530
@SamuelMoraesF I like that! It's probably the kind of thing we'll be doing for V2.

[2015-04-03 15:15] jbrooksuk commented on #557
@wfjsw it's not the fact that Heroku doesn't have a free plan that I won't support it...

[2015-04-03 16:04] jbrooksuk commented on #557
I'll be dropping support for Heroku on the `L5` branch, it'll be left for prosperity.

[2015-04-03 16:11] jbrooksuk commented on #557
Closed in https://github.com/cachethq/Cachet/pull/565.

[2015-04-03 16:11] #557 closed

[2015-04-03 16:31] jbrooksuk commented on #550
Bump.

[2015-04-03 16:32] kfrankperson commented on #557
:+1: Great news !!!!

[2015-04-03 16:39] jbrooksuk opened #567 "Timeline view is still not right"
![image](https://cloud.githubusercontent.com/assets/246103/6985172/58ec6742-da28-11e4-96ef-17337694c47a.png)

You may notice how the timeline bar breaks after the first incident.

[2015-04-03 16:42] anarcat commented on #550
yes, i am.

[2015-04-03 16:45] jbrooksuk commented on #567
Closed in 0e8899e.

[2015-04-03 16:45] #567 closed

[2015-04-03 16:45] anarcat commented on #550
the only thing that changed in the code since you asked is the metric fix and polish translation, not sure how i see this could have been fixed...

[2015-04-03 16:47] jbrooksuk commented on #550
Ah, I forgot to push it then. The code will be on my Mac, so I'll have to look at this again.

[2015-04-03 16:52] #550 closed

[2015-04-03 16:52] jbrooksuk commented on #550
Fixed.

[2015-04-03 16:52] jbrooksuk commented on #556
Closed in https://github.com/cachethq/Cachet/pull/566 :)

[2015-04-03 16:52] #556 closed

[2015-04-03 16:55] jbrooksuk commented on #552
I like the idea of the dynamically resized textareas. I'll get this done in the `L5` branch.

[2015-04-03 16:56] jbrooksuk commented on #530
FYI, I want to get this done, but I can't until V2 is being worked on due to the limitations on the existing incidents system.

[2015-04-03 16:57] jbrooksuk opened #568 "Add copyright information to files"

[2015-04-03 16:59] jbrooksuk commented on #547
@anarcat in terms of the Feed Validator, do you know why an RSS feed needs to contain information for "Missing atom:link with rel="self""? What's the `atom:link` bit about?

[2015-04-03 17:00] jbrooksuk commented on #547
Also this:

Might not be able to be done yet, because it [prefers a permalink](http://validator.w3.org/feed/docs/warning/MissingGuid.html) to something. We can't link directly to incidents in V1.

[2015-04-03 17:04] anarcat commented on #547
i am not sure about atom, but it's a common problem with generated RSS feeds that they need to have an absolute link to the site somehow.

[2015-04-03 17:05] anarcat commented on #550
fix confirmed, thanks.

[2015-04-03 17:07] jbrooksuk commented on #550
:+1:

[2015-04-03 17:07] jbrooksuk commented on #547
I'm not sure what we'll do here then.

[2015-04-03 17:07] jbrooksuk commented on #552
For what it's worth @lelutin the text fields aren't limited in size.

[2015-04-03 17:10] jbrooksuk commented on #525
I installed HTTPSB and had the exact same issue, and it makes sense why.

[2015-04-03 19:55] wuputah commented on #557
@jbrooksuk I am the manager of the support team, and we also take support very seriously. I'm very sorry to hear that this impacted your decision to drop Heroku support in any way.  Alas, mentioning `@heroku` on Twitter (or Github) isn't something we try to derive support requests from. I'd instead invite you to open a support ticket anytime.

Our marketing team does try to monitor the Twitter str

[2015-04-03 21:08] jbrooksuk commented on #557
@wuputah I feel like I'm being blamed here for the reason that you didn't see my messages? It seems you're only hearing me now because I've been negative to Heroku...

[2015-04-03 23:13] wuputah commented on #557
I'm only trying to explain what happened — or, more accurately, what _didn't_ happen — and, therefore, why we failed you in this case. I'm not trying to make excuses or place blame, but I am offering my apologies, and inviting you to contact us whenever you need help in a way which we will definitely respond.

We should definitely do a better job watching and responding to mentions on Twitter. Tha

[2015-04-05 13:48] tvvocold opened #569 "About monitor"
hi there,
Thx for create this cool software, I had submit cachet.io to hacker news [1] and it rocks.But i had notice that  Cachet does not monitor  services.But without that it just a "front end".Do you have any plan to add this feature? like uptime [2]?

[1] https://news.ycombinator.com/item?id=9323488
[2] https://github.com/brantje/uptime

Regards,
Ray

[2015-04-05 18:11] NamPNQ opened #571 "Account for login demo"
pls update acc for login dashboard in readme

[2015-04-05 18:34] ekohl opened #572 "Make component groups collapsible"
https://github.com/cachethq/Cachet/issues/393 introduced component groups, but they aren't collapsible. It would be useful if by default groups are collapsed and only those with issues are shown.

[2015-04-05 19:29] jbrooksuk commented on #569
Hi Ray,

Firstly, thank you for submitting Cachet to HN. We made first page (again!) your support is very much appreciated!

Well, since Cachet has an API, it should be fairly easy to make Uptime work with Cachet.

[2015-04-05 19:29] jbrooksuk commented on #572
Collapsing of the component groups would definitely be useful. In fact, I implemented the groups with icons that are perfect for collapsing!

[2015-04-05 19:31] #571 closed

[2015-04-05 19:31] jbrooksuk commented on #571
Great suggestion, thank you.

[2015-04-06 01:33] tvvocold commented on #569
Emm, i need to test it first. So can u merged [PR562](https://github.com/cachethq/Cachet/pull/562) so we can test it in Openshift?(a free PAAS)
See https://github.com/StartledPhoenix/openshift-diy-cachet/issues/2#issuecomment-89867382

[2015-04-06 03:38] lelutin commented on #552
@jbrooksuk right, the length is not limited. it's mostly a visibility issue: on a browser with a "non-mobile" computer, the visible area is a bit too small and makes it harder to review what one's written.

thanks a lot for your help with this. I've never looked at the code yet and it would take me much more time to get a patch together.

[2015-04-06 08:25] jbrooksuk commented on #447
Closed by #570.

[2015-04-06 08:25] #447 closed

[2015-04-06 08:31] jbrooksuk commented on #552
Closed by 191e17b1a6c444cdbf608840a49896366bec30aa

Thanks!

[2015-04-06 08:31] #552 closed

[2015-04-06 16:15] troy commented on #557
As an outsider, I don't think it's reasonable to both (a) use Twitter, and also (b) expect a reply. No good answer fits in 140 characters, which means any response is either going to:

1. Be incomplete, often to the point of being useless or frustrating
2. Yield a reply like "What's your email address?"
3. Not get any reply, often because whoever sees the tweet realizes 1 above (and has seen 2 go

[2015-04-06 16:32] troy commented on #557
An analogy came to mind. this seems a little like giving a one-star Yelp rating based on going to the restaurant and discovering that it closed 5 minutes before the closing time. The end result sucks - diner is not happy, restaurant loses business - and neither party would want it. However, it's not a representation of the dining (support) experience, and drawing conclusions based on it doesn't se

[2015-04-06 19:21] SamuelMoraesF commented on #568
[code]

Maybe this can help you

[2015-04-06 19:34] GrahamCampbell commented on #568
php-cs-fixer can do this for you

[2015-04-06 19:49] jbrooksuk commented on #557
Ok @troy, let me list my reasons for my decision.

1. Support has been terrible. If you're using Twitter as a way of communicating with people, make sure you actively check it. It's like the go to medium for a lot of companies. I've had support from many businesses through Twitter, your whole "Heroku aside, Tw is awful for support because only bad answers are 140c" [tweet](https://twitter.com/troy

[2015-04-06 20:02] jfeulner commented on #557
I will have to agree with @jbrooksuk on this comment stream in regards to information. Why is this thread turning into a discussion of _HOW_ Twitter seems to be a bad medium when the standard is being set to companies around the globe by answering tweets/facebook and the various Social media platforms as a way to communicate to customers? In fact most of the responses to tweets that users send or

[2015-04-06 20:06] jbrooksuk commented on #568
@GrahamCampbell serious?

[2015-04-06 20:13] GrahamCampbell commented on #568
Yep. StyleCI doesn't support it yet though, but there is a header fixer. php-cs-fixer uses it itself.

[2015-04-06 20:13] troy commented on #557
Let's leave my opinion about whether Twitter is good or bad for support out of it. The point remains: Heroku could have the most abysmal or incredible support around, but what's been tested so far is simply whether they respond to tweets.

There's a great argument that they should respond to tweets (and maybe GitHub mentions, or StackOverflow mentions, or Discourse posts, or..), it's just a totall

[2015-04-06 20:13] GrahamCampbell commented on #568
https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/1.7/.php_cs#L3

[2015-04-06 20:13] GrahamCampbell commented on #568
https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/1.7/.php_cs#L17

[2015-04-06 20:33] jbrooksuk commented on #557
Let's not. Considering:

@troy I don't know what you're trying to achieve from this. I have several reasons (all above, please re-read) for dropping Heroku support. Do you want Heroku support in Cachet? Do you even use Cachet? Am I being stupid?

What really, really annoys me about the Twitter support (or lack thereof) isn't the lack of support from me, but that they have actively answered *other*

[2015-04-06 20:54] troy commented on #557
We've gone away from a useful discussion here, so I'm bowing out. Good luck and happy coding :)

[2015-04-06 21:02] jbrooksuk commented on #557
@troy seriously, if you have anything else to say email me james@cachethq.io I'm interested in genuine reasons as to why I should continue to support Heroku.

[2015-04-06 21:48] SamuelMoraesF commented on #568
OMG! I need to learn more about these tools :open_mouth:

[2015-04-07 00:13] kfrankperson commented on #557
@jbrooksuk Just lock comments before it turns into a flame war.

[2015-04-07 02:57] wfjsw commented on #447
@jbrooksuk
Crazy things happened on Crowdin: My translations all disappeared:
![sshot1](https://cloud.githubusercontent.com/assets/2220320/7016336/d525ae60-dd14-11e4-8edb-77c01118815a.JPG)
![sshot2](https://cloud.githubusercontent.com/assets/2220320/7016337/d727a376-dd14-11e4-893d-868481117fb1.JPG)
But......
![sshot3](https://cloud.githubusercontent.com/assets/2220320/7016339/db0e9f6c-dd14-11e4-93

[2015-04-07 06:56] jbrooksuk commented on #557
@kfrankperson I'm leaving them open for the time being :)

[2015-04-07 06:57] jbrooksuk commented on #447
That is strange @wfjsw... I don't remember doing anything to them.

[2015-04-07 11:50] wfjsw commented on #447
@jbrooksuk
Website is okay now. But I found that Crowdin won't export unvalidated translations :( Maybe there is somethings wrong with the settings

[2015-04-07 11:50] wfjsw commented on #447
@jbrooksuk
Website is okay now. But I found that Crowdin won't export unvalidated translations :( Maybe there is somethings wrong with the settings

[2015-04-07 11:50] jbrooksuk commented on #447
I'll add you to the team, so you can validate them :)

[2015-04-07 11:52] jbrooksuk commented on #447
@wfjsw I've added you as a proofreader, so you should now be able to accept translations.

[2015-04-07 11:52] wfjsw commented on #447
@jbrooksuk
Website is okay now. But I found that Crowdin won't export unvalidated translations :( Maybe there is somethings wrong with the settings

[2015-04-07 11:55] wfjsw commented on #447
@jbrooksuk
Website is okay now. But I found that Crowdin won't export unvalidated translations :( Maybe there is somethings wrong with the settings

[2015-04-07 11:58] wfjsw commented on #447
@jbrooksuk
Website is okay now. But I found that Crowdin won't export unvalidated translations :( Maybe there is somethings wrong with the settings

[2015-04-07 11:58] jbrooksuk commented on #447
@wfjsw you're spamming us...

[2015-04-07 12:45] ApfelUser opened #573 "Change order of component groups"
Exactly the same feature is available at the components, would be great if you could do the same with the groups.

[2015-04-07 12:59] wfjsw commented on #447
@jbrooksuk  sorry but i have a really low network latency......

[2015-04-07 14:03] jbrooksuk commented on #447
I gather, with you being in China :)

[2015-04-07 14:03] jbrooksuk commented on #573
That makes sense. It'll probably be in V2 now though as we're already taking too long fixing bugs etc.

[2015-04-07 15:24] bimlendu opened #574 "Sensu handler for CachetHQ"
I have written a [sensu](http://sensuapp.org/) handler for cachethq.

https://github.com/bimlendu/sensu-cachethq

It updates cachethq based on sensu check output. I am using it to monitor [aws status page](http://status.aws.amazon.com/) and reflect the changes there to update components which we use, it works as of now.

Probably this can be added to Addons section.

[2015-04-07 15:50] jbrooksuk commented on #574
This is really nice! We'd love a pull request to add your handler to our Addons list :)

[2015-04-07 17:05] bimlendu commented on #574
Sent in a pull request.

[2015-04-07 19:48] jbrooksuk commented on #574
Closed in #575

[2015-04-07 19:48] #574 closed

[2015-04-07 22:25] unixengineer opened #576 "curl_multi_exec - too slow"
As seen in the profiler screenshot, http://imgur.com/XC0xln7, the pages are too slow to load. curl_multi_exec seems to be the issue, and I am not sure how to go about locating the issue further.

anyone running into the same issue ? any solution ?

[2015-04-07 22:28] GrahamCampbell commented on #576
That should only be executed once. What caching are you using?

[2015-04-07 22:29] unixengineer commented on #576
I tried with APCU and APC
my .env.local.php:
[code]

[2015-04-08 06:47] jbrooksuk commented on #576
Do you have `apcu` or `apc` installed?

[2015-04-08 10:41] GrahamCampbell commented on #576
That is not a valid cache driver. Laravel requires you to write "apc".

[2015-04-08 10:42] GrahamCampbell commented on #576
@unixengineer It looks to me like laravel is not actually reading your environment file because you would have got an exception when you put in an invalid cache driver.

[2015-04-08 15:12] arminus opened #577 "Metrics values are not displayed"
This seems to be the same as #515 - which is marked Closed. However, I observe the same behavior as documented there (latest pull as of today). I do have metrics points in the database but the graph is empty, i.e. the generated data array is all 0 (data: [0,0,0,0,0,0,0,0,0,0,0]).

[2015-04-08 15:56] unixengineer commented on #576
@GrahamCampbell I followed the documentation to set this up. I have now APC installed (I had, when opened this ticket, used apcu).
app/config/database.php
[code]
app/config/cache.php
[code]

[2015-04-08 16:11] unixengineer commented on #576
I have fixed the issues. It looks to be one of :
1. APCU was not setup properly
2. The env files were wrong. So composer did not deploy/setup the config files properly.

The issues has been resolved. It seems to be working fine now

Thanks for the help in fixing this issue.

[2015-04-08 20:06] #576 closed

[2015-04-09 02:17] carlhoerberg commented on #236
It should be easy to support separate sites with one installation. In nginx:

[code]

Then `mv .env.heroku.php .env.php` in your `/var/www/cachet`

[2015-04-09 02:57] carlhoerberg opened #578 "Fonts in dashboard"
The dashboard css is referencing Lato but you're only including Open Sans.

Maybe it's unrelated but I tried to manually change it in `./app/views/partials/dashboard/head.blade.php`, but then every page outputted "Error in exception handler." (status 200!). I did a `git reset --hard`, restarted nginx, php5-fpm etc, but it's still throwing "Error in exception handler". And nothing in the nginx or p

[2015-04-09 03:05] carlhoerberg commented on #578
Oh, had to run `php composer.phar install --no-dev -o` again after modified any php file. That's ok, but no log message and http status 200 is kind of confusing..

[2015-04-09 06:13] arminus commented on #577
That's interesting. I let the monitor run since yesterday ~ 4pm, producing metric points every 15 minutes, the graph now renders starting at 2am this morning (the metric points from 4pm to 2am are missing though). The metric calculation is set to average, so I assume it needs a certain amount of points before it produces anything?

[2015-04-09 07:04] jbrooksuk commented on #577
Well if you have one data point, then the average of it is still the value, no? @GrahamCampbell

[2015-04-09 07:37] arminus commented on #577
That's how the graph looks like (to be clear: there are non zero metric points before 2am)

![2015-04-09_093611](https://cloud.githubusercontent.com/assets/683680/7062283/fb249de6-de9b-11e4-80ce-545d266b5865.png)

[2015-04-09 07:40] jbrooksuk commented on #577
What timezone are you in?

[2015-04-09 07:45] arminus commented on #577
CEST

[2015-04-09 11:17] andrefrcastro opened #579 "Support for New relic"
Graphs with metrics would be great, also system/app status could be updated automatically.

[2015-04-09 15:07] arminus commented on #577
Ok, more strange behavior: Since 2 hours, the graph is back at 0

![2015-04-09_170120](https://cloud.githubusercontent.com/assets/683680/7069732/ca4d7e1a-deda-11e4-90b7-ba0d46826984.png)

But there are metric points in the Postgres database (time there is GMT I suppose):

![2015-04-09_170528](https://cloud.githubusercontent.com/assets/683680/7069749/e90570a6-deda-11e4-87ec-97534cfed51f.png)

[2015-04-10 04:11] wfjsw commented on #447
@jbrooksuk kick off the crowdin build please :)

[2015-04-10 07:21] arminus commented on #577
Sure enough, this morning, the graph starts to be ok again at 2am. i.e. 0 values in the graph (but not in the metric points table) from 3pm to 2am.

[2015-04-10 08:16] jbrooksuk commented on #577
Very interesting. @arminus would you be able to email me a CSV of the `metric` and `metric_points` table? james@cachethq.io

[2015-04-10 08:16] jbrooksuk commented on #447
On it :)

[2015-04-10 08:28] jbrooksuk commented on #447
Done.

[2015-04-10 09:05] arminus commented on #577
Done

[2015-04-11 06:06] jbrooksuk commented on #577
I wonder if we can fix it by changing the timestamps. @arminus are you able to modify [`Metric.php`](https://github.com/cachethq/Cachet/blob/master/src/Models/Metric.php#L87) and change the `%Y%m%e%H` to `%Y%m%d%H` please?

[2015-04-11 07:43] arminus commented on #577
That appears to be in a mysql specific block... I have my DB in Postgres as mentioned above...

[2015-04-11 07:52] jbrooksuk commented on #577
Sorry, same applies on [Line 89](https://github.com/cachethq/Cachet/blob/master/src/Models/Metric.php#L89).

[2015-04-11 08:01] arminus commented on #577
Really? IMHO this is still in the
`if (Config::get('database.default') === 'mysql') {`
block.

Anyway, I changed it, no change. (the site this runs on by the way is status.xctrails.org)

[2015-04-11 08:03] jbrooksuk commented on #577
Doh. Sorry. I've had a stressful morning and been up a long time now, so I was being stupid.

[2015-04-11 08:07] arminus commented on #577
Never mind, I also tried copying the metrics and metric_points table with squirrel sql from the postgres database into a mysql cachet db on a dev vm, but apparently cachet doesn't like that. says "Whoops, looks like something went wrong." after the copy (although the table contents look ok).

Anyway, if I have time later today, I'll probably try with mysql further to see if it works there.

[2015-04-11 08:09] jbrooksuk commented on #577
Did you change the `DB_DRIVER` setting?

[2015-04-11 08:18] arminus commented on #577
On the dev vm with mysql, yes. But apparently, the fact that I changed mysql's listen address to 0.0.0.0 meant that cachet couldn't access it anymore. back to 127.0.0.1, it loads again now, but the metrics values I've copied from the pgsql db don't show up either (i.e. flat 0 line)

[2015-04-11 08:31] jbrooksuk commented on #577
To be honest, I've never tried connecting to MySQL over `0.0.0.0`, I'm not even sure if that should work?

[2015-04-11 08:48] arminus commented on #577
yes, it should. https://dev.mysql.com/doc/refman/5.5/en/ipv6-server-config.html "If the address is 0.0.0.0, the server accepts TCP/IP connections on all server host IPv4 interfaces."

but that's really beside the point ;-) I now also inserted a couple of metric points via the API into the mysql db on the dev vm, they don't show up on the graph either

[2015-04-11 17:53] jbrooksuk commented on #577
Heh sorry @arminus I'll take a look at this now.

[2015-04-11 18:10] #577 closed

[2015-04-11 18:10] jbrooksuk commented on #577
What a derp piece of code.

[2015-04-11 18:14] #578 closed

[2015-04-11 18:18] jbrooksuk commented on #553
@GrahamCampbell is there a decent way to fix this issue? Breaking caching isn't a good thing to be doing.

[2015-04-11 18:32] arminus commented on #577
hmmm, have a look at status.xctrails.org... doesn't look right to me yet... or do I need to wait for new metrics points being inserted?

[2015-04-11 18:56] jbrooksuk commented on #577
Have you got any metrics over the last few hours?

[2015-04-11 19:01] arminus commented on #577
yes, they get sent automatically every ~ 15 minutes (timestamps in the table are GMT I suppose)

![2015-04-11_210021](https://cloud.githubusercontent.com/assets/683680/7102809/e2314570-e08d-11e4-94d2-58585e1bc6b0.png)

[2015-04-12 21:14] rinchen opened #582 "setup.blade.php fails on Ubuntu 14.04"
Hi,

I'm trying to install Cachet on Ubuntu 14.04 using apache2 and mysql under php 5.5.9

In the browser I get stuck at /setup.  I enter the details, language, etc. and press next and I get a 404 error that /step/step1 is not found.  Also of interest is that the logo is cachet-log.svg instead of cachet-log.png.

Anyway, my installation is stuck at this point. I'm not a php person but I think it's

[2015-04-12 21:17] rinchen commented on #582
There's also another error there but I think it's unrelated

Uncaught TypeError: Cannot read property 'errors' of undefined all-d4baa2f5.js:13
(anonymous function)all-d4baa2f5.js:2
K.Callbacks.d all-d4baa2f5.js:2
K.Callbacks.c.fireWithall-d 4baa2f5.js:3
n all-d4baa2f5.js:3
K.ajaxTransport.X.cors.e.crossDomain.send.t all-d4baa2f5.js:3

[2015-04-13 06:40] jbrooksuk commented on #582
Hey @rinchen thanks for the bug report. Couple of questions:

- Do you have JavaScript enabled?
- What browser are you using?

We should be using the SVG logo because of the lossless quality.

[2015-04-13 08:46] arminus commented on #577
Ok, I found the problem. Turns out that for Postgres,
`to_char(metric_points.created_at, 'YYYYMMDDHH')`
[produces timestamps in 12h format] (http://www.postgresql.org/docs/8.2/static/functions-formatting.html), while the metric points are stored in 24 hour format in the table!

For me, changing Metric.php, line 101 to use
`to_char(metric_points.created_at, 'YYYYMMDDHH24')`
works.

The next issue i

[2015-04-13 09:10] jbrooksuk commented on #577
Ah-ha! Well done @arminus good find.

Could you open a PR with this fix?

[2015-04-13 09:16] arminus commented on #577
Not really, because IMHO my change is not yet a full fix. I haven't checked it with Sqlite and maybe in some other environment metric points are in fact stored with 12h timestamps. So I think this has to be somehow made dependent on the actual storage approach - but my PHP know-how is really thin...

[2015-04-13 10:28] arminus opened #583 "Graph creation partially fails with Postgres DB"
As described in #577 , there seems to be a mismatch between the time format of metric points as stored in the table and as retrieved from it with the respective query in Metric.php, line 101.

In my case, the values are stored in 24hour time format which means that the
`to_char(metric_points.created_at, 'YYYYMMDDHH')`
fails for hours > 12

A first fix approach would be to use
`to_char(metric_point

[2015-04-13 10:30] arminus opened #584 "Graph drops to 0 values at the end"
The time range for the Metric.php getValues function goes from 0 to 10, I think it needs to go from 1 to 11 instead so that the average of the current period (i.e. the last value in the graph) still gets reported and is not set to 0.

[2015-04-13 10:31] arminus commented on #577
at any rate, I created two separate tickets

[2015-04-13 13:01] jbrooksuk commented on #577
Thanks, you've narrowed the bug down so we'll continue in the other issues.

[2015-04-13 19:04] rinchen commented on #582
Hi @jbrooksuk,   Google Chrome Version 41.0.2272.118 (64-bit) on OS 10.10.3

[2015-04-14 06:42] jbrooksuk commented on #582
With JavaScript enabled?

[2015-04-14 20:56] rinchen commented on #582
Yes.

[2015-04-14 21:00] slobatch commented on #547
@jbrooksuk

Perhaps just point to the main public page? It's not a permalink to the specific incident, obviously, but it's perhaps more graceful than not having a url for RSS items at all.

[2015-04-15 06:00] jbrooksuk commented on #547
@slobatch that's a good idea.

[2015-04-15 06:00] jbrooksuk commented on #582
Ok, thanks buddy. I'll spin up a VM and take a look tonight :smile:

[2015-04-15 07:21] arminus opened #585 "Metrics graph calculation does not consider more than one metric"
To repro just add a 2nd metric -> the graph for the 2nd metric will look the same as the graph for the first metric.

My fix is only partial for the non-mysql query in Metric.php:

`$query = DB::select("select {$queryType} as aggregate FROM metrics JOIN metric_points ON metric_points.metric_id = metrics.id WHERE metric_points.metric_id = {$this->id} and to_char(metric_points.created_at, 'YYYYMMDDH

[2015-04-15 15:59] tomer-h commented on #154
Hi, not sure if this is another incident creation issue or something stupid that I'm doing, whenever I POST to create an incident via the API, I get a redirect.

Example curl:
curl -X POST -H "Content-Type: application/json" -H "X-Cachet-Token: SECRET" http://myurl.com/incidents -d '{"name":"Test","message":"Test message","status":"1"}'

The response I get is:
<!DOCTYPE html>
<html>
    <head>

[2015-04-15 16:02] jbrooksuk commented on #154
@tomer-h the API endpoint is `http://myurl.com/api/incidents`.

[2015-04-15 16:02] jbrooksuk commented on #584
I'll have a play with that :)

[2015-04-15 16:03] jbrooksuk commented on #585
Heh, bit of an oversight on my part.

[2015-04-15 16:21] tomer-h commented on #154
SO glad I did not open a new issue. Thank you very much.

[2015-04-15 17:11] jbrooksuk commented on #154
My pleasure :smile:

[2015-04-15 17:50] jbrooksuk commented on #582
@rinchen what's your setup? Ubuntu 14.04 with nginx/Apache? FPM? What extensions do you have loaded?

[2015-04-15 17:51] jbrooksuk commented on #582
Also is this Desktop or Server?

[2015-04-15 17:53] #585 closed

[2015-04-15 17:56] #584 closed

[2015-04-15 17:56] jbrooksuk commented on #584
Yeah, this is far better. Thanks :beers:

[2015-04-15 17:56] jbrooksuk commented on #583
Everything is stored in 24H timestamps so this change is fine.

[2015-04-15 17:57] #583 closed

[2015-04-16 16:34] mzupan opened #586 "Install docs are wrong."
Following this

  https://docs.cachethq.io/v1.0/docs/installing-cachet

The docs want you to do a

[code]

That is fine except the default branch is L5 and most of the docs explain how to set it up for L4 from my understanding. That took a good 60 minutes away from my life figuring out why things weren't where they said they were.

[2015-04-16 17:20] GrahamCampbell commented on #586
You need to checkout the master branch after cloning.

[2015-04-16 17:20] #586 closed

[2015-04-16 17:21] GrahamCampbell commented on #586
You are reading the docs for the L5 version, clearly indicated by the branch name "L5" on the main page on github.

[2015-04-16 20:50] jbrooksuk commented on #586
I'll update the docs to reflect this for now.

[2015-04-17 21:18] TheoBearman opened #587 "Unable to Use Pcntl.php on Windows Server 2008 R2"
Good evening,

I am trying to install Cachet on my Windows Server 2008 R2 box. Unfortunately, one of the PHP dependencies to run Cachet is 'pcntl.php', which is not compatible on Windows. This is to run 'Boris'.

Is there any way that the program could be changed to be compatible for Windows or there is an alternative .dll I can use that has the same effect? Do I need to run Boris to for Cachet to

[2015-04-18 08:10] jbrooksuk commented on #587
Are you doing this under IIS?

[2015-04-18 08:11] TheoBearman commented on #587
@jbrooksuk No. Xampp.

[2015-04-18 08:13] jbrooksuk commented on #587
Weird, since my colleague is able to run another Laravel app under Xampp with zero problems. It may be one of the dependencies (aside from Boris) is requiring it.

[2015-04-18 08:15] TheoBearman commented on #587
Skype? You can add me theo.bearman and we can try and work it out. According to my command line it's Boris.

[2015-04-18 08:16] jbrooksuk commented on #587
I'm unavailable today, but could spend some time looking tomorrow night with you? Unless of course @GrahamCampbell has any ideas?

[2015-04-18 08:17] TheoBearman commented on #587
I'm not around tomorrow night I'm afraid. No chance you could have a quick peek now?

[2015-04-18 08:18] jbrooksuk commented on #587
Unfortunately not, I'm afraid. I'm currently at work and no access to a Windows machine.

[2015-04-18 08:19] jbrooksuk commented on #587
Labelled as "help wanted" though in case anybody can pick this up in the mean time.

[2015-04-18 08:20] TheoBearman commented on #587
![cmd](https://cloud.githubusercontent.com/assets/6546590/7214620/18288eb8-e5ac-11e4-8418-879254d4ea57.JPG)

This is a screenshot of my command line if it helps.

[2015-04-18 08:31] wfjsw commented on #587
since this is a windows kernel problem, there is no easy way to solve this. we will have to replace this dep with an alternate one.

[2015-04-18 08:40] jbrooksuk commented on #587
Actually, you could try out the `L5` branch @TheoBearman, as I believe this doesn't use Boris anymore?

[2015-04-18 09:02] TheoBearman commented on #587
@jbrooksuk I'll give it a go now.

[2015-04-18 09:23] TheoBearman commented on #587
Ok. It has installed but now the `php artisan migrate` command isn't working.

This is the command line:

![cmd](https://cloud.githubusercontent.com/assets/6546590/7214831/b54fd838-e5b4-11e4-8bb3-4ae7174d4473.JPG)

The `env.php` is made up of the following:

`<?php

return [
    'DB_DRIVER'   => 'mysql',
    'DB_HOST'     => 'localhost',
    'DB_DATABASE' => 'cachet',
    'DB_USERNAME' => 'cachet'

[2015-04-18 09:23] jbrooksuk commented on #587
You need to create a database on your host called `cachet` (as taken from your config).

[2015-04-18 09:24] TheoBearman commented on #587
@jbrooksuk I have.

[2015-04-18 09:24] jbrooksuk commented on #587
Ok, rather than using `localhost`, try `127.0.0.1` as the host.

[2015-04-18 09:25] jbrooksuk commented on #587
Ah, sorry the config in `L5` has changed. Check out https://github.com/cachethq/Cachet/blob/L5/.env.example

[2015-04-18 09:28] TheoBearman commented on #587
@jbrooksuk Ok, the `.env.php` file now contains:

    APP_ENV=local
    APP_DEBUG=true
    APP_KEY=SomeRandomString

     DB_DRIVER=mysql
     DB_HOST=localhost
     DB_DATABASE=cachet
     DB_USERNAME=cachet
     DB_PASSWORD=secret

    CACHE_DRIVER=apc
    SESSION_DRIVER=file
    QUEUE_DRIVER=sync

    MAIL_DRIVER=smtp
    MAIL_HOST=mailtrap.io
    MAIL_PORT=2525
    MAIL_USERNAME=null
    MAIL_

[2015-04-18 09:29] jbrooksuk commented on #587
You don't need the `.php` extension.

[2015-04-18 09:31] TheoBearman commented on #587
Ok, that worked. Now look at [this...](http://www.theobearman.com/cachet/public/setup).

[2015-04-18 09:31] jbrooksuk commented on #587
You shouldn't install Cachet under a directory, can you move it to a sub-domain?

[2015-04-18 09:40] TheoBearman commented on #587
@jbrooksuk Not really no.

[2015-04-18 09:40] jbrooksuk commented on #587
Unfortunately we can't really do much then as the whole system relies on not being under a sub-directory.

[2015-04-18 09:40] TheoBearman commented on #587
@jbrooksuk I'll look into it.

[2015-04-18 10:27] GrahamCampbell commented on #587
Laravel doesn't even support subdirectory installs officially anyway.

[2015-04-18 10:48] TheoBearman commented on #587
@jbrooksuk Got it working, thanks!.

You may want to put somewhere in the docs to use the `L5` branch for setup instead of the `master` branch if you are using Windows Server.

Thanks so much.

Theo.

[2015-04-18 10:49] jbrooksuk commented on #587
We'll be fully switching to the L5 branch soon anyway.

[2015-04-18 11:53] TheoBearman commented on #587
@jbrooksuk What about [this](https://status.theobearman.com/api) now?

[2015-04-18 11:54] jbrooksuk commented on #587
Currently undocumented (although explained in the blog post), is that the API is now versioned in the URL; https://status.theobearman.com/api/v1/incidents

[2015-04-18 11:56] TheoBearman commented on #587
Ok. Also, is there a way that I can change the links to direct to the [ssl version](https://http://status.theobearman.com/dashboard/). For example as by default it links to the [http version]( http://status.theobearman.com/dashboard/)

[2015-04-18 11:57] jbrooksuk commented on #587
https://status.theobearman.com/auth/login

Everything is relative, so if you're on HTTPS, all links will follow HTTPS.

[2015-04-18 11:58] TheoBearman commented on #587
I am using Cloudflare Flexible SSL so the links to not follow HTTPS as default apart from on the status page which I have setup in Cloudflare.

[2015-04-18 11:58] GrahamCampbell commented on #587
You haven't setup your trusted proxies correctly.

[2015-04-18 12:00] TheoBearman commented on #587
@GrahamCampbell Where do I set that up and what do I need to put in?

[2015-04-18 12:02] GrahamCampbell commented on #587
Something like this: https://i.starbs.net/NaO7.

[2015-04-18 12:05] TheoBearman commented on #587
@GrahamCampbell Can you send me that file? Where do I put it into my Cachet install?

[2015-04-18 15:45] TheoBearman commented on #587
@GrahamCampbell ?

[2015-04-18 15:47] jbrooksuk commented on #587
It is actually within Cachet, https://github.com/cachethq/Cachet/blob/L5/config/trustedproxy.php

[2015-04-18 16:05] EdeMeijer opened #590 "Error build status at the Docker registry"
https://registry.hub.docker.com/u/cachethq/cachet/builds_history/122451/

The last 2 builds have an error status.

[2015-04-18 16:14] EdeMeijer commented on #590
I just saw you fixed the Travis build, so I'm sure the Docker build will be fine too.

[2015-04-18 16:16] jbrooksuk commented on #590
It could be related, let's see :)

[2015-04-18 16:59] TheoBearman commented on #587
@jbrooksuk So I just have to update that file with the Cloudflare IPs from the screenshot above?

[2015-04-18 17:30] jbrooksuk commented on #587
I believe so. They were up to date at one point. If you could make it a PR that'd be brilliant.

[2015-04-18 17:34] TheoBearman commented on #587
PR?

[2015-04-18 17:43] TheoBearman commented on #587
@jbrooksuk @GrahamCampbell In any case, I uncommented `'proxies' => '*', and the SSL issue has still not resolved.

[2015-04-19 07:35] jbrooksuk commented on #587
Can you open this as a new issue please.

[2015-04-19 07:35] #587 closed

[2015-04-19 07:52] #568 closed

[2015-04-19 08:27] #499 closed

[2015-04-19 08:50] TheoBearman opened #592 "CloudFlare Flexible SSL Support"
Good morning,

I have CloudFlare flexible SSL activated on my domain that is running my Cachet [install](https://status.theobearman.com/). As you can see the flexible SSL appears to be running on the status page but the links to the [login](http://status.theobearman.com/auth/login) page for example from the footer is redirecting to the HTTP version.

I have tried uncommenting `'proxies' => '*', `

[2015-04-19 09:19] jbrooksuk commented on #592
You're on the L5 branch, right? Could you try pulling the latest version and see if it helps?

[2015-04-19 09:22] 0147500 commented on #592
I had this problem before. It's because with flexible SSL laravel doesn't see the connection is https, because the connection to the server is just http.

[2015-04-19 09:26] GrahamCampbell commented on #553
I have no idea what you mean? Coudflare behaves like any other proxy server, and followed the http spec with respect to caching, though you can ask it to override the caching headers and even ignore them if you want.

[2015-04-19 10:06] GrahamCampbell commented on #592
That's what setting the trusted proxies correctly fixes.

[2015-04-19 10:13] 0147500 commented on #592
Aa okay :)

[2015-04-19 10:16] jbrooksuk commented on #592
Should do... We've always had issues :) The L5 branch now registers the service provider for TrustedProxies, so it should actually work.

[2015-04-19 10:19] jbrooksuk commented on #543
This seems to be fixed in the L5 branch. I've been kept logged into the dashboard for 4 hours now and still going.

[2015-04-19 10:19] #543 closed

[2015-04-19 10:47] TheoBearman commented on #592
@jbrooksuk I'll pull the latest Branch and try it out. Thanks.

[2015-04-19 10:55] TheoBearman commented on #592
@jbrooksuk I've replaced the `trustedproxy.php` with [this one](https://github.com/cachethq/Cachet/blob/8714f4643dbfbca89be18e47c58d7dc2612d0491/config/trustedproxy.php0 and I am still getting the same problem. Is there another file I need to update? I don't want to pull the whole branch as I assume it will overwrite my current install.

[2015-04-19 10:56] jbrooksuk commented on #592
@TheoBearman you will need to update to the latest commit on the L5 branch please.

[2015-04-19 10:56] jbrooksuk commented on #592
What else have you changed then?

[2015-04-19 10:56] jbrooksuk commented on #592
You could stash the changes, pull down and pop them on again.

[2015-04-19 10:57] TheoBearman commented on #592
@jbrooksuk If I update to the latest commit, will it overwrite my install?

[2015-04-19 10:58] jbrooksuk commented on #592
Stash your changes first.

[2015-04-19 11:21] TheoBearman commented on #592
@jbrooksuk Decided to do a fresh install and now I have this issue...

![dafv](https://cloud.githubusercontent.com/assets/6546590/7219240/9f31c428-e68e-11e4-886a-d802c41f050b.JPG)

[2015-04-19 11:22] jbrooksuk commented on #592
Ah you're on Windows, so chmod is useless for you.

[2015-04-19 11:22] TheoBearman commented on #592
Yeah... workaround?

[2015-04-19 11:23] GrahamCampbell commented on #592
run composer with `--no-scripts`

[2015-04-19 11:23] jbrooksuk commented on #592
There you go ;)

[2015-04-19 11:23] GrahamCampbell commented on #592
or just delete the chmod step from the composer.json

[2015-04-19 11:25] TheoBearman commented on #592
What, so `composer install --no-dev -o --no scripts`?

[2015-04-19 11:27] jbrooksuk commented on #592
`composer install --no-dev -o --no-scripts`.

[2015-04-19 11:29] TheoBearman commented on #592
Ok, well after all that. The HTTPS issue still hasn't resolved! See [here](http://status.theobearman.com/auth/login).

[2015-04-19 11:31] jbrooksuk commented on #592
Ah. It's the really annoying `url` helpers. Pull down latest changes, the links are fixed.

[2015-04-19 11:34] TheoBearman commented on #592
@jbrooksuk Pulled down the changes. Still nothing.

[2015-04-19 11:36] jbrooksuk commented on #592
It won't auto-detect for some reason, this has been the case for a long time :/ you'll need to go back to the status page and click the link, or just visit it directly. https://status.theobearman.com/auth/login

[2015-04-19 11:37] TheoBearman commented on #592
@jbrooksuk Ok. Hopefully you guys will find a fix. Thanks anyway!

[2015-04-19 11:38] jbrooksuk commented on #592
Yeah, me too. it's a right pain.

[2015-04-19 13:07] ApfelUser commented on #592
@TheoBearman @jbrooksuk @GrahamCampbell you could just create your own certificate and enable "Full SSL" which then also sends a HTTPS request to your server who also has to listen for SSL. So you'd have to disable port 80 and enable port 433 with this here in the *server* block:

[code]

and this in your *nginx.conf*

[2015-04-19 13:10] TheoBearman commented on #592
@ApfelUser I'm on windows server. XAMPP not NGINX.

[2015-04-19 13:11] ApfelUser commented on #592
Well, I don't know how XAMPP works, but you probably can enable SSL on XAMPP too. And there is also a NGINX version for Windows.

[2015-04-19 13:12] ApfelUser commented on #592
http://nginx.org/en/docs/windows.html

[2015-04-19 13:16] GrahamCampbell commented on #592
Quite honestly, this issue is totally unrelated to cachet.

[2015-04-19 13:16] #592 closed

[2015-04-19 20:01] jbrooksuk commented on #553
Is this even a Cachet issue?

[2015-04-20 07:05] jbrooksuk commented on #240
Moved into First Release again as we're now working on L5 branch.

[2015-04-20 14:29] anarcat commented on #553
yes, it is. cachet doesn't send the right HTTP headers.

[2015-04-20 16:06] Lavoaster commented on #553
It could be related this part in Symfony's HttpFoundation, it attempts to calculate a default for Cache-Control. [ResponseHeaderBag.php:301](https://github.com/symfony/HttpFoundation/blob/30a9abe5d6c509a92dbca6fca5ad6d0f84484f91/ResponseHeaderBag.php#L301)

To me it looks like it prevents caching of the page as it is not specified specifically. Realistically I would think caching only needs to be

[2015-04-20 16:53] EdeMeijer opened #594 "500 error when trying to authenticate in Dockerized version of Cachet"
I'm trying to run Cachet with Docker and PostgreSQL. I already submitted 2 fixes to make this work, but as long as they're not merged into master I'm using our fork at https://github.com/experty/Cachet, and building the L5 branch at https://registry.hub.docker.com/u/experty/cachet/builds_history/183129/.

Well, so far so good, I'm able to bootstrap and setup the app now.
[code]
Now when I visit th

[2015-04-20 17:33] ApfelUser commented on #553
In NodeJS you have to do:

[code]

in order to achieve a NGINX server being able to cache your content. But I have no idea how you'd do that in PHP.

[2015-04-21 05:40] wfjsw commented on #553
You may use
[code]
:)

[2015-04-21 06:42] jbrooksuk commented on #553
Rather than a `header` call @wfjsw, we can use Laravel's internals :)

[2015-04-21 06:42] jbrooksuk commented on #594
What cache are you using?

[2015-04-21 09:16] EdeMeijer commented on #594
I don't know, do I need to specify a cache explicitly? It don't think it's mentioned in your docs.

It looks like by default a 'file' cache is used in `/config/cache.php`, and the `file` implementation is not tagged so that seems to be the problem.

[2015-04-21 20:14] #594 closed

[2015-04-22 17:43] ruuter commented on #383
I have same issue, running just `php artisan` results in:
`[Illuminate\Database\QueryException]
  SQLSTATE[42S02]: Base table or view not found: 1146 Table 'testing.settings' doesn't exist (SQL: select * from ``settings``)`
` [PDOException]
  SQLSTATE[42S02]: Base table or view not found: 1146 Table 'testing.settings' doesn't exist`
I have removed all migration files and created new empty database

[2015-04-23 10:30] jenolan opened #600 "CPanel & APCU"
Seeing as Heroku support is going away I setup a CPanel server to act for my various sites, problem is that Cachet is wanting non-standard php libraries, most especially APCU.

Come on guys ;-) you are making it real hard to just plugin and run on one of the most commonly available platforms. A shared host isn't going to do all the machinations to let a client run the wonderful status tool!

Most

[2015-04-23 10:31] jbrooksuk commented on #600
You don't have to use APC, you can switch to Redis, files, database etc. There may be some issues, but it's trial and error :)

[2015-04-23 23:15] jenolan commented on #600
Ha .. BUT you have it as a requirement in the composer file! It means if it isn't there composer pukes!

Larry

[2015-04-24 03:29] jenolan commented on #573
If you have access to the underlying tables you can change the 'id' number to suit, just did it.

[2015-04-24 09:41] jbrooksuk commented on #573
What @jenolan suggested will work for the time being :smile:

[2015-04-24 09:41] jbrooksuk commented on #600
We do, but it's because it's default in the config file. I'll have a look.

[2015-04-24 11:06] jenolan commented on #600
That's what I am saying. apcu is NOT available by default in a CPanel environment.

Having it reduces the availability for normal hoomans.

FWIW .. my sysadmin has added apcu and we seem to be running, what I am saying is that Cachet should be installable in a bog standard CPanel shared web host so that the maximum number of people have the enormous pleasure of a nice status system .. please not f

[2015-04-24 18:05] Grummfy opened #601 "why forcing using APCU?"
I'm wondering why you are forcing people to use apcu?
There is lot cache system and this part can be configured. So except i you start documenting that this is mandatory and forcing for a real good reason, I think you should remove it.

thanks

[2015-04-24 19:10] GrahamCampbell commented on #601
We're not forcing it.

[2015-04-24 19:14] Grummfy commented on #601
when it's a requirement in composer and you need to use composer to install it... yes your are forcing

[2015-04-24 19:14] GrahamCampbell commented on #601
No we're not. You can just remove it from that file. It's designed to be editied.

[2015-04-24 19:22] Grummfy commented on #601
Sorry, but for me it's a stupid way to act, It's just slow down adoption and installation.... but if you think it's a good way to act ...ok

[2015-04-24 19:22] #601 closed

[2015-04-24 19:33] beardedbrew opened #602 "Allow Team Members to Set Incident Visibility"
Would be nice to be able to set the visibility of an incident to hidden / visible. Multiple use cases -- need to write the incident report and maintain it in the system without having it visible to the public page.

[2015-04-24 21:10] jbrooksuk commented on #601
I disagree. Cachet has had **hundreds** of installations. APCU is a perfect, light-weight caching system which is ideal for Cachet. Like @GrahamCampbell said, you can easily change it within the `composer.json` file.

[2015-04-24 21:11] jbrooksuk commented on #602
Hmm, I'll add it to V2 list.

[2015-04-25 10:33] EdeMeijer opened #603 "Issue component and component status updates bug"
There are a couple of problems/bugs with updating issues, I think they're all related.

First, create a new issue, and select a component and a component status when doing so. Then edit the issue. The following things are strange:
- The component is not selected anymore, but the component status is
- When I update the component status (without re-selecting the component), it doesn't actually get u

[2015-04-25 10:35] EdeMeijer opened #604 "Error when adding an issue without component status"
When you add an issue and select a component, but don't select a component status, you get a `Whoops, looks like something went wrong.` 500 internal error. I would expect to get a normal error message saying I should select a component status, just like when you don't select an issue status.

[2015-04-25 10:37] EdeMeijer opened #605 "Wrong message on the 'component groups' tab when empty"
Just a minor issue. When you are at the 'component groups' tab, but there isn't a component group yet, it says "You should add a component.". I think this should be "You should add a component group", since there were actually components added.

[2015-04-25 10:41] EdeMeijer opened #606 "Server error when trying to add component without component group"
When there are any component groups in the system, and you try to add a new component without selecting a component group from the dropdown, you get a `Whoops, looks like something went wrong.` 500 internal server error. I expected it should actually be possible to add components without groups, since you can also add components if there are no component groups in the system at all.

[2015-04-26 13:47] itscassa opened #607 "[API] Scheduled maintenance - date"
Hi,

It might be handy to add the planned date for a scheduled maintenance to the api incidents endpoint. Is this planned already? If not, will this be added?

[2015-04-26 15:35] Craytor opened #608 "API Issues"
When I go and access the API url for my cachet installation, I get an error saying the route doesnt exist. The dashboard works fine, it's just the api that's not working. Here's a better look at the error:

![Image](http://shots.tjyouschak.me/1PMQ)

[2015-04-26 23:18] Craytor commented on #608
I'm getting this issue on the L5 branch.

[2015-04-26 23:19] Craytor opened #609 "[L5] Metrics"
Are metrics complete on the 'master' branch? I've put some metrics to the url, and they're in the database, but they are not displaying on the actual page. Is this done?

[2015-04-27 06:48] TheoBearman commented on #608
@Craytor Same with me.

[2015-04-27 07:06] jbrooksuk commented on #608
The endpoint for the L5 branch has now changed: `https://demo.cachethq.io/api/v1/endpoint`

[2015-04-27 07:06] jbrooksuk commented on #608
Documentation will be updated to reflect this as soon as V1 is released.

[2015-04-27 07:06] #608 closed

[2015-04-27 07:06] jbrooksuk commented on #609
What do you mean by not displaying? Is the graph displaying?

[2015-04-27 07:07] jbrooksuk commented on #607
Thanks for the suggestion. I'll take a look at this :smile:

[2015-04-27 07:07] jbrooksuk commented on #606
Is this when you use the API?

[2015-04-27 07:07] jbrooksuk commented on #606
Also, what database server are you using?

[2015-04-27 07:08] jbrooksuk commented on #605
Good catch!

[2015-04-27 07:09] jbrooksuk commented on #603
I've classified this as a bug, but hear me out.

You can't edit a component status when editing an incident because the component status is changed directly. If it's since been resolved or whatever, then you should add a new incident.

[2015-04-27 07:11] jbrooksuk commented on #600
Cachet is a modern web application. It's hard to make it backwards compatible with older hosts that can't provide the extensions we need.

But yes, we'll do our best to make it work.

[2015-04-27 10:10] EdeMeijer commented on #603
Yeah I know. In my case what i was trying to do is resetting a component status to OK when I update the issue status to solved.

[2015-04-27 10:11] EdeMeijer commented on #606
This is when using the Dashboard. It happens in my Docker + Postgres setup as well as on the demo site.

[2015-04-27 11:57] Craytor commented on #608
Alright, thanks @jbrooksuk, update the docs!!!! :P Joking....

[2015-04-27 11:58] Craytor commented on #609
The points on the graph are all displaying 0, even though some of the latest points should have another other than 0 since I am taking the sum. Does that make sense?

[2015-04-27 14:08] Jamesking56 opened #610 "Install via apt-get"
Since you are no longer supporting Heroku (which mine is currently hosted with). I am going to setup Cachet on DigitalOcean.

It would be nice if I could spin up a droplet and then do a simple `apt-get install cachet` and Cachet can then install what it needs, pull from the Git repo etc.

The reasons for doing it this way are:

- Really really easy to install for people not too familiar with Linux

[2015-04-27 15:24] Craytor opened #611 "[L5] Login Not Working"
After pressing login on the login form (on the L5 branch), it throws an error. Not sure if it's related to #608

[2015-04-27 16:37] jbrooksuk commented on #611
No error here. Are you on the absolute latest commit on the L5 branch?

[2015-04-27 16:37] jbrooksuk commented on #610
I like the idea, although I've no idea how to set that up.

[2015-04-27 20:43] Craytor commented on #611
Yeah, completely sure. I just ran it again and got a 500 Internal Server Error. Here's an image when I turn APP_DEBUG to true...

![stuff](http://shots.tjyouschak.me/A0qR)

[2015-04-27 20:43] Craytor commented on #608
`https://demo.cachethq.io/api/v1/endpoint` fixed it!

[2015-04-27 20:44] GrahamCampbell commented on #611
You can't use the file cache. I thought we documented that?

[2015-04-27 23:04] Craytor commented on #609
Actually, they are working. But I think there is a bug. For example, the points loading between the hour 18:00-19:00 (this is only an example) is a total of 790. That data is being displayed for the hour 19, not 18, is this correct?

[2015-04-28 03:24] Craytor commented on #611
@jbrooksuk: @GrahamCampbell's solution worked! I think this should be more clearly documented.

[2015-04-28 03:24] #611 closed

[2015-04-28 07:02] jbrooksuk commented on #611
https://docs.cachethq.io/v1.0/docs/caching

[2015-04-28 07:48] jbrooksuk commented on #608
I need to go back through the documentation soon.

[2015-04-28 07:55] jbrooksuk commented on #609
Can you send me your `metrics` and `metric_points` table?

[2015-04-28 07:59] jbrooksuk opened #612 "Improve issue labels"
This is an issue for improving the labels used on GitHub issues. I want to make it easier to tag what the issue is exactly about, for instance `T: Components`.

Labels will be prefixed with a character to denote what it's about:

- `T` - Type; API, Components, Incidents, Dashboard, UI, Browser, Caching

*I've gotta finish this issue, gotta go.*

[2015-04-28 08:00] jbrooksuk commented on #603
In which case you can go to the dashboard and click on the status relating to the component:

![image](https://cloud.githubusercontent.com/assets/246103/7365116/0ceb88c6-ed85-11e4-9cf5-c1fd021a7b89.png)

[2015-04-28 08:00] #603 closed

[2015-04-28 10:15] EdeMeijer commented on #603
Okay, but if you're required to exclusively change component statuses on the home page, then I think the UI when editing an issue shouldn't have a component status selection bar.

[2015-04-28 10:20] jbrooksuk commented on #603
That's a good point.

[2015-04-28 10:22] jbrooksuk commented on #603
Done :smile:

[2015-04-28 12:36] itscassa commented on #610
@jbrooksuk https://wiki.debian.org/HowToPackageForDebian

[2015-04-28 12:45] EdeMeijer commented on #603
Well, alright then :P

[2015-04-28 23:13] Craytor commented on #609
Alright, I've got the stuff for you. I also would like to mention, that between hours the points for the hours actually change vertically, like sometimes the points will be higher up then the next hour, really confusing.

Here's a look at the site, before the next hour:
![First](http://shots.tjyouschak.me/eoyb)

After the hour:
![Second](http://shots.tjyouschak.me/AW2o)

Here you can look at my me

[2015-04-29 23:43] TECHMAUS opened #614 "Date not translated previous incidents"
When using Cachet in another language the dates on the homepage are not translated.
![schermafbeelding 2015-04-30 om 01 38 54](https://cloud.githubusercontent.com/assets/9018689/7403834/58089b86-eeda-11e4-8b9e-47dfbc732abd.png)

[2015-04-30 06:54] ninehills opened #615 "Allow change the incident time when add/edit incident"
For migrate history data from other statuspage-like system.

[2015-04-30 07:24] svenmueller commented on #615
that would be very important!

[2015-04-30 10:51] jbrooksuk commented on #615
I guess this would be useful if you were manually adding an incident that occurred earlier in the day?

[2015-04-30 13:03] TECHMAUS commented on #614
Looked a bit closer into this and found out that dates of incidents and scheduled are in fact translated, only the ordinal indicator is superfluous.
The date format in the timeline can be set in the dashboard, but doesn't support strftime.
![schermafbeelding 2015-04-30 om 14 59 31](https://cloud.githubusercontent.com/assets/9018689/7413211/06b74c44-ef4a-11e4-8f44-ceb0410909ca.png)

[2015-05-01 04:43] bimlendu opened #616 "Timestamp discrepancy"
![screen shot 2015-05-01 at 9 56 57 am](https://cloud.githubusercontent.com/assets/1873727/7426675/e574e06a-efe8-11e4-8068-f33e01357213.png)

In the above image, you can see the incident tooltip timestamp and the date under which the incident shows up are different.

Timezone set in CachetHQ is my local time while the server time is in UTC. How this should be handled?

[2015-05-01 06:04] VA6DAH opened #617 "Email and SMS notifications for subscribers."
Hi,

Enhancement request here.

Like Staytus, it would be very nice to have "subscribers" that receive notifications for service downtimes.

Both email and SMS support would be ideal.

Cheers

[2015-05-01 09:06] beberlei opened #618 "HTTP Request to gist with Segment Key"
We installed Cachet for the status page of [tideways.io](https://tideways.io) and disabled segment collection during installation, however while monitoring the status page there are still some requests that request the segment key from a Gist Public URL:

![tideways_cachet_segment](https://cloud.githubusercontent.com/assets/26936/7428482/8e0335e4-eff1-11e4-8536-2ae295c1a33a.png)

700ms is an unacc

[2015-05-01 09:15] beberlei commented on #615
Yes and after installation you might add some incidents from the past.

[2015-05-01 19:10] jbrooksuk commented on #618
1. No. In the event that the key is used for malicious purposes we need to be able to update it.
2. Sort of. You can disable the `app_track` setting, but this won't turn off fetching of the key.

[2015-05-01 19:11] jbrooksuk commented on #617
This is something that we have planned already https://github.com/cachethq/Cachet/issues/36 :)

[2015-05-01 19:11] #617 closed

[2015-05-01 21:31] silverxp opened #619 "Changing number of incidents to show"
On the status page you can see earlier incidents with the buttons provided, but when you enter less than 7 days in the dasboard (i.e. 3) and you browse back ... You keep seeing the first 3 days of the week and the rest of the weekdays are never displayed.

I don't know if this was meant this way, but it looks like it always browses 7 days back in time.

[2015-05-02 00:09] Craytor opened #620 "[L5] Month to Month?"
The month days look to be appearing out of order from month to month, here's an example...

![Image](http://shots.tjyouschak.me/AW2D)

[2015-05-02 08:19] #619 closed

[2015-05-02 08:20] jbrooksuk commented on #619
This bug led to a few things:

1. The fix that @Lavoaster made in #597 wasn't 100% complete. Dates weren't ordered properly to begin with. I had all sorts of crazy date ordering. That's been fixed.
2. The `$daysToShow` variable is `0-n` so if you had set `app_incident_days` to 3, it'd show 4 days.
3. We still had code for `subWeek()` which would always jump you back a week, leading to lost days.

[2015-05-02 08:21] jbrooksuk commented on #620
This is now fixed in 8f9d2614e90d1c4413c62daa3b0af4e40f9be8cf :)

[2015-05-02 08:21] #620 closed

[2015-05-02 08:29] #618 closed

[2015-05-02 13:36] Craytor commented on #620
@jbrooksuk Thanks, it fixed it!

[2015-05-02 13:39] Craytor opened #621 "[L5] Metrics and New Months"
Ever since May 1st rolled around my metrics graphs have quit working - well kind of. My points are all (time, 0). I know my service is still posting them to the api, and you can see all of the points here: [http://status.myweather.today/api/v1/metrics/1/points](http://status.myweather.today/api/v1/metrics/1/points). I'm using the sum way to calculate the points.

[2015-05-02 13:42] jbrooksuk commented on #621
Can you export the table for me and I'll take a look whilst on my dinner.

[2015-05-02 13:42] jbrooksuk commented on #621
(So now) :)

[2015-05-02 13:49] jbrooksuk commented on #621
Both `metrics` and `metric_points` tables :)

[2015-05-02 13:49] Craytor commented on #621
How do you want them exported? CSV, SQL, etc?

[2015-05-02 13:50] jbrooksuk commented on #621
CSV is perfect :)

[2015-05-02 13:52] Craytor commented on #621
Alright, [https://onedrive.live.com/?cid=0dd498fb8335650e&id=DD498FB8335650E%215975](https://onedrive.live.com/?cid=0dd498fb8335650e&id=DD498FB8335650E%215975) Download the files with the _5-2, they are the ones you want!

[2015-05-02 13:55] jbrooksuk commented on #621
Are you on MySQL or PgSQL?

[2015-05-02 13:56] Craytor commented on #621
MySQL

[2015-05-02 13:57] #621 closed

[2015-05-02 13:57] jbrooksuk commented on #621
Thanks!

[2015-05-02 13:58] Craytor commented on #621
#thatwasquick ;) Thanks!

[2015-05-03 18:39] Craytor commented on #609
@jbrooksuk Have you looked into this at all?

[2015-05-03 19:14] ALinuxNinja opened #622 "Artisan Migrate failing on L5"
Hi, on L5, artisan migrate is currently failing with the following error:
[code]
and so does composer install --no-dev -o

Is there something I should be running before composer install --no-dev -o/php artisan migrate when installing L5?

[2015-05-04 03:42] ALinuxNinja opened #623 "Artisan failing on master"
Currently producing following error message:

Verified that MySQL host and DB exists.

[code]

[2015-05-05 01:51] beberlei opened #624 "Googlebot crawls archive infinintly deep"
Googlebot goes back in history with the archive, getting stuck in an infinite recursion down to the beginning of time.

This can probably be stopped by throwing 404s on the archive pages that are before the first incident was created, maybe not showing a link to go back.

[2015-05-05 05:58] jbrooksuk commented on #609
Has this not been fixed by my other metrics fox?

[2015-05-05 19:35] joecohens commented on #622
Are you running the command on a fresh installation?

[2015-05-06 10:07] Arcticwolf opened #625 "Metric Points are not shown in Graph"
Hi,

I have a small problem with saving and showing metric points. I think in the end there is a mix of two problems.

1. When saving new metric points the created_at and updated_at fields of the points are not the same like local time. I added two new points today add 11:40 local time and when I retrieve the metric points via a GET request, I get:

[code]

The time differs about two hours. So fir

[2015-05-06 10:10] Arcticwolf commented on #625
Additional Information: I POST points to the URL {cachetUrl}/api/metrics/1/points with the correct token header and the json message:
{
  "value": 80
}

[2015-05-06 12:24] jbrooksuk commented on #623
Make sure you have all of the following keys set in the `.env.php` configuration file (if on L5 it's `.env`)

- `DB_DRIVER`
- `DB_HOST`
- `DB_DATABASE`
- `DB_USERNAME`
- `DB_PASSWORD`

[2015-05-07 15:26] #616 closed

[2015-05-07 15:27] jbrooksuk commented on #614
Closed by #626.

[2015-05-07 15:27] #614 closed

[2015-05-08 10:06] #624 closed

[2015-05-08 11:31] jbrooksuk commented on #623
It's working here, so you're likely missing the environment configuration.

[2015-05-08 11:31] #623 closed

[2015-05-08 20:05] blaskovicz opened #628 "CORS Only Returns Last Domain If List is Provided"
Under `settings > security > allowed domains` I have listed two websites:

`http://website.company.com,http://website2.company.com`

When I do an ajax GET to `<cachet host>/api/components` from the first origin, Cachet sends back the second origin (`http://website2.company.com`) in the `access-control-allow-origin` header.

[2015-05-08 20:29] jbrooksuk commented on #628
I believe that we're actually [working with CORS incorrectly](http://stackoverflow.com/questions/1653308/access-control-allow-origin-multiple-origin-domains) and this is something that needs fixing ASAP.

[2015-05-08 20:47] jbrooksuk commented on #628
You'll also need to start using the L5 branch for the fix I'm afraid.

[2015-05-08 21:01] jbrooksuk commented on #628
CC @joecohens

[2015-05-08 21:10] jbrooksuk commented on #615
CC @joecohens

[2015-05-08 21:12] jbrooksuk commented on #609
@Craytor how's this now?

[2015-05-08 21:16] jbrooksuk commented on #609
Doh, I missed the master branch above, but then switched the title to L5?

[2015-05-09 18:49] sidewinder12s commented on #229
Another way you could do this is to allow a web server to send headers to Cachet with something like REMOTE_USER and REMOTE_USER_GROUPS and let apache deal with the auth.

[2015-05-10 18:04] jbrooksuk commented on #229
@sidewinder12s the second suggestion would make creating users harder :)

[2015-05-10 18:11] jbrooksuk commented on #622
@ALinuxNinja poke. It's not failing here, everything is working great.

[2015-05-10 18:12] jbrooksuk commented on #524
This should've been closed when we merged #599. @anarcat if you're still experiencing this issue, let us know.

[2015-05-10 18:12] #524 closed

[2015-05-10 18:14] jbrooksuk commented on #525
For sessions, we need cookies. I don't think that we can't not have cookies. I'll add a warning to the login form for now.

[2015-05-10 18:16] #525 closed

[2015-05-10 18:19] jbrooksuk commented on #604
Is this on the `master` branch or `L5`?

[2015-05-10 18:31] jbrooksuk commented on #609
Closing this. @Craytor if it's still an issue, re-open please.

[2015-05-10 18:31] #609 closed

[2015-05-10 18:42] jbrooksuk commented on #607
Although undocumented, there is no reason why you couldn't supply a timestamp for `scheduled_at` to create a scheduled incident.

[2015-05-10 18:42] #607 closed

[2015-05-10 18:45] #569 closed

[2015-05-10 18:45] #622 closed

[2015-05-10 18:45] jbrooksuk commented on #622
If there is still an issue, re-open the issue :)

[2015-05-10 18:47] jbrooksuk commented on #625
Is this still an issue on the latest version? We've changed how metric points are calculated, so this may be fixed.

[2015-05-10 18:47] jbrooksuk commented on #590
@sammcj hey buddy, can I somehow add you to the Registry and let you handle it? :)

[2015-05-10 18:51] #605 closed

[2015-05-10 19:07] jbrooksuk commented on #582
@rinchen could you answer the questions above for me please? It'll speed up the bug hunt :)

[2015-05-10 19:07] jbrooksuk commented on #604
This doesn't happen under L5, could you update please.

[2015-05-10 19:07] #604 closed

[2015-05-10 19:08] jbrooksuk commented on #606
This doesn't occur under `master`. Can you update please.

[2015-05-10 19:09] jbrooksuk commented on #547
Moved to second release as we'll need to sort this.

[2015-05-10 19:15] rinchen commented on #582
@jbrooksuk 14.04 Server with Apache, php, mycrypt etc as per the docs.

[2015-05-10 19:35] jbrooksuk commented on #582
Thanks, we'll take a look.

[2015-05-10 21:29] jbrooksuk commented on #582
Do you have any Apache error logs I could take a look at?

[2015-05-10 21:41] rinchen commented on #582
I don't. I uninstalled everything. I'm reinstalling it now to see if I get the same error.

[2015-05-11 01:19] Craytor opened #629 "Demo App Error"
The demo of Cachet seems broken. When I try to access I got a 403 forbidden error.
[code]

[2015-05-11 06:09] jbrooksuk commented on #629
I've fixed this :) Thanks!

[2015-05-11 06:09] #629 closed

[2015-05-11 06:14] jbrooksuk commented on #582
Any update on this? :)

[2015-05-11 08:58] Arcticwolf commented on #625
Hi, I've tried it so far only with the docker image. I hope I can manage to try it out with the latest version today. I'll let you know.

Kind regards,
Felix

[2015-05-11 09:38] Arcticwolf commented on #625
Ok, I've checked out this project, built the docker file and started the image like described in the README file. Everything starts, the components and metrics I've added are all there. Also the dashboard works. But when I try to access the REST api, I only get 404 Errors. But the paths are exactly the same like the ones I used with the docker image from your server (e.g. localhost/api/components)

[2015-05-11 09:39] jbrooksuk commented on #625
Ah, if you're using the new master, you'll need to version the API. `localhost/api/v1/components`.

[2015-05-11 09:42] sammcj commented on #590
Hey @jbrooksuk - sorry I'm in the middle of moving house at the moment!

[2015-05-11 09:44] Arcticwolf commented on #625
Thanks, that worked. Now I can access the REST services again : ) but unfortunately I still have the same issue. Here is the result of the rest call to /api/v1/metrics/1/points:

[
      {
      "id": "1",
      "metric_id": "1",
      "value": "80.000",
      "created_at": "2015-05-05 17:32:34",
      "updated_at": "2015-05-05 17:32:34"
   },
      {
      "id": "2",
      "metric_id": "1",

[2015-05-11 09:55] jbrooksuk commented on #625
A temporary solution is to manually send through the `created_at` and `updated_at` timestamps.

[2015-05-11 10:01] Arcticwolf commented on #625
I posted now in this format:

{
	"value" : 90,
	"created_at" : "2015-05-11 11:30:00",
	"updated_at" : "2015-05-11 11:30:00"
}

and afterwards in that format:
{
	"value" : 90,
	"created_at" : 1431343800,
	"updated_at" : 1431343800
}

in both cases it seems that the api just overwrites the sent data. This is the result of the point listing:
[
      {
      "id": "1",
      "metric_id": "1",
      "v

[2015-05-11 11:15] EdeMeijer commented on #606
I updated to master but it still happens. It also still happens on the demo page, but I'm not sure if that one is up to date.

I'll try to describe exactly what to do in order to reproduce this bug
- Make sure there is at least 1 component group added to the system
- Create a new component. Give it a name, maybe a description, but **not** a  component group
- Try to save the component. You will se

[2015-05-11 11:16] EdeMeijer commented on #604
This one seems to be fixed indeed, thanks :)

[2015-05-11 12:25] bimlendu opened #630 "Internal server error."
I have chef managing the cachethq setup. It constantly updates cachethq, get latest code form master branch, runs composer and artisan. The setup had been working fine until last few commits. Now I am getting 500 internal server error.

Also, the status page is trying top take me to /setup, which shouldn't be the case. The error I am getting is:

[code]

I tried manually running composer too. Does

[2015-05-11 12:37] bimlendu commented on #630
Verbose o/p of composer and artisan:

[code]
So, composer does run php artisan command successfully.

[code]
artisan is probably assuming sqlite db, but I am using mysql database.

[2015-05-11 12:49] GrahamCampbell commented on #630
You need to create the database then...

[2015-05-11 14:27] rinchen commented on #582
I got stuck on problem with artisian not recognizing the database this time and ran out of time this weekend to trouble shoot it. :-(

[2015-05-11 16:02] TheoBearman commented on #592
Just in case anyone else is having this problem, I finally found a fix.

    # Copy and paste into your .htaccess file or include in your apache conf files

    RewriteCond %{HTTP:CF-Visitor} '"scheme":"http"' [OR]
    RewriteCond %{HTTP_HOST} !^example.com$ [NC]
    RewriteRule ^(.*)$ https://example.com/$1 [R=301,L]

    # And remember to always use https for future requests
    Header set Stric